<div class="nested-fields">
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :mobile %>
    <%= f.number_field :mobile, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :depart_date %>
    <%= f.date_field :depart_date, class: 'custom-form-control form-control', required: true, min: Date.today %>
  </div>
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :return_date %>
    <%= f.date_field :return_date, class: 'custom-form-control form-control', required: true, min: Date.today %>
  </div>
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :ship_way, "Delivery Method" %>
    <%= f.select :ship_way, options_for_select(RoamingmanBooking.deliver_method), {:include_blank => "Select Delivery Method"}, {class: 'custom-form-control form-control roamingman_delivery_method', :required => true} %>
  </div>
  <div class="roamingman-self_pickup">
    <div class="custom-form-group form-group col-sm-4">
      <%= f.label :deliver_point_id, "Pickup Branch" %>
      <%= f.select :deliver_point_id, options_for_select(RoamingmanBooking::DELIVER_POINT.invert), {:include_blank => "Select Pickup Branch"}, {class: 'custom-form-control form-control'} %>
    </div>
  </div>
  <div class="roamingman-delivery">
    <div class="custom-form-group form-group col-sm-6">
      <%= f.label :address %>
      <%= f.text_area :address, class: 'form-control', rows: 3 %>
    </div>
    <div class="custom-form-group form-group col-sm-2">
      <%= f.label :postcode %>
      <%= f.number_field :postcode, class: 'custom-form-control form-control' %>
    </div>
  </div>
  <div class="custom-form-group form-group col-sm-3">
    <%= f.label :is_send_sms, "Send SMS Confirmation?" %><br>
    <%= f.radio_button(:is_send_sms, :yes, {checked: true}) %> Yes&nbsp;&nbsp;&nbsp;
    <%= f.radio_button(:is_send_sms, :no, {}) %> No
  </div>
  <div class="custom-form-group form-group col-sm-3">
    <%= f.label :is_send_email, "Send Email Confirmation?" %><br>
    <%= f.radio_button(:is_send_email, :yes, {checked: true}) %> Yes&nbsp;&nbsp;&nbsp;
    <%= f.radio_button(:is_send_email, :no, {}) %> No
  </div>
</div>