html, body {
  height: 100%;
}
#TourContainer {
  background-color: #f7f7f7;
  /* height: 100vh; */
  min-height: 1000px;
  flex: 1;
}
#TourContainer .content{
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
#TourContainer .ant-table table{
  background-color: #fff;
}
#TourContainer .content .ant-table-thead > tr > th{
  background-color: #b71b1c;
  border-top: 2px;
  border-bottom: 2px;
  color: #fff;
}
#TourContainer .content .ant-table-fixed-right .ant-table-thead > tr > th:first-child{
  border-left: 0!important;
  border-right: 2px;
}
#TourContainer .content .ant-table-thead > tr:first-child > th:first-child{
  border-left: 2px;
}
#TourContainer .content .title{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;

}
#TourContainer .table_warp{
  padding: 0;
}


#TourContainer .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  text-align: left !important;
  word-break: break-all;
}
#TourContainer .ant-table-header::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
#TourContainer .ant-table-body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

#TourContainer .ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#TourContainer .ant-table-body::-webkit-scrollbar-thumb {
  background: #ccc;
}

#TourContainer .ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
#TourContainer .ant-table-scroll table .ant-table-fixed-columns-in-body{
  visibility: visible;
}
#TourContainer .ant-table-fixed-left table, .ant-table-fixed-right table{
  background: #f7f7f7;
}
.seriesModal{
  width: 50%!important;
}
.seriesModal .formItemWarp_top{
  width: 30%;
  float: left;
  padding-left: 10px;
}
.seriesModal .formItemWarp33{
  width: 33.33%;
  float: left;
  padding: 0px 10px
}
.seriesModal .ant-form-item{
  margin-bottom: 10px;
}
/* .seriesModal .guest{
  background-color: #f1f1f1;
  padding: 10px 0px;
} */
.seriesModal .guest .title{
  color: red;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 5px;
}
.seriesModal .guest .line{
  background-color: tomato;
  height: 3px;
  width: 100%;
  padding: 0px 10px
}

.seriesModal .formItemWarp25{
  width: 25%;
  float: left;
  padding: 0px 10px
}

.seriesModal .formItemWarp50{
  width: 50%;
  float: left;
  padding: 0px 10px
}

.seriesModal .insuran_detail{
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  padding: 10px
}
.seriesModal .insuran_detail .free_chubb{
  padding-top: 10px;
  margin-bottom: 15px;
}
.seriesModal .insuran_detail .title2{
  font-weight: bold;
}
.seriesModal .insuran_detail .ant-radio-group{
  width: 100%;
}
.seriesModal .insuran_detail .ant-radio-wrapper{
  width: 100%;
  margin-top: 10px;
  white-space: inherit;
}
.seriesModal .insuran_detail .notice_insuran{
  margin-top: 5px;
  color: red;
}
.seriesModal .insuran_detail .national .label_1{
  margin-top: 0px;
}
.seriesModal .insuran_detail .national .formItemWarp50{
  margin-top: 10px;
  width: 100%;
  padding: 0px ;
}

.seriesModal .insuran_detail .guardian h4{
  font-weight: bold;
  color: #3af;
}
.seriesModal .insuran_detail .nominee h4{
  font-weight: bold;
  color: #3af;
}
.seriesModal .insuran_detail .Witness_Details h4{
  font-weight: bold;
  color: #3af;
}
.seriesModal .ant-form-item-label{
  padding: 0 0 2px;
}
.seriesModal .notice_infor{
  width: 100%;
  float: left;
}

.seriesModal .last_edit{
  margin-top: 10px;
  float: left;
  width: 100%;
}
.seriesModal .date_sty .ant-calendar-picker{
  width: 100%;
}

.seriesModal .photo_upload .ant-upload.ant-upload-drag .ant-upload{
  padding: 0;
}

.seriesModal .photo_upload .ant-upload.ant-upload-drag p.ant-upload-drag-icon{
  margin-bottom: 0;
  display: flex;
    justify-content: center;
    align-items: center;
}

.seriesModal .photo_upload .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
  color: #40a9ff;
  font-size: 25px;
  text-align: left;
  padding-right: 5px;
}
.seriesModal .photo_upload .ant-form-item-control-wrapper{
  margin-top: 5px;
}

.seriesModal .photo_upload .ant-upload.ant-upload-drag .ant-upload-drag-container{
  padding: 2px 0px;
}
.seriesModal .input_warp{
  width: 100%;
  float: left;
}
.seriesModal .note{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.seriesModal .note .ant-radio-wrapper{
  margin-top: 0;
}

.image-display-photocopy{
  width: 100px !important;
  height: 100px !important;

}
.actions a{
  margin-right: 8px;
  white-space: nowrap;
}

@media only screen and (max-width: 1300px) {
  .seriesModal {
    width: 80%!important;
  }
  .seriesModal .formItemWarp_top{
    width: 50%;
  }
}

@media only screen and (max-width: 780px) {
  .seriesModal {
    width: 90%!important;
  }

}

@media only screen and (max-width: 767px) {
  .seriesModal .formItemWarp50{
    width: 100%;
  }
  .seriesModal .formItemWarp33{
    width: 100%;
  }
  .seriesModal .formItemWarp_top{
    width: 100%;
    padding-right: 10px;
  }
  .seriesModal .ant-modal-body{
    padding: 10px;
  }
}

@media only screen and (max-width: 450px) {
  #TourContainer .content{
    padding: 30px 10px;
  }
  #TourContainer .table_warp {
    padding: 0px;
  }
}