<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-fw"></i>Airlines
<% end %>

<%= render 'shared/single_panel', card_title: 'View Airlines' do %>
  <%= link_to('New Airline', new_admin_airline_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_airlines_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Iata</th>
          <th>Country</th>
          <th>Economy</th>
          <th>Business</th>
          <th>First</th>
          <th>Logo</th>
          <th>Block</th>
        </tr>
      </thead>
      <tbody>
        <% @airlines.each do |airline| %>
          <tr>
            <td><%= link_to airline.name, edit_admin_airline_path(airline) %></td>
            <td><%= airline.iata_code %></td>
            <td><%= airline.country %></td>
            <td><%= airline.markup_display('economy') %></td>
            <td><%= airline.markup_display('business') %></td>
            <td><%= airline.markup_display('first') %></td>
            <td><%= link_to 'View', airline.logo.url, target: '_blank' %></td>
            <td><%= airline.block ? 'Yes' : 'No' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @airlines %>
<% end %>