<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Airlines
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Airline' do %>
  <%= form_for [:admin, @airline], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @airline } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :iata_code %>
        <%= f.text_field :iata_code, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :country %>
        <%= f.text_field :country, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :economy_markup_category %>
        <%= f.select :economy_markup_category, options_for_select(Airline::MARKUP_TYPES, selected: f.object.economy_markup_category), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :economy_markup %>
        <%= f.number_field :economy_markup, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :business_markup_category %>
        <%= f.select :business_markup_category, options_for_select(Airline::MARKUP_TYPES, selected: f.object.business_markup_category), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :business_markup %>
        <%= f.number_field :business_markup, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :first_markup_category %>
        <%= f.select :first_markup_category, options_for_select(Airline::MARKUP_TYPES, selected: f.object.first_markup_category), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :first_markup %>
        <%= f.number_field :first_markup, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :logo %>
        <%= f.file_field :logo, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :logo_url %>
        <%= f.text_field :remote_logo_url, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
