<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Fairs
<% end %>

<%= render 'shared/single_panel', card_title: 'View Fairs' do %>
  <%= link_to('New Fair', new_admin_fair_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag admin_fairs_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Fair Type</th>
          <th>Status</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <% @fairs.each do |fair| %>
          <tr>
            <td><%= link_to fair.code, admin_fair_path(fair) %></td>
            <td><%= fair.title %></td>
            <td><%= fair.duration_start.try(:strftime, "%F %H:%M %p") %> - <%= fair.duration_end.try(:strftime, "%F %H:%M %p") %></td>
            <td><%= fair.fair_type %></td>
            <td><%= fair.fair_status %></td>
            <td><%= fair.active ? "Yes" : "No" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @fairs %>
<% end %>