<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Fairs
<% end %>

<%= render 'shared/single_panel', card_title: 'Fair Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @fair.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :active %>
      <%= text_field_tag '', @fair.active, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :title %>
      <%= text_field_tag '', @fair.title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :other_title %>
      <%= text_field_tag '', @fair.other_title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :duration_start %>
      <%= text_field_tag '', @fair.duration_start.try(:strftime, "%F %H:%M %p"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :duration_end %>
      <%= text_field_tag '', @fair.duration_end.try(:strftime, "%F %H:%M %p"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :fair_type %>
      <%= text_field_tag '', @fair.fair_type, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :messages %>
      <%= text_field_tag '', @fair.messages, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :remark %>
      <%= text_area_tag '', @fair.remark, class: 'form-control', rows: "3", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :internal_reference %>
      <%= text_area_tag '', @fair.internal_reference, class: 'form-control', rows: "3", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :allow_users %>
      <%= text_field_tag '', @fair.join_allow_users, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :allow_itineraries %>
      <%= text_field_tag '', @fair.join_allow_itineraries, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
  </div>
  <%= link_to 'Edit', edit_admin_fair_path(@fair), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
