<div class="nested-fields">
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'custom-form-control form-control' %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :country %>
    <%= f.text_field :country, class: 'custom-form-control form-control', disabled: true %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :markup_category %>
    <%= f.select :markup_category, options_for_select(GlobaltixTicket.markup_categories.collect { |s| [s[0], s[0]] }, selected: f.object.markup_category), {include_blank: true}, {class: 'custom-form-control form-control' } %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :variation %>
    <%= f.text_field :variation, class: 'custom-form-control form-control', disabled: false %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :currency %>
    <%= f.text_field :currency, class: 'custom-form-control form-control', disabled: true %>
  </div>
  <div class="custom-form-group form-group col-sm-2">
    <%= f.label :price %>
    <%= f.text_field '', value: "S$ #{f.object.price}", class: 'custom-form-control form-control', disabled: true %>
  </div>
  <div class="custom-form-group form-group col-sm-2">
    <%= f.label :markup %>
    <%= f.number_field :markup, class: 'custom-form-control form-control', step: :any %>
  </div>
  <div class="custom-form-group form-group col-sm-2">
    <%= f.label :final_price_with_dta %>
    <%= f.text_field '', value: "RM #{f.object.final_price}", class: 'custom-form-control form-control', disabled: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: "3", disabled: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :terms_and_conditions %>
    <%= f.text_area :terms_and_conditions, class: 'form-control', rows: "3", disabled: true %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :blockout_dates %>
    <%= f.hidden_field :blockout_dates_text, value: f.object.blockout_dates_text, class: 'custom-form-control-tagsinput', placeholder: "dd/mm/yyyy - dd/mm/yyyy", data: {role: 'tagsinput'} %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :remark %>
    <%= f.text_area :remark, class: 'form-control', rows: "3" %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :priority %>
    <%= f.number_field :priority, class: 'custom-form-control form-control' %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(GlobaltixTicket.statuses.collect { |s| [s[0], s[0]] }, selected: f.object.status), {include_blank: true}, {class: 'custom-form-control form-control' } %>
  </div>
</div>