<div class="nested-fields">
  <% if f.object.image.present? %>
    <%= link_to f.object.image.url, target: '_blank' do %>
      <% image_tag f.object.image.url, class: 'cover-thumbnail' %>
    <% end %>
  <% else %>
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'custom-form-control form-control' %>
  </div>
  <% end %>
  <%= link_to_remove_association "Remove Image", f %>
</div>