<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Attractions
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Globaltix Attraction' do %>
  <%= form_for [:admin, @globaltix_attraction], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @globaltix_attraction } %>
    <div class="row">
      <%= f.hidden_field :attraction_id, value: @attraction.id %>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :covers, "Cover image" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= image_tag(@attraction.image_url(:banner)) %>
      </div>
      <div class="custom-form-group form-group col-sm-2">
        <%= f.label :attraction_id %>
        <%= f.text_field :attraction_id, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :country %>
        <%= f.text_field :country, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: "4", disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :hours_of_operation %>
        <%= f.text_area :hours_of_operation, class: 'form-control', rows: "4", disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :term_and_condition %>
        <%= f.text_area :term_and_condition, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :languages %><br>
        <%= f.collection_check_boxes :languages, GlobaltixAttraction::LANGUAGES.collect { |s| [s, s] }, :first, :last do |b| %>
          <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
            <%= b.check_box() + " #{b.text}" %>
          <% end %>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :duration %>
        <%= f.text_field :duration, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :cancellation %>
        <%= f.select :cancellation, options_for_select(GlobaltixAttraction.cancellations.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.cancellation), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :e_ticketing %>
        <%= f.select :e_ticketing, options_for_select(GlobaltixAttraction.e_ticketings.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.e_ticketing), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :travel_date_type %>
        <%= f.select :travel_date_type, options_for_select(GlobaltixAttraction.travel_date_types.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.travel_date_type), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :ticket_type %>
        <%= f.select :ticket_type, options_for_select(GlobaltixAttraction.ticket_types.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.ticket_type), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :transfer %>
        <%= f.select :transfer, options_for_select(GlobaltixAttraction.transfers.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.transfer), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :meeting_point %>
        <%= f.select :meeting_point, options_for_select(GlobaltixAttraction.meeting_points.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.meeting_point), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :confirmation_time %>
        <%= f.select :confirmation_time, options_for_select(GlobaltixAttraction.confirmation_times.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.confirmation_time), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(GlobaltixAttraction.categories.collect { |s| [s[0].humanize, s[0]] }, selected: @globaltix_attraction.category), {}, {class: 'custom-form-control form-control' } %>
      </div>
      
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :covers, "Custom cover image" %>
        <%= f.fields_for :covers, @globaltix_attraction.covers do |cover| %>
          <%= render 'cover_fields', f: cover %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Image', f, :covers %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :globaltix_tickets, "Tickets" %>
      </div>
      <% if @globaltix_tickets.present? %>
        <%= f.fields_for :globaltix_tickets do |ticket| %>
        <%= f.label "#{ticket.object.ticket_id}: #{ticket.object.name}", class: "col-sm-12 booking-group-label" %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
              <%= render 'admin_globaltix_tickets_fields', f: ticket %>
            </div>
        <% end %>
      <% else %>
          <div class="custom-form-group form-group col-sm-12">
            <p>No tickets added</p>
          </div>
      <% end %>
    </div>

    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= f.submit "Update", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    </div>
  <% end %>
<% end %>

