<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Attractions
<% end %>

<%= render 'shared/single_panel', card_title: 'View Globaltix Attractions' do %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to('New Attraction', select_admin_globaltix_attractions_path, class: 'btn btn-primary')%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag(admin_globaltix_attractions_path, method: :get)do %>
        <div class="row">
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:country) %>
            <%= select_tag(:country, options_for_select(@countries, selected: params[:country]), {include_blank: true, class: 'custom-form-control form-control'})%>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:title) %>
            <%= text_field_tag :title, params[:title],  {class: 'custom-form-control form-control'}  %>
          </div>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Title</th>
          <th>Attraction id</th>
          <th>Country</th>
          <th>Description</th>
          <th>Hours of operation</th>
        </tr>
      </thead>
      <tbody>
        <% @globaltix_attractions.each do |globaltix_attraction| %>
          <tr>
            <td><%= link_to globaltix_attraction.title.truncate(50), admin_globaltix_attraction_path(globaltix_attraction) %></td>
            <td><%= globaltix_attraction.attraction_id %></td>
            <td><%= globaltix_attraction.country %></td>
            <td><%= globaltix_attraction.description.truncate(50) %></td>
            <td><%= globaltix_attraction.hours_of_operation.truncate(50) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @globaltix_attractions %>
<% end %>