<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Attractions
<% end %>

<%= render 'shared/single_panel', card_title: 'Select Attractions' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag(select_admin_globaltix_attractions_path, method: :get)do %>
        <div class="row">
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:country) %>
            <%= select_tag(:country_id, options_for_select(@countries.collect {|s| [s.name, s.id]}, selected: params[:country_id]), {class: 'custom-form-control form-control'})%>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:keyword) %>
            <%= text_field_tag :keyword, params[:keyword],  {class: 'custom-form-control form-control'}  %>
          </div>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <% if @attractions.present? %>
    <div class="row">
      <div class="col-xs-12 mt20">
        <% @attractions.each do |attraction| %>
            <div class="panel panel-default">
              <div class="row">
                <div class="col-xs-8">
                  <div class="panel-heading">
                    <div class="attraction-img-div">
                      <%= image_tag attraction.image_url(:thumb), class: "attraction-img" %>
                    </div>
                    <div class="attraction-title">
                      <h4 class="panel-title"><%= attraction.title %></h4>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 text-right">
                  <div class="panel-heading">
                    <a href="<%= new_admin_globaltix_attraction_path(attraction_id: attraction.id) %>" class="btn btn-success btn-sm">Select</a>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @attractions %>
<% end %>