<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Attraction
<% end %>

<%= render 'shared/single_panel', card_title: 'Globaltix Attraction Details' do %>
  
    <div class="row mb20">
      <div class="custom-form-group form-group col-sm-12">
        <%= link_to 'View All Attractions', admin_globaltix_attractions_path, class: 'btn btn-primary' %>
        <%= link_to 'Add Ticket', '', class: 'btn btn-success', data: { toggle: 'modal', target: '#admin-new-ticket-modal', keyboard: "true" } %>
      </div>
    </div>
  
    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag :cover_image %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= image_tag(@attraction.image_url(:banner)) %>
      </div>
      <div class="custom-form-group form-group col-sm-2">
        <%= label_tag :attraction_id %>
        <%= text_field_tag '', @globaltix_attraction.attraction_id, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :title %>
        <%= text_field_tag '', @globaltix_attraction.title, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :country %>
        <%= text_field_tag '', @globaltix_attraction.country, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :description %>
        <%= text_area_tag '', @globaltix_attraction.description, class: 'form-control', rows: "4", disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :hours_of_operation %>
        <%= text_area_tag '', @globaltix_attraction.hours_of_operation, class: 'form-control', rows: "4", disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag :term_and_condition %>
        <%= text_area_tag '', @globaltix_attraction.term_and_condition, class: 'form-control', rows: "4", disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :languages %>
        <%= text_area_tag '', @globaltix_attraction.join_languages, class: 'form-control', rows: "3", disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :duration %>
        <%= text_field_tag '', @globaltix_attraction.duration.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :cancellation %>
        <%= text_field_tag '', @globaltix_attraction.cancellation.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :e_ticketing %>
        <%= text_field_tag '', @globaltix_attraction.e_ticketing.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :travel_date_type %>
        <%= text_field_tag '', @globaltix_attraction.travel_date_type.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :ticket_type %>
        <%= text_field_tag '', @globaltix_attraction.ticket_type.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :transfer %>
        <%= text_field_tag '', @globaltix_attraction.transfer.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :meeting_point %>
        <%= text_field_tag '', @globaltix_attraction.meeting_point.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :confirmation_time %>
        <%= text_field_tag '', @globaltix_attraction.confirmation_time.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :category %>
        <%= text_field_tag '', @globaltix_attraction.category.to_s.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Custom cover image" %><br>
        <% @globaltix_attraction.covers.each do |cover| %>
          <% if cover.image.present? %>
              <%= link_to cover.image.url, target: '_blank' do %>
                <% image_tag cover.image.url, class: 'cover-thumbnail' %>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag :tickets %>
      </div>
      <% if @globaltix_tickets.present? %>
        <% @globaltix_tickets.each do |globaltix_ticket| %>
          <%= label_tag '', "#{globaltix_ticket.ticket_id}: #{globaltix_ticket.name}", class: "col-sm-12 booking-group-label" %>
            <div class="custom-form-group form-group col-sm-12 booking-group-form">
              <div class="nested-fields">
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :name %>
                  <%= text_field_tag '', globaltix_ticket.name, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :country %>
                  <%= text_field_tag '', globaltix_ticket.country, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :markup_category %>
                  <%= text_field_tag '', globaltix_ticket.markup_category, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :variation %>
                  <%= text_field_tag '', globaltix_ticket.variation, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :currency %>
                  <%= text_field_tag '', globaltix_ticket.currency, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-2">
                  <%= label_tag :price %>
                  <%= text_field_tag '', "S$ #{globaltix_ticket.price}", class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-2">
                  <%= label_tag :markup %>
                  <%= text_field_tag '', globaltix_ticket.markup, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-2">
                  <%= label_tag :final_price_with_dta %>
                  <%= text_field_tag '', "RM #{globaltix_ticket.final_price}", class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :description %>
                  <%= text_area_tag '', globaltix_ticket.description, class: 'form-control', disabled: true, rows: "3" %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :terms_and_conditions %>
                  <%= text_area_tag '', globaltix_ticket.terms_and_conditions, class: 'form-control', disabled: true, rows: "3" %>
                </div>
                <div class="custom-form-group form-group col-sm-6">
                  <%= label_tag :blockout_dates %>
                  <%= text_field_tag '', globaltix_ticket.blockout_dates_text, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :remark %>
                  <%= text_area_tag '', globaltix_ticket.remark, class: 'form-control', disabled: true, rows: "3" %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :priority %>
                  <%= text_field_tag '', globaltix_ticket.priority, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :status %>
                  <%= text_field_tag '', globaltix_ticket.status, class: 'custom-form-control form-control', disabled: true %>
                </div>
              </div>
            </div>
          <% end %>
      <% else %>
        <div class="custom-form-group form-group col-sm-12">
            <p>No tickets added</p>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= link_to 'Edit', edit_admin_globaltix_attraction_path(@globaltix_attraction.id), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    </div>

    <div class="modal fade" id="admin-new-ticket-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
              Add Ticket
            </h4>
          </div>
          <div class="modal-body" method="POST" >
              <% if @tickets.present? %>
                <% @tickets.each do |ticket| %>
                <%= form_for :globaltix_tickets do |f| %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-xs-8">
                          <input type=hidden id="ticket_id" value="<%= ticket.id %>"/>
                          <p><b><%= ticket.name %></b></p>
                          <table class="table">
                            <tr>
                              <td><p>Category : </p></td>
                              <td><p><b><%= ticket.variation %></b></p></td>
                            </tr>
                            <tr>
                              <td><p>Usual Price : </p></td>
                              <td><p><b><%= ticket.currency %> <%= ticket.original_price %></b></p></td>
                            </tr>
                          </table>
                        </div>
                        <div class="col-xs-4 text-right">
                          <p><b><%= ticket.currency %> <%= ticket.price %></b></p>
                          <%=f.submit "Add", class: "btn btn-success btn-sm btn-add-ticket", id: "btn-add-ticket-#{ticket.id}", data: { id: ticket.id } %>
                          <!-- <input type="submit" class="btn btn-success btn-sm btn-add-ticket" id="btn-add-ticket-<%= ticket.id %>" data-id="<%= ticket.id %>" value="Add" /> -->
                        </div>
                      </div>
                    </li>
                  </ul>
                  <% end  %>
                <% end %>
              <% else %>
                <p>No tickets available</p>
              <% end %>
          </div>
        </div>
      </div>
    </div>

<% end %>
