<div class="nested-fields">
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'custom-form-control form-control' %>
  </div>
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: 'custom-form-control form-control' %>
  </div>
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'custom-form-control form-control' %>
  </div>
  <div class='custom-form-group form-group col-sm-12'>
    <%= f.label :remark %>
    <%= f.text_field :remark, class: 'custom-form-control form-control activity_quantity' %>
  </div>
</div>