<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-puzzle-piece fa-fw"></i>Activity Booking
<% end %>

<%= render 'shared/single_panel', card_title: 'Activity Booking Details' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <h4><%= @activity_booking_group.activity.title.present? ? @activity_booking_group.activity.title : "Untitled" %></h4>
    </div>
    
    <div class="col-sm-12 cover-div">
      <div id="cover-slick">
        <% @activity_booking_group.activity.covers.each do |cover| %>
          <% if cover.image.present? %>
            <div class="custom-form-group form-group col-sm-12">
              <%= link_to "" do %>
                <% image_tag cover.image.url, class: 'cover-activity' %>
              <% end %>
            </div>  
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @activity_booking_group.activity.highlight.present? %>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Highlight" %><br>
        <%= @activity_booking_group.activity.highlight %>
      </div>
    <% end %>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Destination" %><br>
      <%= @activity_booking_group.activity.country %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Operation Days" %><br>
      <%= @activity_booking_group.activity.join_operation_days %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Description" %><br>
      <%= simple_format(@activity_booking_group.activity.description) %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Terms and Conditions" %><br>
      <%= simple_format(@activity_booking_group.activity.terms_and_conditions) %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <%= label_tag '', "Travel Date" %>
    </div> 
    <div class="col-sm-4">
      <%= text_field_tag '', @activity_booking_group.travel_date.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
    </div>  
    <div class="col-sm-6">
      &nbsp;
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "No of Package(s)" %><br>
      <% @activity_booking_group.activity.activity_prices.each do |price| %>
        <div class="field custom-form-group form-group col-sm-2">
          <%= label_tag '', "#{price.category}", class: 'custom-form-control' %>
        </div>  
        <div class="field custom-form-group form-group col-sm-1">
          <%= text_field_tag '', @activity_booking_group.calculate_qty(price.category), class: 'custom-form-control form-control', disabled: true %>
        </div> 
        <div class="field custom-form-group form-group col-sm-9">
          <p class="custom-form-control">x MYR <%= @activity_booking_group.unit_price(price.category).present? ? @activity_booking_group.unit_price(price.category).price : price.price %></p>
        </div>
      <% end %>
      <div class="field custom-form-group form-group col-sm-2">
        <%= label_tag '', "Total Amount", class: 'custom-form-control' %>
      </div>  
      <div class="field custom-form-group form-group col-sm-2">
        <p class="custom-form-control bold" id="total-amount">MYR <%= @activity_booking_group.price %></p>
      </div> 
      <div class="field custom-form-group form-group col-sm-8">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Traveller Details" %>
      <div class="nested-fields">
        <div class="field custom-form-group form-group col-sm-4">
          <%= label_tag :name %>
          <%= text_field_tag '', @activity_booking.name, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-4">
          <%= label_tag :mobile %>
          <%= text_field_tag '', @activity_booking.mobile, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-4">
          <%= label_tag :email %>
          <%= text_field_tag '', @activity_booking.email, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-12">
          <%= label_tag :remark %>
          <%= text_field_tag '', @activity_booking.remark, class: 'custom-form-control form-control', disabled: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Payment Type" %>
      <div class="nested-fields">
        <div class="custom-form-group form-group col-sm-2">
          <%= label_tag :payment_method %>
          <%= text_field_tag '', @activity_booking_group.payment_method.present? ? @activity_booking_group.payment_method.humanize : '', class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-3">
          <%= label_tag :gateway %>
          <%= text_field_tag '', @activity_booking_group.payment.gateway.humanize, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-3">
          <%= label_tag :transaction_no %>
          <%= text_field_tag '', @activity_booking_group.payment.transaction_no, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-2">
          <%= label_tag :method %>
          <%= text_field_tag '', @activity_booking_group.payment.get_method, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-2">
          <%= label_tag :payment_status %>
          <%= text_field_tag '', @activity_booking_group.payment.present? ? @activity_booking_group.payment.status.humanize : 'Pending', class: 'custom-form-control form-control', disabled: true %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'Edit', edit_activity_booking_group_path(@activity_booking_group), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
