/*
Errno::ENOENT: No such file or directory @ rb_sysopen - application.scss

Backtrace:
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `read'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/zarul/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/sass-3.7.4/bin/scss:13:in `<top (required)>'
/Users/zarul/.rbenv/versions/2.4.2/bin/scss:23:in `load'
/Users/zarul/.rbenv/versions/2.4.2/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - application.scss"; }
