<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'View Roamingman Bookings' do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Countries & Regions Covered</th>
          <th>Type</th>
          <th>Data Rules</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="code"><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.code %></td>
          <td class="code"><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.name %></td>
          <td class="caption"><div class="trim caption" data-toggle="tooltip" data-placement="top" title="<%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.join_countries %>"><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.join_countries %></div></td>
          <td><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.package_type %></td>
          <td><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.data_rules %></td>
          <td>MYR <%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.retail_price %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :price, "Total Price" %>
      <%= text_field_tag '', @roamingman_booking_group.price, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :remark %>
      <%= text_field_tag '', @roamingman_booking_group.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :deposit_mode %>
      <%= text_field_tag '', @roamingman_booking_group.deposit_mode.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :deposit_amount %>
      <%= text_field_tag '', @roamingman_booking_group.deposit_amount, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_edited_user_id, "Last edited by" %>
      <%= text_field_tag '', @roamingman_booking_group.last_edited_user.present? ? @roamingman_booking_group.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_edited_at %>
      <%= text_field_tag '', @roamingman_booking_group.last_edited_at.present? ? @roamingman_booking_group.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>

  <div class="row">
    <% @roamingman_booking_group.roamingman_bookings.each_with_index do |booking, i| %>
      <%= label_tag '', "Record #{i+1}, Ref #{booking.id}", class: "col-sm-12 booking-group-label" %>
      <div class="custom-form-group form-group col-sm-12 booking-group-form">
        <div class="nested-fields">
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :name %>
            <%= text_field_tag '', booking.name, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :mobile %>
            <%= text_field_tag '', booking.mobile, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :email %>
            <%= text_field_tag '', booking.email, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :depart_date %>
            <%= text_field_tag '', booking.depart_date.strftime("%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :return_date %>
            <%= text_field_tag '', booking.return_date.strftime("%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :quantity %>
            <%= text_field_tag '', booking.quantity, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :ship_way, "Delivery Method" %>
            <%= text_field_tag '', booking.ship_way_text, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <% if booking.ship_way == "self_pickup" %>
            <div class="field custom-form-group form-group col-sm-4">
              <%= label_tag :deliver_point_id %>
              <%= text_field_tag '', booking.deliver_point_id, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-4">
              <%= label_tag :deliver_point_name %>
              <%= text_field_tag '', booking.deliver_point_name(booking.deliver_point_id), class: 'custom-form-control form-control', disabled: true %>
            </div>
          <% elsif booking.ship_way == "delivery" %>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :address %>
              <%= text_area_tag '', booking.address, class: 'form-control', rows: 3, disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-2">
              <%= label_tag :postcode %>
              <%= text_field_tag '', booking.postcode, class: 'custom-form-control form-control', disabled: true %>
            </div>
          <% end %>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :is_send_sms, "Send SMS Confirmation?" %>
            <%= text_field_tag '', booking.is_send_sms.humanize, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :is_send_email, "Send Email Confirmation?" %>
            <%= text_field_tag '', booking.is_send_email.humanize, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :oms_order_id, "Roamingman Order ID" %>
            <%= text_field_tag '', booking.oms_order_id.present? ? booking.oms_order_id : "", class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-12">
            <%= label_tag :remark %>
            <%= text_field_tag '', booking.remark, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :agent_user_id, "Booked by" %>
            <%= text_field_tag '', booking.agent_user.username, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-4">
            <%= label_tag :last_edited_user_id, "Last edited by" %>
            <%= text_field_tag '', booking.last_edited_user.present? ? booking.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-4">
            <%= label_tag :last_edited_at %>
            <%= text_field_tag '', booking.last_edited_at.present? ? booking.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @roamingman_booking_group.roamingman_bookings.visible.present? %>
    <% if !@roamingman_booking_group.non_editable? %>
      <%= link_to 'Edit', edit_roamingman_booking_group_path(@roamingman_booking_group), class: 'btn btn-primary' %>
    <% end %>
    <% if false #not done yet %>
      <%= link_to 'Cancel Booking', roamingman_booking_group_path(@roamingman_booking_group), method: :delete, data: { confirm: 'Are you sure you want to cancel this booking?' }, class: 'btn btn-danger' %>
    <% end %>
  <% else %>
    <%= link_to 'Booking Cancelled', '', class: 'btn btn-danger', disabled: true %>
  <% end %>
  <%= link_to 'Cancel', :back, class: 'btn' %>

<% end %>