.MenuContainer{
  padding: 20px 40px 0px 40px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.11);
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.11);
}
.MenuContainer .menu_header{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
/* .MenuContainer .title{ 
  font-size: 2em;
  color: #b71c1c;
  font-weight: bold;
} */
.MenuContainer .title .a_link{ 
  font-size: 2em;
  color: #b71c1c;
  font-weight: bold;
}
.MenuContainer .drop_menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.MenuContainer .drop_menu i{
  margin-left: 10px;
  padding-top: 3px;
}
.MenuContainer .menu_select{
  border-bottom: 0;
  margin-top: 30px;
}
.MenuContainer .menu_select > .ant-menu-item-selected{
  color: #b71c1c;
  border-bottom: 2px solid #b71c1c;
} 
.MenuContainer .menu_select > .ant-menu-item:hover{
  color: #b71c1c;
  border-bottom: 2px solid #b71c1c;
}

.MenuContainer .ant-menu-horizontal > .ant-menu-item-selected > a{
  color: #b71c1c;
}
.MenuContainer .ant-menu-horizontal > .ant-menu-item > a:hover{
  color: #b71c1c;
}

@media only screen and (max-width: 450px) {
  .MenuContainer {
    padding: 20px 10px 0px 10px;
  }
  
  .MenuContainer .title{
    font-size: 1.5em;
  }
}
