#ListingHotel{
    background-color: #f8f8f8;
}
#ListingHotel .warp{
    width: 1600px;
    margin: auto;
    padding: 50px 10px;
}
/************************************** LeftPanel **************************************/
#LeftPanel{
    width: 30%;
    float: left;
    padding-right: 20px 
}
#LeftPanel .ant-card-actions{
    background: transparent;
}
#LeftPanel .ant-collapse{
    border: 0;
}
#LeftPanel .ant-collapse > .ant-collapse-item{
    background-color: #fff;
    /* border-bottom: 0; */
}
#LeftPanel .sort_result .ant-card-actions > li{
    text-align: left;
}
#LeftPanel .sort_result .ant-card-actions > li > span{
    width: 100%;
    padding: 0px 20px;
}
#LeftPanel .sort_result .ant-radio-wrapper{
    width: 50%;
    margin-right:0px;
}
#LeftPanel .sort_result .ant-radio-wrapper:nth-child(1n){
    margin-bottom: 10px;
}
#LeftPanel .filter_result{
    margin-top: 20px;
}
#LeftPanel .filter_result .title p{
    margin-bottom: 0px;
    float: left;
}
#LeftPanel .filter_result .title p:nth-child(1n){
    width: 70%;
}
#LeftPanel .filter_result .title p:nth-child(2n){
    width: 30%;
    text-align: right;
    color: #faad14;
}
#LeftPanel .filter_result .ant-card-actions > li > span{
    width: 100%;
}
#LeftPanel .filter_result .ant-card-actions > li{
    margin: 0;
}
#LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
    text-align: left;
}
#LeftPanel .filter_result .slider_value p{
    float: left;
}
#LeftPanel .filter_result .slider_value p:nth-child(1n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .filter_result .slider_value p:nth-child(2n){
    width: 10% 
}
#LeftPanel .filter_result .slider_value p:nth-child(3n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .checkbox_warp .ant-checkbox-group{
    text-align: left;
    width: 100%;
}
#LeftPanel .checkbox_warp .ant-checkbox-group-item {
    width: 100%;
    margin-bottom: 10px;
}
#LeftPanel .star_check .ant-checkbox-wrapper{
    width: 100%;
    margin-left: 0px;
    text-align: left;
}

/************************************** RightPanel **************************************/
#ListingHotel #RightPanel .location_icon{
    padding-right: 5px;
    color: red;
}
#ListingHotel #RightPanel .ant-list-item-meta-title p{
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: bold;
}
#ListingHotel #RightPanel .content_rate .ant-rate{
    margin-bottom: 10px;
}

#ListingHotel .right_price{
    text-align: center;

}
#ListingHotel .right_price .price_tag{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}
#ListingHotel .right_price .tax_tag{
    /* color: #ccc; */
}

#ListingHotel #RightPanel .ant-btn-primary {
    width: 70%;
    color: #faad14;
    border-color: #faad14;
}
#ListingHotel #RightPanel .ant-list-lg .ant-list-item{
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #fff
}
#ListingHotel #RightPanel .ant-list-vertical .ant-list-item-meta{
    margin-bottom: 0px;
}
#ListingHotel #RightPanel .ant-list-item-meta-content{
    padding: 20px;
    width: 70%;
}

#ListingHotel #RightPanel .ant-list-vertical .ant-list-item{
    align-items: center;
}
#ListingHotel #RightPanel .ant-list-vertical .ant-list-item-main{
    border-right: 1px solid #ccc;
    width: 80%;
}

#ListingHotel #RightPanel .ant-list-vertical .ant-list-item-extra{
    margin-left: 0px;
    width: 20%;
}
#ListingHotel #RightPanel .ant-list-item-meta .img_sty{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#ListingHotel #RightPanel .ant-list-item-meta-avatar{
    margin-right: 0px;
    width: 30%;
}

#ListingHotel #RightPanel .content_rate .locate{
    margin-bottom: 10px;
}
#ListingHotel #RightPanel .content_rate .locate .locate_warp .icon_sty{
    width: 6%;
height: 100%;
}
#ListingHotel #RightPanel .content_rate .locate .locate_warp{
    margin-right: 20px;
}

/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
    #ListingHotel .warp {
        width: 1300px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta .img_sty{
        height: 145px;
    }
	
}

@media only screen and (max-width: 1350px) {
    #ListingHotel .warp {
        width: 1000px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta .img_sty{
        height: 120px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta-content {
        padding: 15px 10px 10px 10px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta-avatar {
         margin-right: 5px; 
    }
   #ListingHotel #RightPanel .ant-list-item-meta-title p {
    font-size: 1em;
    }
    #ListingHotel #RightPanel .content_rate p{
        font-size: .9em;
        margin-bottom: 0;
    }
    #ListingHotel .right_price .tax_tag{
        margin-bottom: 0;
    }
    #ListingHotel #RightPanel .content_rate .locate .locate_warp{
        font-size: 12px;
    }
    #ListingHotel #RightPanel .content_rate .locate{
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 1050px) {
    #ListingHotel .warp {
        width: 850px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta-content {
        padding: 10px 10px 10px 10px;
    }
    #ListingHotel .right_price .price_tag {
        font-size: 1.1em;
    }
    #ListingHotel #RightPanel .ant-list-item-meta .img_sty{
        height: 115px;
    }
    #ListingHotel #RightPanel  .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0;
    }

}
@media only screen and (max-width: 900px) {
    #ListingHotel .warp {
        width: 800px;
    }
    #ListingHotel #RightPanel .content_rate p {
        font-size: .7em;
    }
    #ListingHotel #RightPanel .ant-rate-star{
        font-size: 15px;
    }
    #ListingHotel #RightPanel .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0;
    }
    #ListingHotel .right_price .price_tag {
        font-size: 1.1em;
    }
  
}
@media only screen and (max-width: 770px) {
    #ListingHotel .warp {
        width: 700px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta .img_sty {
        height: 100px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta-avatar img {
        width: 160px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta-title p {
        font-size: .9em;
    }
    #ListingHotel .right_price .price_tag {
        font-size: .9em;
    }
    #ListingHotel #LeftPanel .filter_result .slider_value p:nth-child(1n) {
        font-size: 1em;
    }
    #ListingHotel #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: 1em;
    }
    #ListingHotel  #LeftPanel .ant-card-meta-title {
        font-size: 1em;
    }
    #ListingHotel #LeftPanel .filter_result .title p:nth-child(1n){
        width: 70%!important;
    }
    #ListingHotel  #LeftPanel .filter_result .title p:nth-child(2n){
        width: 30%!important;
        text-align: right!important;
    }
}
@media only screen and (max-width: 720px) {
    #ListingHotel .warp {
        width: 90%;
        padding: 50px 0px;
    }
    #ListingHotel #LeftPanel{
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0px;
    }
    #ListingHotel #RightPanel {
        width: 100%;
    }

    #ListingHotel #RightPanel .ant-list-item-meta-avatar img {
        width: 135px;
    }
    #ListingHotel #RightPanel .ant-list-vertical .ant-list-item-extra {
        margin-left: 0px;
        width: 100%;
    }
    #ListingHotel #RightPanel .content_rate p {
        font-size: .9em;
    }
    #RightPanel .ant-btn-primary {
        font-size: .7em;
        height: 20px;
        margin-top: 5px;
    }


    #ListingHotel #RightPanel .location_icon {
        padding-right: 5px;
    }
    #ListingHotel #RightPanel .ant-rate-star {
        font-size: 16px;
        margin-right: 4px;
    }
    #ListingHotel #RightPanel .ant-list-item-meta-avatar {
        width: 100%;
    }
    #ListingHotel #RightPanel .ant-list-vertical .ant-list-item-main {
        width: 100%;
        border-right: 0px
    }

    #ListingHotel #RightPanel .ant-list-vertical .ant-list-item-meta {
        display: block;
    }
    #ListingHotel #RightPanel .ant-list-vertical .ant-list-item{
        flex-wrap: wrap;
    }

    #ListingHotel #RightPanel .ant-list-item-meta .img_sty {
        height: auto;
    }
    #ListingHotel .right_price .price_tag {
        font-size: 1.2em;
        float: left;
        margin-right: 10px;
    }
    #ListingHotel .right_price .tax_tag {
        float: left;
        font-size: .9em;
        padding-top: 2px;
    }
    #ListingHotel #RightPanel .select_btn {
        width: 30%;
        margin-left: auto;
        text-align: right;
    }
    #ListingHotel #RightPanel .ant-btn-primary {
        font-size: .8em;
        height: 25px;
        margin-top: 0px;
    }

    #ListingHotel #RightPanel .ant-list-vertical .ant-list-item-extra {
        width: 100%;
        background: #f1f1f1;
        
    }
    #ListingHotel #RightPanel .ant-list-item-meta-title p {
        font-size: 1em;
    }
    #ListingHotel #RightPanel .ant-list-item-meta-content {
        width: 100%;
    }
    #ListingHotel .right_price {
        width: 100%;
        padding: 15px 10px;
    }


}

@media screen and (max-width: 576px){
    #ListingHotel #RightPanel .ant-list-vertical .ant-list-item-extra {
        margin: 0;
    }
    #ListingHotel #RightPanel .ant-btn-primary {
        width: 90%;
    }
}


