<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :hotel_detail, class: 'required' %>
    <%= f.text_area :hotel_detail, class: ' form-control', rows: "5", placeholder: ' Key in **Hotel Name** for text Bold' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :check_in_date %>
    <%= f.date_field :check_in_date, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :check_out_date %>
    <%= f.date_field :check_out_date, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove accomodation", f %>
  </div>
</div>