<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :departure %>
    <%= f.datetime_field :departure, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :arrival %>
    <%= f.datetime_field :arrival, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :from_to %>
    <%= f.text_field :from_to, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :flight_no %>
    <%= f.text_field :flight_no, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :internal_remark %>
    <%= f.text_field :internal_remark, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :agent_remark %>
    <%= f.text_field :agent_remark, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Flight", f %>
  </div>
</div>