  <div class="nested-fields">
    <div class="custom-form-group form-group col-sm-12">
        <%= f.label :triple_room %>
        <%= f.hidden_field :room_type, value: 'triple_room' %>
        <div class="custom-form-group form-group col-sm-12">
        <%= f.fields_for :bookings do |booking| %>
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 1</label>
            <%= render_booking_room_selection(f, booking, 1, @booking_adult_child_twin, @tour.tour_leader) %>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 2</label>
            <%= render_booking_room_selection(f, booking, 2, @booking_adult_child_twin, @tour.tour_leader) %>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 3</label>
            <%= render_booking_room_selection(f, booking, 3, @booking_adult_child_twin, @tour.tour_leader) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to_remove_association "Remove room", f %>
    </div>
  </div>