  <div class="nested-fields">
    <div class="custom-form-group form-group col-sm-12">
      <%= f.label :twin_room %>
      <%= f.hidden_field :room_type, value: 'twin_room' %>
      <div class="custom-form-group form-group col-sm-12">
      <%= f.fields_for :bookings do |booking| %>
        <div class="custom-form-group form-group col-sm-3">
          <label>Select Guest 1</label>
          <%= render_booking_room_selection(f, booking, 1, @booking_adult_child_twin, @tour.tour_leader) %>
        </div>
        <div class="custom-form-group form-group col-sm-3">
          <label>Select Guest 2</label>
          <%= render_booking_room_selection(f, booking, 2, @booking_adult_child_twin, @tour.tour_leader) %>
        </div>
        <% if @tour.bookings.map(&:category).uniq.any? {|category|["child_with_bed","child_no_bed"].include?(category)} %>
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 3 (Extra With Bed)</label>
            <%= render_booking_room_selection(f, booking, 3, @booking_child_with_and_without_bed, @tour.tour_leader) %>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 4 (Extra Without Bed)</label>
            <%= render_booking_room_selection(f, booking, 4, @booking_child_with_and_without_bed, @tour.tour_leader) %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to_remove_association "Remove room", f %>
    </div>
  </div>