<% content_for :head do %>
  <title><%= @tour.code %> | <%= @app_name %></title>
<% end %>
<page layout="portrait"  id="print-order" class="rooming-list-detail">
  <div class=" booking-room-one-a4-page tour-status-table">
    <% if @tour.letter_head_image.present? %>
      <div>
        <%= image_tag @tour.letter_head_image.url, class: 'image-head' %>
      </div>
    <% else %>
      <div>
        <%= image_tag("gd-letterhead.png", class: 'image-head') %>
      </div>
    <% end %>
    <br>

    <table class="table table-condensed">
      <tr>
        <th class="table-resize table-head-color">Tour Code</th>
        <td class="table-resize"><%= @tour.code %></td>
        <th class="table-resize table-head-color">From</td>
        <td class="table-resize text-uppercase"><%= current_user.username%> (<%= Time.now.strftime("%Y/%m/%d")%>)</td>
      </tr>
      <tr>
        <th class="table-resize table-head-color">Tour Program</th>
        <td data-name="Name" class="highlight"><%= @tour.caption %></td>
        <th class="table-resize table-head-color">No of Pax</th>
        <td class="table-resize"><%= @tour.booking_rooms.map(&:booking_room_adult_count).inject(0, :+)  %> Adults<% if @tour.booking_rooms.map(&:booking_room_child_count).present? %> + <%=@tour.booking_rooms.map(&:booking_room_child_count).inject(0, :+) %> Childs <% end %>
          <% if @tour.tour_leader.present? %>
           + 1 T/L
          (<%=@tour.bookings.active.count%> Paxs + 1 T/L)
          <% else %>
          (<%=@tour.booking_rooms.map(&:booking_room_adult_count).inject(0, :+) + @tour.booking_rooms.map(&:booking_room_child_count).inject(0, :+) %> Paxs )
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="table-resize table-head-color">Tour Guide </th>
        <td class="table-resize"><%= @tour.guide_languages%></td>
        <th class="table-resize table-head-color"> No of Room (Hotel)</th>
        <td class="table-resize text-capitalize">
         
          <% rooms_type_list = Hash.new(0) %>
          <% @tour.booking_rooms.map(&:room_type).each do | booking_rooms| %>   
            <% rooms_type_list[booking_rooms] += 1 %>
          <% end %>
          <% rooms_type_list.each do |type,number| %>
            <%=" #{number} #{type.sub('_room', ' +')} " %>
          <% end %>
            (Total <%= rooms_type_list["single_room"]+rooms_type_list["double_room"]+rooms_type_list["twin_room"]+rooms_type_list["triple_room"] %>)
             (<%= @tour.hotel_rating %> ****HOTEL)
        </td>
      </tr>
      <tr>
        <th class="table-resize table-head-color">PNR</th>
        <td class="table-resize"><%if @tour.pnrs.present? %><%= @tour.pnrs.join(', ') %><% end %></td>
        <th class="table-resize table-head-color">Signboard </th>
        <td class="table-resize"><%= @tour.welcome_board %></td>
      </tr>
    </table>
    <br>
    <div class="col-sm-6 bold resize-title">
      Flight Detail:
    </div>
    <table class="table-resize text-center">
      <thead>
        <tr class="table-head-color">
          <th class="table-resize  text-uppercase text-center">Date</th>
          <th class="table-resize  text-uppercase text-center">Sector</th>
          <th class="table-resize  text-uppercase text-center">Flight No</th>
          <th class="table-resize  text-uppercase text-center">Flight Timing</th>
          <th class="table-resize  text-uppercase text-center">No of Seat</th>
        </tr>
        <% @tour.tour_flights.order(:departure).each do |tour_flight| %>
          <tr>
            <td class="table-resize "><%= tour_flight.departure.try(:strftime, "%Y/%m/%d") %></td>
            <td class="table-resize "><%= tour_flight.from_to %></td>
            <td class="table-resize "><%= tour_flight.flight_no %></td>
            <td class="table-resize "><%= tour_flight.departure.try(:strftime, "%Y/%m/%d %R %a") %> - <%= tour_flight.arrival.try(:strftime, "%Y/%m/%d %R %a")%></td>
            <td class="table-resize "><%= tour_flight.internal_remark%></td>
          </tr>
        <% end %>  
      </thead>
    </table> 
    <br> 
    <table class="table-resize ">
      <thead>
        <tr class="table-head-color">
          <th class="text-center table-resize">No</th>
          <th class="text-center table-resize">Title</th>
          <th class="text-center table-resize">Name (As per passport)</th>
          <th class="text-center table-resize">Date<br> Of Birth</th>
          <th class="text-center table-resize">Passport <br> No.</th>
          <th class="text-center table-resize">Passport <br>Exp. Date</th> 
          <% if @tour.bookings.map{|b| b.visa_no}.each.first== "" %>
            <% else %>
          <th class="text-center table-resize">Visa No</th>
          <th class="text-center table-resize">Visa Expiry Date</th>
            <% end %>
          <th class="text-center table-resize">Room <br> Pairing</th>
          <th class="text-center table-resize">Agent</th>
          <th class="text-center table-resize">Pax's <br> Contact</th>
          <th class="text-center table-resize">Remark</th>
        </tr>
      </thead>
        <% room_type_indexes = {single_room: 0, double_room: 0, twin_room: 0, triple_room: 0} %>
        <% booking_index = 0 %>
        <% @tour.booking_rooms.order("tour_leader_id desc").each.with_index(1) do |booking_room, index| %>
          <% bookings = [] %>
          <% (1..4).each do |guest_index| %>
            <% booking = booking_room.send("guest_#{guest_index}") %>
            <% bookings << booking if booking.present? %>
          <% end %>
          <tr class="table-resize ">
            <td class="table-resize text-center"><%= bookings.map{|b| booking_index += 1; "#{booking_index}"}.join("<br>").html_safe %> </td>
            <td class="table-resize  bold text-uppercase"><%= bookings.map(&:designation).join("<br>").html_safe %></td>
            <td class="table-resize bold"><%= bookings.map(&:name).join("<br>").html_safe %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td class="table-resize text-center"><%= bookings.map{|b| b.date_of_birth.present? ? b.date_of_birth.strftime("%Y/%m/%d") : "&nbsp"}.join(" <br>").html_safe %></td>
            <td class="table-resize text-center"><%= bookings.map{|b| b.passport_number.present? ? b.passport_number : "&nbsp"}.join("<br>").html_safe %></td>
            <td class="table-resize text-center"><%= bookings.map{|b| b.passport_expiry_date.present? ? b.passport_expiry_date.strftime("%Y/%m/%d") : "&nbsp"}.join(" <br>").html_safe %></td>
            <% if @tour.bookings.map{|b| b.visa_no}.each.first== "" %>
            <% else %>
              <td class="table-resize text-center"><%= bookings.map(&:visa_no).join("<br>").html_safe %></td>
              <td class="table-resize text-center"><%= bookings.map{|b| b.visa_expiry_date.present? ? b.visa_expiry_date.strftime("%Y/%m/%d") : "&nbsp"}.join(" <br>").html_safe %></td>
            <% end %>
            <td class="table-resize text-center text-uppercase"><%= booking_room.booking_room_shortform.humanize %> <%= (room_type_indexes[booking_room.room_type.to_sym]+=1).to_s.rjust(2,'0') %></td>
            <td class="table-resize text-center " ><%= bookings.map{|b| b.class.to_s == "TourLeader" ? '' : b.agent_user.username_phone.present? ? b.agent_user.username_phone : "" }.uniq.join("<br>").html_safe %></td>
            <td class="table-resize text-center" ><%= bookings.map(&:mobile).join("<br>").html_safe %></td>
            <td class="table-resize text-center" ><%= bookings.map{ |b| b.class.to_s == "TourLeader" ? '' : b.operator_remark }.join("<br>").html_safe %> <%= bookings.map{ |b| b.class.to_s == "Booking" ? '' : @tour.tour_leader_remark }.join("<br>").html_safe %></td>
          </tr>
        <% end %>
    </table>
    <br>
    <table>
      <tr>
        <% if @tour.operator_remarks.present? %>
          <th class="col-xs-1">No.</th>
          <th class="col-xs-11">Tour Operator Remark's</th>
        <% end %>
      </tr>
      <% tour_index = 0 %>
      <% if @tour.operator_remarks.present? %>
        <% @tour.operator_remarks.map.each do |tour| %>
          <tr>
            <th class="col-xs-1"><%= tour_index += 1 %></th>
            <th class="col-xs-11"><%=tour%></th>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</page>