<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-bed fa-fw"></i> Booking Rooms
<% end %>

<%= render 'shared/single_panel', card_title: 'Booking Rooms' do %>
  

     <div class="custom-form-group form-group col-sm-12">
      <h3>Single Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :single_room).each.with_index(1) do |booking_room, booking_room_index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Single room <%= booking_room_index %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% (1..4).each do |guest_index| %>
            <% booking = booking_room.send("guest_#{guest_index}") %>
              <% if booking.present? %>
                <div class="custom-form-group form-group col-sm-3">
                  <label>Guest <%= guest_index %></label>
                  <% if @tour.tour_leader.present? %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking.name.present? ? booking.name.humanize : '' %>">
                  <% else %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %> <%= "(#{booking.booked_by})" %>">
                  <% end %>
                </div>
                <% end %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <h3>Double Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :double_room).each.with_index(1) do |booking_room, booking_room_index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Double room <%= booking_room_index %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% (1..4).each do |guest_index| %>
            <% booking = booking_room.send("guest_#{guest_index}") %>
              <% if booking.present? %>
                <div class="custom-form-group form-group col-sm-3">
                  <label>Guest <%= guest_index %></label>
                  <% if @tour.tour_leader.present? %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking.name.present? ? booking.name.humanize : '' %>">
                  <% else %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %> <%= "(#{booking.booked_by})" %>">
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <h3>Twin Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :twin_room).each.with_index(1) do |booking_room, booking_room_index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Twin room <%= booking_room_index %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% (1..4).each do |guest_index| %>
            <% booking = booking_room.send("guest_#{guest_index}") %>
              <% if booking.present? %>
                <div class="custom-form-group form-group col-sm-3">
                  <label>Guest <%= guest_index %></label>
                  <% if @tour.tour_leader.present? %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking.name.present? ? booking.name.humanize : '' %>">
                  <% else %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %> <%= "(#{booking.booked_by})" %>">
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <h3>Triple Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :triple_room).each.with_index(1) do |booking_room, booking_room_index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Triple room <%= booking_room_index %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% (1..4).each do |guest_index| %>
            <% booking = booking_room.send("guest_#{guest_index}") %>
              <% if booking.present? %>
                <div class="custom-form-group form-group col-sm-3">
                  <label>Guest <%= guest_index %></label>
                  <% if @tour.tour_leader.present? %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking.name.present? ? booking.name.humanize : '' %>">
                  <% else %>
                    <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %> <%= "(#{booking.booked_by})" %>">
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12">
      <div class="table-responsive mt20 scroll-bar">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="number">#</th>
              <th class="number">Grouping</th>
              <th class="code">Name</th>
              <th>Booked by</th>
              <% if @tour.is_cruise? %>
                <th>Cruise Room/ID</th>
              <% end %>
              <th>Passport No</th>
              <th>Visa No</th>
              <th class="number">Admin Remark</th>
              <th class="number">Remark</th>
              <th class="number">Rooming Remark</th>
            </tr>
          </thead>
          <tbody>
            <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*Booking::ADMIN_BOOKINGS_PER_PAGE+1 : 1 %>
            <% @tour.bookings.each_with_index do |booking, index| %>
              <tr>
                <td class="number"><%= index + start_seq %></td>
                <% if booking.booking_group.exported? %>
                  <td class="expoted_info">
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group), title: booking.booking_group.exported_info %>
                  </td>
                <% else %>
                  <td>
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group) %>
                  </td>
                <% end %>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.name %>"><%= booking.name
                %></div></td>
                <td><%= booking.booked_by_detail %></td>
                <td><%= booking.passport_number%></td>
                <td><%= booking.visa_no%></td>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.admin_remark %>"><%= booking.admin_remark %></div></td>
                <td>
                  <%= render_insurance_icon(booking) %>
                  <%= render_passport_icon(booking) %>
                  <span class="trim code" data-toggle="tooltip" data-placement="top" title="<%= render_remark_infant_indicator(booking, true) %>"><%= render_remark_infant_indicator(booking) %>
                  </span>
                </td>
                <td><%= booking.operator_remark %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= link_to "Edit", edit_booking_rooms_admin_tour_path(@tour), class: 'btn btn-primary' %>
    <%= link_to "Print", booking_rooms_admin_tour_path(@tour, print: true), class: 'btn btn-warning', target: '_blank' %>
    <%= link_to 'Back', admin_tour_path(@tour), class: 'btn' %>
<% end %>