
<% content_for :head do %>
  <title><%= @tour.code %> | <%= @app_name %></title>
<% end %>

<page layout="portrait" id="print-order" class="confirmation">
  <div class="booking-room-pagebreak tour-status-table">
    <table>
      <tr>
        <th>
          <%if @is_four_season.present? %>
            <% if @tour.department.fs_logo.present? %>
              <%= image_tag @tour.department.fs_logo.url, class: 'logo-thumbnail' %>
            <% else %>
              (No Image)
            <% end %>
          <% else %>
            <% if @tour.department.logo.present? %>
              <%= image_tag @tour.department.logo.url, class: 'logo-thumbnail' %>
            <% else %>
              (No Image)
            <% end %>
          <% end %>
          <%= image_tag("gd.png", class: 'gd-thumbnail')%>
        </th>
        <th class="header-title">最新旅游确认书 <br>LATEST TOUR CONFIRMATION<span class="small-title"> <br>(Updated : <%= Time.now.strftime("%d %^b %Y") %>) </span>
        </th>
      </tr>
    </table>
    <table class="table-border-header bold text-uppercase large-size ">
      <tr>
        <th>
          Tour Information 团体资料
        </th>
      </tr>
    </table>
    <table class= "table-border-body">
      <tr>
        <th class=""> Tour Code  </th>
        <td class="table-merge">: <%= @tour.code %></td>
        <th class="table-border-left">团号</th>
        <td class="table-merge">: <%= @tour.code %></td>
      </tr>
      <tr>
        <th class=""> Tour Package  </th>
        <td class="table-merge">: <%= @tour.caption.split(' ')[1..-1].join(' ') %></td>
        <th class="table-border-left">团配套</th>
        <td class="table-merge">: <%= @tour.other_caption.split(' ')[1..-1].join(' ') %></td>
      </tr>
      <tr>
        <th class=""> Duration </th>
        <td class="table-merge">: <%= @tour.itinerary.duration %></td>
        <th class="table-border-left"> 天数 </th>
        <td class="table-merge">: <%= @tour.itinerary.other_caption_chinese %></td>
      </tr>
      <tr>
        <th class=""> Group Size </th>
        <td class="table-merge">: <% if @tour.booking_rooms.map(&:booking_room_adult_count).present? %><%= @tour.booking_rooms.map(&:booking_room_adult_count).inject(0, :+)  %> Adults <% end %><% if @tour.booking_rooms.map(&:booking_room_child_count).present? && @tour.booking_rooms.map(&:booking_room_child_count).to_s=="[0]" %> + <%=@tour.booking_rooms.map(&:booking_room_child_count).inject(0, :+) %> Childs <% end %>
        <% if @tour.tour_leader.present? %>
         + 1 Tour Leader
        <% else %>
        <% end %>
        </td>
        <th class="table-border-left"> 团体人数 </th>
        <td class="table-merge">: <% if @tour.booking_rooms.map(&:booking_room_adult_count).present? %><%= @tour.booking_rooms.map(&:booking_room_adult_count).inject(0, :+)  %> 成人 <% end %><% if @tour.booking_rooms.map(&:booking_room_child_count).present? && @tour.booking_rooms.map(&:booking_room_child_count).to_s=="[0]" %> + <%=@tour.booking_rooms.map(&:booking_room_child_count).inject(0, :+) %>  孩童 <% end %>
        <% if @tour.tour_leader.present? %>
         + 1 领队
        <% else %>
        <% end %>
        </td>
      </tr>
      <tr>
        <th class=""> Departure Date </th>
        <td class="table-merge">: <%= @tour.tour_flights.first.departure.strftime("%d %^b %Y") %> (<%= @tour.tour_flights.first.departure.strftime("%A")%>)</td>
        <th class="table-border-left"> 出发日期</th>
        <td class="table-merge">: <%= @tour.tour_flights.first.departure.strftime("%Y年%m月%d号") %> (<%= @tour.tour_flights.first.departure.strftime("%A")%>)</td>
      </tr>
    </table>
    <br>
    <br>
    <table class="table-border-header bold text-uppercase large-size ">
      <tr>
        <th>
          Assemble Time 集合时间
        </th>
      </tr>
    </table>
    <table class= "table-border-body">
      <tr>
        <th class="">Check in Date at KLIA</th>
        <td class="table-merge">: <%= @tour.tour_flights.first.departure.strftime("%d %^b %Y") %> (<%= @tour.tour_flights.first.departure.strftime("%A")%>)</td>
        <th class="table-border-left">机场登记日期</th>
        <td class="table-merge">: <%= @tour.tour_flights.first.departure.strftime("%Y年%m月%d号") %> (<%= @tour.tour_flights.first.departure.strftime("%A")%>)</td>
      </tr> 
      <tr>
        <th class="">Assembly Time</th>
        <td class="table-merge">: <% if @tour.assembly_time.present? %> <%=@tour.assembly_time.strftime("%H%M") %> (<%= @tour.assembly_time.strftime("%H:%M %p")%>)<% end %></td>
        <th class="table-border-left">集合时间</th>
        <td class="table-merge">: <% if @tour.assembly_time.present? %> <%=@tour.assembly_time.strftime("%p%H时%M分").sub('AM', '早上').sub('PM', '晚上') %>     <% end %></td>
      </tr>
      <tr>
        <th class="">Meet up Point</th>
        <td class="table-merge text-uppercase">: <%= @tour.meet_up_point %></td>
        <th class="table-border-left">集合地点</th>
        <td class="table-merge text-uppercase">: <% if @tour.meet_up_point.present? %><%= @tour.meet_up_point.sub('Counter','柜台')%>          <% end %></td>
      </tr>        
      <tr>
        <th class="">Tour Guide</th>
        <td class="table-merge">: <%=@tour.tour_guide_name %> <%= @tour.tour_guide_phone %></td>
        <th class="table-border-left">导游</th>
        <td class="table-merge">: <%=@tour.tour_guide_chinese_name %> <%= @tour.tour_guide_phone %></td>
      </tr>
      <tr>
        <th class="">Tour Leader</th>
        <td class="table-merge">: <% if @tour.tour_leader.present? %><%= @tour.tour_leader.designation %> <%=@tour.tour_leader.last_name %> <%= @tour.tour_leader.first_name %><br> &nbsp;&nbsp;(<%= @tour.tour_leader.mobile %>)<%= %><% end %></td>
        <th class="table-border-left">领队</th>
        <td class="table-merge">:<% if @tour.tour_leader.present? %> <%= @tour.tour_leader.designation %> <%=@tour.tour_leader.last_name %> <%= @tour.tour_leader.first_name %><br> &nbsp;&nbsp;(<%= @tour.tour_leader.mobile %>)<% end %></td>
      </tr>            
    </table>
    <br>
    <br>
    <table class="table-border-header bold">
      <tr>
        <th class="text-uppercase large-size">
          Flight Schedule | 航班时间表(<%=@tour.tour_flights.first.airline.name%>)
          <% if @tour.tour_flights.first.airline.logo.present? %>
           <%= image_tag @tour.tour_flights.first.airline.logo.url, class: 'flight-logo-thumbnail'  %>
          <% else %>
          ✈️
          <% end %>
        </th>
      </tr>
    </table> 
    <table class="table-border-body text-align-center ">
      <tr class="bold">
        <td class="table-border">DATE</td>
        <td class="table-border">SECTOR</td>
        <td class="table-border">FLIGHT NO.</td>
        <td class="table-border">TIME</td>
        <td class="table-border">FLIGHT DURATION</td>
      </tr>
      <% @tour.tour_flights.each do |tour_flight| %>
      <tr>
        <td class="table-border-left"><%= tour_flight.departure.strftime("%d %^b %Y") %> (<%= tour_flight.departure.strftime("%^a") %>)</td>
        <td class="table-border-left"><%= tour_flight.from_to %></td>
        <td class="table-border-left"><%= tour_flight.flight_no %></td>
        <td class="table-border-left"><%= tour_flight.departure.strftime("%H%M") %> - <%= tour_flight.arrival.strftime("%H%M") %> <%= tour_flight.arrival_date %></td>
        <% time_difference = (Airports.find_by_iata_code(@tour.tour_flights.first.to).timezone.to_i - Airports.find_by_iata_code(@tour.tour_flights.first.from).timezone.to_i ) %>
        <% tour_flight_secs = (tour_flight.arrival- tour_flight.departure).to_i/60 %>
        <% hours = (tour_flight_secs) / 3600 %>
        <% tour_flight_secs -= (hours * 3600) %>
        <% mins  = tour_flight_secs / 60%>
        <% mins_difference  = ((tour_flight_secs / 60)+time_difference)%>
        <% tour_flight_secs -= mins * 60 %>
        <td class="table-border-left"><%= " #{mins_difference}h #{tour_flight_secs}m" %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <br>
    <table class="table-border-header bold text-uppercase large-size ">
      <tr>
        <th>
          &nbsp;Accommodation | 住宿
        </th>
      </tr>
    </table>
    <table class="">
      <tr class="table-border-body bold">
        <th class="text-align-center">Check In </th>
        <th class="text-align-center table-border-left">Check Out </th>
        <th class="text-align-center table-border-left">Hotel</th>
        <th class="text-align-center table-border-left">Room Type</th>
      </tr>
      <% @tour.tour_accomodations.order(:check_in_date).each do |tour_accomodations| %>
      <tr class="table-border-body">
        <td class=" table-merge-accomodation margin-right text-align-center"><%= tour_accomodations.check_in_date.strftime("%d-%^b")%></td>
        <td class=" table-merge-accomodation table-border-left text-align-center"><%= tour_accomodations.check_out_date.strftime("%d-%^b")%></td>
        <td class="table-border-left "><span class="markdownViewSection " colspan="2" data-content="<%= tour_accomodations.hotel_detail %>"></span></td>
        <td class="table-border-left room-type-size"> 
          <% rooms_type_list = Hash.new(0) %>
          <% @tour.booking_rooms.map(&:room_type).each do | booking_rooms| %>   
            <% rooms_type_list[booking_rooms] += 1 %>
          <% end %>
          <% rooms_type_list.each do |type,number| %>
            <% total_room_type = "#{number} #{type.sub('_room', "#{tag(:br)}")} "  %>
            <%= total_room_type.html_safe %>
          <% end %>
          <% if rooms_type_list.present? %>
            (Total <%= rooms_type_list["single_room"]+rooms_type_list["double_room"]+rooms_type_list["triple_room"]+rooms_type_list["triple_room"] %>)
          <% end %>
        </td>
         <% end %> 
      </tr>
    </table>
    <br>
    <br>
    <div class="table-border-header bold text-uppercase large-size ">
       &nbsp;Travel Information | 旅游资讯
    </div>
    <table class="table-border-body">
      <tr>
        <th class="">Avg Temperature</th>
        <td>: </td>
        <td class="table-merge"><%= @tour.itinerary.temperature%></td>
        <th class="table-border-left">平均温度</th>   
        <td>: </td>        
        <td class="table-merge"></td>
      </tr>
      <tr>
        <th class="">Currency</th>
        <td>: </td>  
        <td class=""><% if @tour.itinerary.currency_english.present? %>
          <% @tour.itinerary.currency_english.each do |currency_english| %>
          <% total_english_currency = " #{currency_english.sub(/$/, "#{tag(:br)}")} "  %>
            <%= total_english_currency.html_safe %>
          <% end%><% end %></td>
        <th class="table-border-left">货币</th>
        <td>: </td>
        <td class=""><% if @tour.itinerary.currency_english.present? %>
          <% @tour.itinerary.currency_chinese.each do |currency_chinese| %>
          <% total_chinese_currency = " #{currency_chinese.sub(/$/, "#{tag(:br)}")} "  %>
            <%= total_chinese_currency.html_safe %>
          <% end%></td><% end %></td>
      </tr>
      <tr>
        <th class="">Time Difference</th>
        <td>: </td>  
        <td class="text-with-space"><%= @tour.itinerary.time_difference_english %></td>
        <th class="table-border-left">时差</th>
        <td>: </td>
        <td class="text-with-space"><%= @tour.itinerary.time_difference_chinese %></td>
      </tr>
      <tr>
        <th class="">Voltage</th> 
        <td>: </td> 
        <td class="table-merge"><%= @tour.itinerary.voltage %></td>
        <th class="table-border-left">电压</th>
        <td>: </td>
        <td class="table-merge"><%= @tour.itinerary.voltage %></td>
      </tr>
    </table>
    <br>
    <div class="bold">
      PROHIBITED ITEMS 禁止携带物品  
    </div>
    <div>
    1. Lithium batteries (Maximum two (2) 100Wh -160Wh spare lithium-ion batteries including Portable Battery 
    <br>
    Supply Device and Power Bank) Per Person, strictly put into the hand carry bag only. 
    <br>
    电池(每个人只可以最多带两个 100Wh-160Wh) 备用电池(移动电源),仅限放入手提行李而已。
    <br><br>
    </div>
    2. Liquid items (Drinks,creams,perfumes,sprays,gels,toothpaste)- Each item is limited to max 100ml, total 
    <br>
    items to max 1000ml in hand carry baggage.
    <br>
    手提行李里的液体物(包含凝胶,膏状类,喷雾)每个不能超过100ml，总共不能超1000ml
    <br><br>
    <table class="table-border-header bold text-uppercase large-size ">
      <tr>
        <th>
          FRIENDLY REMINDER 温馨提醒
        </th>
      </tr>
    </table>
    <table class="table-border-body">
      <tr>
        <th class=" bottom-line">
          1. Assemble 
          <br>
          &nbsp;&nbsp;&nbsp; 守时集合
        </th>
        <td class="table-border-left bottom-line">
          Please remember your Tour Guide / Tour Leader's announcement on meeting point and time.  
          <br>
          请旅客务必记得导游或领队宣布行程的集合时间及地点，并且准时集合。         
        </td>
      </tr>
      <tr>
        <th class="bottom-line "> 
          2. Safety
          <br>
          &nbsp;&nbsp;&nbsp; 家人安全
        </th>
        <td class="table-border-left bottom-line">
          Family with accompanying elderly/children, please ensure their safety and security during the tour at all times.
          <br>
          团体旅游需多方顾及全团旅客，诺有家庭随行的旅客须负起照顾家人的责任，须确保家人
          <br>
          (小孩和长者)出游期间安全及相关问题
        </td>
      </tr>
      <tr>
        <th class="bottom-line ">
          3. Itinerary
          <br>
          &nbsp;&nbsp;&nbsp; 调配行程
        </th>
        <td class="table-border-left bottom-line">
          Due to adverse weather conditions, traffic congestion and other unforeseen circumstances, your Tour Guide / Tour Leader reserves the right to rearrange and amend the tour itinerary without prior notice.
          <br>
          因当地天气,交通阻塞等状况,及其他不可抗拒因素所影响时,领队或导游有权利调整或互换观光景点恕无法提前通知,敬请见谅。
        </td>
      </tr>
      <tr>
        <th class="reminder-table-merge bottom-line ">
          4. Flight Seats
          <br>
          &nbsp;&nbsp;&nbsp; 机位安排
        </th>
        <td class="table-border-left bottom-line ">
          Group seats are allocated by the airlines into zone areas. The Tour Leader will rearrange and assign seats according to family/friends therefore please adhere to the seat arrangements. Note: Family/friends may not be seated together during peak season. Your understanding is highly appreciated.
          <br>
          由于团票座位都是由航空公司随机编排,因此登记时领队会个别家庭为单位区分,请依据领队的座位编排。备注:如客满座位安排可能无法安排家人同坐,敬请见谅。
        </td>
      </tr>
    </table>
  </div>
  <div class="booking-room-pagebreak" >
    <h2>We Care About You”</h2>
    <h4>What You Need to Know Before You Travel to Oversea</h4>
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Passport</strong>
            <span class="table-text-merge ">Make sure that your passport validity is more than 6 months from the date of travel. Please remember bring along your passport to airport and there are individual responsibilities to take care your belongings.
            <br>
            请确认护照符合有效期至少要有六个月以上（且在有效期内返回国)。
            <br>
            <br>
            Please check your immigration status before travelling overseas.
            <br>
            请您在出发前，先登入以下网址，查询您的出境情况。
            <br>
            https://sspi.imi.gov.my/sspi/
            </span>
          </li>
        </ul>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Air Ticket</strong>
            <span class="table-text-merge">Please print out your ticket reference no. for anytime emergency case. Make sure that your returning seat is confirmed and reconfirm your seat again with the airlines when you returning from oversea.
            <br>
            请记得打印您的机票参考号码以防任何的紧急状况。请麻烦确保您的机票座位号是确定的和请务必跟航空公司确认多一次关于您的座位号当您从国外回到国内的航班。</span>
          </li>
        </ul>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Visa</strong>
            <span class="table-text-merge">Please ensure that you have the necessary entry visa for the country visit.
            <br>
            请确保您已经申请了要拜访国家的签证如需要。</span>
          </li>
        </ul>
      </tr>
    </table>
    <br>        
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Travel Insurance</strong>
            <span class="table-text-merge">We would like advise you to buy travel insurance for your personal & family trip protection before departure.
            <br>
            我们建议您在出国前请购买旅游保险以确保您和您的家人有一个保障。</span>
          </li>
        </ul>
      </tr>
    </table> 
    <br>       
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Local Currency,
              <% if @tour.itinerary.currency_english.present? %>
              <% @tour.itinerary.currency_english.join(", ").split.each  do |currency_english|%>
                <%= currency_english.gsub(/\d/, "").sub("RM","").sub("=","").sub(".","").gsub(/\s/,"") %>
              <% end %><% end %> & Credit Card</strong>
            <span class="table-text-merge">Before departure you can get our advice that the currency of the country visit. Please change the country currency before first at our local money changer. Make sure that you change enough the currency for your personal & family use. Otherwise you may change 
              <% if @tour.itinerary.currency_english.present? %>
              <% @tour.itinerary.currency_english.join("/").split.each  do |currency_english|%>
                <%= currency_english.gsub(/\d/, "").sub("RM","").sub("=","").sub(".","").gsub(/\s/,"") %>
              <% end %><% end %>  to local currency and ask the assistance from local tour guide. Besides that you also can use your credit card at local shopping store.
            <br>
             我们会在出国旅游前通知您关于我们会拜访国家所使用的货币。请记得在出国游玩前更换或准备当地使用的货币。请确保您所更换或准备的货币是足够让您和您的家人使用。如需在国外更换当地使用的货币请通知当地导游或领队以便我们能够帮助您。除此之外，你也能够在国外的购物中心使用行用卡付款。</span>
          </li>
        </ul>
      </tr>
    </table> 
    <br>       
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Camera & Battery</strong>
            <span class="table-text-merge ">Please check your digital camera in a good condition and remember bring the extra camera battery from time to time use.
            <br>
            请确保您的相机状况是良好的和请记得携带额外的相机电池以便能够更换。</span>
          </li>
        </ul>
      </tr>
    </table>
    <br>        
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Hand Phone Charger & Travel Adaptor</strong>
            <span class="table-text-merge ">Remember bring your own hand phone model charger and travel adaptor too. There are difference types of electric plug use for each country.
            <br>
            请记得携带自己的手机充电器和国际插座因为不同的国家有不同的电插头。</span>
          </li>
        </ul>
      </tr>
    </table>
  </div>
  <div class="booking-room-pagebreak" >
    <br>      
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Normal Medicine</strong>
            <span class="table-text-merge ">Due to difference climates and foods of the country visit there are very difficult for some tour member(s) to adapt it. Therefore we recommend our tour member(s) to bring a little bit of medicine like fever, cold, cough, headache drug, etc for your personal use. Plasters also need for external minor injuries. For those who have the particular disease like heart disease, high blood pressure, diabetes, etc we would like to remind you that please always bring the doctor medicine in your side for entire journey.
            <br>
            由于拜访国家的气候和食物的不同，因此可能会有一些团员会很难适应，所以我们建议您们能够携带一些普通的药物如发烧药，咳嗽药和头痛药等等。除此之外，您也能携带一些胶布以防轻微的外部伤。我们非常建议一些患有心脏病，高血压和糖尿病等等疾病的团员一定要携带医生给的药物以便确保您的安全。</span>
          </li>
        </ul>
      </tr>
    </table>                                   
    <br>
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Local Weather</strong>
            <span class="table-text-merge ">It would be best that you find out the local weather first before you travel to oversea. Below list of things may put under your consideration:
            <br>
            我们建议您在出国前先上网查询当地的天气。请考虑以下注明的事项。</span>       
            <br>
            <br>
            <span class="triple-space ">
            o <span class="bold">Skin & Face Lotion</span> and <span class="bold">Lip Gloss</span> for summer, winter & dry season
            </span>
            <br>
            <span class="triple-space">o 夏季，冬季和干燥季节建议携带皮肤和面部的乳液和护唇膏</span>
            <br>
            <span class="triple-space">
              o <span class="bold"> Long John, Winter Jacket, Scarf, Gloves,</span> and <span class="bold"> Boots </span> for winter season
            </span>
            <br>
            <span class="triple-space">
              o 冬季建议携带卫生衣，冬季外套，围巾，手套和靴子
            </span>
            <br>
            <span class="triple-space"> 
              o<span class="bold"> Sunglasses, Sun Oil</span> and <span class="bold"> Cap </span> for summer season
            </span>
            <br>
            <span class="triple-space">o 夏季建议携带太阳眼镜，防晒油和帽子</span>
            <br>
            <span class="triple-space">
              o<span class="bold"> Umbrella </span> and <span class="bold"> Raining Coat </span> for raining season
            </span>
            <br>
            <span class="triple-space">
              o 雨季建议携带雨伞和雨衣
          </li>
        </ul>
      </tr>
        </td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Shoes</strong>
            <span class="table-text-merge ">We recommend our tour member(s) to wear a proper and comfortable shoe when traveling oversea to avoid uncomfortable caused. It is not necessarily to wear the sport shoe. You can wear casual shoe as long as you feel very comfortable for your journey.
            <br>
            我们建议我们的团员在国外旅行社能够穿上适当和舒适的鞋子，以免照成不便。只要您在旅途中改到舒适，您可以穿休闲鞋，不一定要穿运动鞋。</span>
          </li>
        </ul>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Check-In Counter</strong>
            <span class="table-text-merge ">Please check with our tour consultant asks regarding the information of check-in counter. It would be possible to amend by airport management without prior notice.
            <br>
            请向我们的领队询问有关登机柜台的信息。这登机柜台的信息是由机场管理人员修改的，恕不另行通知。</span>
          </li>
        </ul>
      </tr>
    </table>  
    <br>     
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Assembly Timing & Returning Flight Timing</strong>
            <span class="table-text-merge ">You must know the assembly time for counter check-in and we advise you don’t be late check-in to avoid the counter closed. Normally 3 hours before need for international flight check-in and 2 hours need for domestic flight check-in. In fact, you can tell your family members come to pick up you from airport in the end of tour if you already know the returning flight timing.
            <br>
            您必须知道柜台办理登记手续的时间，我们建议您不要延迟办理登记手续，以免柜台关闭。通常国际航班需要登机前3个小时，国内航班需要登机前2个小时办理登记手续。如果您已经知道回程的时间，也可以告诉您的家人在旅行结束是到机场接您。</span>
          </li>
        </ul>
      </tr>
    </table>
  </div>
  <br>
  <div class="booking-room-pagebreak" >
    <br>          
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Hand Carry Luggage</strong>
            <span class="table-text-merge ">
              For aircraft security reasons, you are not allowed to bring the sharpen things like fruit knife, scissor, can opener, etc in your on board luggage. There is no choice which you can store these things in your check-in luggage. Each hand carry is limit to <span class="red"><% if @tour.hand_carry_weight.present?%><%= @tour.hand_carry_weight %><% else %> 5kg<% end %></span> weight.
              <br>
              出于飞机安全原因，您的手提行李不允许携带水果刀，剪刀，开瓶器等物品。如有需要，您可把这些物品寄存到托运行李中。每个手提行李重量不能超过<span class="red"><% if @tour.hand_carry_weight.present?%><%= @tour.hand_carry_weight.sub('kg','公斤') %><% else %> 5公斤<% end %></span>。
            <br><br>
              All liquids such as water, drinks, soups, syrups and other beverages, gels (including hair and shower gels), pastes (including toothpaste), mascara, lip gloss, creams, lotions, oils, perfumes, sprays, liquid/solid mixture gels not more than 100ml each shall be required to be carried in one standard re-sealable plastic bag with a maximum capacity not exceeding 1 liter. The plastic bag must be presented separately from your hand luggage. We recommend you to store these kinds of liquids in your check-in luggage if possible.
              <br>  
              请记得所有液体如水，饮料，汤，糖浆和其他饮料，凝胶（包括梳洗头发和身体的沐浴露），糊剂（包括牙膏），睫毛膏，唇彩，面霜，乳液，油，香水，喷雾剂，液体/固体混合物，每种凝胶不得超过100毫升等物品都需要装在一个标准的可重新密封的所料袋中且最大容量不超过1升。这个塑料袋必须与您的手提行李分开。如有可能，我们建议您能将这些液体存放在托运行李中。
          </li>
        </ul>
      </tr>
    </table> 
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold">Check-In Luggage & Lock</strong>
            <span class="table-text-merge">
              Each passenger can bring up to <span class="red"><% if @tour.luggage_quantity.present?%><%= @tour.luggage_quantity %><% else %>2<% end %></span> quantity of check-in luggage with <span class="red"><% if @tour.luggage_weight.present?%><%= @tour.luggage_weight %><% else %>30kg<% end %></span> combine weight limit. Please make sure the check-in luggage that store your value things always locked all the time. Please do not place your passport, camera & laptop inside the check-in luggage.
              <br>
              每位乘客最多可携带 <span class="red"><% if @tour.luggage_quantity.present?%><%= @tour.luggage_quantity %><% else %>2<% end %></span>个托运行李，行李的限额为<span class="red"><% if @tour.luggage_weight.present?%><%= @tour.luggage_weight.sub('kg','公斤') %><% else %>25公斤<% end %></span>。请确保您存放贵重物品的的托运行李一直都是被锁着。请不要把护照，相机和笔记本电脑放在托运行李里面。
          </li>
        </ul>
      </tr>
    </table> 
    <br>
    <table>
      <tr>
        <ul>
          <li>
            <strong class="table-title-text-merge bold"> Save Tour Guide & Emergency Contact No. <% if @tour.confirmation_emergency_contact.present? %><%= @tour.confirmation_emergency_contact%><% end %>
            </strong>
            <span class="table-text-merge">
              Before departure please save the tour guide emergency & contact no. <% if @tour.confirmation_emergency_contact.present? %><%= @tour.confirmation_emergency_contact%><% end %> in your hand phone to convenience you call up for assistance whether it is in airport or during tour.
              <br>
              请您在出发前保存导游和紧急联系人的电话号码以方便您无论是在机场还是旅途中都能寻求帮助。
            </span>
          </li>
        </ul>
      </tr>
    </table>
    <table>
      <tr>
        <td class="table-markup">
          <span class="markdownViewSection" colspan="2" data-content="<%= @tour.itinerary.tour_confirmation_remarks%>">
          </span>
        </td> 
      </tr>
    </table>
  </div>
</page>