<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tour Calendar
<% end %>

<%= render 'shared/single_panel', card_title: 'Cut Off Tours Calendar' do %>
  <%= link_to('View All Tours', admin_tours_path, class: 'btn btn-primary')%>
  <%= link_to 'Insurance Calendar', calendar_admin_tours_path(insurance: true), class: 'btn btn-warning' %>
  <br><br>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag calendar_admin_tours_path, method: 'get' do %>
        <%= hidden_field_tag :cut_off, 'true' %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <%= month_calendar attribute: :cut_off_start, events: @tours do |date, tours| %>
    <strong><h5><%= date.strftime("%d %^b %Y") %></h5></strong>

    <% tours.sort_by { |p| p.code }.each do |tour| %>
      <div>
        <div class="trim cut-off" data-toggle="tooltip" data-placement="top" title="<%= tour.code %>"><%= tour.code %></div>
      </div>
    <% end %>
  <% end %>
<% end %>