<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tours
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Tour' do %>
  <%= form_for [:admin, @tour], html: { role: "form", class: "reminder-departure-form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @tour } %>
    <div class="row mt20 mb20">
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :Tour_code, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-5">
        <%= f.text_field :code, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <%= f.label :Status %>
      </div>
       <div class="custom-form-group form-group col-md-3">
        <%= f.select :active, options_for_select([["Yes", "true"], ["No", "false"]], selected: f.object.active), {}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :caption_english, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-5">
        <%= f.text_area :caption, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :departure_date,  class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.date_field :departure_date, class: 'custom-form-control form-control reminder-departure' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :Caption_Chinese, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-5">
        <%= f.text_area :other_caption, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-sm-2">
        <%= f.label :cut_off_date, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.date_field :cut_off_date, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <%= f.label :category, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-5">
        <%= f.select :category, options_for_select(Tour.categories.sort.to_h.collect { |s| [s[0].gsub(/_/, ' ').gsub(/(\d)/, '(\1)'), s[0]] }, selected: f.object.category), {include_blank: true}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :early_bird_date %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.date_field :early_bird_date, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :contient_country, class: 'required' %>
      </div> 
      <div class="custom-form-group form-group col-md-2">
        <%= f.text_field :contient_country, class: 'custom-form-control form-control', data:{ provide: 'typeahead', source: @autocomplete } %>
      </div>
      <div class="custom-form-group form-group col-md-1">
        <%= f.label :zone %>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <%= f.select :zone, options_for_select(Tour::ZONE, selected: f.object.zone), {include_blank: true}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <%= f.label :deposit, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :deposit, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :itinerary_code, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <%= f.text_field :itinerary_code, class: 'custom-form-control form-control', placeholder: 'Key in the code' %>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <% if @tour.itinerary.present? %>
          <%= link_to 'View Itinerary', @tour.itinerary.file.url, target: '_blank' %>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-md-12">
      </div>
      <div class="text-capitalize field custom-form-group form-group col-md-2">
        <%= f.label :internal_reference %>
      </div>
      <div class="custom-form-group form-group col-md-5">
        <%= f.text_area :internal_reference, class: 'form-control', rows: "3" %>
      </div>
      <div class="single-line col-xs-12 mt20">
      </div> 
    </div> 

    <div class="row mt20 mb20">
      <% if @tour.is_cruise %>
        <%= render_cruise_seat_price_fields(@tour, f) %>
        <%= f.hidden_field :is_cruise, value: :true %>
        <div class="single-line col-xs-12 mb20">
        </div> 
      <% end %>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :guaranteed_departure %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.select :guaranteed_departure, options_for_select([["Yes", "true"], ["No", "false"]], selected: f.object.guaranteed_departure), {}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :guaranteed_departure_seats %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :guaranteed_departure_seats, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :guaranteed_departure_flag %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.select :guaranteed_departure_flag, options_for_select([["Yes", "true"], ["No", "false"]], selected: f.object.guaranteed_departure_flag), {}, {class: 'custom-form-control form-control'} %>
      </div>   
      <div class="text-capitalize custom-form-group form-group col-md-12">
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :tour_leader %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.select :tour_leader_id, options_for_select([[" "," "]] + [["TOUR LEADER N/A", "TOUR LEADER N/A"]] + @tour_leader.map{|b| ["#{b.name}", b.id] } ,selected: f.object.tour_leader_id), {include_blank: true}, { class: 'custom-form-control form-control guest_selection' } %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :tour_leader_remark %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.text_area :tour_leader_remark, class: 'custom-form-control form-control' %>
      </div>
      <div class="single-line col-xs-12 mt20">
      </div> 
    </div>
    
    <div class="row mt20 mb20">
      <% if @tour.is_cruise %>
        <%= f.hidden_field :is_cruise, value: :true %>
      <% else %>
        <div class="text-capitalize custom-form-group form-group col-md-3">
          <%= f.label :ground_price %>
        </div>
        <div class="custom-form-group form-group col-md-3">
          <%= f.number_field :ground_price, class: 'custom-form-control form-control' %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-md-3">
          <%= f.label :ground_price_flag %>
        </div>
        <div class="custom-form-group form-group col-md-3">
          <%= f.select :ground_price_flag, options_for_select([["Yes", "true"], ["No", "false"]], selected: f.object.ground_price_flag), {}, {class: 'custom-form-control form-control'} %>
        </div> 
      <% end %>   
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :single_supplement, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :single_supplement_price, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= f.label :misc_fee, "Miscellaneous fees" %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :misc_fee, class: 'custom-form-control form-control' %>
      </div>     
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label "Visa fee (-)" %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :visa_fee, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label "Compulsory tour (+)" %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :compulsory_additional_fee, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label "Subtract others (-)" %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :subtract_others, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label "Add-on others (+)" %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :addon_others, class: 'custom-form-control form-control' %>
      </div>
      <div class="single-line col-xs-12 mt20">
      </div> 
    </div>

    <div class="row">
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :total_seats, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :total_seats, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :max_booking_seats, class: 'required' %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :max_booking_seats, class: 'custom-form-control form-control' %>
      </div>
    </div>

    <div class="row mt20 mb20">
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label "Child Price (Twin) %" %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :child_twin_percentage, class: 'custom-form-control form-control'%>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label "Child Price (With Extra Bed)%"%>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :child_with_bed_percentage, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label "Child Price (Without Bed)%" %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :child_no_bed_percentage, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= f.label :infant_price %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= f.number_field :infant_price, class: 'custom-form-control form-control' %>
      </div>
      <div class="single-line col-xs-12 mt10">
      </div> 
    </div>
    <div class="row">
      <div class="text-capitalize text-align-center custom-form-group form-group col-sm-12"> 
        <%= f.label :Rooming_List_Details %>
      </div>
      <div class="mt10 mb10 col-sm-12">
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :land_staff %>
      </div>
      <div class="custom-form-group form-group col-md-4">
        <%= f.text_field :land_staff, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :land_company %>
      </div>
      <div class="custom-form-group form-group col-md-4">
        <%= f.text_area  :land_company, class: 'custom-form-control form-control' %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :guide_language %>
      </div>
      <div class="custom-form-group form-group col-md-4">
        <%= f.select :guide_languages, options_for_select(Tour::LANGUAGES, selected: f.object.guide_languages), {include_blank: true}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <%= f.label :Pnr %>
      </div>
      <div class="custom-form-group form-group col-md-4">
        <%= f.text_field :pnrs, value: @tour.join_pnrs, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-12">
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :Tipping %>
      </div>
      <div class="custom-form-group form-group col-md-4">
        <%= f.text_area :tipping, class: 'form-control', rows: "2" %>
      </div> 
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :Letter_head_image%>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <% if @tour.letter_head_image.present? %>
          <%= link_to 'View File', @tour.letter_head_image.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :letter_head_image, class: 'custom-form-control form-control' %>
      </div>   
      <div class="text-capitalize custom-form-group form-group col-md-2">
        <%= f.label :welcome_board%>
      </div>
      <div class="custom-form-group form-group col-md-4">
        <%= f.text_area  :welcome_board, class: 'form-control', rows: "3"  %>
      </div> 
      <div class="custom-form-group form-group col-md-2 text-capitalize">
        <%= f.label :operator_remark %>
      </div>
      <div class="custom-form-group form-group col-md-10">     
        <%= f.text_field :operator_remarks, value: @tour.join_operator_remarks, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'}%>
      </div>
      <div class="single-line col-xs-12 mt10">
      </div> 
    </div>
    <div class="row">
      <br>
      <div class="text-capitalize text-align-center custom-form-group form-group col-sm-12"> 
        <%= f.label :Latest_Tour_Confirmation %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :assembly_time %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.time_field :assembly_time, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :meet_up_point %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :meet_up_point, class: 'custom-form-control form-control',placeholder: 'ex: Counter G'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :Tour_Guide_Name  %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :tour_guide_name, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :Tour_Guide_Chinese_Name  %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :tour_guide_chinese_name, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :Tour_Guide_Phone %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :tour_guide_phone, class: 'custom-form-control form-control', placeholder: 'ex : 012-3456789'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :hand_carry_weight %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :hand_carry_weight, class: 'custom-form-control form-control', placeholder: 'ex : 7kg'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :luggage_weight %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :luggage_weight, class: 'custom-form-control form-control', placeholder: 'ex : 30kg'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :luggage_quantity %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :luggage_quantity, class: 'custom-form-control form-control' ,placeholder: 'ex : TWO'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :Emergency_Contact %>
      </div>      
      <div class="custom-form-group form-group col-md-3">    
       <%= f.text_field :confirmation_emergency_contact, class: 'custom-form-control form-control', placeholder: 'ex : 012-3456789'%>
      </div>
    </div>
    <div class="row">
      <div class="single-line col-xs-12 mb20 mt10">
      </div> 
      <div class="text-capitalize text-align-center custom-form-group form-group col-sm-12">
        <%= f.label :child_fares %><br>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.check_box :child_fare_apply_normal_price %>
        <%= f.label :Normal_Price %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.check_box :child_fare_apply_early_bird_price %>
        <%= f.label :Early_Bird_Price %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.check_box :child_fare_apply_specialoffer_price %>
        <%= f.label :special_offer_price %>
      </div>
      <div class="custom-form-group form-group col-sm-4"> 
        <%= f.check_box :child_fare_apply_specialdeal_price %>
        <%= f.label :special_deal_price %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
         <%= f.check_box :child_fare_apply_superpromo_price %>
         <%= f.label :super_promo_price %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.check_box :child_fare_apply_promo_price %>
        <%= f.label :promo_price %>
      </div>
      <div class="single-line col-xs-12 mb20 mt20">
      </div> 
    </div>

    <% if @tour.is_cruise %>
      <%= hidden_field :is_cruise, value: :true %>
    <% else %> 
      <div class="row mt20 mb20">
        <div class="text-capitalize text-align-center custom-form-group form-group col-xs-12 ">
          <%= f.label "PRICING DETAILS*" %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "Adult / Child" %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "Adult (Twin)" %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "Child (twin)%" %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "Child (with Extra_Bed)%" %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "Child (without Bed) %" %>
        </div>
        <div class="text-capitalize text-align-center custom-form-group form-group col-xs-2">
          <%= f.label :Infant %>
        </div>
      </div>
      <div class="single-line col-xs-12">
      </div> 
      <div class="row grey_fields">
        <div class="custom-form-group form-group col-xs-2">
          <%= f.label "Normal (Highest)" %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :normal_price, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :infant_price, class: 'custom-form-control form-control',disabled: true %>
        </div>
        <div class="text-uppercase custom-form-group form-group col-xs-2">
          <%= f.label "DTA" %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_normal_adult, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_normal_child_twin, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_normal_child_with_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_normal_child_no_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "No of Seat (Max)"%>
        </div>
        <div class="custom-form-group form-group col-xs-8">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>  
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "", class: 'custom-form-control form-control', disabled: true %>
        </div>

        <% 9.times do |iterate| %>
          <div class="custom-form-group form-group col-xs-2">
            <%= f.label "Normal#{iterate+1} #{(iterate + 1) == 1 ? "(Cheapest)" : ""}" %>
          </div>
          <div class="custom-form-group form-group col-xs-2">
            <%= f.number_field "normal#{iterate+1}_price", class: 'custom-form-control form-control' %>
          </div>
          <div class="custom-form-group form-group col-xs-2">
            <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-xs-2">
            <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-xs-2">
            <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-xs-2">
            <%= f.number_field :infant_price, class: 'custom-form-control form-control',disabled: true %>
          </div>
          <div class="text-capitalize custom-form-group form-group col-xs-2">
            <%= f.label "No of Seat (Max)"%>
          </div>
          <div class="custom-form-group form-group col-xs-8">
            <%= f.number_field "normal#{iterate+1}_seats", class: 'custom-form-control form-control' %>
          </div>  
          <div class="custom-form-group form-group col-xs-2">
            <%= text_field_tag '',  "", class: 'custom-form-control form-control', disabled: true %>
          </div>
        <% end %>

      </div>
      <div class="single-line col-xs-12 mb10">
      </div> 
      <div class="row pink_fields">
        <div class="custom-form-group form-group col-xs-2 col-sm-2">
          <%= f.label :Promo %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :promo_price, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :infant_price, class: 'custom-form-control form-control',disabled: true %>
        </div>
        <div class="text-uppercase custom-form-group form-group col-xs-2">
          <%= f.label "DTA" %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_promo_adult, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_promo_child_twin, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_promo_child_with_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_promo_child_no_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "No of Seat (Max)"%>
        </div>
        <div class="custom-form-group form-group col-xs-8">
          <%= f.number_field :promo_seats, class: 'custom-form-control form-control' %>
        </div>  
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="single-line col-xs-12 mb5">
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2 hidden-table-text">
          <%= f.label :Special_Offer %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :specialoffer_price, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :infant_price, class: 'custom-form-control form-control',disabled: true %>
        </div>
        <div class="text-uppercase custom-form-group form-group col-xs-2">
          <%= f.label "DTA" %>
        </div>
         <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialoffer_adult, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialoffer_child_twin, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialoffer_child_with_bed, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialoffer_child_no_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "No of Seat (Max)" %>
        </div>
        <div class="custom-form-group form-group col-xs-8 ">
          <%= f.number_field :specialoffer_seats, class: 'custom-form-control form-control' %>
        </div>  
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "", class: 'custom-form-control form-control', disabled: true %>
        </div>
      </div>
      <div class="single-line col-xs-12 mb5">
      </div>  
      <div class="row yellow_fields"> 
        <div class="text-capitalize custom-form-group form-group col-xs-2 hidden-table-text">
          <%= f.label :Special_Deal %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :specialdeal_price, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :infant_price, class: 'custom-form-control form-control',disabled: true %>
        </div>
        <div class="text-uppercase custom-form-group form-group col-xs-2">
          <%= f.label "DTA" %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialdeal_adult, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialdeal_child_twin, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialdeal_child_with_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_specialdeal_child_no_bed, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "No of Seat (Max)"%>
        </div>
        <div class="custom-form-group form-group col-xs-8">
          <%= f.number_field :specialdeal_seats, class: 'custom-form-control form-control' %>
        </div>  
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="single-line col-xs-12 mb5">  
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2 hidden-table-text">
          <%= f.label :Super_Promo%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :superpromo_price, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :infant_price, class: 'custom-form-control form-control',disabled: true %>
        </div>
        <div class="text-uppercase custom-form-group form-group col-xs-2">
          <%= f.label "DTA" %>
        </div>
        <div class="custom-form-group form-group col-xs-2 ">
          <%= f.number_field :dta_superpromo_adult, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_superpromo_child_twin, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_superpromo_child_with_bed, class: 'custom-form-control form-control'%>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_superpromo_child_no_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "No of Seat (Max)"%>
        </div>
        <div class="custom-form-group form-group col-xs-8">
          <%= f.number_field :superpromo_seats, class: 'custom-form-control form-control' %>
        </div>  
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="single-line col-xs-12 mb5">
        </div>
        <div class="text-capitalize text-capitalize custom-form-group form-group col-xs-2 hidden-table-text">
          <%= f.label :early_bird_price %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :early_bird_price, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', "", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group  col-xs-2">
          <%= f.number_field :infant_price, class: 'custom-form-control form-control',disabled: true%>
        </div>
        <div class="text-uppercase custom-form-group form-group col-xs-2">
          <%= f.label "DTA" %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_early_bird_adult, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_early_bird_child_twin, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_early_bird_child_with_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= f.number_field :dta_early_bird_child_no_bed, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= f.label "No of Seat (Max)"%>
        </div>
        <div class="custom-form-group form-group col-xs-8">
          <%= f.number_field :early_bird_seats, class: 'custom-form-control form-control'%>
        </div>  
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "", class: 'custom-form-control form-control', disabled: true %>
        </div>
      </div>
      <div class="single-line col-xs-12 ">
      </div>
    <% end %>
    <div class="row mt20">    
      <div class="custom-form-group form-group col-md-2">
        <%= f.label :highlight %>
      </div>
      <div class="custom-form-group form-group col-md-10">
        <%= f.text_field :highlight, class: 'form-control'%>
      </div>
      <div class="custom-form-group form-group col-md-12">
      </div>    
      <div class="custom-form-group form-group col-md-2">
        <%= f.label :remark %>
      </div>
      <div class="custom-form-group form-group col-md-10">
        <%= f.text_area :remark, class: 'form-control', rows: "3" %>
      </div>
      <div class="single-line col-xs-12 mb20 mt20">
      </div> 

      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :tour_accomodations %>
        <%= f.fields_for :tour_accomodations, @tour.tour_accomodations.order(:id) do |tour_accomodations| %>
          <%= render 'tour_accomodation_fields', f: tour_accomodations %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Accomodation', f, :tour_accomodations %>
        </div>
      </div>
    
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :flights %>
        <%= f.fields_for :tour_flights, @tour.tour_flights.order(:id) do |tour_flight| %>
          <%= render 'tour_flight_fields', f: tour_flight %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Flight', f, :tour_flights %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :reminders %>
        <%= f.fields_for :reminders, @tour.reminders.order(:id) do |reminder| %>
          <%= render 'reminder_fields', f: reminder %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Reminder', f, :reminders %>
        </div>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
