<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-bed fa-fw"></i> Booking Rooms
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Booking Rooms' do %>
  <%= form_for [:admin, @tour], html: { role: "form" }, url: { action: "update_booking_rooms", method: "post" } do |f| %>
    <div class="row" id="booking_room_form">

      <div class="custom-form-group form-group col-sm-12">
        <h3>Single Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :single_room) %>
        <%= f.fields_for :booking_rooms, @tour.booking_rooms.where(room_type: :single_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'single_booking_room_fields', f: br %>
          </div>
        <% end %>

        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add single room', f, :booking_rooms, partial: 'single_booking_room_fields', class: 'btn btn-warning', id: 'add_single_room' %>
        </div>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <h3>Double Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :double_room) %>
        <%= f.fields_for :booking_rooms, @tour.booking_rooms.where(room_type: :double_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'double_booking_room_fields', f: br %>
          </div>
        <% end %>

        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add double room', f, :booking_rooms, partial: 'double_booking_room_fields', class: 'btn btn-warning', id: 'add_double_room' %>
        </div>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <h3>Twin Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :twin_room) %>
        <%= f.fields_for :booking_rooms, @tour.booking_rooms.where(room_type: :twin_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'twin_booking_room_fields', f: br %>
          </div>
        <% end %>
        
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add twin room', f, :booking_rooms, partial: 'twin_booking_room_fields', class: 'btn btn-warning', id: 'add_twin_room' %>
        </div>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <h3>Triple Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :triple_room) %>
        <%= f.fields_for :booking_rooms, @tour.booking_rooms.where(room_type: :triple_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'triple_booking_room_fields', f: br %>
          </div>
        <% end %>
        
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add triple room', f, :booking_rooms, partial: 'triple_booking_room_fields', class: 'btn btn-warning', id: 'add_triple_room' %>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="table-responsive mt20 scroll-bar">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th class="number">#</th>
                <th class="number">Grouping</th>
                <th class="code">Name</th>
                <th>Booked by</th>
                <% if @tour.is_cruise? %>
                  <th>Cruise Room/ID</th>
                <% end %>
                <th>Passport No</th>
                <th>Visa No</th>
                <th class="number">Admin Remark</th>
                <th class="number">Remark</th>
                <th class="number">Rooming Remark</th>
              </tr>
            </thead>
            <tbody>
              <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*Booking::ADMIN_BOOKINGS_PER_PAGE+1 : 1 %>
              <% @tour.bookings.each_with_index do |booking, index| %>
                <tr>
                  <td class="number"><%= index + start_seq %></td>
                  <% if booking.booking_group.exported? %>
                    <td class="expoted_info">
                      <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group), title: booking.booking_group.exported_info %>
                    </td>
                  <% else %>
                    <td>
                      <%= booking.booking_group.code %>
                    </td>
                  <% end %>
                  <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.name %>"><%= booking.name %></div></td>
                  <td><%= booking.booked_by_detail %></td>
                  <td><%= booking.passport_number%></td>  
                  <td><%= booking.visa_no%></td> 
                  <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.admin_remark %>"><%= booking.admin_remark %></div></td>
                  <td>
                    <%= render_insurance_icon(booking) %>
                    <%= render_passport_icon(booking) %>
                    <span class="trim code" data-toggle="tooltip" data-placement="top" title="<%= render_remark_infant_indicator(booking, true) %>"><%= render_remark_infant_indicator(booking) %>
                    </span>
                  </td>
                  <td><%= booking.operator_remark %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', booking_rooms_admin_tour_path(@tour), class: 'btn' %>
  <% end %>
<% end %>