<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tours
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Tours Departure: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present? %>
  <% card_title = "View Tours Departure: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Tours Departure: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Tours' %>
<% end %>
<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to('New Tour', new_admin_tour_path, class: 'btn btn-primary')%>
  <%= link_to('New Cruise Tour', new_admin_tour_path(cruise: true), class: 'btn btn-primary')%>
  <%= link_to('Manage Itinerary', admin_itineraries_path, class: 'btn btn-primary')%>
  <%= link_to('Tour Booking Summary', tour_booking_summary_admin_booking_groups_path, class: 'btn btn-primary') %>
  <%= link_to('Uncertainty Tours', uncertainty_admin_tours_path, class: 'btn btn-primary')%>
  <%= link_to('Tour Calendar', calendar_admin_tours_path(cut_off: true), class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= link_to(@today.prev_month(2).strftime("%b %Y"), admin_tours_path(begin: @today.prev_month(2).beginning_of_month.strftime("%F"), end: @today.prev_month(2).end_of_month.strftime("%F")), class: 'btn btn-default')%>
      <%= link_to(@today.prev_month.strftime("%b %Y"), admin_tours_path(begin: @today.prev_month.beginning_of_month.strftime("%F"), end: @today.prev_month.end_of_month.strftime("%F")), class: 'btn btn-default')%>
      <%= link_to(@today.strftime("%b %Y"), admin_tours_path(begin: @today.beginning_of_month.strftime("%F"), end: @today.end_of_month.strftime("%F")), class: 'btn btn-default')%>
      <%= link_to(@today.next_month.strftime("%b %Y"), admin_tours_path(begin: @today.next_month.beginning_of_month.strftime("%F"), end: @today.next_month.end_of_month.strftime("%F")), class: 'btn btn-default')%>
      <%= link_to(@today.next_month(2).strftime("%b %Y"), admin_tours_path(begin: @today.next_month(2).beginning_of_month.strftime("%F"), end: @today.next_month(2).end_of_month.strftime("%F")), class: 'btn btn-default')%>
      <%= link_to(@today.next_month(3).strftime("%b %Y"), admin_tours_path(begin: @today.next_month(3).beginning_of_month.strftime("%F"), end: @today.next_month(3).end_of_month.strftime("%F")), class: 'btn btn-default')%>
      <%= link_to("After "+@today.next_month(3).strftime("%b %Y"), admin_tours_path(begin: @today.next_month(4).beginning_of_month.strftime("%F")), class: 'btn btn-default')%>
      <%= link_to("All", admin_tours_path, class: 'btn btn-default')%>
    </div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_tours_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        <label class="checkbox-inline">
          <%= check_box_tag :tour_seats_summary, 'true', params[:tour_seats_summary] %> Tour Seats Summary Table
        </label>
        <br>
        <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
        <label class="checkbox-inline">
          <%= check_box_tag :only_booking_tour, 'true', params[:only_booking_tour] %> Only Booking Tours
        </label>
        <label class="checkbox-inline">
          <%= hidden_field_tag :only_active_tour, 'false' %>
          <%= check_box_tag :only_active_tour, 'true', params[:only_active_tour].blank? || params[:only_active_tour] == 'true' %> Only Active
        </label>
          <%= select_tag :sorting_type, options_for_select(Tour::SORTING.keys.product([' ASC', ' DESC']).map(&:join).collect { |s| [s, s] }, selected: params[:sorting_type]), prompt: ' Select Sorting Type', class: 'custom-form-control'%>
          
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <% if @total_seats.present? && @bookings_count.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3 mt20">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>Total Seats </td>
              <td><%= number_with_delimiter @total_seats %></td>
            </tr>
            <tr>
              <th>Total Bookings </td>
              <td><%= number_with_delimiter @bookings_count %></td>
            </tr>
            <tr>
              <th>Total Vacants </td>
              <td><%= number_with_delimiter @total_seats - @bookings_count %></td>
            </tr>
            <tr>
              <th>Bookings Percentage </td>
              <td><%= (@bookings_count*100/@total_seats.to_f).round(2) %>%</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="code">Code</th>
          <th class="cation">Caption</th>
          <th class="caption">Highlight</th>
          <th>Destination</th>
          <th>Category</th>
          <th>Price</th>
          <th>Seats(R)</th>
          <th>BK(R)</th>
          <th>VC(R)</th>
          <th>Departure</th>
          <th>GD</th>
          <th>Active</th>
          <th>Internal Reference</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*Tour::ADMIN_TOURS_PER_PAGE+1 : 1 %>
        <% @tours.each_with_index do |tour, index| %>
          <tr>
            <td class="number"><%= index + start_seq %></td>
            <td class="code"><div class="trim code"><%= link_to tour.code, admin_tour_path(tour), target: '_blank' %></div></td>
            <td class="caption"><div class="trim caption" data-toggle="tooltip" data-placement="top" title="<%= tour.caption+' '+tour.other_caption%>"><%= tour.caption %></div></td>
            <td class="highlight"><div class="trim highlight" data-toggle="tooltip" data-placement="top" title="<%= tour.highlight %>"><%= tour.highlight %></div></td>
            <td><%= tour.contient_country %></td>
            <td><%= tour.category_display %></td>
            <td><%= tour.normal_price %></td>
            <% if tour.is_cruise? %>
              <td><%= tour.all_total_seats %>/(<%= tour.all_total_rooms %>)</td>
              <td><%= tour.bookings.visible.count %>/(<%= tour.booking_cruise_rooms.visible.count %>)</td>
              <td><%= tour.all_total_seats - tour.bookings.visible.count %>/(<%= tour.all_total_rooms - tour.booking_cruise_rooms.visible.count %>)</td>
            <% else %>
              <td><%= tour.all_total_seats %></td>
              <td><%= tour.bookings.visible.count %></td>
              <td><%= tour.all_total_seats - tour.bookings.visible.count %></td>
            <% end %>
            <td><%= tour.departure_date.try(:strftime, "%d/%m/%Y") %></td>
            <td><%= tour.guaranteed_departure_flag ? "Yes" : "No" %></td>
            <td><%= tour.active ? "Yes" : "No" %></td>
            <td><%= tour.internal_reference %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @tours %>
<% end %>