<% content_for :head do %>
  <title><%= @tour.code %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tour Insurance
<% end %>

<%= render 'shared/single_panel', card_title: "Tour Insurance Detail: #{@tour.code}" do %>
  <% if @exported_bookings.present? || @non_exported_bookings.present? %>
    <%= link_to 'Print', insurance_admin_tour_path(@tour, print: true), class: 'btn btn-primary', target: '_blank' %>
  <% else %>
    <h5>There's no insurance information available for this tour.</h5>
  <% end %>

  <% if @exported_bookings.present? %>
    <div class="col-sm-12">
      <div class="table-responsive mt20">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="5">Exported Insurance</th>
            </tr>
            <tr>
              <th class="number">No.</th>
              <th class="number">Grouping</th>
              <th>Booked by</th>
              <th class="code">Name</th>
              <th class="number">Insurance Certificate</th>
            </tr>
          </thead>
          <tbody>
            <% @exported_bookings.each_with_index do |booking, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <% if booking.booking_group.exported? %>
                  <td class="expoted_info">
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group), title: booking.booking_group.exported_info %>
                  </td>
                <% else %>
                  <td>
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group) %>
                  </td>
                <% end %>
                <td><%= booking.booked_by_detail %></td>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.name %>"><%= booking.name %></div></td>
                <td><%= link_to booking.policy_number, booking.insurance_cert %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <br><br>
  <% if @non_exported_bookings.present? %>
    <div class="col-sm-12">
      <div class="table-responsive mt20">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="5">Non-Exported Insurance</th>
            </tr>
            <tr>
              <th class="number">No.</th>
              <th class="number">Grouping</th>
              <th>Booked by</th>
              <th class="code">Name</th>
              <th class="number">Insurance Certificate</th>
            </tr>
          </thead>
          <tbody>
            <% @non_exported_bookings.each_with_index do |booking, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <% if booking.booking_group.exported? %>
                  <td class="expoted_info">
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group), title: booking.booking_group.exported_info %>
                  </td>
                <% else %>
                  <td>
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group) %>
                  </td>
                <% end %>
                <td><%= booking.booked_by_detail %></td>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.name %>"><%= booking.name %></div></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>