<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tour Calendar
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Insurance Calendar' do %>
  <%= link_to('View All Tours', admin_tours_path, class: 'btn btn-primary')%>
  <%= link_to 'Cut Off Tours Calendar', calendar_admin_tours_path(cut_off: true), class: 'btn btn-info' %>
  <br><br>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag calendar_admin_tours_path, method: 'get' do %>
        <%= hidden_field_tag :insurance, 'true' %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <%= month_calendar attribute: :calendar_start, events: @tours do |date, tours| %>
    <strong><h5><%= date.strftime("%d %^b %Y") %></h5></strong>

    <% tours.sort_by { |p| p.code }.each do |tour| %>
      <div>
        <%= render_tour_code_calendar(tour) %>
      </div>
    <% end %>
  <% end %>
<% end %>