<% content_for :head do %>
  <title><%= @tour.code %> | <%= @app_name %></title>
<% end %>
<page size="landscape" id="print-order">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Tour Code:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.code %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Caption:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.caption %><br>
        <%= @tour.other_caption %>
      </div>
    </div>
  </div>
  <br><br>
  <% if @exported_bookings.present? %>
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="6">Exported Insurance</th>
            </tr>
            <tr>
              <th>No.</th>
              <th>Grouping</th>
              <th>Booked by</th>
              <th>Booked Date</th>
              <th>Name</th>
              <th>Insurance Certificate</th>
            </tr>
          </thead>
          <tbody>
            <% @exported_bookings.each_with_index do |booking, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= booking.booking_group.code %></td>
                <td><%= booking.booked_by_detail %></td>
                <td><%= booking.created_at.try(:strftime, "%d/%m/%Y") %></td>
                <td><%= booking.name %></td>
                <td><%= link_to booking.policy_number, booking.insurance_cert %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <br><br>
  <% if @non_exported_bookings.present? %>
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th colspan="6">Non-Exported Insurance</th>
            </tr>
            <tr>
              <th>No.</th>
              <th>Grouping</th>
              <th>Booked by</th>
              <th>Booked Date</th>
              <th>Name</th>
              <th>Insurance Certificate</th>
            </tr>
          </thead>
          <tbody>
            <% @non_exported_bookings.each_with_index do |booking, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= booking.booking_group.code %></td>
                <td><%= booking.booked_by_detail %></td>
                <td><%= booking.created_at.try(:strftime, "%d/%m/%Y") %></td>
                <td><%= booking.name %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</page>