<% content_for :head do %>
  <title><%= @tour.code %> | <%= @app_name %></title>
<% end %>
<page size="landscape" id="print-order">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Tour Code:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.code %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Caption:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.caption %><br>
        <%= @tour.other_caption %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Departure:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.departure_date.try(:strftime, "%d/%m/%Y %a") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Prices:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.normal_price %>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="table-responsive mt10">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>From To</th>
            <th>Flight No</th>
            <th>Internal Remark</th>
          </tr>
        </thead>
        <tbody>
          <% @tour.tour_flights.order(:departure).each do |tour_flight| %>
            <tr>
              <td><%= tour_flight.departure.try(:strftime, "%d/%m/%Y %R %a") %></td>
              <td><%= tour_flight.arrival.try(:strftime, "%d/%m/%Y %R %a") %></td>
              <td><%= tour_flight.from_to %></td>
              <td><%= tour_flight.flight_no %></td>
              <td><%= tour_flight.internal_remark %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @bookings.present? %>
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Receipt</th>
              <th>Sales rep</th>
              <th>Booked at</th>
              <th>Ref</th>
              <% if @tour.is_cruise? %>
                <th>Cruise Room/ID</th>
              <% end %>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.name %></td>
                <td><%= render_price_color(booking.price, booking.price_type) %></td>
                <td><%= booking.booking_group.all_receipt_no %></td>
                <td><%= booking.booked_by %></td>
                <td><%= booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><%= booking.id %></td>
                <% if @tour.is_cruise? %>
                  <td><%= booking.booking_cruise_room.room_type_text %>/<%= booking.booking_cruise_room.id %></td>
                <% end %>
                <td><%= render_remark_infant_indicator(booking) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</page>