<% content_for :head do %>
  <title><%= @tour.code %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tours
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Detail' do %>
  <%= link_to 'View All Tours', admin_tours_path, class: 'btn btn-primary' %>

  <%= link_to 'Duplicate', '', class: 'btn btn-primary', data: { toggle: 'modal', target: '#admin-duplicate-tour-modal', keyboard: "true" } %>
  <% if @tour.active? && @tour.vacant_seats_available? %>
    <%= link_to 'Add Booking', '', class: 'btn btn-success', data: { toggle: 'modal', target: '#admin-new-booking-modal', keyboard: "true" } %>
  <% else %>
    <%= link_to 'Add Booking', '', class: 'btn btn-success', disabled: true %>
  <% end %>
  <%= link_to 'Assign Booking Rooms', booking_rooms_admin_tour_path(@tour), class: 'btn btn-primary' %>
  <%= link_to 'Print', admin_tour_path(@tour, print: true), class: 'btn btn-primary', target: '_blank' %>
  <%= link_to 'Confirmation', confirmation_admin_tour_path(@tour), class: 'btn btn-primary' %>
  <%= link_to 'Insurance', insurance_admin_tour_path(@tour), class: 'btn btn-warning' %>
  <button class="btn btn-default btn-copy-to-clipboard" data-clipboard-text="<%= @tour.summary(true) %>">
    Copy to clipboard
  </button>

  <div class="row mt20 mb20">
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Tour_code %>
    </div>
    <div class="custom-form-group form-group col-md-5">
      <%= text_field_tag '', @tour.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Status %>
    </div>
     <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.active ? 'Active' : 'Deactive', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-sm-2">
      <%= label_tag :caption_english %>
    </div>
    <div class="custom-form-group form-group col-md-5">
      <%= text_area_tag '', @tour.caption, class: 'custom-form-control form-control', rows: "1" , disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2 ">
      <%= label_tag :departure_date %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.departure_date.try(:strftime, "%d%b%Y"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Caption_Chinese %>
    </div>
    <div class="custom-form-group form-group col-md-5">
      <%= text_area_tag '',  @tour.other_caption, class: 'custom-form-control form-control', rows: "1" , disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :cut_off_date %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.cut_off_date.try(:strftime, "%d%b%Y"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :category %>
    </div>
    <div class="custom-form-group form-group col-md-5">
      <%= text_field_tag '', @tour.category_display, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Early_Bird_Date %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.early_bird_date.present? ? @tour.early_bird_date.strftime("%d%b%Y") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :contient_country %>
    </div> 
    <div class="custom-form-group form-group col-md-2">
      <%= text_field_tag '', @tour.contient_country, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-1">
      <%= label_tag :zone %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= text_field_tag '', @tour.zone, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag "Department"%>
    </div> 
    <% if @tour.itinerary.present? %>
      <div class="custom-form-group form-group col-md-3">
        <%= text_field_tag '', @tour.itinerary.department.try(:name), class: 'custom-form-control form-control', disabled: true %>
      </div> 
      <div class="custom-form-group form-group col-md-2">
        <%= label_tag :Itinerary %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <u><%= link_to @tour.itinerary.code, admin_itinerary_path(@tour.itinerary.id) %><%= @tour.itinerary.archived? ? "(ARCHIVED)" : '' %></u>
      </div>
      <div class="custom-form-group form-group col-md-2">
        <u><%= link_to 'View / Download',  @tour.itinerary.file.url, target: '_blank' %></u>
      </div>
    <% else %>
      <div class="custom-form-group form-group col-md-3">
        <%= text_field_tag '', '', class: 'custom-form-control form-control', disabled: true %>
      </div> 
      <div class="custom-form-group form-group col-md-2">
        <%= label_tag :Itinerary %>
      </div>
      <div class="custom-form-group form-group col-md-5">
        N/A
      </div>
    <% end %>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Created_by %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.created_user.present? ? @tour.created_user.username : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :deposit %>
    </div>
    <div class="custom-form-group form-group col-md-5">
      <%= text_field_tag '', @tour.deposit, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :create_by_date %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.created_at.strftime("%d%b%Y // %I:%M %p"), class: 'custom-form-control form-control', disabled: true  %>
    </div>
    <div class="text-capitalize field custom-form-group form-group col-md-2">
      <%= label_tag :internal_reference %>
    </div>
    <div class="custom-form-group form-group col-md-5">
      <%= text_area_tag '', @tour.internal_reference, class: 'form-control', rows: "3" , disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :last_editor_by %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.last_edited_user.present? ? @tour.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Last_Editor_Date %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.last_edited_at.present? ? @tour.last_edited_at.strftime("%d%b%Y // %I:%M %p") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="single-line col-xs-12 mt20">
    </div>  
  </div>
  <div class="row mt20 mb20">
    <% if @tour.is_cruise %>
      <%= render_cruise_seat_price_fields(@tour) %>
      <div class="single-line col-xs-12 mt10 mb10">
      </div> 
    <% end %> 
  </div>
  <div class="row mt20 mb20">
    <div class="text-capitalize custom-form-group form-group col-md-3">  
      <%= label_tag "guaranteed departure" %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.guaranteed_departure ? 'Active' : 'Deactive', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :guaranteed_departure_seats %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= text_field_tag '', @tour.guaranteed_departure_seats, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :guaranteed_departure_flag %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.guaranteed_departure_flag ? 'Yes' : 'No', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-12">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3 ">
      <%= label_tag :tour_leader %>
    </div>
    <% if @tour.tour_leader.present? %>
      <div class="custom-form-group form-group col-md-3">
        <%= text_field_tag '', @tour.tour_leader.name, class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% else %>
      <div class="custom-form-group form-group col-md-3">
        <%= text_field_tag '',@tour.tour_leader_id, class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% end %>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :tour_leader_remark %>
    </div>
    <div class="custom-form-group form-group col-md-3 ">
      <%= text_area_tag '', @tour.tour_leader_remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="single-line col-xs-12 mt20 mb10">
    </div>  
  </div>
  <div class="row mt20 mb20">
    <% if @tour.is_cruise %>
      <%= hidden_field :is_cruise, value: :true %>
    <% else %>
      <div class="text-capitalize custom-form-group form-group col-md-3">
        <%= label_tag :ground_price %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= text_field_tag '', @tour.ground_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-md-3 ">
        <%= label_tag :ground_price_flag %>
      </div>
      <div class="custom-form-group form-group col-md-3">
        <%= text_field_tag '', @tour.ground_price_flag ? 'Yes' : 'No', class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% end %>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :single_supplement%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.single_supplement_price, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :misc_fee, "Miscellaneous fees" %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.misc_fee, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag "Visa fee (-)" %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.visa_fee, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag "Compulsory tour (+)" %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.compulsory_additional_fee, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag "Subtract others (-)" %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.subtract_others, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag "Add-on others (+)" %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.addon_others, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>

  <div class="row">
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag "Total Seats (Left)" %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', "#{@tour.total_seats} (#{render_seats(@tour, @tour.total_seats, 'total_seats')})", class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :max_booking_seats %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour.max_booking_seats, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="single-line col-xs-12 mb20 mt20">
    </div> 
    <div class="text-capitalize text-align-center custom-form-group form-group col-sm-12"> 
    <%= label_tag :Rooming_List_Details %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :land_staff %>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_field_tag '', @tour.land_staff, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :land_company %>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_field_tag '', @tour.land_company, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :guide_language %>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_field_tag '', @tour.guide_languages, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Pnr %>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_area_tag '',  @tour.pnrs, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Tipping %>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_area_tag '', @tour.tipping, class: 'form-control', rows: '1', disabled: true %>
    </div> 
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :welcome_board%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_area_tag '', @tour.welcome_board, class: 'form-control', rows: "2", disabled: true %>
    </div> 
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :letter_head_image %>
    </div>   
    <div class="custom-form-group form-group col-sm-4">
      <% if @tour.letter_head_image.present? %>
        <%= link_to 'View File', @tour.letter_head_image.url, target: '_blank' %>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :operator_remark %>
    </div>
    <div class="custom-form-group form-group col-md-10">     
      <%= text_field_tag '', @tour.join_operator_remarks, value: @tour.join_operator_remarks,  class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
    <div class="single-line col-xs-12 mb20 mt20">
    </div>  
  </div> 
  <div class="row mb20">
    <div class="custom-form-group form-group col-sm-12">
      <div class="text-align-center">
        <%= label_tag :flights %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Departure</th>
              <th>Arrival</th>
              <th>From To</th>
              <th>Flight No</th>
              <th>Internal Remark</th>
            </tr>
          </thead>
          <tbody>
            <% @tour.tour_flights.order(:departure).each do |tour_flight| %>
              <tr>
                <td><%= tour_flight.departure.try(:strftime, "%d/%m/%Y %R %a") %></td>
                <td><%= tour_flight.arrival.try(:strftime, "%d/%m/%Y %R %a") %></td>
                <td><%= tour_flight.from_to %></td>
                <td><%= tour_flight.flight_no %></td>
                <td><%= tour_flight.internal_remark %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt20 mb20">
    <div class="custom-form-group form-group col-sm-12">
      <div class="text-align-center">
        <%= label_tag :reminders %>
      </div>
        <div class="table-responsive">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>Title</th>
                <th>Reminder Date</th>
                <th>Email</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% @tour.reminders.order(:reminder_date).each do |reminder| %>
                <tr>
                  <td><%= reminder.title %></td>
                  <td><%= reminder.reminder_date.try(:strftime, "%d/%m/%Y") %></td>
                  <td><%= reminder.email %></td>
                  <td><%= reminder.description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div class="single-line col-xs-12 ">
    </div>
  </div>
    <div class="row">
      <div class="text-capitalize text-align-center custom-form-group form-group col-sm-12"> 
        <%= label_tag :Latest_Tour_Confirmation %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :assembly_time %>
      </div>
      <div class="custom-form-group form-group col-md-3">  
        <% if @tour.assembly_time.present? %>  
          <%= text_field_tag '', @tour.assembly_time.strftime("%H:%M %p"), class: 'custom-form-control form-control', disabled: true%>
        <% else %>
         <%= text_field_tag '', @tour.assembly_time, class: 'custom-form-control form-control', disabled: true%>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :meet_up_point %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= text_field_tag '', @tour.meet_up_point, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :Tour_Guide_Name  %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= text_field_tag '', @tour.tour_guide_name, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :Tour_Guide_Chinese_Name  %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= text_field_tag '', @tour.tour_guide_chinese_name, class: 'custom-form-control form-control', disabled: true%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :Tour_Guide_Phone %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= text_field_tag '', @tour.tour_guide_phone, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :hand_carry_weight %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= text_field_tag '', @tour.hand_carry_weight, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :luggage_weight %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= text_field_tag '', @tour.luggage_weight, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag :luggage_quantity %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= text_field_tag '', @tour.luggage_quantity, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= label_tag '', "Emergency Contact" %>
      </div>      
      <div class="custom-form-group form-group col-md-3">    
       <%= text_field_tag '', @tour.confirmation_emergency_contact, class: 'custom-form-control form-control', disabled: true%>
      </div>

      <div class="single-line col-xs-12 mb20 ">
      </div>
    </div>
  <div class="row">
    <div class="text-capitalize text-align-center custom-form-group form-group col-xs-12 ">
      <%= label_tag :child_fares %><br>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= check_box_tag '', @tour.child_fare_apply_normal_price, @tour.child_fare_apply_normal_price, disabled: true  %>
      <%= label_tag :Normal_Price %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= check_box_tag '', @tour.child_fare_apply_early_bird_price, @tour.child_fare_apply_early_bird_price, disabled: true  %>
      <%= label_tag :Early_Bird_Price %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= check_box_tag '', @tour.child_fare_apply_specialoffer_price, @tour.child_fare_apply_specialoffer_price, disabled:true %>
      <%= label_tag :special_offer_price %>
    </div>
    <div class="custom-form-group form-group col-sm-4"> 
      <%= check_box_tag '', @tour.child_fare_apply_specialdeal_price, @tour.child_fare_apply_specialdeal_price, disabled:true %>
      <%= label_tag :special_deal_price %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= check_box_tag '', @tour.child_fare_apply_superpromo_price, @tour.child_fare_apply_superpromo_price, disabled:true %>
      <%= label_tag :super_promo_price %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= check_box_tag '', @tour.child_fare_apply_promo_price, @tour.child_fare_apply_promo_price, disabled:true %>
      <%= label_tag :promo_price %>
    </div>
    <div class="single-line col-xs-12 mt20 mb20">
    </div>
  </div> 
  
  <% if @tour.is_cruise %>
    <%= hidden_field :is_cruise, value: :true %>
  <% else %>
    <div class=" row mt20 mb20 ">
      <div class="text-capitalize text-align-center custom-form-group form-group col-xs-12 ">
        <%= label_tag "PRICING DETAILS*" %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "Adult/Child" %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "Adult(Twin)" %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "Child(twin)%" %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "Child(with Extra_Bed)%" %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "Child(without Bed) %" %>
      </div>
      <div class="text-align custom-form-group form-group col-xs-2">
        <%= label_tag :Infant  %>
      </div>
    </div>
    <div class="single-line col-xs-12">
    </div> 
    <div class="row grey_fields ">
      <div class=" background-color: #ffe3e6; custom-form-group form-group col-xs-2">
        <%= label_tag "Normal (Highest)"%>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.normal_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_twin_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_with_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_no_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.infant_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-uppercase custom-form-group form-group col-xs-2">
        <%= label_tag "DTA" %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.dta_normal_adult, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_normal_child_twin, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',   @tour.dta_normal_child_with_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_normal_child_no_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "No of Seat (Left)" %>
      </div>
      <div class="custom-form-group form-group col-xs-8">
        <%= text_field_tag '', @tour.calculate_normal_seat, class: 'custom-form-control form-control', disabled: true %>
      </div>  
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <% 9.times do |iterate| %>
        <div class=" background-color: #ffe3e6; custom-form-group form-group col-xs-2">
          <%= label_tag "Normal#{iterate+1} #{(iterate + 1) == 1 ? "(Cheapest)" : ""}" %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', @tour.send("normal#{iterate+1}_price"), class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', @tour.child_twin_percentage, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', @tour.child_with_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', @tour.child_no_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '', @tour.infant_price, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="text-capitalize custom-form-group form-group col-xs-2">
          <%= label_tag "No of Seat (Left)"%>
        </div>
        <div class="custom-form-group form-group col-xs-8">
          <%= text_field_tag '', "#{@tour.send("normal#{iterate+1}_seats")} (#{render_seats(@tour, @tour.send("normal#{iterate+1}_seats"), "normal#{iterate+1}_seats")})", class: 'custom-form-control form-control', disabled: true %>
        </div>  
        <div class="custom-form-group form-group col-xs-2">
          <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
        </div>
      <% end %>
    </div>
    <div class="single-line col-xs-12 col-sm-12 mb10">
    </div> 
    <div class=" row pink_fields">
      <div class=" text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag :Promo%>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.promo_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_twin_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_with_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_no_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.infant_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-uppercase custom-form-group form-group col-xs-2">
        <%= label_tag "DTA" %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.dta_promo_adult, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_promo_child_twin, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',   @tour.dta_promo_child_with_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_promo_child_no_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "No of Seat (Left)"%>
      </div>
      <div class="custom-form-group form-group col-xs-8">
        <%= text_field_tag '', "#{@tour.promo_seats} (#{render_seats(@tour, @tour.promo_seats, 'promo_seats')})", class: 'custom-form-control form-control', disabled: true %>
      </div>  
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>

      <div class="single-line col-xs-12 col-sm-12 mb5">
      </div> 
      <div class="text-capitalize custom-form-group form-group col-xs-2 col-sm-2 hidden-table-text">
        <%= label_tag :Special_Offer%>
      </div>
      <div class="custom-form-group form-group col-xs-2 col-sm-2">
        <%= text_field_tag '', @tour.specialoffer_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2 col-sm-2">
        <%= text_field_tag '', @tour.child_twin_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2 col-sm-2">
        <%= text_field_tag '', @tour.child_with_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2 col-sm-2">
        <%= text_field_tag '', @tour.child_no_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2 col-sm-2">
        <%= text_field_tag '', @tour.infant_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-uppercase custom-form-group form-group col-xs-2">
        <%= label_tag "DTA" %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.dta_specialoffer_adult, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_specialoffer_child_twin, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',   @tour.dta_specialoffer_child_with_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_specialoffer_child_no_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "No of Seat (Left)"%>
      </div>
      <div class="custom-form-group form-group col-xs-8">
        <%= text_field_tag '', "#{@tour.specialoffer_seats} (#{render_seats(@tour, @tour.specialoffer_seats, 'specialoffer_seats')})", class: 'custom-form-control form-control', disabled: true %>
      </div>  
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>  
    <div class="single-line col-xs-12 mb5">
    </div>
    <div class="row yellow_fields">  
      <div class="text-capitalize custom-form-group form-group col-xs-2 hidden-table-text">
        <%= label_tag :Special_Deal%>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.specialdeal_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_twin_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_with_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_no_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.infant_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-uppercase custom-form-group form-group col-xs-2">
        <%= label_tag "DTA" %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.dta_specialdeal_adult, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_specialdeal_child_twin, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',   @tour.dta_specialdeal_child_with_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_specialdeal_child_no_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "No of Seat (Left)"%>
      </div>
      <div class="custom-form-group form-group col-xs-8">
        <%= text_field_tag '', "#{@tour.specialdeal_seats} (#{render_seats(@tour, @tour.specialdeal_seats, 'specialdeal_seats')})", class: 'custom-form-control form-control', disabled: true %>
      </div>  
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="single-line col-xs-12 mb5">
      </div>  
      <div class="text-capitalize custom-form-group form-group col-xs-2 hidden-table-text">
        <%= label_tag :Super_Promo%>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.superpromo_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_twin_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_with_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_no_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.infant_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-uppercase custom-form-group form-group col-xs-2">
        <%= label_tag "DTA" %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.dta_superpromo_adult, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_superpromo_child_twin, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',   @tour.dta_superpromo_child_with_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_superpromo_child_no_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-capitalize ustom-form-group form-group col-xs-2 ">
        <%= label_tag "No of Seat (Left)"%>
      </div>
      <div class="custom-form-group form-group col-xs-8">
        <%= text_field_tag '', "#{@tour.superpromo_seats} (#{render_seats(@tour, @tour.superpromo_seats, 'superpromo_seats')})", class: 'custom-form-control form-control', disabled: true %>
      </div>  
      <div class="custom-form-group form-group col-xs-2 ">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="single-line col-xs-12 mb5">  
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2 hidden-table-text">
        <%= label_tag :early_bird %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.early_bird_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_twin_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_with_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.child_no_bed_percentage, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group  col-xs-2">
        <%= text_field_tag '', @tour.infant_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-uppercase custom-form-group form-group col-xs-2">
        <%= label_tag "DTA" %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '', @tour.dta_early_bird_adult, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_early_bird_child_twin, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',   @tour.dta_early_bird_child_with_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  @tour.dta_early_bird_child_no_bed, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-xs-2">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-xs-2">
        <%= label_tag "No of Seat (Left)"%>
      </div>
      <div class="custom-form-group form-group col-xs-8">
        <%= text_field_tag '', "#{@tour.early_bird_seats} (#{render_seats(@tour, @tour.early_bird_seats, 'early_bird_seats')})", class: 'custom-form-control form-control', disabled: true %>
      </div>  
      <div class="custom-form-group form-group col-xs-2 ">
        <%= text_field_tag '',  "0", class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>
    <div class="single-line col-xs-12 ">  
    </div>
  <% end %>
  <div class="row mt20">  
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :highlight %>
    </div>
    <div class="custom-form-group form-group col-md-10">
      <%= text_field_tag '', @tour.highlight, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :remark %>
    </div>
    <div class="custom-form-group form-group col-md-10">    
      <%= text_area_tag '', @tour.remark, class: ' form-control', row: '3', disabled: true %>
    </div>
    <div class="single-line col-xs-12 mt20 mb20">
    </div>
  </div>
  
  <%= link_to 'Edit', edit_admin_tour_path(@tour), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>

  <% if @bookings.present? %>
    <div class="col-xs-12">
      <div class="col-xs-3 mt20">
        <table class="table table-bordered table-condensed">
          <% if @tour.is_cruise? %>
            <tr>
              <th>Cabins </td>
              <td><%= @tour.all_total_rooms %></td>
            </tr>
            <tr>
              <th>Room Booked</td>
              <td><%= @tour.booking_cruise_rooms.visible.count %></td>
            </tr>
            <tr>
              <th>Seats Booked (received payment)</td>
              <td><%= @bookings.count %>(<%= @bookings.with_receipt.count %>)</td>
            </tr>
            <tr>
              <th>Vacant Cabins</td>
              <td><%= @tour.all_total_rooms - @tour.booking_cruise_rooms.visible.count %></td>
            </tr>
            <tr>
              <th>Guaranteed Departure </td>
              <td><%= @tour.guaranteed_departure ? 'Yes' : 'No' %></td>
            </tr>
          <% else %>
            <tr>
              <th>Seats </td>
              <td><%= @tour.all_total_seats %></td>
            </tr>
            <tr>
              <th>Booked (received payment)</td>
              <td><%= @bookings.count %>(<%= @bookings.with_receipt.count %>)</td>
            </tr>
            <tr>
              <th>Vacant </td>
              <td><%= @tour.all_total_seats - @tour.bookings.visible.count %></td>
            </tr>
            <tr>
              <th>Guaranteed Departure Seats </td>
              <td><%= @tour.guaranteed_departure_seats %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive mt20">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="number">Updated</th>
              <th class="number">Grouping</th>
              <th class="code">Name</th>
              <th class="number">Price</th>
              <th class="number">Offered</th>
              <th class="number">Deposit</th>
              <th class="number">Receipt No</th>
              <th>Booked by</th>
              <th class="number">Booked at</th>
              <th class="number">Ref</th>
              <% if @tour.is_cruise? %>
                <th>Cruise Room/ID</th>
              <% end %>
              <th class="number">Admin Remark</th>
              <th class="number">Remark</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
                <% if booking.booking_group.exported? %>
                  <td class="expoted_info">
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group), title: booking.booking_group.exported_info %>
                  </td>
                <% else %>
                  <td>
                    <%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group) %>
                  </td>
                <% end %>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.name %>"><%= booking.name %></div></td>
                <td><%= render_price_color(booking.price, booking.price_type) %></td>
                <td><%= "#{booking.price_offered ? booking.price_type : ''}" %></td>
                <% if booking.booking_group.bookings.visible.first == booking %>
                  <td><%= booking.booking_group.deposit %></td>
                  <td><%= booking.booking_group.all_receipt_no %></td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
                <td><%= booking.booked_by_detail %></td>
                <td><%= booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><%= booking.id %></td>
                <% if @tour.is_cruise? %>
                  <td><%= booking.booking_cruise_room.room_type_text %>/<%= booking.booking_cruise_room.id %></td>
                <% end %>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.admin_remark %>"><%= booking.admin_remark %></div></td>
                <td>
                  <%= render_insurance_icon(booking) %>
                  <%= render_passport_icon(booking) %>
                  <span class="trim code" data-toggle="tooltip" data-placement="top" title="<%= render_remark_infant_indicator(booking, true) %>"><%= render_remark_infant_indicator(booking) %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>

<% if @tour.active? %>
  <div class="modal fade" id="admin-new-booking-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">
            New Booking
          </h4>
        </div>
        <div class="modal-body">
          <%= form_tag create_booking_admin_tour_path, multipart: true, method: 'POST', id: "tour-booking-form" do %>
            <%= render_booking_selects(@tour, nil, @tour.all_vacant_total_seats) %>
            <%= label_tag :agent_rep %>
            <%= text_field_tag :agent_rep, '', class: 'custom-form-control form-control', id: 'agent_rep_user' %>
            <br>
            <%= submit_tag "Create", class: "btn btn-default", id: "booking-create" %>
            <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="admin-duplicate-tour-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          Duplicate Tour
        </h4>
      </div>
      <div class="modal-body">
        <%= form_tag duplicate_admin_tour_path, multipart: true, method: 'POST', id: "duplicate-tour-form" do %>
          <%= label_tag :departure_date %>
          <%= date_field_tag :departure_date, '', class: 'custom-form-control form-control', id: :departure_date_id %>
          <%= label_tag :code %>
          <%= text_field_tag :code, "#{@tour.code}", class: 'custom-form-control form-control', id: :code_id %>
          <br>
          <%= submit_tag "Duplicate", class: "btn btn-default", id: "tour-duplicate", disabled: true %>
          <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
