<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tours
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Uncertainty Tours: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present? %>
  <% card_title = "View Uncertainty Tours: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Uncertainty Tours: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Uncertainty Tours' %>
<% end %>
<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to('View All Tours', admin_tours_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag uncertainty_admin_tours_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Departure</th>
          <th>D2G</th>
          <th class="code">Code</th>
          <th class="cation">Caption</th>
          <th>Seats(R)</th>
          <th>Booked(R)</th>
          <th>G/Seats</th>
          <th>Shortage</th>
          <th>Remark</th>
        </tr>
      </thead>
      <tbody>
        <% @tours.each_with_index do |tour, index| %>
          <tr>
            <td><%= tour.departure_date.strftime("%d/%m/%Y") %></td>
            <td><%= ((tour.departure_date - @today)/1.day).to_i %></td>
            <td class="code"><div class="trim code"><%= link_to tour.code, admin_tour_path(tour) %></div></td>
            <td class="caption"><div class="trim caption"><%= tour.caption %></div></td>
            <% if tour.is_cruise? %>
              <td><%= tour.all_total_seats %>/(<%= tour.all_total_rooms %>)</td>
              <td><%= tour.all_total_seats - tour.all_vacant_total_seats %>/(<%= tour.all_total_rooms - tour.all_vacant_total_rooms %>)</td>
              <td></td>
              <td></td>
            <% else %>
              <td><%= tour.all_total_seats %></td>
              <td><%= tour.all_total_seats - tour.all_vacant_total_seats %></td>
              <td><%= tour.guaranteed_departure_seats %></td>
              <td><%= tour.guaranteed_departure_seats - (tour.all_total_seats - tour.all_vacant_total_seats) %></td>
            <% end %>
            <td><%= tour.remark %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @tours %>
<% end %>