#ShowActivity{
	background-color: #f8f8f8;
}
#ShowActivity .banner {
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	height: 300px;
	background-position: center;
	overflow: hidden;
}
#ShowActivity .bannerImage {
  object-fit: cover;
  height: 300px;
  width: 100%;
  position: relative;
}
/* #ShowActivity .banner img  {
	width: 100%;
	position: relative;
	top: -10em;
} */
#ShowActivity .warppage{
  width: 1500px;
  margin: auto;
	margin-top: 50px;
	padding: 0px 10px;
}
#ShowActivity  .logo_top{
	width: 100%;
	position: absolute;
	top: 80px;
}

#ShowActivity  .logo_warp{
	width: 1500px;
	margin: auto;
}
#ShowActivity .logo_warp img{
	width: 50px;
	height: 50px;
	float: left;
}
#ShowActivity .logo_warp span{
	font-size: 2.5em;
  margin-left: 5px;
  float: left;
	text-shadow: 1px 2px 1px #00000073;
	color: #fff;
}

#ShowActivity .res_panel{
	display: none;
}

/****************************** LeftPanel *******************************/
#ShowActivity .LeftPanel {
	width: 70%;
	float: left;
	padding-right: 30px;
}
#ShowActivity .LeftPanel .hotel_details .header_title h1 {
	margin-bottom: 0px;
}
#ShowActivity .LeftPanel .hotel_details .header_title h2 {
	margin-bottom: 10px;
	margin-top: 50px;
}
#ShowActivity .LeftPanel .hotel_details .header_title .location {
	margin-top: 5px;
}
#ShowActivity .LeftPanel .hotel_details .header_title .location span{
	margin-right: 10px;
}

#ShowActivity .LeftPanel .amenities .title{
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}
#ShowActivity .LeftPanel .amenities .icon_warp div{
	width: 150px;
	float: left;
	text-align: center;
}
#ShowActivity .LeftPanel .amenities .icon_warp div span{
	font-size: 1.5em;
	margin-bottom: 10px;
}
#ShowActivity .LeftPanel .things{
	margin-bottom: 30px;
}
#ShowActivity .LeftPanel .things .ant-avatar{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	border-radius: 0;
}

#ShowActivity .LeftPanel .slider{
	margin-bottom: 30px;
}
#ShowActivity .LeftPanel .slider .card_warp{
	padding: 10px;
}
#ShowActivity .LeftPanel .slider .card_warp .ant-card{
	margin-bottom: 20px;
}
#ShowActivity .LeftPanel .slider .card_warp .details{
	border-bottom: 1px solid #ccc;
}
#ShowActivity .LeftPanel .slider .card_warp .details .margin_sty {
	margin-bottom: 5px;
}
#ShowActivity .LeftPanel .slider .card_warp .details p span{
	margin-right: 10px;
}
#ShowActivity .LeftPanel .slider .card_warp .price{
	color: green;
}
#ShowActivity .LeftPanel .slider .card_warp .include{
	margin-top: 10px;
}
#ShowActivity .LeftPanel .slider .card_warp .include .margin_sty {
	margin-bottom: 5px;
}
#ShowActivity .LeftPanel .slider .card_warp .include p .icon_style{
	margin-right: 10px;
}
#ShowActivity .LeftPanel .slider .card_warp .include .right{
	float: right;
}

#ShowActivity .LeftPanel .slider .card_warp .read{
	text-align: right;
	color: #faad14;
}
#ShowActivity .LeftPanel .slider .card_warp .btn_room{
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
}

#ShowActivity .LeftPanel .things .ant-list-item-meta-title{
	line-height: 45px;
}
#ShowActivity .LeftPanel .things .title{
  font-size: 16px;
  font-weight: bold;
}
#ShowActivity .LeftPanel .things .ant-collapse{
	border:0;
	background-color: #f1f1f1;
	margin-top: 25px;
}
#ShowActivity .LeftPanel .things .operation{
  margin: 30px 0px;
}
#ShowActivity .LeftPanel .things .ant-collapse-header{
	color: #faad14;
}
#ShowActivity .LeftPanel .things .ant-collapse > .ant-collapse-item {
	border-bottom: 0;
}
#ShowActivity .LeftPanel .things .ant-collapse-content{
	border-top: 0;
	background-color: #f9f9f9;
}
#ShowActivity .LeftPanel .things .fees{
	margin-bottom: 0;
	font-weight: bold;
}
#ShowActivity .LeftPanel .guest {
	margin-bottom: 30px;
}
#ShowActivity .LeftPanel .guest .ant-card-body {
	padding: 10px 24px 24px 24px;
}
#ShowActivity .LeftPanel .guest.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: coral;
	border-top-width: 5px;
}

#ShowActivity .LeftPanel .guest .ant-card-head {
	border-bottom: 1px solid #e8e8e8;
}

#ShowActivity .LeftPanel .guest .guest_content p {
	margin-bottom: 0;
}

#ShowActivity .LeftPanel .guest .form_guest .form_control label {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

#ShowActivity .LeftPanel .guest .form_guest .form_control .ant-select {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .guest .form_guest .form_control .ant-input {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .guest .form_guest .form_control {
	width: 100%;
	float: left;
	margin: 10px 0px;
	position: relative;
}
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_1{
	width: 60%;
	float: left;
}
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_1 p{
  margin-bottom: 0;
}
/* #ShowActivity .LeftPanel .guest .form_guest .form_control .package_1 .type{
  font-size: 1.2em;
} */
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_1 small{
  margin-bottom: 0;
  color: #ccc;
}
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_1 .popup_icon{
  margin-right: .3em;
  margin-left: .3em;
}
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2{
  width: 40%;
	float: left;
}
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2 .ant-input-number{
	width: 40%;
	margin-right: 30px;
}
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2 span{
  color: #52c41a;
  font-size: 1.2em;
	font-weight: bold;
}

#ShowActivity .LeftPanel .guest .form_guest.pandding_left {
	padding-left: 15px;
}

#ShowActivity .LeftPanel .guest .form_guest .pandding_right {
	padding-right: 15px;
}

#ShowActivity .LeftPanel .guest .form_guest .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .guest.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}




#ShowActivity .LeftPanel .passenger .passenger_content p {
	margin-bottom: 0;
}

#ShowActivity .LeftPanel .passenger .form_passenger .form_control label {
	width: 100%;
	margin-bottom: 5px;
	float: left;

}

#ShowActivity .LeftPanel .passenger .form_passenger .form_control .ant-select {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .passenger .form_passenger .form_control .ant-input {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .passenger .form_passenger .form_control {
	width: 50%;
	float: left;
	margin: 10px 0px;
	position: relative;
}

#ShowActivity .LeftPanel .passenger .form_passenger .pandding_left {
	padding-left: 15px;
}

#ShowActivity .LeftPanel .passenger .form_passenger .pandding_right {
	padding-right: 15px;
}

#ShowActivity .LeftPanel .passenger .form_passenger .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .passenger.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}

#ShowActivity .LeftPanel .contact_infor .notice {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .contact_infor .notice p {
	margin-bottom: 0px;
}

#ShowActivity .LeftPanel .contact_infor .phone_notice {
	color: #faad14;
}


#ShowActivity .LeftPanel .form_sty_select {
	padding-bottom: 200px;
}

#ShowActivity .LeftPanel .payment input[type="radio"] {
	display: none;
}

#ShowActivity .LeftPanel .payment input[type="radio"]:not(:disabled)~label {
	cursor: pointer;
}

#ShowActivity .LeftPanel .payment input[type="radio"]:disabled~label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

#ShowActivity .LeftPanel .payment label {
	height: 100%;
	display: block;
	background: white;
	/* border: 2px solid #faad14; */
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
	position: relative;
}

#ShowActivity .LeftPanel .payment input[type="radio"]:checked+label {
	/* background: #20df80; */
	color: white;
	box-shadow: 0px 0px 5px #faad14;
	border: 2px solid #faad14;
}

#ShowActivity .LeftPanel .payment input[type='radio'][disabled]+label img {
	opacity: .5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#ShowActivity .LeftPanel .payment input[type="radio"]:checked+label::after {
	color: #fff;
	font-family: FontAwesome;
	border: 2px solid #faad14;
	background-color: #faad14;
	content: "\2714";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

#ShowActivity .LeftPanel .payment input[type="radio"]#control_05:checked+label {
	background: red;
	border-color: red;
}

#ShowActivity .LeftPanel .payment .payment_type {
	width: 33.33%;
	float: left;
	padding: 20px;
}

#ShowActivity .LeftPanel .payment .payment_type img {
	width: 100%;
}

#ShowActivity .LeftPanel .payment .after_select label {
	box-shadow: none;
	text-align: left;
	padding: 0;
	margin-bottom: 5px;
	background-color: transparent
}

#ShowActivity .LeftPanel .payment .after_select .ant-checkbox-wrapper {
	margin-top: 20px;
	float: left;
	width: 100%;
}

#ShowActivity .LeftPanel .after_select .ant-btn {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
	float: right;
	margin-top: 30px;
	padding: 0 50px
}

#ShowActivity .LeftPanel .payment .after_select .ant-btn:hover {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowActivity .LeftPanel .payment .after_select .ant-btn:focus {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowActivity .LeftPanel .payment .after_select .form_control {
	width: 100%;
	float: left;
}

#ShowActivity .LeftPanel .credit_style{
	margin-bottom: 0;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
	color: #119dcf;
	font-weight: bold;
} 







/****************************** RightPanel *******************************/
#ShowActivity .RightPanel {
	width: 30%;
  float: left;
	padding-left: 30px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#ShowActivity .RightPanel h2{
	margin-bottom: 0;
	width: 40%;
	float: left;
}
#ShowActivity .RightPanel .title .small_title{
	color:#ccc;
}
#ShowActivity .RightPanel .title span{
	float: right;
	padding-top: 10px;
}
#ShowActivity .RightPanel .ant-card {
	border-left-style: solid;
	border-left-color: #b71c1c;
	border-left-width: 5px;
}
#ShowActivity .RightPanel .ant-card-head {
  padding: 1em;
}
#ShowActivity .RightPanel .ant-card-body {
  padding: 1em;
}
#ShowActivity .RightPanel .date_title{
  margin-bottom: .5em;
}
#ShowActivity .RightPanel .date_select{
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  color: #a5a5a5;
  padding-bottom: 10px;
}
#ShowActivity .RightPanel .date_select span{
 padding: 0px 30px;
}
#ShowActivity .RightPanel .type_rent {
	border-bottom: 1px solid #ccc;
}

#ShowActivity .RightPanel .type_rent .rent .rent_select{
  font-size: 1.3em;
	color: #a5a5a5;
	margin-bottom: 10px;
}
#ShowActivity .RightPanel .type_rent .rent .rent_select span{
  padding-right: 20px;
}
#ShowActivity .RightPanel .tatol_summary{
  color: #52c41a
}
#ShowActivity .RightPanel .type_rent{
	margin-bottom: 10px;
}
#ShowActivity .RightPanel .type_rent .rent {
	width: 100%;
	float: left;
}

#ShowActivity .RightPanel .select_list {
	border-bottom: 1px solid #ccc;
}
#ShowActivity .RightPanel .select_list .list_warp{
	margin-bottom: 10px;
	font-size: 14px;
}
#ShowActivity .RightPanel .select_list .list_warp span:nth-child(1n){
	color: #a5a5a5;
  width: 60%;
}
#ShowActivity .RightPanel .select_list .list_warp span:nth-child(2n){
	color: #000;
  float: right;
  width: 40%;
  text-align: right;
}
#ShowActivity .RightPanel .select_list .list_warp span:nth-child(3n){
  color: #000;
}
#ShowActivity .RightPanel .select_list .fare_info {
  padding: 0;
  padding-left: 1.5em;
}
#ShowActivity .RightPanel .select_list .subtraction_collapse .ant-collapse-item {
  border: 0;
}
#ShowActivity .RightPanel .select_list .subtraction_collapse .ant-collapse-header {
  padding: 0;
  color: #a5a5a5;
}
#ShowActivity .RightPanel .select_list .subtraction_collapse .ant-collapse-header .ant-collapse-arrow {
  left: 0;
}
#ShowActivity .RightPanel .select_list .subtraction_collapse .ant-collapse-content-box {
  padding: .8em;
  background-color: #f1f1f1;
}

#ShowActivity .RightPanel .total{
	margin-top: 10px;
}
#ShowActivity .RightPanel .total span:nth-child(2n){
	float: right;
}
#ShowActivity .RightPanel .total_summary{
  color: #52c41a !important;
}
#ShowActivity .RightPanel .ant-btn{
	color: #000;
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
	margin-top: 20px;
	height: 40px;
}

/************************************************ Responsive Media Query ****************************************/

@media only screen and (max-width: 1499px) {
	#ShowActivity .warppage{
    width: 1200px;
	}
	#ShowActivity  .logo_warp{
		width: 1200px;
	}
}


@media only screen and (max-width: 1199px) {
	#ShowActivity .warppage{
    width: 1000px;
	}
	#ShowActivity  .logo_warp{
		width: 1000px;
	}
	#ShowActivity .RightPanel .date_select{
		font-size: 1.1em
	}
	#ShowActivity .RightPanel .type_rent .rent .rent_select{
		font-size: 1em
	}
	#ShowActivity .RightPanel .type_rent .rent .rent_select span {
    padding-right: 10px;
	}
	#ShowActivity .RightPanel .select_list .list_warp {
    font-size: 12px;
	}
	#ShowActivity .LeftPanel .credit_style{
		bottom: 15px;
		font-size: .8em;
	} 
	
}


@media only screen and (max-width: 1050px) {
	#ShowActivity .warppage{
    width: 900px;
	}
	#ShowActivity  .logo_warp{
		width: 900px;
	}
	#ShowActivity .RightPanel{
		padding-left: 0px;
	}
	#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2{
		width: 70%;
	}
	#ShowActivity .LeftPanel .guest .form_guest .form_control .package_1 {
    width: 30%;
	}
}

@media only screen and (max-width: 900px) {
	#ShowActivity .warppage{
    width: 800px;
	}
	#ShowActivity  .logo_warp{
		width: 800px;
	}
	#ShowActivity .RightPanel .ant-card-body{
    padding: 10px;
	}
	#ShowActivity .RightPanel .ant-card-head{
    padding: 0 10px;
	}
	#ShowActivity .LeftPanel .credit_style{
		bottom: 10px;
		font-size: .6em;
	} 
}


@media only screen and (max-width: 770px) {
	#ShowActivity .warppage{
    width: 700px;
	}
	#ShowActivity  .logo_warp{
		width: 700px;
	}
	#ShowActivity .RightPanel .date_select{
		font-size: .9em
	}
	#ShowActivity .RightPanel .type_rent .rent .rent_select{
		font-size: .8em
	}
	#ShowActivity .RightPanel .select_list .list_warp {
    font-size: 10px;
	} 
	#ShowActivity .LeftPanel .payment label{
		border-radius: 10px;
    padding: .5rem;
	}
	#ShowActivity .LeftPanel .payment input[type="radio"]:checked+label::after{
		height: 25px;
    width: 25px;
		line-height: 25px;
		font-size: 15px;
    top: -15px;
	}
	#ShowActivity .LeftPanel .payment .payment_type {
		padding: 10px;
	}
	#ShowActivity .LeftPanel .things p{
		font-size: .9em; 
	}
	#ShowActivity .LeftPanel .things .ant-collapse-content-box li{
		font-size: .9em;
	}
	#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2{
		width: 60%;
	}
	#ShowActivity .LeftPanel .guest .form_guest .form_control .package_1 {
    width: 40%;
	}
}


@media only screen and (max-width: 720px) {
	#ShowActivity .warppage{
		width: 90%;
		padding: 0px ;
	}
	#ShowActivity  .logo_warp{
		width: 90%;
	}
	#ShowActivity .LeftPanel {
    width: 100%;
    padding-right: 0px;
	}
	#ShowActivity .RightPanel {
    display: none;
	}
	#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2{
		width: 100%;
	}
	#ShowActivity .LeftPanel .guest .form_guest .form_control .package_1 {
    width: 100%;
	}
	#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2 .ant-input-number {
		width: 70%;
		margin-right: 10px;
}
#ShowActivity .LeftPanel .guest .form_guest .form_control .package_2 span {
	font-size: 1em;
}
	#ShowActivity .res_panel{
		display: block;
	}
	#ShowActivity .res_panel_btn{
		position: fixed;
    top: 350px;
		right: 0;
		border-radius: 0px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #b71c1c;
    border-color: #b71c1c;
	}
	#ShowActivity .LeftPanel .passenger .form_passenger .form_control {
    width: 100%;
	}
	#ShowActivity .LeftPanel .passenger .form_passenger .pandding_right {
		padding-right: 0px;
	}
	#ShowActivity .LeftPanel .passenger .form_passenger .pandding_left {
		padding-left: 0px;
	}
	#ShowActivity .LeftPanel .ant-card-head{
		padding: 0 15px;
	}
	#ShowActivity .LeftPanel .ant-card-body{
		padding: 15px;
	}
	#ShowActivity .LeftPanel .guest .ant-card-body {
    padding: 15px;
}
}

@media only screen and (max-width: 450px){
	#ShowActivity .LeftPanel .credit_style{
		bottom: 5px;
		font-size: .5em;
	}
}



@media only screen and (max-width: 400px){
	#ShowActivity .LeftPanel .payment .payment_type {
    padding: 5px;
}

}




