<% content_for :head do %>
  <title><%= @flight_booking_group.reference_id %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="invoice">
      <div class="col-md-12">
        <%= render_invoice_header %>
        <div class="form-group text-center"><h4>INVOICE</h4></div>
        <table class="table_left" width="70%">
          <tbody>
            <tr valign="top">
              <td width="10px">TO : </td>
              <td class="break-word-300">
                <%= @flight_booking_group.agent_user.full_name.present? ? @flight_booking_group.agent_user.full_name : '' %><br>
                <%= @flight_booking_group.agent_user.address.present? ? @flight_booking_group.agent_user.address : '' %><br>
                <%= "#{@flight_booking_group.agent_user.city} #{@flight_booking_group.agent_user.state} #{@flight_booking_group.agent_user.postal} #{@flight_booking_group.agent_user.country}" %>
              </td>
            </tr>
            <tr>
              <td>TEL : </td>
              <td><%= @flight_booking_group.agent_user.phones.present? ? @flight_booking_group.agent_user.phones.first : '' %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                FAX : <%= @flight_booking_group.agent_user.faxes.present? ? @flight_booking_group.agent_user.faxes.first : '' %>
              </td>
            </tr>
            <tr>
              <td width="10px">ATTN : </td>
              <td><%= @flight_booking_group.agent_user.username.upcase %></td>
            </tr>
          </tbody>
        </table>
        <table class="table_right" width="29%">
          <tbody>
            <tr>
              <td>INVOICE NO</td>
              <td>:</td>
              <td><%= @flight_booking_group.etravel_invoices.last.present? ? @flight_booking_group.etravel_invoices.last.invoice_no : '' %></td>
            </tr>
            <tr>
              <td>ACCT NO</td>
              <td>:</td>
              <td><%= @flight_booking_group.agent_user.code.present? ? @flight_booking_group.agent_user.code : '' %></td>
            </tr>
            <tr>
              <td>BOOK NO</td>
              <td>:</td>
              <td><%= @flight_booking_group.reference_id.present? ? @flight_booking_group.reference_id : '' %></td>
            </tr>
            <tr>
              <td>DATE</td>
              <td>:</td>
              <td><%= @flight_booking_group.etravel_invoices.last.present? ? @flight_booking_group.etravel_invoices.last.created_at.strftime("%d %b %Y") : '' %></td>
            </tr>
          </tbody>
        </table>
        <table width="100%">
          <thead>
            <tr class="invoice_solid_top_bottom">
              <th>PARTICULAR</th>
              <th class="text-center">QTY</th>
              <th class="text-center">PRICE</th>
              <th class="text-right">TOTAL (RM)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                FLIGHT CODE : <%= @flight_booking_group.host_code %>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <br>
                <table width="90%" align="center">
                  <tr>
                    <td>Flight Info</td>
                    <td>Departure / Arrival</td>
                  </tr>
                  <% @flight_booking_group.flight_booking_details.each_with_index do |flight, i| %>
                    <tr>
                      <td><%= "#{flight.carrier} #{flight.flight_number} #{flight.origin}-#{flight.destination}" %>  </td>
                      <td><%= flight.departure_time.strftime("%F %R") %> / <%= flight.arrival_time.strftime("%F %R") %></td>
                    </tr>
                  <% end %>
                </table>
                <br>
              </td>
              <td class="text-center"><%= @flight_bookings.count %></td>
              <td class="text-center"><%= number_to_currency(@flight_booking_group.price, precision: 2, unit: '') %></td>
              <td class="text-right"><%= number_to_currency(@flight_booking_group.price, precision: 2, unit: '') %></td>
            </tr>
            <% @flight_bookings.each_with_index do |booking, i| %>
            <tr>
              <td><%= booking.name %>(<%= booking.category.humanize %>)</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <% end %><br>
            <tr>
              <td colspan="4"><hr></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Amount : </td>
              <td class="text-right invoice_column_bottom_double"><%= number_to_currency(@flight_booking_group.price, precision: 2, unit: '') %></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Payment : </td>
              <td class="text-right invoice_solid_top_bottom"><%= @flight_booking_group.payment.amount.present? ? number_to_currency(@flight_booking_group.payment.amount, precision: 2, unit: '') : '' %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <hr><br>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= render_invoice_footer %>
        </div>
      </div>
    </div>
  </div>
</page>