<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-fw"></i>Flights
<% end %>

<%= render 'shared/single_panel', card_title: 'View Flights' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag(flights_path, method: :get, id: 'flight_search_form') do %>
        <div>
          <%= label_tag(:one_way, nil, class: 'radio-inline') do %>
            <%= radio_button_tag(:trip_type, :one_way, params[:trip_type] == 'one_way', {class: 'trip_type_option', id: 'one_way'}) %> One Way
          <% end %>
          <%= label_tag(:round_trip, nil, class: 'radio-inline') do %>
            <%= radio_button_tag(:trip_type, :round_trip, params[:trip_type] == 'round_trip', {class: 'trip_type_option', id: 'round_trip'}) %> Round Trip
          <% end %>
          <%= label_tag(:multi_city, nil, class: 'radio-inline') do %>
            <%= radio_button_tag(:trip_type, :multi_city, params[:trip_type] == 'multi_city', {class: 'trip_type_option', id: 'multi_city'}) %> Multi City
          <% end %>
        </div>
        <div>
          <div class="flight-selections-group row">
            <% @trips.each_with_index do |trip, index| %>
              <% if params[:trip_type] == 'round_trip' && index > 0 %>
                <% break %>
              <% end %>
              <div class="flight-selections" id="flight-selections">
                <div class="custom-form-group form-group col-md-3 col-xs-6">
                  <%= label_tag(:from) %>
                  <%= text_field_tag('from[]', trip[:from], {id: "from#{index+1}", class: 'custom-form-control form-control airport-autocomplete', placeholder: 'City or airport', required: true, autocomplete: "off"}) %>
                </div>
                <div class="custom-form-group form-group col-md-3 col-xs-6">
                  <%= label_tag(:to) %>
                  <%= text_field_tag('to[]', trip[:to], {id: "to#{index+1}", class: 'custom-form-control form-control airport-autocomplete', placeholder: 'City or airport', required: true, autocomplete: "off"}) %>
                </div>
                <div class="custom-form-group form-group col-md-3 col-xs-6 %>">
                  <%= label_tag(:depart) %>
                  <%= date_field_tag('depart[]', trip[:depart], {id: "depart#{index+1}", class: 'custom-form-control form-control depart-date-field', required: true, min: @starting_date}) %>
                </div>
                <div class="custom-form-group form-group col-md-3 col-xs-6 return-input-form <%= params[:trip_type] == 'round_trip' ? '' : 'hidden' %>">
                  <%= label_tag(:return) %>
                  <%= date_field_tag('return[]', params[:trip_type] == 'round_trip' && @trips.count == 2 ? @trips[index+1][:depart] : nil, {id: "return#{index+1}", class: "custom-form-control form-control return-date-field", required: true, min: @trips[0][:depart].present? ? @trips[0][:depart] : @starting_date, disabled: params[:trip_type] != 'round_trip' }) %>
                </div>
                <div class="custom-form-group form-group col-xs-1 align-self-center remove-flight-button <%= params[:trip_type] == 'multi_city' && index > 0 ? '' : 'hidden' %>
                  <button type="button" class="close">
                    <span>&times;</span>
                  </button>
                </div>
              </div>
            <% end %>
            <div class="add-flight-button col-xs-12 <%= "#{params[:trip_type] != 'multi_city' ? ' hidden' : ''}"%>" data-turbolinks="false">
              <button type="button" class="btn btn-primary">+ Add another flight</button>
            </div>

          </div>
          <div class="row">
            <div class="custom-form-group form-group col-md-2 col-xs-3">
              <%= label_tag(:adults) %>
              <span class="input-label-indicator">Above 12y</span>
              <%= number_field_tag(:adults, params[:adults].present? && params[:adults].to_i > 0 ? params[:adults].to_i : 1 , {class: "custom-form-control form-control pax-input", required: true, max: 9, min: 1, oninvalid: "this.setCustomValidity('We are only able to book between 1 to 9 travellers')"}) %>
            </div>
            <div class="custom-form-group form-group col-md-2 col-xs-3">
              <%= label_tag(:children) %>
              <span class="input-label-indicator">2 to 11y</span>
              <%= number_field_tag(:children, params[:children].present? && params[:children].to_i > 0 ? params[:children].to_i : 0, {class: "custom-form-control form-control pax-input", max: 8, min: 0, oninvalid: "this.setCustomValidity('We are only able to book between 1 to 9 travellers')"}) %>
            </div>
            <div class="custom-form-group form-group col-md-2 col-xs-3">
              <%= label_tag(:infants) %>
              <span class="input-label-indicator">Under 2y</span>
              <%= number_field_tag(:infants, params[:infants].present? && params[:infants].to_i > 0 ? params[:infants].to_i : 0 , {class: "custom-form-control form-control pax-input", max: 1, min: 0, oninvalid: "this.setCustomValidity('Each infant must be accompanied by a traveler age 12 or older.')"}) %>
            </div>
            <div class="custom-form-group form-group col-md-2 col-xs-6">
              <%= label_tag(:cabin_class) %>
              <%= select_tag(:cabin_class, options_for_select(['Economy', 'Business', 'First'], params[:cabin_class]), {class: 'custom-form-control form-control'})%>
            </div>
            <div class="custom-form-group form-group col-md-2 col-xs-6">
              <%= label_tag(:sort_by) %>
              <%= select_tag(:sort_by, options_for_select(['Lowest Price', 'Duration Shortest', 'Departure Time Earliest', 'Arrival Time Earliest'], params[:sort_by]), {class: 'custom-form-control form-control'})%>
            </div>
          </div>
          <% if @airlines.present? %>
            <div class="row">
              <div class="custom-form-group form-group col-xs-12">
                <%= label_tag(:preferred_airlines) %>
                <br>
                <%= select_tag('preferred_airlines[]', options_for_select(@airlines.collect{|a| [a[:name], a[:iata]]}, params[:preferred_airlines]), {class: 'custom-form-control form-control multiselect',  multiple: 'multiple'})%>
              </div>
            </div>
          <% end %>
          <% if @solutions.present? %>
            <div class="row">
              <div class="custom-form-group form-group col-xs-12">
                <%= check_box_tag :directly_fly_only, 'true', params[:directly_fly_only] == 'true' %> Direct Flight Only
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="custom-form-group form-group col-xs-12">
              <%= submit_tag("Search", {class: "btn btn-primary"}) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <% if @solutions.present? %>
    <% @solutions.each_with_index do |solution, index| %>
      <div class="col-xs-12 flight-card pd0 flex-row">
        <div class="col-xs-9 border-right">
          <% solution.journeys.each_with_index do |journey, journey_index| %>
            <div class="row vertical-align<%= journey_index == 0 ? '' : ' border-top' %>">
              
              <div class="col-sm-3 col-xs-12">
                <div style='width: 100%; height: 65px; text-align: center'>
                  <%= image_tag journey.departure_segment.airline_image_url, style: 'height: 100%;' %>
                </div>
              </div>
              <div class="col-sm-3 col-xs-4 text-right">
                <p class="text-highlight mb0">
                  <%= journey.departure_segment.departure_time.strftime("%R") %>
                </p>
                <p class="mb0">
                  <%= journey.departure_segment.origin_airport.city %>
                </p>
                <p class="mb0">
                  <%= journey.departure_segment.origin_airport.iata %>
                </p>
              </div>
              <div class="col-sm-3 col-xs-4 text-center pl-2 pr-2">
                <%= journey.stop == 0 ? 'Non-Stop' : "#{journey.stop}-Stop" %>
                <hr class="center-break">
                <%= render_travel_time(journey.travel_time) %>
                <% if journey.departure_segment.booking_info.fare_info.baggage_max_weight.present? %>
                  <br>
                  <i class="fa fa-suitcase"></i><%= " #{journey.departure_segment.booking_info.fare_info.baggage_max_weight}#{journey.departure_segment.booking_info.fare_info.baggage_unit.sub('Kilograms', 'KG')}" %>
                <% end %>
              </div>
              <div class="col-sm-3 col-xs-4 text-left">
                <p class="text-highlight mb0">
                  <%= journey.arrival_segment.arrival_time.strftime("%R") %>
                </p>
                <p class="mb0">
                  <%= journey.arrival_segment.destination_airport.city %>
                </p>
                <p class="mb0">
                  <%= journey.arrival_segment.destination_airport.iata %>
                </p>
              </div>
              
            </div>

          <% end %>
        </div>
        <div class="col-xs-3">
          <div class="align-self-center text-center">
            <p class="mb0">
              Total Price
            </p>
            <p class="mb0 text-highlight">
              <%= number_to_currency(solution.final_total_price, precision: 2, unit: "MYR " ) %>
            </p>
            <p class="mb0">
              Including Taxes
            </p>
            <div>
              <a href="#flight-detail-<%= index %>" class="btn btn-primary btn-sm mt5" data-toggle="collapse">Details</a>
              <%= link_to 'Select', flight_path(trips: @trips, adults: params[:adults], children: params[:children], infants: params[:infants], cabin_class: params[:cabin_class], id: solution.key), class: "btn btn-success btn-sm mt5", target: '_blank' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 flight-detail-card pd0 collapse" id="flight-detail-<%= index %>">
        <div class="col-xs-9 border-right pd0">
          <% solution.journeys.each do |journey| %>
            <div class="bg-grey col-xs-12 pd0 vertical-align">
              <div class="col-sm-3 col-xs-12">
                <div style='width: 100%; height: 65px; text-align: center;'>
                  <%= image_tag journey.departure_segment.airline_image_url, style: 'height: 100%;' %>
                </div>
              </div>
              <div class="col-sm-3 col-xs-4 text-center">
                <%= journey.departure_segment.origin_airport.iata %> to <%= journey.arrival_segment.destination_airport.iata %>
              </div>
              <div class="col-sm-3 col-xs-4 text-center">
                <%= journey.departure_segment.departure_time.strftime("%a, %b %d %Y") %>
              </div>
              <div class="col-sm-3 col-xs-4 text-center">
                <%= render_travel_time(journey.travel_time) %>
              </div>
            </div>
            <% journey.air_segments.each_with_index do |air_segment, segment_index| %>
              <div class="col-xs-12 flex-row pd0">
                <div class="col-xs-3 flex-column justify-content-between">
                  <% if segment_index == 0 %>
                    <p class="">
                      <%= air_segment.departure_time.strftime("%R") %>
                    </p>
                  <% else %>
                    <p class="">
                      &nbsp;
                    </p>
                  <% end %>
                  <p class="">
                    <%= air_segment.arrival_time.strftime("%R") %><br>
                    <% if air_segment.next_air_segment.present? %>
                      <%= air_segment.next_air_segment.departure_time.strftime("%R") %>
                    <% else %>
                      <%= air_segment.departure_time.strftime("%a, %b %d %Y") %>
                    <% end %>
                  </p>
                </div>
                <div class="col-xs-9 align-self-center">
                  <% if segment_index == 0 %>
                    <p class="text-highlight mb0">
                      <%= "#{air_segment.origin_airport.city} (#{air_segment.origin_airport.iata})" %>
                    </p>
                    <p>
                      <%= air_segment.origin_airport.name %>
                    </p>
                  <% end %>

                  <div class="row bg-grey vertical-align">
                    <div class="col-xs-12 col-sm-3">
                      <div style='width: 100%; height: 65px; text-align: center;'>
                        <%= image_tag journey.departure_segment.airline_image_url, style: 'height: 100%;' %>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-5 align-self-center">
                      <%= "#{air_segment.carrier}#{air_segment.flight_number}" %><br>
                      <% aircraft = Aircraft.aircraft_name(air_segment.equipment) %>
                      <%= aircraft.present? ? aircraft : "No found flight #{air_segment.equipment}" %>
                    </div>
                    <div class="col-xs-6 col-sm-4 align-self-center">
                      <%= "#{air_segment.flight_time.to_i / 60}H #{air_segment.flight_time.to_i % 60}M" %><br>
                      <%= air_segment.booking_info.cabin_class %>
                    </div>
                  </div>

                  <div class="">
                    <% if air_segment.booking_info.fare_info.baggage_max_weight.present? %>
                      <%= "Baggage Allowance: #{air_segment.booking_info.fare_info.baggage_max_weight}" %>
                    <% end %>
                  </div>

                  <% if air_segment.next_air_segment.present? %>
                    <div class="mb0">
                      <%= "Transit Time: #{render_travel_time(air_segment.transit_time)}" %>
                    </div>
                  <% end %>

                  <p class="text-highlight mb0">
                    <%= "#{air_segment.destination_airport.city} (#{air_segment.destination_airport.iata})" %>
                  </p>
                  <p>
                    <%= air_segment.destination_airport.name %>
                  </p>
                </div>
              </div>
              
              
            <% end %>
          <% end %>
        </div>
        <div class="col-xs-3">
          <% solution.air_pricing_infos.each_with_index do |air_pricing_info, pricing_index| %>
            <div class="border-bottom">
              <a href='#price-detail-<%= "#{index}-#{pricing_index}" %>' class="text-dark nounderline" data-toggle="collapse" >
                <div class="row">
                  <div class="text-left col-xs-12 col-sm-6">
                    <%= passenger_print(air_pricing_info.passenger_code, air_pricing_info.passenger_count) %>
                  </div>
                  <div class="text-right col-xs-12 col-sm-6">
                    <%= air_pricing_info.final_total_price %>
                  </div>
                </div>
              </a>
              <div class="collapse text-grey" id='price-detail-<%= "#{index}-#{pricing_index}" %>'>
                <div class="row">
                  <div class="text-left col-xs-12 col-sm-6">
                    Fare
                  </div>
                  <div class="text-right col-xs-12 col-sm-6">
                    <%= air_pricing_info.final_base_price * air_pricing_info.passenger_count %>
                  </div>
                </div>
                <div class="row">
                  <div class="text-left col-xs-12 col-sm-6">
                    Tax
                  </div>
                  <div class="text-right col-xs-12 col-sm-6">
                    <%= air_pricing_info.final_taxes * air_pricing_info.passenger_count %>
                  </div>
                </div>
              </div>
              
            </div>
          <% end %>
          <div class="row">
            <div class="text-left col-xs-12 col-sm-6 text-green font-weight-bold">
              Total:
            </div>
            <div class="text-right col-xs-12 col-sm-6 text-green font-weight-bold">
              <%= solution.final_total_price %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
  <% elsif params['commit'].present? %>
    <div class="col-xs-12">
      <h4>
        No matching flight found
      </h4>
    </div>
  <% end %>
<% end %>