<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-fw"></i>Flights
<% end %>

<%= render 'shared/single_panel', card_title: 'View Flights' do %>
  <% if @solution.present? %>
    <div class="row">
      <div class="col-xs-12 mt5">
        <% @solution.journeys.each do |journey| %>
          <div class="flight-card pd10">
            <% @departure_time = journey.departure_segment.departure_time %>
            <% total_time = (journey.arrival_segment.arrival_time.to_time - journey.departure_segment.departure_time.to_time) / 60 %>
            <div>
              <p class="text-primary font-weight-bold mb0">
                <%= journey.departure_segment.origin_airport.city %> → <%= journey.arrival_segment.destination_airport.city %>
                <span class="font-weight-normal pl5"><%= journey.departure_segment.departure_time.strftime("%A %d %B %Y") %></span>
              </p>
              <p class="">
                Total Time: <%= "#{total_time.to_i / 60}H #{total_time.to_i % 60}M" %>
              </p>
            </div>
            
            <% journey.air_segments.each_with_index do |air_segment, index| %>
              <% if index > 0 %>
                <div class="row justify-content-center">
                  <div class="col-xs-12">
                    <p class="middle-line text-center mt5 text-grey">
                      <% transit_time = (journey.air_segments[index].departure_time.to_time - journey.air_segments[index - 1].arrival_time.to_time) / 60 %>
                      <%= "Transit Time: #{transit_time.to_i / 60}H #{transit_time.to_i % 60}M" %>
                    </p>
                  </div>
                </div>
              <% end %>
              <div class="row vertical-align">
                <div class="col-xs-6">
                  <div style='width: 100%; height: 100px;' class="text-center">
                    <%= image_tag air_segment.airline_image_url, style: 'height: 100%;' %>
                  </div>
                </div>
                <div class="col-xs-6">
                  <p class="mb0 font-weight-bold">
                    <%= air_segment.airline_name %>
                  </p>
                  <p class="mb0">
                    <%= "#{air_segment.carrier}#{air_segment.flight_number}" %>
                  </p>
                  <p class="mb0">
                    <%= air_segment.booking_info.cabin_class %>
                  </p>
                  <p>
                    <%= "#{air_segment.flight_time.to_i / 60}H #{air_segment.flight_time.to_i % 60}M" %>
                  </p>
                </div>
              </div>
              <div class="row vertical-align">
                <div class="col-xs-5">
                  <p class="mb0 text-right">
                    <%= air_segment.departure_time.strftime("%R") %>
                    <span><%= air_segment.origin_airport.city %></span>
                  </p>
                  <p class="mb0 text-right">
                    <%= air_segment.departure_time.strftime("%a,%d %b,%Y") %>
                  </p>
                  <p class="mb0 text-right">
                    <%= air_segment.origin_airport.name %>, <%= air_segment.origin_airport.city %>
                  </p>
                </div>
                <div class="col-xs-1">
                  <p class="font-weight-bold">
                    →
                  </p>
                </div>
                <div class="col-xs-5">
                  <p class="mb0 text-left">
                    <%= air_segment.arrival_time.strftime("%R") %>
                    <span><%= air_segment.destination_airport.city %></span>
                  </p>
                  <p class="mb0 text-left">
                    <%= air_segment.arrival_time.strftime("%a,%d %b,%Y") %>
                  </p>
                  <p class="mb0 text-left">
                    <%= air_segment.destination_airport.name %>, <%= air_segment.destination_airport.city %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="flight-card pd10">
          <div class="row">
            <div class="col-xs-4 col-sm-2">

            </div>
            <div class="col-xs-3 col-sm-2">
              <p class='font-weight-bold text-right'>
                Unit
              </p>
            </div>
            <div class="col-xs-2 col-sm-1">
              <p class='font-weight-bold text-right'>
                Qty
              </p>
            </div>
            <div class="col-xs-3 col-sm-2">
              <p class='font-weight-bold text-right'>
                Total
              </p>
            </div>
          </div>
          <% @solution.air_pricing_infos.each do |air_pricing_info| %>
            <div class="row">
              <div class="col-xs-4 col-sm-2">
                <p class="mb0 font-weight-bold">
                  <%= passenger_code(air_pricing_info.passenger_code) %>
                </p>
                <p class="mb0">
                  &nbsp; &nbsp; Fare
                </p>
                <p class="mb0">
                  &nbsp; &nbsp; Taxes
                </p>
              </div>
              <div class="col-xs-3 col-sm-2">
                <p class="mb0">
                  &nbsp;
                </p>
                <p class="mb0 text-right">
                  <%= number_to_currency(air_pricing_info.final_base_price, precision: 2, unit: 'MYR ') %>
                </p>
                <p class="mb0 text-right">
                  <%= number_to_currency(air_pricing_info.final_taxes, precision: 2, unit: 'MYR ') %>
                </p>
              </div>
              <div class="col-xs-2 col-sm-1">
                <p class="mb0">
                  &nbsp;
                </p>
                <p class="mb0 text-right">
                  <%= air_pricing_info.passenger_count %>
                </p>
                <p class="mb0 text-right">
                  <%= air_pricing_info.passenger_count %>
                </p>
              </div>
              <div class="col-xs-3 col-sm-2">
                <p class="mb0">
                  &nbsp;
                </p>
                <p class="mb0 text-right">
                  <%= number_to_currency(air_pricing_info.final_base_price * air_pricing_info.passenger_count.to_i, precision: 2, unit: 'MYR ') %>
                </p>
                <p class="mb0 text-right">
                  <%= number_to_currency(air_pricing_info.final_taxes * air_pricing_info.passenger_count.to_i, precision: 2, unit: 'MYR ') %>
                </p>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-2">
              <p class="mb0 font-weight-bold">
                Total amount
              </p>
            </div>
            <div class="col-xs-3 col-sm-2">
              <p class="mb0">
                &nbsp;
              </p>
            </div>
            <div class="col-xs-2 col-sm-1">
              <p class="mb0">
                &nbsp;
              </p>
            </div>
            <div class="col-xs-3 col-sm-2">
              <p class="mb0 text-right">
                <%= number_to_currency(@solution.final_total_price, precision: 2, unit: 'MYR ') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mt20 row">
      <div class="col-xs-12">
        <%= form_tag create_booking_flight_path(id: params[:id], trips: params[:trips].as_json, adults: params[:adults], children: params[:children], infants: params[:infants], cabin_class: params[:cabin_class]), multipart: true, method: 'POST', id: "flight-booking-form" do %>
          <% booking_index = 0 %>
          <% @solution.air_pricing_infos.each do |air_pricing_info| %>
            <% air_pricing_info.passenger_count.times do %>
              <%= fields_for 'flight_bookings[]', @flight_bookings[booking_index] do |b| %>
                <div class='col-sm-12 media <%= "#{ booking_index != 0 ? ' other-guest-form' : ''}" %>' >
                <%= label_tag '', "Guest #{booking_index + 1}: #{passenger_code(air_pricing_info.passenger_code)}", class: "col-sm-12 booking-group-label" %>
                  <div class="custom-form-group form-group col-sm-12 booking-group-form">
                    <div class="row">
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :designation, class: 'required' %>
                        <%= b.select :designation, options_for_select(Booking::DESIGNATION, selected: b.object.designation), {include_blank: true}, {class: 'custom-form-control form-control', required: :true} %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label "First & Middle Name ( as per passort )", class: 'required' %>
                        <%= b.text_field :first_name, class: 'custom-form-control form-control', required: :true %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label "Last/Family Name ( as per passort )", class: 'required' %>
                        <%= b.text_field :last_name, class: 'custom-form-control form-control', required: :true %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :country %>
                        <%= b.country_select("country", { include_blank: 'Select a country', selected: "MY"}, { class: 'custom-form-control form-control' }) %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :mobile, class: 'required' %>
                        <%= b.text_field :mobile, class: 'custom-form-control form-control', required: :true %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :passport_number %>
                        <%= b.text_field :passport_number, class: 'custom-form-control form-control' %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :passport_issue_date %>
                        <%= b.date_field :passport_issue_date, class: 'custom-form-control form-control' %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :passport_expiry_date %>
                        <%= b.date_field :passport_expiry_date, class: 'custom-form-control form-control' %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :date_of_birth, class: 'required' %>
                        <% if air_pricing_info.passenger_code == 'CNN' %>
                          <%= b.text_field :date_of_birth, class: 'custom-form-control form-control date-of-birth-field', required: :true,  placeholder: 'dd/mm/yyyy', max: @date_today, min: @departure_time - 12.years %>
                        <% elsif air_pricing_info.passenger_code == 'INF' %>
                          <%= b.text_field :date_of_birth, class: 'custom-form-control form-control date-of-birth-field', required: :true,  placeholder: 'dd/mm/yyyy', max: @date_today, min: @departure_time - 2.years %>
                        <% else %>
                          <%= b.text_field :date_of_birth, class: 'custom-form-control form-control date-of-birth-field', required: :true,  placeholder: 'dd/mm/yyyy', max: @date_today, min: @departure_time - 100.years %>
                        <% end %>
                        <%= b.hidden_field :category, value: air_pricing_info.passenger_code %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= b.label :remark %>
                        <%= b.text_field :remark, class: 'custom-form-control form-control' %>
                      </div>

                    </div>
                  </div>
                </div>
                <% booking_index += 1 %>
              <% end %>
            <% end %>
          <% end %>
          <div class="custom-form-group form-group col-sm-12">
            <%= label_tag '', "Payment Method" %>
            <%= fields_for 'payment', @payment do |payment| %>
              <%= render partial: "partials/payment_form", locals: {f: payment} %>
            <% end %>
          </div>
          <div class="mt20 custom-form-group form-group col-xs-12">
            <%= link_to 'Book Now', '#', class: 'btn btn-primary', id: 'flight-show-book' %>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="flight-booking-confirmation-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span class="icon icon-close"></span></button>
                  <h4 class="modal-title">
                    Flight Booking Confirmation
                  </h4>
                </div>
                <div class="modal-body">
                  <h3>Attention:</h3>
                  Thank you for making booking with us.
                  <br>
                  Please be noted that no ticket will issued until full payment received.
                  <br>
                  <br>
                  TOTAL PRICE: <%= number_to_currency(@solution.final_total_price, precision: 2, unit: 'MYR ') %>
                  <br>
                  Additional handling fees may apply.
                  <br>
                  After booking submit, kindly contact our ticketing team for further assistance.
                  <br>
                  By selecting “Yes” I acknowledge that I have read and accept the above clauses.
                  <br>
                  Confirm to submit this booking transaction?
                  <br>
                  <br>
                  <%= submit_tag "Yes", class: "btn btn-default", id: "booking-confirmation-yes" %>
                  <%= link_to 'No', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>