<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Flight Booking
<% end %>

<%= render 'shared/single_panel', card_title: "#{@flight_booking_group.flight_bookings.length} #{'booking'.pluralize(@flight_booking_group.flight_bookings.length)} successfully created.".html_safe do %>
  <% if @flight_booking_group.flight_booking_details.present? %>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Carrier</th>
            <th>Cabin Class</th>
            <th>Flight Number</th>
            <th>Origin/Terminal</th>
            <th>Destination/Terminal</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Travel Time</th>
          </tr>
        </thead>
        <tbody>
          <% @flight_booking_group.flight_booking_details.each do |flight| %>
            <tr>
              <td><%= flight.carrier %></td>
              <td><%= flight.cabin_class %></td>
              <td><%= flight.flight_number %></td>
              <td><%= flight.origin %>/<%= flight.origin_terminal %></td>
              <td><%= flight.destination %>/<%= flight.destination_terminal %></td>
              <td><%= flight.departure_time.strftime("%F %R") %></td>
              <td><%= flight.arrival_time.strftime("%F %R") %></td>
              <td><%= flight.travel_time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <br>

  <div class="panel panel-success mt20">
    <div class="panel-heading">
      Thank you for your online booking
    </div>
    <div class="panel-body">
      
      PNR number: <span class="bookings-disclaimer"><%= @flight_booking_group.host_code %></span>
      <br>
      Booking price without handling fees : <%= number_to_currency(@flight_booking_group.price, precision: 2, unit: 'RM ') %>
      <br>
      <strong>No ticket will be issued until full payment received.</strong>
      <br>
      Your booking is in progress.
      <br>
      We have your booking detail now.
      <br>
      Kindly contact our ticketing team to complete your booking. 
      <br>
      Additional handling fees may apply.

    </div>
  </div>
  <% if @new_domain %>
    <%= link_to 'Home Page', app_path, class: 'btn btn-success', data: {turbolinks: "false"} %>
    <%= link_to 'Booking Page', app_path(anchor: "bookings/flights"), class: 'btn btn-success', data: {turbolinks: "false"} %>
  <% else %>
    <%= link_to 'Back', flights_path(@tour), class: 'btn' %>
  <% end %>

</div>

<% end %>