<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotels
<% end %>
<%= render 'shared/single_panel', card_title: 'Search Hotels' do %>
  <%= form_tag(tbo_holidays_hotels_path, method: :get, id: 'hotel_search_form') do %>
    <div class="row">
      <div class="col-xs-12 mt20">
        <%= fields_for :search_criteria do |sf| %>
          <div class="row">
            <div class="custom-form-group form-group col-sm-3">
              <%= sf.label :place %>
              <%= sf.text_field(:place, value: search_params.present? ? search_params[:place] : '', class: 'form-control tbo-holidays-country-city-autocomplete', placeholder: 'Country or city', autocomplete: 'off', required: true) %>
              <%= sf.hidden_field :city_id, id: "city_id", value: "#{search_params.present? ? search_params[:city_id] : ''}" %>
              <%= sf.hidden_field :country_code, id: "country_code", value: search_params.present? ? search_params[:country_code] : '' %>
            </div>

            <div class="custom-form-group form-group col-sm-3">
              <%= sf.label :checkin_checkout, 'Check In - Check Out' %>
              <%= sf.text_field :checkin_checkout, value: search_params.present? ? search_params[:checkin_checkout] : '', class: "form-control", id: 'hotel-checkin-checkout' %>
            </div>

            <div class="custom-form-group form-group col-md-2">
              <%= sf.label :sort_by %>
              <%= sf.select :sort_by, options_for_select([['Lowest Price', 'PriceAsc'],['Highest Star Rating', 'StarRatingDesc']], search_params.present? ? search_params[:sort_by] : ''), {include_blank: true}, { class: 'custom-form-control form-control hotel-select' } %>
            </div>

            <div class="custom-form-group form-group col-sm-3">
              <%= sf.label "Nationality" %>
              <%= sf.country_select("country", { include_blank: 'Select a country', selected: search_params.present? ? search_params[:country] : "MY"}, { class: 'custom-form-control form-control hotel-select' }) %>
            </div>
          </div>

          <div>
            <div class="room-selections-group row">
              <div class="custom-form-group form-group col-md-1 col-xs-12">
                <%= sf.label :rooms %>
                <%= sf.select :rooms, options_for_select((1..6), search_params.present? ? search_params[:rooms] : ''), {}, { class: 'custom-form-control form-control', id: 'room_select' } %>
              </div>
              
              <%
                rooms = [search_params[:rooms].to_i, 1].max
                room_adults = search_params[:room_adults].present? ? search_params[:room_adults] : [1]
                childs_ages = search_params[:childs_ages].dup
                childs_beds = search_params[:childs_beds].dup
              %>
              <% (0...rooms).each_with_index do |room, index| %>
              <div class="room-selections row col-md-12">
                <div class="col-md-1">
                  <p id="room_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                    Room <%=index + 1%>
                  </p>
                </div>
                <div class="custom-form-group form-group col-md-1 col-xs-12">
                  <%= sf.label :adults %>
                  <%= select_tag("search_criteria[room_adults][]", options_for_select((1..6),room_adults[index]), {class: 'custom-form-control form-control', id: "room_adults#{index}"}) %>
                </div>

                <div class="custom-form-group form-group col-md-1 col-xs-12">
                  <%= sf.label :childs %>
                  <%= select_tag("search_criteria[room_childs][]", options_for_select((0..4), search_params[:room_childs].present? ? search_params[:room_childs][index] : 0), {class: 'custom-form-control form-control room-child-select', id: "room_childs#{index}"}) %>
                </div>

                <div class="child-details-group row <%= search_params[:room_childs].present? && search_params[:room_childs][index].to_i >= 1 ? '' : 'hidden' %>" style="margin-left: 103px;" id="multiple-child-details<%=index%>">
                  <% if search_params[:room_childs].present? && !search_params[:room_childs][index].to_i.zero? %>                                               
                    <% (0...search_params[:room_childs][index].to_i).each do |rc_idx| %>
                    <% if rc_idx == 1 %>
                      <div class="child-details row col-md-12" id="multiple-child-details-group<%=index%>">
                    <%end%>
            
                      <% if rc_idx.zero? %>
                        <div class="child-details row col-md-12" id="child-details-<%=rc_idx%>">
                      <% else %>
                        <div class="multiple-child-details row col-md-12" id="multiple-child-details-<%=rc_idx%>">
                      <%end%>
                        <div class="col-md-1">
                          <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                            Child <%= rc_idx + 1 %>
                          </p>
                        </div>

                        <div class="custom-form-group form-group col-md-1 col-xs-12">
                          <%= sf.label "Age" %>
                          <%= select_tag("search_criteria[childs_ages][]", options_for_select((1..18),childs_ages.shift), {class: 'custom-form-control form-control childs-age-select', id: "child_age#{rc_idx}"}) %>
                        </div>

                        <%# <div class="custom-form-group form-group col-md-1 col-xs-12"> %>
                          <%#= sf.label "Bed" %>
                          <%#= select_tag("search_criteria[childs_beds][]", options_for_select([["Yes", "true"], ["No", "false"]], childs_beds.shift), {class: 'custom-form-control form-control childs-age-bed0', id: "childs_bed#{rc_idx}"}) %>
                        <%# </div> %>
                      </div>
                    
                    <% if rc_idx == 1 %>
                      </div>
                    <%end%>
        
                    <% end %>
                  <% else %>
                    <div class="child-details row col-md-12" id="child-details-0">
                      <div class="col-md-1">
                        <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                          Child 1
                        </p>
                      </div>

                      <div class="custom-form-group form-group col-md-1 col-xs-12">
                        <%= sf.label "Age" %>
                        <%= select_tag("search_criteria[childs_ages][]", options_for_select((1..18), 1), {class: 'custom-form-control form-control childs-age-select', id: 'child_age0'}) %>
                      </div>

                      <%# <div class="custom-form-group form-group col-md-1 col-xs-12"> %>
                        <%#= sf.label "Bed" %>
                        <%#= select_tag("search_criteria[childs_beds][]", options_for_select([["Yes", "true"], ["No", "false"]], false), {class: 'custom-form-control form-control childs-age-bed0', id: 'childs_bed0'}) %>
                      <%# </div> %>
                    </div>

                  <% end %>

                  <div class="child-details row col-md-12" id="multiple-child-details-group0">
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>

        <% end %>

        <div class="row">
          <div class="col-xs-12 mt20">
            <%= submit_tag 'Search', data: { disable_with: 'Searching..'} ,class: 'btn btn-info btn-lg' %>
          </div>
        </div>
      </div>
    </div>
  

    <% if @hotels.present? %>
      <%# <%= @hotels.first.inspect %>

      <div class="row">
        <div class="col-xs-12 mt20">
          <% @hotels.in_groups_of(3).each do |hotel_group| %>
            <div class="row">

              <% hotel_group.each do |hotel| %>
                <% if hotel.present? %>                
                  <div class="col-md-4">
                    <div class="panel panel-default" style="height: 400px; position: relative;">
                      <%= image_tag hotel.hotel_info.hotel_picture, class: "hotel-img" %>

                      <div class="panel-body" style="margin-top: -25px;">
                        <h4><%= hotel.hotel_info.hotel_name %></h4>

                        <p class="card-text">
                          <% if hotel.hotel_info.rating_int.present? %>
                            <% max_stars = 5 %>
                            <% stars_round_off = hotel.hotel_info.rating_int.to_f.round + 1 %>
                            <% stars = hotel.hotel_info.rating_int.to_i %>
                            <% stars_remainder = hotel.hotel_info.rating_int.to_f % 1 %>

                            <% stars.times.each do |star| %>
                              <span class="fa fa-star star-checked"></span>
                            <% end %>

                            <% if stars_remainder == 0.50 %>
                              <span class="fa fa-star-half-o star-checked"></span>
                            <% end %>
                          <% end %>
                        </p>
       
                        <p class="card-text"><b>Location</b><br>
                         - <%= hotel.hotel_info.hotel_address %>
                        </p>
                      </div>

                      <div class="panel-footer" style="position: absolute; right: 0; bottom: 0; left: 0;">                      
                        <%= link_to "Select", tbo_holidays_hotel_path(id: hotel.result_index,
                          booking_form: @booking_params.merge({ 
                              result_index: hotel.result_index,
                              hotel_name: hotel.hotel_info.hotel_name,
                              hotel_code: hotel.hotel_info.hotel_code
                            }),
                            search_criteria: search_params
                          ),
                          class: 'btn btn-md btn-success'
                        %>
                        <% total_price =  hotel.min_hotel_price.total_price.to_f %>
                        <% currency    =  hotel.min_hotel_price.currency %>
                        
                        <%  hotel_markup = @hotel_markups[hotel.hotel_info.hotel_code].present? ? @hotel_markups[hotel.hotel_info.hotel_code] : @general_markup %>                        
                        <h4 class="pull-right">From <%= number_to_currency(TBOHotel.rate_with_markup(total_price, hotel_markup, 'MYR '), precision: 2, unit: "#{currency} ") %></h4>                                                                                                                             
                      </div>
                      
                    </div>
                  </div>
                <% end%>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
