<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>TBO Hotels
<% end %>
<% if @hotel.present? %>
  <%= render 'shared/single_panel', card_title: 'Hotel Details' do %>
    <% if @hotel_images.present? %>
      <div id="myCarousel" class="carousel" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" align="center">
          <% @hotel_images.each_with_index do |url, index| %>
            <div class="item<%= index.zero? ? ' active' : '' %>">
              <%= image_tag url, class: '', width: '320px;' %>
            </div>
          <% end %>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>

    <hr>

    <div class="col-md-12">
      <h3><%= @hotel.hotel_name %></h3>
      <p><%= @hotel.city_name %></p>
      <small><%= @hotel.address %></small>
    </div>

    <div class="col-md-12">
      <%= raw @hotel.description %>
    </div>

    <div class="col-md-12">
      <h4>Attractions</h4>
      <%= raw @hotel.attractions.join('<br>') %>
    </div>

    <div class="col-md-12">
      <h4>Facilities</h4>
      <%= raw @hotel.hotel_facilities.join('<br>') %>
    </div>

    <hr>

    <div class="col-md-12">
      <h3>Rooms</h3>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-responsive table-stripped">
            <thead>
              <tr>
                <td>Description</td>
                <td>Price</td>
                <td></td>                
                <td>Select Room</td>
              </tr>
            </thead>

            <tbody>
              <% if @booking_options.room_combinations.present? %>
                <% @booking_options.room_combinations.each do |room_combination| %>                  
                <tr>                  
                  <%= render_room_combination_booking_btn(@hotel, @hotel_rooms,room_combination, @booking_options, @booking_params, @hotel_markup, search_params) %>                  
                </tr>                  
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%= render partial: 'room_details' %>    
  <% end %>
<% end %>
