<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-outdent fa-fw"></i>Booking Alterations
<% end %>

<%= render 'shared/single_panel', card_title: 'View Booking Alterations' do %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_booking_alterations_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
        <%= text_field_tag :created_user, params[:created_user], placeholder: 'User' %>
        <%= select_tag :alter_type, options_for_select(['All', 'Withdrawn', 'Transferred'], params[:alter_type]) %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Altered At</th>
          <th>Type</th>
          <th>Tour Code</th>
          <th>Grouping</th>
          <th>Pax</th>
          <th>Amount</th>
          <th class="code">Reason</th>
          <th>Altered By</th>
          <th>Booked By</th>
          <th>Insurance</th>
        </tr>
      </thead>
      <tbody>
        <% @booking_alterations.each do |alter| %>
          <tr>
            <td><%= alter.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= link_to alter.alter_type.capitalize, admin_booking_alteration_path(alter), target: '_blank'%></td>
            <td>
              <% if alter.original_tour.present? %>
                <%= link_to alter.original_tour.code, admin_tour_path(alter.original_tour) %>
              <% end %>
              <% if alter.new_tour.present? %>
                -> <%= link_to alter.new_tour.code, admin_tour_path(alter.new_tour) %>
              <% end %>
            </td>
            <td>
              <% if alter.original_booking_group.present? %>
                <%= link_to alter.original_booking_group.code, admin_booking_group_path(alter.original_booking_group) %>
              <% end %>
              <% if alter.new_booking_group.present? %>
                -> <%= link_to alter.new_booking_group.code, admin_booking_group_path(alter.new_booking_group) %>
              <% end %>
              </td>
            <td><%= alter.bookings.count %></td>
            <td><%= alter.amount %></td>
            <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= alter.reason %>"><%= alter.reason %></div>
            <td><%= alter.created_user.try(:username) %></td>
            <td><%= alter.bookings.present? ? alter.bookings.map(&:booked_by_detail).uniq.join(', ') : '' %></td>
            <td><%= render_insurance_icon(alter) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @booking_alterations %>
<% end %>