<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-outdent fa-fw"></i>Booking Alterations
<% end %>

<%= render 'shared/single_panel', card_title: "Booking Alteration Detail" do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :original_tour %>
      <%= text_field_tag '', @booking_alteration.original_tour.present? ? @booking_alteration.original_tour.code : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :original_booking_group %>
      <%= text_field_tag '', @booking_alteration.original_booking_group.present? ? @booking_alteration.original_booking_group.code : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :new_tour %>
      <%= text_field_tag '', @booking_alteration.new_tour.present? ? @booking_alteration.new_tour.code : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :new_booking_group %>
      <%= text_field_tag '', @booking_alteration.new_booking_group.present? ? @booking_alteration.new_booking_group.code : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :alter_type %>
      <%= text_field_tag '', @booking_alteration.alter_type, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :reason %>
      <%= text_field_tag '', @booking_alteration.reason, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :whole_group %>
      <%= text_field_tag '', @booking_alteration.whole_group ? 'Yes' : 'No', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :amount %>
      <%= text_field_tag '', @booking_alteration.amount, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :altered_at %>
      <%= text_field_tag '', @booking_alteration.created_at.strftime("%d/%m/%Y %H:%M"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :altered_by %>
      <%= text_field_tag '', @booking_alteration.created_user.try(:username), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <% if @booking_alteration.prev.present? %>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :prev_transfer %>
        <br>
        <%= link_to @booking_alteration.prev.alter_type.capitalize, admin_booking_alteration_path(@booking_alteration.prev), target: '_blank' %>
      </div>
    <% end %>
    <% if @booking_alteration.restore_withdrawn_user.present? %>
      <div class="field custom-form-group form-group col-sm-6">
        <%= label_tag :restore_withdrawn_by %>
        <%= text_field_tag '', @booking_alteration.restore_withdrawn_user.try(:username), class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="field custom-form-group form-group col-sm-6">
        <%= label_tag :restore_withdrawn_at %>
        <%= text_field_tag '', @booking_alteration.restore_withdrawn_at.strftime("%d/%m/%Y %H:%M"), class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% end %>
    <% @booking_alteration.bookings.each_with_index do |booking, i| %>
      <%= label_tag '', "Guest #{i+1}, Ref: #{booking.id}", class: "col-sm-12" %>
      <div class="custom-form-group form-group col-sm-12">
        <div class="nested-fields">
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :price %>
            <%= text_field_tag '', booking.price, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :price_type %>
            <%= text_field_tag '', booking.price_type, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :price_offered %>
            <%= text_field_tag '', booking.price_offered, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :rebatable %>
            <%= text_field_tag '', booking.agent_rebatable, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :designation %>
            <%= text_field_tag '', booking.designation, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :name %>
            <%= text_field_tag '', booking.name, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :gender %>
            <%= text_field_tag '', booking.gender, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :mobile %>
            <%= text_field_tag '', booking.mobile, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :passport_number %>
            <%= text_field_tag '', booking.passport_number, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :passport_expiry_date %>
            <%= text_field_tag '', booking.passport_expiry_date.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :passport_issuing_place %>
            <%= text_field_tag '', booking.passport_issuing_place, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :passport_photocopy %>
            <% if booking.passport_photocopy.present? %>
              <%= link_to 'View passport', booking.passport_photocopy.url, target: '_blank' %>
            <% end %>
            <%= text_field_tag '', '', class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :date_of_birth %>
            <%= text_field_tag '', booking.date_of_birth.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :room_type %>
            <%= text_field_tag '', booking.room_type, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :extra_bed %>
            <%= text_field_tag '', booking.extra_bed, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :remark %>
            <%= text_field_tag '', booking.remark, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :category %>
            <%= text_field_tag '', booking.category.capitalize, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <% if @booking_alteration.original_tour.is_cruise? %>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :cruise_room_type %>
              <%= text_field_tag '', booking.cruise_room_type, class: 'custom-form-control form-control', disabled: true %>
            </div>
          <% end %>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :agent_confirmation %>
            <%= text_field_tag '', booking.agent_confirmation, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :agent_rep %>
            <%= text_field_tag '', booking.agent_user.present? ? booking.agent_user.username : booking.sale_rep, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :booked_by %>
            <%= text_field_tag '', booking.initiator_user.try(:username) || booking.agent_user.try(:username), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :booked_at %>
            <%= text_field_tag '', booking.created_at.strftime("%d/%m/%Y %H:%M"), class: 'custom-form-control form-control', disabled: true %>

          </div>
          
        </div>
      </div>
    <% end %>
  </div>

  <% if @booking_alteration.bookings.present? && @booking_alteration.withdrawn? && policy([:admin, @booking_alteration]).restore? %>
    <%= link_to 'Restore', restore_admin_booking_alteration_path(@booking_alteration), class: 'btn btn-danger' %>
  <% end %>
  
<% end %>