<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-text fa-fw "></i> Etravel Invoice Summary
<% end %>


<%= render 'shared/single_panel', card_title: 'View Etravel Invoice' do %>
  <%= form_tag admin_etravel_invoices_path, method: 'get' do %>
    <%= select_tag :keywords, options_for_select(EtravelInvoice::CATEOGRY, selected: params[:keywords]), class: 'custom-form-control', prompt: "Select Category" %>
      <%= submit_tag 'Search', class: 'btn btn-success' %>
<% end %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th>Category</th>
          <th>Order ID</th>
          <th>Departure Date</th>
          <th>Return Date</th>
          <th>Creation Date</th>
          <th>Customer Name</th>
          <th>Product</th>
          <th>Creator</th>
          <th>Settlement Amount</th>
          <th>Invoice</th>
          <th>EO</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*EtravelInvoice::ADMIN_PER_PAGE+1 : 1 %>
        <% @etravel_invoices.each_with_index do |etravel, index| %>
          <tr>
            <td class="number"><%= index + start_seq %></td>
            <td><%= category_link(etravel) %></td>
            <td><%= etravel.order_id %></td>
            <td><%= etravel.departure %></td>
            <td><%= etravel.return %></td>
            <td><%= etravel.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= etravel.name %></td> 
            <td><%= etravel.product %></td>
            <td><%= etravel.agent %></td>
            <td><%= etravel.total_price %></td>
            <td><%= invoice_number(etravel) %></td> 
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<%= paginate @etravel_invoices %>
<% end %>