<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :gift_id, "Gift" %>
    <%= f.hidden_field :gift_id, class: 'gift_id' %>
    <div class="btn-group custom-form-control form-control">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= f.object.gift_id.present? ? "#{f.object.gift.title} - #{f.object.gift.points}".truncate(50) : "Select a gift" %> <span class="caret"></span></a>
      <ul class="dropdown-menu gift_select">
        <% f.object.admin_available_gifts.sort_by{|g| g.title}.each do |c| %>
          <li class="<%= f.object.gift_id == c.id ? 'active' : '' %>" data-img="<%= c.image.present? ? c.image : '' %>" data-points="<%= c.points %>" data-value="<%= c.id %>">
            <a href="#/"><img src='<%= c.image.present? ? c.image : '' %>' width='10%'> &nbsp; <%= "#{c.title} - #{c.points}" %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <br />
    <br />
    <img class="gift_image" src='<%= f.object.gift.try(:image).present? ? f.object.gift.try(:image) : '' %>' width='30%'>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :total_points %>
    <%= f.number_field :total_points, class: 'custom-form-control form-control gift_points', readonly: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: 'custom-form-control form-control gift_quantity' %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Detail", f %>
  </div>
</div>