<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gift Redemption
<% end %>

<%= render 'shared/single_panel', card_title: 'Gift Redemptions' do %>
  <%= link_to('New Redemption', new_admin_gift_tracking_group_path, class: 'btn btn-primary')%>
  <%= link_to('Redemption Summary', tracking_summary_admin_gift_tracking_groups_path, class: 'btn btn-primary')%>
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Tracking ID</th>
            <th>Category</th>
            <th>Agent</th>
            <th>Gift Quantity</th>
            <th>Remark</th>
            <th>Status</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <% @gift_tracking_groups.each do |tracking_group| %>
            <tr>
              <td><%= link_to tracking_group.id, admin_gift_tracking_group_path(tracking_group) %></td>
              <td><%= tracking_group.category.present? ? tracking_group.category.humanize : '' %></td>
              <td><%= tracking_group.agent_id.present? ? tracking_group.agent.full_name : '' %></td>
              <td><%= tracking_group.dispatched_out %></td>
              <td><%= tracking_group.remark %></td>
              <td><%= tracking_group.status.present? ? tracking_group.status.humanize : '' %></td>
              <td><%= tracking_group.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <%= paginate @gift_tracking_groups if @gift_tracking_groups.present? %>
<% end %>
