<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gift Redemptions
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Gift Redemption' do %>
  <%= form_for [:admin, @gift_tracking_group], html: { role: "form", class: 'gift-tracking-form'} do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @gift_tracking_group } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :agent_id, "Agent ID" %>
        <% options = options_from_collection_for_select(User.agent.active, 'id', 'full_name') %>
        <%= f.select :agent_id,  options, {include_blank: "Select Agent"}, { class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :cut_off_date %>
        <%= f.date_field :cut_off_date, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(GiftTrackingGroup.categories.collect { |s| [s[0].humanize, s[0]] }, selected: f.object.category), {}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :remark %>
        <%= f.text_field :remark, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :gift_redemptions %>
        <%= f.fields_for :gift_trackings do |gift_tracking| %>
          <%= render 'gift_tracking_fields', f: gift_tracking %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Record', f, :gift_trackings %>
        </div>
      </div>
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_gift_tracking_groups_path(@gift_tracking_group), class: 'btn' %>
  <% end %>
<% end %>
