<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gift Redemptions
<% end %>

<%= render 'shared/single_panel', card_title: 'Gift Redemption Detail' do %>
  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th colspan="3">Tracking Status History</th>
            </tr>
            <tr>
              <th>#</th>
              <th>Status</th>
              <th>Changed At</th>
            </tr>
          </thead>
            <tbody>
              <% @gift_tracking_group.status_history.each_with_index do |status_history, i| %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= status_history.capitalize %></td>
                  <% @gift_tracking_group.status_changed_at.each_with_index do |changed_at, j| %>
                    <% if j == i %>
                      <td><%= changed_at.to_datetime.strftime("%d/%m/%Y %H:%M") %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :agent_id, "Agent ID" %>
      <%= text_field_tag '', @gift_tracking_group.agent.present? ? @gift_tracking_group.agent.full_name : '', class: 'custom-form-control form-control', disabled: true  %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :cut_off_date %>
      <%= text_field_tag '', @gift_tracking_group.cut_off_date.present? ? @gift_tracking_group.cut_off_date.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= label_tag :category %>
      <%= text_field_tag '', @gift_tracking_group.category.present? ? @gift_tracking_group.category.humanize : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :remark %>
      <%= text_field_tag '', @gift_tracking_group.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :status %>
      <%= text_field_tag '', @gift_tracking_group.status.present? ? @gift_tracking_group.status.humanize : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <%= render_gift_status_detail(@gift_tracking_group) %>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :gift_redemptions %>
      <% @gift_tracking_group.gift_trackings.each_with_index do |gift_tracking, i| %>
        <%= label_tag '', "Record #{i+1}", class: "col-sm-12 gift-tracking-group-label" %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-2">
              <%= label_tag :point_topup %>
              <%= number_field_tag '', gift_tracking.point_topup, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-2">
              <%= label_tag :booking_group_id, "Booking Group ID" %>
              <%= text_field_tag '', gift_tracking.booking_group_id, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="custom-form-group form-group col-sm-8">
              <%= label_tag :gift_redemption_details %>
              <% gift_tracking.gift_tracking_details.each do |tracking_detail| %>
                <div class="nested-fields">
                  <div class="field custom-form-group form-group col-sm-4">
                    <%= label_tag :gift_id, "Gift ID" %>
                    <%= text_field_tag '', tracking_detail.gift.title, class: 'custom-form-control form-control', disabled: true %> 
                  </div>
                  <div class="field custom-form-group form-group col-sm-4">
                    <%= label_tag :total_points %>
                    <%= text_field_tag :total_points, tracking_detail.total_points, class: 'custom-form-control form-control', disabled: true %>
                  </div>
                  <div class="field custom-form-group form-group col-sm-4">
                    <%= label_tag :quantity %>
                    <%= text_field_tag :quantity, tracking_detail.quantity, class: 'custom-form-control form-control', disabled: true %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @gift_tracking_group.overdue? %>
    <h5 class="gift-overdue">You cannot edit the details as it exceeded the cut off date.</h5>
    <%= link_to 'Edit', '#', class: 'btn btn-primary disabled' %>
  <% else %>
    <%= link_to 'Edit', edit_admin_gift_tracking_group_path(@gift_tracking_group), class: 'btn btn-primary' %>
  <% end %>

  <% if @gift_tracking_group.deliverable? %>
    <%= link_to 'Deliver Gift', '', class: 'btn btn-warning', :'data-toggle' => 'modal', :'data-target' => '#gift-deliver-modal' %>
  <% end %> 
  <%= link_to 'Print', admin_gift_tracking_group_path(@gift_tracking_group, print: true), class: 'btn btn-success', target: '_blank' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>

  <!-- Modal -->
  <div class="modal fade" id="gift-deliver-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="icon icon-close"></span></button>
          <h4 class="modal-title">
            Deliver Gift
          </h4>
        </div>
        <div class="modal-body">
          <%= form_for [:admin, @gift_tracking_group], url: {action: "deliver"}, html: {method: "POST", id: "deliver-gift-form"} do |f| %>
            <div class="row">
              <div class="custom-form-group form-group col-sm-6">
                <%= f.label :total_boxes %>
                <%= f.number_field :total_boxes, class: 'custom-form-control form-control', required: true %>
              </div>
            </div>
            <br>
            <br>
            <%= f.submit "Deliver", class: "btn btn-warning"  %>
            <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
