<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gift Redemptions Summary
<% end %>

<%= render 'shared/single_panel', card_title: 'Gift Redemption Summary Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :agent_id, "Agent ID" %>
      <%= text_field_tag '', @gift_tracking_group.agent.present? ? @gift_tracking_group.agent.full_name : '', class: 'custom-form-control form-control', disabled: true  %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :cut_off_date %>
      <%= text_field_tag '', @gift_tracking_group.cut_off_date.present? ? @gift_tracking_group.cut_off_date.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :remark %>
      <%= text_field_tag '', @gift_tracking_group.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :gift_redemptions %>
      <% @gift_tracking_group.gift_trackings.each_with_index do |gift_tracking, i| %>
        <%= label_tag '', "Record #{i+1}", class: "col-sm-12 gift-tracking-group-label" %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-4">
              <%= label_tag :booking_id, "Booking ID" %>
              <%= text_field_tag '', gift_tracking.booking_id, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="custom-form-group form-group col-sm-8">
              <%= label_tag :gift_redemption_details %>
              <% gift_tracking.gift_tracking_details.each do |tracking_detail| %>
                <div class="nested-fields">
                  <div class="field custom-form-group form-group col-sm-4">
                    <%= label_tag :gift_id, "Gift ID" %>
                    <%= text_field_tag '', tracking_detail.gift.title, class: 'custom-form-control form-control', disabled: true %> 
                  </div>
                  <div class="field custom-form-group form-group col-sm-4">
                    <%= label_tag :total_points %>
                    <%= text_field_tag :total_points, tracking_detail.total_points, class: 'custom-form-control form-control', disabled: true %>
                  </div>
                  <div class="field custom-form-group form-group col-sm-4">
                    <%= label_tag :quantity %>
                    <%= text_field_tag :quantity, tracking_detail.quantity, class: 'custom-form-control form-control', disabled: true %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to 'Back', :back, class: 'btn' %>
<% end %>
