<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gift Redemptions Summary
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Gift Redemption Summary: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present? %>
  <% card_title = "View Gift Redemption Summary: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Gift Redemption Summary: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Gift Redemption Summary' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to 'View All Gift Redemptions', admin_gift_tracking_groups_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag tracking_summary_admin_gift_tracking_groups_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %><br><br>
        <%= select_tag :agent_id, options_from_collection_for_select(User.agent.active, 'id', 'full_name'), { prompt: "Select Agent", class: 'custom-form-control' } %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
            <th>Redemption ID</th>
            <th>Agent</th>
            <th>Gift Quantity</th>
            <th>Items</th>
            <th>Remark</th>
            <th>Created At</th>
          </tr>
      </thead>
      <tbody>
        <% @gift_tracking_groups.each do |tracking_group| %>
          <tr>
            <td><%= link_to tracking_group.id, summary_detail_admin_gift_tracking_group_path(tracking_group) %></td>
            <td><%= tracking_group.agent.present? ? tracking_group.agent.full_name : '' %></td>
            <td><%= tracking_group.dispatched_out %></td>
            <td><%= render_gift_item(tracking_group) %></td>
            <td><%= tracking_group.remark %></td>
            <td><%= tracking_group.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= paginate @gift_tracking_groups if @gift_tracking_groups.present? %>
<% end %>