<div class="nested-fields activity_fields">
  <div class="field custom-form-group form-group col-sm-6">
    <%= select_tag "activity[]", options_for_select(@all_activity, "#{f.object.taggable_id}, #{f.object.taggable_type}"), class: 'custom-form-control form-control activity-select', prompt: "Select Activity" %>
    <%= f.hidden_field :taggable_type, class: 'custom-form-control form-control taggable_type' %>
    <%= f.hidden_field :taggable_id, class: 'custom-form-control form-control taggable_id' %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Activity", f %>
  </div>
</div>