<div class="nested-fields prices-field">
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :dates, "Departure Dates" %><br>
    <%= f.text_field :dates_text, class: 'form-control custom-form-control-tagsinput', data: {role: 'tagsinput'}, placeholder: "dd/mm/yyyy - dd/mm/yyyy" %>
  </div>
  <% if f.object.prices.present? %>
    <%= render_land_tour_prices(f, @land_tour) %>
  <% else %>
    <%= f.fields_for :prices do |b| %>
      <div class="field custom-form-group form-group col-sm-2 price-field">
        <br>
        <%= b.number_field f.object.prices, class: 'custom-form-control form-control', placeholder: "Price" %>
      </div>
    <% end %>
  <% end %>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Departure Dates", f %>
  </div>
</div>