<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-1">
    <%= f.label :day_no, "Day" %>
    <%= f.number_field :day_no, class: 'custom-form-control form-control day_no' %>
  </div>
  <div class="field custom-form-group form-group col-sm-5">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'custom-form-control form-control' %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= f.label :inclusion %><br>
    <%= f.check_box :inc_breakfast, {}, true %>&nbsp;Breakfast
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.check_box :inc_lunch, {}, true %>&nbsp;Lunch
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.check_box :inc_dinner, {}, true %>&nbsp;Dinner
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: "4" %>
  </div>
  <div class="custom-form-group form-group col-sm-12 land-tour-activity-fields">
    <%= f.label :land_tour_activities, "Activity List" %><br>
    <div class="nested-fields activity-list">
      <div class="custom-form-group form-group col-sm-12 land-tour-city-fields">
        <%= f.label :city_id %>
        <%= f.fields_for :land_tour_cities do |land_tour_city| %>
          <%= render 'land_tour_city_fields', f: land_tour_city %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add City', f, :land_tour_cities %>
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :activity %>
        <%= f.fields_for :land_tour_activities do |land_tour_activity| %>
          <%= render 'land_tour_activity_fields', f: land_tour_activity %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Activity', f, :land_tour_activities, class: "add_activity" %>
        </div>
      </div>
      <div class="field custom-form-group form-group col-sm-12">
        <%= link_to "Remove City", "", class: "remove_city" %>
      </div>
    </div>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Itinerary", f %>
  </div>
</div>