<div class="nested-fields">
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :name, "Category" %>
    <%= f.text_field :name, class: 'custom-form-control form-control' %>
  </div>
  <div class="custom-form-group form-group col-sm-8">
    &nbsp;
  </div>
  <div class="custom-form-group form-group col-sm-12 land-tour-date-fields">
    <%= f.fields_for :land_tour_prices do |land_tour_price| %>
      <%= render 'land_tour_price_fields', f: land_tour_price %>
    <% end %>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to_add_association 'Add Departure Dates', f, :land_tour_prices, class: "prices-add" %>
    </div>
  </div>
  <div class="custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Category", f %>
  </div>
</div>