<div class="nested-fields land-tour-city-fields">
  <div class="city-list">
    <div class="field custom-form-group form-group col-sm-6">
      <%= text_field_tag('location[]', f.object.city_name, {class: 'custom-form-control form-control location-autocomplete', placeholder: 'Search city', autocomplete: "off"}) %>
      <%= f.hidden_field :city_id, class: 'custom-form-control form-control city_id' %>
    </div>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove City", f %>
  </div>
</div>