<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tours
<% end %>

<%= render 'shared/single_panel', card_title: 'View Ground Tours' do %>
  <%= link_to('New Ground Tour', new_admin_land_tour_path, class: 'btn btn-primary')%><br>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_land_tours_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
        <label class="checkbox-inline">
          <%= hidden_field_tag :only_active_tour, 'false' %>
          <%= check_box_tag :only_active_tour, 'true', params[:only_active_tour].blank? || params[:only_active_tour] == 'true' %> Only Active
        </label>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th>Code</th>
          <th>Title</th>
          <th>Category</th>
          <th class="caption">Highlight</th>
          <th>Destination</th>
          <th>Travelling Period</th>
          <th>Min Booking</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*50+1 : 1 %>
        <% @land_tours.each_with_index do |land_tour, index| %>
          <tr>
            <td class="number"><%= index + start_seq %></td>
            <td><%= link_to land_tour.code.present? ? land_tour.code : "Untitled Code", admin_land_tour_path(land_tour) %></td>
            <td><%= land_tour.title.present? ? land_tour.title : "Untitled" %></td>
            <td class="code"><%= land_tour.category.humanize %></td>
            <td class="highlight"><div class="trim highlight" data-toggle="tooltip" data-placement="top" title="<%= land_tour.highlight %>"><%= land_tour.highlight %></div></td>
            <td><%= land_tour.country %></td>
            <td><%= land_tour.travel_date_start.try(:strftime, "%F") %> - <%= land_tour.travel_date_end.try(:strftime, "%F") %></td>
            <td><%= land_tour.min_booking %></td>
            <td><%= land_tour.status.humanize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @land_tours %>
<% end %>