<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tours
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Ground Tour' do %>
  <%= form_for [:admin, @land_tour], html: { role: "form", class: "land-tour-form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @land_tour } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :cn_title, "Title (CN)" %>
        <%= f.text_field :cn_title, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-2">
        <%= f.label :code, "Tour Code", class: 'required' %>
        <%= f.text_field :code, class: 'custom-form-control form-control', required: true %>
      </div>
      <div class="custom-form-group form-group col-sm-2">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(LandTour.categories.collect { |s| [s[0].humanize, s[0]] }), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-2">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(LandTour.statuses.collect { |s| [s[0].humanize, s[0]] }), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :guide_languages %><br>
        <%= f.collection_check_boxes :guide_languages, LandTour::GUIDE_LANGUAGES.collect { |lang| [lang, lang] }, :first, :last do |b| %>
          <%= content_tag :div, class: 'col-sm-3 col-xs-6' do %>
            <%= b.check_box(class: "check_box") + " #{b.value}" %>
          <% end %>
        <% end %>
        <br><br>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :highlight %>
        <%= f.text_field :highlight, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :cn_description, "Description (CN)" %>
        <%= f.text_area :cn_description, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :terms_and_conditions, "Remarks" %>
        <%= f.text_area :terms_and_conditions, class: 'form-control', rows: "4" %>
      </div>
      <div class="text-capitalize custom-form-group form-group col-sm-3">
        <%= f.label :cut_off_day %><br>
        <%= f.number_field :cut_off_day, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :min_booking %>
        <%= f.number_field :min_booking, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :max_booking %>
        <%= f.number_field :max_booking, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :free_of_charge %>
        <%= f.number_field :free_of_charge, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :deposit_type %>
        <%= f.select :deposit_type, options_for_select(LandTour.deposit_types.collect { |s| [s[0].humanize, s[0]] }), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :deposit, "Deposit" %>
        <%= f.number_field :deposit, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :single_supplement_price %>
        <%= f.number_field :single_supplement_price, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :inclusion %><br>
        <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
          <%= f.check_box :inc_hotel, {}, true %>&nbsp;Hotel <br/>
          <%= f.check_box :inc_flight, {}, true %>&nbsp;Flight <br/>
          <%= f.check_box :inc_half_board_meals, {}, true %>&nbsp;Half board Meals
        <% end %>
        <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
          <%= f.check_box :inc_full_board_meals, {}, true %>&nbsp;Full board Meals
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :inc_entrance_ticket, {}, true %>&nbsp;Entrance Tickets
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :inc_transportation, {}, true %>&nbsp;Transportation
        <% end %>
        <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
          <%= f.check_box :inc_shopping_stop, {}, true %>&nbsp;Shopping Stop(s)
        <% end %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :depart_day %><br>
        <%= f.collection_check_boxes :depart_day, Date::DAYNAMES.collect { |s| [Date.parse(s).strftime('%a'), s] }, :first, :last do |b| %>
          <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
            <%= b.check_box(class: "check_box") + " #{b.text}" %>
          <% end %>
        <% end %>
      </div>

      <%= f.label :supplier_details, class: "col-sm-12 booking-group-label" %><br>
      <div class="custom-form-group form-group col-sm-12">
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :supplier_tour_code %>
          <%= f.text_field :supplier_tour_code, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :supplier_name %>
          <%= f.text_field :supplier_name, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :supplier_pic_name, "Person Incharge" %>
          <%= f.text_field :supplier_pic_name, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :supplier_pic_phone_no, "Person Incharge Phone No." %>
          <%= f.text_field :supplier_pic_phone_no, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :supplier_email %>
          <%= f.text_field :supplier_email, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :supplier_address %>
          <%= f.text_field :supplier_address, class: 'custom-form-control form-control' %>
        </div>
      </div>

      <%= f.label :emergency_contacts, class: "col-sm-12 booking-group-label" %><br>
      <div class="nested-fields col-sm-12 contacts-field">
        <div class="field custom-form-group form-group col-sm-5">
          <%= label_tag :name %>
          <%= text_field_tag 'land_tour[emergency_contact][contact_name][]', '', class: 'custom-form-control form-control' %>
        </div>  
        <div class="field custom-form-group form-group col-sm-3">
          <%= label_tag :phone_no %>
          <%= text_field_tag 'land_tour[emergency_contact][contact_phone_no][]', '', class: 'custom-form-control form-control' %>
        </div>
        <br/>
        <%= link_to "Remove Contact", "", class: "remove-contact" %>
      </div>
      <div class="field custom-form-group form-group col-sm-12">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to "Add Contact", "", class: "add-contact" %>
      </div> 

      <%= f.label :land_tour_days, "Itinerary", class: "col-sm-12 booking-group-label" %>
      <div class="custom-form-group form-group col-sm-12 land-tour-day-fields">
        <%= f.fields_for :land_tour_days do |land_tour_day| %>
          <%= render 'land_tour_day_fields', f: land_tour_day %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Itinerary', f, :land_tour_days, class: "activity-add" %>
        </div>
      </div>

      <%= f.label :prices, class: "col-sm-12 booking-group-label" %>
      <div class="custom-form-group form-group col-sm-12 land-tour-category-fields">
        <div class="custom-form-group form-group col-sm-4">
          &nbsp;
        </div>
        <%= f.fields_for :prices do |price| %>
          <div class="nested-fields col-sm-8">
            <div class="custom-form-group form-group col-sm-2 quantity-field">
              <%= label_tag :quantity %>
              <%= text_field_tag 'land_tour_prices[quantity][]', '', class: 'custom-form-control form-control' %>
              <%= link_to "Remove", "", class: "remove-quantity" %>
            </div>
            <div class="custom-form-group form-group col-sm-12 qty-add-link">
              <%= link_to "Add Quantity", "", class: "add-quantity" %>
            </div>
          </div>
        <% end %>
        <%= f.fields_for :land_tour_categories do |land_tour_category| %>
          <%= render 'land_tour_category_fields', f: land_tour_category %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Category', f, :land_tour_categories, class: "category-add" %>
        </div>
        <%= render_land_tour_child_and_dta_pricing(f) %>
      </div>

      <%= f.label :compulsory_charges, class: "col-sm-12 booking-group-label" %><br>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.fields_for :compulsory_charges do |charge| %>
          <div class="nested-fields col-sm-12 charges-field">
            <div class="field custom-form-group form-group col-sm-4">
              <%= label_tag :title %>
              <%= text_field_tag 'land_tour[compulsory_charges][charge_title][]', '', class: 'custom-form-control form-control' %>
            </div>  
            <div class="field custom-form-group form-group col-sm-2">
              <%= label_tag :type %>
              <%= select_tag 'land_tour[compulsory_charges][charge_type][]', options_for_select(LandTour::CHARGE_TYPE.collect { |type| [type, type] }), include_blank: true, class: 'custom-form-control form-control' %>
            </div>
            <div class="field custom-form-group form-group col-sm-2">
              <%= label_tag :price %>
              <%= number_field_tag 'land_tour[compulsory_charges][charge_price][]', '', class: 'custom-form-control form-control' %>
            </div>
            <div class="field custom-form-group form-group col-sm-4">
              &nbsp;
            </div>
            <%= link_to "Remove Charge", "", class: "remove-charge" %>
          </div>
          <div class="field custom-form-group form-group col-sm-12">
            <%= link_to "Add Charge", "", class: "add-charge" %>
          </div>
        <% end %>
      </div>

      <%= f.label :covers, "Images", class: "col-sm-12 booking-group-label" %>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.fields_for :covers do |cover| %>
          <%= render 'cover_fields', f: cover %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Image', f, :covers %>
        </div>
      </div>
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
