<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Department
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Department' do %>
  <%= form_for [:admin, @department], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @department } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-12 h3">
        <%= label_tag "", @department.name%>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :Title, class: 'required'  %>
        <%= f.text_field :title, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :email, class: 'required'  %>
        <%= f.text_field :email, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :phone, class: 'required' %>
        <%= f.text_field :phone, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :important_note, class: 'required'  %>
        <%= f.text_area :important_note, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :description, class: 'required' %>
        <%= f.hidden_field :description %>
        <div class="markdownEditSection"></div>
      </div>

      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :logo, class: 'required'  %>
        <% if f.object.logo.present? %>
          <%= link_to 'View', f.object.logo.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :logo, class: 'custom-form-control form-control' %>
      </div>
      <div class="single-line col-xs-12 mt20">
      </div>
      <div class="custom-form-group form-group col-sm-12 h3 ">
        <%= f.label"", @department.name %> <%= f.label :Four_Season %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :fs_important_note, class: 'required'  %>
        <%= f.text_area :fs_important_note, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :fs_description, class: 'required'  %>
        <%= f.hidden_field :fs_description %>
        <div class="markdownEditSection"></div>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :fs_logo, class: 'required'  %>
        <% if f.object.fs_logo.present? %>
          <%= link_to 'View', f.object.fs_logo.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :fs_logo, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
