  <% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Department
<% end %>

<%= render 'shared/single_panel', card_title: 'View Department' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag admin_departments_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <%= select_tag :keywords, options_for_select(Department::NAME, selected: params[:keywords]), class: 'custom-form-control', prompt: "Select department" %>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="department">name</th>
          <th class="email">Email</th>
          <th class="phone">Phone</th>
          <th>Logo</th>
          <th>All Itineraries</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*Itinerary::ADMIN_ITINERARY_PER_PAGE+1 : 1 %>
        <% @department.each_with_index do |department, i| %>
          <tr>
            <td><%= i + start_seq %></td>
            <td><%= link_to department.name, admin_department_path(department) %></td>
            <td><%= department.email %></td>
            <td><%= department.phone %></td>
            <td><%= department.logo.present? ? link_to('View', department.logo.url, target: '_blank') : '' %></td>
            <td class="tour-count"><%= link_to department.itineraries.count, admin_itineraries_path(department_id: department.id,commit: "search") %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @department %>
<% end %>