<% content_for :head do %>
  <title><%= @department_id %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Department
<% end %>

<%= render 'shared/single_panel', card_title: 'Department Detail' do %>
  <%= link_to 'View All Department', admin_departments_path, class: 'btn btn-primary' %>

  <div class="row mt20 mb20">
    <div class="custom-form-group form-group col-sm-12 h4">
      <%= label_tag '',@department.name, disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :Title %>
      <%= text_field_tag '', @department.title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :email %>
      <%= text_field_tag '', @department.email, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :phone %>
      <%= text_field_tag '', @department.phone, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :important_note  %>
      <%= text_field_tag '', @department.important_note, class: 'custom-form-control form-control', disabled: true %>
    </div>
    
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :logo  %><br>
      <% if @department.logo.present? %>
        <%= link_to @department.logo.url, target: '_blank' do %>
          <div class="custom-form-group form-group col-sm-12">
            <%= image_tag @department.logo.url, class: 'cover-thumbnail' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :description  %>
      <div class="markdownViewSection well" data-content="<%= @department.description.html_safe %>"></div>
    </div>
    <div class="single-line col-xs-12 mt20">
    </div>
    <div class="custom-form-group form-group col-sm-12 h4">
      <%= label_tag '',@department.name, disabled: true %> <%= label_tag :four_season %> 
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :fs_important_note  %>
      <%= text_field_tag '', @department.fs_important_note, class: 'custom-form-control form-control', disabled: true %>
    </div>
    
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :fs_logo  %><br>
      <% if @department.fs_logo.present? %>
        <%= link_to @department.fs_logo.url, target: '_blank' do %>
          <div class="custom-form-group form-group col-sm-12">
            <%= image_tag @department.fs_logo.url, class: 'cover-thumbnail' %>
          </div>
        <% end %>  
      <% end %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :fs_description %>
      <div class="markdownViewSection well" data-content="<%= @department.fs_description %>"></div>
    </div>
  </div>
  <div class="custom-form-group form-group col-sm-12">
    <%= link_to 'Edit', edit_admin_department_path(@department), class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  </div>

<% end %>
  

