<style type="text/css">
  tbody:before {
    /* This doesn't work because of border-collapse */
    line-height:1em;
    content:".";
    color:white; /* bacground color */
    display:block;
  }

  .th-details {
    width: 200px;
  }

  .td-colon {
    width: 50px;
  }
</style>

<div class="row">
  <table class="table">

    <thead style="padding-bottom: 10px;">
      <tr>
        <th class="th-details" align="left">Accommodation Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Hotel</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.hotel_name %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.hotel_address %></td>
      </tr>
    </tbody>

  </table>
</div>

<div class="row" style="padding-top: 25px;">
  <table class="table">

    <thead style="padding-bottom: 10px;">
      <tr>
        <th class="th-details" align="left">Service Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Primary Reference</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.booking_ref %></td>
      </tr>
      <tr>
        <td>Secondary Reference</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.unique_txn_id %></td>
      </tr>
      <tr>
        <td>Check-in Date</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.check_in.to_date.strftime("%d %b %Y") %></td>
      </tr>
      <tr>
        <td>Check-out Date</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.check_out.to_date.strftime("%d %b %Y") %></td>
      </tr>
      <tr>
        <td>Guest(s) Info</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.hotel_bookings.map{ |t| "#{t.salutation}. #{t.first_name} #{t.last_name}" }.join(', ') %></td>
      </tr>
      <tr>
        <td>Rooms</td>
        <td class="td-colon">:</td>
        <td><%= @hotel_booking_group.room %></td>
      </tr>
    </tbody>

  </table>
</div>

<div class="row">
  <p><b>Cancellation Policy</b></p>

  <%= @hotel_booking_group.cancellation_policy %>
</div>

<div class="row">
  <p><b>Important Information</b></p>

  <%= raw @hotel_booking_group.important_information %>
</div>

<div class="row">
  <% @hotel_booking_group.additional_information.split(' - ').each_with_index do |info, index| %>
    <% if index == 0 %>
      <p><b><%= info %></b></p>
    <% else %>
      <p><%= info %></p>
    <% end %>
  <% end %>
</div>
