<% content_for :head do %>
  <title><%= @tour_leader.first_name %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-lg"></i> <i class="fa fa-flag fa-lg"></i> Tour Leader
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Leaders Detail' do %>
 <%= form_for [:admin, @tour_leader], html: { role: "form", class: "reminder-departure-form" } do |f| %>
  <%= render partial: 'partials/errors', locals: { target: @tour_leader } %>
  
  <div class="row mt20 mb20">
    <div class="text-capitalize custom-form-group form-group col-md-1">
      <%= f.label :Design, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.select :designation, options_for_select(TourLeader::DESIGNATION, selected: f.object.designation), {include_blank: true}, {class: 'custom-form-control form-control'} %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= f.label :Last_Name, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.text_field :last_name, class: 'custom-form-control form-control' %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= f.label :First_Name, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.text_field :first_name, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-1">
      <%= f.label :Gender,  class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.select :gender, options_for_select(TourLeader.genders.collect { |s| [s[0].humanize, s[0]] }, selected: f.object.gender), {include_blank: true}, {class: 'custom-form-control form-control'} %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.label :Language, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.collection_check_boxes :languages, TourLeader::LANGUAGES.collect { |s| [s, s] }, :first, :last do |b| %>
        <%= content_tag :div, class: 'col-sm-3 col-xs-3' do %>
          <%= b.check_box() + " #{b.text}" %>
        <% end %>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.label :Date_of_birth, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.date_field :date_of_birth, class: 'custom-form-control form-control' %>
    </div>
    <div class="col-md-12">
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.label :Description%>
    </div>
    <div class="custom-form-group form-group col-md-6">
      <%= f.text_area :description, class: 'form-control', rows: "2" %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.label :Nationality, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.text_field :nationality, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= f.label :Experience%>
    </div>
    <div class="custom-form-group form-group col-md-6">
      <%= f.text_area :experience, class: 'form-control', rows: "2" %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.label :Emergency_contact, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.text_field :emergency_number, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= f.label :Expertise%>
    </div>
    <div class="custom-form-group form-group col-md-6">
      <%= f.text_area :expertise, class: 'form-control', rows: "2" %>
    </div>
      <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= f.label :mobile, class: 'required' %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.text_field :mobile, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.label :Address%>
    </div>
    <div class="custom-form-group form-group col-md-6">
      <%= f.text_area :address, class: 'form-control', rows: "2" %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-1">
      <%= f.label :Photo%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <% if @tour_leader.photo.present? %>
        <%= link_to 'View File', @tour_leader.photo.url, target: '_blank' %>
      <% end %>
      <%= f.file_field :photo, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= f.label :Passport_no%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= f.text_field :passport_number, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.label :Passport_Expiry_Date%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.date_field :passport_expiry_date, class: 'custom-form-control form-control' %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= f.label :passport_country%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= f.text_field :passport_country,  class: 'custom-form-control form-control'  %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= f.label :Passport_copy%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <% if @tour_leader.passport_copy.present? %>
        <%= link_to 'View File', @tour_leader.passport_copy.url, target: '_blank' %>
      <% end %>
      <%= f.file_field :passport_copy, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= f.label :travel_insurance%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%=  f.select :insurance_confirmation, options_for_select([["Yes", "true"], ["No", "false"]], selected: f.object.active), {}, {class: 'custom-form-control form-control'} %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= f.label :Insurance_expiry_date %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.date_field :insurance_expiry_date, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-gorup form-group col-md-6">
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.label :Insurance_copy %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <% if @tour_leader.insurance_copy.present? %>
        <%= link_to 'View File', @tour_leader.insurance_copy.url, target: '_blank' %>
      <% end %>
      <%= f.file_field :insurance_copy, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
    <div class="custom-form-group form-group col-sm-2">
     <%= f.label :Visa %>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= f.text_field :visa_no, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.label :visa_expiry_date%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= f.date_field :visa_expiry_date, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
  </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
    <% end %>
  <% end %>