<% content_for :head do %>
  <title><%= @tour_leader.name %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-lg"></i> <i class="fa fa-flag fa-lg"></i> Tour Leader
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Leaders Detail' do %>
  <%= link_to('New Tour Leader', new_admin_tour_leader_path, class: 'btn btn-primary')%>
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th class="number">#</th>
            <th class="number">Designation</th>
            <th class="code" >Name</th>
            <th class="number">Phone Number</th>
            <th class="number">Gender</th>
            <th class="number">Passport No</th>
            <th class="number">Travel Insurance</th>
            <th class="number">Visa No</th>
          </tr>
        </thead>
        <tbody>
          <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*TourLeader::ADMIN_TOUR_LEADER_PER_PAGE+1 : 1 %>
          <% @tour_leader.each_with_index do |tour_leader, index| %>
            <tr>
              <td class="number"><%=link_to index + start_seq, admin_tour_leader_path(tour_leader), target: '_blank' %></td>
              <td><%= tour_leader.designation %></td>
              <td class="text-capitalize"><%= tour_leader.name_index %></td>
              <td><%= tour_leader.mobile %></td>
              <td><%= tour_leader.gender %></td>
              <td><%= tour_leader.passport_number %></td>
              <td><%=tour_leader.insurance_no_present%></td>
              <td><%=tour_leader.visa_no %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%= paginate @tour_leader %>
<% end %>