<% content_for :head do %>
  <title><%= @tour_leader.first_name %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-lg"></i> <i class="fa fa-flag fa-lg"></i> Tour Leader
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Leaders Detail' do %>
  <%= link_to 'View All Tour Leaders', admin_tour_leaders_path, class: 'btn btn-primary' %>

  <div class="row mt20 mb20">
    <div class="custom-form-group form-group col-md-3">
      <% if @tour_leader.photo.present? %>
        <%= link_to @tour_leader.photo.url, target: '_blank' do %>
          <div class="custom-form-group form-group col-md-3">
            <%= image_tag @tour_leader.photo.url, class: 'photo-tourleader' %>
          </div>
        <% end %>
        <% else %>
          <%= image_tag "tl-default.png", class: 'photo-tourleader' %>
      <% end %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Last_Name %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour_leader.last_name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :First_Name %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= text_field_tag '', @tour_leader.first_name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Designation %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour_leader.designation, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Gender%>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= text_field_tag '', @tour_leader.gender, class: 'custom-form-control form-control text-capitalize' , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Language%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour_leader.languages.join(', '), class: 'text-capitalize custom-form-control form-control' , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Date_of_birth%>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= text_field_tag '', @tour_leader.date_of_birth.try(:strftime, "%d %b %Y"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Nationality%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour_leader.nationality, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :mobile%>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= text_field_tag '', @tour_leader.mobile, class: 'custom-form-control form-control' , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-5">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Emergency_contact%>
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= text_field_tag '', @tour_leader.emergency_number, class: 'custom-form-control form-control' , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Description%>
    </div>
    <div class="custom-form-group form-group col-md-10">
      <%= text_area_tag '', @tour_leader.description, class: 'form-control', rows: "3" , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Experience%>
    </div>
    <div class="custom-form-group form-group col-md-10">
      <%= text_area_tag '', @tour_leader.experience, class: 'form-control', rows: "2" , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Expertise%>
    </div>
    <div class="custom-form-group form-group col-md-10">
      <%= text_area_tag '', @tour_leader.expertise, class: 'form-control', rows: "2" , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-12">
    </div>
    <div class="custom-form-group form-group col-md-2">
      <%= label_tag :Address%>
    </div>
    <div class="custom-form-group form-group col-md-10">
      <%= text_area_tag '', @tour_leader.address, class: 'form-control', rows: "2" , disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
    <div class="custom-form-group form-group col-md-1">
    </div>
    <div class="custom-form-group form-group col-md-4">
      <% if @tour_leader.passport_copy.present? %>
        <%= link_to @tour_leader.passport_copy.url, target: '_blank' do %>
          <div class="custom-form-group form-group col-md-3">
            <%= image_tag @tour_leader.passport_copy.url, class: 'photo-tourleader' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-md-1">
    </div>
    <div class="custom-form-group form-group col-md-4">
      <% if @tour_leader.insurance_copy.present? %>
        <%= link_to @tour_leader.insurance_copy.url, target: '_blank' do %>
      <div class="custom-form-group form-group col-md-3">
        <%= image_tag @tour_leader.insurance_copy.url, class: 'photo-tourleader' %>
      </div>
        <% end %>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Passport_no%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_field_tag '', @tour_leader.passport_number, class: 'text-capitalize custom-form-control form-control' , disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :Passport_Expiry_Date%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour_leader.passport_expiry_date.try(:strftime, "%d %b %Y"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :passport_country%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_field_tag '', @tour_leader.passport_country,  class: 'custom-form-control form-control' , disabled: true%>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :travel_insurance%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_field_tag '', @tour_leader.insurance_confirmation ? 'Yes' : 'No' , class: 'custom-form-control form-control' , disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :Insurance_expiry_date %>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%=  text_field_tag '', @tour_leader.insurance_expiry_date.try(:strftime, "%d %b %Y"), class: 'custom-form-control form-control', disabled: true  %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-2">
      <%= label_tag :Visa_No%>
    </div>
    <div class="custom-form-group form-group col-md-4">
      <%= text_field_tag '', @tour_leader.visa_no, class: 'text-capitalize custom-form-control form-control', disabled: true %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-md-3">
      <%= label_tag :Visa_Expiry_Date%>
    </div>
    <div class="custom-form-group form-group col-md-3">
      <%= text_field_tag '', @tour_leader.visa_expiry_date.try(:strftime, "%d %b %Y"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-12 mt20 mb20">
    </div>
  </div> 
    <%= link_to 'Edit', edit_admin_tour_leader_path(@tour_leader), class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>