
#Inspire{
    width: 1600px;
    margin: auto;
    padding: 0px 10px;
}
#Inspire .content_title{
    margin-top: 50px
}
#Inspire .content_title p{
    margin-bottom: 0
}
#Inspire .content_title h1{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
}
#Inspire .tab_warp{
    /*padding-bottom: 80px*/
}
#Inspire .tab_warp .ant-tabs-bar{
    border-bottom: 0px;
}
#Inspire .tab_warp .ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
    width: 3em !important; /* 69px !important; */
    background-color: #b71c1c;
    height: 5px;
}
#Inspire .tab_warp .ant-tabs-tab{
    padding: 16px 0px !important;
}
#Inspire .ant-tabs-nav .ant-tabs-tab-active{
  color:#b71c1c;
}
#Inspire .slider { 
  width: 95%;
  margin: auto;
  padding-top: 20px;
}

#Inspire .slider img{ 
  width: 100%;
  height: 400px;
  /* object-fit: cover; */
  border-radius: 2px;
}

#Inspire .slick-slide.slick-center img {
  transform: scale(1.2);
  height: 337px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
#Inspire .slick-center.slick-current{
  opacity: 1;
}
#Inspire .slick-center.slick-current img{ 
  height: 380px;
  padding: 0 5px;
}
#Inspire .slick-center.slick-current .img_button{
  opacity: 1;
  bottom: 10%;
  padding-right: 0px
}
#Inspire .slick-center.slick-current .title_img span{
  padding-left: 0px!important;
  color: #fff
}
#Inspire .slick-slide{
  opacity: 0.4;
  height: auto /*500px*/;
  padding: 20px;
}
#Inspire .img_button{
  position: absolute;
  bottom: 20%;
  width: 440px;
  text-align: right;
}
#Inspire .img_button .ant-btn-primary{
  background-color: #f9ab26;
  border-color: #f9ab26;
}

#Inspire .slick-slide .img_button{
  opacity: 0.4;
  padding-right: 20px
}

#Inspire .slick-slide .title_img span{
  padding-left: 20px;
}

#Inspire .title_img{
  width: 250px;
  float: left;
  text-align: left;
}
#Inspire .title_img span{
  float: left;
  width: 100%
}

#Inspire .slick-arrow {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
  -moz-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
  box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
}
#Inspire .slick-arrow:hover {
  background-color: #fff;
}
#Inspire .slick-arrow:focus {
  background-color: #fff;
}

#Inspire .slick-prev{
  z-index: 1;
}
#Inspire .slick-prev:before, .slick-next:before{
  color: #9e9e9e;
}

/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
  #Inspire{
    width: 1300px;
  }
  #Inspire .slider img{ 
  
    height: 350px;
  }
  #Inspire .img_button{
    width: 350px;
  }
  #Inspire .title_img {
    width: 210px;

}
#Inspire .slick-slide {
  padding: 15px;
}
#Inspire .slick-center.slick-current img {
  height: 335px;
}
}

@media only screen and (max-width: 1350px) {
  #Inspire{
    width: 1000px;
  }
  #Inspire .slider img{ 
   
    height: 260px;
  }
  #Inspire .slick-slide {
    padding: 10px;
}
  #Inspire .slider { 
    width: 93%;
  }
  #Inspire .img_button{
    width: 255px;
  }
  #Inspire .slick-slide.slick-center img{
    height: 250px;
  }
  #Inspire .slick-slide{
    height: 300px;

  }
  
  #Inspire .title_img{
    width: 120px;
  }
  #Inspire .slick-slide .title_img span{
    padding-left: 10px;
  }
  #Inspire .slick-slide .img_button{
    padding-right: 10px;
  }
  #Inspire .img_button{
    bottom: 15%;
  }
}

@media only screen and (max-width: 1050px) {
  #Inspire{
    width: 850px;
  }
  #Inspire .slider img{ 
    height: 260px;
  }
  #Inspire .img_button{
    width: 227px;
    bottom: 15%;
  }

  #Inspire .title_img{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  #Inspire .slick-slide.slick-center img{
    height: 245px;
  }

  #Inspire .slick-center.slick-current .img_button{
    bottom: 10%;
    padding-right: 0px;
    padding-left: 0px;
    width: 227px;
  }
  #Inspire .img_button .ant-btn-primary{
    width: 100%;
  }
  #Inspire .slick-slide .img_button {
    padding-right: 10px;
    padding-left: 10px;
}
#Inspire .slick-slide {
  height: 290px;
  padding: 10px;
}
}

@media only screen and (max-width: 770px) {
  #Inspire{
    width: 700px;
  }
  #Inspire .slider img{ 
    height: 180px;
    object-fit: fill;
  }

  #Inspire .img_button{
    width: 150px;
    bottom: 18%;
    width: 190px;
  }
  #Inspire .slick-slide.slick-center img{
    height: 175px;
  }
  #Inspire .slick-center.slick-current .img_button{
    bottom: 8%;
    width: 190px;
  }
  #Inspire .img_button .ant-btn-primary{
    width: 100%;
    font-size: 12px;
    height: 25px;
  }
  #Inspire .slick-slide {
    height: 220px;
    width: 227px;
    width: 95%;
    padding: 10px;
    padding-top: 10px;
}
#Inspire .slick-arrow {
  width: 40px;
  height: 40px;

}
#Inspire .slick-next {
  right: -20px;
}
#Inspire  .slick-prev {
  left: -20px;
}

#Inspire .tab_warp{
  padding-bottom: 80px;
}

}

@media only screen and (max-width: 720px) {
  #Inspire{
    width: 600px;
  }
  #Inspire .slider img{ 
    height: 180px;
  }

  #Inspire .img_button{
    width: 158px;
    bottom: 18%;
  }
  #Inspire .slider {
    padding-top: 25px;
}
#Inspire .slick-slide{
  padding: 8px;
}
#Inspire .slick-center.slick-current .img_button{
  width: 158px;
}
#Inspire .slick-arrow {
  width: 30px;
  height: 30px;

}
#Inspire .slick-next {
  right: -20px;
}
#Inspire  .slick-prev {
  left: -20px;
}
}

@media only screen and (max-width: 625px) {
  #Inspire{
    width: 90%;
    margin: auto;
    padding: 0px;
  }
  #Inspire .slider img{ 
    height: 400px;
    
  }
  #Inspire .slick-slide.slick-center img {
    height: 400px;
}

  #Inspire .img_button{
    width: 10%;
    bottom: 10%;
    margin: auto;
    
  }
  #Inspire .img_button .ant-btn-primary {

    height: 40px;
}
  #Inspire .slick-arrow {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
}
  #Inspire .slick-slide {
    height: 440px;
    opacity: 1;
}
#Inspire .slick-slide .title_img span {
  padding-left: 0px;
}
#Inspire .slick-slide .img_button{
  opacity: 1;
  padding-left: 20px;
}
#Inspire .slider { 
  width: 100%;
}
#Inspire .tab_warp {
  padding-bottom: 70px;
}
#Inspire .slick-arrow {
  width: 40px;
  height: 40px;

}
#Inspire .slick-next {
  right: 7px;
}
#Inspire  .slick-prev {
  left: 7px;
}
}

@media only screen and (max-width: 520px) {
  #Inspire{
    width: 90%;
    /* margin: auto; */
   
  }

  #Inspire .img_button{
    width: 10%;
    bottom: 10%;
    margin: auto;
    
  }

  #Inspire .slick-slide {

    opacity: 1;
  }
  #Inspire .slick-slide .title_img span {
    padding-left: 0px;
  }
  #Inspire .slick-slide .img_button{
    opacity: 1;
  }

  #Inspire .tab_warp {
    padding-bottom: 70px;
  }

}

@media only screen and (max-width: 400px) {
  #Inspire .content_title h1{
    font-size: 2.5em;
  }


  #Inspire .slick-slide .img_button {
    padding-left: 15px;
}
}