<% content_for :head do %>
  <title><%= @holiday_calendar_id %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Holiday Calendar
<% end %>

<%= render 'shared/single_panel', card_title: 'Holiday Detail' do %>
<%= form_for [:admin, @holiday_calendar], html: { role: "form", class: "reminder-departure-form" } do |f| %>
<%= render partial: 'partials/errors', locals: { target: @holiday_calendar } %>
  <div class="row mt20 mb20">
    <div class="custom-form-group form-group col-sm-12">
      <%= f.label :holiday_name, class: 'required' %>
      <%= f.select :name, options_for_select(HolidayCalendar::CALENDAR_NAME, selected: f.object.name), {include_blank: true}, {class: 'custom-form-control form-control'} %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= f.label :date_start %>
      <%= f.date_field :date_start, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= f.label :date_end %>
      <%= f.date_field :date_end, class: 'custom-form-control form-control' %>
    </div>
  </div>
    <%= f.submit "Edit", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>

  

