<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Holiday Calendar
<% end %>

<%= render 'shared/single_panel', card_title: 'View Holiday Calendar' do %>
   <%= link_to('New Holiday Calendar', new_admin_holiday_calendar_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="department">Holiday Name</th>
          <th class="email">Date Range</th>
          <th>Holiday Status</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*HolidayCalendar::ADMIN_HOLIDAY_CALENDAR_PER_PAGE+1 : 1 %>
        <% @holiday_calendar.each_with_index do |holiday_calendar, i| %>
          <tr>
            <td><%=  i + start_seq %></td>
            <td><%= link_to holiday_calendar.name, admin_holiday_calendar_path(holiday_calendar) %></td>
            <td><%= holiday_calendar.date_start.try(:strftime, "%F") %> - <%= holiday_calendar.date_end.try(:strftime, "%F") %></td>
            <td><%= holiday_calendar.holiday_status %></td>
          </tr> 
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @holiday_calendar %>
<% end %>