<% content_for :head do %>
  <title><%= @holiday_calendar_id %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Holiday Calendars
<% end %>

<%= render 'shared/single_panel', card_title: 'Holiday Detail' do %>
  <%= link_to 'View All Holiday Calendar', admin_holiday_calendars_path, class: 'btn btn-primary' %>
  <div class="row mt20 mb20">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :name %>
      <%= text_field_tag '', @holiday_calendar.name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :date_start %>
      <%= text_field_tag '', @holiday_calendar.date_start.try(:strftime, "%F"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :date_end %>
      <%= text_field_tag '', @holiday_calendar.date_end.try(:strftime, "%F"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to 'Edit', edit_admin_holiday_calendar_path(@holiday_calendar), class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn' %>
    </div>
<% end %>
  

