<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Packages
<% end %>

<%= render 'shared/single_panel', card_title: 'View Roamingman Packages' do %>
  <%= link_to('New Package', new_admin_roamingman_package_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag admin_roamingman_packages_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <label class="checkbox-inline">
          <%= hidden_field_tag :only_active_package, 'false' %>
          <%= check_box_tag :only_active_package, 'true', params[:only_active_package].blank? || params[:only_active_package] == 'true' %> Only Active
        </label>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Countries & Regions Covered</th>
          <th>Type</th>
          <th class="code">Channel Price (RM)/Day</th>
          <th class="code">Retail Price (RM)/Day</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @roamingman_packages.each do |roamingman_package| %>
          <tr>
            <td><%= roamingman_package.code %></td>
            <td><%= link_to roamingman_package.name, admin_roamingman_package_path(roamingman_package) %></td>
            <td class="caption"><div class="trim caption" data-toggle="tooltip" data-placement="top" title="<%= roamingman_package.join_countries %>"><%= roamingman_package.join_countries %></div></td>
            <td><%= roamingman_package.package_type %></td>
            <td class="code"><%= roamingman_package.channel_price %></td>
            <td class="code"><%= roamingman_package.retail_price %></td>
            <td><%= roamingman_package.status.humanize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @roamingman_packages %>
<% end %>