<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Packages
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Roamingman Packages Detail' do %>
  <%= form_for [:admin, @roamingman_package], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @roamingman_package } %>
      <div class="row">
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :code %>
          <%= f.text_field :code, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :countries, "Countries & Regions Covered" %>
          <%= f.text_field :countries, value: @roamingman_package.join_countries , class: 'custom-form-control-tagsinput', id: 'country_tag' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :category %>
          <%= f.select :category, options_for_select(RoamingmanPackage.categories.collect { |s| [s[0].humanize, s[0]] }, selected: f.object.category), {}, {class: 'custom-form-control form-control'} %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :package_type %>
          <%= f.text_field :package_type, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :data_rules %>
          <%= f.text_field :data_rules, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :channel_price %>
          <%= f.number_field :channel_price, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :retail_price %>
          <%= f.number_field :retail_price, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :min_rent_days %>
          <%= f.number_field :min_rent_days, class: 'custom-form-control form-control' %>
        </div>
        <div class="custom-form-group form-group col-sm-12">
        <%= f.label :covers, "Images" %>
        <%= f.fields_for :covers do |cover| %>
          <%= render 'cover_fields', f: cover %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Image', f, :covers %>
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.submit "Create", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
  <% end %>
<% end %>