<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Booking
<% end %>

<%= render 'shared/single_panel', card_title: "New booking for package : #{@roamingman_package.name}".html_safe do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Countries & Regions Covered</th>
          <th>Type</th>
          <th>Data Rules</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="code"><%= @roamingman_package.code %></td>
          <td class="code"><%= @roamingman_package.name %></td>
          <td class="caption"><div class="trim caption" data-toggle="tooltip" data-placement="top" title="<%= @roamingman_package.join_countries %>"><%= @roamingman_package.join_countries %></div></td>
          <td><%= @roamingman_package.package_type %></td>
          <td><%= @roamingman_package.data_rules %></td>
          <td>MYR <%= @roamingman_package.retail_price %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt20">
    <%= form_for [:admin, @roamingman_booking_group], url: create_booking_admin_roamingman_package_path(@roamingman_package, @roamingman_booking_group), method: :post, html: { role: "form" , class: "roamingman-booking-form" } do |f| %>
      <%= render partial: 'partials/errors', locals: { target: @roamingman_booking_group } %>
        <div class="custom-form-group form-group col-sm-12">
          <%= f.label :roamingman_bookings %>
          <%= f.fields_for :roamingman_bookings do |roamingman_booking| %>
            <%= render 'roamingman_booking_fields', f: roamingman_booking %>
          <% end %>
        </div>
        <div class="col-sm-12">
          <div class="custom-form-group form-group col-sm-6">
            <%= f.label :remark %>
            <%= f.text_field :remark, class: 'custom-form-control form-control' %>
          </div>
        </div>
        <div class="mt20 custom-form-group form-group col-sm-12">
        <%= submit_tag 'Book', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    <% end %>  
  </div>

<% end %>