<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Packages
<% end %>

<%= render 'shared/single_panel', card_title: 'Roamingman Packages Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @roamingman_package.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :name %>
      <%= text_field_tag '', @roamingman_package.name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :category %>
      <%= text_field_tag '', @roamingman_package.category.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :package_type %>
      <%= text_field_tag '', @roamingman_package.package_type, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :data_rules %>
      <%= text_field_tag '', @roamingman_package.data_rules, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :cost_price %>
      <%= text_field_tag '', @roamingman_package.channel_price, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :selling_price %>
      <%= text_field_tag '', @roamingman_package.retail_price, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :min_rent_days %>
      <%= text_field_tag '', @roamingman_package.min_rent_days, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :highlight %>
      <%= text_field_tag '', @roamingman_package.highlight, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :status %>
      <%= text_field_tag '', @roamingman_package.status.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :countries, "Countries & Regions Covered" %>
      <%= text_area_tag '', @roamingman_package.join_countries, class: 'form-control', rows: "3", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :terms_and_conditions %>
      <%= text_area_tag '', @roamingman_package.terms_and_conditions, class: 'form-control', rows: "4", disabled: true %>
    </div>
  </div>

  <% if @roamingman_bookings.present? %>
    <div class="col-sm-12">
      <div class="table-responsive mt20">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="number">Updated</th>
              <th class="number">Grouping</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Quantity</th>
              <th class="number">Total Price</th>
              <th class="number">Deposit Mode</th>
              <th>Booked by</th>
              <th class="number">Booked at</th>
              <th class="number">Remark</th>
            </tr>
          </thead>
          <tbody>
            <% @roamingman_bookings.each do |roamingman_booking| %>
              <tr>
                <td><%= roamingman_booking.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><%= roamingman_booking.roamingman_booking_group.id %></td>
                <td><%= roamingman_booking.name %></td>
                <td><%= roamingman_booking.mobile %></td>
                <td><%= roamingman_booking.email %></td>
                <td><%= roamingman_booking.quantity %></td>
                <td><%= roamingman_booking.roamingman_booking_group.price %></td>
                <td><%= roamingman_booking.roamingman_booking_group.deposit_mode.humanize %></td>
                <td><%= roamingman_booking.agent_user.username %></td>
                <td><%= roamingman_booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= roamingman_booking.roamingman_booking_group.remark %>"><%= roamingman_booking.roamingman_booking_group.remark %></div></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Images" %><br>
      <% @roamingman_package.covers.each do |cover| %>
        <% if cover.image.present? %>
          <div class="custom-form-group form-group col-sm-4">
            <%= link_to cover.image.url, target: '_blank' do %>
              <% image_tag cover.image.url, class: 'cover-thumbnail' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Edit', edit_admin_roamingman_package_path(@roamingman_package), class: 'btn btn-primary' %>
  <% if policy(RoamingmanBooking).new? && @roamingman_package.active? %>
    <%= link_to 'Add Booking', new_booking_admin_roamingman_package_path(@roamingman_package), class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>