#Places{
    width: 1600px;
    margin: auto;
    padding-bottom: 50px;
    position: relative;
    padding: 0px 10px;

}

#Places .place_banner{
/*
    float: left;
    height: 300px;
    width: 100%;
    background-size: cover; */
}
#Places .place_banner img{
    object-fit: cover;
    width: 100%;
    border-radius: 2px;
    
}
#Places .place_banner .title {
	position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
	top: 6%;
	text-align: left;
	width: 500px;
    font-size: 2.5em;
    text-align: right
}
#Places .place_banner .title span:nth-child(1n){
color: #fff;
}
#Places .place_banner .title span:nth-child(2n){
    color: #f9ab25;
}

#Places .place_banner .title .ant-btn-primary{
    background-color: #f9ab25;
    border-color: #f9ab25;
}
#Places .place_banner .title .ant-btn-primary:hover{
    background-color: #f9ab25;
    border-color: #f9ab25;
}
#Places .place_banner .title .ant-btn-primary:focus{
    background-color: #f9ab25;
    border-color: #f9ab25;
}

#Places .content_title{
    margin-top: 50px
}
#Places .content_title h1{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
}
#Places .content_title p{
   margin-bottom: 0
}
#Places .content_title div{
    float: left;
    text-align: left;
}
#Places .content_title div:nth-child(1n){
    width: 30%;
}
#Places .content_title div:nth-child(1n) span{
  font-size: 2em;
  color: #b71c1c;
  font-weight: bold;
}
#Places .content_title div:nth-child(1n) .border_width{
    width: 100px;
    height: 5px;
    background-color: #b71c1c;
    margin-top: 10px;
}
#Places .content_title div:nth-child(2n){
    width: 80%;
}
#Places .content_title div:nth-child(2n) p{
    width: 100%;
    padding: 10px;
    color: #bdbdbd;
}


#Places .tab_content{
    margin-top: 20px;
    float: left;
    width: 100%;
}
#Places .tab_content .ant-tabs-tab span img{
   width: 20px;
   height: 20px;
   margin-right: 5px
}
#Places .tab_content .ant-tabs-bar{
    border: 0px;
}
#Places .tab_content .ant-tabs-nav .ant-tabs-tab{
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
    -moz-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
    box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
    margin: 10px 20px 50px 0;
}

#Places .tab_content .ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
    display: none!important;
}
#Places .tab_content .ant-tabs-nav .ant-tabs-tab-active{
    background-color: #f9ab25;
    color: #fff
}
#Places .tab_content .ant-tabs-nav .ant-tabs-tab:hover{
    background-color: #f9ab25;
    color: #fff
}

#Places .tab_content .card_style{
    float: left;
   padding: 10px;
   width: 25%;
}
#Places .card_style .ant-card-body{
    padding: 20px 15px 10px 15px;

}
#Places .tab_content .card_style .ant-card-cover img{
    height: 280px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
#Places .tab_content .ant-card.ant-card-bordered{
    width: 100%!important;
   border-radius: 5px;
}
#Places .card_meta {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
#Places .card_meta .price{
   color: #52c41a
}
#Places .card_meta div{
    float: left;
    width: 100%;
}

#Places .card_meta div:nth-child(1n){
    width: 18%
}
#Places .card_meta div:nth-child(2n){
    width: 82%
}
#Places .card_meta div:nth-child(2n) p{
   margin-bottom: 0px;

}
#Places .card_meta div:nth-child(2n) p:nth-child(1n){
    font-weight: bold;
 }
 #Places .card_meta div:nth-child(2n) p:nth-child(2n){
    color: #ccc;
 }
 #Places .card_meta div:nth-child(2n) p:nth-child(3n){
    color: #ccc;
 }

 #Places .card_meta img {
    width: 50px;
    height: 50px;
}
#Places .card_style{
    margin-bottom: 10px;
}
#Places .card_style .ant-card-actions{
    background: #f57f17;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
#Places .card_style .action_style{
    color: #fff;
}
#Places .card_style .action_style a{
    color: #fff;
}
#Places .card_style .icon_action{
    color: #fff;
}
#Places .card_style .ant-card-actions > li:not(:last-child){
    border-right: 0px;
}
#Places  .ant-tabs-nav{
    margin-top: 20px;
}



/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
    #Places{
        width: 1300px;
    }
    /* #Places .card_style .ant-card-body {
        height: 180px;
    } */
    #Places .place_banner .title{
        width: 400px;
        font-size: 2em;
        top: 5%;
    }
    #Places .card_meta div:nth-child(1n) {
        width: 25%;
    }
    #Places .card_meta div:nth-child(2n) {
        width: 75%;
    }
    #Places .tab_content .card_style .ant-card-cover img{
        height: 220px;
    }
}

@media only screen and (max-width: 1350px) {
    #Places{
        width: 1000px;
    }
    #Places .place_banner .title{
        width: 310px;
        font-size: 1.5em;
        top: 4%;
    }

    #Places .ant-tabs-tab-prev.ant-tabs-tab-arrow-show{
        height: 50%;
    }
    #Places .ant-tabs-tab-next.ant-tabs-tab-arrow-show{
        height: 50%;
    }
    #Places .card_style .ant-card-body{
        /* height: 150px; */
        font-size: .9em;
    }
    #Places .card_meta img{
        width: 30px;
        height: 30px;
    }
    /* #Places .card_meta div:nth-child(2n) p {
        font-size: 12px;
    } */
    #Places .tab_content .card_style .ant-card-cover img {
        height: 150px;
    }
    #Places .card_meta {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1050px) {
    #Places{
        width: 850px;
        padding-bottom: 30px;
    }
    #Places .place_banner .title{
        width: 265px;
        font-size: 1em;
        top: 3%;
    }
    #Places .tab_content .card_style .ant-card-cover img{
        height: 250px;
    }
    #Places .card_meta div:nth-child(1n) {
        width: 20%;
    }
    #Places .card_meta div:nth-child(2n) {
        width: 80%;
    }
    /* #Places .card_meta div:nth-child(2n) p {
        font-size: 12px;
    } */
    #Places .content_title{
        margin-top: 60px;
    }
    #Places .tab_content{
        margin-top: 25px;
    }
    #Places .ant-rate{
        font-size: 12px;
    }
    /* #Places .card_meta div:nth-child(2n) p:nth-child(1n) {
        font-size: .9em;
    } */
    #Places .card_meta img {
        width: 50px;
        height: 50px;
    }
    #Places .action_style{
        font-size: 12px;
    }
    #Places .ant-card-body {
        padding: 20px 10px 10px 10px;
    }
    #Places .tab_content .card_style{
        width: 50%;
    }
}

@media only screen and (max-width: 770px) {
    #Places{
        width: 700px;
    }
    #Places .place_banner .title{
        width: 220px;
        font-size: 1em;
    }
    #Places .place_banner .title .ant-btn-primary{
        height: 25px;
    }
    #Places .content_title div:nth-child(1n) span{
        font-size: 1.5em;
    }
    #Places .content_title div:nth-child(2n) p {
        padding: 0px 10px 10px 10px;
        font-size: 14px;
    }
    #Places .ant-tabs-tab-prev.ant-tabs-tab-arrow-show{
        margin-top: 10px;
    }
    #Places .ant-tabs-tab-next.ant-tabs-tab-arrow-show{
        margin-top: 10px;
    }
    #Places .tab_content .card_style{
        width: 50%;
    }
    #Places .card_meta img {
        width: 40px;
        height: 40px;
    }
    #Places .card_meta div:nth-child(1n){
        width: 20%;
    }
    #Places .card_meta div:nth-child(2n){
        width: 80%;
    }
    #Places .tab_content .card_style .ant-card-cover img{
        height: 220px;
    }
   
}

@media only screen and (max-width: 720px) {
    #Places{
        width: 600px;
    }
    #Places .content_title div:nth-child(1n) {
        width: 100%;
    }
    #Places .content_title div:nth-child(2n) p {
        padding: 0px ;
    }
    #Places .content_title {
        margin-top: 45px;
    }
    #Places .ant-tabs-nav .ant-tabs-tab{
        margin: 0 20px 0 0;
    }
    #Places .place_banner .title{
        width: 190px;
        top: 2%;
    }
    #Places .tab_content .card_style .ant-card-cover img {
        height: 190px;
    }
}

@media only screen and (max-width: 625px) {
    #Places{
        width: 90%;
        padding: 0;
    }
    #Places .place_banner .title {
        width: 160px;
        font-size: .9em;
        top: 1.5%;
    }
    #Places .tab_content .card_style{
        padding: 10px 0px;
    }
    #Places .tab_content .ant-tabs-nav .ant-tabs-tab {
        margin-bottom: 30px;
    }
    #Places .place_banner .title .ant-btn-primary {
        font-size: 10px;
    }
    #Places .card_meta div:nth-child(1n){
        width: 25%;
    }
    #Places .card_meta div:nth-child(2n){
        width: 75%;
    }
    #Places .tab_content .card_style {
        width: 100%;
    }
    #Places .tab_content .card_style .ant-card-cover img {
        height: 300px;
    }
}

@media only screen and (max-width: 520px) {
    #Places{
        width: 90%;
        margin: auto;
        padding: 0px;
    }
    #Places .ant-card-actions > li > span{
        display: inherit;
    }
    #Places .tab_content .card_style .ant-card-cover img {
        height: 220px;
    }
    #Places .card_style .ant-card-actions > li {
        margin: 5px 0px 7px 0px;
    }
    /* #Places .place_banner img {
        height: 185px;
    } */
    /* #Places .card_style .ant-card-body {
        height: 140px;
    } */
    #Places .place_banner .title {
        width: 169px;
    }
    #Places .place_banner .title {
        font-size: 1.5em;
        top: 1.5%;
    }
    #Places .ant-tabs-nav .ant-tabs-tab {
        padding: 8px 10px;
    }
    #Places .ant-tabs-tab-prev.ant-tabs-tab-arrow-show{
        height: 65%;
    }
    #Places .ant-tabs-tab-next.ant-tabs-tab-arrow-show{
        height: 65%;
    }
    #Places .tab_content {
        margin-top: 10px;
    }
    #Places .card_meta img {
        width: 40px;
        height: 40px;
    }
    #Places .card_meta div:nth-child(1n){
        width: 20%;
    }
    #Places .card_meta div:nth-child(2n){
        width: 80%;
    }
   
   
    #Places .ant-tabs-nav-container-scrolling {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 12px;
    }
    #Places .ant-tabs-nav .ant-tabs-tab {
        margin: 0 10px 0 0;
    }
    #Places .ant-tabs-tab-prev.ant-tabs-tab-arrow-show {
       width: 15px;
    }
    #Places .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
        width: 15px;
    }
}

@media only screen and (max-width: 400px) { 
    #Places .place_banner .title {
        width: 155px;
    }
    #Places .tab_content .card_style {
        width: 100%;
    }

    #Places .ant-tabs-nav .ant-tabs-tab {
        margin: 0 10px 0 0;
    }
    #Places .tab_content .ant-tabs-nav .ant-tabs-tab {
        margin-bottom: 25px;
    }
}