<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar-plus-o fa-fw"></i>Holidays
<% end %>

<%= render 'shared/single_panel', card_title: 'View Holidays' do %>
  <%= link_to('New Holiday', new_admin_holiday_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Year</th>
          <th>Dates</th>
        </tr>
      </thead>
      <tbody>
        <% @holidays.each do |holiday| %>
          <tr>
            <td><%= link_to holiday.year, edit_admin_holiday_path(holiday) %></td>
            <td><%= holiday.dates_formated.join(', ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @holidays %>
<% end %>