<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar-plus-o fa-fw"></i>Holidays
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Holiday' do %>
  <%= form_for [:admin, @holiday], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @holiday } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :year %>
        <%= f.number_field :year, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :dates %>
        <%= f.text_area :dates_preset, value: @holiday.dates_preset.present? ? @holiday.dates_preset : @holiday.dates_formated.join("\n"), class: 'form-control', rows: '20', placeholder: "Example:\n1 Jan\n1 Feb\n1 May\n31 Aug\n9 Sep\n25 Dec" %>
      </div>
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
