<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar-plus-o fa-fw"></i>Holidays
<% end %>

<%= render 'shared/single_panel', card_title: 'Holiday Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :year %>
      <%= text_field_tag '', @holiday.year, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :dates %>
      <%= text_field_tag '', @holiday.dates_formated.join(', ') , class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <%= link_to 'Edit', edit_admin_holiday_path(@holiday), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
