#ShowHotel{
	background-color: #f8f8f8;
}

#ShowHotel .res_panel{
	display: none;
}

#ShowHotel .banner {
	background-image: url("../../../../../images/show_header.png");
	padding: 20px;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	height: 400px;
  background-position: center;
	position: relative;
	background-position: center;
}
#ShowHotel .bannerImage {
  object-fit: cover; 
  height: 400px;
  width: 100%;
  position: relative;
}
#ShowHotel .warppage{
  width: 1500px;
  margin: auto;
	margin-top: 50px;
	padding: 0px 10px;
}
#ShowHotel #overlay {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to left,#000000ad,#00000000);
  background-size: cover;
  opacity: .5;
}
#ShowHotel .img_lightbox {
  position: absolute;
  top: 80px;
  right: 100px;
  bottom: 0;
}
#ShowHotel .img_lightbox .ant-btn{
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
	margin-top: 5px;
}
#ShowHotel .img_lightbox .img_cantainer {
	width: 200px;
}
#ShowHotel .img_lightbox .img_cantainer .img_warp {
	background-color: #fff;
	padding: 5px;
	float: left;
	margin-bottom: 15px;
}
#ShowHotel .img_lightbox .img_cantainer .img_warp img{
	width: 100%;
	height: 115px;
}

#ShowHotel .icon_style_infor{
	color: #faad14;
	margin-left: 5px;
}
#ShowHotel .slick-prev, .slick-next{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

#ShowHotel .slick-prev {
	z-index: 1;
	background: #e8e8e8;
}
#ShowHotel .slick-next {
	background: #e8e8e8;
}
#ShowHotel  .logo_top{
	width: 100%;
	position: absolute;
	top: 80px;
}

#ShowHotel  .logo_warp{
	width: 1500px;
	margin: auto;
}
#ShowHotel .logo_warp img{
	width: 50px;
	height: 50px;
	float: left;
}
#ShowHotel .logo_warp span{
	font-size: 2.5em;
  margin-left: 5px;
  float: left;
	text-shadow: 1px 2px 1px #00000073;
	color: #fff;
}

/****************************** LeftPanel *******************************/
#ShowHotel .LeftPanel .credit_style{
	margin-bottom: 0;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
	color: #119dcf;
	font-weight: bold;
}
#ShowHotel .LeftPanel {
	width: 70%;
	float: left;
	padding-right: 30px;

}
#ShowHotel .LeftPanel .hotel_details .header_title h1 {
	margin-bottom: 0px;
}
#ShowHotel .LeftPanel .hotel_details .header_title h2 {
	margin-bottom: 10px;
	margin-top: 50px;
}
#ShowHotel .LeftPanel .hotel_details .header_title .location {
	margin-top: 5px;
}
#ShowHotel .LeftPanel .hotel_details .header_title .location span{
	margin-right: 10px;
}

#ShowHotel .LeftPanel .amenities .title{
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}
#ShowHotel .LeftPanel .amenities .icon_warp li {
	width: 50%;
	float: left;
	margin-bottom: 5px;
}
/* #ShowHotel .LeftPanel .amenities .icon_warp div{
	width: 20%;
  height: 100px;
	float: left;
	text-align: center;
} */
#ShowHotel .LeftPanel .amenities .icon_warp div span{
	font-size: 2.5em;
	margin-bottom: 10px;
  color: green;
}
#ShowHotel .LeftPanel .things{
	margin-bottom: 30px;
	background-color: #fff;
}
#ShowHotel .LeftPanel .things .ant-avatar{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	border-radius: 0;
}

#ShowHotel .LeftPanel .slider{
	margin-bottom: 30px;
}
#ShowHotel .LeftPanel .slider .card_warp{
	padding: 30px 10px 10px 10px;
}
#ShowHotel .LeftPanel .slider .card_warp .ant-card{
	/* margin-bottom: 20px; */
	border: 0;
}
#ShowHotel .LeftPanel .slider .card_warp .details{
	border-bottom: 1px solid #ccc;
}
#ShowHotel .LeftPanel .slider .card_warp .details .margin_sty {
	margin-bottom: 5px;
}
#ShowHotel .LeftPanel .slider .card_warp .details p span{
	margin-right: 10px;
}
#ShowHotel .LeftPanel .slider .card_warp .price{
	color: green;
}
#ShowHotel .LeftPanel .slider .card_warp .include{
	margin-top: 10px;
}
#ShowHotel .LeftPanel .slider .card_warp .include .margin_sty {
	margin-bottom: 5px;
}
#ShowHotel .LeftPanel .slider .card_warp .include p .icon_style{
	margin-right: 10px;
}
#ShowHotel .LeftPanel .slider .card_warp .include .right{
	float: right;
}

#ShowHotel .LeftPanel .slider .card_warp .read{
	text-align: right;
	color: #faad14;
}
#ShowHotel .LeftPanel .slider .card_warp .btn_room{
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
}


#ShowHotel .LeftPanel .things .ant-list-item-meta-title{
	line-height: 45px;
}

#ShowHotel .LeftPanel .things .ant-collapse{
	border:0;
	background-color: #fff;
	margin-top: 25px;
}
#ShowHotel .LeftPanel .things .ant-collapse-header{
	color: #faad14;
}
#ShowHotel .LeftPanel .things .ant-collapse > .ant-collapse-item {
	border-bottom: 0;
}
#ShowHotel .LeftPanel .things .ant-collapse-content{
	border-top: 0;
	background-color: #f2f2f2;
}
#ShowHotel .LeftPanel .things .fees{
	margin-bottom: 0;
	font-weight: bold;
}
#ShowHotel .LeftPanel .guest {
	margin-bottom: 30px;
}
#ShowHotel .LeftPanel .guest .ant-card-body {
	padding: 10px 24px 24px 24px;
}
#ShowHotel .LeftPanel .guest.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: coral;
	border-top-width: 5px;
}

#ShowHotel .LeftPanel .guest .ant-card-head {
	border-bottom: 1px solid #e8e8e8;
}

#ShowHotel .LeftPanel .guest .guest_content h4 {
	margin-bottom: 0;
  /* border-bottom: 1px solid #e8e8e8; */
	color: #1890ff;
}

#ShowHotel .LeftPanel .guest .guest_content h3 {
  margin-bottom: 0;
  /* border-bottom: 1px solid #e8e8e8; */
  color: green;
}

#ShowHotel .LeftPanel .guest .form_guest .form_control label {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

#ShowHotel .LeftPanel .guest .form_guest .form_control .ant-select {
	width: 100%;
	float: left;
}

#ShowHotel .LeftPanel .guest .form_guest .form_control .ant-input {
	width: 100%;
	float: left;
}

#ShowHotel .LeftPanel .guest .form_guest .form_control .ant-input-number {
  width: 100%;
  float: left;
}

#ShowHotel .LeftPanel .guest .form_guest .form_control {
	width: 100%;
	float: left;
	margin: 10px 0px;
	position: relative;
}

#ShowHotel .LeftPanel .guest .form_guest .pandding_left {
  width: 50%;
	padding-left: 15px;
}

#ShowHotel .LeftPanel .guest .form_guest .pandding_right {
  width: 50%;
	padding-right: 15px;
}

#ShowHotel .LeftPanel .guest .form_guest .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

#ShowHotel .LeftPanel .guest.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}



#ShowHotel .LeftPanel .card_warp input[type="radio"] {
	display: none;
}

#ShowHotel .LeftPanel .card_warp input[type="radio"]:not(:disabled)~label {
	cursor: pointer;
}

#ShowHotel .LeftPanel .card_warp input[type="radio"]:disabled~label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

#ShowHotel .LeftPanel .card_warp label {
	height: 100%;
	display: block;
	background: white;
	/* border: 2px solid #faad14; */
	/* border-radius: 20px; */
	/* padding: 1rem; */
	/* margin-bottom: 1rem; */
	/* text-align: center; */
	box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
	position: relative;
}

#ShowHotel .LeftPanel .card_warp input[type="radio"]:checked+label {
	/* background: #20df80; */
	color: white;
	box-shadow: 0px 0px 5px #faad14;
	border: 2px solid #faad14;
}

#ShowHotel .LeftPanel .card_warp input[type='radio'][disabled]+label .ant-card {
	opacity: .5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#ShowHotel .LeftPanel .card_warp input[type="radio"]:checked+label::after {
	color: #fff;
	font-family: FontAwesome;
	border: 2px solid #faad14;
	background-color: #faad14;
	content: "\2714";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

#ShowHotel .LeftPanel .card_warp input[type="radio"]#control_05:checked+label {
	background: red;
	border-color: red;
}


#ShowHotel .LeftPanel .input_warp{
	width: 100%;
	float: left;
}
#ShowHotel .LeftPanel .ant-form-item{
	margin-bottom: 0;
}


#ShowHotel .LeftPanel .form_sty_select {
	padding-bottom: 200px;
}

#ShowHotel .LeftPanel .payment input[type="radio"] {
	display: none;
}

#ShowHotel .LeftPanel .payment input[type="radio"]:not(:disabled)~label {
	cursor: pointer;
}

#ShowHotel .LeftPanel .payment input[type="radio"]:disabled~label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

#ShowHotel .LeftPanel .payment label {
	height: 100%;
	display: block;
	background: white;
	/* border: 2px solid #faad14; */
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
	position: relative;
}

#ShowHotel .LeftPanel .payment input[type="radio"]:checked+label {
	/* background: #20df80; */
	color: white;
	box-shadow: 0px 0px 5px #faad14;
	border: 2px solid #faad14;
}

#ShowHotel .LeftPanel .payment input[type='radio'][disabled]+label img {
	opacity: .5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#ShowHotel .LeftPanel .payment input[type="radio"]:checked+label::after {
	color: #fff;
	font-family: FontAwesome;
	border: 2px solid #faad14;
	background-color: #faad14;
	content: "\2714";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

#ShowHotel .LeftPanel .payment input[type="radio"]#control_05:checked+label {
	background: red;
	border-color: red;
}

#ShowHotel .LeftPanel .payment .payment_type {
	width: 33.33%;
	float: left;
	padding: 20px;
}

#ShowHotel .LeftPanel .payment .payment_type img {
	width: 100%;
}

#ShowHotel .LeftPanel .payment .after_select label {
	box-shadow: none;
	text-align: left;
	padding: 0;
	margin-bottom: 5px;
	background-color: transparent
}

#ShowHotel .LeftPanel .payment .after_select .ant-checkbox-wrapper {
	margin-top: 20px;
	float: left;
	width: 100%;
}

#ShowHotel .LeftPanel .after_select .ant-btn {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
	float: right;
	margin-top: 30px;
	padding: 0 50px
}

#ShowHotel .LeftPanel .payment .after_select .ant-btn:hover {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowHotel .LeftPanel .payment .after_select .ant-btn:focus {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowHotel .LeftPanel .payment .after_select .form_control {
	width: 100%;
	float: left;
}


/****************************** RightPanel *******************************/
#ShowHotel .RightPanel {
	width: 30%;
  float: left;
	padding-left: 30px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#ShowHotel .RightPanel h2{
	margin-bottom: 0;
	width: 40%;
	float: left;
}
#ShowHotel .RightPanel .title .small_title{
	color:#ccc;
}
#ShowHotel .RightPanel .title span{
	float: right;
	padding-top: 10px;
}
#ShowHotel .RightPanel .ant-card {
	border-left-style: solid;
	border-left-color: #b71c1c;
	border-left-width: 5px;
}
#ShowHotel .RightPanel .ant-card-head {
  padding: 1em;
}
#ShowHotel .RightPanel .ant-card-body {
  padding: 1em;
}
#ShowHotel .RightPanel .date_title{
  margin-bottom: .5em;
}
#ShowHotel .RightPanel .date_select{
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  color: #a5a5a5;
  padding-bottom: 10px;
}
#ShowHotel .RightPanel .date_select span{
 padding: 0px 30px;
}
#ShowHotel .RightPanel .type_rent {
	border-bottom: 1px solid #ccc;
}

#ShowHotel .RightPanel .type_rent .rent .rent_select{
  font-size: 1.3em;
	color: #a5a5a5;
	margin-bottom: 10px;
}
#ShowHotel .RightPanel .type_rent{
	margin-bottom: 10px;
}
#ShowHotel .RightPanel .type_rent .rent {
	width: 50%;
	float: left;
}

#ShowHotel .RightPanel .select_list {
	border-bottom: 1px solid #ccc;
}
#ShowHotel .RightPanel .select_list .list_warp{
	margin-bottom: 10px;
	font-size: 14px;
}
#ShowHotel .RightPanel .select_list .list_warp span:nth-child(1n){
	color: #a5a5a5;
}
#ShowHotel .RightPanel .select_list .list_warp span:nth-child(2n){
	color: #000;
	float: right;
}
#ShowHotel .RightPanel .select_list .fare_info {
  padding: 0;
  padding-left: 1.5em;
}
#ShowHotel .RightPanel .select_list .subtraction_collapse .ant-collapse-item {
  border: 0;
}
#ShowHotel .RightPanel .select_list .subtraction_collapse .ant-collapse-header {
  padding: 0;
  color: #a5a5a5;
}
#ShowHotel .RightPanel .select_list .subtraction_collapse .ant-collapse-header .ant-collapse-arrow {
  left: 0;
}
#ShowHotel .RightPanel .select_list .subtraction_collapse .ant-collapse-content-box {
  padding: .8em;
  background-color: #f1f1f1;
}
#ShowHotel .RightPanel .total{
	margin-top: 10px;
}
#ShowHotel .RightPanel .total span:nth-child(2n){
	float: right;
	color: #52c41a !important;
}
#ShowHotel .RightPanel .ant-btn{
	color: #000;
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
	margin-top: 20px;
	height: 40px;
}

/************************************************ Responsive Media Query ****************************************/

@media only screen and (max-width: 1499px) {
	#ShowHotel .warppage{
    width: 1200px;
	}
	#ShowHotel  .logo_warp{
		width: 1200px;
	}
  #ShowHotel .RightPanel .date_select span {
    padding: 0px 8px;
	}	
}

@media only screen and (max-width: 1199px) {
	#ShowHotel .warppage{
    width: 1000px;
	}
	#ShowHotel  .logo_warp{
		width: 1000px;
	}
  #ShowHotel .RightPanel .date_select  {
    font-size: 1em;
	}	
	#ShowHotel .RightPanel .type_rent .rent .rent_select {
    font-size: 1em;
}
	#ShowHotel .LeftPanel {
    padding-right: 15px;
	}
	#ShowHotel .RightPanel {
    padding-left: 15px;
	}
	#ShowHotel .LeftPanel .airline_content .img_warp img {
    height: 115px;
}
	#ShowHotel .RightPanel .dates .date_title{
		margin-bottom: 5px;
	}
	#ShowHotel .RightPanel .rent .rent_title{
		margin-bottom: 5px;
	}
	#ShowHotel .LeftPanel .credit_style{
		bottom: 15px;
		font-size: .8em;
	} 
}


@media only screen and (max-width: 1050px) {
	#ShowHotel .warppage{
    width: 900px;
	}
	#ShowHotel  .logo_warp{
		width: 900px;
	}

}


@media only screen and (max-width: 900px) {
	#ShowHotel .warppage{
    width: 800px;
	}
	#ShowHotel  .logo_warp{
		width: 800px;
	}
	#ShowHotel .RightPanel {
    padding-left: 10px;
	}
	#ShowHotel .RightPanel .ant-card-body {
		padding: 15px;
	}
	#ShowHotel .RightPanel .ant-card-head{
		padding: 0 15px;
	}
	#ShowHotel .RightPanel .date_select {
    font-size: .9em;
	}
	#ShowHotel .RightPanel .type_rent .rent .rent_select{
		font-size: .9em;
	}
	#ShowHotel .RightPanel .date_select span {
    padding: 0px 4px;
}
/* #ShowHotel .LeftPanel .guest .form_guest .form_control label {
	font-size: .9em;
} */
#ShowHotel .LeftPanel .credit_style{
	bottom: 10px;
	font-size: .6em;
} 
#ShowHotel .LeftPanel .amenities .icon_warp li {
	width: 100%;
}
}

@media only screen and (max-width: 770px) {
	#ShowHotel .warppage{
    width: 700px;
	}
	#ShowHotel  .logo_warp{
		width: 700px;
	}
	#ShowHotel .RightPanel .date_select {
    font-size: .8em;
	}
	#ShowHotel .RightPanel .type_rent .rent .rent_select{
		font-size: .8em;
	}
	#ShowHotel .LeftPanel .payment input[type="radio"]:checked+label::after{
		top: -20px;
		height: 30px;
    width: 30px;
    line-height: 30px;
	}
	#ShowHotel .img_lightbox {
    right: 35px;
	}

	#ShowHotel .LeftPanel .guest .form_guest .form_control{
		width: 100%;
	}
	#ShowHotel .LeftPanel .guest .form_guest .pandding_right {
		padding-right: 0px;
	}
	#ShowHotel .LeftPanel .guest .form_guest .pandding_left {
		padding-left: 0px;
	}
/* #ShowHotel .LeftPanel .guest .form_guest .form_control label {
	font-size: .7em;
} */

}


@media only screen and (max-width: 720px) {
	#ShowHotel .warppage{
		width: 90%;
		padding: 0px;
	}
	#ShowHotel  .logo_warp{
		width: 90%;
	}
	 
	#ShowHotel .LeftPanel {
		width: 100%;
		padding-right: 0px;
	}
	#ShowHotel .RightPanel {
		display: none;
	}
	#ShowHotel .res_panel{
		display: block;
	}
	#ShowHotel .res_panel_btn{
		position: fixed;
    top: 460px;
		right: 0;
		border-radius: 0px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #b71c1c;
    border-color: #b71c1c;
	}

	#ShowHotel .LeftPanel .payment label{
		border-radius: 10px;
    padding: .5rem;
	}
	#ShowHotel .LeftPanel .payment input[type="radio"]:checked+label::after{
		height: 25px;
    width: 25px;
		line-height: 25px;
		font-size: 15px;
    top: -15px;
	}

	/* #ShowHotel .LeftPanel .guest .form_guest .form_control label {
		font-size: .9em;
	} */
	#ShowHotel .LeftPanel .payment .payment_type {
		padding: 10px;
	}
}
@media only screen and (max-width: 500px) {
	#ShowHotel .LeftPanel .slick-next {
    right: -10px;
	}
	#ShowHotel .LeftPanel	.slick-prev {
		left: -10px;
	}
	#ShowHotel .img_lightbox .img_cantainer .img_warp img {
    height: 100px;
	}
	#ShowHotel .img_lightbox .img_cantainer {
		width: 150px;
	}
	#ShowHotel .img_lightbox {
    top: 140px;
	}
	#ShowHotel .LeftPanel .guest .ant-card-body {
    padding: 10px;
}
#ShowHotel .LeftPanel .payment .payment_type {
	padding: 5px;
}

}

@media only screen and (max-width: 450px){
	#ShowHotel .LeftPanel .credit_style{
		bottom: 5px;
		font-size: .5em;
	}
}



@media only screen and (max-width: 380px) {
	#ShowHotel .LeftPanel .payment label {
    border-radius: 5px;
    padding: .3rem;
	}

}