<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-puzzle-piece fa-fw"></i>Activity Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'Activity Booking List' do %>
  <%= link_to('Globaltix Bookings', admin_globaltix_ticket_booking_groups_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= link_to('Today', admin_activity_booking_groups_path(begin: @today.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Yesterday', admin_activity_booking_groups_path(begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Week', admin_activity_booking_groups_path(begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week', admin_activity_booking_groups_path(begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week To Now', admin_activity_booking_groups_path(begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Month', admin_activity_booking_groups_path(begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month', admin_activity_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month To Now', admin_activity_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Year', admin_activity_booking_groups_path(begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year', admin_activity_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year To Now', admin_activity_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>

    </div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_activity_booking_groups_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>No</th>
            <th>Ref</th>
            <th>Name</th>
            <th>Activity</th>
            <th>Quantity</th>
            <th>Total Price (MYR)</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th>Agent</th>
            <th>Remark</th>
            <th>Booked At</th>
            <th>Url</th>
          </tr>
        </thead>
        <tbody>
          <% @activity_booking_groups.each_with_index do |group, i| %>
            <tr >
              <td><%= link_to group.id, admin_activity_booking_group_path(group) %></td>
              <td><%= group.activity_bookings.first.code %></td>
              <td><%= group.activity_bookings.first.name %></td>
              <td><%= link_to group.activity.title, admin_activity_path(group.activity) %></td>
              <td><%= group.total_quantity %></td>
              <td><%= group.price %></td>
              <td><%= group.payment.present? ? group.payment.gateway_text : '' %></td>
              <td><%= group.payment.present? ? group.payment.status.titleize : '' %></td>
              <td><%= group.agent_user.present? ? group.agent_user.username.titleize : '' %></td>
              <td><%= group.remark %></td>
              <td><%= group.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              <% if group.etravel_invoices.present? %>
                <td><%= link_to group.etravel_invoices.first.invoice_no, invoice_roamingman_booking_group_path(group),  target: '_blank' %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <%= paginate @activity_booking_groups if @activity_booking_groups.present? %>
<% end %>