  <div class="nested-fields">
    <div class="field custom-form-group form-group col-sm-12">
      <%= f.label "Card", class: "col-sm-12 booking-group-label" %>
    </div>
    <div class="field custom-form-group form-group col-sm-4">
      <%= f.label :cover %>
      <% if f.object.cover.present? %>
        <%= link_to 'View', f.object.cover.url, target: '_blank' %>
      <% end %>
      <%= f.file_field :cover, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-4">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-4">
      <%= f.label :priority %>
      <%= f.number_field :priority, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :title1 %>
      <%= f.text_field :title1, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :subtitle1 %>
      <%= f.text_field :subtitle1, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :highlight1 %>
      <%= f.text_field :highlight1, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :logo1 %>
      <% if f.object.logo1.present? %>
        <%= link_to 'View', f.object.logo1.url, target: '_blank' %>
      <% end %>
      <%= f.file_field :logo1, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :title2 %>
      <%= f.text_field :title2, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :subtitle2 %>
      <%= f.text_field :subtitle2, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :highlight2 %>
      <%= f.text_field :highlight2, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :logo2 %>
      <% if f.object.logo2.present? %>
        <%= link_to 'View', f.object.logo2.url, target: '_blank' %>
      <% end %>
      <%= f.file_field :logo2, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-12">
      <%= link_to_remove_association "Remove slider card", f %>
    </div>
  </div>
