  <div class="nested-fields">
    <div class="field custom-form-group form-group col-sm-12">
      <%= f.label "Tab", class: "col-sm-12 booking-group-label" %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'custom-form-control form-control' %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= f.label :priority %>
      <%= f.number_field :priority, class: 'custom-form-control form-control' %>
    </div>

    <div class="field custom-form-group form-group col-sm-12">
      <%= f.label :slider_cards %>
        <%= f.fields_for :slider_cards do |slider_card| %>
          <%= render 'admin_slider_card_fields', f: slider_card %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add slider card', f, :slider_cards, partial: 'admin_slider_card_fields' %>
        </div>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <%= link_to_remove_association "Remove slider tab", f %>
    </div>
  </div>
