<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Sliders
<% end %>

<%= render 'shared/single_panel', card_title: 'View Sliders' do %>
  <%= link_to('New Slider', new_admin_slider_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag admin_sliders_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="title">Title</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1) * Slider::ADMIN_SLIDER_PER_PAGE+1 : 1 %>
        <% @sliders.each_with_index do |slider, i| %>
          <tr>
            <td class="number"><%= i + start_seq %></td>
            <td class="title"><%= link_to slider.title, admin_slider_path(slider) %></div></td>
            <td><%= slider.category.present? ? slider.category.humanize : '' %></td>
            <td><%= slider.priority %></td>
            <td><%= slider.status.present? ? slider.status.humanize : '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>