<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Sliders
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Slider' do %>
  <%= form_for [:admin, @slider], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @slider } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control', placeholder: 'Slider title' %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(Slider.categories.collect { |s| [s[0].humanize, s[0]] }), {include_blank: "Select Category"}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :priority %>
        <%= f.number_field :priority, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Slider.statuses.collect { |s| [s[0].humanize, s[0]] }), {include_blank: "Select Status"}, {class: 'custom-form-control form-control' } %>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :slider_tabs %>
        <%= f.fields_for :slider_tabs do |slider_tab| %>
            <%= render 'admin_slider_tab_fields', f: slider_tab %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add slider tab', f, :slider_tabs, partial: 'admin_slider_tab_fields' %>
        </div>
      </div>
      
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_sliders_path, class: 'btn' %>
  <% end %>
<% end %>
