<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Sliders
<% end %>

<%= render 'shared/single_panel', card_title: 'Slider Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :title %>
      <%= text_field_tag '', @slider.title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= label_tag :category %>
      <%= text_field_tag '', @slider.category.present? ? @slider.category.humanize : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= label_tag :priority %>
      <%= text_field_tag '', @slider.priority, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= label_tag :status %>
      <%= text_field_tag '', @slider.status.present? ? @slider.status.humanize : '', class: 'custom-form-control form-control', disabled: true %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Slider tabs" %>
      <% @slider_tabs.each_with_index do |slider_tab, i| %>
        <div class="nested-fields">
          <div class="field custom-form-group form-group col-sm-12">
            <%= label_tag '', "Tab", class: "col-sm-12 booking-group-label" %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :title %>
            <%= text_field_tag '', slider_tab.title, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :priority %>
            <%= text_field_tag '', slider_tab.priority, class: 'custom-form-control form-control', disabled: true %>
          </div>

          <div class="field custom-form-group form-group col-sm-12">
            <%= label_tag '', "Slider cards" %>
            <% slider_tab.slider_cards.each_with_index do |slider_card, i| %>
              <div class="nested-fields">
                <div class="field custom-form-group form-group col-sm-12">
                  <%= label_tag '', "Card" , class: "col-sm-12 booking-group-label" %>
                </div>
                <div class="field custom-form-group form-group col-sm-4">
                  <%= label_tag :cover %>
                  <%= text_field_tag '', slider_card.cover, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-4">
                  <%= label_tag :link %>
                  <%= text_field_tag '', slider_card.link, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-4">
                  <%= label_tag :priority %>
                  <%= text_field_tag '', slider_card.priority, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :title1 %>
                  <%= text_field_tag '', slider_card.title1, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :subtitle1 %>
                  <%= text_field_tag '', slider_card.subtitle1, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :highlight1 %>
                  <%= text_field_tag '', slider_card.highlight1, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :logo1 %>
                  <%= text_field_tag '', slider_card.logo1, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :title2 %>
                  <%= text_field_tag '', slider_card.title2, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :subtitle2 %>
                  <%= text_field_tag '', slider_card.subtitle2, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :highlight2 %>
                  <%= text_field_tag '', slider_card.highlight2, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :logo2 %>
                  <%= text_field_tag '', slider_card.logo2, class: 'custom-form-control form-control', disabled: true %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <%= link_to 'Edit', edit_admin_slider_path(@slider), class: 'btn btn-primary' %>
      <%= link_to 'Back', admin_sliders_path, class: 'btn' %>
    </div>
  </div>
<% end %>