<% if Rails.env.iceb2b? %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113869249-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113869249-1');
  </script>
<% elsif Rails.env.testb2b? %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113869249-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113869249-2');
  </script>
<% end %>