<header class="custom-nav navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if @new_domain %>
        <%= link_to 'Travel B2B Admin', root_path, class: 'navbar-brand' %>
      <% else %>
        <%= link_to 'Ice Holidays Admin', root_path, class: 'navbar-brand' %>
      <% end %>
    </div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to admin_tours_path do %>
              Tours
            <% end %>
          </li>

          <li>
            <%= link_to admin_roamingman_packages_path do %>
              Roamingman
            <% end %>
          </li>
          <li>
            <%= link_to admin_globaltix_attractions_path do %>
                Globaltix
            <% end %>
            <!-- <%= link_to '#', class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <div>
                Globaltix
                <span class="caret"></span>
              </div>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to admin_globaltix_attractions_path do %>
                  Globaltix Attractions
                <% end %>
              </li>
              <li>
                <%= link_to admin_globaltix_tickets_path do %>
                  Globaltix Tickets
                <% end %>
              </li>
            </ul> -->
          </li>      
          <li>
            <%= link_to admin_activities_path do %>
              Activities
            <% end %>
          </li>
          <li>
            <%= link_to admin_land_tours_path do %>
              Ground Tours
            <% end %>
          </li>
          <li>
            <%= link_to '#', class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <div>
                Inventory
                <span class="caret"></span>
              </div>
            <% end %>
            <ul class="dropdown-menu">
              <% if policy([:admin, FlightInventory]).index? %>
                <li>
                  <%= link_to admin_flight_inventories_path do %>
                    Flight Inventory
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to admin_gifts_path do %>
                  Gifts
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to '#', class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <div>
                Bookings
                <span class="caret"></span>
              </div>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to admin_booking_groups_path do %>
                  Tour Bookings
                <% end %>
              </li>
              <% if policy([:admin, HotelBookingGroup]).index? %>
                <li>
                  <%= link_to admin_tbo_bookings_path do %>
                    Hotel Bookings
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to admin_flight_booking_groups_path do %>
                  Flight Bookings
                <% end %>
              </li>
              <li>
                <%= link_to admin_roamingman_booking_groups_path do %>
                  Roamingman Bookings
                <% end %>
              </li>
              <li>
                <%= link_to admin_activity_booking_groups_path do %>
                  Activity Bookings
                <% end %>
              </li>
              <li>
                <%= link_to admin_land_tour_booking_groups_path do %>
                  Ground Tour Bookings
                <% end %>
              </li>
              <li>
                <%= link_to admin_booking_alterations_path do %>
                  Alterations
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to '#', class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <div>
                Setting
                <span class="caret"></span>
              </div>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to travelb2b_admin_settings_path do %>
                  Travelb2b
                <% end %>
              </li>
              <% if policy([:admin, User]).index? %>
                <li>
                  <%= link_to admin_users_path do %>
                    Users
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, Fair]).index? %>
                <li>
                  <%= link_to admin_fairs_path do %>
                    Fairs
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, Department]).index? %>
                <li>
                  <%= link_to admin_departments_path do %>
                    Departments
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, Itinerary]).index? %>
                <li>
                  <%= link_to admin_itineraries_path do %>
                    Itineraries
                  <% end %>
                </li>
              <% end %>
              <% if policy(Tour).index? %>
                <li>
                  <%= link_to tour_status_admin_itineraries_path do %>
                    Tour Status
                  <% end %>
                </li>
              <% end %>
                <li>
                  <%= link_to admin_etravel_invoices_path do %>
                    Etravel Exported Invoice
                  <% end %>
                </li>
              <% if policy([:admin, TourLeader]).index? %>
                <li>
                  <%= link_to admin_tour_leaders_path do %>
                    Tour Leader
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, Holiday]).index? %>
                <li>
                  <%= link_to admin_holidays_path do %>
                    Holidays
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, HolidayCalendar]).index? %>
                <li>
                  <%= link_to admin_holiday_calendars_path do %>
                    Holiday Calendar
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, ExchangeRate]).index? %>
                <li>
                  <%= link_to admin_exchange_rates_path do %>
                    EX Rates
                  <% end %>
                </li>
              <% end %>
                <li>
                  <%= link_to admin_flight_commissions_path do %>
                    Flight Comissions
                </li>
              <% end %>
              <% if policy([:admin, Airline]).index? %>
                <li>
                  <%= link_to admin_airlines_path do %>
                    Airlines
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, Hotel]).index? %>
                <li>
                  <%= link_to admin_tbo_hotels_path do %>
                    Hotels
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, Invoice]).index? %>
                <li>
                  <%= link_to admin_invoices_path do %>
                    Invoices
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, Cover]).index? %>
                <li>
                  <%= link_to admin_cover_path do %>
                    Cover
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to admin_insurance_rebates_path do %>
                  Insurance Rebate
                <% end %>
              </li>
              <li>
                <%= link_to admin_pre_commisions_path do %>
                  Pre Commision
                <% end %>
              </li>
              <li>
                <%= link_to admin_sliders_path do %>
                  Sliders
                <% end %>
              </li>
              <li>
                <%= link_to admin_credit_refunds_path do %>
                  Credit Refunds
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '#', class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <div>
                Welcome, <%= current_user.username %>
                <span class="caret"></span>
              </div>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to admin_dashboard_path do %>
                  Dashboard
                <% end %>
              </li>
              <li>
                <%= link_to admin_gift_tracking_groups_path do %>
                  Gift Redemptions
                <% end %>
              </li>
              <li>
                <%= link_to edit_password_admin_user_path(current_user) do %>
                  Change Password
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  Logout
                <% end %>
              </li>
            </ul>
          </li>
          <li>

          </li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
