<header class="custom-nav navbar navbar-static-top <%= params[:brand].present? ? params[:brand] : @tour.present? ? @tour.brand : '' %>">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if @new_domain %>
        <%= link_to 'Travel B2B', app_path, class: 'navbar-brand', data: {turbolinks: "false"} %>
      <% else %>
        <%= link_to 'Ice Holidays', root_path, class: 'navbar-brand' %>
      <% end %>
    </div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? && controller_name != "sites" %>
          <% if policy(Tour).index? && !@new_domain %>
            <li>
              <%= link_to tours_path(brand: 'fs') do %>
                Four Seasons
              <% end %>
            </li>
            <li>
              <%= link_to tours_path do %>
                Series
              <% end %>
            </li>
            <li>
              <%= link_to tours_path(brand: 'premium') do %>
                Premium
              <% end %>
            </li>
            <li>
              <%= link_to tours_path(brand: 'gtrip') do %>
                G-trip
              <% end %>
            </li>
            <li>
              <%= link_to tours_path(brand: 'cruise') do %>
                Cruises
              <% end %>
            </li>
          <% end %>
          <% if policy(FlightBookingGroup).index? %>
            <% if @new_domain %>
              <li>
                <%= link_to app_path, data: {turbolinks: "false"} do %>
                  Flights
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to flights_path do %>
                  Flights
                <% end %>
              </li>
            <% end %>
          <% end %>
          <% if policy(RoamingmanBookingGroup).index? && !@new_domain %>
            <li>
              <%= link_to roamingman_packages_path do %>
                Roamingman
              <% end %>
            </li>
          <% end %>
          <% if policy(Hotel).index? %>
            <li>
              <%= link_to tbo_holidays_hotels_path do %>
                Hotels
              <% end %>
            </li>
          <% end %>
          <% if user_signed_in? && !current_user.is_ktic? && !@new_domain %>
            <li>
              <%= link_to '#', class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <div>
                Bookings
                <span class="caret"></span>
              </div>
              <% end %>
              <ul class="dropdown-menu">
                <% if policy(BookingGroup).index? %>
                  <li>
                    <%= link_to booking_groups_path do %>
                      Tour Bookings
                    <% end %>
                  </li>
                <% end %>
                <% if policy(FlightBookingGroup).index? %>
                  <li>
                    <%= link_to flight_booking_groups_path do %>
                      Flight Bookings
                    <% end %>
                  </li>
                <% end %>
                <% if policy(ActivityBookingGroup).index? %>
                  <li>
                    <%= link_to activity_booking_groups_path do %>
                      Activity Bookings
                    <% end %>
                  </li>
                <% end %>
                <% if policy(RoamingmanBookingGroup).index? %>
                  <li>
                    <%= link_to roamingman_booking_groups_path do %>
                      Roamingman Bookings
                    <% end %>
                  </li>
                <% end %>
                <% if policy(LandTourBookingGroup).index? %>
                  <li>
                    <%= link_to land_tour_booking_groups_path do %>
                      Ground Tour Bookings
                    <% end %>
                  </li>
                <% end %>
                <% if policy(Hotel).index? %>
                  <li>
                    <%= link_to tbo_holidays_bookings_path do %>
                      Hotel Bookings
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% if policy(GiftTrackingGroup).index? %>
            <li>
              <%= link_to gift_tracking_groups_path do %>
                Gifts
              <% end %>
            </li>
          <% end %>
          <% fair_countdown = current_user.fair_countdown %>
          <% if fair_countdown.present? %>
            <li id="fair_countdown_li">
              <div>Fair Countdown: <span id="fair_countdown" data-seconds='<%= fair_countdown %>'></span></div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if user_signed_in? && !current_user.is_ktic? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '#', class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              <div>
                Welcome, <%= current_user.username %>
                <span class="caret"></span>
              </div>
            <% end %>
            <ul class="dropdown-menu">
              <% if @new_domain %>
                <li>
                  <%= link_to '#', class: 'btn disabled' do %>
                    Credit: <span class="label-success"> <%= current_user.credits %> </span>
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to asset_path("manual.pdf"), target: '_blank' do %>
                  User Manual
                <% end %>
              </li>
              <li>
                <%= link_to asset_path("pdpa.pdf"), target: '_blank' do %>
                  PDPA
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_path do %>
                  Change Password
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  Logout
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>