<div class="modal fade" id="admin-new-booking-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          New Booking
        </h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_booking_admin_tour_path, multipart: true, method: 'POST', id: "tour-booking-form" do %>
          <%= label_tag 'Number of Seats' %>
          <%= number_field_tag :booking_seats, '', class: 'custom-form-control form-control' %>
          <%= label_tag :agent_rep %>
          <%= text_field_tag :agent_rep, '', class: 'custom-form-control form-control', id: 'agent_rep_user' %>
          <%= label_tag :price_type %>
          <%= select_tag :price_type, options_for_select(@tour.price_type_list), class: 'custom-form-control form-control' %>

          <br>
          <%= submit_tag "Create", class: "btn btn-default", id: "booking-create", disabled: true %>
          <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
