<div class="nested-fields">
  <div class="col-sm-8">
    <%= f.label :gateway %><br>
    <%= f.collection_radio_buttons :gateway, Payment.all_gateways, :first, :last, include_hidden: false do |b| %>
      <% if b.value == "public_bank" && policy(Payment).proceed_to_pbb? %>
        <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
          <%= image_tag "#{b.value}.png", class: "payment-logo" %>
          <center><%= f.radio_button(:gateway, b.value, class: "radio_button payment_method") %>&nbsp;&nbsp;</center><br>
        <% end %>
      <% elsif b.value != "public_bank" %>
        <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
          <%= image_tag "#{b.value}.png", class: "payment-logo" %>
          <% if b.value.include?("b2c") %>
            <p>B2C (Retail Banking)</p>
          <% elsif b.value.include?("b2b") %> 
            <p>B2B (Corporate Banking)</p>
          <% end %>
          <center><%= f.radio_button(:gateway, b.value, class: "radio_button payment_method", checked: true) %>&nbsp;&nbsp;</center><br>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-4 col-xs-12 pbb_banklist">
    <%= f.label :method %><br>
    <%= f.radio_button(:method, 'visa', {class: 'pbb_method'}) %> Visa&nbsp;&nbsp;
    <%= f.radio_button(:method, 'mastercard', {class: 'pbb_method'}) %> Mastercard
  </div>
  <div class="col-sm-3 fpx_banklist">
    <%= f.label :method %><br>
    <%= f.select :method, options_for_select(@banklist, disabled: @offline_banklist), {:include_blank => "Select Bank"}, {class: 'custom-form-control form-control fpx_method'} %>
    <p>By clicking on the “Book Now” button, you hereby agree with <%= link_to 'FPX’s Terms & Conditions', 'https://www.mepsfpx.com.my/FPXMain/termsAndConditions.jsp' %>.</p>
  </div>
</div>