<div class=" tour-status-table mt20" >
  <table class="table table-bordered table-condensed">
    <thead>
      <tr class="<%= render_department_class(itinerary.department) %>">
        <th class="itinerary_code text-align-center col"><%= itinerary.code %></th>
        <th class="col-8 itinerary_duration-resize">
          <%= itinerary.other_caption_with_duration %><br><%= itinerary.caption_with_duration %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="markdownViewSection well itinerary_duration-resize" colspan="2" data-content="<%= itinerary.description %>"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="tour-status-table">
  <table class="table table-bordered table-condensed text-align-center">
    <thead>
      <tr class="<%= render_department_class(itinerary.department) %>">
        <th class="flight_no">Flight</th>
        <th class="departing">Departure Date</th>
        <th class="hotel">Hotel</th>
        <!-- <th class="price">Early Bird <br> Seat <%= dta ? "(DTA)".html_safe : '' %></th> -->
        <% if fair %>
          <th class="price">Super Promo <br> Seat <%= dta ? "(DTA)".html_safe : '' %></th>
          <th class="price">Special Deal <br> Seat <%= dta ? "(DTA)".html_safe : '' %></th>
        <% end %>
        <th class="price">Special Offer <br> Seat <%= dta ? "(DTA)".html_safe : '' %></th>
        <% if fair %>
          <th class="price">Promo <br> Seat <%= dta ? "(DTA)".html_safe : '' %></th>    
        <% end %>
        <th class="price">Normal<%= dta ? "<br>(DTA)".html_safe : '' %></th>
        <th class="single_supplement">Single Sup.</th>
      </tr>
    </thead>
    <tbody>
      <% itinerary.tours.each do |tour| %>
        <tr>
          <% if tour.tour_flights.present? %>
            <td class="flight_no"><%= tour.departure_airline %></td>
            <td class="departing"><%= tour.departure.try(:strftime, "%d %b %Y (%^a)") %>
              <br>
                <span class="bold holiday-color">
                  <% if @holidays.select{|n|n.date.include?(tour.departure)}.present? %>
                    *<%=  @holidays.select{|n|n.date.include?(tour.departure)}.map(&:name).uniq.join("*<br>*").html_safe%>*
                  <% else %>
                  <% end %>
                </span>
                <% if tour.tour_leader_id=="TOUR LEADER N/A" %>
                  <span class="bold">
                    *Tour Leader Excluded*
                  </span>
                <% end %>     
          <% else %>
            <td class="flight_no">-</td>
            <td class="departing">-</td>
          <% end %>
          <td class="hotel"><%= tour.hotel_rating %> <span class="fa fa-star"></span></td>

          <!-- <td class="price"><%= render_tour_status_price_seat(tour, 'early_bird', dta) %></td> -->
          <% if fair %>
            <td class="price"><%= render_tour_status_price_seat(tour, 'superpromo', dta) %></td>
            <td class="price"><%= render_tour_status_price_seat(tour, 'specialdeal', dta) %></td>
          <% end %>
          <td class="price"><%= render_tour_status_price_seat(tour, 'specialoffer', dta) %></td>
          <% if fair %>
            <td class="price"><%= render_tour_status_price_seat(tour, 'promo', dta) %></td>
          <% end %>
          <td class="price"><%= render_tour_status_price_seat(tour, 'normal', dta) %></td>
          <td class="single_supplement"><%= tour.single_supplement_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 
<div class="tour-status-table">
  <table class="table table-bordered table-condensed ">
      <tbody>
        <tr>
          <td>
            <p>FLIGHTS:</p>
            <p class="flight_summary">
              <%= render_tours_flights_text(itinerary.tours) %>
            </p>
            <p class="itnerary_description"><%= itinerary.remark %></p>
          </td>
        </tr>
      </tbody>    
  </table>
</div>
<div class="tour-status-table">
  <table class="table table-bordered table-condensed">
    <thead>
    </thead>
    <tbody>
      <% if itinerary.optional_tour.present? %>
        <tr> 
            <td class="itnerary_description"><%= itinerary.optional_tour %></td>
        </tr>
      <% end %>
      <% if itinerary.additional_tour.present?  %>
        <tr>
            <td class="itnerary_description"><%= itinerary.additional_tour %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>