<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Pre Commision
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Pre Commision' do %>
  <%= form_for [:admin, @pre_commision], html: { role: "form", class: "pre-commision-form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @pre_commision } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :code %>
        <%= f.text_field :code, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :active %>
        <%= f.select :active, options_for_select([["Yes", "true"], ["No", "false"]], selected: @pre_commision.active), {}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :commision_category %>
        <%= f.select :commision_category, options_for_select(PreCommision.commision_categories.collect { |s| [s[0].humanize, s[0]] }, selected: @pre_commision.commision_category), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :commisions %>
        <%= f.number_field :commisions, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :duration_start %>
        <%= f.datetime_field :duration_start, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :duration_end %>
        <%= f.datetime_field :duration_end, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :remark %>
        <%= f.text_area :remark, class: 'form-control', rows: "3" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :allow_users %>
        <div>
          <ul class="nav nav-tabs" role="tablist">
            <% @states.each_with_index do |state, index| %>
              <% next if state.blank? %>
              <li role="presentation" class="<%= index == 0 ? 'active' : '' %>">
                <%= link_to state, "##{state.parameterize}", data: {toggle: "tab"}, aria: {controls: "#{state.parameterize}"}, role: "tab" %>
              </li>
            <% end %>
            <% if @states.include?('') %>
              <li role="presentation">
                <%= link_to "Unspecified", "#unspecified", data: {toggle: "tab"}, aria: {controls: "unspecified"}, role: "tab" %>
              </li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% @states.each_with_index do |state, index| %>
              <div role="tabpanel" class="tab-pane <%= index == 0 ? 'active' : '' %>" id="<%= state.parameterize %>">

                <%= f.collection_check_boxes :allow_user_ids, @users.select {|u| u.state == state}, :id, :username do |b| %>
                
                  <%= content_tag :div, class: 'col-sm-3 col-xs-6' do %>
                    <%= b.label(class: "check_box") { b.check_box(class: "check_box") + " #{b.text}" } %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% if @states.include?('') %>
              <div role="tabpanel" class="tab-pane" id="unspecified">
                <%= f.collection_check_boxes :allow_user_ids, @users.select {|u| u.state == ''}, :id, :username do |b| %>
                
                  <%= content_tag :div, class: 'col-sm-3 col-xs-6' do %>
                    <%= b.label(class: "check_box") { b.check_box(class: "check_box") + " #{b.text}" } %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :allow_itineraries %>
        <div>
          <ul class="nav nav-tabs" role="tablist">
            <% @departments.each_with_index do |department, index| %>
              <% next if department.blank? %>
              <li role="presentation" class="<%= index == 0 ? 'active' : '' %>">
                <%= link_to department.name, "##{department.name.parameterize}", data: {toggle: "tab"}, aria: {controls: "#{department.name.parameterize}"}, role: "tab" %>
              </li>
            <% end %>
            <% if @departments.include?(nil) %>
              <li role="presentation">
                <%= link_to "Unspecified", "#iti_unspecified", data: {toggle: "tab"}, aria: {controls: "iti_unspecified"}, role: "tab" %>
              </li>
            <% end %>

          </ul>
          <div class="tab-content">
            <% @departments.compact.each_with_index do |department, index| %>
              <% next if department.blank? %>
              <div role="tabpanel" class="tab-pane <%= index == 0 ? 'active' : '' %>" id="<%= department.name.parameterize %>">
                <div class="col-sm-12 col-xs-12">
                  <%= check_box_tag 'iti_all', 'yes', false, class: 'iti_all' %> <%= label_tag '', "Select All" %>
                </div>
                <br><br>
                <%= f.collection_check_boxes :allow_itinerary_ids, @itineraries.select {|u| u.department_id == department.id}, :id, :code do |b| %>
                
                  <%= content_tag :div, class: 'col-sm-3 col-xs-6' do %>
                    <%= b.label(class: "check_box") { b.check_box(class: "check_box") + " #{b.text}" } %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% if @departments.include?(nil) %>
              <div role="tabpanel" class="tab-pane" id="iti_unspecified">
                <div class="col-sm-12 col-xs-12">
                  <%= check_box_tag 'iti_all', 'yes', false, class: 'iti_all' %> <%= label_tag '', "Select All" %>
                </div>
                <br><br>
                <%= f.collection_check_boxes :allow_itinerary_ids, @itineraries.select {|u| u.department_id.blank?}, :id, :code do |b| %>
                
                  <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
                    <%= b.label(class: "check_box") { b.check_box(class: "check_box") + " #{b.text}" } %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
		<%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_pre_commisions_path, class: 'btn' %>
  <% end %>
<% end %>