<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Pre Commisions
<% end %>

<%= render 'shared/single_panel', card_title: 'View Pre Commisions' do %>
  <div class="form-group">
	<%= link_to('New Pre Commision', new_admin_pre_commision_path, class: 'btn btn-primary')%>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Commision Category</th>
          <th>Commision</th>
        </tr>
      </thead>
      <tbody>
        <% @pre_commision.each do |pre_commision| %>
          <tr>
          	<td><%= link_to pre_commision.code, admin_pre_commision_path(pre_commision) %></td>
            <td><%= pre_commision.title %></td>
            <td><%= pre_commision.duration_start.try(:strftime, "%F %H:%M %p") %> - <%= pre_commision.duration_end.try(:strftime, "%F %H:%M %p") %></td>
            <td><%= pre_commision.commision_category %></td>
            <td><%= pre_commision.commisions %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @pre_commision %>
<% end %>