<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Pre Commision
<% end %>

<%= render 'shared/single_panel', card_title: 'Pre Commision Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @pre_commision.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :active %>
      <%= text_field_tag '', @pre_commision.active, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :title %>
      <%= text_field_tag '', @pre_commision.title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :commision_category %>
      <%= text_field_tag '', @pre_commision.commision_category, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :commisions %>
      <%= text_field_tag '', @pre_commision.commisions, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :duration_start %>
      <%= text_field_tag '', @pre_commision.duration_start.try(:strftime, "%F %H:%M %p"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :duration_end %>
      <%= text_field_tag '', @pre_commision.duration_end.try(:strftime, "%F %H:%M %p"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :remark %>
      <%= text_area_tag '', @pre_commision.remark, class: 'form-control', rows: "3", disabled: true %>
    </div>
		<div class="custom-form-group form-group col-sm-12">
    	<%= label_tag :allow_users %>
    	<%= text_field_tag '', @pre_commision.join_allow_users, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
  	</div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :allow_itineraries %>
      <%= text_field_tag '', @pre_commision.join_allow_itineraries, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
  </div>
  <%= link_to 'Edit', edit_admin_pre_commision_path(@pre_commision), class: 'btn btn-primary' %>
	<%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>