<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Packages
<% end %>

<%= render 'shared/single_panel', card_title: 'Roamingman Packages Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @roamingman_package.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :name %>
      <%= text_field_tag '', @roamingman_package.name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :category %>
      <%= text_field_tag '', @roamingman_package.category.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :package_type %>
      <%= text_field_tag '', @roamingman_package.package_type, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :data_rules %>
      <%= text_field_tag '', @roamingman_package.data_rules, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :channel_price %>
      <%= text_field_tag '', @roamingman_package.channel_price_markup(current_user), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :retail_price %>
      <%= text_field_tag '', @roamingman_package.retail_price, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :min_rent_days %>
      <%= text_field_tag '', @roamingman_package.min_rent_days, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :highlight %>
      <%= text_field_tag '', @roamingman_package.highlight, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :status %>
      <%= text_field_tag '', @roamingman_package.status.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :countries, "Countries & Regions Covered" %>
      <%= text_area_tag '', @roamingman_package.join_countries, class: 'form-control', rows: "3", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :terms_and_conditions %>
      <%= text_area_tag '', @roamingman_package.terms_and_conditions, class: 'form-control', rows: "4", disabled: true %>
    </div>
  </div>
  <% if policy(RoamingmanBooking).new? && @roamingman_package.active? %>
    <%= link_to 'Add Booking', new_roamingman_package_roamingman_booking_path(@roamingman_package), class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
