<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-4">
    <%= f.label 'Name On Passport' %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, class: 'form-control date-of-birth-field', required: true, max: Date.today, min: @tour.departure_date - 2.years %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(InfantBooking.genders.collect { |s| [s[0].humanize, s[0]] }, selected: f.object.gender), {include_blank: true}, {required: true, class: 'form-control'} %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Infant", f %>
  </div>
</div>