<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Detail' do %>
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Grouping</th>
            <th>Name</th>
            <th>Price</th>
            <th>Deposit</th>
            <th>Tour Code</th>
            <th>Tour Caption</th>
            <th>Tour Departure</th>
            <th>Ref</th>
            <th>Booked at</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= link_to booking.booking_group.code, booking_group_path(booking.booking_group) %></td>
              <td>
                <%= booking.name %>
                <% if booking.infant_bookings.count > 0 %>
                  | <%= booking.infant_bookings.count %><i class="fa fa-child"></i>
                <% end %>
              </td>
              <td><%= render_price_color(booking.price, booking.price_type_display) %></td>
              <td><%= booking.booking_group.bookings.first == booking ? booking.booking_group.deposit : '0' %></td>
              <td><%= link_to booking.tour.code, tour_path(booking.tour) %></td>
              <td><%= booking.tour.caption %></td>
              <td><%= booking.tour.departure_date.strftime("%d/%m/%Y %a") %></td>
              <td><%= booking.id %></td>
              <td><%= booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
