<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Booking
<% end %>

<%= render 'shared/single_panel', card_title: "#{@tour.caption}<br>#{@tour.other_caption}".html_safe do %>
  <div class="row enlarge-col">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Tour Code:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.code %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Departure:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.departure_date.try(:strftime, "%d/%m/%Y %a") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Prices:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= render_pricing_available(@tour, current_user) %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Deposit:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.deposit %>/seat
      </div>
    </div>
  </div>
  <br>
  <% if @tour.vacant_seats? %>
    <div class="mt20 row">
      <div class="col-xs-12">
        <div class="custom-form-group form-group col-sm-12">
          <%= label_tag 'Remaining time for booking:' %>
          <span id="countdown" data-url="<%= tour_path(@tour) %>"></span>
        </div>
      </div>
    </div>
    <div class="mt20 row">
      <div class="col-xs-12">
        <%= form_tag tour_bookings_path, multipart: true, method: 'POST', id: "tour-booking-form" do %>
          <%= render_booking_selects(@tour, current_user) %>
          <div class="custom-form-group form-group col-sm-4">
            <%= label_tag :sales_person %>
            <%= text_field_tag :sub_sale_rep, params['sub_sale_rep'], class: 'custom-form-control form-control', required: true, pattern: "[A-Za-z]{1}[A-Za-z0-9\s\.-]{2,}", title: "Valid name." %>
          </div>
          <% @bookings.each_with_index do |booking, index| %>
            <%= fields_for 'bookings[]', booking do |b| %>
              <div class='col-sm-12 media <%= "#{ index != 0 || @tour.is_cruise? ? 'hide other-guest-form' : ''}" %>' id='form-guest<%= index + 1 %>'>
                <%= label_tag '', "Guest #{index+1}", class: "col-sm-12 booking-group-label" %>
                <div class="custom-form-group form-group col-sm-12 booking-group-form">
                  <div class="nested-fields">
                    <div class='custom-form-group form-group col-sm-6'>
                      <%= b.label :designation %>
                      <%= b.select :designation, options_for_select(Booking::DESIGNATION, selected: b.object.designation), {include_blank: true}, {class: 'form-control', disabled: index != 0, required: index == 0} %>
                    </div>
                    <div class='custom-form-group form-group col-sm-6'>
                      <%= b.label 'Name On Passport' %>
                      <%= b.text_field :name, class: 'form-control', disabled: index != 0, required: index == 0 %>
                    </div>
                    <div class="custom-form-group form-group col-sm-6">
                      <%= b.label :date_of_birth %>
                      <%= b.date_field :date_of_birth, class: 'form-control', disabled: index != 0 %>
                    </div>
                    <div class="custom-form-group form-group col-sm-3">
                      <%= b.label :passport_number %>
                      <%= b.text_field :passport_number, class: 'form-control', disabled: index != 0 %>
                    </div>
                    <div class="custom-form-group form-group col-sm-3">
                      <%= b.label :visa_no %>
                      <%= b.text_field :visa_no, class: 'form-control', disabled: index != 0 %>
                    </div>
                    <div class='custom-form-group form-group col-sm-6'>
                      <%= b.label :category %>
                      <%= b.select :category, options_for_select(Booking.categories.collect { |s| [s[0].humanize, s[0]] }, selected: b.object.category), {}, {class: 'form-control', disabled: index != 0} %>
                    </div>
                    <div class='custom-form-group form-group col-sm-6'>
                      <%= b.label :remark %>
                      <%= b.text_field :remark, class: 'form-control', disabled: index != 0 %>
                    </div>
                    <% unless @tour.is_cruise? %>
                      <div class="custom-form-group form-group col-sm-12", id="infants">
                        <%= b.label :infants %>
                        <%= b.fields_for :infant_bookings do |infant| %>
                          <%= render 'infant_booking_fields', f: infant %>
                        <% end %>
                        <div class="custom-form-group form-group col-sm-12">
                          <%= link_to_add_association 'Add Infant', b, :infant_bookings, id: 'add-infant-btn' %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="mt20 custom-form-group form-group col-sm-12">
            <%= link_to 'Book', '#', class: 'btn btn-primary', id: 'booking-new-book' %>
            <%= link_to 'Cancel', tour_path(@tour), class: 'btn' %>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="booking-confirmation-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span class="icon icon-close"></span></button>
                  <h4 class="modal-title">
                    Booking Confirmation
                  </h4>
                </div>
                <div class="modal-body">
                  <h3>Attention:</h3>
                  Please be noted that your current booking is subject to the system acknowledgement after your confirmed submission.
                  <br>
                  Bookings will be secured only after a deposit of <%= @tour.deposit %> per person has been received by the <span class="bookings-disclaimer">next two(2) business or banking days.</span>
                  <br>
                  <br>
                  TOTAL DEPOSIT: <span id="total-deposit" data-deposit="<%= @tour.deposit %>"></span>
                  <br>
                  <% if current_user.fair_available? %>
                    <h5>
                      <label class="flex-row">
                        <%= check_box_tag 'booking-confirmation1-check-box', '', false, class: 'check-checkbox' %> <div class="bookings-disclaimer-promo-background"><span class="bookings-disclaimer-promo">All fares</span> are sold during the fair period are deemed as Not Refundable. Once booking made is consider sold.</div>
                      </label>
                    </h5>
                  <% elsif @tour.early_bird_available? %>
                    <h5>
                      <label class="flex-row">
                        <%= check_box_tag 'booking-confirmation3-check-box', '', false, class: 'check-checkbox' %> <div class="bookings-disclaimer-promo-background"><span class="bookings-disclaimer-promo">Early Bird</span> sold is as Not Refundable. Once booking made is consider sold.</div>
                      </label>
                    </h5>
                  <% end %>
                  <h5>
                    <label class="flex-row">
                      <%= check_box_tag 'booking-confirmation2-check-box', '', false, class: 'check-checkbox' %> I understand and accept the clauses as above written.
                    </label>
                  </h5>
                  Confirm to submit this booking transaction?
                  <br>
                  <br>
                  <%= submit_tag "Yes", class: "btn btn-default", id: "booking-confirmation-yes", disabled: true %>
                  <%= link_to 'No', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    
  <% else %>
    <div class="mt20 row">
      <div class="col-xs-12">
        <h4>All the seats sold out. Sorry for inconvenient.</h4>
      </div>
  <% end %>
<% end %>