<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Booking
<% end %>

<%= render 'shared/single_panel', card_title: "#{@booking_group.bookings.length} #{'booking'.pluralize(@booking_group.bookings.length)} successfully #{@booking_group.payments.length > 1 ? 'updated' : 'created' }.".html_safe do %>
  <div class="row enlarge-col">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Tour Code:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.code %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Departure:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.departure_date.try(:strftime, "%d/%m/%Y %a") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Caption:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.caption %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Caption(CH):
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.other_caption %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Itinerary:
      </div>
      <div class="col-xs-7 col-sm-9">
        <% if @tour.itinerary.present? && @tour.itinerary.file.present? && @tour.itinerary.cn_file.present? %>
          <%= link_to @tour.itinerary.file.url, class: 'qrcode', target: '_blank' do  %>
            EN: <%= render_qrcode(@tour.itinerary.file.url) %>
          <% end %>
          <br>
          <%= link_to @tour.itinerary.cn_file.url, class: 'qrcode', target: '_blank' do  %>
            CN: <%= render_qrcode(@tour.itinerary.cn_file.url) %>
          <% end %>
        <% elsif @tour.itinerary.present? && @tour.itinerary.file.present? %>
          <%= link_to @tour.itinerary.file.url, class: 'qrcode', target: '_blank' do  %>
            <%= render_qrcode(@tour.itinerary.file.url) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <div class="panel panel-success mt20">
    <div class="panel-heading">
      Thank you for your online booking
    </div>
    <div class="panel-body">
      <% if !@new_domain %>
        Bookings will be secured only after a deposit of <%= @tour.deposit %> per person has been received by the <span class="bookings-disclaimer">next two (2) business or banking days.</span>
        <br>
        Total receivable deposit: <%= @booking_group.deposit %>
        <br>
      <% end %>
      <h3>
        <span class="label label-default">Booking Ref: <%= @booking_group.bookings.map(&:id).join(', ')%></span>
      </h3>
    </div>
  </div>
  <% if @new_domain %>
    <%= link_to 'Home Page', app_path, class: 'btn btn-success', data: {turbolinks: "false"} %>
    <%= link_to 'Booking Page', app_path(anchor: "bookings/series"), class: 'btn btn-success', data: {turbolinks: "false"} %>
  <% else %>
    <%= link_to 'Back', tour_path(@tour), class: 'btn' %>
  <% end %>

</div>

<% end %>