#Explore{
    width: 1600px;
    margin: auto;
    padding-bottom: 100px;
    position: relative;
    padding: 0px 10px;
    margin-top: 30px;
}

#Explore .content_title {
    margin-top: 50px
}
#Explore .content_title h1{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
}
#Explore .content_title p{
   margin-bottom: 0
}
#Explore .slider { 
    width: 100%;
    margin: auto;
    padding: 10px 0px 0px 0px;
    float: left;

  }
  
#Explore .slider img{ 
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
  }
#Explore .slick-arrow {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
    -moz-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
    box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
  }
#Explore .slick-arrow:hover {
    background-color: #fff;
  }
#Explore .slick-arrow:focus {
    background-color: #fff;
  }

#Explore .slick-prev{
    z-index: 1;
}
#Explore .slick-prev:before, .slick-next:before{
    color: #9e9e9e;
}
#Explore .card_warp{
  padding-right: 15px;
  position: relative;
}
#Explore  .meta_warp div:nth-child(1n){
  width: 60%;
  float: left;
}
#Explore  .meta_warp div:nth-child(2n){
  width: 40%;
  float: left;
  text-align: center;
}
#Explore .meta_warp p{
  margin-bottom: 0px;
}

#Explore .ant-card-body {
  padding: 15px 10px;
}

#Explore .ant-card-meta-detail > div:not(:last-child){
  margin-bottom: 0px;
}


#Explore .content_warp{
    position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
	bottom: 5%;
	text-align: left;
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding-right: 15px;
}
#Explore .content_warp p{
    margin-bottom: 5px
}
#Explore .content_warp p:nth-child(1n){
    font-size: 1.5em;
}
#Explore .content_warp p:nth-child(2n){
    font-size: 1em;
}
/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
 #Explore{
      width: 1300px;
  }
 
}

@media only screen and (max-width: 1350px) {
 #Explore{
      width: 1000px;
  }
 #Explore .ant-rate{
    font-size: 12px;
  }
 #Explore .ant-btn{
    font-size: 12px;
    padding: 0 10px;
  }
  #Places .ant-tabs-nav{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1050px) {
 #Explore{
      width: 850px;
  }
 #Explore .ant-rate{
    font-size: 12px;
  }
 #Explore .ant-btn{
    font-size: 10px;
    padding: 0 8px;
  }
 #Explore .ant-card-meta-detail > div:not(:last-child){
    font-size: 12px;
  }
 #Explore .meta_warp p {
    font-size: 10px;
}
 #Explore .ant-rate-star{
    margin-right: 2px;
  }
 #Explore .meta_warp div:nth-child(1n) {
    width: 50%;
}
#Explore .meta_warp div:nth-child(2n) {
  width: 50%;
  text-align: right;
}
 
}

@media only screen and (max-width: 770px) {
 #Explore{
    width: 700px;
}
}


@media only screen and (max-width: 720px) {
  #Explore{
    width: 600px;
}
  #Explore .content_title h1{
    font-size: 3em;
  }
  #Explore .slider {
    padding-top: 30px;

  }
}

@media only screen and (max-width: 625px) {
  #Explore{
    width: 90%;
    padding: 0;
}
#Explore .card_warp{
  padding-right: 0;
}
 
}

@media only screen and (max-width: 520px) {
 #Explore{
    width: 90%;
    padding: 0px ;
    margin: auto
}
#Explore .slick-arrow {
  width: 40px;
  height: 40px;

}
#Explore .slick-next {
  right: -13px;
}
#Explore .slick-prev {
  left: -16px;
}
#Explore .content_title h1 {
  font-size: 2.5em;
}
 
}

@media only screen and (max-width: 400px) {
  #Explore{
    width: 90%;
    margin: auto
  }
  #Explore .slick-arrow {
    width: 40px;
    height: 40px;

  }
  #Explore .slick-next {
    right: -13px;
  }
  #Explore .slick-prev {
    left: -13px;
  }
  #Explore .content_title h1 {
    font-size: 2em;
  }
  #Explore .card_warp {
    padding-right: 0px; 
  }
}