<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>
<%= render 'shared/single_panel', card_title: 'Edit User Password' do %>
  <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: 'custom-form-control form-control', autofocus: true, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :new_password %>
        <%= f.password_field :password, class: 'custom-form-control form-control', autofocus: true, required: true %>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>


<% end %>