<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<%= render 'shared/devise_panel' do %>

  <div class="form-wrapper">
    <h3>Forgot your password?</h3>
    <hr />
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group <%= @new_domain ? 'input-group' : '' %>">
        <% if @new_domain %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <% else %>
          <%= f.label :username %><br />
        <% end %>
        <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
      </div>

      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-submit-reset' %>
      <br />
      <br />
    <% end %>
    <%= link_to "Back to log in", new_session_path(resource_name) %><br />
  </div>

<% end %>