<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-text-o fa-fw"></i>Invoices
<% end %>

<%= render 'shared/single_panel', card_title: 'View Invoices' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>No</th>
          <th>Description</th>
          <th>Charge</th>
          <th>Refund</th>
          <th>Outstanding</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= link_to invoice.id, admin_invoice_path(invoice) %></td>
            <td><%= link_to invoice.description, admin_invoice_path(invoice) %></td>
            <td><%= invoice.total_charge %></td>
            <td><%= invoice.total_refund %></td>
            <td><%= invoice.outstanding %></td>
            <td><%= invoice.balance %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @invoices %>
<% end %>