<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-text-o fa-fw"></i>Invoices
<% end %>
<%= render 'shared/single_panel', card_title: 'Invoice Detail' do %>
  <div class="row">
    <div class="col-xs-12">
      Invoice Number: <%= @invoice.id %>
    </div>
    <div class="col-xs-12">
      Invoice Description: <%= @invoice.description %>
    </div>
  </div>
  <div class="row mt20">
    <div class="col-xs-12 invoice-header">
      <div class="col-xs-6 col-sm-8 pd5 bold">
        Description
      </div>
      <div class="col-xs-2 col-sm-1 pd5 bold">
        Qty
      </div>
      <div class="col-xs-2 col-sm-1 pd5 bold">
        Price
      </div>
      <div class="col-xs-2 col-sm-2 pd5 bold">
        Amount
      </div>
    </div>
    <% if @invoice.total_charge > 0 %>
      <div class="col-xs-12">
        <div class="invoice-tr">
          <div class="col-xs-6 col-sm-8 pd5">
            <div class="panel invoice-panel">
              <a data-toggle="collapse" href="#charged_booking_ids">
                Booking service charge
              </a>
              <div id="charged_booking_ids" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @bookings.each do |booking| %>
                    <%= link_to booking.id, admin_booking_group_path(id: booking.booking_group_id) %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-sm-1 pd5 text-right">
            <%= @invoice.total_charge / 3 %>
          </div>
          <div class="col-xs-2 col-sm-1 pd5 text-right">
            <%= Invoice::CHARGE_PER_BOOKING %>
          </div>
          <div class="col-xs-2 col-sm-2 pd5 text-right">
            <%= @invoice.total_charge %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @invoice.total_refund > 0 %>
      <div class="col-xs-12">
        <div class="invoice-tr">
          <div class="col-xs-6 col-sm-8 pd5">
            <div class="panel noshadow-panel">
              <a data-toggle="collapse" href="#refunded_booking_ids">
                Less: Refund on cancellation
              </a>
              <div id="refunded_booking_ids" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= @invoice.refunded_booking_ids.join(' ') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-sm-1 pd5 text-right">
            <%= @invoice.total_refund / 3 %>
          </div>
          <div class="col-xs-2 col-sm-1 pd5 text-right">
            <%= Invoice::CHARGE_PER_BOOKING %>
          </div>
          <div class="col-xs-2 col-sm-2 pd5 text-right">
            - <%= @invoice.total_refund %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12">
      <div class="invoice-tr">
        <div class="col-xs-10 col-sm-10 pd5">
          <div class="bold text-right">
            Sub Total
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 pd5 text-right">
          <%= @invoice.total_charge - @invoice.total_refund %>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="invoice-tr">
        <div class="col-xs-10 col-sm-10 pd5">
          <div class="bold text-right">
            C/F Refund On Cancellation
          </div>
        </div>
        <% if @invoice.outstanding > 0 %>
          <div class="col-xs-2 col-sm-2 pd5 text-right">-<%= @invoice.outstanding %></div>
        <% else %>
          <div class="col-xs-2 col-sm-2 pd5 text-right">0</div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="invoice-tr">
        <div class="col-xs-10 col-sm-10 pd5">
          <div class="bold text-right">
            Total
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 pd5 text-right">
          <%= @invoice.balance %>
        </div>
      </div>
    </div>
  </div>
<% end %>