<div class="container-fluid">
  <div class='row'>
    <div class="col-sm-12 <%= @new_domain ? 'col-md-12' : 'col-md-8' %> cover-div">
      
      <div id="cover-slick">
        <% if @new_domain %>
          <% covers = Cover.travelb2b_login.image_visible %>
        <% else %>
          <% covers = Cover.iceb2b_login.image_visible %>
        <% end %>
        <% if covers.blank? %>
          <%= image_tag 'tour.jpg', class: @new_domain ? 'cover-img-full' : 'cover-img' %>
        <% else %>
          <% covers.each do |cover| %>
            <div>
              <%= image_tag cover.image_url, class: @new_domain ? 'cover-img-full' : 'cover-img' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 <%= @new_domain ? 'col-xs-9 col-sm-6 col-md-4 travelb2b-div' : 'col-md-4' %> mt20 ">
      <%= yield %>
    </div>
  </div>
</div>