<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1><%= yield :title %></h1>
    </div>
  </div>

  <div class="panel panel-grey">
    <div class="panel-heading">
      <h3 class="panel-title"><%= card_title%></h3>
    </div>
    <div class="panel-body">      
      <%= yield %>
    </div>
  </div>
</div>