<p>Hi <%= @user.username %>,</p>
<p>We thank you for your booking. However, we have not received any payment/reservation
 deposit for the said booking. Our system has automatically removed this booking.</p>

<p>Tour: <%= @booking_group.tour.code %><br>
Booking Ref: <%= @booking_group.bookings.map(&:id).join(', ')%></p>

<p>Should you need to reserve any seat(s) for this tour, kindly log-in to: iceb2b.com.my for your booking. %>