<p>Hi <%= @user.username %>,</p>
<p>This reservation is only valid upon payment of deposit.</p>
<p> Please remember that you are responsible for making sure your booking full deposit is paid before <%= @booking_group.due_date.strftime("%b %e, %Y") %>. Any manual/offline/check payments must be received and cleared by the due date. <strong>If no payment is received by the due date, the booking will be auto cancelled.</strong></p>

<p> Deposit payment is required to secure your reservation. The deposit amount of this tour is reflected
 in your system during booking.</p>

<p>Tour: <%= @booking_group.tour.code %><br>
Booking Ref: <%= @booking_group.bookings.map(&:id).join(', ')%><br>
Deposit: <%= @booking_group.deposit %></p>

<p>IF YOU HAVE ALREADY PAID YOU DEPOSIT, PLEASE DISREGARD THIS REMINDER.</p>
<p>Thank you for choosing www.iceb2b.my.</p>
