<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-1">
    <%= f.label :points %>
    <%= f.number_field :point_topup, class: 'custom-form-control form-control point_topup', disabled: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-1">
    <%= f.label :booking_group_id, "Grouping" %>
    <%= f.text_field :booking_group_id, class: 'custom-form-control form-control', disabled: true %>
  </div>
  <div class="custom-form-group form-group col-sm-10" id="gift-tracking-detail">
    <%= f.label :gift_redemption_details %>
    <%= f.fields_for :gift_tracking_details do |tracking_detail| %>
      <%= render 'gift_tracking_detail_fields', f: tracking_detail %>
    <% end %>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to_add_association 'Add Detail', f, :gift_tracking_details %>
    </div>
  </div>
  
</div>