<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gift Redemptions
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Gift' do %>
  <%= form_for [@gift_tracking_group], html: { role: "form", class: 'gift-tracking-form' } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @gift_tracking_group } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :agent_id, "Agent ID" %>
        <%= f.text_field :agent_id, value: f.object.agent.full_name, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :cut_off_date %>
        <%= f.date_field :cut_off_date, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :category %>
        <%= f.text_field :category, value: f.object.category.present? ? f.object.category.humanize : '', class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :remark %>
        <%= f.text_field :remark, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :gift_redemptions %>
        <% i = 0 %>
        <%= f.fields_for :gift_trackings do |gift_tracking| %>
          <% i = i + 1 %>
          <%= label_tag '', "Record #{i}", class: "col-sm-12 gift-tracking-group-label" %>
          <%= render 'gift_tracking_fields', f: gift_tracking %>
        <% end %>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
