<% content_for :head do %>
  <title>Delivery Order #<%= @gift_tracking_group.id %> | <%= @app_name %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-xs-12 col-sm-12 bold gift-header">
        Delivery Order #<%= @gift_tracking_group.id %>
      </div>
    </div>
    <br><br>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Date Prepared:
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.created_at.try(:strftime, "%d/%m/%Y") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Agent ID:
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.agent.present? ? @gift_tracking_group.agent.full_name : '' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Agent Address:
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.agent.present? ? @gift_tracking_group.agent.full_address : '' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Agent Phone No. :
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.agent.present? ? @gift_tracking_group.agent.phone : '' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Cut Off Date:
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.cut_off_date.present? ? @gift_tracking_group.cut_off_date.strftime("%d/%m/%Y %H:%M") : '' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Category:
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.category.present? ? @gift_tracking_group.category.capitalize : '' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Remark:
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.remark %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Status:
      </div>
      <div class="col-xs-7 col-sm-9">
        &nbsp;
        <%= @gift_tracking_group.status.present? ? @gift_tracking_group.status.capitalize : '' %>
      </div>
    </div>
  </div>
  <br><br>
  <div class="col-sm-12">
    <%= label_tag '', "Gift Trackings" %><br>
    <% @gift_tracking_group.gift_trackings.each_with_index do |gift_tracking, i| %>
      <%= label_tag '', "Record #{i+1}", class: "col-sm-12" %>
      <div class="col-sm-3">
        <div class="col-xs-3 col-sm-6 bold">
          Point Topup:
        </div>
        <div class="col-xs-3 col-sm-6">
          <%= gift_tracking.point_topup.present? ? gift_tracking.point_topup : '0' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="col-xs-2 col-sm-6 bold">
          Booking Group ID:
        </div>
        <div class="col-xs-2 col-sm-6">
          &nbsp;
          <%= gift_tracking.booking_group_id %>
        </div>
      </div>
      <div class="col-sm-6">
        <%= label_tag :gift_tracking_details %>
            <div class="nested-fields">
              <table class="table" border="0">
                <thead>
                  <tr>
                    <th>SKU</th>
                    <th>Gift ID</th>
                    <th>Unit Points</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                <% gift_tracking.gift_tracking_details.each do |tracking_detail| %>
                  <tr>
                    <td><%= tracking_detail.gift.sku %></td>
                    <td><%= tracking_detail.gift.title %></td>
                    <td><%= tracking_detail.unit_points %></td>
                    <td><%= tracking_detail.quantity %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
          </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-12" style="float: right;margin-top: 10px;">
    <div class="form-group">
      <span>Acknowledge receipt by</span>
      <p class="company_chop">________________________________</p>
    </div>
    <div class="form-group">
      <span>Name : _________________________</span>
    </div>
    <div class="form-group">
      <span>Date : __________________________</span>
    </div>
    <div class="form-group">
      <span>Company Chop : </span>
    </div>
  </div>
</page>