<div class="nested-fields">
  <% if f.object.image.present? %>
    <%= link_to f.object.image.url, target: '_blank' do %>
      <% image_tag f.object.image.url, class: 'cover-thumbnail' %>
    <% end %>
  <% else %>
    <div class="custom-form-group form-group col-sm-6">
      <%= f.label "Image Size: 530 x 300" %>
      <%= f.file_field :image, class: 'custom-form-control form-control' %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= f.label :image_url %>
      <%= f.text_field :remote_image_url, class: 'custom-form-control form-control' %>
    </div>
  <% end %>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Image", f %>
  </div>
</div>