<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Itineraries
<% end %>

<%= render 'shared/single_panel', card_title: 'View Itineraries' do %>
  <%= link_to("Tour Status", tour_status_admin_itineraries_path, class: 'btn btn-primary', target: '_blank') %>
  <%= link_to('New Itinerary', new_admin_itinerary_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag admin_itineraries_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <%= select_tag :department_id, options_from_collection_for_select(Department.all, 'id', 'name', selected: params[:department_id]), class: 'custom-form-control', prompt: "Select department" %>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="code">Code</th>
          <th> Duration </th>
          <th class="caption">Caption</th>
          <th class="ch-caption">Caption (Ch)</th>
          <th>Department</th>
          <th>Category</th>
          <th>Status</th>
          <th class="iti-remark">Remark</th>
          <th>File</th>
          <th class="tour-count">All Tour</th>
          <th>NE Tour </th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*Itinerary::ADMIN_ITINERARY_PER_PAGE+1 : 1 %>
        <% @itineraries.each_with_index do |itinerary, i| %>
          <tr>
            <td class="number"><%= i + start_seq %></td>
            <td class="code"><div class="trim code"><%= link_to itinerary.code, admin_itinerary_path(itinerary) %></div></td>
            <td><div><%= itinerary.duration %></div></td>
            <td class="caption"><div class="trim caption"><%= itinerary.caption %></div></td>
            <td class="ch-caption"><div class="trim ch-caption"><%= itinerary.other_caption %></div></td>
            <td><%= itinerary.department_id.present? ? itinerary.department.name : '' %></td>
            <td><%= itinerary.category.present? ? itinerary.category : '' %></td>
            <td>
              <%= itinerary.status %>
            </td>
            <td class="iti-remark"><div class="trim iti-remark"><%= itinerary.remark %></div></td>
            <td><%= itinerary.file.present? ? link_to('View', itinerary.file.url, target: '_blank') : '' %></td>
            <td class="tour-count"><%= link_to itinerary.tours.count, admin_tours_path(itinerary_id: itinerary.id, only_active_tour: false, commit: "search") %></td>
            <td><%= link_to itinerary.tours.non_expired.count,admin_tours_path(itinerary_id: itinerary.id, only_active_tour: false) %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @itineraries %>
<% end %>