<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Itineraries
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Itinerary' do %>
  <%= form_for [:admin, @itinerary], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @itinerary } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :department, class: 'required'  %>
        <%= f.select :department_id,  options_from_collection_for_select(Department.all, :id, :name, selected: f.object.department_id), {include_blank: "Select Department"}, { class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :insurance_zone %>
        <%= f.select :zone, options_for_select(Itinerary::ZONE), {include_blank: true}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :category, class: 'required' %>
        <%= f.text_field :category, class: 'custom-form-control form-control', placeholder: 'EX: Japan - Osaka' %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :code, class: 'required' %>
        <%= f.text_field :code, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :duration, class: 'required' %>
        <%= f.text_field :duration, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :countries, class: 'required' %>
        <%= f.text_field :countries, class: 'custom-form-control-tagsinput', id: 'country_tag' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :caption, class: 'required' %>
        <%= f.text_field :caption, class: 'custom-form-control form-control', placeholder: 'English Caption'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :other_caption, class: 'required' %>
        <%= f.text_field :other_caption, class: 'custom-form-control form-control',placeholder: 'Chinese Caption' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :description, class: 'required' %>
        <%= f.hidden_field :description %>
        <div class="markdownEditSection"></div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :additional_tour %>
        <%= f.text_area :additional_tour, class: 'form-control', rows: "2" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :optional_tour %>
        <%= f.text_area :optional_tour, class: 'form-control', rows: "2" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :including %>
        <br />
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag 'select-all-includings', disabled: true %> Select all
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= f.check_box :including_airport_taxes, class: 'includings' %> Including Airport Taxes
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= f.check_box :group_departure, class: 'includings' %> Group Departure
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= f.check_box :including_tour_leader, class: 'includings' %> Including Tour Leader
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= f.check_box :including_luggage, class: 'includings' %> Including Luggage
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= f.check_box :including_wifi, class: 'includings' %> Including Wifi
        </div>
        <div class="custom-form-group form-group col-sm-4">  
          <%= f.check_box :including_meal_onboard, class: 'includings' %> Including Meal Onboard
        </div>
        <div class="custom-form-group form-group col-sm-4">  
          <%= f.check_box :including_hotel, class: 'includings' %> Including Hotel
        </div>
        <div class="custom-form-group form-group col-sm-4">  
          <%= f.check_box :including_gratuities, class: 'includings' %> Including Gratuities
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= f.check_box :including_acf, class: 'includings' %> Including ACF
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :file %>
        <% if @itinerary.file.present? %>
          <%= link_to 'View File', @itinerary.file.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :file, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :file_url %>
        <%= f.text_field :remote_file_url, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :cn_file %>
        <% if @itinerary.cn_file.present? %>
          <%= link_to 'View File', @itinerary.cn_file.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :cn_file, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :cn_file_url %>
        <%= f.text_field :remote_cn_file_url, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :editable_file %>
        <% if @itinerary.editable_file.present? %>
          <%= link_to 'View File', @itinerary.editable_file.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :editable_file, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :editable_file_url %>
        <%= f.text_field :remote_editable_file_url, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :en_editable_file, "Other editable file (EN)" %>
        <% if @itinerary.en_editable_file.present? %>
          <%= link_to 'View File', @itinerary.en_editable_file.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :en_editable_file, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :en_editable_file_url, "Other editable file url (EN)" %>
        <%= f.text_field :remote_en_editable_file_url, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :cn_editable_file, "Other editable file (CN)" %>
        <% if @itinerary.cn_editable_file.present? %>
          <%= link_to 'View File', @itinerary.cn_editable_file.url, target: '_blank' %>
        <% end %>
        <%= f.file_field :cn_editable_file, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :cn_editable_file_url, "Other editable file url (CN)" %>
        <%= f.text_field :remote_cn_editable_file_url, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Itinerary.statuses.collect { |s| [s[0].humanize, s[0]] }), {class: 'custom-form-control form-control' } , disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :remark %>
        <%= f.text_area :remark, class: 'form-control', rows: "1" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :covers, "Images", class: 'required'  %>
        <%= f.fields_for :covers do |cover| %>
          <%= render 'cover_fields', f: cover %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Image', f, :covers %>
        </div>
        <div class="single-line col-xs-12 mt10 pd5">
        </div> 
      </div>
      <div class="text-capitalize text-align-center custom-form-group form-group col-sm-12">     
        <%= f.label :Travel_Information %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label "Avg_Temperature °C " %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :temperature, class: 'custom-form-control form-control', placeholder: '12-22 OR 12°C - 22°C'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :voltage %>
      </div>
      <div class="custom-form-group form-group col-md-3">     
        <%= f.text_field :voltage, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :Currency_English %>
      </div>
      <div class="custom-form-group form-group col-md-9">     
        <%= f.text_field :currency_english, value: @itinerary.join_currency_english, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :currency_chinese %>
      </div>
      <div class="custom-form-group form-group col-md-9">     
        <%= f.text_field :currency_chinese, value: @itinerary.join_currency_chinese, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :time_difference_english %>
      </div>
      <div class="custom-form-group form-group col-md-9">     
        <%= f.text_area :time_difference_english, class: 'form-control', rows: "2" %>
      </div>
      <div class="custom-form-group form-group col-md-3 text-capitalize">
        <%= f.label :time_difference_chinese %>
      </div>
      <div class="custom-form-group form-group col-md-9">     
        <%= f.text_area :time_difference_chinese, class: 'form-control', rows: "2" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :tour_confirmation_remarks, class: 'required' %>
        <%= f.hidden_field :tour_confirmation_remarks %>
        <div class="markdownEditSection"></div>
      </div>
      <div class="single-line col-xs-12 mt10 pd5">
      </div> 
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
