<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Itineraries
<% end %>

<%= render 'shared/single_panel', card_title: 'Itinerary Detail' do %>
  <%= link_to 'Summary', admin_itinerary_path(@itinerary, @tour, summary: true), class: 'btn btn-success', target: '_blank'%>
  <%= link_to 'Print', admin_itinerary_path(@itinerary, @tour, print: true), class: 'btn btn-primary', target: '_blank'%>
  <%= link_to 'Duplicate', '', class: 'btn btn-primary', data: { toggle: 'modal', target: '#admin-duplicate-itinerary-modal', keyboard: "true" } %>
  <% if @itinerary.active? && @itinerary.tours.non_expired.count == 0 %>
    <%= link_to "Archived", admin_itinerary_path(id: @itinerary.id), data: { confirm: 'Are you sure to Archived?' }, class: 'btn btn-success', remote: true, method: :delete %>
  <% else %>
    <%= link_to 'Archived', '', class: 'btn btn-success', disabled: true %>
  <% end %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :department %>
      <%= text_field_tag '', @itinerary.department.present? ? @itinerary.department.name : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :insurance_zone %>
      <%= text_field_tag '', @itinerary.zone, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :category %>
      <%= text_field_tag '', @itinerary.category, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :code %>
      <%= text_field_tag '', @itinerary.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :duration %>
      <%= text_field_tag '', @itinerary.duration, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :countries %>
      <%= text_field_tag '', @itinerary.join_countries, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :caption %>
      <%= text_field_tag '', @itinerary.caption, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :other_caption %>
      <%= text_field_tag '', @itinerary.other_caption, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :description %>
      <div class="markdownViewSection well" data-content="<%= @itinerary.description %>"></div>
    </div>
  </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :additional_tour %>
      <%= text_area_tag '', @itinerary.additional_tour, class: 'custom-form-control form-control', rows: "2",  disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :optional_tour %>
      <%= text_area_tag '', @itinerary.optional_tour, class: 'custom-form-control form-control', rows: "2",  disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
        <%= label_tag :including %><br />
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_airport_taxes, @itinerary.including_airport_taxes, disabled: true %> Including Airport Taxes
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.group_departure, @itinerary.group_departure, disabled: true  %> Group Departure
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_tour_leader, @itinerary.including_tour_leader, disabled: true  %> Including Tour Leader
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_luggage, @itinerary.including_luggage, disabled: true  %> Including Luggage
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_wifi, @itinerary.including_wifi, disabled: true  %> Including Wifi
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_meal_onboard, @itinerary.including_meal_onboard, disabled: true  %> Including Meal Onboard
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_hotel, @itinerary.including_hotel, disabled: true  %> Including Hotel
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_gratuities, @itinerary.including_gratuities, disabled: true  %> Including Gratuities
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= check_box_tag '', @itinerary.including_acf, @itinerary.including_acf, disabled: true  %> Including ACF
        </div>
      </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :Itinerary %><br>
      <%= render_itinerary_files(@itinerary) %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :status %>
      <%= text_field_tag '', @itinerary.status.present? ? @itinerary.status.humanize : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :remark %>
      <%= text_area_tag '', @itinerary.remark, class: 'custom-form-control form-control', rows: "1", disabled: true %>
    </div>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Images" %><br>
      <% @itinerary.covers.each do |cover| %>
        <% if cover.image.present? %>
          <div class="custom-form-group form-group col-sm-4">
            <%= link_to cover.image.url, target: '_blank' do %>
              <% image_tag cover.image.url, class: 'cover-thumbnail' %>
            <% end %>
          </div>  
        <% end %>
      <% end %>
        <div class="single-line col-xs-12 mt10 pd5">
        </div> 
    </div>
  </div>
  <div class="text-capitalize text-align-center custom-form-group form-group col-sm-12">     
      <%= label_tag '', "Travel Information" %>
    </div>
    <div class="custom-form-group form-group col-md-3 text-capitalize">
      <%= label_tag '', "Avg Temperature °C " %>
    </div>
    <div class="custom-form-group form-group col-md-3">     
      <%= text_field_tag '' , render_itinerary_temperature(@itinerary),  class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-3 text-capitalize">
      <%= label_tag '', "voltage" %>
    </div>
    <div class="custom-form-group form-group col-md-3">     
      <%= text_field_tag '', @itinerary.voltage,  class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-md-3 text-capitalize">
      <%= label_tag '', "Currency English" %>
    </div>
    <div class="custom-form-group form-group col-md-9">
    <% if @itinerary.currency_english.present? %>     
      <%= text_field_tag '', @itinerary.currency_english.join(' , '), class: 'custom-form-control form-control', disabled: true %>
    <% else %>
       <%= text_field_tag '', @itinerary.currency_english, class: 'custom-form-control form-control', disabled: true%>
    </div>
    <% end %>
    <div class="custom-form-group form-group col-md-3 text-capitalize">
      <%= label_tag '', "currency chinese" %>
    </div>
    
    <div class="custom-form-group form-group col-md-9">   
    <%if @itinerary.currency_chinese.present? %>  
      <%= text_field_tag '', @itinerary.currency_chinese.join(' , '), class: 'custom-form-control form-control', disabled: true %>
    <% else %>
      <%= text_field_tag '', @itinerary.currency_chinese, class: 'custom-form-control form-control', disabled: true%>
    <% end %>
    </div>
    <div class="custom-form-group form-group col-md-3 text-capitalize">
      <%= label_tag '', "time difference english" %>
    </div>
    <div class="custom-form-group form-group col-md-9">
    <%if @itinerary.time_difference_english.present? %>     
      <%= text_field_tag '', @itinerary.time_difference_english.sub(/\n/,' , '), class: 'custom-form-control form-control', disabled: true  %>
    <% else %>
      <%= text_field_tag '', @itinerary.time_difference_english, class: 'custom-form-control form-control', disabled: true%>
    <% end %>
    </div>
    <div class="custom-form-group form-group col-md-3 text-capitalize">
      <%= label_tag '', "time difference chinese" %>
    </div>
    <div class="custom-form-group form-group col-md-9">
    <%if @itinerary.time_difference_chinese.present? %>       
      <%= text_field_tag '', @itinerary.time_difference_chinese.sub(/\n/,' , '), class: 'custom-form-control form-control', disabled: true  %>
    <% else %>
      <%= text_field_tag '', @itinerary.time_difference_chinese, class: 'custom-form-control form-control', disabled: true%>
    <% end %>
    </div>
    <div class="custom-form-group fporm-group text-capitalize col-sm-12">
      <%= label_tag '', "tour confirmation remarks" %>
        <div class="markdownViewSection well" data-content="<%= @itinerary.tour_confirmation_remarks %>"></div>
    </div>
    <div class="single-line col-xs-12 mt10 pd5">
    </div> 
  <%= link_to 'Edit', edit_admin_itinerary_path(@itinerary), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>



<div class="modal fade" id="admin-duplicate-itinerary-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          Duplicate Tour
        </h4>
      </div>
      <div class="modal-body">
        <%= form_tag duplicate_admin_itinerary_path, multipart: true, method: 'POST',  id: "duplicate-itinerary-form" do %>
          <%= label_tag :code %>
          <%= text_field_tag :code, "#{@itinerary.code}", class: 'custom-form-control form-control', id: :code_id %>
           <%= label_tag :department %>
          <%= text_field_tag :department_id, "#{@itinerary.department_id}", class: 'custom-form-control form-control', id: :department_id %>
          <br>
          <%= submit_tag "Duplicate", class: "btn btn-default", id: "itinerary-duplicate"  %>
          <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
