<% content_for :head do %>
  <title><%= params[:category] %> | <%= @app_name %></title>
<% end %>
<page layout="portrait" id="print-order" class="itinerary-status">
  <div class="one-a4-page tour-status-table">
    <div class="itinerary_margin">
      <br>
      <u>Update: <%= Time.now.strftime("%d %b %Y") %></u>
    </div>
    <div>
      <br>
    </div>
    <div>
      <div class="single-line">
      </div>
      <br>
      <div class="text-align-center">
        <%if @is_four_season.present? %>
          <% if @department.fs_logo.present? %>
            <%= image_tag @department.fs_logo.url, class: 'logo-thumbnail' %>
          <% else %>
            <div>(No Image)</div>
          <% end %>
        <% else %>
          <% if @department.logo.present? %>
            <%= image_tag @department.logo.url, class: 'logo-thumbnail' %>
          <% else %>
            <div>(No Image)</div>
          <% end %>
        <% end %>
        <div class="h2">
          <%= @department.name %>
          <br>
          <%= @department.title %>
        </div>
        <br>
        <div class="h4">
          Reservation Team General Line: <%= @department.phone %>
        </div>
        <div class="h4">
          Email: 
          <div2 class="email-link">
            <%= @department.email %>     
          </div2>
        </div>
        <div class="single-line">
        </div>
        <br>
        <div class="h5 important_note font-weight-bold">
          ***SUPER PROMO & PROMO ONCE BOOKING CONSIDERED SOLD***
        <br>
          NO ENTITLED TO CHANGE / NO CANCEL BOOKING TO BE ACCEPTED
        </div>
        <br>
      </div>
    </div>
    <div>
      <div>
      </div>
    </div>
  </div>

  <div class="pagebreak tour-status-table">
    <div class="h4 text-capitalize">
      <%= label_tag "Important Note:"  %>
    </div>
    <% if @is_four_season.present? %>
      <div class="itnerary_description itinerary_fontsize  text-bottom"><%= @department.fs_important_note %>
      </div>
    <% else %>
      <div class="itnerary_description itinerary_fontsize  text-bottom"><%= @department.important_note %>
      </div>
    <% end %>
    <% if @is_four_season.present? %>
      <div class="no-repeated-thead markdownViewSection " data-content="<%= @department.fs_description %>"></div>
    <% else %>
    <div class="no-repeated-thead  markdownViewSection " data-content="<%= @department.description %>"></div>
    <% end %>
  </div>

  <% itinerary_category = "" %>
  <% @itineraries.each do |itinerary| %>
      <div class="itinerary-div">
        <% if itinerary_category != itinerary.category  %>
          <% itinerary_category = itinerary.category %>
          <br><br><br>
          <h4 class="category"><%= itinerary_category %></h4>
        <% end %>
        <% # Temporary remove the cache %>
        <% # cache ["#{params[:dta].present? ? 'with' : 'without'}_dta_#{params[:fair].present? ? 'with' : 'without'}_fair", itinerary] do %>
        <div class="no-repeated-thead">
          <%= render 'partials/tour_code_summary', itinerary: itinerary, dta: params[:dta].present?, fair: params[:fair].present? %>
        </div>
      </div>
    <% end %>
  <!-- </div> -->
</page>
