<% content_for :head do %>


  <title><%= @itinerary.code %> | <%= @app_name %></title>
<% end %>

<page  size="landscape" class="itinerary-status">
  <div class="col-sm-12" id="<%= params[:print].present? ? 'print-order' : '' %>">
    <%= render 'partials/tour_code_summary', itinerary: @itinerary, dta: params[:dta].present?, fair: false %>
  </div>
</page>
    
