<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Tours Status
<% end %>

<%= render 'shared/single_panel', card_title: 'View Tour Status' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag tour_status_admin_itineraries_path, method: 'get', target: "_blank" do %>
        <%= hidden_field_tag :print, 'true' %>
        <%= select_tag :category, options_for_select(Itinerary::TOUR_STATUS_CATEGORY.collect { |s| [s, s] }), {prompt: ' Select Category', class: 'custom-form-control', required: true} %>
        <label class="checkbox-inline">
          <%= check_box_tag :dta, 'true' %> DTA
        </label>
        <label class="checkbox-inline">
          <%= check_box_tag :fair, 'true' %> Fair
        </label>
        <br>
        <br>
        <%= submit_tag 'Generate', class: 'btn btn-primary', data: { disable_with: false } %>
      <% end %>
    </div>
  </div>

<% end %>



