<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-1">
    <%= f.label :airline %>
    <%= f.text_field :airline_iata, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-1">
    <%= f.label :flight_no %>
    <%= f.text_field :flight_no, class: 'custom-form-control form-control' %>
  </div>  
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :departure %>
    <%= f.datetime_field :departure, class: 'custom-form-control form-control reminder-departure' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :arrival %>
    <%= f.datetime_field :arrival, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-2">
    <%= f.label :origin %>
    <%= f.text_field :origin, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-2">
    <%= f.label :destination %>
    <%= f.text_field :destination, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Detail", f %>
  </div>
</div>