<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :number %>
    <%= f.text_field :number, class: 'custom-form-control form-control' %>
  </div>  
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :amount %>
    <%= f.number_field :amount, class: 'custom-form-control form-control' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :remark %>
    <%= f.text_area :remark, class: 'form-control', rows: "4" %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :paid_at %>
    <%= f.datetime_field :paid_at, class: 'custom-form-control form-control' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Flight Receipt", f %>
  </div>
</div>