<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :total_seat %>
    <%= f.number_field :total_seat, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :pnr %>
    <%= f.text_field :pnr, class: 'custom-form-control form-control' %>
  </div>  
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :price %>
    <%= f.number_field :price, class: 'custom-form-control form-control' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :tax %>
    <%= f.number_field :tax, class: 'custom-form-control form-control' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :fee %>
    <%= f.number_field :fee, class: 'custom-form-control form-control' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :bag_seat_fee %>
    <%= f.number_field :bag_seat_fee, class: 'custom-form-control form-control' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :remark %>
    <%= f.text_area :remark, class: 'form-control', rows: "4" %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :flight_receipts %>
    <%= f.fields_for :flight_receipts do |flight_receipt| %>
      <%= render 'flight_receipt_fields', f: flight_receipt %>
    <% end %>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to_add_association 'Add Receipt', f, :flight_receipts %>
    </div>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Flight Seat", f %>
  </div>
</div>