<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :day %>
    <%= number_field_tag :day, "0", class: 'day custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :reminder_date %>
    <%= f.date_field :reminder_date, class: 'reminder_date custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "5", class: 'form-control' %>
  </div>
  <%= link_to_remove_association "Remove Reminder", f %>
</div>