<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-fw"></i>Flight Inventory
<% end %>

<%= render 'shared/single_panel', card_title: 'Flight Inventory List' do %>
  <%= link_to('New Inventory', new_admin_flight_inventory_path, class: 'btn btn-primary')%><br>
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Flight Detail</th>
            <th>Purchase At</th>
            <th>Materialized Rate</th>
            <th>Airline Name</th>
            <th>Departure Time</th>
            <th>Total Flight Seat</th>
          </tr>
        </thead>
        <tbody>
          <% @flight_inventory.each_with_index do |flight_inventory, i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= link_to flight_inventory.title, admin_flight_inventory_path(flight_inventory) %></td>
              <td><%= flight_inventory.purchased_at.try(:strftime, "%d/%m/%Y") %></td>
              <td><%= flight_inventory.materialized_rate %></td>
              <td><%= flight_inventory.flight_details.first.airline_iata %></td>
              <td><%= flight_inventory.flight_details.first.departure.try(:strftime, "%d/%m/%Y %H:%M") %></td>
              <td><%= flight_inventory.flight_seats.first.total_seat %></td>
              <td class="text-uppercase">
                <%= flight_inventory.flight_details.map{ |flight_detail| "#{flight_detail.origin}-#{flight_detail.destination}" }.join("<br>").html_safe %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <%= paginate @flight_inventory if @flight_inventory.present? %>
<% end %>