<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-fw"></i>Flight Inventory
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Flight Inventory' do %>
  <%= form_for [:admin, @flight_inventory], html: { role: "form", class: "reminder-departure-form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @flight_inventory } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :purchased_at %>
        <%= f.date_field :purchased_at, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :purchased_by %>
        <%= f.text_field :purchased_by, class: 'custom-form-control form-control' %>
      </div>
      <div class='custom-form-group form-group col-sm-6'>
        <%= f.label :materialized_rate %>
        <%= f.number_field :materialized_rate, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :remark %>
        <%= f.text_area :remark, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :flight_details %>
        <%= f.fields_for :flight_details do |flight_detail| %>
          <%= render 'flight_detail_fields', f: flight_detail %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Flight Details', f, :flight_details %>
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :flight_seats %>
        <%= f.fields_for :flight_seats do |flight_seat| %>
          <%= render 'flight_seat_fields', f: flight_seat %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Flight Seat', f, :flight_seats %>
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :reminders %>
        <%= f.fields_for :reminders do |reminder| %>
          <%= render 'reminder_fields', f: reminder %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Reminder', f, :reminders %>
        </div>
      </div>
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_flight_inventories_path(@flight_inventory), class: 'btn' %>
  <% end %>
<% end %>