<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-fw"></i>Flight Inventory
<% end %>

<%= render 'shared/single_panel', card_title: 'Flight Inventory Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :title %>
      <%= text_field_tag '', @flight_inventory.title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :purchased_at %>
      <%= text_field_tag '', @flight_inventory.purchased_at.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :purchased_by %>
      <%= text_field_tag '', @flight_inventory.purchased_by, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :materialized_rate %>
      <%= text_field_tag '', @flight_inventory.materialized_rate, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :remark %>
      <%= text_area_tag '', @flight_inventory.remark, class: 'form-control', row: '3', disabled: true %>
    </div>
  </div>
  <div class="row">
    <% @flight_inventory.flight_details.each_with_index do |flight_detail, i| %>
      <%= label_tag '', "Flight Detail #{i+1}", class: "col-sm-12" %>
      <div class="custom-form-group form-group col-sm-12">
        <div class="nested-fields">
          <div class="field custom-form-group form-group col-sm-1">
            <%= label_tag :airline %>
            <%= text_field_tag '', flight_detail.airline_iata, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-1">
            <%= label_tag :flight_no %>
            <%= text_field_tag '', flight_detail.flight_no, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :departure %>
            <%= text_field_tag '', flight_detail.departure.try(:strftime, "%d/%m/%Y %R %a"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :arrival %>
            <%= text_field_tag '', flight_detail.arrival.try(:strftime, "%d/%m/%Y %R %a"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-2">
            <%= label_tag :origin %>
            <%= text_field_tag '', flight_detail.origin, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-2">
            <%= label_tag :destination %>
            <%= text_field_tag '', flight_detail.destination, class: 'custom-form-control form-control', disabled: true %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @flight_inventory.flight_seats.each_with_index do |flight_seat, i| %>
      <%= label_tag '', "Flight Seat #{i+1}", class: "col-sm-12" %>
        <div class="field custom-form-group form-group col-sm-6">
          <%= label_tag :total_seat %>
          <%= text_field_tag '', flight_seat.total_seat, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-6">
          <%= label_tag :pnr %>
          <%= text_field_tag '', flight_seat.pnr, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-6">
          <%= label_tag :price %>
          <%= text_field_tag '', flight_seat.price, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-6">
          <%= label_tag :tax %>
          <%= text_field_tag '', flight_seat.tax, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-6">
          <%= label_tag :fee %>
          <%= text_field_tag '', flight_seat.fee, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-6">
          <%= label_tag :bag_seat_fee %>
          <%= text_field_tag '', flight_seat.bag_seat_fee, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-12">
          <%= label_tag :remark %>
          <%= text_area_tag '', flight_seat.remark, class: 'form-control', rows: "3",disabled: true %>
        </div>
        <div class="field custom-form-group form-group col-sm-12">
          <% flight_seat.flight_receipts.each_with_index do |flight_receipt, i| %>
            <%= label_tag '', "Flight Receipt #{i+1}", class: "col-sm-12" %>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :number %>
              <%= text_field_tag '', flight_receipt.number, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :amount %>
              <%= text_field_tag '', flight_receipt.amount, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-12">
              <%= label_tag :remark %>
              <%= text_area_tag '', flight_receipt.remark, class: 'form-control', rows: "3",disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :paid_at %>
              <%= text_field_tag '', flight_receipt.paid_at.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :reminders %>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Title</th>
              <th>Reminder Date</th>
              <th>Email</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @flight_inventory.reminders.order(:reminder_date).each do |reminder| %>
              <tr>
                <td><%= reminder.title %></td>
                <td><%= reminder.reminder_date.try(:strftime, "%d/%m/%Y") %></td>
                <td><%= reminder.email %></td>
                <td><%= reminder.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <%= link_to 'Edit', edit_admin_flight_inventory_path(@flight_inventory), class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>