<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  
  <% if params[:brand] == 'fs' %>
    <%= image_tag 'fs_logo.png', class: 'brand-logo' %></i>Four Seasons
  <% elsif params[:brand] == 'cruise' %>
    <%= image_tag 'cruise_logo.png', class: 'brand-logo' %></i>Cruises
  <% elsif params[:brand] == 'premium' %>
    <%= image_tag 'premium_logo.png', class: 'brand-logo' %></i>Premium
  <% elsif params[:brand] == 'gtrip' %>
    <%= image_tag 'gtrip_logo.png', class: 'brand-logo' %></i>G-trip
  <% else %>
    <%= image_tag 'gd_logo.png', class: 'brand-logo' %></i>Series
  <% end %>
<% end %>

<%= render 'shared/single_panel', card_title: 'View Tours' do %>
  <div class="row">
    <div class="col-md-7 col-sm-5">
      <div class="form-group">
        <%= link_to(@today.next_month.strftime("%b %Y"), tours_path(brand: params[:brand], begin: @today.next_month.beginning_of_month.strftime("%F"), end: @today.next_month.end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month(2).strftime("%b %Y"), tours_path(brand: params[:brand], begin: @today.next_month(2).beginning_of_month.strftime("%F"), end: @today.next_month(2).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month(3).strftime("%b %Y"), tours_path(brand: params[:brand], begin: @today.next_month(3).beginning_of_month.strftime("%F"), end: @today.next_month(3).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month(4).strftime("%b %Y"), tours_path(brand: params[:brand], begin: @today.next_month(4).beginning_of_month.strftime("%F"), end: @today.next_month(4).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month(5).strftime("%b %Y"), tours_path(brand: params[:brand], begin: @today.next_month(5).beginning_of_month.strftime("%F"), end: @today.next_month(5).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month(6).strftime("%b %Y"), tours_path(brand: params[:brand], begin: @today.next_month(6).beginning_of_month.strftime("%F"), end: @today.next_month(6).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to("All", tours_path(brand: params[:brand]), class: 'btn btn-default')%>
      </div>
      <%= form_tag tours_path, method: 'get' do %>
        <div class="form-group">
          From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %><br>
        </div>
        <div class="form-group">
          <%= text_field_tag :keywords, params[:keywords] %>
          <%= text_field_tag :contient_country, params[:contient_country], placeholder: 'Country' %>
          <%= hidden_field_tag :bookable, 'false' %>
          <%= hidden_field_tag :cruise, @cruise_only %>
          <%= hidden_field_tag :brand, params[:brand] %>
          <%= check_box_tag :bookable, 'true', params[:bookable].blank? ||params[:bookable] == 'true'  %> Bookable
          <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-5">
      <table class="table table-touragent table-condensed">
        <thead style="background-color: #B71C1C;">
          <tr>
            <th>Icon</th>
            <th>Title</th>
            <th style="border-left: 1px solid grey;">Icon</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>EB</td>
            <td>Early Bird</td>
            <td style="border-left: 1px solid grey;">G</td>
            <td>Guarantee</td>
          </tr>
          <tr>
            <td>SD</td>
            <td>Special Deal</td>
            <td style="border-left: 1px solid grey;">P</td>
            <td>Promo</td>
          </tr>
          <tr>
            <td>SO</td>
            <td>Special Offer</td>
            <td style="border-left: 1px solid grey;">L</td>
            <td>Limited Seats</td>
          </tr>
          <tr>
            <td>SP</td>
            <td>Super Promo</td>
            <td style="border-left: 1px solid grey;">New</td>
            <td>New</td>
          </tr>
          <tr>
            <td>GA</td>
            <td>Ground</td>
            <td style="border-left: 1px solid grey;">Sold Out</td>
            <td>Sold Out</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="departure">Departure</th>
          <th class="code">Code</th>
          <th class="caption">Caption</th>
          <th class="highlight">Highlight</th>
          <th>Category</th>
          <th>Price</th>
          <th>Offer</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*Tour::TOURS_PER_PAGE+1 : 1 %>
        <% now = Time.now %>
        <% @tours.each_with_index do |tour, index| %>
          <tr>
            <td class="number"><%= index + start_seq %></td>
            <td class="departure"><%= tour.departure_date.strftime("%d/%m/%y %a") %></td>
            <td class="code"><div class="trim code"><%= link_to tour.code, tour_path(tour), target: '_blank' %></div></td>
            <td class="caption"><div class="trim caption" data-toggle="tooltip" data-placement="top" title="<%= tour.caption+' '+tour.other_caption%>"><%= tour.caption %></div></td>
            <td class="highlight"><div class="trim highlight" data-toggle="tooltip" data-placement="top" title="<%= tour.highlight %>"><%= tour.highlight %></div></td>
            <td><%= tour.category_display %></td>
            <td><%= tour.cheapest_normal_price %></td>
            <td><%= render_cheapest_promo(tour.cheapest_promo(current_user)) %></td>
            <td><%= render_status_text(tour, current_user, now) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @tours %>
<% end %>