<% content_for :head do %>
  <title><%= @tour.code %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <% if @tour.brand == 'fs' %>
    <%= image_tag 'fs_logo.png', class: 'brand-logo' %></i>Four Seasons
  <% elsif @tour.brand == 'cruise' %>
    <%= image_tag 'cruise_logo.png', class: 'brand-logo' %></i>Cruises
  <% elsif @tour.brand == 'premium' %>
    <%= image_tag 'premium_logo.png', class: 'brand-logo' %></i>Premium
  <% elsif @tour.brand == 'gtrip' %>
    <%= image_tag 'gtrip_logo.png', class: 'brand-logo' %></i>G-trip
  <% else %>
    <%= image_tag 'gd_logo.png', class: 'brand-logo' %></i>Series
  <% end %>
<% end %>

<%= render 'shared/single_panel', card_title: "#{@tour.caption}<br>#{@tour.other_caption}".html_safe do %>
  <div class="row enlarge-col">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Tour Code:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.code %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Cut Off Date:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.cut_off_date.try(:strftime, "%d/%m/%Y %a") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Departure:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.departure_date.try(:strftime, "%d/%m/%Y %a") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Status:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= render_status_text(@tour, current_user) %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Prices:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= render_pricing_available(@tour, current_user) %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Single Supp:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.single_supplement_price.present? && @tour.single_supplement_price > 0 ? @tour.single_supplement_price : '' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Deposit:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @tour.deposit %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Itinerary:
      </div>
      <div class="col-xs-7 col-sm-9">
        <% if @tour.itinerary.present? && @tour.itinerary.file.present? && @tour.itinerary.cn_file.present? %>
          <%= link_to @tour.itinerary.file.url, class: 'qrcode', target: '_blank' do  %>
            EN: <%= render_qrcode(@tour.itinerary.file.url) %>
          <% end %>
          <br>
          <%= link_to @tour.itinerary.cn_file.url, class: 'qrcode', target: '_blank' do  %>
            CN: <%= render_qrcode(@tour.itinerary.cn_file.url) %>
          <% end %>
        <% elsif @tour.itinerary.present? && @tour.itinerary.file.present? %>
          <%= link_to @tour.itinerary.file.url, class: 'qrcode', target: '_blank' do  %>
            <%= render_qrcode(@tour.itinerary.file.url) %>
          <% end %>
        <% end %>
        <% if @tour.itinerary.present? && @tour.itinerary.editable_file.present? %>
          <%= link_to 'Word.doc', @tour.itinerary.editable_file.url, target: '_blank' %>
        <% end %>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-xs-12 bold">
        Remark:
      </div>
      <div class="col-xs-12">
        <%= simple_format(@tour.remark) %>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-default btn-copy-to-clipboard" data-clipboard-text="<%= @tour.summary %>">
          Copy to clipboard
        </button>
        <% if @tour.itinerary.present? && @tour.itinerary.file.present? %>
          <button class="btn btn-default btn-copy-to-clipboard" data-clipboard-text="<%= @tour.itinerary.file.url %>">
            Copy itinerary link
          </button>
        <% end %>
         <%= render_blink_insurance(@tour, current_user) %>
      </div>
    </div>
    
    <div class="row container">
      <div class="col-xs-12">
        <div class="table-responsive mt20">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>Departure</th>
                <th>Arrival</th>
                <th>From To</th>
                <th>Flight No</th>
                <th>Internal Remark</th>
              </tr>
            </thead>
            <tbody>
              <% @tour.tour_flights.order(:departure).each do |tour_flight| %>
                <tr>
                  <td><%= tour_flight.departure.try(:strftime, "%d/%m/%Y %R %a") %></td>
                  <td><%= tour_flight.arrival.try(:strftime, "%d/%m/%Y %R %a") %></td>
                  <td><%= tour_flight.from_to %></td>
                  <td><%= tour_flight.flight_no %></td>
                  <td><%= tour_flight.internal_remark %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if @tour.bookable? && policy(Booking).new? %>
      <div class="col-sm-12">
        <%= link_to 'Booking', new_tour_booking_path(@tour), class: "btn btn-primary#{@tour.vacant_seats? ? '' : ' disabled'}" %>
        <%= link_to 'Cancel', tours_path, class: 'btn' %>
      </div>
    <% end %>
  </div>
  <% if @bookings.present? %>
    <div class="col-sm-12">
      <div class="table-responsive mt20">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Grouping</th>
              <% if @tour.is_cruise? %>
                <th>Cruise Room/ID</th>
              <% end %>
              <th>Name</th>
              <th>Price</th>
              <th>Deposit</th>
              <th>Booked At</th>
              <th>Ref</th>
              <th class="number">Admin Remark</th>
              <th class="number">Remark</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= link_to booking.booking_group.code, booking_group_path(booking.booking_group) %></td>
                <% if @tour.is_cruise? %>
                  <td><%= booking.booking_cruise_room.room_type_text %>/<%= booking.booking_cruise_room.id %></td>
                <% end %>
                <td><%= booking.name %></td>
                <td><%= render_price_color(booking.price, booking.price_type_display) %></td>
                <td><%= booking.booking_group.bookings.first == booking ? booking.booking_group.deposit : '' %></td>
                <td><%= booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><%= booking.id %></td>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= booking.admin_remark %>"><%= booking.admin_remark %></div></td>
                <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= render_remark_infant_indicator(booking, true) %>"><%= render_remark_infant_indicator(booking) %></div></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>