#More{
    width: 1600px;
    margin: auto;
    padding-bottom: 50px;
    position: relative;
    /*margin-top: 100px;*/
    padding: 0px 10px;
}
#More .content_title{
    margin-top: 50px
}
#More .content_title h1{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
}
#More .content_title p{
   margin-bottom: 0
}
#More .slider { 
    width: 100%;
    margin: auto;
    padding-top: 30px;
    float: left;

  }
  
#More .slider img{ 
    width: 100%;
    object-fit: cover;

  }
#More .slick-arrow {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
    -moz-box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
    box-shadow: 0px 2px 12px 1px rgba(194,194,194,1);
  }
#More .slick-arrow:hover {
    background-color: #fff;
  }
#More .slick-arrow:focus {
    background-color: #fff;
  }

#More .slick-prev{
    z-index: 1;
}
#More .slick-prev:before, .slick-next:before{
    color: #9e9e9e;
}
#More .card_warp{
  padding-right: 15px;
}
#More  .meta_warp div:nth-child(1n){
  width: 60%;
  float: left;
}
#More  .meta_warp div:nth-child(2n){
  width: 40%;
  float: left;
  text-align: center;
}
#More .meta_warp p{
  margin-bottom: 0px;
}

#More .ant-card-body {
  padding: 0px;
}

#More .ant-card-meta-detail > div:not(:last-child){
  margin-bottom: 0px;
}

/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
  #More{
      width: 1300px;
  }
 
}

@media only screen and (max-width: 1350px) {
  #More{
      width: 1000px;
  }
  #More .ant-rate{
    font-size: 12px;
  }
  #More .ant-btn{
    font-size: 12px;
    padding: 0 10px;
  }
  #Places .ant-tabs-nav{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1050px) {
  #More{
      width: 850px;
  }
  #More .ant-rate{
    font-size: 12px;
  }
  #More .ant-btn{
    font-size: 10px;
    padding: 0 8px;
  }
  #More .ant-card-meta-detail > div:not(:last-child){
    font-size: 12px;
  }
  #More .meta_warp p {
    font-size: 10px;
}
  #More .ant-rate-star{
    margin-right: 2px;
  }
  #More .meta_warp div:nth-child(1n) {
    width: 50%;
}
#More .meta_warp div:nth-child(2n) {
  width: 50%;
  text-align: right;
}
 
}

@media only screen and (max-width: 770px) {
  #More{
    width: 700px;
}
}


@media only screen and (max-width: 720px) {
  #More{
    width: 600px;

}
  #More .content_title h1{
    font-size: 3em;
  }
  #More .slider {
    padding-top: 30px;

  }
}

@media only screen and (max-width: 625px) {
  #More{
    width: 90%;
}
 
}

@media only screen and (max-width: 520px) {
  #More{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
#More .slick-arrow {
  width: 40px;
  height: 40px;

}
#More .slick-next {
  right: -13px;
}
.slick-prev {
  left: -16px;
}
#More .content_title h1 {
  font-size: 2.5em;
}
 
}

@media only screen and (max-width: 400px) {
  #More{
    width: 90%;
    margin: auto;
    
  }
  #More .slick-arrow {
    width: 40px;
    height: 40px;

  }
  #More .slick-next {
    right: -13px;
  }
  .slick-prev {
    left: -13px;
  }
  #More .content_title h1 {
    font-size: 2em;
  }
  #More .card_warp {
    padding-right: 0px; 
  }
}