#ListingLandTour{
    background-color: #f8f8f8;
}
#ListingLandTour .warp{
    width: 1600px;
    margin: auto;
    padding: 50px 10px;
}
#ListingLandTour .ant-list-vertical .ant-list-item-meta-title{
    margin-bottom: 5px;
}

.modal_land_tour_listing .ant-modal-header{
    padding: 16px 10px;
    width: 95%;
}
.modal_land_tour_listing .modal_locate_warp{
    margin-right: 20px;
}
.modal_land_tour_listing .modal_locate_warp .location_icon{
    color: red;
    padding-right: 5px;
}
.modal_land_tour_listing .modal_locate_warp .instant_icon{
    color: #fa8c16;
    padding-right: 5px;
}
.modal_land_tour_listing .modal_locate_warp .file_icon{
    padding-right: 5px;
    color: #40a9ff;
}
.modal_land_tour_listing .ant-modal-body{
    padding: 15px 24px 24px 24px;
}
.modal_land_tour_listing .departure_style{
    margin-bottom: 5px;
    color: #000;
}
.modal_land_tour_listing .departure{
    margin-bottom: 5px;
    color: #a2a2a2;
}
/************************************** LeftPanel **************************************/
#LeftPanel{
    width: 30%;
    float: left;
    padding-right: 20px 
}
#LeftPanel .ant-card-actions{
    background: transparent;
}
#LeftPanel .ant-collapse{
    border: 0;
}
#LeftPanel .ant-collapse > .ant-collapse-item{
    background-color: #fff;
    /* border-bottom: 0; */
}
#LeftPanel .sort_result .ant-card-actions > li{
    text-align: left;
}
#LeftPanel .sort_result .ant-card-actions > li > span{
    width: 100%;
    padding: 0px 20px;
}
#LeftPanel .sort_result .ant-radio-wrapper{
    width: 50%;
    margin-right:0px;
}
#LeftPanel .sort_result .ant-radio-wrapper:nth-child(1n){
    margin-bottom: 10px;
}
#LeftPanel .filter_result{
    margin-top: 20px;
}
#LeftPanel .filter_result .title p{
    margin-bottom: 0px;
    float: left;
}
#LeftPanel .filter_result .title p:nth-child(1n){
    width: 70%;
}
#LeftPanel .filter_result .title p:nth-child(2n){
    width: 30%;
    text-align: right;
    color: #faad14;
}
#LeftPanel .filter_result .ant-card-actions > li > span{
    width: 100%;
}
#LeftPanel .filter_result .ant-card-actions > li{
    margin: 0;
}
#LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
    text-align: left;
}
#LeftPanel .filter_result .slider_value p{
    float: left;
}
#LeftPanel .filter_result .slider_value p:nth-child(1n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .filter_result .slider_value p:nth-child(2n){
    width: 10% 
}
#LeftPanel .filter_result .slider_value p:nth-child(3n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .checkbox_warp .ant-checkbox-group{
    text-align: left;
    width: 100%;
}
#LeftPanel .checkbox_warp .ant-checkbox-group-item {
    width: 100%;
    margin-bottom: 10px;
}
 .star_check .ant-checkbox-wrapper{
    width: 100%;
    margin-left: 0px;
    text-align: left;
}


#ListingLandTour .depart_style{
    scrollbar-width: thin;
}

#ListingLandTour .depart_style::-webkit-scrollbar-track{
  border-radius: 10px;
    /* background-color: #F5F5F5; */
    height: 3px;
}

#ListingLandTour .depart_style::-webkit-scrollbar{
  width: 10px;
    /* background-color: #F5F5F5; */
    height: 3px;
}
#ListingLandTour .depart_style::-webkit-scrollbar-thumb{
  border-radius: 10px;
    background-color: #cccccc8c;
    height: 3px;
}


/************************************** RightPanel **************************************/
#ListingLandTour #RightPanel .location_icon{
    padding-right: 5px;
    color: red;
}
#ListingLandTour #RightPanel .instant_icon{
    padding-right: 5px;
    color: #fa8c16;
}

#ListingLandTour #RightPanel .file_icon{
    padding-right: 5px;
    color: #40a9ff;
}
#ListingLandTour #RightPanel .title_panel{
    margin-bottom: 5px;
}
#ListingLandTour #RightPanel .view_sty{
    float: right;
}
#ListingLandTour #RightPanel .view_icon{
    color: #faad14;
    font-size: 16px;
}
#ListingLandTour #RightPanel .ant-list-item-meta-title .ellipsis_style{
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: bold;
    width: 95%!important;
    float: left;
   
}

#ListingLandTour #RightPanel .content_rate .depart_style{
    margin: 5px 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}
#ListingLandTour #RightPanel .content_rate .depart_style .ellipsis_style{
    font-size: 12px;
    color: #a2a2a2;
}

#ListingLandTour #RightPanel .content_rate .ant-rate{
    margin-bottom: 10px;
}
#ListingLandTour #RightPanel .content_rate .locate{
    margin-bottom: 10px;
}
#ListingLandTour #RightPanel .content_rate .locate .locate_warp .icon_sty{
    width: 6%;
height: 100%;
}
#ListingLandTour #RightPanel .content_rate .locate .locate_warp{
    margin-right: 15px;
}
#ListingLandTour #RightPanel .content_rate .date{
    margin-bottom: 0px;
}
#ListingLandTour #RightPanel .content_rate .date p{
    margin-bottom: 0px;
}
#ListingLandTour #RightPanel .content_rate .date p:nth-child(1){ 
    font-weight: bold;
}

#ListingLandTour .right_price{
    text-align: center;

}
#ListingLandTour .right_price .price_tag{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}
#ListingLandTour .right_price .from{
    margin-bottom: 5px
}
#ListingLandTour .right_price .tax_tag{
    /* color: #ccc; */
}

#ListingLandTour #RightPanel .ant-btn-primary {
    width: 70%;
    color: #faad14;
    border-color: #faad14;
}
#ListingLandTour #RightPanel .ant-list-lg .ant-list-item{
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #fff
}
#ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-meta{
    margin-bottom: 0px;
}
#ListingLandTour #RightPanel .ant-list-item-meta-content{
    padding: 15px 20px 0px 20px;
    min-width: 70%;
}

#ListingLandTour #RightPanel .ant-list-vertical .ant-list-item{
    align-items: center;
}
#ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-main{
    border-right: 1px solid #ccc;
    min-width: 80%;
}

#ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-extra{
    margin-left: 0px;
    min-width: 20%;
}
#ListingLandTour #RightPanel .ant-list-item-meta .img_sty{
    width: 100%;
    height: 155px;
    object-fit: cover;
}

#ListingLandTour #RightPanel .ant-list-item-meta-avatar{
    margin-right: 0px;
    min-width: 30%;
}


/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
    #ListingLandTour .warp {
        width: 1300px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta .img_sty{
        height: 145px;
    }
  
}

@media only screen and (max-width: 1350px) {
    #ListingLandTour .warp {
        width: 1000px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta .img_sty{
        height: 120px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-content {
        padding: 5px 10px 0px 10px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-avatar {
         margin-right: 5px; 
    }
   #ListingLandTour #RightPanel .ant-list-item-meta-title p {
    font-size: 1em;
    }
    #ListingLandTour #RightPanel .content_rate p{
        font-size: .9em;
        margin-bottom: 0;
    }
    #ListingLandTour .right_price .tax_tag{
        margin-bottom: 0;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-title .ellipsis_style{
        font-size: .9em;
    }
    #ListingLandTour #RightPanel .content_rate .locate .locate_warp{
        font-size: 12px;
    }
    #ListingLandTour #RightPanel .content_rate .locate{
        margin-bottom: 0px;
    }
    #ListingLandTour #RightPanel .content_rate .depart_style .ellipsis_style{
        font-size: 10px;
        line-height: 15px;
    }
    #ListingLandTour #RightPanel .content_rate .date p:nth-child(1){
        font-size: 10px;
    }
    #ListingLandTour .right_price .price_tag{
        font-size: 1em;
    }
}
@media only screen and (max-width: 1050px) {
    #ListingLandTour .warp {
        width: 850px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-content {
        padding: 5px 10px 0px 10px;
    }
   
    #ListingLandTour #RightPanel .ant-list-item-meta .img_sty{
        height: 115px;
    }
    #ListingLandTour #RightPanel  .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-title p{
        margin-bottom: 0px;

    }
    #ListingLandTour #RightPanel .ant-list-item-meta-title .ellipsis_style{
        width: 90%!important;
    }
    #ListingLandTour #RightPanel .content_rate .locate .locate_warp{
        font-size: 11px;
    }
    #ListingLandTour #RightPanel .view_icon{
        font-size: 14px;
    }

}
@media only screen and (max-width: 900px) {
    #ListingLandTour .warp {
        width: 800px;
    }
    #ListingLandTour #RightPanel .content_rate p {
        font-size: .7em;
    }
    #ListingLandTour #RightPanel .ant-rate-star{
        font-size: 15px;
    }
    #ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0;
    }
 
  
}
@media only screen and (max-width: 770px) {
    #ListingLandTour .warp {
        width: 700px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta .img_sty {
        height: 100px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-avatar img {
        width: 160px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-title p {
        font-size: .9em;
    }
    #ListingLandTour .right_price .price_tag {
        font-size: .9em;
    }
    #ListingLandTour #LeftPanel .filter_result .slider_value p:nth-child(1n) {
        font-size: 1em;
    }
    #ListingLandTour #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: 1em;
    }
    #ListingLandTour  #LeftPanel .ant-card-meta-title {
        font-size: 1em;
    }
    #ListingLandTour #LeftPanel .filter_result .title p:nth-child(1n){
        width: 70%!important;
    }
    #ListingLandTour  #LeftPanel .filter_result .title p:nth-child(2n){
        width: 30%!important;
        text-align: right!important;
    }
    #ListingLandTour #RightPanel .content_rate .locate{
        margin-top: 0px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-content {
        padding: 1px 10px 0px 10px;
    }
    #ListingLandTour #RightPanel .content_rate .date p:nth-child(1){
        margin-top: -4px;
    }
}
@media only screen and (max-width: 720px) {
    #ListingLandTour .warp {
        width: 90%;
        padding: 50px 0px;
    }
    #ListingLandTour #LeftPanel{
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0px;
    }
    #ListingLandTour #RightPanel {
        width: 100%;
    }

    #ListingLandTour #RightPanel .ant-list-item-meta-avatar img {
        width: 135px;
    }
    #ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-extra {
        margin-left: 0px;
        width: 100%;
    }
    #ListingLandTour #RightPanel .content_rate p {
        font-size: .9em;
    }
    #RightPanel .ant-btn-primary {
        font-size: .7em;
        height: 20px;
        margin-top: 5px;
    }


    #ListingLandTour #RightPanel .location_icon {
        padding-right: 5px;
    }
    #ListingLandTour #RightPanel .instant_icon {
        padding-right: 5px;
    }
    #ListingLandTour #RightPanel .ant-rate-star {
        font-size: 16px;
        margin-right: 4px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-avatar {
        width: 100%;
    }
    #ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-main {
        width: 100%;
        border-right: 0px
    }

    #ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-meta {
        display: block;
    }
    #ListingLandTour #RightPanel .ant-list-vertical .ant-list-item{
        flex-wrap: wrap;
    }

    #ListingLandTour #RightPanel .ant-list-item-meta .img_sty {
        height: auto;
    }
    #ListingLandTour .right_price .price_tag {
        font-size: 1.2em;
        float: left;
        margin-right: 10px;
    }
    #ListingLandTour .right_price .tax_tag {
        float: left;
        font-size: .9em;
        padding-top: 2px;
    }
    #ListingLandTour #RightPanel .select_btn {
        width: 30%;
        margin-left: auto;
        text-align: right;
    }
    #ListingLandTour #RightPanel .ant-btn-primary {
        font-size: .8em;
        height: 25px;
        margin-top: 0px;
    }

    #ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-extra {
        width: 100%;
        background: #f1f1f1;
        
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-title p {
        font-size: 1em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #ListingLandTour #RightPanel .ant-list-item-meta-content {
        width: 100%;
    }
    #ListingLandTour .right_price {
        width: 100%;
        padding: 15px 10px;
    }
    #ListingLandTour #RightPanel .content_rate .depart_style .ellipsis_style{
        font-size: 11px;
    }
    #ListingLandTour #RightPanel .content_rate .locate{
        margin-bottom: 10px;
    }
    #ListingLandTour #RightPanel .content_rate .date p:nth-child(1){
        font-size: 12px;
    }
    #ListingLandTour #RightPanel .content_rate .locate .locate_warp{
        font-size: 12px;
    }
    #ListingLandTour #RightPanel .view_icon{
        font-size: 16px;
    }
    #ListingLandTour .right_price .from{
        margin-right: 10px;
        float: left;
    }
}

@media screen and (max-width: 576px){
    #ListingLandTour #RightPanel .ant-list-vertical .ant-list-item-extra {
        margin: 0;
    }
    #ListingLandTour #RightPanel .ant-btn-primary {
        width: 90%;
    }
}


