<div class="nested-fields">
  <div class="col-md-12">
    <div class="field custom-form-group form-group col-sm-3 <%= f.object.image.present? ? 'col-md-12' : 'col-md-3' %>">
      <% if f.object.image.present? %>
        <%= image_tag f.object.image, class: "hotel-img" %>
      <% else %>
        <%= f.label 'Image', class: 'required' %>
        <%= f.file_field :image, class: 'form-control', required: true %>
      <% end %>
      <%= link_to_remove_association "Remove Image", f, class: "btn btn-danger" %>
      <hr>
    </div>
  </div>
</div>