<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotels
<% end %>

<%= render 'shared/single_panel', card_title: 'Hotel List' do %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_hotels_path, method: 'get' do %>
        <div class="col-xs-12 col-md-3">
          <%= text_field_tag :hotel_keyword, params[:hotel_keyword], placeholder: 'Hotel Name', class: 'form-control' %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= text_field_tag :city_name, params[:city_name], placeholder: 'City', class: 'form-control travelprologue-city-autocomplete' %>
          <%= hidden_field_tag :city_keyword, '', id: 'tp_city_name' %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <%= link_to('New Hotel', new_admin_hotel_path, class: 'btn btn-primary') %>
    <% if @general_mark_up.present? %>
      <%= link_to('Edit General Markup', edit_admin_hotel_path(@general_mark_up), class: 'btn btn-default') %>
    <% end %>
  </div>

  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Hotel</th>
            <th>City</th>
            <th>Hotel Source</th>
            <th>Markup Category</th>
            <th>Markup</th>
          </tr>
        </thead>
        <tbody>
          <% @hotels.each do |hotel| %>
            <% if hotel.tp_hotel_id.present? %>
              <tr>
                <td><%= link_to hotel.hotel_name, admin_hotel_path(hotel) %></td>
                <td><%= hotel.city_name %></td>
                <td><%= hotel.hotel_source.try(:titleize) %></td>
                <td><%= hotel.markup_category.try(:titleize) %></td>
                <td><%= hotel.markup %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @hotels %>
  </div>
<% end %>
