<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotels
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Hotel' do %>
  <%= form_for [:admin, @hotel], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @hotel } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :hotel_name, "Hotel" %>
        <%= f.text_field :hotel_name, class: 'custom-form-control form-control travelprologue-hotel-autocomplete', required: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :hotel_source %>
        <%= f.select :hotel_source, options_for_select(Hotel::hotel_sources.collect { |s| [s[0].titleize, s[0]] }), {include_blank: true}, {class: 'custom-form-control form-control', required: true } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :markup_category, "Markup Category" %>
        <%= f.select :markup_category, options_for_select(Hotel::markup_categories.collect { |s| [s[0].titleize, s[0]] }), {include_blank: true}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :markup %>
        <%= f.number_field :markup, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :cover, "Cover Picture" %>
        <%= f.file_field :cover, class: 'custom-form-control form-control' %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <%= f.submit "Create", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    </div>
  <% end %>
<% end %>
