<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-2">
    <%= f.label :price %>
    <% if f.object.free_of_charge? %>
      <%= text_field_tag '', "#{f.object.price} (FOC)", class: 'custom-form-control form-control', disabled: true %>
    <% else %>
      <%= f.text_field :price, class: 'custom-form-control form-control' %>
    <% end %>
  </div>
  <div class="field custom-form-group form-group col-sm-2">
    <%= f.label :category %>
    <% if f.object.free_of_charge? %>
      <%= text_field_tag '', "#{f.object.category.humanize}", class: 'custom-form-control form-control', disabled: true %>
    <% else %>
      <%= f.select :category, options_for_select(LandTourBooking::CATEGORY.collect { |s| [s.to_s.humanize, s] }, selected: f.object.category), {}, {class: 'custom-form-control form-control'} %>
    <% end %>
  </div>
  <div class='custom-form-group form-group col-sm-2'>
    <%= f.label :designation %>
    <%= f.select :designation, options_for_select(LandTourBooking::DESIGNATION, selected: f.object.designation), {include_blank: true}, {class: 'custom-form-control form-control'} %>
  </div>
  <div class='custom-form-group form-group col-sm-3'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, class: 'custom-form-control form-control dob', :data => {:tour_depart_date => @land_tour_booking_group.departure_date.strftime("%Y-%m-%d")} %>
  </div>
  <div class='custom-form-group form-group col-sm-2'>
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-2">
    <%= f.label :nationality %>
    <%= f.text_field :nationality, class: 'custom-form-control form-control', required: true, id: 'nationality' %>
  </div>
  <div class='custom-form-group form-group col-sm-8'>
    <%= f.label :remark, "Agent remark" %>
    <%= f.text_field :remark, class: 'custom-form-control form-control' %>
  </div>
</div>