<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tour Booking
<% end %>

<%= render 'shared/single_panel', card_title: "Edit Ground Tour Booking Group : #{@land_tour_booking_group.id}" do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Departure Date</th>
          <th>Code</th>
          <th>Title</th>
          <th>Category</th>
          <th>Highlight</th>
          <th>Inclusion</th>
          <th>Deposit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @land_tour_booking_group.departure_date.strftime("%d/%m/%Y %a") %></td>
          <td><%= link_to @land_tour.code, admin_land_tour_path(@land_tour) %></td>
          <td><%= @land_tour.title %></td>
          <td><%= @land_tour.category.try(:humanize) %></td>
          <td><%= @land_tour.highlight %></td>
          <td><%= @land_tour.inclusion_text %></td>
          <td><%= @land_tour.deposit_type == "percentage" ? "#{@land_tour.deposit}%" : "RM#{@land_tour.deposit}" %> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= form_for [:admin, @land_tour_booking_group], html: { role: "form", class: "land-tour-booking-form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @land_tour_booking_group } %>

    <div class="row">
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :code %>
        <%= text_field_tag '', @land_tour_booking_group.code, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :price_category, "Hotel Category" %>
        <%= text_field_tag '', @land_tour_booking_group.land_tour_category.name, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <% if @land_tour_booking_group.full_payment? %>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :total_price, "Total Paid" %>
          <%= text_field_tag '', @land_tour_booking_group.total_price, class: 'custom-form-control form-control', disabled: true %>
        </div>
      <% else %>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :deposit %>
          <%= text_field_tag '', @land_tour_booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :remaining_balance %>
          <%= text_field_tag '', @land_tour_booking_group.total_price - @land_tour_booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
        </div>
      <% end %>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :rooms %>
        <%= f.text_field :rooms, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :language, "Tour Guide" %>
        <%= f.select :language, options_for_select(@land_tour_booking_group.land_tour.guide_languages.collect { |s| [s, s] }, selected: f.object.language), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :signboard_text, "Welcome Signboard" %>
        <%= f.text_field :signboard_text, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :hotel_name %>
        <%= f.text_field :hotel_name, class: 'custom-form-control form-control' %>      
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag :special_request, "Remark" %>
        <%= f.text_field :special_request, value: @land_tour_booking_group.join_special_request, class: 'custom-form-control-tagsinput custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
      </div>

      <%= label_tag '', "Flight Details", class: "col-sm-12 booking-group-label" %>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag :flight_departure_details, "Departure" %>
        <%= text_field_tag '', @land_tour_booking_group.flight_departure_details, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag :flight_return_details, "Return" %>
        <%= text_field_tag '', @land_tour_booking_group.flight_return_details, class: 'custom-form-control form-control' %>
      </div>

      <% i = 0 %>
      <%= f.fields_for :land_tour_bookings, @land_tour_booking_group.land_tour_bookings.visible do |booking| %>
        <% i = i + 1 %>
          <%= f.label "Guest #{i}, Ref: #{booking.object.id}", class: "col-sm-12 booking-group-label" %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'admin_land_tour_booking_fields', f: booking %>
          </div>
      <% end %>
    </div>

    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
