<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tour Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'Ground Tour Booking List' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= link_to('Today', activity_booking_groups_path(begin: @today.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Yesterday', activity_booking_groups_path(begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Week', activity_booking_groups_path(begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week', activity_booking_groups_path(begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week To Now', activity_booking_groups_path(begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Month', activity_booking_groups_path(begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month', activity_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month To Now', activity_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Year', activity_booking_groups_path(begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year', activity_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year To Now', activity_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
    </div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_land_tour_booking_groups_path, method: 'get' do %>
        <div class="row">
          <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
            <%= label_tag  :Booked_By %>
            <%= date_field_tag :begin, params[:begin], class: 'custom-form-control form-control' %>
          </div>
          <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
            <%= label_tag  :to %>
            <%= date_field_tag :end, params[:end], class: 'custom-form-control form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
            <%= label_tag :Departure_Date %>
            <%= date_field_tag :begin_departure_date, params[:begin_departure_date],class: 'custom-form-control form-control' %> 
          </div>
          <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
            <%= label_tag :to%>
            <%= date_field_tag :end_departure_date, params[:end_departure_date],class: 'custom-form-control form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
            <%= text_field_tag :booked_by, params[:booked_by], placeholder: 'Booked By', class: ' custom-form-control form-control' %>
          </div>
        </div>
        <div class="form-group custom-form-group col-xs-12">
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Grouping</th>
            <th>Name</th>
            <th>Tour Code</th>
            <th>Pax</th>
            <th>Price</th>
            <th>Amount Paid</th>
            <th>Balance</th>
            <th>Departure Date</th>
            <th class="code">Booked By</th>
            <th>Booked At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% total_pax = 0 %>
          <% @land_tour_booking_groups.each_with_index do |group, i| %>
            <tr >
              <td><%= link_to group.code, admin_land_tour_booking_group_path(group) %></td>
              <% if group.land_tour_bookings.present? %>
                <td><%= group.land_tour_bookings.first.name %></td>
                <td><%= link_to group.land_tour.code, land_tour_path(group.land_tour) %></td>
                <td><%= group.land_tour_bookings.visible.count %></td>
                <% total_pax += group.land_tour_bookings.visible.count %>
              <% else %> 
                <td></td>
                <td></td>
                <td></td>
              <% end %> 
              <td>RM <%= group.total_price %></td>
              <% if group.full_payment? %>
                <td>RM <%= group.total_price %></td>
                <td>RM 0.0</td>
              <% else %> 
                <td>RM <%= group.deposit %></td>
                <td>RM <%= group.total_price - group.deposit %></td>
              <% end %> 
              <td><%= group.departure_date.strftime("%d/%m/%Y %a") %></td>
              <td>
                <%= group.land_tour_bookings.present? ? group.land_tour_bookings.first.booked_by : '' %>
              </td>
              <td><%= group.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= group.booking_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @land_tour_booking_groups.present? && total_pax > 0 %>
    <p>Total Pax: <%= total_pax %></p>
  <% end %>
  <br>
  <%= paginate @land_tour_booking_groups if @land_tour_booking_groups.present? %>
<% end %>