<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tour Booking
<% end %>

<%= render 'shared/single_panel', card_title: "Withdraw Ground Tour Booking Group : ##{@land_tour_booking_group.code}" do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Departure Date</th>
          <th>Code</th>
          <th>Title</th>
          <th>Category</th>
          <th>Highlight</th>
          <th>Inclusion</th>
          <th>Deposit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @land_tour_booking_group.departure_date.strftime("%d/%m/%Y %a") %></td>
          <td><%= link_to @land_tour.code, admin_land_tour_path(@land_tour) %></td>
          <td><%= @land_tour.title %></td>
          <td><%= @land_tour.category.try(:humanize) %></td>
          <td><%= @land_tour.highlight %></td>
          <td><%= @land_tour.inclusion_text %></td>
          <td><%= @land_tour.deposit_type == "percentage" ? "#{@land_tour.deposit}%" : "RM#{@land_tour.deposit}" %> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :code %>
      <%= text_field_tag '', @land_tour_booking_group.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :price_category, "Hotel Category" %>
      <%= text_field_tag '', @land_tour_booking_group.land_tour_category.name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <% if @land_tour_booking_group.full_payment? %>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :total_price, "Total Paid" %>
        <%= text_field_tag '', @land_tour_booking_group.total_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% else %>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :deposit %>
        <%= text_field_tag '', @land_tour_booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :remaining_balance %>
        <%= text_field_tag '', @land_tour_booking_group.total_price - @land_tour_booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% end %>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :rooms %>
      <%= text_field_tag '', @land_tour_booking_group.rooms_text, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :language, "Tour Guide" %>
      <%= text_field_tag '', @land_tour_booking_group.language, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :signboard_text, "Welcome Signboard" %>
      <%= text_field_tag '', @land_tour_booking_group.signboard_text, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :hotel_name %>
      <%= text_field_tag '', @land_tour_booking_group.hotel_name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :special_request, "Remark" %>
      <%= text_field_tag '', @land_tour_booking_group.join_special_request, value: @land_tour_booking_group.join_special_request,  class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th><%= check_box_tag '', '',false, class: 'checkbox-select-all' %></th>
              <th>Grouping</th>
              <th>Name</th>
              <th>Price</th>
              <th>Booked by</th>
              <th>Remark</th>
              <th>Booked at</th>
              <th>Ref</th>
            </tr>
          </thead>
          <tbody>
            <% @land_tour_booking_group.land_tour_bookings.visible.each do |booking| %>
              <tr>
                <td><%= check_box_tag 'booking', booking.id, false, class: 'check-checkbox' %></td>
                <td><%= link_to booking.land_tour_booking_group.code, admin_land_tour_booking_group_path(booking.land_tour_booking_group) %></td>
                <td><%= booking.name %></td>
                <td><%= booking.price %></td>
                <td><%= booking.booked_by %></td>
                <td><%= booking.remark %></td>
                <td><%= booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><%= booking.id %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>

    <%= form_for [:admin, @land_tour_booking_group], url: create_withdraw_admin_land_tour_booking_group_path(@land_tour_booking_group), method: :post, html: { role: "form", id: "ground_booking_withdraw" } do |f| %>
      <%= render partial: 'partials/errors', locals: { target: @land_tour_booking_group } %>
      <div class="custom-form-group form-group col-sm-12 mt20">
        <%= hidden_field_tag :booking_ids, '', class: 'tour_id' %>
        <%= f.submit "Withdraw", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    <% end %>
<% end %>
