<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tour Booking
<% end %>

<%= render 'shared/single_panel', card_title: 'Ground Tour Booking Details' do %>
  <%= render partial: 'partials/errors', locals: { target: @land_tour_booking_group } %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Code</th>
          <th>Title</th>
          <th>Category</th>
          <th>Highlight</th>
          <th>Inclusion</th>
          <th>Deposit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @land_tour_booking_group.departure_date.strftime("%d/%m/%Y %a") %></td>
          <td><%= link_to @land_tour.code, admin_land_tour_path(@land_tour) %></td>
          <td><%= @land_tour.title %></td>
          <td><%= @land_tour.category.try(:humanize) %></td>
          <td><%= @land_tour.highlight %></td>
          <td><%= @land_tour.inclusion_text %></td>
          <td><%= @land_tour.deposit_type == "percentage" ? "#{@land_tour.deposit}%" : "RM#{@land_tour.deposit}" %> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :code %>
      <%= text_field_tag '', @land_tour_booking_group.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :price_category, "Hotel Category" %>
      <%= text_field_tag '', @land_tour_booking_group.land_tour_category.name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <% if @land_tour_booking_group.full_payment? %>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :total_price, "Total Paid" %>
        <%= text_field_tag '', @land_tour_booking_group.total_price, class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% else %>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :deposit %>
        <%= text_field_tag '', @land_tour_booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :remaining_balance %>
        <%= text_field_tag '', @land_tour_booking_group.total_price - @land_tour_booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
      </div>
    <% end %>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :rooms %>
      <%= text_field_tag '', @land_tour_booking_group.rooms_text, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :language, "Tour Guide" %>
      <%= text_field_tag '', @land_tour_booking_group.language, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :signboard_text, "Welcome Signboard" %>
      <%= text_field_tag '', @land_tour_booking_group.signboard_text, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :hotel_name %>
      <%= text_field_tag '', @land_tour_booking_group.hotel_name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :special_request, "Remark" %>
      <%= text_field_tag '', @land_tour_booking_group.join_special_request, value: @land_tour_booking_group.join_special_request,  class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>

    <%= label_tag '', "Flight Details", class: "col-sm-12 booking-group-label" %>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :flight_departure_details, "Departure" %>
      <%= text_field_tag '', @land_tour_booking_group.flight_departure_details, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :flight_return_details, "Return" %>
      <%= text_field_tag '', @land_tour_booking_group.flight_return_details, class: 'custom-form-control form-control', disabled: true %>
    </div>

    <% @land_tour_booking_group.land_tour_bookings.visible.each_with_index do |booking, i| %>
      <%= label_tag '', "Guest #{i+1}, Ref: #{booking.id}", class: "col-sm-12 booking-group-label" %>
      <div class="custom-form-group form-group col-sm-12 booking-group-form">
        <div class="nested-fields">
          <div class="field custom-form-group form-group col-sm-2">
            <%= label_tag :price %>
            <%= text_field_tag '', booking.free_of_charge? ? "#{booking.price} (FOC)" : booking.price, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-2">
            <%= label_tag :category %>
            <%= text_field_tag '', booking.category.humanize, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-2">
            <%= label_tag :designation %>
            <%= text_field_tag '', booking.designation, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :name, "Full name" %>
            <%= text_field_tag '', booking.name, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :date_of_birth %>
            <%= text_field_tag '', booking.date_of_birth.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :mobile %>
            <%= text_field_tag '', booking.mobile, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :nationality %>
            <%= text_field_tag '', booking.nationality, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :agent_remark %>
            <%= text_field_tag '', booking.remark, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :last_editor_by %>
            <%= text_field_tag '', booking.last_edited_user.present? ? booking.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :last_editor_at %>
            <%= text_field_tag '', booking.last_edited_at.present? ? booking.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_admin_land_tour_booking_group_path(@land_tour_booking_group), class: 'btn btn-primary' %>
  <% if @land_tour_booking_group.land_tour_bookings.present? && !@land_tour_booking_group.land_tour_bookings.map(&:withdrawn?).all? %>
      <%= link_to 'Withdraw', new_withdraw_admin_land_tour_booking_group_path(@land_tour_booking_group), class: 'btn btn-danger' %>
  <% end %>
  <% if @land_tour_booking_group.hotel_name.present? %>
    <%= link_to 'Resend Confirmation', resend_confirmation_admin_land_tour_booking_group_path(@land_tour_booking_group), class: 'btn btn-success' %>
  <% end %>
  <% if @land_tour_booking_group.departure_date <= Date.today + 7.days %>
    <%= link_to 'Voucher', voucher_admin_land_tour_booking_group_path(@land_tour_booking_group), class: 'btn btn-warning' %>
  <% end %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
