<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tour Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'Ground Tour Booking List' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= link_to('Today', activity_booking_groups_path(begin: @today.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Yesterday', activity_booking_groups_path(begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Week', activity_booking_groups_path(begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week', activity_booking_groups_path(begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week To Now', activity_booking_groups_path(begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Month', activity_booking_groups_path(begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month', activity_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month To Now', activity_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Year', activity_booking_groups_path(begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year', activity_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year To Now', activity_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
    </div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag land_tour_booking_groups_path, method: 'get' do %>
        <div class="form-group">
          Booked By : From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        </div>

        <div class="form-group">
          Departure Date : From <%= date_field_tag :begin_departure_date, params[:begin_departure_date] %> To <%= date_field_tag :end_departure_date, params[:end_departure_date] %>
        </div>
        <div class="form-group">
          <%= text_field_tag :name, params[:name], placeholder: 'Name' %>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-12">
    <% if @booking_datas.present? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-3 mt20">
            <table class="table table-bordered table-condensed">
              <tr>
                <th>Total Pax </td>
                <td><%= number_with_delimiter @booking_datas[:count] %></td>
              </tr>
              <tr>
                <th>Total Amount</td>
                <td><%= number_with_delimiter @booking_datas[:sum_price] %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <div class="table-responsive mt20">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Grouping</th>
            <th>Name</th>
            <th>Tour Code</th>
            <th>Price</th>
            <th>Pax</th>
            <th>Deposit</th>
            <th>Departure Date</th>
            <th>Booked At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @land_tour_booking_groups.each_with_index do |group, i| %>
            <tr >
              <td><%= link_to group.code, land_tour_booking_group_path(group) %></td>
              <td><%= group.land_tour_bookings.first.name %></td>
              <td><%= link_to group.land_tour.code, land_tour_path(group.land_tour) %></td>
              <td><%= group.land_tour_bookings.visible.map(&:price).inject(&:+).to_f %></td>
              <td><%= group.land_tour_bookings.visible.count %></td>
              <td><%= group.deposit %></td>
              <td><%= group.departure_date.strftime("%d/%m/%Y %a") %></td>
              <td><%= group.land_tour_bookings.first.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= group.booking_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <%= paginate @land_tour_booking_groups if @land_tour_booking_groups.present? %>
<% end %>