<% content_for :head do %>
  <title><%= @land_tour_booking_group.reference_id %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="invoice">
      <div class="col-md-12">
        <%= render_invoice_header %>
        <div class="form-group text-center"><h4>INVOICE</h4></div>
        <table class="table_left" width="70%">
          <tbody>
            <tr valign="top">
              <td width="10px">TO : </td>
              <td class="break-word-300">
                <%= @land_tour_booking_group.agent_user.full_name.present? ? @land_tour_booking_group.agent_user.full_name : '' %><br>
                <%= @land_tour_booking_group.agent_user.address.present? ? @land_tour_booking_group.agent_user.address : '' %><br>
                <%= "#{@land_tour_booking_group.agent_user.city} #{@land_tour_booking_group.agent_user.state} #{@land_tour_booking_group.agent_user.postal} #{@land_tour_booking_group.agent_user.country}" %>
              </td>
            </tr>
            <tr>
              <td>TEL : </td>
              <td><%= @land_tour_booking_group.agent_user.phones.present? ? @land_tour_booking_group.agent_user.phones.first : '' %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                FAX : <%= @land_tour_booking_group.agent_user.faxes.present? ? @land_tour_booking_group.agent_user.faxes.first : '' %>
              </td>
            </tr>
            </tr>
              <td width="10px">ATTN : </td>
              <td><%= @land_tour_booking_group.agent_user.username.upcase %></td>
            <tr>
          </tbody>
        </table>
        <table class="table_right" width="29%">
          <tbody>
            <tr>
              <td>INVOICE NO</td>
              <td>:</td>
              <td><%= @land_tour_booking_group.etravel_invoices.last.present? ? @land_tour_booking_group.etravel_invoices.last.invoice_no : '' %></td>
            </tr>
            <tr>
              <td>ACCT NO</td>
              <td>:</td>
              <td><%= @land_tour_booking_group.agent_user.code.present? ? @land_tour_booking_group.agent_user.code : '' %></td>
            </tr>
            <tr>
              <td>BOOK NO</td>
              <td>:</td>
              <td><%= @land_tour_booking_group.reference_id.present? ? @land_tour_booking_group.reference_id : '' %></td>
            </tr>
            <tr>
              <td>DATE</td>
              <td>:</td>
              <td><%= @land_tour_booking_group.etravel_invoices.last.present? ? @land_tour_booking_group.etravel_invoices.last.created_at.strftime("%d %b %Y") : '' %></td>
            </tr>
          </tbody>
        </table>
        <table width="100%">
          <thead>
            <tr class="invoice_solid_top_bottom">
              <th>PARTICULAR</th>
              <th class="text-center">QTY</th>
              <th class="text-center">PRICE</th>
              <th class="text-right">TOTAL (RM)</th>
            </tr>
          </thead>
          <tbody>
            <tr valign="top">
              <td>
                TOUR CODE : <%= @land_tour_booking_group.land_tour.code %><br/>
                DEP DATE : <%= @land_tour_booking_group.departure_date.strftime("%d-%b-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RTN DATE: <%= @land_tour_booking_group.return_date.strftime("%d-%b-%Y") %><br/>.<br/>
                <%= @land_tour_booking_group.agent_user.full_name.present? ? @land_tour_booking_group.agent_user.full_name : '' %> X <%= @land_tour_booking_group.qty_overall %><%= @land_tour_booking_group.foc_count > 0 ? " + #{@land_tour_booking_group.foc_count} FOC (ADT)" : "" %><br/>.<br/>
                <%= @land_tour_booking_group.land_tour.title %>
              </td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-right"></td>
            </tr>
            <% @land_tour_booking_group.qty_without_foc.each do |booking| %>
              <tr valign="top">
                <td>
                  <%= "#{booking[:quantity]} #{booking[:category_code]} x RM#{number_to_currency(booking[:price], precision: 2, unit: '')}" %>
                </td>
                <td class="text-center"><%= booking[:quantity] %></td>
                <td class="text-center"><%= number_to_currency(booking[:price], precision: 2, unit: '') %></td>
                <td class="text-right"><%= number_to_currency(booking[:price] * booking[:quantity], precision: 2, unit: '') %></td>
              </tr>
            <% end %>
            <tr valign="top">
              <td>
                .<br/>
                TIPPING (<%= @land_tour_booking_group.land_tour.pax_charges_text %>)<br/>
                <%= @land_tour_booking_group.qty_without_foc.map{|v| "#{v[:quantity]} #{v[:category_code]} x RM#{number_to_currency(v[:pax_charges], precision: 2, unit: '')}"}.join(' & ') %>
              </td>
              <td class="text-center"><br/><br/>1</td>
              <td class="text-center"><br/><br/><%= number_to_currency(@land_tour_booking_group.pax_charge_without_foc, precision: 2, unit: '') %></td>
              <td class="text-right"><br/><br/><%= number_to_currency(@land_tour_booking_group.pax_charge_without_foc, precision: 2, unit: '') %></td>
            </tr>
            <% if @land_tour_booking_group.group_charges > 0 %>
              <tr valign="top">
                <td>
                  .<br/>
                  <%= "GROUP TIP (#{@land_tour_booking_group.land_tour.group_charges_text})" %><br/>.<br/>
                </td>
                <td class="text-center"><br/>1</td>
                <td class="text-center"><br/><%= number_to_currency(@land_tour_booking_group.group_charges, precision: 2, unit: '') %></td>
                <td class="text-right"><br/><%= number_to_currency(@land_tour_booking_group.group_charges, precision: 2, unit: '') %></td>
              </tr>
            <% end %>
            <% deposit_info_array = [] %>
            <% if @land_tour_booking_group.land_tour.deposit_type === "fixed" %>
              <% deposit_charges = 0 %>
            <% else %>
              <% deposit_charges = (@land_tour_booking_group.group_charges.to_f * @land_tour_booking_group.land_tour.deposit.to_f / 100.0) %>
            <% end %>
            <% @land_tour_booking_group.qty_without_foc.each do |booking| %>
              <% if @land_tour_booking_group.land_tour.deposit_type === "fixed" %>
                <% deposit_price = @land_tour_booking_group.land_tour.deposit %>
              <% else %>
                <% deposit_price = booking[:price].to_f * @land_tour_booking_group.land_tour.deposit.to_f / 100.0 + (booking[:pax_charges] / booking[:quantity]) %>
              <% end %>
              <% deposit_info_array << { price: deposit_price, category: booking[:category], quantity: booking[:quantity] } %>
            <% end %>
            <tr>
              <td colspan="4">
                DEPOSIT
              </td>
            </tr>
            <% deposit_info_array.each do |d| %>
              <tr>
                <td>
                  <p class="text-left"><%= d[:quantity] %> <%= d[:category].humanize %> x -<%= number_to_currency(d[:price], precision: 2, unit: 'RM ') %></p>
                </td>
                <td class="text-center"><%= d[:quantity] %></td>
                <td class="text-center">-<%= number_to_currency(d[:price], precision: 2, unit: '') %></td>
                <td class="text-right">-<%= number_to_currency(d[:price] * d[:quantity], precision: 2, unit: '') %></td>
              </tr>
            <% end %>
            <% if deposit_charges > 0 %>
              <tr>
                <td>
                  <p class="text-left">Compulsory Charges (Per Group)</p>
                </td>
                <td class="text-center">1</td>
                <td class="text-center">-<%= number_to_currency(deposit_charges, precision: 2, unit: '') %></td>
                <td class="text-right">-<%= number_to_currency(deposit_charges, precision: 2, unit: '') %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="4"><hr></td>
            </tr>
            <% if @land_tour_booking_group.full_payment? && @etravel_invoice.payment == @land_tour_booking_group.payments.paid.last %>
              <tr>
                <td  colspan="3" class="text-right">Total Amount : </td>
                <td class="text-right invoice_column_bottom_double"><%= number_to_currency(@land_tour_booking_group.total_price - @land_tour_booking_group.payments.paid.last.previous_paid_amount, precision: 2, unit: 'RM ') %></td>
              </tr>
            <% end %>
            <tr>
              <td  colspan="3" class="text-right">Total Payment : </td>
              <td class="text-right invoice_solid_top_bottom"><%= @etravel_invoice.payment.amount.present? ? number_to_currency(@etravel_invoice.payment.amount, precision: 2, unit: '') : '' %><br></td>
            </tr>
            <% if @land_tour_booking_group.full_payment? && @etravel_invoice.payment == @land_tour_booking_group.payments.paid.last %>
              <tr>
                <td colspan="3" class="text-right">Balance : </td>
                <td class="text-right invoice_solid_bottom_double"><%= number_to_currency(@land_tour_booking_group.total_price - @land_tour_booking_group.payments.map(&:amount).inject(&:+), precision: 2, unit: '') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <hr><br>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= render_invoice_footer %>
        </div>
      </div>
    </div>
  </div>
</page>