<% content_for :head do %>
  <title><%= @land_tour_booking_group.code %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <center><%= image_tag 'gtrip-header.jpg', class: "voucher-img" %></center>
      </div>
      <div class="col-md-12">
        <center><h2><b>Final Confirmation</b></h2></center>
      </div>
      <div class="col-md-12">
        <center><table class="voucher-tour-table">
          <tbody>
            <tr>
              <th class="voucher-title-column">To</th>
              <th class="voucher-remark-col">: <strong><%= @land_tour.supplier_name %></strong></th>
              <th class="voucher-title-column"><strong>Book No.</strong></th>
              <th class="voucher-remark-col">: <%= @land_tour_booking_group.code %></th>
            </tr>
            <tr>
              <th>Person Incharge</th>
              <th>: <%= @land_tour.supplier_pic_name %></th>
              <th><strong>Issue Date</strong></th>
              <th>: <%= Date.today.strftime("%d-%b-%Y") %></th>
            </tr>
            <tr>
              <th>TEL</th>
              <th>: <%= @land_tour.supplier_pic_phone_no %></th>
              <th><strong>Issue By</strong></th>
              <th>: <%= @user.present? ? @user.full_name : "" %></th>
            </tr>
          </tbody>
        </table></center>
        <br/>
        <center><table class="voucher-guest-table">
          <tbody>
            <tr>
              <th><strong>Name of Guest(s) :</strong></th>
            </tr>
          </tbody>
        </table></center>
        <hr class="voucher-hr"/>
        <center><table class="voucher-guest-table">
          <tbody>
            <tr>
              <th><%= @land_tour_booking.designation %> <%= @land_tour_booking.name %> X <%= @land_tour_booking_group.adult_count %> ADT + <%= @land_tour_booking_group.child_count %> CHD</th>
            </tr>
          </tbody>
        </table></center>
        <hr class="voucher-hr"/>
        <center><table class="voucher-guest-table">
          <tbody>
            <tr>
              <th class="voucher-depart-col"><strong>TOUR PROGRAM</strong></th>
              <th colspan="3">: <strong><%= @land_tour_booking_group.land_tour.title %> - <%= @land_tour_booking_group.land_tour.category.humanize.upcase %></strong></th>
            </tr>
            <tr>
              <th class="voucher-depart-col">DEPART DATE</th>
              <th class="voucher-depart-col">: <%= @land_tour_booking_group.departure_date.strftime("%d-%b-%Y") %></th>
              <th>TOUR CODE</th>
              <th>: <%= @land_tour_booking_group.land_tour.code %>-<%= @land_tour_booking_group.departure_date.strftime("%y%m%d") %></th>
            </tr>
            <tr>
              <th>RETURN DATE</th>
              <th>: <%= @land_tour_booking_group.return_date.strftime("%d-%b-%Y") %></th>
              <th>ROOM TYPE</th>
              <th>: <%= @land_tour_booking_group.rooms %></th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th>NUMBER OF MEALS</th>
              <th>: <%= @land_tour_booking_group.meal_summary %></th>
            </tr>
            <tr>
              <th class="voucher-depart-col">ARRIVAL FLIGHT</th>
              <th colspan="3">: <%= @land_tour_booking_group.flight_departure_details %></th>
            </tr>
            <tr>
              <th class="voucher-depart-col">DEPARTURE FLIGHT</th>
              <th colspan="3">: <%= @land_tour_booking_group.flight_return_details %></th>
            </tr>
          </tbody>
        </table></center>
      </div>
      <div class="col-md-12">
        <br/>
        <center><table class="voucher-guest-table">
          <tbody>
            <tr>
              <td><p class="voucher-table-title"><strong>In Exchange For This Voucher, Please Provide:</strong></p></td>
            </tr>
          </tbody>
        </table></center>
        <center><table class="voucher-tour-table">
          <tbody>
            <tr>
              <th class="voucher-hotel-col">HOTEL</th>
              <th>: <%= @land_tour_booking_group.hotel_name.present? ? @land_tour_booking_group.hotel_name : @land_tour_booking_group.land_tour_category.name %></th>
            </tr>
            <tr>
              <th>WELCOME SIGNBOARD</th>
              <th>: <%= @land_tour_booking_group.signboard_text %></th>
            </tr>
            <tr>
              <th>TOUR GUIDE</th>
              <th>: <%= @land_tour_booking_group.language.upcase %> SPEAKING TOUR GUIDE</th>
            </tr>
            <tr>
              <th colspan="2"><%= @land_tour_booking_group.include_tipping? ? "TIPPING INCLUDED" : "TIPPING ON ARRIVAL" %></th>
            </tr>
            <% if @land_tour_booking_group.special_request.present? %>
              <% @land_tour_booking_group.special_request.each_with_index do |request, i| %>
                <tr>
                  <th>Note <%= i+1 %></th>
                  <th>: <%= request %></th>
                </tr>
              <% end %>
            <% end %>
            <% if @land_tour.emergency_contact.present? %>
              <tr>
                <th colspan="2"><br/><strong>EMERGENCY CONTACT :</strong></th>
              </tr>
              <% @land_tour.emergency_contact.each do |contact| %>
                <% if contact["name"].present? %>
                  <tr>
                    <th colspan="2"><%= contact["name"] %> : <%= contact["phone_no"] %></th>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table></center>
      </div>
      <div class="col-md-12">
        <br/>
        <center><table class="voucher-guest-table">
          <tbody>
            <tr>
              <td>
                <p class="voucher-table-title"><strong>REMARKS:</strong></p>
                <ul class="voucher-ul">
                  <li class="voucher-table-title">This Voucher could not exchange for cash / non-transferable / non-endorsable and non-refundable.</li>
                  <li class="voucher-table-title">Any additional services provided to the customer other than those specified in the voucher will be at the customer’s own expense.</li>
                  <li class="voucher-table-title">Deviation at own risk and no refund of unutilized meals & tours.</li>
                  <li class="voucher-table-title">Kindly assists to contact emergency contact during the tour if there are any request or feedback so that we could serve you on the spot.</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <span class="voucher-table-title">If you require assistance, please contact our FIT/Ground Arrangement Department at: ga@ice-holidays.com.</span>
              </td>
            </tr>
          </tbody>
        </table></center>
      </div>
    </div>
  </div>
</page>