<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Hotel
<% end %>

<%= render 'shared/single_panel', card_title: 'Hotel Bookings' do %>
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Booking Ref.</th>
            <th>Booking Status</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th>Travellers</th>
            <th>Booked at</th>
          </tr>
        </thead>
        <tbody>
          <% if @hotel_booking_groups.present? %>
            <% @hotel_booking_groups.each do |hotel_booking| %>
              <tr>
                <td><%= link_to hotel_booking.booking_ref, admin_hotel_booking_group_path(hotel_booking) %></td>
                <td><%= hotel_booking.booking_status %></td>
                <td><%= hotel_booking.customer_name %></td>
                <td><%= hotel_booking.customer_email %></td>
                <td><%= number_to_currency(hotel_booking.amount, precision: 2, unit: "#{hotel_booking.currency} ") %></td>
                <td><%= hotel_booking.payment.present? ? hotel_booking.payment.gateway_text : '' %></td>
                <td><%= hotel_booking.payment.present? ? hotel_booking.payment.status.humanize : '' %></td>
                <td><%= hotel_booking.hotel_bookings.count %></td>
                <td><%= hotel_booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
