<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% if @hotel_booking_group.present? %>

  <% content_for :title do %>
    <i class="fa fa-ticket fa-fw"></i>Booking Details
  <% end %>

  <%= render 'shared/single_panel', card_title: 'Hotel Detail' do %>
    <div class="row">
      <div class="col-md-12">
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :booking_ref %>
          <%= text_field_tag '', @hotel_booking_group.booking_ref, class: 'custom-form-control form-control', disabled: true %>
        </div>
      </div>  

      <div class="col-md-12">
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :check_in %>
          <%= text_field_tag '', @hotel_booking_group.check_in.to_date.strftime("%d %B %Y"), class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :check_out %>
          <%= text_field_tag '', @hotel_booking_group.check_out.to_date.strftime("%d %B %Y"), class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :hotel_name %>
          <%= text_field_tag '', @hotel_booking_group.hotel_name, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :hotel_address %>
          <%= text_field_tag '', @hotel_booking_group.hotel_address, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :room %>
          <%= text_field_tag '', @hotel_booking_group.room, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :amount %>
          <%= text_field_tag '', "#{number_to_currency(@hotel_booking_group.amount.to_i, precision: 2, unit: "#{@hotel_booking_group.currency} ")}", class: 'custom-form-control form-control', disabled: true %>
        </div>
      </div>
    </div>

    <hr>
    <h4>Travellers</h4>


    <% @hotel_booking_group.hotel_bookings.order(:id).each_with_index do |traveller, index| %>
      <div class='col-xs-12 media <%= "#{ index != 0 ? ' other-guest-form' : ''}" %>'>
        <div class='media-left <%= "#{index.odd? ? 'border-first' : 'border-others'}" %>'>
          <h4>
            <%= "Room #{traveller.in_room_no}" %> <br>
            <%= "#{traveller.traveller_type}" %>
          </h4>
        </div>

        <div class='media-body'>
          <div class="row">
            <div class="custom-form-group form-group col-xs-6">
              <%= label_tag :first_name %>
              <%= text_field_tag '', "#{traveller.salutation} #{traveller.first_name}", class: 'custom-form-control form-control', disabled: true %>
            </div>

            <div class="custom-form-group form-group col-xs-6">
              <%= label_tag :last_name %>
              <%= text_field_tag '', traveller.last_name, class: 'custom-form-control form-control', disabled: true %>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-group form-group col-xs-6">
              <%= label_tag :email %>
              <%= text_field_tag '', traveller.email, class: 'custom-form-control form-control', disabled: true %>
            </div>

            <div class="custom-form-group form-group col-xs-6">
              <%= label_tag :phone_number %>
              <%= text_field_tag '', traveller.phone_number, class: 'custom-form-control form-control', disabled: true %>
            </div>
          </div>


        </div>
        <br><br>
      </div>
    <% end %>


    <% if @hotel_booking_group.cancel_upto > DateTime.now && @hotel_booking_group.booking_status == "Success" && @hotel_booking_group.free_cancellation == true %>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'CANCEL BOOKING', cancel_hotel_booking_group_path(hotel_booking_group: @hotel_booking_group), class: 'btn btm-md btn-danger', data: {confirm: "Are you sure to CANCEL this booking?"}, method: :post %>    
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>