<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<%= @booking_form.inspect %>
<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotel Booking
<% end %>

<%= render 'shared/single_panel', card_title: "".html_safe do %>
  <div class="panel panel-success mt20">
    <div class="panel-heading">
    </div>
    <div class="panel-body">  
    <%=@resp.inspect%>    
    </div>
  </div>
  <%= link_to 'Back', tbo_holidays_hotels_path, class: 'btn' %>
</div>

<% end %>