<% content_for :head do %>
  <title><%= @tbo_booking.reference_id %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="invoice">
      <div class="col-md-12">
        <%= render_invoice_header %>
        <div class="form-group text-center"><h4>INVOICE</h4></div>
        <table class="table_left" width="70%">
          <tbody>
            <tr valign="top">
              <td width="10px">TO : </td>
              <td class="break-word-300">
                <%= @tbo_booking.agent_user.full_name.present? ? @tbo_booking.agent_user.full_name : '' %><br>
                <%= @tbo_booking.agent_user.address.present? ? @tbo_booking.agent_user.address : '' %><br>
                <%= "#{@tbo_booking.agent_user.city} #{@tbo_booking.agent_user.state} #{@tbo_booking.agent_user.postal} #{@tbo_booking.agent_user.country}" %>
              </td>
            </tr>
            <tr>
              <td>TEL : </td>
              <td><%= @tbo_booking.agent_user.phones.present? ? @tbo_booking.agent_user.phones.first : '' %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                FAX : <%= @tbo_booking.agent_user.faxes.present? ? @tbo_booking.agent_user.faxes.first : '' %>
              </td>
            </tr>
            </tr>
              <td width="10px">ATTN : </td>
              <td><%= @tbo_booking.agent_user.username.upcase %></td>
            <tr>
          </tbody>
        </table>
        <table class="table_right" width="29%">
          <tbody>
            <tr>
              <td>INVOICE NO</td>
              <td>:</td>
              <td><%= @tbo_booking.etravel_invoices.last.present? ? @tbo_booking.etravel_invoices.last.invoice_no : '' %></td>
            </tr>
            <tr>
              <td>ACCT NO</td>
              <td>:</td>
              <td><%= @tbo_booking.agent_user.code.present? ? @tbo_booking.agent_user.code : '' %></td>
            </tr>
            <tr>
              <td>BOOK NO</td>
              <td>:</td>
              <td><%= @tbo_booking.reference_id.present? ? @tbo_booking.reference_id : '' %></td>
            </tr>
            <tr>
              <td>DATE</td>
              <td>:</td>
              <td><%= @tbo_booking.etravel_invoices.last.present? ? @tbo_booking.etravel_invoices.last.created_at.strftime("%d %b %Y") : '' %></td>
            </tr>
          </tbody>
        </table>
        <table width="100%">
          <thead>
            <tr class="invoice_solid_top_bottom">
              <th>PARTICULAR</th>
              <th class="text-center">QTY</th>
              <th class="text-center">PRICE</th>
              <th class="text-right">TOTAL (RM)</th>
            </tr>
          </thead>
          <tbody>
            <tr valign="top">
              <td>
                CONFIRMATION NO. : <%= @tbo_booking.confirmation_no %><br>
                CHECK-IN : <%= @tbo_booking.check_in.strftime("%d-%m-%Y") %>&nbsp;&nbsp;&nbsp;CHECK-OUT : <%= @tbo_booking.check_in.strftime("%d-%m-%Y") %><br>
                GUEST : <%= @tbo_guests.first.last_name %>, <%= @tbo_guests.first.first_name %><br>
                HOTEL NAME : <%= @tbo_booking.hotel.hotel_name %><br>
                ROOM TYPE : <%= @tbo_booking.rooms.map{|x| x['room_type_name']}.uniq.join(',') %>
              </td>
              <td class="text-center"><%= @tbo_booking.no_of_rooms %></td>
              <td class="text-center"><%= @tbo_booking.total_fare.present? ? number_to_currency(@tbo_booking.total_fare.to_f / @tbo_booking.no_of_rooms, precision: 2, unit: "#{@tbo_booking.currency} ") : '' %></td>
              <td class="text-right"><%= @tbo_booking.total_fare.present? ? number_to_currency(@tbo_booking.total_fare.to_f, precision: 2, unit: "#{@tbo_booking.currency} ") : '' %></td>
            </tr>
            <tr>
              <td colspan="4"><hr></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Amount : </td>
              <td class="text-right invoice_solid_top_bottom"><%= number_to_currency(@tbo_booking.total_fare.to_f, precision: 2, unit: "#{@tbo_booking.currency} ") %></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Payment : </td>
              <td class="text-right invoice_column_bottom_double"><%= number_to_currency(@tbo_booking.payment.amount, precision: 2, unit: "#{@tbo_booking.currency} ") %><br></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <hr><br>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= render_invoice_footer %>
        </div>
      </div>
    </div>
  </div>
</page>