
 <% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotel Booking
<% end %>

<%= render 'shared/single_panel', card_title: 'Hotel Booking' do %>
  <%= render partial: 'partials/errors', locals: { target: @booking_form } %>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @booking_form.hotel_name %></h1>
      <h5><%= @booking_form.hotel_address %></h5>
    </div>
  </div>


  <div class="row">    
    <div class="col-xs-12">
      <p>
        <h3>Booking Details</h3>
        <%= "Date: #{@booking_form.check_in} to #{@booking_form.check_out}" %>
        <h4>Travellers</h4>
        <%= "#{@booking_form.adult_count} Adults, #{@booking_form.child_count} Children" %>
        <% if @booking_form.cancellation_policies.present? %>
          <h4>Cancellation Policies</h4>
          <%= @booking_form.cancellation_policies.html_safe %>
        <% end %>

        <h4>Total Cost</h4>
        <%= number_to_currency(@booking_form.total_cost.to_f, precision: 2, unit: "MYR ") %> <br>      
      </p>
    </div> 
  </div>
    
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@booking_form, as: :booking_form, url: tbo_holidays_bookings_path(search_criteria: search_params), method: "POST" ) do |f| %>
        <%= f.hidden_field :result_index %>
        <%= f.hidden_field :session_id %>
        <%= f.hidden_field :hotel_code %>
        <%= f.hidden_field :hotel_name %>
        <%= f.hidden_field :hotel_address %>
        <%= f.hidden_field :hotel_description %>
        <%= f.hidden_field :check_in %>
        <%= f.hidden_field :check_out %>
        <%= f.hidden_field :total_cost %>        
        <%= f.hidden_field :guest_nationality %>
        <%= f.hidden_field :no_of_rooms %>
        <%= f.hidden_field :adult_count %>
        <%= f.hidden_field :child_count %>
        <%= f.hidden_field :last_cancellation_deadline, value: @cancellation_policies.cancel_policies.last_cancellation_deadline if @cancellation_policies_available%>
        <%= f.hidden_field :cancellation_policies %>
        <%= f.fields_for :hotel_rooms do |room_form| %>
          <%= room_form.hidden_field :room_index %>
          <%= room_form.hidden_field :room_type_name %>
          <%= room_form.hidden_field :room_type_code %>
          <%= room_form.hidden_field :rate_plan_code %>
          <%= room_form.fields_for :room_rate do |rate_form| %>
            <%= rate_form.hidden_field :agent_mark_up %>
            <%= rate_form.hidden_field :room_fare %>
            <%= rate_form.hidden_field :currency %>
            <%= rate_form.hidden_field :pref_currency %>
            <%= rate_form.hidden_field :room_tax %>
            <%= rate_form.hidden_field :total_fare %> 
            <%= rate_form.hidden_field :pref_price %>           
          <% end %>
          <%= room_form.fields_for :supplements do |supp_form| %>
            <%= supp_form.hidden_field :supp_id %>
            <%= supp_form.hidden_field :price %>
            <%= supp_form.hidden_field :supp_is_mandatory %>
            <%= supp_form.hidden_field :supp_charge_type %>            
            <%= supp_form.hidden_field :currency_code %>     
          <% end %>
        <% end %>
        <h1>Guest details</h1>              
        <%= f.fields_for :guests do |guest_form,idx| %>
          <%= guest_form.hidden_field :lead_guest %>
          <%= guest_form.hidden_field :guest_type %>
          <%= guest_form.hidden_field :guest_in_room %>
          <div class='col-xs-12 media <%= "#{ guest_form.index != 0 ? ' other-guest-form' : ''}" %>'>
            <div class='media-left <%= "#{guest_form.index.even? ? 'border-first' : 'border-others'}" %>'>
              <h4>
                <%= "Room #{guest_form.object.guest_in_room}" %><br>
                <%= "#{guest_form.object.guest_type} #{guest_form.object.index}" %>                  
              </h4>
            </div>
            
            <div class='media-body'>   
              <div class="row">
                <div class="custom-form-group form-group col-xs-2">
                  <%= guest_form.label :title %>
                  <% if guest_form.object.guest_type == 'Adult'%>
                    <%= guest_form.select :title, options_for_select(TBOGuest::titles.keys, selected: guest_form.object.title), {include_blank: true}, class: 'custom-form-control form-control',required: true%>
                  <% else %>
                    <%= guest_form.select :title, options_for_select(TBOGuest::titles.except('Mrs').keys, selected: guest_form.object.title), {include_blank: true}, class: 'custom-form-control form-control',required: true%>
                  <% end %>
                </div>      

                <div class="custom-form-group form-group col-xs-4">
                  <%= guest_form.label "First Name" %>
                  <%= guest_form.text_field :first_name, class: 'custom-form-control form-control tbo_first_name', required: true %>
                  <p class="tbo_name_error">The name must be alphabet ONLY, minimum 2(TWO) character and single space.</p>
                </div>

                <div class="custom-form-group form-group col-xs-4">
                  <%= guest_form.label "Last Name" %>
                  <%= guest_form.text_field :last_name, class: 'custom-form-control form-control tbo_last_name', required: true %>
                  <p class="tbo_name_error">The name must be alphabet ONLY, minimum 2(TWO) character and single space.</p>
                </div>   

                <div class="custom-form-group form-group col-xs-2">
                  <%= guest_form.label :age %>                    
                  <% if guest_form.object.guest_type == 'Adult'%>
                    <%= guest_form.number_field :age, class: 'custom-form-control form-control', required: true, min: 1 %>
                  <% else %>
                    <%= guest_form.number_field :age, class: 'custom-form-control form-control', required: true, readonly:true %>
                  <% end %>
                </div>            
              </div>
            </div>
          </div>    
        <% end %>  
        <h1>Address Info</h1>  
        <div class='col-xs-12'>
          <%= f.fields_for :address_info do |address_form,idx| %>
          <div class="row">
            <div class="custom-form-group form-group col-xs-4">
              <%= address_form.label :address_line_1 %>
              <%= address_form.text_field :address_line_1, class: 'custom-form-control form-control' %>
            </div> 
            <div class="custom-form-group form-group col-xs-4">
              <%= address_form.label :address_line_2 %>
              <%= address_form.text_field :address_line_2, class: 'custom-form-control form-control' %>
            </div>
            <div class="custom-form-group form-group col-xs-4">
              <%= address_form.label :city %>
              <%= address_form.text_field :city, class: 'custom-form-control form-control' %>
            </div>                         
          </div>

          <div class="row">
 
            <div class="custom-form-group form-group col-xs-4">
              <%= address_form.label :state %>
              <%= address_form.text_field :state, class: 'custom-form-control form-control' %>
            </div> 
            <div class="custom-form-group form-group col-xs-4">
              <%= address_form.label :zip_code %>
              <%= address_form.text_field :zip_code, class: 'custom-form-control form-control' %>
            </div> 
            <div class="custom-form-group form-group col-xs-4">
              <%= address_form.label :country %>
              <%= address_form.text_field :country, class: 'custom-form-control form-control' %>
            </div>                                      
          </div>

          <div class="row">
            <div class="custom-form-group form-group col-xs-3">
              <%= address_form.label :country_code %>
              <%= address_form.text_field :country_code, class: 'custom-form-control form-control' %>
            </div>   
            <div class="custom-form-group form-group col-xs-3">
              <%= address_form.label :area_code %>
              <%= address_form.text_field :area_code, class: 'custom-form-control form-control' %>
            </div> 
            <div class="custom-form-group form-group col-xs-3">
              <%= address_form.label :phone_no %>
              <%= address_form.text_field :phone_no, class: 'custom-form-control form-control' %>
            </div>    
            <div class="custom-form-group form-group col-xs-3">
              <%= address_form.label :email %>
              <%= address_form.email_field :email, class: 'custom-form-control form-control', required: true %>
            </div>                        
          </div>
          <% end %>
        </div>
        <%= submit_tag 'Create Booking', data:{disable_with: 'Booking ...'}, class: 'btn btm-sm btn-success tbo_book_button' %>   
      <% end %>
    </div>
  </div>
<% end %>
