<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% if @booking.present? %>

  <% content_for :title do %>
    <i class="fa fa-ticket fa-fw"></i>Booking Details
  <% end %>

  <%= render 'shared/single_panel', card_title: 'Hotel Detail' do %>
    <div class="row">
      <div class="col-md-12">
        <div class="custom-form-group form-group col-sm-4">
          <%= label_tag :confirmation_no %>
          <%= text_field_tag '', @booking.confirmation_no, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= label_tag :booking_status %>
          <%= text_field_tag '', @booking.booking_status, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-4">
          <%= label_tag :voucher_status %>
          <%= text_field_tag '', @booking.voucher_status, class: 'custom-form-control form-control', disabled: true %>
        </div>
      </div>  

      <div class="col-md-12">
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :check_in %>
          <%= text_field_tag '', @booking.check_in.strftime("%d %B %Y"), class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :check_out %>
          <%= text_field_tag '', @booking.check_out.strftime("%d %B %Y"), class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :hotel_name %>
          <%= text_field_tag '', @booking.hotel.hotel_name, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :hotel_address %>
          <%= text_field_tag '', @booking.hotel.address, class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :room %>
          <%= text_field_tag '', @booking.rooms.map{|x| x['room_type_name']}.uniq.join(','), class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :amount %>
          <%= text_field_tag '', "#{number_to_currency(@booking.total_fare.to_f, precision: 2, unit: "#{@booking.currency} ")}", class: 'custom-form-control form-control', disabled: true %>
        </div>
        <div class="custom-form-group form-group col-sm-3">
          <%= label_tag :last_cancellation_deadline %>
          <%= text_field_tag '', @booking.last_cancellation_deadline, class: 'custom-form-control form-control', disabled: true %>
        </div>        
        <% if @booking.Cancelled? %>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :refund_amount %>
            <%= text_field_tag '', "#{number_to_currency(@booking.refund_amount.to_f, precision: 2, unit: "#{@booking.currency} ")}", class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :cancellation_charge %>
            <%= text_field_tag '', "#{number_to_currency(@booking.cancellation_charge.to_f, precision: 2, unit: "#{@booking.currency} ")}", class: 'custom-form-control form-control', disabled: true %>
          </div>
        <% end %>  
        <div class="custom-form-group form-group col-sm-12">
          <%= label_tag :remark, "Special Request" %>
          <%= text_field_tag '', @booking.remark, class: 'custom-form-control form-control', disabled: true %>
        </div>      
      </div>         
    </div>

    <hr>
    <h4>Guests</h4>
    <div class="row">
      <% @booking.guests.order(:id).each_with_index do |traveller, index| %>
        <div class='col-xs-12 media <%= "#{ index != 0 ? ' other-guest-form' : ''}" %>'>
          <div class='media-left <%= "#{index.odd? ? 'border-first' : 'border-others'}" %>'>
            <h4>
              <%= "Room #{traveller.guest_in_room}" %> <br>
              <%= "#{traveller.guest_type}" %>
            </h4>
          </div>

          <div class='media-body'>
            <div class="row">
              <div class="custom-form-group form-group col-xs-6">
                <%= label_tag :first_name %>
                <%= text_field_tag '', "#{traveller.title} #{traveller.first_name}", class: 'custom-form-control form-control', disabled: true %>
              </div>

              <div class="custom-form-group form-group col-xs-6">
                <%= label_tag :last_name %>
                <%= text_field_tag '', traveller.last_name, class: 'custom-form-control form-control', disabled: true %>
              </div>
            </div>

          </div>
          <br><br>
        </div>
      <% end %>
    </div>

    <% if @booking.amendment_status != 'NotRequested' %>
    <hr/>
    <h4>Amendment Details</h4>
    <div class="row">      
      <div class="col-md-12">      
        <div class="custom-form-group form-group col-sm-4">
          <%= label_tag :status %>
          <%= text_field_tag '', @booking.amendment_status, class: 'custom-form-control form-control', disabled: true %>
        </div> 
        <div class="col-md-8">  
          <h5>Amendment Message</h5>
          <%= @booking.amendment_request.amendment_message %>
        </div>  
        <div class="col-md-6">        
          <%= link_to 'VIEW DETAILS', admin_tbo_booking_amendment_request_path(@booking) , class: 'btn btm-md btn-info'%>            
        </div>             
      </div>    
    </div > 
    <% end %> 

    <% if @booking.cancellation_requested %>
    <hr/>
    <h4>Cancellation Details</h4>
    <div class="row">      
      <div class="col-md-12">      
        <div class="custom-form-group form-group col-sm-4">
          <%= label_tag :status %>
          <%= text_field_tag '', @booking.cancellation_status, class: 'custom-form-control form-control', disabled: true %>
        </div>        
      </div>    
    </div > 
    <% end %>

  <% end %>

<% end %>