<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Hotel Booking
<% end %>

<%= render 'shared/single_panel', card_title: "#{@booking.guests.length} #{'booking'.pluralize(@booking.guests.length)} successfully created.".html_safe do %>
  <div class="row enlarge-col">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Hotel:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @booking.hotel.hotel_name %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Address:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @booking.hotel.address %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Check-in Date:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @booking.check_in.strftime("%d %b %Y") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Check-out Date:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @booking.check_out.strftime("%d %b %Y") %>
      </div>
    </div>
  </div>

  <br>

  <div class="panel panel-success mt20">
    <div class="panel-heading">
      Thank you for your online booking
    </div>
    <div class="panel-body">
      <h3>
        <span class="label label-default">Booking Ref: <%= @booking.guests.map(&:id).join(', ')%></span>
      </h3>
    </div>
  </div>
  <% if @new_domain %>
    <%= link_to 'Home Page', app_path, class: 'btn btn-success', data: {turbolinks: "false"} %>
    <%= link_to 'Booking Page', app_path(anchor: "bookings/hotels"), class: 'btn btn-success', data: {turbolinks: "false"} %>
  <% else %>
    <%= link_to 'Back', tbo_holidays_hotels_path, class: 'btn' %>
  <% end %>

</div>

<% end %>