#paymentScreen{
    padding: 9rem 2rem;
    text-align: center;
}

#paymentScreen h1{    
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: .5rem;
}
#paymentScreen #font{    
    font-size: 1.25rem;
    font-weight: 300;
}

#paymentScreen hr{    
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);}

#paymentScreen i{
    font-size: 72px;
    margin-bottom: 24px;
}