#ShowPage {
  background-color: #f8f8f8;
}
#ShowPage .warppage{
  width: 1500px;
  margin: auto;
  margin-top: 50px;
}

/************************************************ PriceDetails table ****************************************/
.price_table_warp{
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  margin: auto;
}
.price_table_warp2{
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  margin: auto;
}
/* .price_table_warp .ant-table table{
  width: 1500px
}
.price_table_warp2 .ant-table table{
  width: 1000px
} */
.PriceDetails .ant-table-thead > tr:first-child > th:first-child{
  background-color: #e8e8e8;
  color: #5a5a5a;
}
.PriceDetails .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  text-align: center!important;
}
.PriceDetails .ant-table-thead > tr > th .ant-table-header-column{
  font-weight: bold;
  font-size: 1.0em;
}
.PriceDetails .ant-table-thead > tr > th{
  border-bottom: 4px solid #ffffff29!important;
}
.price_table_warp .PriceDetails .ant-table-thead > tr > th:nth-child(2){
  /*border-bottom: 4px solid #fff!important;*/
}
.price_table_warp .PriceDetails .ant-table-thead > tr > th:nth-child(2){
  background-color: #e8e8e8;
  color: #5a5a5a;
}

.price_table_warp .PriceDetails .ant-table-thead > tr > th:nth-child(2).priceTypeColumn {
  background-color: #f5911c;
  color: #fff; 
}

.price_table_warp .PriceDetails .ant-table-thead > tr > th:nth-child(3n){
  background-color: #f5911c;
  /*background-color: #E07900;*/
  color: #fff;
}

.PriceDetails .ant-table-thead > tr > th:nth-child(2){
  background-color: #E07900;
  color: #fff;
}
.PriceDetails .ant-table-thead > tr > th:nth-child(n+3){
  background-color: #f5911c;
  color: #fff;
}

.PriceDetails .ant-table-tbody > tr{
  background-color: #e8e8e8;
}
.PriceDetails .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{
  /*border-right: 4px solid #fff;*/
  /*border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 4px solid #fff;
  border-top: 5px solid #fff;*/
  font-weight: bold;
  word-break: inherit;
  white-space: normal;
  text-align: center !important;
}
.PriceDetails .ant-table-tbody > tr > td:first-child{
  text-align: left!important;
  font-size: 1.0em;
  width: 200px;
  /* border-right: 2px solid #fff; */
}

.ant-table-bordered .ant-table-tbody > tr > .rolspan04 {
  text-align: center!important;
}

/* .PriceDetails .ant-table-tbody > tr > td:nth-child(3){
  background-color: #E07900;
} */
.rolspan01 {
  background-color: #E07900;
  border-bottom: 4px solid #ffffff29!important;
}
.rolspan02 {
  background-color: #f5911c;
  border-bottom: 4px solid #ffffff29!important;
}
.rolspan03 {
  background-color: #ffa134;
  border-bottom: 4px solid #ffffff29!important;
}
.rolspan04 {
  background-color: #ffb259;
  /*border-bottom: 4px solid #ffffff29!important;*/
}
.rolspan05 {
  background-color: red;
  border-bottom: 4px solid #ffffff29!important;
}
.PriceDetails .date_scroll{
  width: 175px;
  /* overflow: scroll; */
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
}
.PriceDetails .date_sty{
  padding: 3px 5px;
  color: #fa8c16;
  background: #fff7e6;
  border: 1px solid #ffd591;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: left!important;
}
/* .PriceDetails .date_sty::-webkit-scrollbar-track{
  width: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}
.PriceDetails .date_sty::-webkit-scrollbar{
  width: 2px;
  background-color: #F5F5F5;
}
.PriceDetails .date_sty::-webkit-scrollbar-thumb{
  width: 2px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
} */

.date_scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
  height: 5px;
  display: none;
}

.date_scroll::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
 border-radius: 5px;
 background-color: #F5F5F5;
}

.date_scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
 /* -webkit-box-shadow: inset 0 0 6px gray; */
 background-color: #d9d9d9;
} 

.payment_50{
  width: 50%;
  float: left;
  padding: 20px;
}

.paymentTypeAvailable{
  width: 100%;
  float: left;
}

/*.date_scroll {
  -ms-overflow-style: none;
}*/

/************************************************ Responsive Media Query ****************************************/

@media only screen and (max-width: 1499px) {
  #ShowPage .warppage{
    width: 1200px;
  }
  .payment_50 img{
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  #ShowPage .warppage{
    width: 1000px;
  }
}
@media only screen and (max-width: 1050px) {
  #ShowPage .warppage{
    width: 900px;
  }
  .payLater_icon{
    font-size: 4em;
    margin-top: 15px;
  }
  .PayLater{
    margin-bottom: 15px;
    font-size: 2.5em;
  }
  
}
@media only screen and (max-width: 900px) {
  #ShowPage .warppage{
    width: 800px;
  }
}
@media only screen and (max-width: 770px) {
  #ShowPage .warppage{
    width: 700px;
  }
}
@media only screen and (max-width: 720px) {
  #ShowPage .warppage{
    width: 90%;
  }
  .PriceDetails .date_scroll{
    width: 150px;
  }
  .payment_50{
    padding: 8px;
  }

}