#ListingFlight {
	background-color: #f8f8f8;
}

#ListingFlight .warp {
	width: 1600px;
	margin: auto;
    padding: 50px 10px;
}
#LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
    border-top: 1px solid #d9d9d9;
}

/************************************** LeftPanel **************************************/
#LeftPanel .ant-collapse > .ant-collapse-item{
    border-bottom: none;
}
#ListingFlight #LeftPanel .ant-checkbox-wrapper{
    width: 100%;
    margin-bottom: 5px;
}
#ListingFlight #LeftPanel .ant-checkbox-wrapper + .ant-checkbox-wrapper{
    margin-left: 0
}

#LeftPanel {
	width: 30%;
	float: left;
	padding-right: 20px
}

#LeftPanel .ant-card-actions {
    background: transparent;
    border-top: none
}

#LeftPanel .ant-collapse {
	border: 0;
}

#LeftPanel .ant-collapse>.ant-collapse-item {
	background-color: #fff;
}

#LeftPanel .sort_result .ant-card-actions>li {
	text-align: left;
}

#LeftPanel .sort_result .ant-card-actions>li>span {
	width: 100%;
	padding: 0px 20px;
}

#LeftPanel .sort_result .ant-radio-wrapper {
	width: 50%;
	margin-right: 0px;
}

#LeftPanel .sort_result .ant-radio-wrapper:nth-child(1n) {
	margin-bottom: 10px;
}

#LeftPanel .filter_result {
	margin-top: 20px;
}

#LeftPanel .filter_result .title p {
	margin-bottom: 0px;
	float: left;
}

#LeftPanel .filter_result .title p:nth-child(1n) {
	width: 70%;
}

#LeftPanel .filter_result .title p:nth-child(2n) {
	width: 30%;
	text-align: right;
	color: #faad14;
}

#LeftPanel .filter_result .ant-card-actions>li>span {
	width: 100%;
}

#LeftPanel .filter_result .ant-card-actions>li {
	margin: 0;
}

#LeftPanel .filter_result .ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header {
	text-align: left;
}

#LeftPanel .filter_result .slider_value p {
	float: left;
}

#LeftPanel .filter_result .slider_value p:nth-child(1n) {
	width: 45%;
	font-weight: bold;
}

#LeftPanel .filter_result .slider_value p:nth-child(2n) {
	width: 10%
}

#LeftPanel .filter_result .slider_value p:nth-child(3n) {
	width: 45%;
	font-weight: bold;
}

#LeftPanel .checkbox_warp .ant-checkbox-group {
	text-align: left;
	width: 100%;
}

#LeftPanel .checkbox_warp .ant-checkbox-group-item {
	width: 100%;
	margin-bottom: 10px;
}

#LeftPanel .slider_value  {
    text-align: left;
    width: 100%;
}






/************************************** RightPanel **************************************/

#RightPanel {
	width: 70%;
	float: left;
}

#RightPanel .img_panel {
	width: 20%;
	float: left;
}
#RightPanel .depart_details .logo_img {
	width: 25%;
    float: left;
    margin-right: 5px;
    margin-top: -5px;
}
#RightPanel .depart_details .logo_img img {
	width: 100%;
    height: 30px;
    object-fit: cover;
}
#RightPanel .time_panel {
	width: 70%;
    float: left;
    border-right: .5px solid #ccc;
}

#RightPanel .price_panel {
	width: 30%;
	float: left;
	border-bottom: 0px;
    padding: 10px 10px 9px 10px;
    border-left: .5px solid #ccc;
}

#RightPanel .img_panel img {
	width: 100%;
	height: 50px;
    object-fit: cover;
    padding: 10px;
}

#RightPanel .collaps_pannel {
	width: 100%;
	float: left;
	position: relative;
	background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-bottom: 0px;
}

#RightPanel .header_content {
	width: 100%;
	float: left;
}
#RightPanel .header_content .top_content{
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
#RightPanel .header_content .top_content .left_content {
	/* border-bottom: 1px solid #ccc; */
	/* border-top: 1px solid #ccc; */
    padding: 14px 5px 10px 5px;
    float: left;
    width: 80%;
}


#RightPanel .header_content .bottom_content {
	padding: 13px 20px 10px 20px;
}

#RightPanel .ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header {
	padding: 0px;
}

#RightPanel .time_panel .left {
	width: 40%;
	float: left;
}

#RightPanel .time_panel .center {
	width: 20%;
	float: left;
}

#RightPanel .time_panel .right {
	width: 40%;
	float: left;
}

#RightPanel .time_panel p {
	margin-bottom: 0;
}

#RightPanel .time_panel .ap_icon {
	margin-right: 10px;
	float: left;
	text-align: center;
}

#RightPanel .time_panel .ap_icon img {
	width: 30px;
	height: 25px;
}

#RightPanel .time_panel .time_depature {
	margin-right: 20px;
	float: left;
	font-weight: bold;
}

#RightPanel .time_panel .location_depature {
	float: left;
}

#RightPanel .time_panel .center i {
	float: left;
	font-size: 20px;
	width: 30%;
	text-align: left;
}

#RightPanel .time_panel .center .stop .left_arrow {
    padding-right: 5px;
    padding-top: 10px;
    width: 30%;
    text-align: left;
}

#RightPanel .time_panel .center .stop {
	float: left;
	width: 100%;
	text-align: center
}
#RightPanel .time_panel .center .stop .stop_warp {
    float: left;
    margin-top: -5px;
    width: 70%;
}
#RightPanel .time_panel .center .stop .stop_warp .stop_time{
	margin-top: -5px;
}



#RightPanel .right_warp {
	width: 80%;
	margin-left: auto;
}

#RightPanel .left_warp {
	width: 80%;
	margin: auto;
}

#RightPanel .price_panel p {
	text-align: center;
	margin-bottom: 0;
}

#RightPanel .price_panel .price_tag {
	font-weight: bold;
	font-size: 1.2em;
}

#RightPanel .price_panel .tax_tag {
	color: #ccc;
}

#RightPanel .select_btn {
	width: 100%;
	text-align: center
}

#RightPanel .ant-btn-primary {
	width: 70%;
	color: #faad14;
	border-color: #faad14;
}

#RightPanel .collapsible {
	cursor: pointer;
	padding: 15px;
	width: 50px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	height: 20px;
	line-height: 1px;
}


/*  #RightPanel .active, .collapsible:hover {
    background-color: #555;
  } */

#RightPanel .collapsible:after {
	content: '\25BC';
	color: #000;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

#RightPanel .active:after {
	content: "\25B2";
}

#RightPanel .content {
	padding: 0px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	border: 1px solid #dedede;
}

#RightPanel .content .depart {
	padding: 10px;
}

#RightPanel .content .left {
	width: 70%;
	float: left;
	border-right: 1px solid #ccc;
}

#RightPanel .content .right {
	width: 30%;
	float: left;
}
#RightPanel .ant-divider-horizontal.ant-divider-with-text-right::before{
    border-top: 1px solid #d6d6d6!important;
    width: 100%!important;

}

#RightPanel .content .depart p {
	margin-bottom: 0px;
	width: 15%;
	float: left;
	font-weight: bold;
	font-size: 1em;
}

#RightPanel .content .ant-divider-horizontal {
	float: left;
	clear: none;
    height: 2px;
    margin: 0px 0;
    color: #b7b7b7;
}

#RightPanel .content .plane .ant-divider-horizontal {
	min-width: 100%;
	width: 100%;
	float: left;
	clear: none;
	height: 1px;
    margin: 12px 0px;
    background: transparent;
    color: #bfbfbf;
}
#RightPanel .content .hour {
	text-align: right;
}

#RightPanel .content .depart_details {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

#RightPanel .depart_1 {
	padding: 20px;
	border-top: 1px solid #ccc;
}
#RightPanel .depart_1:nth-child(2n) {
    border-top: 0;
}
#RightPanel .title .flight_title {
    width: 50%;
    float: left;
}
#RightPanel .title .flight_kg {
    width: 50%;
    float: left;
    text-align: right;
}
#RightPanel .title .flight_kg .suitcase{
    color: #ababab;
    margin-right: 5px;
    margin-left: 20px;
}
#RightPanel .flight_time_style{
    margin-left: 10px;
    color: #c5c5c5;
}

#RightPanel .border_style {
	border-top: 0!important;
}

/* #RightPanel .depart_1 .title i {
	color: #faad14;
	margin-right: 10px;
} */

#RightPanel .depart_1 .ant-descriptions-row>td {
	padding-bottom: 0;
}

#RightPanel .depart_1 .from img {
	width: 30px;
	height: 25px;
	;
	float: left;
	margin-right: 10px;
}

#RightPanel .depart_1 .from p {
	float: left;
	font-weight: bold;
}

#RightPanel .depart_1 .ant-descriptions-item-label {
	width: 15%;
}

#RightPanel .depart_1 .ant-descriptions-item-content {
	width: 85%;
}

#RightPanel .depart_1 .ant-descriptions-item-label::after {
	content: none;
}

#RightPanel .depart_1 .from_detail {
	width: 33.33%;
	float: left;
	margin-bottom: 0;
	text-align: center;
}

#RightPanel .depart_1 .from_detail i {
	font-size: 18px;
	margin-right: 20px;
}

#RightPanel .depart_1 .from_detail:nth-child(2n) {
	font-weight: bold;
}

#RightPanel .depart_1 .from_detail:nth-child(3n) {
	text-align: right;
}

#RightPanel .depart_1 .from_detail:nth-child(3n) span {
	font-weight: bold;
	font-size: 1.1em;
}

#RightPanel .depart_details .plane p {
	float: left;
	width: 100%;
	margin-bottom: 0;
}

#RightPanel .content .plane .plan_1 {
	width: 20%;
	float: left;
}

#RightPanel .content .plane .plan_2 {
	width: 50%;
	float: left;
	text-align: center;
}
#RightPanel .price_style .tax_style{
    color: #bbb;
}
#RightPanel .content .plane .plan_3 {
	width: 30%;
	float: left;
}

#RightPanel .content .plane .plan_1 .ant-divider-horizontal {
	min-width: 5%;
	width: 5%;
	clear: none;
	height: 2px;
	margin: 12px 10px 12px 0px;
}

#RightPanel .content .plane .plan_2 .ant-divider-horizontal {
	min-width: 30%;
	width: 30%;
	clear: none;
	height: 2px;
	margin: 12px 15px 12px 0px;
}

#RightPanel .content .plane .plan_3 .ant-divider-horizontal {
	min-width: 50%;
	width: 50%;
	clear: none;
	height: 2px;
	margin: 12px 15px 12px 0px;
}

#RightPanel .right .price_style {
	padding-left: 0;
    width: 100%;
    margin-bottom: 0px;
}

#RightPanel .right .price_style li {
	list-style: none;
	width: 100%;
	margin-bottom: 10px;
}

#RightPanel .right .price_style li p {
	width: 50%;
	float: left;
	margin-bottom: 0;
}

#RightPanel .right .price_style li p:nth-child(2n) {
	text-align: right;
}

#RightPanel .right .ant-list-bordered .ant-list-header {
	background-color: #fff;
	font-weight: bold;
}

#RightPanel .right .ant-list-bordered .ant-list-footer {
	background-color: #fff;
}

#RightPanel .right .total p {
	width: 50%;
	float: left;
	margin-bottom: 0;
	color: #49a51c;
}

#RightPanel .right .total p:nth-child(2n) {
	text-align: right;
	font-weight: bold;
}
#RightPanel .plane {
    padding: 0px 20px;
}
#RightPanel .plane .ant-steps-item-icon{
    display: none;
}
#RightPanel .plane .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #e8e8e8!important;
}
#RightPanel .plane .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title {
    color: rgba(0, 0, 0, 0.45)!important;
}
#RightPanel .plane .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title{
    color: rgba(0, 0, 0, 0.45)!important;
}
#RightPanel .plane .ant-steps-item-title {
    font-size: 14px;
}

#RightPanel .content .right .ant-list-bordered{
    border: 0;
    border-bottom: 1px solid #d9d9d9; 
}

/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
    #ListingFlight .warp {
        width: 1300px;
    }

    #RightPanel .content .depart p{
        font-size: 1em;
    }
    #RightPanel .left_warp {
        margin-right: auto;
        margin: inherit;
    }
    #RightPanel .depart_1 .ant-descriptions-item-label {
        width: 25%;
    }
    #RightPanel .depart_1 .ant-descriptions-item-content {
        width: 75%;
    }
    #RightPanel .content .plane .plan_3 .ant-divider-horizontal {
        min-width: 45%;
        width: 45%;
        text-align: right;
    }
   
  
}

@media only screen and (max-width: 1350px) {
    #ListingFlight .warp {
        width: 1000px;
    }
    #RightPanel .right_warp{
        width: 90%;
    }
    #RightPanel .left_warp {
        width: 90%;
    }
  
    #RightPanel .header_content .bottom_content {
        padding: 14px 10px 10px 10px;
    }
    #RightPanel .time_panel .time_depature {
        margin-right: 10px;
    }
    #RightPanel .time_panel .ap_icon img {
        width: 25px;
        height: 20px;
    }
    #RightPanel .content .depart p {
        font-size: .9em;
    }
    #RightPanel .depart_1 .title {
        font-size: .9em;
    }
    #RightPanel .depart_1 .from_detail{
        width: 40%;
        font-size: .9em;
    }
    #RightPanel .depart_1 .from_detail:nth-child(3n) {
        width: 20%;
        font-size: .9em;
    }
    #RightPanel .depart_1 .from p {
        font-size: .9em;
    }
    #RightPanel .depart_1 .from img {
        width: 25px;
        height: 20px;
    }
    #RightPanel .depart_1 .from_detail:nth-child(3n) span {
        font-size: 1em;
    }
    #RightPanel .depart_1 .from_detail i {
        font-size: 15px;
        margin-right: 5px;
    }
    #RightPanel .depart_details .plane p {
        font-size: .9em;
    }
    #RightPanel .content .plane .plan_1 .ant-divider-horizontal {
        margin: 10px 15px 12px 0px;
    }
    #RightPanel .content .plane .plan_3 .ant-divider-horizontal {
        min-width: 30%;
        width: 30%;
        margin: 10px 15px 12px 0px;
    }
    #RightPanel .content .plane .plan_2 .ant-divider-horizontal {
        min-width: 20%;
        width: 20%;
        margin: 10px 15px 12px 0px;
    }
    #RightPanel .ant-btn-primary {
        width: 90%;
        font-size: .9em;
        height: 25px;
        margin-top: 10px;
    }
    #RightPanel .content .right .ant-spin-nested-loading .ant-list-item{
        padding-right: 10px;
        padding-left: 10px;
    }
    #RightPanel .right .price_style li p {
        font-size: .9em;
    }
    #RightPanel .right .ant-list-bordered .ant-list-header {
        padding-right: 10px;
        padding-left: 10px;
        font-size: .9em;
    }
    #RightPanel .right .ant-list-bordered .ant-list-footer {
        padding-right: 10px;
        padding-left: 10px;
        font-size: .9em;
    }
    #RightPanel .price_panel .price_tag {
        font-size: 1em;
    }

    #RightPanel .header_content {
        padding-bottom: 0px;
    }
    #LeftPanel .sort_result .ant-card-actions > li > span {
        padding: 0px 10px!important;
    }
    #LeftPanel .sort_result span.ant-radio + * {
        padding-right: 5px;
        padding-left: 5px;
        font-size: .9em
    }
    #LeftPanel .filter_result .ant-card-meta-description {
        color: rgba(0, 0, 0, 0.45);
        font-size: .9em;
    }
    #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: .9em;
    }
    #LeftPanel .filter_result .ant-checkbox + span {
        font-size: .9em;
    }
}

@media only screen and (max-width: 1050px) {
    #ListingFlight .warp {
        width: 850px;
    }
    #RightPanel .time_panel .center .stop .left_arrow{
        padding-top: 0px;
    }
    #RightPanel .header_content .top_content .left_content{
        padding: 14px 10px 10px 10px;
    }
    #RightPanel .header_content .bottom_content {
        padding: 12px 5px 9px 5px;
    }
    #RightPanel .time_panel .time_depature {
        margin-right: 5px;

    }
    #RightPanel .time_panel p {
        font-size: .9em;
    }
    #RightPanel .depart_1 {
        padding: 20px 10px;
    }
    #RightPanel .depart_1 .from_detail {
        font-size: .8em;
    }
    #RightPanel .depart_1 .title {
        font-size: .8em;
    }
    #RightPanel .depart_details .plane p {
        font-size: .8em;
    }
 
    #RightPanel .content .depart p {
        font-size: .8em;
    }
    #RightPanel .right .ant-list-bordered .ant-list-header {
        font-size: .8em;
    }
    #RightPanel .right .price_style li p {
        font-size: .8em;
    }
    #RightPanel .right .ant-list-bordered .ant-list-footer {
        font-size: .8em;
    }
    #RightPanel .content .right .ant-spin-nested-loading .ant-list-item {
        padding-right: 5px;
        padding-left: 5px;
    }
    #RightPanel .depart_1 .from_detail i {
        font-size: 13px;
        margin-right: 4px;
    }
    #RightPanel .depart_1 .from_detail:nth-child(3n) span {
        font-size: .9em;
    }
   
    #RightPanel .price_panel .price_tag {
        font-size: .9em;
    }
    #RightPanel .content .ant-divider-horizontal {
        margin: 9px 0px;
    }
    #LeftPanel .sort_result .ant-radio-wrapper {
        width: 100%!important;
    }
    #LeftPanel .ant-card-body {
        padding: 24px 15px;
    }
    #LeftPanel .ant-card-meta-title{
        font-size: 14px;
    }
    #LeftPanel  .ant-card-meta-description {
        font-size: .8em;
    }
    #LeftPanel .filter_result .ant-card-meta-description {
        font-size: .8em;
    }
    #RightPanel .plane {
        padding: 0px 10px;
    }
    #RightPanel .plane .ant-steps-item-title {
        font-size: 11px;
    }
    
}

@media only screen and (max-width: 900px) {
    #ListingFlight .warp {
        width: 800px;
    }
    #RightPanel .header_content .top_content .left_content {
        padding: 5px;
        width: 100%;
    }
    #RightPanel .right_warp {
        width: 70%;
    }
    #RightPanel .img_panel {
        width: 100%;
        text-align: center;
    }
    #RightPanel .img_panel img{
        width: 100px;
        height: 40px;
    }
}

@media only screen and (max-width: 770px) {
    #ListingFlight .warp {
        width: 700px;
    }
    #RightPanel .content .depart {
        padding: 5px;
    }
  
    #RightPanel .time_panel p {
        font-size: .8em;
    }
    #RightPanel .time_panel .ap_icon img {
        width: 20px;
        height: 15px;
    }
   
    #RightPanel .time_panel .center i {
        font-size: 15px;
        width: 30%;
    }

    #RightPanel .content .depart p {
        font-size: .7em;
    }
    #RightPanel .content .hour {
        font-size: 14px;
    }

    #RightPanel .content .ant-divider-horizontal {
        margin: 7px 0px;
    }
    #RightPanel .depart_1 {
        padding: 10px 5px;
        border-top:0px;
    }

    #RightPanel .depart_1 .from img {
        width: 20px;
        height: 15px;
        margin-right: 5px;
    }
    #RightPanel .depart_1 .from p {
        font-size: .8em;
    }
    #RightPanel .content .plane .plan_3 .ant-divider-horizontal {
        min-width: 20%;
        width: 20%;
        margin: 10px 5px 12px 0px;
    }
    #RightPanel .plane {
        padding: 0px 5px;
    }
    #RightPanel .plane .ant-steps-item-title {
        font-size: 10px;
    }
    #RightPanel .depart_1 .from_detail {
        font-size: .7em;
    }
    #RightPanel .depart_1 .title {
        font-size: .7em;
    }
    #RightPanel .depart_1 .ant-descriptions-item-label {
        width: 23%;
    }
    #RightPanel .depart_1 .ant-descriptions-item-content {
        width: 77%;
    }
    #RightPanel .right .price_style li p {
        width: 100%;
    }
    #RightPanel .right .total p {
        width: 100%;
    }
    #RightPanel .price_panel {
        padding: 10px 5px 9px 5px;
    }
    #RightPanel .collapsible{
        padding: 5px;
        font-size: 12px;
    }
    #LeftPanel .filter_result .slider_value p:nth-child(1n) {
        font-size: .8em;
        margin-bottom: 0;
    }
    #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: .8em;
    }
    #LeftPanel .filter_result .title p:nth-child(1n) {
        width: 100%!important;
    }
    #LeftPanel .filter_result .title p:nth-child(2n) {
        width: 100%!important;
        text-align: left!important;
    }
    #RightPanel .right .price_style li {
        border-bottom: 1px solid #e4e4e4;
    }
}

@media only screen and (max-width: 720px) {
    #ListingFlight .warp {
        width: 600px;
    }
    #LeftPanel .sort_result .ant-radio-wrapper {
        width: 50%!important;
    }
    #ListingFlight #LeftPanel {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 50px;
    }
    #ListingFlight  #RightPanel{
        width: 100%;
    }
    #RightPanel .depart_1 .from_detail {
        font-size: .8em;
    }
    #RightPanel .time_panel .right {
        padding-left: 20px;
    }
    #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: 1em;
    }
    #LeftPanel .filter_result .title p:nth-child(1n) {
        width: 70%!important;
    }
    #LeftPanel .filter_result .title p:nth-child(2n) {
        width: 30%!important;
        text-align: right!important;
    }
}

@media only screen and (max-width: 625px) {
    #ListingFlight .warp {
        width: 90%;
        padding: 50px 0px;
    }
    #RightPanel .time_panel .right {
        padding-left: 8px;
    }
    #RightPanel .right_warp {
        width: 75%;
    }
    #RightPanel .time_panel .ap_icon img {
        width: 20px;
        height: 15px;
        margin-top: -5px;
    }
}

@media only screen and (max-width: 550px) {
    #ListingFlight .warp {
        width: 95%;
    }
    #RightPanel .time_panel .right {
        padding-left: 8px;
    }
    #RightPanel .depart_1 .from_detail {
        font-size: .8em;
    }
    #RightPanel .time_panel p {
        font-size: .7em;
    }
    #RightPanel .depart_1 .from_detail:nth-child(3n) span {
        font-size: .8em;
    }
    #RightPanel .depart_1 .from_detail i {
        font-size: 12px;
    }
    #RightPanel .right .price_style li p {
        font-size: .8em;
    }
    #RightPanel .right .ant-list-bordered .ant-list-footer {
        font-size: .8em;
    }
    #RightPanel .price_panel .price_tag {
        font-size: .8em;
    }
    #RightPanel .right .ant-list-bordered .ant-list-header {
        font-size: .8em;
    }
    #RightPanel .ant-btn-primary {
        font-size: .8em;
        height: 23px;
    }
    #RightPanel .header_content .bottom_content {
        padding: 9px 5px 9px 5px;
    }
    #RightPanel .depart_1 .ant-descriptions-item-label {
        width: 100%;
    }
    #RightPanel .depart_1 .ant-descriptions-item-content {
        width: 100%;
        margin-bottom: 10px;
    }
    #RightPanel .time_panel .time_depature {
        margin-right: 3px;
    }
}

@media only screen and (max-width: 485px) {
    #RightPanel .right_warp {
        width: 85%;
    }
    #RightPanel .time_panel .center .stop {
        width: 100%;
    }
   
}
@media only screen and (max-width: 400px) {
    #RightPanel .right_warp {
        width: 100%;
    }

}


