<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-text-o fa-fw"></i>Credit Refunds
<% end %>

<%= render 'shared/single_panel', card_title: 'View Credit Refunds' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>No</th>
          <th>Payment</th>
          <th>Amount</th>
          <th>Created by</th>
          <th>Created at</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @credit_refunds.each do |credit_refund| %>
          <tr>
            <td><%= link_to credit_refund.id, admin_credit_refund_path(credit_refund) %></td>
            <td><%= credit_refund.payment_id %></td>
            <td><%= credit_refund.amount %></td>
            <td><%= credit_refund.user.username.present? ? credit_refund.user.username.titleize : '' %></td>
            <td><%= credit_refund.created_at.present? ? credit_refund.created_at.strftime("%d/%m/%Y %H:%M") : '' %></td>
            <td><%= credit_refund.status.present? ? credit_refund.status.titleize : '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @credit_refunds %>
<% end %>