<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Credit Refunds
<% end %>

<%= render 'shared/single_panel', card_title: 'Credit Refund Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :payment %>
      <%= text_field_tag '', @credit_refund.payment_id, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :status %>
      <%= text_field_tag '', @credit_refund.status.present? ? @credit_refund.status.titleize : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :amount %>
      <%= text_field_tag '', @credit_refund.amount, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :remark %>
      <%= text_field_tag '', @credit_refund.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :created_by %>
      <%= text_field_tag '', @credit_refund.user.username.present? ? @credit_refund.user.username.titleize : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :created_at %>
      <%= text_field_tag '', @credit_refund.created_at.try(:strftime, "%F %H:%M %p"), class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <br />
  <% if @credit_refund.pending? %>
    <%= form_tag(update_status_admin_credit_refund_path(@credit_refund), method: :post, class: 'form-inline') do %>
      <%= hidden_field_tag :status, 'refund' %>
      <%= submit_tag 'Refund', class: 'btn btn-warning', data: { confirm: "Are you sure want to refund this?" } %>
    <% end %>
    <%= form_tag(update_status_admin_credit_refund_path(@credit_refund), method: :post, class: 'form-inline') do %>
      <%= hidden_field_tag :status, 'archive' %>
      <%= submit_tag 'Archive', class: 'btn btn-primary', data: { confirm: "Are you sure want to archive this?" } %>
    <% end %>
  <% end %>

  <%= link_to 'Back', admin_credit_refunds_path, class: 'btn' %>
<% end %>
