<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<%= render 'shared/devise_panel' do %>

<div class="form-wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <% if @new_domain %>
    <div class="form-group">
      <div class="form-header">
          <%= image_tag 'travelb2b-logo.png', class: 'login-logo img-responsive' %>
          <h2 class="login-label">TravelB2B Login</h2>
      </div>
    </div>
    <hr />
  <% end %>

  <%= render partial: 'partials/flash', locals: { flash: flash } %>

  <div class="form-group <%= @new_domain ? 'input-group' : '' %>">
    <% if @new_domain %>
      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
    <% else %>
      <%= f.label :username %><br />
    <% end %>
    <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
  </div>

  <div class="form-group <%= @new_domain ? 'input-group' : '' %>">
    <% if @new_domain %>
      <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
    <% else %>
      <%= f.label :password %><br />
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </div>

  <%= f.submit "Log in", class: 'btn btn-primary btn-submit' %>
  <br>
  <br>
  
  <% end %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />

  <% if !@new_domain %>
    <% fair_message = Fair.messages %>
    <% if fair_message.present? %>
      <div class="alert alert-danger mt20">
        <% fair_message.each do |message| %>
          <p class="">
            <%= message %>
          </p>
        <% end %>

      </div>
    <% end %>
    <div class="alert alert-danger mt20">
      <p class="">
        Policies purchased after 19th March 2020 will not provide any cover for claims directly or indirectly arising from, relating to or in any way connected with COVID-19 (or any mutation or variation thereof or any related strain).  We will not therefore cover claims relating to any inability to travel, any decision not to travel or any changes to travel plans, nor any medical or health related loss or expense incurred, as a result of COVID-19
      </p>
    </div>
  <% end %>
</div>

<% end %>