.fa_icon.adults{
	color: red;
}
.fa_icon.children{
	color: #faad14;
}
.fa_icon.infants{
	color: #40a9ff;
}
.Search .home_link{
	color: #fff;
}
.Search .tab_icon{
	margin-right: 5px;
}
.Search .a_link{
	color: #fff;
}

.calenderModal .ant-modal-body{
	padding:  0;
}

/* .Search :root .ant-tabs-tab-prev-icon-target, :root .ant-tabs-tab-next-icon-target{
	width: 15px;
    height: 15px;
    opacity: 1;
    pointer-events: auto;
    background-color: #00000059;
    border-radius: 50px;
		margin-top: 15px;
		color: #fff
} */
.Search .ant-tabs-nav-scroll{
	overflow: auto;
}
.Search .ant-tabs-tab-prev-icon{
	width: 15px;
	height: 15px;
	background-color: #00000059;
	border-radius: 50px;
	color: #fff;
	line-height: 13px;
	margin-top: 3px;
}
.Search .ant-tabs-tab-prev {
	left: -7px;
	display: none
}
.Search .ant-tabs-tab-next-icon{
	width: 15px;
	height: 15px;
	background-color: #00000059;
	border-radius: 50px;
	color: #fff;
	line-height: 13px;
	margin-top: 3px;
}
.Search .ant-tabs-tab-next {
	right: -7px;
	display: none
}
.Search .ant-tabs-tab-btn-disabled, .ant-tabs-tab-btn-disabled:hover .ant-tabs-tab-prev-icon{
	display: none
}
.Search .ant-tabs-tab-btn-disabled, .ant-tabs-tab-btn-disabled:hover .ant-tabs-tab-next-icon{
	display: none
}


/******************************************** Search *******************************************/

.Search {
	position: relative;
}

.Search .img_warp img {
	/* background-size: cover; */
	width: 100%;
  height: 800px;
	object-fit: cover;
	
}
.Search .drop_btn{
	background: #00000036;
  padding: 5px 22px;
  border-radius: 5px;
	color: #fff;
	float: right;
}
.Search .drop_btn i{
	margin-left: 20px;
}
.Search .top_pannel {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 3%;
	text-align: right;
	width: 1600px;
	color: #fff;
	margin: auto;
}
.Search .top_pannel .logo_warp{
	float: left;
}
.Search .top_pannel .logo_warp img{
	width: 50px;
	height: 50px;
	float: left;
}
.Search .top_pannel .logo_warp span{
	font-size: 2.5em;
  margin-left: 5px;
  float: left;
  text-shadow: 1px 2px 1px #00000073;
}
.Search .top_pannel .ant-btn-primary {
	background-color: #f9ab25;
	border-color: #f9ab25;
	color: #fff
}

.Search .top_pannel .name_user {
	font-size: 1.2em;
	padding-left: 10px;
}

.Search .top_pannel  .ant-select-selection{
	background-color: #00000078;
	border: 0px;
}
.Search .top_pannel .ant-select-selection__placeholder{
	color: #fff;
	font-size: 16px;
}
.Search .top_pannel .ant-select-selection-selected-value{
	color: #fff;
}
.Search .top_pannel .ant-select-arrow .ant-select-arrow-icon{
	color: #fff;
}
.Search .top_pannel .ant-select{
	width: 180px;
}
.Search .top_pannel .ant-select-selection-selected-value{
	font-size: 15px;
}
.Search .title {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 20%;
	text-align: left;
	width: 1600px;
	color: #fff;
	font-size: 4.5em;
	margin: auto;
}
.Search .title p{
	text-shadow: 1px 2px 1px #000000a6;
	margin-bottom: 0;
}

.Search .tab_warp {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 45%;
	text-align: left;
	width: 1600px;
	margin: auto;
}

.Search .tab_warp .ant-tabs-bar {
	margin: 0;
}

.Search .tab_warp .ant-tabs-top-content {
	background-color: #fff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.Search .tab_warp .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
	margin-right: 0;
	border-radius: 0;
}

.Search .tab_warp .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab a{
	color: white;
}

.Search .tab_warp .ant-tabs-nav-container-scrolling {
	padding-left: 0;
	padding-right: 0;
}

.Search .tab_warp .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
	background: #b71c1c;
	border: 0;
	color: #fff;
}

.Search .tab_warp .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
	background: #fff;
	color: #b71c1c;
	border: 4px solid #fff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	/*border-bottom: 1px solid #eee;*/
	padding-left: 10px;
	padding-right: 10px;
}

.Search .tab_warp .ant-tabs-tab-disabled{
	filter: blur(0.6px);
}

/******************************************** Flight *******************************************/
.Flight .radio_select{
	/*border-bottom: 1px solid #eee;*/
	padding: 20px 20px 10px;
}
.Flight .radio_select .top_warp:nth-child(1n){
	width: 70%;
	float: left;
}
.Flight .radio_select .top_warp:nth-child(2n){
	width: 30%;
	float: left;
	text-align: right
}
.Flight .radio_select .top_warp:nth-child(2n) div{
	float: left;
	width: 33.33%;
}
.Flight .radio_select .top_warp:nth-child(2n) div:nth-child(1n) i{
	color: #faad14
}
.Flight .radio_select .top_warp:nth-child(2n) div:nth-child(2n) i{
	color: #52c41a
}
.Flight .radio_select .top_warp:nth-child(2n) div:nth-child(3n) i{
	color: #40a9ff
}

.Flight .form_warp{
	padding: 20px 20px 40px 20px;
	max-height: 300px;
    overflow: auto;
}
.Flight .form_layout{
	width: 23%;
	float: left;
	margin-right: 15px;
}
.Flight .form_layout label{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.Flight .form_layout .ant-select{
	width: 100%!important;
}
.Flight .btn_submit{
	width: 50%;
	float: right;
}
.Flight .btn_submit .ant-btn{
	margin-top: 25px;
	float: right;
	width: 50%;
	background-color: #b71b1c;
	border-color:#b71b1c;
}
.Flight .Travellers_style .a_link_warp{
	padding: 4.5px;
    border: 1px solid #d9d9d9;
	border-radius: 3px;
	float: left;
    width: 100%;
}
.Flight .Travellers_style .a_link_warp i{
margin-top: 4px;
float: right;
}
.Flight .Travellers_style .a_link_warp a{
color: #c7c7c7;
}
.Flight .form_layout .ant-calendar-picker{
	width: 100%!important;
}
.Flight .form_1{
	margin-bottom: 10px;
	width: 100%;
	float: left;
}
.Flight .form_2{
	width: 100%;
	float: left;
}

.Flight .add_btn{
	margin: 10px 0px;
    float: left;
}

.Flight .close_btn .ant-btn{
	background-color: #ccc;
	border-color: #ccc;
	margin-top: 25px;
}
.Flight .close_btn .ant-btn:hover{
	background-color: #ccc;
	border-color: #ccc;
}
.Flight .close_btn .ant-btn:focus{
	background-color: #ccc;
	border-color: #ccc;
}
.Flight .show_style{
	margin-bottom: 10px;
}



/******************* dropdown_warp *******************/

.dropdown_warp {
	padding: 10px 12px 35px 12px!important;
	border-bottom: 1px solid #eee;
	height: 40px;
}

.dropdown_warp:nth-child(4n) {
	padding-bottom: 10px;
}

.dropdown_warp .travellers_btn {
	background-color: transparent;
	border: 0px;
	font-size: 20px
}

.dropdown_warp .travellers_btn:focus {
	outline: none
}

.dropdown_warp .close_btn {
	width: 100%!important;
	text-align: right!important
}

.dropdown_warp .close_btn span {
	color: #b71c1c
}


/******************* selection_warp *******************/

.selection_warp div {
	float: left;
}

.selection_warp div:nth-child(1n) {
	width: 20%
}

.selection_warp div:nth-child(2n) {
	width: 50%
}

.selection_warp div:nth-child(3n) {
	width: 30%;
}

.selection_warp div:nth-child(3n) span {
	padding: 0px 10px
}


/******************************************** Hotel ***************************************************/

.Hotel .form_warp{
	padding: 20px 20px 40px 20px;
	max-height: 300px;
    overflow: auto;
}
.Hotel .form_layout{
	width: 23%;
	float: left;
	margin-right: 15px;
}
.Hotel .room_layout{
  width: 8%;
  float: left;
  margin-right: 15px;
}
.Hotel .form_layout2{
  width: 15%;
  float: left;
  margin-right: 15px;
}
.Hotel .form_layout3{
  width: 10%;
  float: left;
  margin-right: 15px;
}
.Hotel .ant-input-number{
	width: 100%;
}
.Hotel .form_layout label{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.Hotel .form_layout .ant-select{
	width: 100%!important;
}
.Hotel .btn_submit{
	width: 100%;
	float: left;
}
.Hotel .btn_submit .ant-btn{
	margin-top: 25px;
	float: right;
	width: 18%;
	background-color: #b71b1c;
	border-color:#b71b1c;
}
.Hotel .Travellers_style .a_link_warp{
	padding: 4.5px;
    border: 1px solid #d9d9d9;
	border-radius: 3px;
	float: left;
    width: 100%;
}
.Hotel .Travellers_style .a_link_warp i{
margin-top: 4px;
float: right;
}
.Hotel .Travellers_style .a_link_warp a{
color: #c7c7c7;
}
.Hotel .form_layout .ant-calendar-picker{
	width: 100%!important;
}
.Hotel .form_1{
	margin-bottom: 10px;
	width: 100%;
	float: left;
}
.Hotel .form_2{
	width: 100%;
	float: left;
}

.Hotel .add_btn{
	margin: 10px 0px;
    float: left;
}

.Hotel .close_btn .ant-btn{
	background-color: #ccc;
	border-color: #ccc;
	margin-top: 25px;
}
.Hotel .close_btn .ant-btn:hover{
	background-color: #ccc;
	border-color: #ccc;
}
.Hotel .close_btn .ant-btn:focus{
	background-color: #ccc;
	border-color: #ccc;
}
.Hotel .show_style{
	margin-bottom: 10px;
}
.Hotel .error{
  position: inherit;
}


/******************************************** Activity *******************************************/
.Activity .radio_select{
	border-bottom: 1px solid #eee;
	padding: 20px 20px 10px;
}

.Activity .radio_select .top_warp:nth-child(1n){
	width: 70%;
	float: left;
}
.Activity .radio_select .top_warp:nth-child(2n){
	width: 30%;
	float: left;
	text-align: right
}
.Activity .radio_select .top_warp:nth-child(2n) div{
	float: left;
	width: 33.33%;
}
.Activity .radio_select .top_warp:nth-child(2n) div:nth-child(1n) i{
	color: #faad14
}
.Activity .radio_select .top_warp:nth-child(2n) div:nth-child(2n) i{
	color: #52c41a
}
.Activity .radio_select .top_warp:nth-child(2n) div:nth-child(3n) i{
	color: #40a9ff
}
.Activity .form_warp{
	padding: 20px 20px 40px 20px;
	max-height: 300px;
    overflow: auto;
}
.Activity .form_layout{
	width: 30%;
	float: left;
	margin-right: 15px;
}
.Activity .ant-input-number{
	width: 100%;
}
.Activity .form_layout label{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.Activity .form_layout .ant-select{
	width: 100%!important;
}
.Activity .btn_submit{
	width: 100%;
	float: left;
}
.Activity .btn_submit .ant-btn{
	margin-top: 25px;
	float: right;
	width: 18%;
	background-color: #b71b1c;
	border-color:#b71b1c;
}
.Activity .Travellers_style .a_link_warp{
	padding: 4.5px;
    border: 1px solid #d9d9d9;
	border-radius: 3px;
	float: left;
    width: 100%;
}
.Activity .Travellers_style .a_link_warp i{
margin-top: 4px;
float: right;
}
.Activity .Travellers_style .a_link_warp a{
color: #c7c7c7;
}
.Activity .form_layout .ant-calendar-picker{
	width: 100%!important;
}
.Activity .form_1{
	margin-bottom: 10px;
	width: 100%;
	float: left;
}
.Activity .form_2{
	width: 100%;
	float: left;
}

.Activity .add_btn{
	margin: 10px 0px;
    float: left;
}

.Activity .close_btn .ant-btn{
	background-color: #ccc;
	border-color: #ccc;
	margin-top: 25px;
}
.Activity .close_btn .ant-btn:hover{
	background-color: #ccc;
	border-color: #ccc;
}
.Activity .close_btn .ant-btn:focus{
	background-color: #ccc;
	border-color: #ccc;
}
.Activity .show_style{
	margin-bottom: 10px;
}


/******************************************** Wifi *******************************************/

.Wifi .form_warp{
	padding: 20px 20px 40px 20px;
	max-height: 300px;
    overflow: auto;
}
.Wifi .form_layout{
	width: 30%;
	float: left;
	margin-right: 15px;
}
.Wifi .ant-input-number{
	width: 100%;
}
.Wifi .form_layout label{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.Wifi .form_layout .ant-select{
	width: 100%!important;
}
.Wifi .btn_submit{
	width: 100%;
	float: left;
}
.Wifi .btn_submit .ant-btn{
	margin-top: 25px;
	float: right;
	width: 18%;
	background-color: #b71b1c;
	border-color:#b71b1c;
}
.Wifi .Travellers_style .a_link_warp{
	padding: 4.5px;
    border: 1px solid #d9d9d9;
	border-radius: 3px;
	float: left;
    width: 100%;
}
.Wifi .Travellers_style .a_link_warp i{
margin-top: 4px;
float: right;
}
.Wifi .Travellers_style .a_link_warp a{
color: #c7c7c7;
}
.Wifi .form_layout .ant-calendar-picker{
	width: 100%!important;
}
.Wifi .form_1{
	margin-bottom: 10px;
	width: 100%;
	float: left;
}
.Wifi .form_2{
	width: 100%;
	float: left;
}

.Wifi .add_btn{
	margin: 10px 0px;
    float: left;
}

.Wifi .close_btn .ant-btn{
	background-color: #ccc;
	border-color: #ccc;
	margin-top: 25px;
}
.Wifi .close_btn .ant-btn:hover{
	background-color: #ccc;
	border-color: #ccc;
}
.Wifi .close_btn .ant-btn:focus{
	background-color: #ccc;
	border-color: #ccc;
}
.Wifi .show_style{
	margin-bottom: 10px;
}

/******************************************** Series *******************************************/

.Series .form_warp{
	padding: 20px 20px 40px 20px;
	max-height: 300px;
    overflow: auto;
}
.Series .form_layout{
	width: 30%;
	float: left;
	margin-right: 15px;
}
.Series .form_layout label {
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.Series .form_layout .ant-calendar-picker{
	width: 100%;
}
.Series .btn_submit {
	width: 100%;
	float: left;
}
.Series .btn_submit .ant-btn{
	margin-top: 25px;
	float: right;
	width: 18%;
	background-color: #b71b1c;
	border-color:#b71b1c;
}

/******************************************** LandTour *******************************************/

.LandTour .form_warp{
  padding: 20px 20px 40px 20px;
  max-height: 300px;
    overflow: auto;
}
.LandTour .form_layout{
  width: 30%;
  float: left;
  margin-right: 15px;
}
.LandTour .form_layout label {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.LandTour .form_layout .ant-calendar-picker{
  width: 100%;
}
.LandTour .btn_submit {
  width: 100%;
  float: left;
}
.LandTour .btn_submit .ant-btn{
  margin-top: 25px;
  float: right;
  width: 18%;
  background-color: #b71b1c;
  border-color:#b71b1c;
}


/********************************************************* Responsive Media Query ********************************************************/

@media only screen and (max-width: 1599px) {
	.Search .top_pannel {
		width: 1300px;
		margin: auto;
	}
	.Search .title {
		width: 1300px;
		margin: auto;
		font-size: 3.5em;
	}
	
	.Search .tab_warp {
		width: 1300px;
		margin: auto;
	}
	
}

@media only screen and (max-width: 1350px) {
	.Search .top_pannel {
		width: 1000px;
	}
	.Search .title {
		width: 1000px;
	}
	
	.Search .tab_warp {
		width: 1000px;
	}
	.Flight .Travellers_style .a_link_warp a {
		font-size: .9em;
		word-break: break-all;
}
	
}


@media only screen and (max-width: 1050px) {
	.Search .top_pannel {
		width: 850px;
	}
	.Search .title {
		width: 850px;
	}
	
	.Search .tab_warp {
		width: 850px;
	}
	.Flight .btn_submit{
		width: 70%;
	}
	.Flight .form_layout {
		width: 48%;
		margin-bottom: 10px;
	}
	.Hotel .form_layout {
    width: 48%;
	}
	.Hotel .form_layout:nth-child(2n){
		margin-bottom: 10px;
	}
	.Hotel .btn_submit{
		width: 100%;
		float: right;
	}
	.Hotel .btn_submit .ant-btn {
		width: 35%;
		
	}
	.Activity .form_layout {
    width: 47%;
	}
	.Activity .form_layout:nth-child(2n){
		margin-bottom: 10px;
	}
	.Activity .btn_submit{
		width: 100%;
		float: right;
	}
	.Activity .btn_submit .ant-btn {
		width: 35%;
		
	}
	.Wifi .form_layout {
    width: 50%;
	}
	.Wifi .btn_submit{
		width: 100%;
		float: right;
	}
	.Wifi .btn_submit .ant-btn {
		width: 35%;
	}
	.Series .form_layout{
		width: 47%;
	}
	.Series .btn_submit .ant-btn {
		width: 35%;
	}

  .LandTour .form_layout{
    width: 47%;
  }
  .LandTour .btn_submit .ant-btn {
    width: 35%;
  }
	
}
@media only screen and (max-width: 910px) {
	.Flight .radio_select .top_warp:nth-child(1n){
		width: 60%;

	}
	.Flight .radio_select .top_warp:nth-child(2n){
		width: 40%;
		
	}
	.Activity .radio_select .top_warp:nth-child(1n){
		width: 60%;

	}
	.Activity .radio_select .top_warp:nth-child(2n){
		width: 40%;
		
	}
	
}

@media only screen and (max-width: 900px) {
	.Search .top_pannel {
		width: 800px;
	}
	.Search .title {
		width: 800px;
	}
	
	.Search .tab_warp {
		width: 800px;
	}
	
	
}
@media only screen and (max-width: 770px) {
	.Search .top_pannel {
		width: 700px;
	}
	.Search .title {
		width: 700px;
	}
	
	.Search .tab_warp {
		width: 700px;
	}

	.Wifi .form_layout{
		width: 40%;
	}
	.Flight .form_layout {
    width: 47%;
}
.Hotel .form_layout {
	width: 47%;
}
}

@media only screen and (max-width: 720px) {
	.Search .top_pannel {
		width: 600px;
	}
	.Search .title {
		width: 600px;
		font-size: 3em;
	}
	
	.Search .tab_warp {
		width: 600px;
	}

	.Flight .btn_submit {
		width: 100%;
	}
	.Flight .btn_submit .ant-btn {
		width: 100%;
		
	}
	.Flight .form_layout {
    width: 100%;
	}
	.Flight .form_1 {
    margin-bottom: 0px;
}


	.Flight .radio_select .top_warp:nth-child(1n){
		width: 100%;

	}
	.Flight .radio_select .top_warp:nth-child(2n){
		width: 100%;
		
	}
	.Flight .radio_select .top_warp:nth-child(2n) div{
		text-align: left;
		width: 20%;
		margin-top: 10px;
	}
	
	.Hotel .form_layout{
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0px;
	}
	.Hotel .form_layout:nth-child(2n) {
		margin-bottom: 10px;
	}
	.Hotel .form_layout:nth-child(3n) {
		margin-bottom: 10px;
	}

	.Hotel .btn_submit {
    width: 100%;
	}
	.Hotel .btn_submit .ant-btn {
		width: 100%;
	}
	.Activity .form_layout {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 10px;
	}

	.Activity .btn_submit{
		width: 100%;
	}
	.Activity .btn_submit .ant-btn {
		width: 100%;
	}
	.Wifi .form_layout {
    width: 100%;
	}
	.Wifi .btn_submit{
		width: 100%;
	}
	.Wifi .btn_submit .ant-btn {
		width: 100%;
		
	}
	.Flight .close_btn .ant-btn{
		margin-top: 0px;
    margin-bottom: 20px;
    float: right;
	}
	.Search .title{
		top: 14%;
	}
	.Search .tab_warp{
		top: 32%;
	}
	.Flight .form_warp{
		max-height: 360px;
	}
	.Hotel .form_warp {
    max-height: 450px;
}
	.Activity .form_warp {
		max-height: 450px;
	}
	.Hotel .room_layout{
		width: 100%;
		margin-right: 0px;
	}
	.Hotel .form_layout2{
		width: 100%;
		margin-right: 0px;
		margin-top: 10px;
	}
	.Hotel .form_layout2 label{
  	margin-bottom: 5px;
  	float: left;
	}
  .Hotel .form_layout3{
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
  }
  .Hotel .form_layout3 label{
    margin-bottom: 5px;
    float: left;
  }
	.Hotel .add_btn {
    margin: 20px 0px;
    float: right;
}
.Hotel .close_btn .ant-btn {
	float: right;
	margin-top: 8px;
}

.Series .form_layout{
	width: 100%;
	margin-bottom: 10px;
}
.Series .btn_submit .ant-btn {
	width: 100%;
}

.LandTour .form_layout{
  width: 100%;
  margin-bottom: 10px;
}
.LandTour .btn_submit .ant-btn {
  width: 100%;
}
	
}

@media only screen and (max-width: 625px) { 
	.Search .top_pannel {
		width: 90%;
	}
	.Search .title {
		width: 90%;
	}
	.Search .tab_warp{
		width: 90%;
	}




}
@media only screen and (max-width: 550px) { 

	#Explore .slick-next{
		right: -8px;
	}
	#Explore .slick-prev {
		left: -8px;
	}
	#More  .slick-next{
		right: -8px;
	}
	#More .slick-prev {
		left: -8px;
	}
	.Wifi .form_layout{
		width: 100%;
	}
	.Wifi .btn_submit {
		width: 100%;
	}
	.Wifi .btn_submit .ant-btn {
		width: 100%;
	
	}
	.Search .title {
    font-size: 2.5em;
}

}
@media only screen and (max-width: 435px) { 
	.Flight .radio_select .top_warp:nth-child(2n) div{
		width: 33.33%;
	}
	.Search .top_pannel .logo_warp span{
		font-size: 2em;
	}
	.Search .top_pannel .logo_warp img {
    width: 40px;
    height: 40px;
}
	
}
@media only screen and (max-width: 400px) { 

	.Flight .ant-radio-wrapper{
		width: 46%;
	}
	.Search .top_pannel .logo_warp span {
    font-size: 1.7em;
}

.Search .top_pannel .logo_warp img {
	width: 35px;
	height: 35px;
}



}