<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "Globaltix Booking List: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present?  %>
  <% card_title = "Globaltix Booking List: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "Globaltix Booking List: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'Globaltix Booking List' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to('Activity Bookings', admin_activity_booking_groups_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= link_to('Today', admin_globaltix_ticket_booking_groups_path(begin: @today.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Yesterday', admin_globaltix_ticket_booking_groups_path(begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Week', admin_globaltix_ticket_booking_groups_path(begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week', admin_globaltix_ticket_booking_groups_path(begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week To Now', admin_globaltix_ticket_booking_groups_path(begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Month', admin_globaltix_ticket_booking_groups_path(begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month', admin_globaltix_ticket_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month To Now', admin_globaltix_ticket_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Year', admin_globaltix_ticket_booking_groups_path(begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year', admin_globaltix_ticket_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year To Now', admin_globaltix_ticket_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>

    </div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_globaltix_ticket_booking_groups_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %><br>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <% if @total_pax.present? && @total_amount.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3 mt20">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>Total Pax </td>
              <td><%= number_with_delimiter @total_pax %></td>
            </tr>
            <tr>
              <th>Total Amount</td>
              <td><%= number_with_delimiter @total_amount %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>No</th>
          <th>Ref</th>
          <th>Name</th>
          <th>Price</th>
          <th>Ticket</th>
          <th>Payment Method</th>
          <th>Payment Status</th>
          <th>Agent</th>
          <th>Booked At</th>
          <th>Updated at</th>
          <th>Url</th>
        </tr>
      </thead>
      <% if @globaltix_ticket_booking_groups.present? %>
        <tbody>
          <% @globaltix_ticket_booking_groups.each do |group| %>
            <tr>
              <td><%= link_to "#{group.id}", admin_globaltix_ticket_booking_group_path(group) %></td>
              <td><%= group.reference_number %></td>
              <% if group.globaltix_ticket_bookings.present? %>
                <td><%= group.globaltix_ticket_bookings.order(:id).first.name %></td>
                <td><%= group.price %></td>
                <td><%= group.globaltix_ticket_bookings.map(&:globaltix_ticket).map(&:title_name).join(', ').truncate(50) %></td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
              <td><%= group.payment.present? ? group.payment.gateway_text.titleize : '' %></td>
              <td><%= group.payment.present? ? group.payment.status.titleize : '' %></td>
              <td><%= group.agent_user.present? ? group.agent_user.username.titleize : '' %></td>
              <td><%= group.created_at.strftime("%d/%m %H:%M") %></td>
              <td><%= group.updated_at.try(:strftime, "%d/%m %H:%M") %></td>
              <% if group.etravel_invoices.present? %>
                <td><%= link_to group.etravel_invoices.first.invoice_no, invoice_roamingman_booking_group_path(group),  target: '_blank' %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
  <%= paginate @globaltix_ticket_booking_groups if @globaltix_ticket_booking_groups.present? %>
<% end %>