<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Booking
<% end %>
<%= render 'shared/single_panel', card_title: "Globaltix Ticket Group : #{@globaltix_ticket_booking_group.reference_number}" do %>

  <% if @globaltix_ticket_booking_group.globaltix_ticket_bookings.present? %>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Ticket Format</th>
            <th>Visit Date</th>
            <th>Status</th>
            <th>Booked By</th>
            <th>Exported</th>
          </tr>
        </thead>
        <tbody>
          <% @globaltix_ticket_booking_group.globaltix_ticket_bookings.each do |booking| %>
            <tr>
              <td><%= booking.globaltix_ticket.title_name %></td>
              <% if booking.detail.present? %>
                <td><%= booking.detail['quantity_total'] %></td>
                <td><%= booking.detail['ticketFormat'] %></td>
                <td><%= booking.detail['visitDate'] %></td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
              <td><%= booking.status %></td>
              <td><%= booking.agent_user.username %></td>
              <td><%= booking.detail.present? && @globaltix_ticket_booking_group.exported_at.present? ? 'Yes' : 'No' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

<% end %>