/******************************************** Public *******************************************/
body { margin:  0}
.clear {clear: both;}
.example {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 100px 50px;
  background: #ffffff40;
}
.loading_center{
  text-align: center;
  width: 100%
}
.empty .ant-empty {
  border: 1px solid #eaeaea;
  padding: 30px;
  background-color: #fff;
}

.popup_footer .ant-empty-footer{
  margin-top: 30px;
}
.popup_text{
  margin-top: 1em;
}
.ellipsis_style{
  width: 100%!important;
  margin-bottom: 0px!important;
}
.ant-drawer-body{
  padding: 0;
  margin-top: 30px;
}

.error_click{
  color: red;
  font-size: 11px;
}
.error_click_border{
  border: 1px solid red;
}

.error{
  color: red;
  position: absolute;
  bottom: -20px;
  margin-bottom: 0px;
  font-size: 11px;
}
.error_border{
  border-color: red!important;
}
.error_border .ant-select-selection--single, .error_border .ant-calendar-picker-input {
  border-color: red!important;
}
/* .error_select_border{
  border: 1px solid red!important;
  border-radius: 3px;
} */

.content_icon:after {
  content: '\002A';
  color: red;
}
.ant-calendar-disabled-cell.ant-calendar-selected-day .ant-calendar-date::before {
  content: unset;
}
.ant-calendar-range .ant-calendar-in-range-cell::before {
  background: #b9e8ff !important;
}
.ant-calendar-disabled-cell.ant-calendar-selected-day .ant-calendar-date {
  color: #fff !important;
  background: #1890ff !important;
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
.ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date {
  padding: 0 !important;
}


.bookingModal_sty {
  width: 60%!important;
}

.bookingModal_sty .table_order{
  margin-top: 30px;
}
.bookingModal_sty .table_order h2{
  text-align: center;
  margin-bottom: 0;
  background-color: #b71b1c;
  color: #fff;
  padding: 5px;
}
.bookingModal_sty .responsive_sroll{
  overflow-y: auto
}
.bookingModal_sty .booking_modal_table{
  border: 1px solid #e8e8e8;
  border-collapse: collapse;
  width: 100%;

}
.bookingModal_sty .booking_modal_table th{
  border: 1px solid #e8e8e8;
  padding: 10px;
  background-color: #fafafa
}

.bookingModal_sty .booking_modal_table td{
  border: 1px solid #e8e8e8;
  padding: 10px;
  width: 300px;
}
.booking_modal_table_warp{
  margin-top: 20px;
}
.booking_modal_table_warp h3{
  color: #b71b1c;
  font-weight: bold;
}
.booking_modal_table_2{
  margin-top: 20px;
}
.btn_modal_booking{
  padding: 20px 0px;
}
.btn_modal_booking span{
  float: right;
}
.btn_modal_booking .ant-btn{
  margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
  .bookingModal_sty {
    width: 85%!important;
  }
}

@media only screen and (max-width: 780px) {
  .bookingModal_sty {
    width: 90%!important;
  }
}

@media only screen and (max-width: 720px) {
  .res_panel_warp .ant-card-bordered{
    border: 0;
  }
  .res_panel_warp .dates{
    border-bottom: .5px solid #ccc;
    margin-bottom: 10px;
  }
  .res_panel_warp .date_title{
    color: #000
  }
  .res_panel_warp .date_select{
    color: #9a9a9a
  }
  .res_panel_warp .select_list{
    border-bottom: .5px solid #ccc;
    margin-bottom: 10px;
  }
  .res_panel_warp .select_list .ant-list-item{
    padding: 0;
  }
  .res_panel_warp .select_list .ant-list-item .list_warp{
    width: 100%;
  }
  .res_panel_warp .select_list .ant-list-item .list_warp span:nth-child(1){
    color: #9a9a9a
  }
  .res_panel_warp .select_list .ant-list-item .list_warp span:nth-child(2){
    float: right;
  }
  .res_panel_warp .select_list .ant-list-item .list_warp p span:nth-child(2){
    color: #9a9a9a
  }
  .res_panel_warp .select_list .fare_info {
    padding: 0;
    padding-left: 1.5em;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-item {
    border: 0;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-header {
    padding: 0;
    color: #a5a5a5;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-header .ant-collapse-arrow {
    left: 0;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-content-box {
    padding: .8em;
    background-color: #f1f1f1;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-content-box span:nth-child(2n) {
    float: right;
  }
  /*.res_panel_warp .select_list .subtraction_collapse {
    border: 0;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-header {
    padding: 0;
    color: #a5a5a5;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-header .ant-collapse-arrow {
    left: 7em;
  }
  .res_panel_warp .select_list .subtraction_collapse .ant-collapse-content-box {
    padding: .8em;
    background-color: #f1f1f1;
  }*/
  .ant-calendar-range{
    width: 276px;
  }
  .ant-calendar-range-left {
    float: left;
  }
  .ant-calendar-range-right {
    float: right;
  }
  .ant-calendar-range-part {
    width: 100%;
  }
  .ant-calendar-range-right .ant-calendar-input {
    text-align: right;
  }
  .ant-calendar-range-right .ant-calendar-input-wrap {
    height: 0;
  }
  .ant-calendar-range-right .ant-calendar-date-input-wrap {
    margin-left: 100px;
    margin-top: -301px;
  }
  .ant-calendar-range-middle {
    /*margin-top: -301px;*/
    margin-left: 100px;
  }
  .res_panel_warp .total span:nth-child(2){
    float: right;
    /*color: #52c41a*/
  }
  .res_panel_warp .total_summary{
    color: #52c41a;
  }
  .res_panel_warp .deposit_summary{
    color: #fa8c16;
  }
  .res_panel_warp .balance_summary{
    color: #52c41a;
  }
  .res_panel_warp .balance_note_label{
    font-size: .9em;
    color: #52c41a;
  }
  .res_panel_warp .ant-card-head{
    border-bottom: 5px solid #b71c1c;
    padding: 0px 20px
  }
  .res_panel_warp .ant-card-head-title{
    padding: 5px 0px
  }
  .res_panel_warp .ant-card-body{
    padding: 20px
  }
  .ant-drawer-content-wrapper{
    width: 300px!important;
  }
  .res_panel_warp .type_rent .rent{
    width: 50%;
    float: left;
  }
  .res_panel_warp .type_rent {
    border-bottom: .5px solid #ccc;
    margin-bottom: 10px;
  }
  .res_panel_warp .type_rent .rent .rent_select{
    color: #9a9a9a;
  }
  .res_panel_warp .type_rent .res_act{
    width: 100%;
  }
  .res_panel_warp .type_rent .res_act span{
    padding-right: 10px;
  }

  .res_panel_warp .select_list  .list_warp{
    width: 100%;
    margin-bottom: 5px;
  }
  .res_panel_warp .select_list .list_warp span:nth-child(1){
    color: #9a9a9a
  }
  .res_panel_warp .select_list  .list_warp span:nth-child(2){
    float: right;
  }
  .res_panel_warp .select_list .list_warp p span:nth-child(2){
    color: #9a9a9a
  }
  .res_panel_warp .type_description .rent{
    width: 100%;
    float: left;
  }
  .res_panel_warp .type_description {
    border-bottom: .5px solid #ccc;
    margin-bottom: 10px;
  }
  .res_panel_warp .type_description .rent .rent_select{
    color: #9a9a9a;
  }
  .res_panel_warp .type_description .res_act{
    width: 100%;
  }
  .res_panel_warp .type_description .res_act span{
    padding-right: 10px;
  }

}

@media only screen and (max-width: 500px) {
  .btn_modal_booking span{
    float: none;
    display: block;
  }
  .bookingModal_sty .ant-btn{
    width: 100%;
    margin-bottom: 10px
  }
}

/* @media only screen and (max-width: 450px) {
  .bookingModal_sty .ant-btn{
    padding: 0 5px;
    font-size: 10px;
    width: 100%;
  }
} */




