<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Tickets
<% end %>

<%= render 'shared/single_panel', card_title: 'View Globaltix Tickets' do %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_globaltix_tickets_path, method: 'get' do %>
        <%= select_tag :status, options_for_select(GlobaltixTicket.statuses.collect { |s| [s[0].humanize, s[0]] }, params[:status]), {include_blank: true} %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Attraction</th>
          <th>Name</th>
          <th>Price</th>
          <th>Markup</th>
          <th>Final Price</th>
          <th>Remark</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @globaltix_tickets.each do |globaltix_ticket| %>
          <tr>
            <td><%= globaltix_ticket.title %></td>
            <td><%= link_to globaltix_ticket.name, admin_globaltix_ticket_path(globaltix_ticket) %></td>
            <td><%= "#{globaltix_ticket.currency}#{globaltix_ticket.price}" %></td>
            <td><%= globaltix_ticket.markup_display %></td>
            <td>MYR<%= globaltix_ticket.final_price %></td>
            <td><%= globaltix_ticket.remark %></td>
            <td><%= globaltix_ticket.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>