<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Tickets
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Globaltix Ticket' do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Attraction id</th>
          <th>Country</th>
          <th>Title</th>
          <th>Description</th>
          <th>Hours of operation</th>
          <th>Term and condition</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @globaltix_attraction.attraction_id %></td>
            <td><%= @globaltix_attraction.country %></td>
            <td><%= @globaltix_attraction.title.truncate(50) %></td>
            <td><%= @globaltix_attraction.description.truncate(50) %></td>
            <td><%= @globaltix_attraction.hours_of_operation.truncate(50) %></td>
            <td><%= @globaltix_attraction.term_and_condition.truncate(50) %></td>
          </tr>
      </tbody>
    </table>
  </div>
  <%= form_for [:admin, @globaltix_ticket], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @globaltix_ticket } %>
    <div class="row">
      <%= f.hidden_field :ticket_id, value: @ticket.id %>
      <%= f.hidden_field :attraction_id, value: @ticket.attraction.id %>
      <%= f.hidden_field :globaltix_attraction_id, value: @globaltix_attraction.id %>
      <%= f.hidden_field :title, value: @ticket.title %>
      <%= f.hidden_field :name, value: @ticket.name %>
      <%= f.hidden_field :currency, value: @ticket.currency %>
      <%= f.hidden_field :price, value: @ticket.price %>
      <%= f.hidden_field :variation, value: @ticket.variation %>
      <%= f.hidden_field :country, value: @ticket.country %>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :title %>
        <%= f.text_field :title, value: @ticket.title class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :name %>
        <%= f.text_field :name, value: @ticket.name class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :variation %>
        <%= f.text_field :variation, value: @ticket.variation class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :country %>
        <%= f.text_field :country, value: @ticket.country class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :currency %>
        <%= f.text_field :currency, value: @ticket.currency class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :price %>
        <%= f.text_field :price, value: @ticket.price class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :markup_category %>
        <%= f.select :markup_category, options_for_select(GlobaltixTicket.markup_categories.collect { |s| [s[0], s[0]] }, selected: @globaltix_ticket.markup_category), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :markup %>
        <%= f.number_field :markup, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :remark %>
        <%= f.text_area :remark, class: 'form-control', rows: "3" %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(GlobaltixTicket.statuses.collect { |s| [s[0], s[0]] }, selected: @globaltix_ticket.status), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
      <!-- <div class="custom-form-group form-group col-sm-12">
      <%= f.label :covers, "Images" %>
      <%= f.fields_for :covers do |cover| %>
        <%= render 'cover_fields', f: cover %>
      <% end %>
      <div class="custom-form-group form-group col-sm-12">
        <%= link_to_add_association 'Add Image', f, :covers %>
      </div>  
    </div> -->
    <div class="custom-form-group form-group col-sm-12">
      <%= f.submit "Create", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn' %>
    </div>
  <% end %>
<% end %>
