<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Activities
<% end %>

<%= render 'shared/single_panel', card_title: 'Select Activities' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag(select_admin_globaltix_tickets_path, method: :get)do %>
        <div class="row">
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:country) %>
            <%= select_tag(:country_id, options_for_select(@countries.collect {|s| [s.name, s.id]}, selected: params[:country_id]), {class: 'custom-form-control form-control'})%>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:keyword) %>
            <%= text_field_tag :keyword, params[:keyword],  {class: 'custom-form-control form-control'}  %>
          </div>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <% if @attractions.present? %>
    <div class="row">
      <div class="col-xs-12 mt20">
        <% @attractions.each do |attraction| %>
          <div class="panel panel-default">
            <a data-toggle="collapse" href='#<%= "attraction-#{attraction.id}" %>'>
              <div class="panel-heading">
                <div class="attraction-img-div">
                  <%= image_tag attraction.image_url(:thumb), class: "attraction-img" %>
                </div>
                <div class="attraction-title">
                  <h4 class="panel-title"><%= attraction.title %></h4>
                </div>
              </div>
            </a>
            <div id='<%= "attraction-#{attraction.id}" %>' class="panel-collapse collapse attraction-collapse">
              <div class="panel-body activities-empty" data-url="<%= activities_admin_globaltix_tickets_path(attraction_id: attraction.id) %>">

                Loading activities...
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @attractions %>
<% end %>