<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Globaltix Tickets
<% end %>

<%= render 'shared/single_panel', card_title: 'Globaltix Ticket Detail' do %>
<div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Attraction id</th>
          <th>Country</th>
          <th>Title</th>
          <th>Description</th>
          <th>Hours of operation</th>
          <th>Term and condition</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @globaltix_attraction.attraction_id %></td>
            <td><%= @globaltix_attraction.country %></td>
            <td><%= @globaltix_attraction.title.truncate(50) %></td>
            <td><%= @globaltix_attraction.description.truncate(50) %></td>
            <td><%= @globaltix_attraction.hours_of_operation.truncate(50) %></td>
            <td><%= @globaltix_attraction.term_and_condition.truncate(50) %></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :title %>
      <%= text_field_tag '', @globaltix_ticket.title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :name %>
      <%= text_field_tag '', @globaltix_ticket.name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :variation %>
      <%= text_field_tag '', @globaltix_ticket.variation, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :country %>
      <%= text_field_tag '', @globaltix_ticket.country, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :currency %>
      <%= text_field_tag '', @globaltix_ticket.currency, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :price %>
      <%= text_field_tag '', @globaltix_ticket.price, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :markup_category %>
      <%= text_field_tag '', @globaltix_ticket.markup_category, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :markup %>
      <%= text_field_tag '', @globaltix_ticket.markup, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :final_price %>
      <%= text_field_tag '', @globaltix_ticket.final_price, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :remark %>
      <%= text_field_tag '', @globaltix_ticket.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :status %>
      <%= text_field_tag '', @globaltix_ticket.status, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <!-- <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Images" %><br>
      <% @globaltix_ticket.covers.each do |cover| %>
        <% if cover.image.present? %>
          <div class="custom-form-group form-group col-sm-4">
            <%= link_to cover.image.url, target: '_blank' do %>
              <% image_tag cover.image.url, class: 'cover-thumbnail' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div> -->

  <%= link_to 'Edit', edit_admin_globaltix_ticket_path(@globaltix_ticket), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>