<% content_for :head do %>
  <title><%= @globaltix_ticket_booking_group.reference_id %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="invoice">
      <div class="col-md-12">
        <%= render_invoice_header %>
        <div class="form-group text-center"><h4>INVOICE</h4></div>
        <table class="table_left" width="70%">
          <tbody>
            <tr valign="top">
              <td width="10px">TO : </td>
              <td class="break-word-300">
                <%= @globaltix_ticket_booking_group.agent_user.full_name.present? ? @globaltix_ticket_booking_group.agent_user.full_name : '' %><br>
                <%= @globaltix_ticket_booking_group.agent_user.address.present? ? @globaltix_ticket_booking_group.agent_user.address : '' %><br>
                <%= "#{@globaltix_ticket_booking_group.agent_user.city} #{@globaltix_ticket_booking_group.agent_user.state} #{@globaltix_ticket_booking_group.agent_user.postal} #{@globaltix_ticket_booking_group.agent_user.country}" %>
              </td>
            </tr>
            <tr>
              <td>TEL : </td>
              <td><%= @globaltix_ticket_booking_group.agent_user.phones.present? ? @globaltix_ticket_booking_group.agent_user.phones.first : '' %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                FAX : <%= @globaltix_ticket_booking_group.agent_user.faxes.present? ? @globaltix_ticket_booking_group.agent_user.faxes.first : '' %>
              </td>
            </tr>
            </tr>
              <td width="10px">ATTN : </td>
              <td><%= @globaltix_ticket_booking_group.agent_user.username.upcase %></td>
            <tr>
          </tbody>
        </table>
        <table class="table_right" width="29%">
          <tbody>
            <tr>
              <td>INVOICE NO</td>
              <td>:</td>
              <td><%= @globaltix_ticket_booking_group.etravel_invoices.last.present? ? @globaltix_ticket_booking_group.etravel_invoices.last.invoice_no : '' %></td>
            </tr>
            <tr>
              <td>ACCT NO</td>
              <td>:</td>
              <td><%= @globaltix_ticket_booking_group.agent_user.code.present? ? @globaltix_ticket_booking_group.agent_user.code : '' %></td>
            </tr>
            <tr>
              <td>BOOK NO</td>
              <td>:</td>
              <td><%= @globaltix_ticket_booking_group.reference_id.present? ? @globaltix_ticket_booking_group.reference_id : '' %></td>
            </tr>
            <tr>
              <td>DATE</td>
              <td>:</td>
              <td><%= @globaltix_ticket_booking_group.etravel_invoices.last.present? ? @globaltix_ticket_booking_group.etravel_invoices.last.created_at.strftime("%d %b %Y") : '' %></td>
            </tr>
          </tbody>
        </table>
        <table width="100%">
          <thead>
            <tr class="invoice_solid_top_bottom">
              <th>PARTICULAR</th>
              <th class="text-center">QTY</th>
              <th class="text-center">PRICE</th>
              <th class="text-right">TOTAL (RM)</th>
            </tr>
          </thead>
          <tbody>
            <% @globaltix_ticket_bookings.each_with_index do |booking, index| %>
            <tr valign="top">
              <td>
                <%= booking.name %><br>
                <%= booking.globaltix_ticket.title %>
              </td>
              <td class="text-center"><%= booking.quantity %></td>
              <td class="text-center"><%= number_to_currency(booking.globaltix_ticket.final_price/booking.quantity, precision: 2, unit: '') %></td>
              <td class="text-right"><%= number_to_currency(booking.total_price, precision: 2, unit: ' ') %></td>
            </tr>
            <% end %>
            <tr>
              <td colspan="4"><hr></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Amount : </td>
              <td class="text-right invoice_solid_top_bottom"><%= number_to_currency(@globaltix_ticket_booking_group.price, precision: 2, unit: '') %></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Payment : </td>
              <td class="text-right invoice_column_bottom_double"><%= number_to_currency(@globaltix_ticket_booking_group.payment.amount, precision: 2, unit: '') %><br></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <hr><br>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= render_invoice_footer %>
        </div>
      </div>
    </div>
  </div>
</page>