<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-puzzle-piece fa-fw"></i>Activity Booking
<% end %>

<%= render 'shared/single_panel', card_title: "Activity Bookings successfully created.".html_safe do %>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <center>
        <i class="fa fa-check-circle fa-fw payment-icon"></i>
        <h4>Payment Successful!</h4>
        <h4>Thank you! Your payment has been successful.</h4>
        <!-- <h4>Ticket voucher had been sent to <%= @globaltix_ticket_booking.agent_user.present? ? @globaltix_ticket_booking.agent_user.email : '' %>.</h4> -->
      </center>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-xs-12 bold">
            <center>
              <h4><%= label_tag '', "Booking Details" %></h4>
            </center>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="col-xs-6 col-sm-offset-2 col-sm-3 bold">
            Booking Program :
          </div>
          <div class="col-xs-6 col-sm-6">
            <%= @globaltix_ticket_booking.globaltix_ticket.title %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-6 col-sm-offset-2 col-sm-3 bold">
            Booking Ref :
          </div>
          <div class="col-xs-6 col-sm-6">
            GT<%= @globaltix_ticket_booking_group.id %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-6 col-sm-offset-2 col-sm-3 bold">
            Booking Date :
          </div>
          <div class="col-xs-6 col-sm-6">
            <%= @globaltix_ticket_booking_group.created_at.strftime("%d/%m/%Y %H:%M") %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-6 col-sm-offset-2 col-sm-3 bold">
            Customer Name :
          </div>
          <div class="col-xs-6 col-sm-6">
            <%= @globaltix_ticket_booking.name %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-xs-6 col-sm-offset-2 col-sm-3 bold">
            Total Payment :
          </div>
          <div class="col-xs-6 col-sm-6">
            MYR <%= @globaltix_ticket_booking_group.payment.amount %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <center>
    <%= link_to 'Home Page', app_path, class: 'btn btn-success', data: {turbolinks: "false"} %>
    <%= link_to 'Booking Page', app_path(anchor: "bookings/activities"), class: 'btn btn-success', data: {turbolinks: "false"} %>
  </center>

<% end %>