<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-lg"></i> Flight Commission
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Leaders Detail' do %>
  <%= link_to('New Flight Commission', new_admin_flight_commission_path, class: 'btn btn-primary')%>
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th class="number">#</th>
            <th>Name</th>
            <th>Airline Iata</th>
            <th>Origin Airport Iata</th>
            <th>Commission </th>
            <th>Commission Category</th>
          </tr>
        </thead>
        <tbody>
          <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*FlightCommission::ADMIN_FLIGHT_COMMISSION_PER_PAGE+1 : 1 %>
          <% @flight_commission.each_with_index do |flight_commission, index| %>
            <tr>
              <td class="number"><%=link_to index + start_seq, admin_flight_commission_path(flight_commission), target: '_blank' %></td>
              <td><%= flight_commission.name %></td>
              <td><%= flight_commission.airline_iata %></td>
              <td><%= flight_commission.origin_airport_iata %></td>
              <td><%= flight_commission.markup_display%></td>
              <td><%= flight_commission.commission_category%></td>              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%= paginate @flight_commission %>
<% end %>