<% content_for :head do %>
  <title><%= @flight_commission.airline_iata %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-lg"></i> Flight Commission
<% end %>

<%= render 'shared/single_panel', card_title: 'Flight Commission Detail' do %>
 <%= form_for [:admin, @flight_commission], html: { role: "form", class: "reminder-departure-form" } do |f| %>
  <%= render partial: 'partials/errors', locals: { target: @flight_commission } %>
    <%= link_to 'View All Flight Commissions', admin_flight_commissions_path, class: 'btn btn-primary' %>
    
    <div class="row mt20 mb20">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :Name %>
        <%= f.text_field :name, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :Airline_Iata %>
        <%= f.text_field :airline_iata, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :Origin %>
        <%= f.text_field :origin_airport_iata, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :commission %>
        <%= f.text_field :commission, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :commission_category %>
        <%= f.select :commission_category, options_for_select(FlightCommission::COMMISSION_TYPES, selected: f.object.commission_category), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
    </div>

    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
    <% end %>
  <% end %>
