<% content_for :head do %>
  <title><%= @flight_commission.airline_iata %> | <%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-plane fa-lg"></i> Flight Commission
<% end %>

<%= render 'shared/single_panel', card_title: 'Flight Commission Detail' do %>
 <%= form_for [:admin, @flight_commission], html: { role: "form", class: "reminder-departure-form" } do |f| %>
  <%= link_to 'View All Flight Commissions', admin_flight_commissions_path, class: 'btn btn-primary' %>

  <div class="row mt20 mb20">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :Name %>
      <%= text_field_tag '', @flight_commission.name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :Airline_Iata %>
      <%= text_field_tag '', @flight_commission.airline_iata, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :origin_airport_iata %>
      <%= text_field_tag '', @flight_commission.origin_airport_iata, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :Commission %>
      <%= number_field_tag '', @flight_commission.commission, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :Commission_Category %>
      <%= text_field_tag '', @flight_commission.commission_category, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>

  <%= link_to 'Edit', edit_admin_flight_commission_path(@flight_commission), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
    <% end %>
  <% end %>
