<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>Payments
<% end %>

<%= render 'shared/single_panel', card_title: 'Payment Status Page' do %>
  <center>
    <i class="fa fa-times-circle fa-fw fail-icon"></i>
    <h4>Failed to process payment. Please try again.</h4>

    <br><br>
    <%= link_to 'Home Page', app_path, class: 'btn btn-success', data: {turbolinks: "false"} %>
  </center>
<% end %>