<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>FPX Payments
<% end %>

<%= render 'shared/single_panel', card_title: "FPX Transaction Receipt".html_safe do %>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <div class="col-xs-3 col-sm-1 bold">
        <br>
        Pay with
      </div>
      <div class="col-xs-3 col-sm-2">
        <%= image_tag "fpx_b2c.png", class: "payment-logo" %>
      </div>
      <div class="col-xs-6 col-sm-9 bold">
        <br>
        (Current and Savings Account)
      </div>
      <br><br><br>
      <div class="col-xs-12 col-sm-12">
        <center>
          <i class="fa fa-times-circle fa-fw fail-icon"></i>
          <h4>Payment Unsuccessful!</h4>
        </center>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-xs-7 col-sm-2">
            &nbsp;
          </div>
          <div class="col-xs-5 col-sm-2 bold">
            Transaction Date :
          </div>
          <div class="col-xs-7 col-sm-8">
            &nbsp;
            <%= params[:fpx_fpxTxnTime].to_datetime.strftime("%d/%m/%Y %H:%M") %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-7 col-sm-2">
            &nbsp;
          </div>
          <div class="col-xs-5 col-sm-2 bold">
            Amount :
          </div>
          <div class="col-xs-7 col-sm-8">
            &nbsp;
            MYR <%= params[:fpx_txnAmount] %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-7 col-sm-2">
            &nbsp;
          </div>
          <div class="col-xs-5 col-sm-2 bold">
            Reference No. :
          </div>
          <div class="col-xs-7 col-sm-8">
            &nbsp;
            <%= params[:fpx_sellerOrderNo] %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-7 col-sm-2">
            &nbsp;
          </div>
          <div class="col-xs-5 col-sm-2 bold">
            Bank Name :
          </div>
          <div class="col-xs-7 col-sm-8">
            &nbsp;
            <%= Payment::FPX_STAGING_BANKLIST[params[:fpx_buyerBankId]].present? ? Payment::FPX_STAGING_BANKLIST[params[:fpx_buyerBankId]] : params[:fpx_buyerBankId] %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-7 col-sm-2">
            &nbsp;
          </div>
          <div class="col-xs-5 col-sm-2 bold">
            FPX Transaction ID :
          </div>
          <div class="col-xs-7 col-sm-8">
            &nbsp;
            <%= params[:fpx_fpxTxnId] %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <center>
    <%= link_to 'Home Page', app_path, class: 'btn btn-success', data: {turbolinks: "false"} %>
  </center>

  <div class="row">
    <div class="col-xs-9 col-sm-9">
        &nbsp;
    </div>
    <div class="col-xs-1 col-sm-1 bold">
      <br>
      Power by
    </div>
    <div class="col-xs-2 col-sm-2">
      <%= image_tag "fpx_b2c.png", class: "payment-logo" %>
    </div>
  </div>

<% end %>