<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>Payments
<% end %>

<%= render 'shared/single_panel', card_title: 'Payment Details' do %>
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Amount</th>
            <th>Net Amount</th>
            <th>Method</th>
            <th>Gateway</th>
            <th>Callback</th>
            <th>Redirect URL</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr >
              <td><%= payment.id %></td>
              <td><%= payment.user_id %></td>
              <td><%= payment.amount %></td>
              <td><%= payment.net_amount %></td>
              <td><%= payment.method %></td>
              <td><%= payment.gateway.humanize %></td>
              <td><%= payment.callback %></td>
              <td><%= payment.redirect_url %></td>
              <td><%= payment.status.humanize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <%= paginate @payments if @payments.present? %>
<% end %>
