<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>Payments
<% end %>

<%= render 'shared/single_panel', card_title: "Payment for #{@payment.taggable.class.name}: #{@payment.taggable.id}" do %>
  <%= form_for @payment, url: payments_path(@payment), method: :post, html: { role: "form" , class: "activity-payment-form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @payment } %>
      <div class="row">
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :gateway %>
          <%= f.select :gateway, options_for_select(Payment.gateways.collect { |s| [s[0].humanize, s[0]] }), {}, {class: 'custom-form-control form-control'} %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :callback %>
          <%= f.select :callback, options_for_select(Payment.callbacks.collect { |s| [s[0].humanize, s[0]] }), {}, {class: 'custom-form-control form-control'} %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :method, "Method" %><br>
          <%= f.radio_button(:method, 'visa', {}) %> Visa&nbsp;&nbsp;
          <%= f.radio_button(:method, 'mastercard', {}) %> Mastercard
        </div>
        <%= f.hidden_field :object_name, value: @payment.taggable.class.name, class: 'custom-form-control form-control' %>
        <%= f.hidden_field :object_id, value: @payment.taggable.id, class: 'custom-form-control form-control' %>
      </div>
      <%= f.submit "Pay", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
