<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>PBB Payments
<% end %>

<%= render 'shared/single_panel', card_title: 'Create PBB Payment' do %>
  <%= form_tag proceed_to_pbb_path, :method => :post do %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :invoice_no %>
        <%= text_field_tag :invoice_no, nil, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :amount %>
        <%= number_field_tag :amount, nil, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :method, "Method" %><br>
        <%= radio_button_tag :method, 'visa', false %> Visa&nbsp;&nbsp;
        <%= radio_button_tag :method, 'mastercard', false %> Mastercard
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :redirect_url, "Redirect URL" %>
        <%= text_field_tag :redirect_url, nil, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <%= submit_tag "Proceed to Pay", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', "", class: 'btn' %>
  <% end %>
<% end %>