<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>PBB Payments
<% end %>

<%= render 'shared/single_panel', card_title: 'PBB Payment Status' do %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= @result %>
      </div>
    </div>
<% end %>