<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>PBB Payments
<% end %>

<%= render 'shared/single_panel', card_title: 'Redirecting to PBB Payment Page' do %>
  <center>
    <h2>Redirecting to PBB Payment Page</h2>
    <h4>Please do not refresh this page...</h4>
  </center>

  <%= form_tag @payment_url, :method => :post, :name => 'f1' do %>
    <%= hidden_field_tag :merID, @merchant_id, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :invoiceNo, @invoice_no, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :amount, @amount, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :securityMethod, "SHA1", class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :securityKeyReq, @security_key, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :postURL, @redirect_url, class: 'custom-form-control form-control' %>
  <% end %>

  <script type="text/javascript">document.f1.submit();</script>
<% end %>