<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>FPX Payments
<% end %>

<%= render 'shared/single_panel', card_title: 'Redirecting to FPX Payment Page' do %>
  <center>
    <h2>Redirecting to FPX Payment Page</h2>
    <h4>Please do not refresh this page...</h4>
  </center>

  <%= form_tag @payment_url, :method => :post, :name => 'f1' do %>
    <%= hidden_field_tag :fpx_msgType, @msg_type, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_msgToken, @msg_token, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_sellerExId, @seller_ex_id, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_sellerExOrderNo, @invoice_no, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_sellerTxnTime, @transaction_time, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_sellerOrderNo, @invoice_no, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_sellerId, @seller_id, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_sellerBankCode, @seller_bankcode, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_txnCurrency, 'MYR', class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_txnAmount, @amount, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_buyerEmail, @buyer_email, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_checkSum, @checksum, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_buyerBankId, @buyer_bank_id, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_productDesc, @product_desc, class: 'custom-form-control form-control' %>
    <%= hidden_field_tag :fpx_version, @version, class: 'custom-form-control form-control' %>
  <% end %>

  <script type="text/javascript">document.f1.submit();</script>
<% end %>