<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-credit-card fa-fw"></i>Payments
<% end %>

<%= render 'shared/single_panel', card_title: 'Redirecting to Payment Page' do %>
  <center>
    <h2>Redirecting to Payment Page</h2>
    <h4>Please do not refresh this page...</h4>
  </center>
<% end %>