<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gear fa-fw"></i> Travelb2b Settings
<% end %>

<%= render 'shared/single_panel', card_title: 'View Travelb2b Settings' do %>
  <%= form_for(Setting.new, url: update_travelb2b_admin_settings_path) do |f| %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :tagline %>
        <%= f.text_field :tagline, value: Setting.tagline, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3 ">
        <%= f.label :activity_dta_markup %>
        <%= f.text_field :activity_dta_markup, value: Setting.activity_dta_markup, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-3 ">
        <%= f.label :hotel_dta_markup %>
        <%= f.text_field :hotel_dta_markup, value: Setting.hotel_dta_markup, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', travelb2b_admin_settings_path, class: 'btn' %>
  <% end %>
<% end %>