<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gear fa-fw"></i> Travelb2b Settings
<% end %>

<%= render 'shared/single_panel', card_title: 'View Travelb2b Settings' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :tagline %>
      <%= text_field_tag '', Setting.tagline, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :activity_dta_markup %>
      <%= text_field_tag '', Setting.activity_dta_markup, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :hotel_dta_markup %>
      <%= text_field_tag '', Setting.hotel_dta_markup, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to 'Edit', edit_travelb2b_admin_settings_path, class: 'btn btn-primary' %>
    </div>
<% end %>