<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :category %>
    <%= f.text_field :category, class: 'custom-form-control form-control' %>
  </div>  
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :code_type %>
    <%= f.text_field :code_type, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: "3" %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :terms_and_conditions %>
    <%= f.text_area :terms_and_conditions, class: 'form-control', rows: "3" %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :cost_price %>
    <%= f.number_field :cost_price, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :price %>
    <%= f.number_field :price, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :blockout_dates %>
    <%= f.text_field :blockout_dates_text, class: 'custom-form-control form-control', data: {role: 'tagsinput'}, placeholder: "dd/mm/yyyy - dd/mm/yyyy" %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Price", f %>
  </div>
</div>