<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-puzzle-piece fa-fw"></i>Activities
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Activity' do %>
  <%= form_for [:admin, @activity], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @activity } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :highlight %>
        <%= f.text_field :highlight, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :terms_and_conditions %>
        <%= f.text_area :terms_and_conditions, class: 'form-control', rows: "4" %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :operation_days %><br>
        <%= f.collection_check_boxes :operation_days, Date::DAYNAMES.collect { |s| [Date.parse(s).strftime('%a'), s] }, :first, :last do |b| %>
          <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
            <%= b.check_box() + " #{b.text}" %>
          <% end %>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :categories %><br>
        <%= f.collection_check_boxes :categories, Activity::CATEGORIES.collect { |s| [s, s] }, :first, :last do |b| %>
          <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
            <%= b.check_box() + " #{b.text}" %>
          <% end %>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :booking_date_start %>
        <%= f.datetime_field :booking_date_start, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :booking_date_end %>
        <%= f.datetime_field :booking_date_end, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :travelling_date_start %>
        <%= f.datetime_field :travelling_date_start, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :travelling_date_end %>
        <%= f.datetime_field :travelling_date_end, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :min_booking %>
        <%= f.number_field :min_booking, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :max_booking %>
        <%= f.number_field :max_booking, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :supplier %>
        <%= f.text_field :supplier, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :country %>
        <%= f.country_select(:country, { format: :with_name, include_blank: 'Select a country', selected: f.object.country }, { class: 'custom-form-control form-control' }) %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Activity.statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.status), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :languages %><br>
        <%= f.collection_check_boxes :languages, Activity::LANGUAGES.collect { |s| [s, s] }, :first, :last do |b| %>
          <%= content_tag :div, class: 'col-sm-4 col-xs-6' do %>
            <%= b.check_box() + " #{b.text}" %>
          <% end %>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :duration %>
        <%= f.text_field :duration, class: 'custom-form-control form-control'%>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :cancellation %>
        <%= f.select :cancellation, options_for_select(Activity.cancellations.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.cancellation), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :e_ticketing %>
        <%= f.select :e_ticketing, options_for_select(Activity.e_ticketings.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.e_ticketing), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :travel_date_type %>
        <%= f.select :travel_date_type, options_for_select(Activity.travel_date_types.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.travel_date_type), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :ticket_type %>
        <%= f.select :ticket_type, options_for_select(Activity.ticket_types.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.ticket_type), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :transfer %>
        <%= f.select :transfer, options_for_select(Activity.transfers.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.transfer), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :meeting_point %>
        <%= f.select :meeting_point, options_for_select(Activity.meeting_points.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.meeting_point), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :confirmation_time %>
        <%= f.select :confirmation_time, options_for_select(Activity.confirmation_times.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.confirmation_time), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(Activity.categories.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.category), {}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= f.label :advance_booking_days %>
        <%= f.number_field :advance_booking_days, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :activity_prices %>
        <%= f.fields_for :activity_prices do |activity_price| %>
          <%= render 'activity_price_fields', f: activity_price %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Price', f, :activity_prices %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :covers, "Images" %>
        <%= f.fields_for :covers, @activity.covers do |cover| %>
          <%= render 'cover_fields', f: cover %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Image', f, :covers %>
        </div>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
