<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-puzzle-piece fa-fw"></i>Activities
<% end %>

<%= render 'shared/single_panel', card_title: 'View Activities' do %>
  <%= link_to('New Activity', new_admin_activity_path, class: 'btn btn-primary')%><br>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag(admin_activities_path, method: :get)do %>
        <div class="row">
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:country) %>
            <%= select_tag(:country, options_for_select(@countries, selected: params[:country]), {include_blank: true, class: 'custom-form-control form-control'})%>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:title) %>
            <%= text_field_tag :title, params[:title],  {class: 'custom-form-control form-control'}  %>
          </div>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Title</th>
          <th>Country</th>
          <th>Operating Days</th>
          <th>Categories</th>
          <th>Booking Date</th>
          <th>Min Booking</th>
          <th>Max Booking</th>
          <th>Supplier</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= link_to activity.title.present? ? activity.title : "Untitled", admin_activity_path(activity) %></td>
            <td><%= activity.country %></td>
            <td><%= activity.join_operation_days %></td>
            <td class="caption"><div class="trim caption" data-toggle="tooltip" data-placement="top" title="<%= activity.join_categories %>"><%= activity.join_categories %></div></td>
            <td><%= activity.booking_date_start.try(:strftime, "%F %H:%M %p") %> - <%= activity.booking_date_end.try(:strftime, "%F %H:%M %p") %></td>
            <td><%= activity.min_booking %></td>
            <td><%= activity.max_booking %></td>
            <td><%= activity.supplier %></td>
            <td><%= activity.status.humanize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @activities %>
<% end %>