<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-4">
    <%= b.label :name %>
    <%= b.text_field :name, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= b.label :mobile %>
    <%= b.number_field :mobile, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= b.label :email %>
    <%= b.email_field :email, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= b.label :depart_date %>
    <%= b.date_field :depart_date, class: 'custom-form-control form-control', min: Date.today %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= b.label :return_date %>
    <%= b.date_field :return_date, class: 'custom-form-control form-control', min: Date.today %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= b.label :quantity %>
    <%= b.number_field :quantity, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= b.label :ship_way, "Delivery Method" %>
    <%= b.select :ship_way, options_for_select(RoamingmanBooking.deliver_method, selected: b.object.ship_way), {}, {class: 'custom-form-control form-control roamingman_delivery_method'} %>
  </div>
  <% if b.object.ship_way == "self_pickup" %>
    <div class="roamingman-self_pickup-edit">
      <div class="field custom-form-group form-group col-sm-4">
        <%= b.label :deliver_point_id %>
        <%= b.select :deliver_point_id, options_for_select(RoamingmanBooking::DELIVER_POINT.invert, selected: b.object.deliver_point_id), {}, {class: 'custom-form-control form-control'} %>
      </div>
    </div>
    <div class="roamingman-delivery">
      <div class="custom-form-group form-group col-sm-6">
        <%= b.label :address %>
        <%= b.text_area :address, class: 'form-control', rows: 3 %>
      </div>
      <div class="custom-form-group form-group col-sm-2">
        <%= b.label :postcode %>
        <%= b.number_field :postcode, class: 'custom-form-control form-control' %>
      </div>
    </div>
  <% elsif b.object.ship_way == "delivery" %>
    <div class="roamingman-self_pickup">
      <div class="field custom-form-group form-group col-sm-4">
        <%= b.label :deliver_point_id %>
        <%= b.select :deliver_point_id, options_for_select(RoamingmanBooking::DELIVER_POINT.invert, selected: b.object.deliver_point_id), {}, {class: 'custom-form-control form-control'} %>
      </div>
    </div>
    <div class="roamingman-delivery-edit">
      <div class="custom-form-group form-group col-sm-6">
        <%= b.label :address %>
        <%= b.text_area :address, class: 'form-control', rows: 3 %>
      </div>
      <div class="custom-form-group form-group col-sm-2">
        <%= b.label :postcode %>
        <%= b.number_field :postcode, class: 'custom-form-control form-control' %>
      </div>
    </div>
  <% end %>
  <div class="custom-form-group form-group col-sm-3">
    <%= b.label :is_send_sms, "Send SMS Confirmation?" %><br>
    <%= b.radio_button(:is_send_sms, :yes, {checked: "yes" == b.object.is_send_sms}) %> Yes&nbsp;&nbsp;&nbsp;
    <%= b.radio_button(:is_send_sms, :no, {checked: "no" == b.object.is_send_sms}) %> No
  </div>
  <div class="custom-form-group form-group col-sm-3">
    <%= b.label :is_send_email, "Send Email Confirmation?" %><br>
    <%= b.radio_button(:is_send_email, :yes, {checked: "yes" == b.object.is_send_email}) %> Yes&nbsp;&nbsp;&nbsp;
    <%= b.radio_button(:is_send_email, :no, {checked: "no" == b.object.is_send_email}) %> No
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= b.label :remark %>
    <%= b.text_field :remark, class: 'custom-form-control form-control' %>
  </div>
</div>