<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Roamingman Bookings' do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Countries & Regions Covered</th>
          <th>Type</th>
          <th>Data Rules</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="code"><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.code %></td>
          <td class="code"><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.name %></td>
          <td class="caption"><div class="trim caption" data-toggle="tooltip" data-placement="top" title="<%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.join_countries %>"><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.join_countries %></div></td>
          <td><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.package_type %></td>
          <td><%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.data_rules %></td>
          <td>MYR <%= @roamingman_booking_group.roamingman_bookings.order(:id).first.roamingman_package.retail_price %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= form_for [:admin, @roamingman_booking_group], html: { role: "form", class: 'roamingman-booking-edit-form' } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @roamingman_booking_group } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :price, "Total Price" %>
        <%= f.text_field :price, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :remark %>
        <%= f.text_field :remark, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :deposit_mode %>
        <%= text_field_tag '', @roamingman_booking_group.deposit_mode.humanize, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :deposit_amount %>
        <%= text_field_tag '', @roamingman_booking_group.deposit_amount, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :last_edited_user_id, "Last edited by" %>
        <%= text_field_tag '', @roamingman_booking_group.last_edited_user.present? ? @roamingman_booking_group.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :last_edited_at %>
        <%= text_field_tag '', @roamingman_booking_group.last_edited_at.present? ? @roamingman_booking_group.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>

    <div class="row">
      <% i = 0 %>
      <%= f.fields_for :roamingman_bookings, @roamingman_booking_group.roamingman_bookings.visible do |booking| %>
        <% i = i + 1 %>
          <%= f.label "Customer #{i}, Ref: #{booking.object.id}", class: "col-sm-12 booking-group-label" %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'admin_roamingman_booking_fields', b: booking %>
          </div>
      <% end %>
    </div>

    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>