<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-wifi fa-fw"></i>Roamingman Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Roamingman Bookings: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present?  %>
  <% card_title = "View Roamingman Bookings: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Roamingman Bookings: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Roamingman Bookings' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_roamingman_booking_groups_path, method: 'get' do %>
        Booked From <%= date_field_tag :begin, params[:begin] %> Booked To <%= date_field_tag :end, params[:end] %><br>
        Depart From <%= date_field_tag :depart_begin, params[:depart_begin] %> Depart To <%= date_field_tag :depart_end, params[:depart_end] %><br>
        <%= text_field_tag :package_code, params[:package_code], placeholder: 'Package Code' %>
        <%= text_field_tag :name, params[:name], placeholder: 'Customer Name' %>
        <%= text_field_tag :country, params[:country], placeholder: 'Country' %>
        <%= text_field_tag :booked_by, params[:booked_by], placeholder: 'Booked By' %>
        <%= number_field_tag :booking_id, params[:booking_id], placeholder: 'Booking Ref' %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Grouping ID</th>
          <th>Name</th>
          <th>Package Code</th>
          <th>Quantity</th>
          <th class="number">Total Price</th>
          <th class="number">Wifi ID</th>
          <th class="number">Payment Method</th>
          <th class="number">Payment Status</th>
          <th>Booked by</th>
          <th class="number">Booked at</th>
          <th class="number">Remark</th>
          <th>Url</th>
        </tr>
      </thead>
      <% if @roamingman_booking_groups.present? %>
        <tbody>
          <% @roamingman_booking_groups.each do |group| %>
            <tr>
              <td><%= link_to group.id, admin_roamingman_booking_group_path(group) %></td>
              <% if group.roamingman_bookings.present? %>
                <td><%= group.roamingman_bookings.order(:id).first.name %></td>
                <td><%= link_to group.roamingman_bookings.order(:id).first.roamingman_package.code, admin_roamingman_package_path(group.roamingman_bookings.order(:id).first.roamingman_package.id) %></td>
                <td><%= group.total_quantity %></td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
              <td>MYR <%= group.price %></td>
              <td><%= group.roamingman_bookings.first.oms_order_id  %></td>
              <td><%= group.payment.present? ? group.payment.gateway_text : '' %></td>
              <td><%= group.payment.present? ? group.payment.status.humanize : '' %></td>
              <% if group.roamingman_bookings.present? %>
                <td><%= group.roamingman_bookings.order(:id).first.agent_user.username %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
              <td><%= group.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td><div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= group.remark %>"><%= group.remark %></div></td>
              <% if group.etravel_invoices.present? %>
              <td><%= link_to group.etravel_invoices.first.invoice_no, invoice_roamingman_booking_group_path(group),  target: '_blank' %></td>
              <% else %>
              <td> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>

  <%= paginate @roamingman_booking_groups if @roamingman_booking_groups.present? %>
<% end %>