<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-puzzle-piece fa-fw"></i>Activity Booking
<% end %>

<%= render 'shared/single_panel', card_title: "New booking for Activity : #{@activity.title}".html_safe do %>
  <%= form_tag activity_activity_bookings_path, method: :post, class: "activity-booking-form" do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @activity_booking_group } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <h4><%= @activity.title.present? ? @activity.title : "Untitled" %></h4>
      </div>
      
      <div class="col-sm-12 cover-div">
        <div id="cover-slick">
          <% if @activity.covers.present? %>
            <% @activity.covers.each do |cover| %>
                <div class="custom-form-group form-group col-sm-12">
                  <%= link_to "" do %>
                    <% image_tag cover.image.url, class: 'cover-activity' %>
                  <% end %>
                </div>  
            <% end %>
            <% else %>
            <div class="custom-form-group form-group col-sm-12">
              <%= link_to "" do %>
                <% image_tag 'default-image.png', class: 'cover-activity' %>
              <% end %>
            </div>  
          <% end %>
        </div>
      </div>
      <% if @activity.highlight.present? %>
        <div class="custom-form-group form-group col-sm-12">
          <%= label_tag '', "Highlight" %><br>
          <%= @activity.highlight %>
        </div>
      <% end %>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Destination" %><br>
        <%= @activity.country %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Operation Days" %><br>
        <%= @activity.join_operation_days %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Description" %><br>
        <%= simple_format(@activity.description) %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Terms and Conditions" %><br>
        <%= simple_format(@activity.terms_and_conditions) %>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-sm-2">
        <%= label_tag '', "Travel Date" %>
      </div> 
      <div class="col-sm-4">
        <%= date_field_tag :travel_date, params[:travel_date], class: 'custom-form-control form-control', min: @activity.travelling_date_start.try(:strftime, "%Y-%m-%d"), max: @activity.travelling_date_end.try(:strftime, "%Y-%m-%d") %>
      </div>  
      <div class="col-sm-6">
        &nbsp;
      </div>
      <div class="col-sm-12">
        <%= label_tag '', "No of Package(s)" %><br>
        <% @activity.activity_prices.each do |price| %>
          <div class="col-sm-2">
            <%= label_tag '', "#{price.category}", class: 'custom-form-control' %>
          </div>  
          <div class="col-sm-1">
            <%= number_field_tag "price_#{price.category}", '', class: 'custom-form-control form-control quantity', data: { price: price.price }, min: 1 %>
          </div> 
          <div class="col-sm-9">
            <p class="custom-form-control">x MYR <%= price.price %></p>
          </div>
        <% end %>
        
        <div class="col-sm-2">
          <%= label_tag '', "Total Amount", class: 'custom-form-control' %>
        </div>  
        <div class="col-sm-2">
          <b><p class="custom-form-control" id="total-amount">MYR 0.00</p></b>
        </div> 
        <div class="col-sm-8">
          &nbsp;
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Traveller Details" %>
        <% @activity_bookings.each_with_index do |booking, index| %>
          <%= fields_for 'activity_bookings[]', booking do |activity_booking| %>
            <%= render 'activity_booking_fields', f: activity_booking %>
          <% end %>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Payment Method" %>
        <%= fields_for 'payment', @payment do |payment| %>
          <%= render partial: "partials/payment_form", locals: {f: payment} %>
        <% end %>
      </div>
      <div class="mt20 custom-form-group form-group col-sm-12">
        <%= submit_tag 'Book Now', class: 'btn btn-primary book-button' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    </div>
  <% end %> 
<% end %>
