<style type="text/css">
  tbody:before {
    /* This doesn't work because of border-collapse */
    line-height:1em;
    content:".";
    color:white; /* bacground color */
    display:block;
  }

  .th-details {
    width: 200px;
  }

  .td-colon {
    width: 50px;
  }
</style>

<div class="row">
  <table class="table">

    <thead style="padding-bottom: 10px;">
      <tr>
        <th class="th-details" align="left">Accommodation Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Hotel</td>
        <td class="td-colon">:</td>
        <td><%= @booking.hotel.hotel_name %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td class="td-colon">:</td>
        <td><%= @booking.hotel.address %></td>
      </tr>
    </tbody>

  </table>
</div>

<div class="row" style="padding-top: 25px;">
  <table class="table">

    <thead style="padding-bottom: 10px;">
      <tr>
        <th class="th-details" align="left">Service Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Confirmation No.</td>
        <td class="td-colon">:</td>
        <td><%= @booking.confirmation_no %></td>
      </tr>
      <tr>
        <td>Check-in Date</td>
        <td class="td-colon">:</td>
        <td><%= @booking.check_in.strftime("%d %b %Y") %></td>
      </tr>
      <tr>
        <td>Check-out Date</td>
        <td class="td-colon">:</td>
        <td><%= @booking.check_out.strftime("%d %b %Y") %></td>
      </tr>
      <tr>
        <td>Guest(s) Info</td>
        <td class="td-colon">:</td>
        <td><%= @booking.guests.map{ |t| "#{t.title}. #{t.first_name} #{t.last_name}" }.join(', ') %></td>
      </tr>
      <tr>
        <td>Guest Email</td>
        <td class="td-colon">:</td>    
        <td><%= @booking.address_info[:email] %></td>   
      </tr>
      <tr>
        <td>Guest Contact No.</td>
        <td class="td-colon">:</td>    
        <td><%= @booking.address_info[:phone_no] %></td>   
      </tr>
      <tr>
        <td>Room Qty</td>
        <td class="td-colon">:</td>    
        <td><%= @booking.no_of_rooms %></td>   
      </tr>
      <tr>
        <td>Room Type</td>
        <td class="td-colon">:</td>    
        <td><%= @booking.rooms.map{|x| x['room_type_name']}.uniq.join(',') %></td>   
      </tr>
      <tr>
        <td>Agent Details</td>
        <td class="td-colon">:</td>    
        <td><%= @booking.agent_user.present? ? "#{@booking.agent_user.full_name}" : '' %></td>   
      </tr>
    </tbody>

  </table>
</div>

<div class="row">
  <p><b>Cancellation Policy</b></p>
  <%= raw @booking.cancellation_policies %>
</div>

