<div class="nested-fields">
  <div class="custom-form-group form-group col-sm-12">
      <%= f.label :double_room %>
      <%= f.hidden_field :room_type, value: 'double_room' %>
      <div class="custom-form-group form-group col-sm-12">
      <%= f.fields_for :bookings do |booking| %>
        
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 1</label>
            <%= booking.select :guest_1, options_for_select(@booking_adult_child_twin.map{|b| [b.name, b.id] }, selected: f.object.guest_1.try(:id)), {include_blank: true},{ class: 'custom-form-control form-control guest_selection' } %>
          </div>
        
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 2</label>
            <%= booking.select :guest_2, options_for_select(@booking_adult_child_twin.map{|b| [b.name, b.id] }, selected: f.object.guest_2.try(:id)), {include_blank: true},{ class: 'custom-form-control form-control guest_selection' } %>
          </div>

        <% if @booking_group.bookings.visible.map(&:category).uniq.include?("child_with_bed" || "child_no_bed") %>
          
            <div class="custom-form-group form-group col-sm-3">
              <label>Select Guest 3 (Extra With Bed)</label>
              <%= booking.select :guest_3, options_for_select(@booking_child_with_and_without_bed.map{|b| [b.name, b.id] }, selected: f.object.guest_3.try(:id)), {include_blank: true},{ class: 'custom-form-control form-control guest_selection' } %>
            </div>
          
            <div class="custom-form-group form-group col-sm-3">
              <label>Select Guest 4 (Extra Without Bed)</label>
              <%= booking.select :guest_4, options_for_select(@booking_child_with_and_without_bed.map{|b| [b.name, b.id] }, selected: f.object.guest_4.try(:id)), { include_blank: true},{ class: 'custom-form-control form-control guest_selection' } %>
            </div>

        <% end %>
      <% end %>
    </div>
  </div>
  <div class="custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove room", f %>
  </div>
</div>