
  <div class="nested-fields">
    <div class="custom-form-group form-group col-sm-12">
      <%= f.label :single_room %>
      <%= f.hidden_field :room_type, value: 'single_room' %>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.fields_for :bookings do |booking| %>
          <div class="custom-form-group form-group col-sm-3">
            <label>Select Guest 1</label>
            <%= booking.select :guest_1, options_for_select(@booking_adult_child_twin.map{|b| [b.name, b.id] }, selected: f.object.guest_1.try(:id)), {include_blank: true},{ class: 'custom-form-control form-control guest_selection' } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= link_to_remove_association "Remove room", f %>
    </div>
  </div>

