<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-bed fa-fw"></i> Booking Rooms
<% end %>

<%= render 'shared/single_panel', card_title: 'Booking Rooms' do %>
  
    <div class="custom-form-group form-group col-sm-12">
      <h3>Single Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :single_room).map(&:bookings).map{|booking|booking.as_json(only: [:id, :name])}.each_with_index do |bookings, index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Single room <%= index + 1 %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% bookings.each_with_index do |booking, index| %>
              <div class="custom-form-group form-group col-sm-3">
                <label>Guest <%= index + 1 %></label>
                <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %>">               
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <h3>Double Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :double_room).map(&:bookings).map{|booking|booking.as_json(only: [:id, :name])}.each_with_index do |bookings, index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Double room <%= index + 1 %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% bookings.each_with_index do |booking, index| %>
              <div class="custom-form-group form-group col-sm-3">
                <label>Guest <%= index + 1 == 3 ? "#{index + 1} (Extra With Bed)" : index + 1 == 4 ? "#{index + 1} (Extra Without Bed)" : index + 1 %></label>
                <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %>">               
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <h3>Twin Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :twin_room).map(&:bookings).map{|booking|booking.as_json(only: [:id, :name])}.each_with_index do |bookings, index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Twin room <%= index + 1 %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% bookings.each_with_index do |booking, index| %>
              <div class="custom-form-group form-group col-sm-3">
                <label>Guest <%= index + 1 == 3 ? "#{index + 1} (Extra With Bed)" : index + 1 == 4 ? "#{index + 1} (Extra Without Bed)" : index + 1 %></label>
                <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %>">               
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="custom-form-group form-group col-sm-12">
      <h3>Triple Room</h3>
      <hr />
      <% @tour.booking_rooms.where(room_type: :triple_room).map(&:bookings).map{|booking|booking.as_json(only: [:id, :name])}.each_with_index do |bookings, index| %>
        <div class="custom-form-group form-group col-sm-12">
          <label>Triple room <%= index + 1 %></label>
          <div class="custom-form-group form-group col-sm-12">
            <% bookings.each_with_index do |booking, index| %>
              <div class="custom-form-group form-group col-sm-3">
                <label>Guest <%= index + 1 %></label>
                <input type="text" disabled="true" class="custom-form-control form-control" value="<%= booking['name'].present? ? booking['name'].humanize : '' %>">               
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Edit", edit_booking_rooms_booking_group_path(@booking_group), class: 'btn btn-primary' %>
    <%= link_to 'Back', booking_group_path(@booking_group), class: 'btn' %>
<% end %>