<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-bed fa-fw"></i> Booking Rooms
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Booking Rooms' do %>
  <%= form_for @tour, html: { role: "form" }, url: { action: "update_booking_rooms", method: "post" } do |f| %>
    <div class="row" id="booking_room_form">

      <div class="custom-form-group form-group col-sm-12">
        <h3>Single Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :single_room) %>
        <%= f.fields_for :booking_rooms, @booking_group.booking_rooms.where(room_type: :single_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'single_booking_room_fields', f: br %>
          </div>
        <% end %>

        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add single room', f, :booking_rooms, partial: 'single_booking_room_fields', class: 'btn btn-warning', id: 'add_single_room' %>
        </div>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <h3>Double Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :double_room) %>
        <%= f.fields_for :booking_rooms, @booking_group.booking_rooms.where(room_type: :double_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'double_booking_room_fields', f: br %>
          </div>
        <% end %>

        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add double room', f, :booking_rooms, partial: 'double_booking_room_fields', class: 'btn btn-warning', id: 'add_double_room' %>
        </div>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <h3>Twin Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :twin_room) %>
        <%= f.fields_for :booking_rooms, @booking_group.booking_rooms.where(room_type: :twin_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'twin_booking_room_fields', f: br %>
          </div>
        <% end %>
        
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add twin room', f, :booking_rooms, partial: 'twin_booking_room_fields', class: 'btn btn-warning', id: 'add_twin_room' %>
        </div>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <h3>Triple Room</h3>
        <hr />
        <% f.object.booking_rooms.where(room_type: :triple_room) %>
        <%= f.fields_for :booking_rooms, @booking_group.booking_rooms.where(room_type: :triple_room) do |br| %>
          <div class="custom-form-group form-group col-sm-12 booking-group-form">
            <%= render 'triple_booking_room_fields', f: br %>
          </div>
        <% end %>
        
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add triple room', f, :booking_rooms, partial: 'triple_booking_room_fields', class: 'btn btn-warning', id: 'add_triple_room' %>
        </div>
      </div>

    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', booking_rooms_booking_group_path(@booking_group), class: 'btn' %>
  <% end %>
<% end %>