<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<%= render 'shared/single_panel', card_title: "Edit Group:#{@booking_group.code}" do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Code</th>
          <th>Caption</th>
          <th>Caption(Ch)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tour.departure_date.strftime("%d/%m/%Y %a") %></td>
          <td><%= link_to @tour.code, tour_path(@tour) %></td>
          <td><%= @tour.caption %></td>
          <td><%= @tour.other_caption %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= form_for [@booking_group], html: { role: "form", class: "edit-booking-form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @booking_group } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :code %>
        <%= f.text_field :code, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= f.label :deposit %>
        <%= f.number_field :deposit, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :remaining_balance %>
        <%= text_field_tag '', @booking_group.price - @booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="field custom-form-group form-group col-sm-6">
        <%= label_tag :agent_rep %>
        <%= text_field_tag '', @booking_group.bookings.first.present? ? @booking_group.bookings.first.agent_user.present? ? @booking_group.bookings.first.agent_user.username : @booking_group.bookings.first.sale_rep : '', class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="field custom-form-group form-group col-sm-6">
        <%= label_tag :booked_by %>
        <%= text_field_tag '', @booking_group.bookings.first.present? ? @booking_group.bookings.first.initiator_user.try(:username) : '', class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="field custom-form-group form-group col-sm-6">
        <%= label_tag :sales_person %>
        <%= text_field_tag '', @booking_group.bookings.first.present? ? @booking_group.bookings.first.sub_sale_rep : '', class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="field custom-form-group form-group col-sm-6">
        <%= f.label :insurance_receiver, "Receiver's email address" %>
        <%= f.email_field :insurance_receiver, class: 'custom-form-control form-control' %>
      </div>
      <% i = 0 %>
      <%= f.fields_for :bookings, @booking_group.bookings.visible do |booking| %>
        <% i = i + 1 %>
        <%= f.label "Guest #{i}, Ref: #{booking.object.id}", class: "col-sm-12 booking-group-label" %>
        <div class="custom-form-group form-group col-sm-12 booking-group-form">
          <%= render 'booking_fields', f: booking %>
        </div>
      <% end %>
    </div>

    <% unless @tour.cut_off? %>
      <%= f.submit "Update", class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
    
  <% end %>
<% end %>
