<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'Tour Detail' do %>
  <%= link_to 'Print', booking_groups_path(print: true), class: 'btn btn-primary', target: '_blank' %>

  <div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag booking_groups_path, method: 'get' do %>
        <div class="form-group">
          Booked By : From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        </div>

        <div class="form-group">
          Departure Date : From <%= date_field_tag :begin_departure_date, params[:begin_departure_date] %> To <%= date_field_tag :end_departure_date, params[:end_departure_date] %>
        </div>
        <div class="form-group">
          <%= text_field_tag :name, params[:name], placeholder: 'Name' %>
          <%= text_field_tag :contient_country, params[:contient_country], placeholder: 'Country' %>
          <%= text_field_tag :tour_code, params[:tour_code], placeholder: 'Tour Code' %>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12">
    <% if @booking_datas.present? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-3 mt20">
            <table class="table table-bordered table-condensed">
              <tr>
                <th>Total Pax </td>
                <td><%= number_with_delimiter @booking_datas[:count] %></td>
              </tr>
              <tr>
                <th>Total Amount</td>
                <td><%= number_with_delimiter @booking_datas[:sum_price] %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Grouping</th>
            <th>Name</th>
            <th>Price</th>
            <th>Pax</th>
            <th>Deposit</th>
            <th>Tour Code</th>
            <th>Tour Caption</th>
            <th>Tour Departure</th>
            <th>Booked at</th>
          </tr>
        </thead>
        <tbody>
          <% @booking_groups.each do |group| %>
            <tr>
              <td><%= link_to group.code, booking_group_path(group) %></td>
              <td>
                <%= group.bookings.first.name %>
                <% if group.infant_bookings.count > 0 %>
                  | <%= group.infant_bookings.count %><i class="fa fa-child"></i>
                <% end %>
              </td>
              <td><%= group.bookings.visible.map(&:price).inject(&:+).to_i %></td>
              <td><%= group.bookings.visible.count %></td>
              <td><%= group.deposit %></td>
              <td><%= link_to group.tour.code, tour_path(group.tour) if group.bookings.present? %></td>
              <td><%= group.tour.caption %></td>
              <td><%= group.tour.departure_date.strftime("%d/%m/%Y %a") %></td>
              <td><%= group.bookings.first.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @booking_groups if @booking_groups.present? %>
<% end %>
