<% content_for :head do %>
  <title><%= @booking_group.reference_id %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="invoice">
      <div class="col-md-12">
        <%= render_invoice_header %>
        <div class="form-group text-center"><h4>INVOICE</h4></div>
        <table class="table_left" width="70%">
          <tbody>
            <tr valign="top">
              <td width="10px">TO : </td>
              <td class="break-word-300">
                <%= @booking_group.agent_user.full_name.present? ? @booking_group.agent_user.full_name : '' %><br>
                <%= @booking_group.agent_user.address.present? ? @booking_group.agent_user.address : '' %><br>
                <%= "#{@booking_group.agent_user.city} #{@booking_group.agent_user.state} #{@booking_group.agent_user.postal} #{@booking_group.agent_user.country}" %>
              </td>
            </tr>
            <tr>
              <td>TEL : </td>
              <td><%= @booking_group.agent_user.phones.present? ? @booking_group.agent_user.phones.first : '' %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                FAX : <%= @booking_group.agent_user.faxes.present? ? @booking_group.agent_user.faxes.first : '' %>
              </td>
            </tr>
            </tr>
              <td width="10px">ATTN : </td>
              <td><%= @booking_group.agent_user.username.upcase %></td>
            <tr>
          </tbody>
        </table>
        <table class="table_right" width="29%">
          <tbody>
            <tr>
              <td>INVOICE NO</td>
              <td>:</td>
              <td><%= @etravel_invoice.present? ? @etravel_invoice.invoice_no : '' %></td>
            </tr>
            <tr>
              <td>ACCT NO</td>
              <td>:</td>
              <td><%= @booking_group.agent_user.code.present? ? @booking_group.agent_user.code : '' %></td>
            </tr>
            <tr>
              <td>BOOK NO</td>
              <td>:</td>
              <td><%= @booking_group.reference_id.present? ? @booking_group.reference_id : '' %></td>
            </tr>
            <tr>
              <td>DATE</td>
              <td>:</td>
              <td><%= @etravel_invoice.present? ? @etravel_invoice.created_at.strftime("%d %b %Y") : '' %></td>
            </tr>
          </tbody>
        </table>
        <table width="100%">
          <thead>
            <tr class="invoice_solid_top_bottom">
              <th>PARTICULAR</th>
              <th class="text-center">QTY</th>
              <th class="text-center">PRICE</th>
              <th class="text-right">TOTAL (RM)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                TOUR CODE : <%= @tour.code %><br>
                DEP DATE : <%= @tour.departure_date.strftime("%d/%m/%Y %a") %><br>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <br>
                <table width="90%" align="center">
                  <tr>
                    <td>Flight Info</td>
                    <td>Departure / Arrival</td>
                  </tr>
                  <% @tour.tour_flights.order(:departure).each do |tour_flight| %>
                  <tr>
                    <td><%= tour_flight.flight_no %>  <%= tour_flight.from_to %>  </td>
                    <td><%= tour_flight.departure.try(:strftime, "%d/%m/%Y %R %a") %> / <%= tour_flight.arrival.try(:strftime, "%d/%m/%Y %R %a") %></td>
                  </tr>
                  <% end %>
                </table>
                <br>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="4">
                <% @bookings.visible.each_with_index do |booking, i| %>
                  <%= booking.name %> (<%= booking.category.humanize %>)<br>
                <% end %>
                <br>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <%= @tour.caption %><br>
                <%= @tour.other_caption %>
              </td>
            </tr>
            <% booking_array = [] %>
            <% @booking_group.bookings.each do |booking| %>
            <% index = booking_array.find_index{|booking_array|booking_array[:category] == booking.category && booking_array[:room_type] == booking.room_type} %>
              <% if index.present? %>
                <% booking_array[index][:quantity] += 1 %>
              <% else %>
                <% booking_array << { price: booking.price, room_type: booking.room_type, category: booking.category, quantity: 1 } %>
              <% end %>
            <% end %>
            <% booking_array.each do |b| %>
            <tr>
              <td class="text-left"><%= b[:quantity] %> <%= b[:category].humanize %> (<%= b[:room_type].humanize %>) x <%= number_to_currency(b[:price], precision: 2, unit: 'RM ') %></td>
              <td class="text-center"><%= b[:quantity] %></td>
              <td class="text-center"><%= number_to_currency(b[:price], precision: 2, unit: 'RM ') %></td>
              <td class="text-right"><%= number_to_currency(b[:price] * b[:quantity], precision: 2, unit: 'RM ') %></td>
            </tr>
            <% end %>
            <tr>
              <td colspan="4">
                <br />
              </td>
            </tr>
            <% deposit_info_array = [] %>
            <% @booking_group.bookings.each do |booking| %>
            <% index = deposit_info_array.find_index{|deposit_info_array|deposit_info_array[:category] == booking.category} %>
              <% if index.present? %>
                <% deposit_info_array[index][:quantity] += 1 %>
              <% else %>
                <% deposit_info_array << { price: booking.price, category: booking.category, quantity: 1 } %>
              <% end %>
            <% end %>
            <tr>
              <td colspan="4">
                DEPOSIT 
              </td>
            </tr>
            <tr>
              <% deposit_info_array.each do |d| %>
                <td>
                  <p class="text-left"><%= d[:quantity] %> <%= d[:category].humanize %> x -<%= number_to_currency(@tour.deposit, precision: 2, unit: 'RM ') %></p>
                </td>
                <td class="text-center"><%= d[:quantity] %></td>
                <td class="text-center">-<%= number_to_currency(@tour.deposit, precision: 2, unit: 'RM ') %></td>
                <td class="text-right">-<%= number_to_currency(@tour.deposit * d[:quantity], precision: 2, unit: 'RM ') %></td>
              <% end %>
            </tr>
            <tr>
              <td colspan="4"><hr></td>
            </tr>
            <% if @booking_group.full_payment? && @etravel_invoice.payment == @booking_group.payments.paid.last %>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Amount : </td>
              <td class="text-right invoice_column_bottom_double"><%= number_to_currency(@booking_group.price - @booking_group.payments.paid.last.previous_paid_amount, precision: 2, unit: 'RM ') %></td>
            </tr>
            <% end %>
            <!-- <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Deposit : </td>
              <td class="text-right invoice_solid_top_bottom">-<%= number_to_currency(@booking_group.deposit, precision: 2, unit: 'RM ') %></td>
            </tr> -->
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Total Payment : </td>
              <td class="text-right invoice_solid_top_bottom"><%= @etravel_invoice.payment.amount.present? ? number_to_currency(@etravel_invoice.payment.amount, precision: 2, unit: 'RM ') : '' %></td>
            </tr>
            <% if @booking_group.full_payment? && @etravel_invoice.payment == @booking_group.payments.paid.last %>
            <tr>
              <td colspan="2"></td>
              <td class="text-right">Balance : </td>
              <td class="text-right invoice_solid_bottom_double"><%= number_to_currency(@booking_group.price - @booking_group.payments.map(&:amount).inject(&:+), precision: 2, unit: 'RM ') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>  
      </div>
      <div class="col-md-12">
        <hr><br>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= render_invoice_footer %>
        </div>
      </div>
    </div>
  </div>
</page>