<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<page size="landscape" id="print-order">
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Grouping</th>
            <th>Name</th>
            <th>Price</th>
            <th>Pax</th>
            <th>Deposit</th>
            <th>Tour Code</th>
            <th>Tour Caption</th>
            <th>Tour Departure</th>
            <th>Booked at</th>
          </tr>
        </thead>
        <tbody>
          <% @booking_groups.each do |group| %>
            <tr>
              <td><%= group.code %></td>
              <td>
                <%= group.bookings.first.name %>
                <% if group.infant_bookings.count > 0 %>
                  | <%= group.infant_bookings.count %><i class="fa fa-child"></i>
                <% end %>
              </td>
              <td><%= group.bookings.visible.map(&:price).inject(&:+).to_i %></td>
              <td><%= group.bookings.visible.count %></td>
              <td><%= group.deposit %></td>
              <td><%= group.tour.code %></td>
              <td><%= group.tour.caption %></td>
              <td><%= group.tour.departure_date.strftime("%d/%m/%Y %a") %></td>
              <td><%= group.bookings.first.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</page>