<p>Hi <%= @user.username %>,</p>
<p>We thank you for your booking. However, we have not received full payment for the said booking. 
Our system has automatically removed this booking.</p>

<p>Ground Tour: <%= @land_tour_booking_group.land_tour.code %><br>
Booking Ref: <%= @land_tour_booking_group.land_tour_bookings.map(&:id).join(', ')%></p>

<p>Should you need to reserve any seat(s) for this tour, kindly log-in to: iceb2b.com.my for your booking. %>