<div class="nested-fields">
  <div class='custom-form-group form-group col-sm-12'>
    <%= label_tag '', "No of Package(s)" %><br>
    <% LandTour::PRICE_CATEGORY.each do |price| %>
      <div class="col-sm-2">
        <%= label_tag '', "#{price}", class: 'custom-form-control' %>
      </div>  
      <div class="col-sm-1">
        <%= number_field_tag "qty_#{price}", '', class: 'custom-form-control form-control quantity', data: { price: @land_tour.price(price), type: price }, min: 1 %>
        <%= hidden_field_tag "price_#{price}", @land_tour.price(price), class: 'custom-form-control form-control' %>
      </div> 
      <div class="col-sm-9">
        <p class='custom-form-control default-price_<%= price %>'>x MYR <%= @land_tour.price(price) %></p>
      </div>
    <% end %>
    <% @land_tour.prices.each do |qty, def_price| %>
      <div class="col-sm-12">
        <%= hidden_field_tag '', qty, class: 'custom-form-control form-control land-tour-qty' %>
        <%= hidden_field_tag '', def_price["adult_price"], class: 'custom-form-control form-control Adult_price' %>
        <%= hidden_field_tag '', def_price["child_price"], class: 'custom-form-control form-control Child_price' %>
      </div>
    <% end %>
    <%= label_tag '', "Additional Charges" %><br>
    <% @land_tour.additional_charges.each do |charge| %>
      <div class="col-sm-2">
        <p><%= charge["title"] %></p>
      </div> 
      <div class="col-sm-1 qty-charge-col">
        <p class="charge-qty"></p>
      </div>
      <div class="col-sm-9">
        <p class="charge-price">x MYR <%= charge["price"] %></p>
      </div>
    <% end %>
    <div class="col-sm-2">
      <%= label_tag '', "Total Amount" %>
    </div>  
    <div class="col-sm-2">
      <%= hidden_field_tag '', @land_tour.default_total_price, class: 'custom-form-control form-control total-price' %>
      <b><p id="total-amount">MYR <%= @land_tour.default_total_price %></p></b>
      <%= f.hidden_field :price, class: 'custom-form-control form-control grand-total' %>
    </div> 
    <div class="col-sm-8">
      &nbsp;
    </div>
  </div>
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :mobile %>
    <%= f.number_field :mobile, class: 'custom-form-control form-control', required: true %>
  </div>
  <div class='custom-form-group form-group col-sm-4'>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'custom-form-control form-control', required: true %>
  </div>
</div>