<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tour Booking
<% end %>

<%= render 'shared/single_panel', card_title: "New booking for Ground Tour : #{@land_tour.title}".html_safe do %>
  <%= form_tag land_tour_land_tour_bookings_path, method: :post, class: "land-tour-booking-form" do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @activity_booking_group } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-12">
        <h4><%= @land_tour.title.present? ? @land_tour.title : "Untitled" %></h4>
      </div>
      
      <div class="col-sm-12 cover-div">
        <div id="cover-slick">
          <% @land_tour.covers.each do |cover| %>
            <% if cover.image.present? %>
              <div class="custom-form-group form-group col-sm-12">
                <%= link_to "" do %>
                  <% image_tag cover.image.url, class: 'cover-activity' %>
                <% end %>
              </div>  
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @land_tour.highlight.present? %>
        <div class="custom-form-group form-group col-sm-12">
          <%= label_tag '', "Highlight" %><br>
          <%= @land_tour.highlight %>
        </div>
      <% end %>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Guide Languages" %><br>
        <%= @land_tour.join_guide_languages %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Description" %><br>
        <%= simple_format(@land_tour.description) %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Terms and Conditions" %><br>
        <%= simple_format(@land_tour.terms_and_conditions) %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "Itinerary" %><br>
        <% @land_tour.land_tour_days.each_with_index do |day, i| %>
          <div class="custom-form-group form-group col-sm-12">
            <div class="nested-fields">
              <div class="field custom-form-group form-group col-sm-1">
                <%= label_tag :day_no, "Day" %>
                <%= text_field_tag '', day.day_no, class: 'custom-form-control form-control', disabled: true %>
              </div>
              <div class="field custom-form-group form-group col-sm-11">
                <%= label_tag :description %>
                <%= text_field_tag '', day.description, class: 'custom-form-control form-control', disabled: true %>
              </div>
              <%= label_tag '', "Activity List", class: "col-sm-12" %><br>
              <% day.land_tour_activities.each_with_index do |activity, j| %>
                <div class="custom-form-group form-group col-sm-12">
                  <div class="nested-fields">
                    <div class="field custom-form-group form-group col-sm-7">
                      <%= label_tag :activity %>
                      <%= render_land_tour_activity(activity) %>
                    </div>
                    <div class="field custom-form-group form-group col-sm-5">
                      <%= label_tag :location %>
                      <%= text_field_tag '', @land_tour.get_city(activity.land_tour_day.id), class: 'custom-form-control form-control', disabled: true %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mt20">
      <%= form_for @land_tour_booking_group, url: land_tour_land_tour_bookings_path(@land_tour, @land_tour_booking_group), method: :post, html: { role: "form" , class: "land-tour-booking-form" } do |f| %>
        <%= render partial: 'partials/errors', locals: { target: @land_tour_booking_group } %>
          <div class="custom-form-group form-group col-sm-12">
            <%= f.label :land_tour_bookings, "Booking Details" %>
            <%= f.fields_for :land_tour_bookings do |land_tour_booking| %>
              <%= render 'land_tour_booking_fields', f: land_tour_booking %>
            <% end %>
          </div>
          <div class="col-sm-12">
            <div class="custom-form-group form-group col-sm-12">
              <%= f.label :remark %>
              <%= f.text_field :remark, class: 'custom-form-control form-control' %>
            </div>
          </div>
          <div class="custom-form-group form-group col-sm-12">
            <%= label_tag '', "Payment Method" %>
            <%= fields_for 'payment', @payment do |payment| %>
              <%= render partial: "partials/payment_form", locals: {f: payment} %>
            <% end %>
          </div>
          <div class="mt20 custom-form-group form-group col-sm-12">
            <%= submit_tag 'Book Now', class: 'btn btn-primary book-button' %>
            <%= link_to 'Cancel', :back, class: 'btn' %>
          </div>
      <% end %> 
    </div>
  <% end %> 
<% end %>
