<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Ground Tour Booking
<% end %>

<%= render 'shared/single_panel', card_title: "#{@land_tour_booking_group.land_tour_bookings.length} #{'booking'.pluralize(@land_tour_booking_group.land_tour_bookings.length)} successfully created.".html_safe do %>
  <div class="row enlarge-col">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Tour Code:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @land_tour.code %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Departure:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @land_tour_booking_group.departure_date.strftime("%d/%m/%Y %a") %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Title:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @land_tour.title %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Category:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @land_tour.category.try(:humanize) %>
      </div>
    </div>
  </div>

  <br>

  <div class="panel panel-success mt20">
    <div class="panel-heading">
      Thank you for your online booking
    </div>
    <div class="panel-body">
      <% if !@new_domain %>
        Bookings will be secured only after a deposit of <%= @land_tour.deposit %>% per person has been received by the <span class="bookings-disclaimer">next two (2) business or banking days.</span>
        <br>
        Total receivable deposit: <%= @land_tour_booking_group.deposit %>
        <br>
      <% end %>
      <h3>
        <span class="label label-default">Booking Ref: <%= @land_tour_booking_group.land_tour_bookings.map(&:id).join(', ')%></span>
      </h3>
    </div>
  </div>
  <% if @new_domain %>
    <%= link_to 'Home Page', app_path, class: 'btn btn-success', data: {turbolinks: "false"} %>
    <%= link_to 'Booking Page', app_path(anchor: "bookings/land_tours"), class: 'btn btn-success', data: {turbolinks: "false"} %>
  <% else %>
    <%= link_to 'Back', land_tour_path(@land_tour), class: 'btn' %>
  <% end %>

</div>

<% end %>