<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Insurance Rebates
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Fair' do %>
  <%= form_for [:admin, @insurance_rebate], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @insurance_rebate } %>
	  <div class="row">
	    <div class="custom-form-group form-group col-sm-6">
	      <%= f.label :price %>
	      <%= f.number_field :price, class: 'custom-form-control form-control' %>
	    </div>
	  </div>
		<%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_insurance_rebates_path, class: 'btn' %>
	<% end %>
<% end %>