<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Insurance Rebates
<% end %>

<%= render 'shared/single_panel', card_title: 'View Insurance Rebates' do %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Zone</th>
          <th>Days Duration</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @insurance_rebate.each do |insurance_rebate| %>
          <tr>
            <td><%= link_to "Zone #{insurance_rebate.zone}", admin_insurance_rebate_path(insurance_rebate) %></td>
            <td><%= insurance_rebate.duration_start %> - <%= insurance_rebate.duration_end %></td>
            <td><%= insurance_rebate.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @insurance_rebate %>
<% end %>