<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-calendar fa-fw"></i>Insurance Rebates
<% end %>

<%= render 'shared/single_panel', card_title: 'Fair Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :zone %>
      <%= number_field_tag '', @insurance_rebate.zone, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :duration_start %>
      <%= text_field_tag '', @insurance_rebate.duration_start, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :duration_end %>
      <%= text_field_tag '', @insurance_rebate.duration_end, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :price %>
      <%= number_field_tag '', @insurance_rebate.price, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <%= link_to 'Edit', edit_admin_insurance_rebate_path(@insurance_rebate), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
