<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :imported_at %>
    <%= text_field_tag '', f.object.created_at.present? ? f.object.created_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Stock", f %>
  </div>
</div>