<div class="nested-fields">
  <% gift_stocks_attributes = policy([:admin, @gift]).permitted_attributes.find{|x| x.is_a?(Hash) && x.has_key?(:gift_stocks_attributes) }.try(:fetch, :gift_stocks_attributes) %>
  <div class="field custom-form-group form-group col-sm-6">

    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: 'custom-form-control form-control', disabled: gift_stocks_attributes.exclude?(:id) %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :imported_at %>
    <%= text_field_tag '', f.object.created_at.present? ? f.object.created_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
  </div>
  <% if gift_stocks_attributes.include?(:_destroy) %>
    <div class="field custom-form-group form-group col-sm-12">
      <%= link_to_remove_association "Remove Stock", f %>
    </div>
  <% end %>
</div>