<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gifts
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Gift' do %>
  <%= form_for [:admin, @gift], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @gift } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:title) %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :color %>
        <%= f.text_field :color, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:color) %>
      </div>
      <div class='custom-form-group form-group col-sm-6'>
        <%= f.label :image %>
        <% if f.object.image.present? %>
          <%= link_to 'View image', f.object.image.url, target: '_blank' %>
          <%= f.check_box :remove_image %> Remove
        <% end %>
        <%= f.file_field :image, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:image) %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :points %>
        <%= f.number_field :points, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:points) %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :sku, "SKU" %>
        <%= f.text_field :sku, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:sku) %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:price) %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :threshold %>
        <%= f.number_field :threshold, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:threshold) %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'custom-form-control form-control', disabled: policy([:admin, @gift]).permitted_attributes.exclude?(:description) %>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :gift_stocks %>
        <% gift_stocks_total_quantity = 0 %>
        <%= f.fields_for :gift_stocks do |gift_stock| %>
          <% gift_stocks_total_quantity += gift_stock.object.quantity %>
          <%= render 'gift_stock_fields', f: gift_stock %>
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <%= link_to_add_association 'Add Stocks', f, :gift_stocks, partial: 'add_gift_stock_fields' %>
        </div>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_gifts_path, class: 'btn' %>
  <% end %>
<% end %>
