<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-file-picture-o fa-fw"></i>Gift Stock Report
<% end %>

<%= render 'shared/single_panel', card_title: 'View Gift Stock Report' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag gift_stock_report_admin_gifts_path, method: 'get' do %>
      <div class="form-group">
        From : <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
      </div>
      <div class="form-group">      
        <%= submit_tag 'Search', class: 'btn btn-success' %>
       </div>
      <% end %>
    </div>
  </div>
  <br>
  <% if params[:begin].present? %>
  <% date_start = Date.parse(params[:begin]) %>
  <% end %>
  <% if params[:end].present? %>
    <% date_end = Date.parse(params[:end]) %>
  <% end %>
  <%
    total_month = 0
    current_month = date_start
  %>  
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="period">SKU</th>
        <% until current_month > date_end do %> 
          <th class="period"><%= current_month.strftime("%b %Y") %></th>
        <% current_month = current_month.next_month %>
        <% total_month += 1 %>
        <% end %>
          <th class="tour-count">Total</th>
        </tr>
      
      </thead>
      <tbody>
        <% @gifts.each_with_index do |gift, i|
          data = gift.gift_tracking_details.where(created_at: @interval).group_by_month(:created_at).calculate_all(:sum_quantity)

        %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= gift.sku.present? ? gift.sku : '' %></td>
          <% current_month = date_start %>
          <% total_month.times do |i| %>
            <td>
              <% if data.has_key?(current_month) %>
                <%= data[current_month] %>
              <% else %>
                0
              <% end %>
            </td>
            <% current_month = current_month.next_month %>
          <% end %>
          <td>
            <%= data.values.inject(&:+) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>