<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gifts
<% end %>

<%= render 'shared/single_panel', card_title: 'Gift Details' do %>
  <%= link_to('New Gift', new_admin_gift_path, class: 'btn btn-primary')%>
  <%= link_to('Gift Stock Report', gift_stock_report_admin_gifts_path, class: 'btn btn-primary')%>
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Title</th>
            <th>Color</th>
            <th>Points</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Dispatched Out</th>
            <th>Balance</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @gifts.each do |gift| %>
            <% if gift.balance <= gift.threshold %>
              <tr class="threshold">
            <% else %>
              <tr >
            <% end %>
              <td><%= gift.sku %></td>
              <td><%= link_to gift.title, admin_gift_path(gift) %></td>
              <td><%= gift.color %></td>
              <td><%= gift.points %></td>
              <td><%= number_to_currency(gift.price ,precision: 2, unit: 'MYR ') %></td>
              <td><%= gift.quantity %></td>
              <td><%= gift.dispatched_out %></td>
              <td><%= gift.balance %></td>
              <td><%= gift.description %></td>
              <td>
                <% if policy([:admin, Gift]).destroy? %>
                  <%= link_to 'Delete', admin_gift_path(gift), method: :delete, data: { confirm: 'Are you sure you want to delete this gift?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <%= paginate @gifts if @gifts.present? %>
<% end %>
