<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gifts
<% end %>

<%= render 'shared/single_panel', card_title: 'Create Gift' do %>
  <%= form_for [:admin, @gift], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @gift } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :color %>
        <%= f.text_field :color, class: 'custom-form-control form-control' %>
      </div>
      <div class='custom-form-group form-group col-sm-6'>
        <%= f.label :image %>
        <%= f.file_field :image, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :points %>
        <%= f.number_field :points, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :sku, "SKU" %>
        <%= f.text_field :sku, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'custom-form-control form-control' %>
      </div>   
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_gifts_path(@gift), class: 'btn' %>
  <% end %>
<% end %>
