<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-gift fa-fw"></i>Gifts
<% end %>

<%= render 'shared/single_panel', card_title: 'Gift Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :title %>
      <%= text_field_tag '', @gift.title, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :color %>
      <%= text_field_tag '', @gift.color, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class='custom-form-group form-group col-sm-6'>
      <%= label_tag :image %>
      <% if @gift.image.present? %>
        <%= link_to 'View image', @gift.image.url, target: '_blank' %>
      <% end %>
      <%= text_field_tag '', @gift.image, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :points %>
      <%= number_field_tag '', @gift.points, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :sku, "SKU" %>
      <%= text_field_tag '', @gift.sku, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :price %>
      <%= number_field_tag '', @gift.price, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :threshold %>
      <%= text_field_tag '', @gift.threshold, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :description %>
      <%= text_field_tag '', @gift.description, class: 'custom-form-control form-control', disabled: true %>
    </div>   
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :gift_stocks %>
      <% gift_stocks_total_quantity = 0 %>
      <% @gift.gift_stocks.each do |gift_stock| %>
        <% gift_stocks_total_quantity += gift_stock.quantity %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :quantity %>
              <%= text_field_tag '', gift_stock.quantity, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :imported_at %>
              <%= text_field_tag '', gift_stock.created_at.strftime("%d/%m/%Y %H:%M"), class: 'custom-form-control form-control', disabled: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Edit', edit_admin_gift_path(@gift), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
