<% if @taggable.class.name == "Tour" %>
	<p>Tour Code : <%= @taggable.code %></p>
	<p>Tour Caption : <%= @taggable.caption %></p> 
	<p>Departure Date : <%= @taggable.departure_date.try(:strftime, "%d/%m/%Y") %></p>
	<p style="color: red;">Reminder Date : <b><%= @reminder_date.try(:strftime, "%d/%m/%Y") %></b></p>
	<hr />
	<p><%= @description %></p>
<% elsif @taggable.class.name == "FlightInventory" %>
	<p>Title : <%= @@taggable.title %></p>
	<p style="color: red;">Reminder Date : <b><%= @reminder_date.try(:strftime, "%d/%m/%Y") %></b></p>
	<hr />
	<p><%= @description %></p>
<% end %>