#profile{
  background-color: #f7f7f7;
}
#profile .user{
  background-color: #fff;
  width: 100%;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 7px -4px rgba(0,0,0,0.35); 
  box-shadow: 0px 5px 7px -4px rgba(0,0,0,0.35);
  float: left;
}
#profile .user .btn_user{
  display: flex;
  align-items: center;
  float: right;
}
#profile .user .icon_warp{
  margin: auto;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile .user .icon_warp .title{
  padding-left: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: gray;
}
#profile .user .icon_user .icon{
  font-size: 3em;
  color: #ccc;
}
#profile .content_user{
  float: left;
  width: 100%;
  padding: 30px;
  margin: auto;
  margin-bottom: 100px;
}
#profile .content_user .content_warp{
  width: 60%;
  margin: auto;
}
#profile .content_warp .ant-card-body{
  border-top: 4px solid tomato
}
#profile .input_warp{
	width: 100%;
	float: left;
}
#profile .content_warp .formItemWarp50{
  width: 50%;
  float: left;
  padding: 0px 10px
}
#profile .content_warp .ant-form-item-label{
  padding: 0 0 2px;
}
#profile .content_warp .btn_select{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
#profile .content_warp .btn_warp{
  width: 25%;
  padding: 0px 10px;
}
#profile .content_warp .btn_select .ant-btn{
  width: 100%;
  border-radius: 0;
  color: #fff;
}
#profile .content_warp .btn_select .reset{
  background-color: #d9534f;
}
#profile .content_warp .btn_select .topup{
  background-color: #5cb85c;
}
#profile .content_warp .btn_select .topup:hover{
  background-color: #5cb85c;
}
#profile .content_warp .btn_select .cancel{
  color: gray;
}

@media (max-width: 1050px){
  #profile .content_user .content_warp {
    width: 90%;
  }
}
@media (max-width: 769px){
  #profile .content_warp .btn_warp{
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }
  #profile .content_warp .btn_select{
    display: block;
  }
}
@media (max-width: 767px){
  #profile .content_user .content_warp {
    width: 95%;
  }
  #profile .content_warp .formItemWarp50 {
    width: 100%;
    padding: 0px;
  }
  #profile .user{
    padding: 30px 20px;
  }
  #profile .content_warp .btn_warp{
    width: 100%;
  }
}
