
 <% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotel Booking Amendment
<% end %>

<%= render 'shared/single_panel', card_title: 'Hotel Booking' do %>

  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@amendment_form, as: :amendment_form, url: admin_tbo_booking_amendment_request_path(@booking), method: "POST" ) do |f| %>       
        <div class='col-xs-12'>
          <div class="row">
            <div class="custom-form-group form-group col-xs-4">
              <%= f.label :check_in %>
              <%= f.date_field :check_in, class: 'custom-form-control form-control' %>
            </div> 
            <div class="custom-form-group form-group col-xs-4">
              <%= f.label :check_out %>
              <%= f.date_field :check_out,  class: 'custom-form-control form-control' %>
            </div> 
            <div class="custom-form-group form-group col-xs-4">
              <%= f.label :remarks %>
              <%= f.text_field :remarks,  class: 'custom-form-control form-control' , required: true%>
            </div>                              
          </div>
          <div class="row">  
           <%= f.fields_for :rooms do |room_form| %>
              <h1>Room <%= HotelBooker::RoomRequested[room_form.object.amend] %></h1>
              <%= room_form.hidden_field :amend %>              
              <%= room_form.fields_for :guest do |guest_form|%>
                <%= guest_form.hidden_field :guest_type %>
                <%= guest_form.hidden_field :existing_name %>
                <div class="custom-form-group form-group col-xs-2">
                  <%= guest_form.label "Title" %>
                  <% if guest_form.object.guest_type == "Adult" %>
                    <%= guest_form.select :title, options_for_select(TBOGuest::titles.keys, selected: guest_form.object.title), {}, class: 'custom-form-control form-control' %>
                  <% else %>
                    <%= guest_form.select :title, options_for_select(TBOGuest::titles.except('Mrs').keys, selected: guest_form.object.title), {}, class: 'custom-form-control form-control' %>
                  <% end %>
                </div>
                <div class="custom-form-group form-group col-xs-3">
                  <%= guest_form.label "First Name" %>
                  <%= guest_form.text_field :first_name, class:'custom-form-control form-control' %>
                </div>
                 <div class="custom-form-group form-group col-xs-3">
                  <%= guest_form.label "Last Name" %>
                  <%= guest_form.text_field :last_name, class:'custom-form-control form-control' %>
                </div>
                <div class="custom-form-group form-group col-xs-2">
                  <%= guest_form.label "Age" %>
                  <% if guest_form.object.guest_type == "Adult" %>
                    <%= guest_form.text_field :age, class:'custom-form-control form-control' %>
                  <% else %>
                     <%= guest_form.select :age, options_for_select((1..18), selected: guest_form.object.age), {}, class: 'custom-form-control form-control' %>
                  <% end %>
                </div>
                <div class="custom-form-group form-group col-xs-2">
                  <%= guest_form.label "Action" %>
                  <%= guest_form.select :action,['Retain','Rename', 'Delete'],{}, class:'custom-form-control form-control' %>
                </div>
              <% end %>
            <% end %>         
          </div>
        </div>
        <br><br>
        <%= link_to 'Cancel',admin_tbo_booking_path(@booking), class: 'btn btm-sm btn-default' %>  
        <%= submit_tag 'Amend Booking', data:{disable_with: 'Sending amendment request ...'}, class: 'btn btm-sm btn-success' %>          
      <% end %>
    </div>
  </div>
<% end %>
