
 <% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotel Booking Amendment Details
<% end %>

<%= render 'shared/single_panel', card_title: 'Hotel Booking' do %>
  <div class="row">
    <div class="col-md-12">
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :check_in %>
        <%= text_field_tag '', @amendment_request.amendment_requested["check_in"]["date"].to_date.strftime("%d %B %Y"), class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :action %>
        <%= text_field_tag '', @amendment_request.amendment_requested["check_in"]["date_action"], class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :check_out %>
        <%= text_field_tag '', @amendment_request.amendment_requested["check_out"]["date"].to_date.strftime("%d %B %Y"), class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :action %>
        <%= text_field_tag '', @amendment_request.amendment_requested["check_out"]["date_action"], class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>
  </div>
  
  <h4>Guests</h4>
  <div class="row">
    <% @amendment_request.amendment_requested["rooms"].each do |room|%>
      <div class="col-md-12">
        <h5>Room <%=HotelBooker::RoomRes::AMENDED_TO_INT[room["amended"]] %></h5>
        <% room["guest"].each do |guest| %>
          <div class="custom-form-group form-group col-sm-2">
            <%= label_tag :title %>
            <%= text_field_tag '', guest["title"], class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag :first_name %>
            <%= text_field_tag '', guest["first_name"], class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag :last_name %>
            <%= text_field_tag '', guest["last_name"], class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-2">
            <%= label_tag :age %>
            <%= text_field_tag '', guest["age"], class: 'custom-form-control form-control', disabled: true %>
          </div> 
          <div class="custom-form-group form-group col-sm-2">
            <%= label_tag :action %>
            <%= text_field_tag '', guest["action"], class: 'custom-form-control form-control', disabled: true %>
          </div> 
        <% end %>   
      </div>
    <% end %>
  </div>
  <br>
  <div class="col-md-12">
    <%= link_to 'WITHDRAW REQUEST', widthraw_admin_tbo_booking_amendment_request_path(@booking) ,data:{confirm:'Are you sure?'},class: 'btn btm-md btn-danger', method: :post  if @amendment_request.withdrawable? %> 
    <%= link_to 'BACK', admin_tbo_booking_path(@booking) , class: 'btn btm-md btn-default'%>     
  </div>
<% end %>

