/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-tagsinput/dist/bootstrap-tagsinput
 *= require bootstrap-multiselect/dist/css/bootstrap-multiselect
 *= require eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker
 *= require daterangepicker/daterangepicker
 *= require slick-carousel/slick/slick.css
 *= require slick-theme.css
 *= require simple_calendar
 */

html{
  position: relative;
  min-height: 100%;
}

label{
  margin-bottom: 0!important;
}

label.required::after{
  color: red;
  content: ' *'
}

.btn-link{
color: #337ab7;
touch-action: manipulation;
cursor: pointer;
user-select: none;
background-image: none;
}

.pink_fields{
  background-color: #ffe3e6;
  padding: 10px;
  border-radius: 3px;
}

.grey_fields{
  background-color: #d1dbe4;
  padding: 10px;
  border-radius: 3px;
}

select option:disabled {
  color: lightgrey;
}

.yellow_fields{
  background-color: #FFFFC2;
  padding: 10px;
  border-radius: 3px;
}

.border-flight{
  border-style: solid;
  border-width: 1px;
  padding:5px;

}

.label-chocolate{
  background-color: chocolate;
}
.label-purple{
  background-color: purple;
}
.label-magenta{
  background-color: magenta;
}

.payment-icon {
  color: green !important; 
  font-size: 115px !important;
}

.fail-icon {
  color: red !important; 
  font-size: 115px !important;
}

body{
  padding-bottom: 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
  font-size: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.hidden-table-text{
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer .text-muted{
  margin-bottom: 0;
}

.alert{
  font-size: 16px;
  font-weight: 500;
}

.label-default.custom-label{
  background-color: #B71C1C;
  margin-left: 20px;
}

#countdown{
  padding: 15px;
  font-size: 24px;
}

#countdown.text-red{
  color: red;
  font-weight: 500;
}

#tour-booking-form div.media:nth-of-type(odd){
  background-color: #FFFFFF !important;
}

div.booking-group-form:nth-of-type(even){
  background-color: #F0F0F0 !important;
}

label.booking-group-label {
  background-color: #F33E18 !important;
  color: #FFFFFF !important;
}

label.gift-tracking-group-label {
  background-color: #F33E18 !important;
  color: #FFFFFF !important;
}

h5.gift-overdue {
  color: #F33E18 !important;
}

.bold{
  font-weight: bold;
}

.border-first{
  border-left: 2px solid #5cb85c;
  color: #5cb85c;
}

.border-others{
  border-left: 2px solid #f0ad4e;
  color: #f0ad4e;
}

.media-left{
  width: 15%;
  vertical-align: middle !important;
}

.desc-guest{
  padding-top: 10px;
  text-transform:capitalize;
}

.bookings-disclaimer{
  font-size: 17px;
  font-weight: 600;
  color: #B71C1C;
}

.bookings-disclaimer-promo-background{
  background-color: yellow;
  display: inline;
}

.bookings-disclaimer-promo{
  color: #B71C1C;
}

.enlarge-col{
  font-size: 15px;
  line-height: 27px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.tooltip-inner{
  background-color: #a94442 !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #a94442 !important;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }

}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.custom-form-group{
  margin-bottom: 5px !important;
}

.custom-form-control{
  height: 28px !important;
  padding: 4px !important;
}

.custom-form-control-tagsinput{
  line-height: 18px !important;
  overflow-x: auto;
  white-space: nowrap;
}

.custom-form-control-tagsinput-disabled{
  background-color: #eee !important;
}

.custom-form-control-tagsinput-disabled input{
  visibility:hidden !important;
}
.custom-form-control-tagsinput-disabled > span > span{
  display:none !important;
}

.custom-form-control-inline{
  // display: block;
  // width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.custom-form-span{
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}

.form-inline {
  display: inline !important;
}

.mg5{
  margin: 5px;
}

.mt5{
  margin-top: 5px;
}

.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
}

.mb0{
  margin-bottom: 0;
}

.mb5{
  margin-bottom: 5px;
}

.mb20{
  margin-bottom: 20px;
}

.pl0{
  padding-left: 0 !important;
}

.pl5{
  padding-left: 5px !important;
}

.pl10{
  padding-left: 10px !important;
}

.pd0 {
  padding: 0 !important;
}

.pd5 {
  padding: 5px !important;
}

.pd10 {
  padding: 10px !important;
}

.remark{
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.rooming-list-detail .image-head{
  width: 800px;
  height: 100px;
}

.rooming-list-detail .booking-room-remark{
 white-space: pre-wrap;
 text-align: justify;
}

.rooming-list-detail .table-head-color{
background-color: #000000 !important;
  /*border-right-color: white !important;*/
  color: white !important;
  /*background-color: black  !important;*/
  -webkit-print-color-adjust: exact !important;
}

.rooming-list-detail .table-resize-grey{
  border: 1px solid grey;
}

.rooming-list-detail .table-resize{
  border: 1px solid #cfcccc;
  padding: 1px;
}
.rooming-list-detail .resize-title{
  font-size: 11px;
}

.rooming-list-detail .align-middle{
vertical-align: middle !important;
}

#cover-slick{
  // object-fit: cover;
  // object-position: right;
  // width: 100%;
  // height: calc(100vh - 50px);
}

.cover-div{
  padding: 0 !important;
}

.cover-img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: calc(100vh - 50px) !important;
}

.cover-img-full{
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  height: 100vh !important;
}

.cover-activity{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cover-activity-idx{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 150px;
}

.voucher-img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/***** TravelB2B Login Form *****/
.travelb2b-div {
  margin: 5vh auto;
  position: absolute !important;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;

  .form-wrapper {
    // background-color: #ffffffe0;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10vh auto;
    padding: 1.5em;
    border-radius: 2px;
  }
  .form-control:focus {
    border: 1px solid #e72125;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
  }
  .form-header {
    .login-logo {
      margin: 0 auto;
      width: 40%;
    }
    .login-label {
      text-align: center;
    }
  }
  .forgot-password-label {
    text-align: center;
  }
  .btn-submit,
  .btn-submit-reset 
  {
    background-color: #e72125;
    border: 0;
    width: 100%;
  }
  .btn-submit:hover,
  .btn-submit:active,
  .btn-submit:focus,
  .btn-submit:visited,
  .btn-submit-reset:hover,
  .btn-submit-reset:active,
  .btn-submit-reset:focus,
  .btn-submit-reset:visited,
  { 
    border: 0 !important;
    background-color: #c3272e !important; 
  } 
}

.payment-logo{
  width: 100%;
  height: 50px;
}

.activity-panel {
  padding: 0px !important;
}

.country-text {
  position: absolute;
  top: 5px;
  left: 20px;
}

.activity-body {
  color: black;
}

.activity-img {
  position: relative;
  text-align: center;
  color: white;
}

.underline-text {
  text-decoration: underline;
}

.cover-thumbnail{
  height: 150px;
  max-width: 500px;
}

.photo-tourleader{
  height: 200px;
  max-width: 500px;
}

.custom-nav{
  margin-bottom: 0 !important;
  background-color: #B71C1C;
  border-color: #B71C1C;
  border-radius: 0;
}

.custom-nav.fs{
  background-color: #F06292;
  border-color: #F06292;
}

.custom-nav.cruise{
  background-color: #0D47A1;
  border-color: #0D47A1;
}

.custom-nav.premium{
  background-color: #FFAB00;
  border-color: #FFAB00;
}

.custom-nav.gtrip{
  background-color: #29b6f6;
  border-color: #29b6f6;
}

.custom-nav .navbar-brand{
  font-size: 25px;
}
.custom-nav .navbar-nav>li>div{
  padding: 15px;
  line-height: 20px;
}

.custom-nav .navbar-brand,
.custom-nav .navbar-nav>li>a,
.custom-nav .navbar-nav>li>div{
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.custom-nav .navbar-nav>li#fair_countdown_li>div{
  font-weight: 200;
  font-size: 16px;
}

.custom-nav .navbar-nav > li > a:hover,
.custom-nav .navbar-nav > li > a:focus,
.custom-nav .navbar-nav > .active > a,
.custom-nav .navbar-nav > .active > a:hover {
  background-color: #d50000;
}

.custom-nav.fs .navbar-nav > li > a:hover,
.custom-nav.fs .navbar-nav > li > a:focus,
.custom-nav.fs .navbar-nav > .active > a,
.custom-nav.fs .navbar-nav > .active > a:hover {
  background-color: #F48FB1;
}

.custom-nav.cruise .navbar-nav > li > a:hover,
.custom-nav.cruise .navbar-nav > li > a:focus,
.custom-nav.cruise .navbar-nav > .active > a,
.custom-nav.cruise .navbar-nav > .active > a:hover {
  background-color: #1E88E5;
}

.custom-nav.premium .navbar-nav > li > a:hover,
.custom-nav.premium .navbar-nav > li > a:focus,
.custom-nav.premium .navbar-nav > .active > a,
.custom-nav.premium .navbar-nav > .active > a:hover {
  background-color: #FFC400;
}

.custom-nav.gtrip .navbar-nav > li > a:hover,
.custom-nav.gtrip .navbar-nav > li > a:focus,
.custom-nav.gtrip .navbar-nav > .active > a,
.custom-nav.gtrip .navbar-nav > .active > a:hover {
  background-color: #81d4fa;
}

.custom-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}
.custom-nav .navbar-header .navbar-toggle {
  border-color: #fff;
}

// .custom-nav .navbar-header .navbar-toggle:hover,
// .custom-nav .navbar-header .navbar-toggle:focus {
//   background-color: #d50000;
//   border-color: #f9f9f9;
// }

// .custom-nav .fs-logo{
//   width: 16px;
// }

.brand-logo{
  max-height: 1em;
}

.confirmation table,
.confirmation table tr,
.confirmation table th,
.confirmation table td{
  vertical-align: middle !important;
  font-size:13px;
  padding: 2px;
}

.confirmation .red{
  color: red !important;
  -webkit-print-color-adjust: exact !important;
}

.confirmation .large-size{
  font-size: 13px !important;
}

.confirmation .logo-thumbnail{
  max-height: 70px;
  max-width:100%;
}

.confirmation .flight-logo-thumbnail{
  max-height: 30px;
  max-width:100%;
}

.confirmation .gd-thumbnail{
  max-height: 110px;
  max-width:100%;
}

.confirmation .table-border{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 1px;
}

.confirmation .table-border-header{
  border: 2px solid black;
  padding: 1px;
}

.confirmation .table-border-body{
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 1px;
}

.confirmation .table-border-left{
  border-left: 1px solid black;
  padding: 3px;
}

.confirmation .text-with-space{
 white-space: pre-wrap;
 text-align: justify;
 vertical-align:bottom;
}

.confirmation .table-merge{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.confirmation .table-title-text-merge{
    display: inline-block;
    width: 600px;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #555;
}

.confirmation .table-text-merge{
    display: inline-block;
    width: 700px;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #555;
}

.confirmation .table-markup{
  padding-right :15px;
  padding-left :23px;
}

.confirmation .reminder-table-merge{
  width: 120px;
}

.confirmation .table-merge-accomodation{
  width: 100px;
}

.confirmation .room-type-size{
  width: 80px;
}

.confirmation .bottom-line{ 
  border-bottom: 1px solid black;
  padding: 10px;
}

.confirmation .triple-space{ 
  padding: 55px;
  letter-spacing: 0.1px;
  font-size: 13px;
  color: #555;
}

.confirmation .header-title{
  font-size: 30px;
  color: black;
  padding: 12px;
  text-decoration: none; 
  line-height: 33px;
}

.confirmation .small-title{
  font-size: 17px;
  color: black;
  padding: 12px;
  text-decoration: none; 
  line-height: 5px;
}

.scroll-bar{
  overflow-y: scroll;
  height: 350px;
  min-height: .01%;
  overflow-x: auto;
}

.logo-img{
  max-height: 4em;
}

.chop-img{
  max-height: 7em;
}

// .dashboard-brand-div{
//   width: 19%;
//   position: relative;
//   display: inline-block;
// }

.dashboard-brand-1row-div{
  width: 33%;
  position: relative;
  display: inline-block;
  padding: 15px;
}

.dashboard-brand-2row-div{
  width: 49%;
  position: relative;
  display: inline-block;
  padding: 15px;
}

.dashboard-image-div{
  border: 1px solid grey;
  border-radius: 2px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-image{
  max-height: 200px;
  margin: auto;
  display: block;
}

.darkyellow{
  color: #FFA000;
}

.promo-price{
  font-weight: 500;
  color: blue;
}

.specialoffer-price{
  font-weight: 500;
  color: #009688;
}

.early_bird-price{
  font-weight: 500;
  color: #FF9800;
}

.superpromo-price{
  font-weight: 500;
  color: red;
}

.specialdeal-price{
  font-weight: 500;
  color: red;
}

.panel-grey{
  border-color: grey !important;
}

.panel-grey > .panel-heading {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

.panel a,
.panel a:hover,
.panel a:active,
.panel a:visited,
.panel a:link{
  text-decoration: none;
}

.table_left{
  float: left;
}
.table_right{
  float: right;
}

.break-word-300{
  width: 300px !important;
  white-space: normal !important;
  word-break: break-word !important;
}

.invoice-header-table tr td{
  border-top: 0 !important;
}

.invoice_solid_top_bottom{
  border-top: solid 0.1px;
  border-bottom: solid 0.1px;
}

.invoice_column_bottom_double{
  border-top: solid 0.1px; 
  border-bottom: double 4px;
}

table tr .cut-off {
  width: 140px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
}

.table-striped > thead > tr > th,
.table-striped > tbody > tr > td{
  border: 1px solid #aaa !important;
}

.table-striped > tbody > tr:nth-of-type(odd) >td.expoted_info {
  background-color: #009900 !important;
}

.table-striped > tbody > tr:nth-of-type(even) >td.expoted_info {
  background-color: #00CC00 !important;
}

.table-striped > tbody > tr >td.expoted_info a{
  color: white;
}

/* table tour agent */
.table-touragent{
  outline-style: solid !important;
  outline-width: 1px;

}

.table-touragent > tbody > tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
}

.table-touragent > thead > tr > th,
.table-touragent > tbody > tr > td{
  border: 0.1 solid #aaa !important;
  width: 111px;
  overflow: hidden;
  /* display: inline-block; */
  /* white-space: nowrap;*/
}

.table-touragent > tbody > tr:nth-of-type(odd) >td.expoted_info {
  background-color: #009900 !important;
}

.table-touragent > tbody > tr:nth-of-type(even) >td.expoted_info {
  background-color: #00CC00 !important;
}

.table-touragent > tbody > tr >td.expoted_info a{
  color: white;
}

/* end table tour agent */

#accordion-cruise .panel-heading{
  padding: 0 15px;
}

table.table thead{
  background-color: black;
  color: white;
}

table.table thead.grey{
  background-color: grey;
}

table.table tr{
  font-size: 11px;
  white-space: nowrap;
}

table.table tr .deposit{
  width: 220px;
}

table.table tr .number{
  width: 35px;
}

table.table tr .departure, table.table tr .tour-count {
  width: 76px;
}

table.table tr .code{
  width: 155px;
}

table.table tr .highlight{
  width: 100px;
}

table.table tr .caption, table.table tr .iti-remark, {
  width: 210px;
}

table.table tr .ch-caption{
  width: 165px;
}

.threshold{
  background-color: red;
}

table.table tr td div.trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  // size: A4;
}

page .container{
  width: 100%;
}

.itinerary-status .category {
    font-family: inherit;
    font-weight: 900;
    line-height: 1.1;
    color: inherit;
    }
    
.itinerary-status .itinerary_margin {
  margin-left: 80%;
}

.itinerary-status .important_note {
  color: red !important;
  -webkit-print-color-adjust: exact !important;
  font:bold;
}

.itinerary-status .email-link{
  color: #4682B4 !important;
  text-decoration: underline;
  -webkit-print-color-adjust: exact !important;
}

.itinerary-status .logo-thumbnail{
  max-height: 120px;
  max-width:100%;
}

.itinerary-status th.caption{
  white-space: normal;
}

.itinerary-status .itnerary_description {
 white-space: pre-wrap;
 text-align: justify;
}

.itinerary-status .itinerary_duration-resize{
white-space: normal;
}

.itinerary-status .itinerary_fontsize {
  font-size: 15px;
}

.itinerary-status .addtional_tour {
  white-space: pre-wrap;
 text-align: justify;
}

.itinerary-status .text-bottom { 
   vertical-align:bottom;
}

.itinerary-status .single_supplement {
  width: 5px;
  text-align: center;
}

.itinerary-status .hotel {
  width: 39px;
  text-align: center;
}

.itinerary-status #itinerary-print .addtional_tour::first-line { 
 font-weight: bold;
} 

.itinerary-status .addtional_tour::last-line { 
 font-weight: bold;
} 

.itinerary-status .itinerary_code{
  width: 230px;
}

.itinerary-status .flight_no{
  width: 52px;
  text-align: center;
}

.itinerary-status .departing{
  width: 114px;
  text-align: center;
}

.itinerary-status .price{
  width: 110px;
  text-align: center;
}

.itinerary-status .no-repeated-thead thead{
  display: table-row-group;
}

.itinerary-status .dta {
  width: 10px;
}

.itinerary-status .flight_summary {
  white-space: normal;
}

.itinerary-status .holiday-color{
  color: #dc3545 !important;
  -webkit-print-color-adjust: exact !important;
}

.text-align-center{
  text-align: center;
}

.tour-status-table{
  // width: 21cm;
}

.itinerary-status table{
  margin-bottom: 0px !important;
}

.itinerary-status .itinerary-div{
/*.itinerary-status table,*/
/*.itinerary-status table th,*/
/*.itinerary-status table tr{*/
  page-break-inside:avoid;
  width: 21cm;
  margin: 0 auto;
  /*page-break-inside:auto;*/
}

.itinerary-status table thead th{
  /*border-right-color: white !important;*/
  color: white !important;
  /*background-color: black  !important;*/
  -webkit-print-color-adjust: exact !important;
}

.itinerary-status table thead tr.western-and-exotic th{
  background-color: #900C3F !important;
}

.itinerary-status table thead tr.premium th{
  background-color: #FFC30F !important;
}

.itinerary-status table thead tr.mainland-china th{
  background-color: #581845 !important;
}

.itinerary-status table thead tr.asean th{
  background-color: #C70039 !important;
}

.itinerary-status table thead tr.east-asia th{
  background-color: #FF5733 !important;
}

.itinerary-status table thead tr.g-trip th{
  background-color: #4A86E8 !important;
}

.itinerary-status table thead tr.cruise th{
  background-color: #4F97A3 !important;
}

.itinerary-status table,
.itinerary-status table tr,
// .itinerary-status table th:first-child,
// .itinerary-status table th:last-child,
.itinerary-status table thead th:last-child,
.itinerary-status table th,
.itinerary-status table td{
  border-color: black !important;
  vertical-align: middle !important;
  font-size: 12px;
}
.rooming-list-detail table,
.rooming-list-detail table tr,
.rooming-list-detail table th,
.rooming-list-detail table td{
  vertical-align: middle !important;
  font-size: 9px;
  padding: 2px;
}

.rooming-list-detail table thead th {
  /*border-right-color: white !important;*/
  color: white !important;
  /*background-color: black  !important;*/
  -webkit-print-color-adjust: exact !important;
}

// .itinerary-status table thead th:last-child{
//   border-right-color: black !important;
// }

/*.itinerary-status table thead th{
  font-size: 13px;
}*/
  
.itinerary-status .tui-editor-contents{
 font-size: inherit;
}

.itinerary-status .tui-editor-contents table{
  width: 100%;
  text-align: center;
  page-break-inside:avoid;
} 

.itinerary-status .tui-editor-contents table thead th{
  background-color: grey !important;
  font-weight: bold;
  border: 1px solid #000 !important;
  text-align: center;
}

.capital{  
text-transform: uppercase;
}

.qrcode{
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    padding: 0;
    margin: 0;
    // border-left: solid 2px #000;
    // width: 0px;
    width: 2px;
    height: 2px;
  }

  // td.black { border-color: #000; }
  // td.white { border-color: #fff; }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
}

.tooltip-inner {
  word-break: break-all;
}

.flight-selections{
  display: flow-root;
}

.flight-card{
  border: 1px solid #aaa;
  margin-top: 20px;
}

.flight-card .border-top{
  border-top: 1px solid #aaa;
}

.text-align-center{
  text-align: center;
}

.single-line {
  border-top: 1px solid grey;
}

.hidden-table-text{
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.border-right{
  border-right: 1px solid #aaa;
}

.border-bottom{
  border-bottom: 1px solid #aaa;
}

.flight-detail-card{
  border: 1px solid #aaa;
  border-top: 0;
}

.remove-flight-button {
  font-size: 20px;
  margin-top: 18px;
  cursor: pointer;
}

.text-highlight{
  color: #ffc107 !important;
}

.text-green{
  color: #28a745 !important;
}

.text-dark{
  color: #343a40 !important;
}

.text-grey{
  color: grey !important;
}

.font-weight-bold{
  font-weight: 700 !important;
}

.font-weight-normal{
  font-weight: 400 !important;
}

.nounderline {
  text-decoration: none !important;
}

.bg-grey{
  background: #E6E5E5 !important;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.justify-content-between{
  justify-content: space-between!important
}

// .align-self-stretch{
//   align-self: stretch;
// }

hr.center-break{
  border-color: #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

.noshadow-panel{
  box-shadow: none !important;
  margin-bottom: 0px !important;
}

.invoice-header > div{
  // border: 1px solid;
  background-color: black;
  color: white;

}

.invoice-tr{
  padding: 0 !important;
  border-top: 1px solid #ddd;
}

.middle-line {
    overflow: hidden;
    text-align: center;
}

.middle-line:before,
.middle-line:after {
    background-color: #6c757d;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.middle-line:before {
    right: 0.5em;
    margin-left: -50%;
}
.middle-line:after {
    left: 0.5em;
    margin-right: -50%;
}

.hotel-img {
  width: 24.8em;
  height: 14em;
  border: 20px solid #fff;
  border-radius: 25px;
}

.star-checked {
  color: orange;
}

.hotel-select {
  height: 34px !important;
}

.disclaimer {
  display: none;
  color: red;
}

.insurance-disclaimer {
  color: red;
}

.insurance-section {
  background-color: #FFF9C4;
}

.guardian_details, .guardian_select {
  display: block;
}

.guardian_field, .guardian_none, .insurance-infant {
  display: none;
}

.active_tour {
  color: green;
}

.inactive_tour {
  color: red;
}

.gift-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  text-align: center;
}

.input-label-indicator{
  font-size: 8px;
  color: #aaa;
}

.attraction-title {
  display: inline-block;
  text-decoration: none;
}
.attraction-img-div{
  display: inline-block;
  width: 4.5em;
}
.attraction-button {
  display: inline-block;
  float: right;
}

.attraction-img{
  // display: block;
  width: 4.5em;
  height: 4.5em;
  border: 2px solid #fff;
  border-radius: 100%;
}

.attraction-collapse ul.list-group{
  border-top: 1px solid #ddd;
}

.roamingman-self_pickup, .roamingman-delivery {
  display: none;
}

.roamingman-self_pickup-edit, .roamingman-delivery-edit {
  display: block;
}

.disclaimer {
  display: none;
  color: red;
}

.insurance-section {
  background-color: #FFF9C4;
}

.guardian_details, .guardian_select {
  display: block;
}

.guardian_field, .guardian_none, .insurance-infant, .fpx_banklist, .pbb_banklist, .tbo_name_error {
  display: none;
}

.remove-charge, .remove-quantity, .remove_city, .remove-contact {
  display: none;
}

.active_tour {
  color: green;
}

.inactive_tour, .tbo_name_error {
  color: red;
}

.nominee_details {
  display: block;
}

.nominee_none {
  display: none;
}

#print-order .invoice{
  width: 21cm;
  margin: 0 auto; 
}

.qty-blank {
  padding-right: 0px;
}

.quantity-field {
  padding-left: 0px !important;
}

.price-field {
  width: 11% !important;
}

.qty-add-link {
  padding-left: 0px !important;
}

#print-order .one-a4-page{
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  // padding: 1.5cm;
  /*margin-bottom: 0.5cm;*/
  // box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  /*margin: 5mm;*/

  display: flex!important;
  flex-direction: column!important;
  justify-content: space-between!important;
  
  page-break-after: always;
}

#print-order .booking-room-one-a4-page{
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  // padding: 1.5cm;
  /*margin-bottom: 0.5cm;*/
  // box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  /*margin: 5mm;*/

  display: flex!important;
  flex-direction: column!important;
  
  page-break-after: always;
}

#print-order .booking-room-pagebreak{
  page-break-after: always;
  width: 21cm;
    display: flex!important;
  flex-direction: column!important;
  justify-content: space-between!important;
  
  margin: 0 auto;
}

#print-order .pagebreak{
  page-break-after: always;
  width: 21cm;
  margin: 0 auto;
}

.qty-charge-col {
  width: 3% !important;
}

@media only screen and (max-width: 1092px) {
  .dashboard-brand-1row-div, 
  .dashboard-brand-2row-div{
    width: 49%;
  }
}

@media only screen and (max-width: 620px) {
  .dashboard-brand-1row-div, 
  .dashboard-brand-2row-div{
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  // .login-div{
  //   padding: 10px !important;
  // }
  .cover-img{
    height: 100% !important;
  }
  .input-label-indicator{
    display: block;

  }
  .vertical-align{
    display: block;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0){
  input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height: 1.42857143 !important;
  }
}

.company_chop{
  margin-top: 50px;
}

.blink-insurance-confirm {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
  font-weight: bold;
  text-align: center;
  background-color:red;
  color: #fff;
  padding: .2em .6em .3em;
}
@keyframes blink-animation {
  50% {
    opacity: 0.3;
     color: #FFFAFA; 
  }
}
@-webkit-keyframes blink-animation {
   50% {
    opacity: 0.0;  
  }
}
.tour_column_price{
  width: 9em !important;
}
.lb-sm {
  font-size: 10px !important;
}

.voucher-hr {
  width: 80% !important;
  border-top: 1px solid black !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.voucher-tour-table {
  border-collapse: collapse;
  width: 80% !important;
  border: 1px solid black !important;
}

.voucher-guest-table {
  border-collapse: collapse;
  width: 80% !important;
}

.voucher-tour-table th, .voucher-tour-table td, .voucher-guest-table th, .voucher-guest-table td {
  padding: 3px;
  font-size: 13px !important;
  font-weight: normal !important;
}

.voucher-title-column, .voucher-remark-col {
  width: 25%;
}

.voucher-hotel-col {
  width: 28%;
}

.voucher-depart-col {
  width: 23%;
}

.voucher-ul {
  padding-inline-start: 20px !important;
}

.voucher-table-title {
  font-size: 13px !important;
  margin: 0 0 0px !important;
}
