<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-money fa-fw"></i>Exchange Rate
<% end %>

<%= render 'shared/single_panel', card_title: 'Edit Exchange Rate' do %>
  <%= form_for [:admin, @exchange_rate], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @exchange_rate } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :from_currency %>
        <%= f.select :from_currency, options_for_select(@currencies, selected: f.object.from_currency), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :to_currency %>
        <%= f.select :to_currency, options_for_select(@currencies, selected: 'MYR'), {include_blank: true}, {class: 'custom-form-control form-control' } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :rate %>
        <%= f.number_field :rate, class: 'custom-form-control form-control', step: :any %>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_exchange_rates_path(@exchange_rate), class: 'btn' %>
  <% end %>
<% end %>
