<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-money fa-fw"></i>Exchange Rates
<% end %>

<%= render 'shared/single_panel', card_title: 'View Exchange Rates' do %>
  <%= link_to('New Exchange Rate', new_admin_exchange_rate_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody>
        <% @exchange_rates.each do |exchange_rate| %>
          <tr>
            <td><%= exchange_rate.from_currency %></td>
            <td><%= exchange_rate.to_currency %></td>
            <td><%= link_to exchange_rate.rate, edit_admin_exchange_rate_path(exchange_rate) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>