#ShowLandTour{
	background-color: #f8f8f8;
	/*float: left;*/
	width: 100%
}
/* #ShowLandTour .banner {
	background-image: url("../../../../../images/banner/19.jpg");
	padding: 20px;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	height: 300px;
	background-position: center;
} */

#ShowLandTour .bannerImage {
  object-fit: cover;
  height: 300px;
  width: 100%;
  position: relative;
}
#ShowLandTour .warppage{
  width: 1500px;
  margin: auto;
	margin-top: 50px; 
	padding: 0px 10px;
}

#ShowLandTour  .logo_top{
	width: 100%;
	position: absolute;
	top: 80px;
}

#ShowLandTour  .logo_warp{
	width: 1500px;
	margin: auto;
}
#ShowLandTour .logo_warp img{
	width: 50px;
	height: 50px;
	float: left;
}
#ShowLandTour .logo_warp span{
	font-size: 2.5em;
  margin-left: 5px;
  float: left;
	text-shadow: 1px 2px 1px #00000073;
	color: #fff;
}
#ShowLandTour .res_panel{
	display: none;
}

/****************************** LeftPanel *******************************/
#ShowLandTour .LeftPanel {
	padding-bottom: 100px;
}
#ShowLandTour .LeftPanel .credit_style{
	margin-bottom: 0;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
	color: #119dcf;
	font-weight: bold;
}

#ShowLandTour .LeftPanel {
	width: 70%;
	float: left;
	padding-right: 30px;
}
#ShowLandTour .LeftPanel .hotel_details .header_title h1 {
	margin-bottom: 0px;
	word-break: break-word;
}
#ShowLandTour .LeftPanel .hotel_details .header_title h2 {
	margin-bottom: 10px;
	margin-top: 50px;
}
#ShowLandTour .LeftPanel .hotel_details .header_title .location {
	margin-top: 5px;
}
#ShowLandTour .LeftPanel .hotel_details .header_title .location span{
	margin-right: 10px;
}

#ShowLandTour .LeftPanel .amenities .title{
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}
#ShowLandTour .LeftPanel .amenities .icon_warp div{
	width: 150px;
	float: left;
	text-align: center;
}
#ShowLandTour .LeftPanel .amenities .icon_warp div span{
	font-size: 1.5em;
	margin-bottom: 10px;
}
#ShowLandTour .LeftPanel .things{
	margin-bottom: 30px;
}
#ShowLandTour .LeftPanel .things .ant-avatar{
	width: 150px;
	height: 150px;
	line-height: 50px;
	border: 1px solid #ccc;
	border-radius: 0;
}
#ShowLandTour .LeftPanel .things .wifi_select .point{
	margin-top: 10px;
}
#ShowLandTour .LeftPanel .things .wifi_select .point p{
	margin-bottom: 5px;
}
#ShowLandTour .LeftPanel .slider{
	margin-bottom: 30px;
}
#ShowLandTour .LeftPanel .slider .card_warp{
	padding: 10px;
}
#ShowLandTour .LeftPanel .slider .card_warp .ant-card{
	margin-bottom: 20px;
}
#ShowLandTour .LeftPanel .slider .card_warp .details{
	border-bottom: 1px solid #ccc;
}
#ShowLandTour .LeftPanel .slider .card_warp .details .margin_sty {
	margin-bottom: 5px;
}
#ShowLandTour .LeftPanel .slider .card_warp .details p span{
	margin-right: 10px;
}
#ShowLandTour .LeftPanel .slider .card_warp .price{
	color: green;
}
#ShowLandTour .LeftPanel .slider .card_warp .include{
	margin-top: 10px;
}
#ShowLandTour .LeftPanel .slider .card_warp .include .margin_sty {
	margin-bottom: 5px;
}
#ShowLandTour .LeftPanel .slider .card_warp .include p .icon_style{
	margin-right: 10px;
}
#ShowLandTour .LeftPanel .slider .card_warp .include .right{
	float: right;
}

#ShowLandTour .LeftPanel .slider .card_warp .read{
	text-align: right;
	color: #faad14;
}
#ShowLandTour .LeftPanel .slider .card_warp .btn_room{
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
}

#ShowLandTour .LeftPanel .things .ant-list-item-meta-title{
	line-height: 45px;
}
#ShowLandTour .LeftPanel .things .title{
  font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}
#ShowLandTour .LeftPanel .things .ant-collapse{
	border:0;
	/* background-color: #f1f1f1; */
	margin-top: 25px;
} 
#ShowLandTour .LeftPanel .things .operation{
  margin: 30px 0px;
}
#ShowLandTour .LeftPanel .things .ant-collapse-header{
	 /*color: #1890ff; */
   font-weight: bold;
}
#ShowLandTour .LeftPanel .things .ant-collapse > .ant-collapse-item {
	border-bottom: 0;
	margin-bottom: 5px;
  background: #f1f1f1;
}
#ShowLandTour .LeftPanel .things .ant-collapse-content{
	border-top: 0;
	background-color: #f9f9f9;
}
#ShowLandTour .LeftPanel .things .fees{
	margin-bottom: 0;
	font-weight: bold;
}
#ShowLandTour .LeftPanel .things .wifi_select .point .notice{
	color: #faad14;
}

#ShowLandTour .LeftPanel .guest {
	margin-bottom: 30px;
}
#ShowLandTour .LeftPanel .guest .ant-card-body {
	padding: 10px 24px 24px 24px;
}
#ShowLandTour .LeftPanel .guest.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: coral;
	border-top-width: 5px;
}

#ShowLandTour .LeftPanel .guest .ant-card-head {
	border-bottom: 1px solid #e8e8e8;
}

#ShowLandTour .LeftPanel .guest .guest_content p {
	margin-bottom: 0;
}

#ShowLandTour .LeftPanel .guest .form_guest .form_control label {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

#ShowLandTour .LeftPanel .guest .form_guest .form_control .ant-select {
	width: 100%;
	float: left;
}

#ShowLandTour .LeftPanel .guest .form_guest .form_control .ant-input {
	width: 100%;
	float: left;
}

#ShowLandTour .LeftPanel .guest .form_guest .form_control {
	width: 100%;
	float: left;
	margin: 10px 0px;
}
#ShowLandTour .LeftPanel .guest .form_guest .form_control .package_1{
	width: 20%;
	float: left;
}
#ShowLandTour .LeftPanel .guest .form_guest .form_control .package_1 p{
  margin-bottom: 0;
}
/* #ShowLandTour .LeftPanel .guest .form_guest .form_control .package_1 .type{
  font-size: 1.2em;
} */
#ShowLandTour .LeftPanel .guest .form_guest .form_control .package_1 small{
  margin-bottom: 0;
  color: #ccc;
  }
#ShowLandTour .LeftPanel .guest .form_guest .form_control .package_2{
  width: 80%;
	float: left;
}
#ShowLandTour .LeftPanel .guest .form_guest .form_control .package_2 .ant-input-number{
  width: 80%;
}
#ShowLandTour .LeftPanel .guest .form_guest .form_control .package_2 span{
  float: right;
  color: #52c41a;
  font-size: 1.2em;
  font-weight: bold;
}

#ShowLandTour .LeftPanel .guest .form_guest.pandding_left {
	padding-left: 15px;
}

#ShowLandTour .LeftPanel .guest .form_guest .pandding_right {
	padding-right: 15px;
}

#ShowLandTour .LeftPanel .guest .form_guest .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

#ShowLandTour .LeftPanel .guest.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}


#ShowLandTour .LeftPanel .passenger_warp h4{
	color: #40a9ff;
}

#ShowLandTour .LeftPanel .passenger .passenger_content p {
	margin-bottom: 0;
}

#ShowLandTour .LeftPanel .passenger .form_passenger .form_control label {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}
#ShowLandTour .LeftPanel .passenger .form_passenger .form_control .ant-form-item{
	margin-bottom: 10px;
}

#ShowLandTour .LeftPanel .passenger .form_passenger .form_control .ant-select {
	width: 100%;
	float: left;
}

#ShowLandTour .LeftPanel .passenger .form_passenger .form_control .ant-input {
	width: 100%;
	float: left;
}

#ShowLandTour .LeftPanel .passenger .form_passenger .form_control {
	width: 50%;
	float: left;
	margin: 5px 0px;
	position: relative;
}

#ShowLandTour .LeftPanel .passenger .form_passenger .pandding_left {
	padding-left: 15px;
}

#ShowLandTour .LeftPanel .passenger .form_passenger .pandding_right {
	padding-right: 15px;
}

#ShowLandTour .LeftPanel .passenger .form_passenger .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

#ShowLandTour .LeftPanel .passenger.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}

#ShowLandTour .LeftPanel .contact_infor .notice {
	width: 100%;
	float: left;
}

#ShowLandTour .LeftPanel .contact_infor .notice p {
	margin-bottom: 0px;
}

#ShowLandTour .LeftPanel .contact_infor .phone_notice {
	color: #faad14;
}
#ShowLandTour .LeftPanel .form_sty_select {
	padding-bottom: 200px;
}

#ShowLandTour .LeftPanel .payment {
	margin-top: 30px;
}

#ShowLandTour .LeftPanel .payment input[type="radio"] {
	display: none;
}

#ShowLandTour .LeftPanel .payment input[type="radio"]:not(:disabled)~label {
	cursor: pointer;
}

#ShowLandTour .LeftPanel .payment input[type="radio"]:disabled~label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

#ShowLandTour .LeftPanel .payment label {
	height: 100%;
	display: block;
	background: white;
	/* border: 2px solid #faad14; */
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
	position: relative;
}

#ShowLandTour .LeftPanel .payment input[type="radio"]:checked+label {
	/* background: #20df80; */
	color: white;
	box-shadow: 0px 0px 5px #faad14;
	border: 2px solid #faad14;
}

#ShowLandTour .LeftPanel .payment input[type='radio'][disabled]+label img {
	opacity: .5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#ShowLandTour .LeftPanel .payment input[type="radio"]:checked+label::after {
	color: #fff;
	font-family: FontAwesome;
	border: 2px solid #faad14;
	background-color: #faad14;
	content: "\2714";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

#ShowLandTour .LeftPanel .payment input[type="radio"]#control_05:checked+label {
	background: red;
	border-color: red;
}

#ShowLandTour .LeftPanel .payment .payment_type {
	width: 33.33%;
	float: left;
	padding: 20px;
}

#ShowLandTour .LeftPanel .payment .payment_type img {
	width: 100%;
}

#ShowLandTour .LeftPanel .payment .after_select label {
	box-shadow: none;
	text-align: left;
	padding: 0;
	margin-bottom: 5px;
	background-color: transparent
}

#ShowLandTour .LeftPanel .payment .after_select .ant-checkbox-wrapper {
	margin-top: 20px;
	float: left;
	width: 100%;
}

#ShowLandTour .LeftPanel .after_select .ant-btn {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
	float: right;
	margin-top: 30px;
	padding: 0 50px
}

#ShowLandTour .LeftPanel .payment .after_select .ant-btn:hover {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowLandTour .LeftPanel .payment .after_select .ant-btn:focus {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowLandTour .LeftPanel .payment .after_select .form_control {
	width: 100%;
	float: left;
}
#ShowLandTour .LeftPanel .things .title{
	margin-bottom: 20px;
}
#ShowLandTour .passenger_warp .ant-page-header{
	padding:  0;
}

#ShowLandTour .LeftPanel .things_warp {
	margin-bottom: 10px;
}
#ShowLandTour .LeftPanel .things_warp .info_icon{
  font-size: 1em;
	padding: 5px;
	/*border: 1px solid #ccc;*/
	margin-right: 10px;
}
#ShowLandTour .LeftPanel .things_warp .info_icon .guaranteed_tag{
  font-size: 1em;
  line-height: .8em;
  padding: .2em;
  margin-right: 0;
  text-align: center;
  width: 1.25em;
}
#ShowLandTour .LeftPanel .cutoff{
	color: red;
	/*margin-right: 10px;*/
	font-weight: bold
}
#ShowLandTour .LeftPanel .flight_infor{
	margin-bottom: 30px;
}
#ShowLandTour .LeftPanel .flight_infor .title img{
	width: 25px;
	margin-right: 10px;
}
#ShowLandTour .LeftPanel .flight_infor .title .left_arrow{
	margin: 0px 20px;
}
#ShowLandTour .LeftPanel .flight_infor .date{
	color: #9a9a9a;
}
#ShowLandTour .LeftPanel .flight_infor .details .logo{
	width: 15%;
	padding-right: 20px;
	float: left;
}
#ShowLandTour .LeftPanel .flight_infor .details .logo img{
	width: 100%;
}
#ShowLandTour .LeftPanel .flight_infor .details .content{
	width: 80%;
	float: left;
}
#ShowLandTour .LeftPanel .flight_infor .details .content .airline{
	font-weight: bold;
	margin-bottom: 5px;
}
#ShowLandTour .LeftPanel .flight_infor .details .content .airline span{
	font-weight: bold;
	color:#9a9a9a;
	margin-left: 10px;
}
#ShowLandTour .LeftPanel .flight_infor .details .content .type{
	color:#9a9a9a;
}
#ShowLandTour .LeftPanel .flight_infor .details .content .time div{
	width: 33.33%;
	float: left;
}
#ShowLandTour .LeftPanel .flight_infor .details .content .time div .time_style{
	margin-bottom: 0px;
	font-weight: bold
}
#ShowLandTour .LeftPanel .flight_infor .details .content .time div .country{
	color:#9a9a9a;
	font-size: 12px;
}
#ShowLandTour .LeftPanel .flight_infor .details .content .time div .left_arrow{
	font-size: 1.2em;
	color:#9a9a9a;
}

#ShowLandTour .LeftPanel .booking.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #52c41a;
	border-top-width: 5px;
}
#ShowLandTour .LeftPanel .form_sty_select .booking .title_sub{
	font-weight: bold;
	color:#9a9a9a;
}
/* #ShowLandTour .LeftPanel .form_sty_select .form_booking {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
#ShowLandTour .LeftPanel .form_sty_select .form_booking .label{
	width: 30%;
	float: left;
}
#ShowLandTour .LeftPanel .form_sty_select .form_booking .label p{ 
	margin-bottom: 0px;
}
#ShowLandTour .LeftPanel .form_sty_select .form_booking .label p:nth-child(2){ 
	font-size: 10px;
	color:#9a9a9a;
}
#ShowLandTour .LeftPanel .form_sty_select .form_booking .selection{
	width: 70%;
	float: left;
}
#ShowLandTour .LeftPanel .form_sty_select .form_booking label{
	margin-bottom: 5px;
	float: left;
} */

#ShowLandTour .LeftPanel .passenger.ant-card-bordered {
	border-top-style: solid;
	border-top-color: coral;
	border-top-width: 5px;
}
#ShowLandTour .LeftPanel .passenger .form_control_full  {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}
#ShowLandTour .LeftPanel .passenger .form_control_full label{
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

#ShowLandTour .LeftPanel .tab_select_style p{
	margin-bottom: 0px;
	text-align: center;
}
#ShowLandTour .LeftPanel .tab_select_style .from_sty{
	color: #595959;
	font-size: 10px;
}
#ShowLandTour .LeftPanel .tab_select_style .tab_price{
	color: #595959;
}
#ShowLandTour .LeftPanel .tab_select_style .date_tab{
	color: #595959;
}
#ShowLandTour .LeftPanel .tab_select_style .date_tab .guaranteed_tag{
  font-size: .8em;
  line-height: .8em;
  padding: .2em;
  margin-right: 0;
}
#ShowLandTour .LeftPanel .ant-tabs-nav .ant-tabs-tab-active{
	background-color: #fff;
	color: red;
	border: 1px solid #e8e8e8;
}
#ShowLandTour .LeftPanel .ant-tabs-ink-bar{
	background-color: red;
}
#ShowLandTour .LeftPanel .ant-tabs-nav .ant-tabs-tab-active .tab_select_style .date_tab{
	color: red
}
#ShowLandTour .LeftPanel .ant-tabs-nav .ant-tabs-tab-active .tab_select_style .from_sty{
	color: #9a9a9a
}
#ShowLandTour .LeftPanel .ant-tabs-nav .ant-tabs-tab-active .tab_select_style .tab_price{
	color: #46a518
}
#ShowLandTour .LeftPanel .ant-tabs-nav .ant-tabs-tab:first-child{
  border: 1px solid #e8e8e8;
}
#ShowLandTour .LeftPanel .ant-tabs-nav .ant-tabs-tab{
	padding: 12px 30px;
	margin: 0;
  border: 1px solid #e8e8e8;
  border-left: 0;
}
#ShowLandTour .LeftPanel .ant-tabs-nav .ant-tabs-tab:hover {
	color: #ccc;
}

#ShowLandTour .LeftPanel .infants .form_control_2{
	width: 33.33%;
	float: left;
	margin: 10px 0px;
}
#ShowLandTour .LeftPanel .infants .form_control_2 .ant-calendar-picker{
	width: 100%;
}
#ShowLandTour .LeftPanel .infants{
	margin-top: 10px;
	float: left;
	width: 100%;
}
#ShowLandTour .LeftPanel .infants .title{
	font-size: 1.2em;
	margin-bottom: 0;
	border-bottom: 1px solid #ccc;
}
#ShowLandTour .LeftPanel .infants .plus{
	float: right;
	cursor: pointer;
}
#ShowLandTour .LeftPanel .infants .add_icon{
	color: #40a9ff
}
#ShowLandTour .LeftPanel .infants .remove_icon{
	color: red;
}

#ShowLandTour .LeftPanel .form_booking .ant-select{
	width: 100%;
}
#ShowLandTour .LeftPanel .form_booking .ant-form-item{
	margin-bottom: 10px;
}
#ShowLandTour .LeftPanel .form_booking .ant-calendar-picker{
	width: 100%;
}
#ShowLandTour .LeftPanel .land_booking_form_full{
	width: 100%;
	float: left;
}
#ShowLandTour .LeftPanel .land_booking_form{
	width: 50%;
	float: left;
}
#ShowLandTour .LeftPanel .land_booking_form.p_r{
	padding-right: 15px
}
#ShowLandTour .LeftPanel .land_booking_form.p_l{
	padding-left: 15px
}
#ShowLandTour .LeftPanel .land_flight_form{
  width: 50%;
  float: left;
  padding-top: 10px;
}
#ShowLandTour .LeftPanel .land_flight_form.p_r{
  padding-right: 15px
}
#ShowLandTour .LeftPanel .land_flight_form.p_l{
  padding-left: 15px
}
#ShowLandTour .LeftPanel .form_booking .ant-input-number{
	width: 100%;
}
.ant-modal-body strong.hightlight {
	color: red;
}

/****************************** table css *******************************/
#ShowLandTour .LeftPanel .price_table{
	position: relative;
	/*width: 100%;*/
	overflow: auto;
	padding-top: 70px;
	margin-bottom: 10px;

}
#ShowLandTour .LeftPanel .price_table .warp_list_title{
	list-style: none;
	width: 30%;
  /*width: 100%;*/
	padding: 0;
	margin-bottom: 0;
}
#ShowLandTour .LeftPanel .price_table .warp_list_title li{
	padding: 10px;
	background-color: #e8e8e8;
	margin-bottom: 2px;
  margin-right: 5px;
  font-weight: bold;
}

#ShowLandTour .LeftPanel .price_table .warp_list_table{
	position: absolute;
	bottom: 0;
	left: 220px;
	width: 1100px;
}
#ShowLandTour .LeftPanel .price_table .warp_list_content{
	width: 120px;
	list-style: none;
	padding: 0;
	margin-bottom: 2px;
	float: left;
	margin-right: 5px;

}
#ShowLandTour .LeftPanel .price_table .warp_list_content li{
	padding: 10px 10px 12px 10px;
	/* background-color: #E07900; */
	text-align: center;
	font-weight: bold;
}
#ShowLandTour .LeftPanel .price_table .header_type{
	height: 60px;
	color: #fff;
  background-color: #8e8e8e;
}
#ShowLandTour .LeftPanel .price_table .header_type p{
	margin-bottom: 0;
}

#ShowLandTour .LeftPanel .price_table .left_title{
	font-size: .95em;
	font-weight: lighter;
}

#ShowLandTour .LeftPanel .ant-time-picker{
  width: 100%;
}



/****************************** RightPanel *******************************/
#ShowLandTour .RightPanel {
	width: 30%;
  float: left;
	padding-left: 30px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#ShowLandTour .RightPanel h2{
	margin-bottom: 0;
	width: 40%;
	float: left;
}
#ShowLandTour .RightPanel .title .small_title{
	color:#ccc;
}
#ShowLandTour .RightPanel .title span{
	float: right;
	padding-top: 10px;
}
#ShowLandTour .RightPanel .ant-card {
	border-left-style: solid;
	border-left-color: #b71c1c;
	border-left-width: 5px;
}
#ShowLandTour .RightPanel .ant-card-head {
  padding: 1em;
}
#ShowLandTour .RightPanel .ant-card-body {
  padding: 1em;
}
#ShowLandTour .RightPanel .date_title{
  margin-bottom: .5em;
}
#ShowLandTour .RightPanel .date_select{
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  color: #a5a5a5;
  padding-bottom: 10px;
  word-break: break-word;
}
#ShowLandTour .RightPanel .date_select span{
 padding: 0px 30px;
}
#ShowLandTour .RightPanel .type_description {
	border-bottom: 1px solid #ccc;
}
#ShowLandTour .RightPanel .note_label{
  font-size: .9em;
}
#ShowLandTour .RightPanel .type_description .rent .rent_select{
  font-size: 1.3em;
	color: #a5a5a5;
	margin-bottom: 10px;
	word-break: break-word;
}
#ShowLandTour .RightPanel .type_description .rent .rent_select span{
  padding-right: 20px;
}
#ShowLandTour .RightPanel .type_description{
	margin-bottom: 10px;
}
#ShowLandTour .RightPanel .type_description .rent {
	width: 100%;
	float: left;
}

#ShowLandTour .RightPanel .select_list {
	border-bottom: 1px solid #ccc;
}
#ShowLandTour .RightPanel .select_list .list_warp{
	margin-bottom: 10px;
	font-size: 14px;
}
#ShowLandTour .RightPanel .select_list .list_warp span:nth-child(1n){
	color: #606060;
}
#ShowLandTour .RightPanel .select_list .list_warp span:nth-child(2n){
	color: #000;
	float: right;
}
#ShowLandTour .RightPanel .select_list .list_warp span:nth-child(3n){
  color: #606060;
}
#ShowLandTour .RightPanel .select_list .subtraction_collapse {
  border: 0;
}
#ShowLandTour .RightPanel .select_list .subtraction_collapse .ant-collapse-header {
  padding: 0;
  color: #a5a5a5;
}
#ShowLandTour .RightPanel .select_list .subtraction_collapse .ant-collapse-header .ant-collapse-arrow {
  left: 12em;
}
#ShowLandTour .RightPanel .select_list .subtraction_collapse .ant-collapse-content-box {
  padding: .8em;
  background-color: #f1f1f1;
}

#ShowLandTour .RightPanel .total{
	margin-top: 10px;
}
#ShowLandTour .RightPanel .total span:nth-child(2n){
	float: right;
}
#ShowLandTour .RightPanel .total_summary{
  color: #52c41a;
}
#ShowLandTour .RightPanel .deposit_summary{
  color: #fa8c16;
}
#ShowLandTour .RightPanel .balance_summary{
  color: #52c41a;
}
#ShowLandTour .RightPanel .balance_note_label{
  font-size: .9em;
  color: #52c41a;
}
#ShowLandTour .RightPanel .ant-btn{
	color: #000;
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
	margin-top: 20px;
	height: 40px;
}

/************************************************ Responsive Media Query ****************************************/

@media only screen and (max-width: 1499px) {
  #ShowLandTour .warppage{
    width: 1200px;
  }
  #ShowLandTour .RightPanel .date_select span {
    padding: 0px 8px;
	} 
	#ShowLandTour  .logo_warp{
		width: 1200px;
	}
}

@media only screen and (max-width: 1199px) {
  #ShowLandTour .warppage{
    width: 1000px;
  }
  #ShowLandTour .RightPanel .date_select  {
    font-size: 1em;
  } 
  #ShowLandTour .LeftPanel {
    padding-right: 15px;
  }
  #ShowLandTour .RightPanel {
    padding-left: 15px;
	}
	#ShowLandTour  .logo_warp{
		width: 1000px;
	}
	#ShowLandTour .LeftPanel .credit_style{
		bottom: 15px;
		font-size: .8em;
	}
}


@media only screen and (max-width: 1050px) {
  #ShowLandTour .warppage{
    width: 900px;
	}
	#ShowLandTour  .logo_warp{
		width: 900px;
	}

}


@media only screen and (max-width: 900px) {
  #ShowLandTour .warppage{
    width: 800px;
	}
	#ShowLandTour  .logo_warp{
		width: 800px;
	}
	#ShowLandTour .RightPanel .type_description .rent .rent_select{
		font-size: 1em;
	}
	#ShowLandTour .RightPanel .ant-card-body{
		padding: 10px;
	}
	#ShowLandTour .RightPanel .ant-card-head{
		padding: 0 10px;
	}
	#ShowLandTour .RightPanel .date_title{
		margin-bottom: 5px;
	}
	#ShowLandTour .RightPanel .rent_title{
		margin-bottom: 5px;
	}
	#ShowLandTour .RightPanel .select_list .list_warp {
    margin-bottom: 5px;
    font-size: 12px;
	}
	#ShowLandTour .LeftPanel .credit_style{
		bottom: 10px;
		font-size: .6em;
	}
	#ShowLandTour .LeftPanel .hotel_details .header_title h1{
		font-size: 1.5em;
	}
	

}

@media only screen and (max-width: 770px) {
  #ShowLandTour .warppage{
    width: 700px;
	}
	#ShowLandTour .LeftPanel .land_booking_form{
		width: 100%;
	}
	#ShowLandTour .LeftPanel .land_booking_form.p_r {
    padding-right: 0px;
	}
	#ShowLandTour .LeftPanel .land_booking_form.p_l {
		padding-left: 0px;
	}
  #ShowLandTour .LeftPanel .land_flight_form{
    width: 100%;
    padding-top: 10px;
  }
  #ShowLandTour .LeftPanel .land_flight_form.p_r {
    padding-right: 0px;
  }
  #ShowLandTour .LeftPanel .land_flight_form.p_l {
    padding-left: 0px;
  }
	#ShowLandTour  .logo_warp{
		width: 700px;
	}
	#ShowLandTour .LeftPanel .ant-card-body{
		padding: 15px;
	}
	#ShowLandTour .LeftPanel .passenger .form_passenger .form_control{
		width: 100%;
	}
	#ShowLandTour .LeftPanel .passenger .form_passenger .pandding_right{
		padding-right: 0px;
	}
	#ShowLandTour .LeftPanel .passenger .form_passenger .pandding_left {
    padding-left: 0px;
	}
	#ShowLandTour .LeftPanel .payment .payment_type {
		padding: 10px;
	}
	#ShowLandTour .LeftPanel .payment label{
		border-radius: 10px;
		padding: .5rem;
	}
	#ShowLandTour .RightPanel .select_list .list_warp {
    font-size: 11px;
	}
	#ShowLandTour .LeftPanel .infants .form_control_2{
		width: 100%;
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(1){
		width: 40%
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(2){
		width: 20%
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(3){
		width: 40%
	}
}


@media only screen and (max-width: 720px) {
  #ShowLandTour .warppage{
		width: 90%;
		padding: 0px;
	}
	#ShowLandTour  .logo_warp{
		width: 90%;
	}
  
  #ShowLandTour .LeftPanel {
    width: 100%;
    padding-right: 0px;
	}
	#ShowLandTour .RightPanel {
		display: none;
	}
	#ShowLandTour .res_panel{
		display: block;
	}
	#ShowLandTour .res_panel_btn{
		position: fixed;
    top: 350px;
		right: 0;
		border-radius: 0px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #b71c1c;
		border-color: #b71c1c;
		/* -ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg); */
	}
	#ShowLandTour .LeftPanel .payment input[type="radio"]:checked+label::after{
		height: 25px;
    width: 25px;
		line-height: 25px;
		font-size: 15px;
    top: -15px;
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(1){
		width: 35%
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(2){
		width: 30%
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(3){
		width: 35%
	}
	#ShowLandTour .LeftPanel .form_sty_select .form_booking .label{
		width: 100%
	}
	#ShowLandTour .LeftPanel .form_sty_select .form_booking .selection{
		width: 100%
	}

}
@media only screen and (max-width: 450px){
  /****************************** table css *******************************/
  #ShowLandTour .LeftPanel .price_table .warp_list_title{
    list-style: none;
    /* width: 55%; */
    padding: 0;
    margin-bottom: 0;
  }

	#ShowLandTour .LeftPanel .credit_style{
		bottom: 5px;
		font-size: .5em;
	}
	#ShowLandTour .LeftPanel .flight_infor .details .logo{
		width: 100%;
		text-align: center;
		padding-right: 0px;
	}
	#ShowLandTour .LeftPanel .flight_infor .details .logo img{
		width: 80px;
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content{
		width: 100%;
		margin-top: 20px;
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div{
		text-align: center;
	}

	#ShowLandTour .LeftPanel .flight_infor .details .content .type{
		text-align: center
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .airline{
		text-align: center
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(1){
		width: 40%
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(2){
		width: 20%
	}
	#ShowLandTour .LeftPanel .flight_infor .details .content .time div:nth-child(3){
		width: 40%
	}
	#ShowLandTour .LeftPanel .things_warp{
		margin-bottom: 10px;
	}
	#ShowLandTour .LeftPanel .things_warp .info_icon{
    font-size: 1em;
		padding: 8px;
		margin-right: 10px;
	}

}


@media only screen and (max-width: 400px){
  /****************************** table css *******************************/
  #ShowLandTour .LeftPanel .price_table .warp_list_title{
    list-style: none;
    /* width: 61%; */
    padding: 0;
    margin-bottom: 0;
  }

	#ShowLandTour .LeftPanel .payment .payment_type {
    padding: 5px;
}
}
