<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>
<% if @hotel.hotel_code.present? %>
  <% content_for :title do %>
    <i class="fa fa-hotel fa-fw"></i>Hotels
  <% end %>

  <%= render 'shared/single_panel', card_title: 'Edit Hotel' do %>
    <%= form_for [:admin, @hotel], html: { role: "form" } do |f| %>
      <%= render partial: 'partials/errors', locals: { target: @hotel } %>
      <div class="row">
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :hotel_name, "Hotel" %>
          <%= f.text_field :hotel_name, class: 'custom-form-control form-control travelprologue-hotel-autocomplete', required: true %>
        </div>

        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :markup_type, "Markup Type" %>
          <%= f.select :markup_type, options_for_select(TBOHotel::markup_types.collect { |s| [s[0].titleize, s[0]] }, selected: f.object.markup_type), {include_blank: true}, {class: 'custom-form-control form-control'} %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :markup %>
          <%= f.number_field :markup_amount, class: 'custom-form-control form-control' %>
        </div>
      </div>

      <div class="custom-form-group form-group col-sm-12">
        <div class="custom-form-group form-group col-sm-6">
          <h4>Current Hotel's Images</h4>
        </div>
        <%= f.fields_for :covers do |cover| %>
          <%= render 'hotel_image_fields', f: cover %>
        <% end %>
        <div class="field custom-form-group form-group col-sm-12">
          <b><%= link_to_add_association 'Add Image', f, :covers, partial: 'hotel_image_fields', class: "btn btn-default"  %></b>
        </div>
      </div>

      <br>

      <% if false %>
        <div class="row" style="margin-bottom: 100px;">
          <div class="col-xs-12 mt20">
            <% @hotel.covers.in_groups_of(3).each do |hotel_images| %>
              <div class="row">

                <% hotel_images.each do |image| %>
                  <% if image.present? %>

                    <div class="col-md-4">
                      <%= image_tag image.image_url, class: "hotel-img" %>
                      <%= label_tag "Remove this Image?" %>
                      <%= check_box_tag 'delete_image_ids[]', image.id, false, id: "img-#{image.image_url.to_s.split('/')[-1]}" %> 
                    </div>

                  <% end %>
                <% end %>

              </div>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>


      <% if @hotel_details.image_urls.present? %>
        <div class="row">
          <div class="custom-form-group form-group col-sm-6">
            <h4>TBO Default Hotel's images</h4>
          </div>

          <div class="col-xs-12 mt20">
            <% @hotel_details.image_urls.in_groups_of(3).each do |hotel_images| %>
              <div class="row">

                <% hotel_images.each do |image_url| %>
                  <% if image_url.present? %>

                    <div class="col-md-4">
                      <%= image_tag image_url, class: "hotel-img" %>
                      <%= label_tag "Use this Image?" %>
                      <%= check_box_tag 'image_url[]', image_url, false, id: "img-#{image_url.to_s.split('/')[-1]}" %> 
                    </div>

                  <% end %>
                <% end %>

              </div>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>

      <br>

      <div class="row">
        <div class="col-md-12">
          <%= f.submit "Update", class: 'btn btn-primary' %>
          <%= link_to 'Cancel', admin_tbo_hotel_path(@hotel), class: 'btn' %>
        </div>
      </div>
    <% end %>
  <% end %>

<% else %>

  <% content_for :title do %>
    <i class="fa fa-hotel fa-fw"></i>Hotels General Markup
  <% end %>

  <%= render 'shared/single_panel', card_title: 'Edit General Markup' do %>
    <%= form_for [:admin, @hotel], html: { role: "form" } do |f| %>
      <%= render partial: 'partials/errors', locals: { target: @hotel } %>
      <div class="row">
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :markup_type, "Markup Type" %>
          <%= f.select :markup_type, options_for_select(TBOHotel::markup_types.collect { |s| [s[0].titleize, s[0]] }, selected: f.object.markup_type), {include_blank: true}, {class: 'custom-form-control form-control', required: true} %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :markup %>
          <%= f.number_field :markup_amount, class: 'custom-form-control form-control', required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.submit "Update", class: 'btn btn-primary' %>
          <%= link_to 'Cancel', admin_tbo_hotel_path(@hotel), class: 'btn' %>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>