<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotels
<% end %>

<%= render 'shared/single_panel', card_title: 'Hotel List' do %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_tbo_hotels_path, method: 'get' do %>
        <div class="col-xs-12 col-md-3">
          <%= text_field_tag :hotel_keyword, params[:hotel_keyword], placeholder: 'Hotel Name', class: 'form-control' %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= text_field_tag :city_name, params[:city_name], placeholder: 'City', class: 'form-control tbo-holidays-city-autocomplete', autocomplete:'off' %>
          <%= hidden_field_tag :city_code_keyword, params[:city_code_keyword], id: 'tp_city_code' %>
          <%= hidden_field_tag :city_name_keyword, params[:city_name_keyword], id: 'tp_city_name' %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= select_tag :hotel_rating, options_for_select(TBOHotel::RATING_MAPPING.invert, params[:hotel_rating]), {prompt: "Select Hotel Rating", class: 'form-control'} %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <%#= link_to('New Hotel', new_admin_hotel_path, class: 'btn btn-primary') %>
    <% if @general_mark_up.present? %>
      <%= link_to('Edit General Markup', edit_admin_tbo_hotel_path(@general_mark_up), class: 'btn btn-default') %>
    <% end %>
  </div>

  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Hotel</th>
            <th>City</th>
            <th>Markup Type</th>
            <th>Markup</th>
            <th>Action ( <%= check_box_tag "active-all", true, false, {class: "active-all"} %>  Select All )</th>
          </tr>
        </thead>
        <tbody>
          <% @hotels.each do |hotel| %>
            <% if hotel.hotel_code.present? %>
              <tr>
                <td><%= link_to raw(hotel.hotel_name), admin_tbo_hotel_path(hotel) %></td>
                <td><%= hotel.city_name %></td>
                <td><%= hotel.markup_type.try(:titleize) %></td>
                <td><%= hotel.markup_amount %></td>
                <td>
                  <label class="checkbox-inline">
                    <%= check_box_tag :is_active, hotel.is_active ? false : true, hotel.is_active ? true : false, {id: hotel.id, class: "activate-hotel"} %> <span class="active-text"><% if hotel.is_active %>Active<% else %>Inactive<% end %></span>
                  </label>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @hotels %>
  </div>
<% end %>
