<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% if @hotel.hotel_code.present? %>

  <% content_for :title do %>
    <i class="fa fa-ticket fa-fw"></i>Hotels
  <% end %>

  <%= render 'shared/single_panel', card_title: 'Hotel Detail' do %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :hotel %>
        <%= text_field_tag '', raw(@hotel.hotel_name), class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :markup_type %>
        <%= text_field_tag '', @hotel.markup_type.try(:titleize), class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-4">
        <%= label_tag :markup_amount %>
        <%= text_field_tag '', number_to_currency(@hotel.markup_amount, precision: 0, unit: ''), class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>

    <% if @hotel.covers.present? %>
      <div class="row">
        <div class="custom-form-group form-group col-sm-6">
          <%= label_tag :cover, "Hotel's pictures" %> <br>
        </div>

        <div class="col-xs-12 mt20">
          <% @hotel.covers.in_groups_of(3).each do |hotel_images| %>
            <div class="row">

              <% hotel_images.each do |image| %>
                <% if image.present? %>

                  <div class="col-md-4">
                    <%= image_tag image.image.url, class: "hotel-img" %>
                  </div>

                <% end %>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <br>

    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Edit', edit_admin_tbo_hotel_path(@hotel), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', admin_tbo_hotels_path, class: 'btn' %>    
      </div>
    </div>
    
  <% end %>

<% else %>

  <% content_for :title do %>
    <i class="fa fa-ticket fa-fw"></i>Hotels General Markup
  <% end %>

  <%= render 'shared/single_panel', card_title: 'General Markup' do %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :markup_type %>
        <%= text_field_tag '', @hotel.markup_type.try(:titleize), class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :markup %>
        <%= text_field_tag '', number_to_currency(@hotel.markup_amount, precision: 0, unit: ''), class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Edit', edit_admin_tbo_hotel_path(@hotel), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', admin_tbo_hotels_path, class: 'btn' %>    
      </div>
    </div>
    
  <% end %>

<% end %>