<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>

<%= render 'shared/single_panel', card_title: 'Users Access Log' do %>
  <%= link_to('View All Users', admin_users_path, class: 'btn btn-primary')%>

  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <div class="card">
        <div class="card-header"></div>
        <%= form_tag access_log_admin_users_path, method: 'get' do %>
        <div class="card-body">
          <div class="form-group">
            From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
          </div>
          <div class="form-group"><%= text_field_tag :full_name, params[:full_name], placeholder: 'Name' %></div>
        </div>
        <div class="card-footer text-muted">
          <%= submit_tag 'Search', class: 'btn btn-success' %>  
        </div>
        <% end %>
      </div>      
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Latest Login At</th>
          <th>Last Login At</th>
          <th>Sign In Count</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Role</th>
          <th>Max login</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.current_sign_in_at.try(:strftime, "%F %T") %></td>
            <td><%= user.last_sign_in_at.try(:strftime, "%F %T") %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.username %></td>
            <td><%= user.full_name %></td>
            <td><%= user.role %></td>
            <td><%= user.max_sign_in %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users %>
<% end %>