<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>

<%= render 'shared/single_panel', card_title: 'View Users' do %>
  <%= link_to('New User', new_admin_user_path, class: 'btn btn-primary')%>
  <%= link_to('New Agent', new_admin_user_path(agent: true), class: 'btn btn-primary')%>

  <%= link_to('Access Log', access_log_admin_users_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_users_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <%= text_field_tag :state, params[:state], placeholder: 'City' %>
        <%= select_tag :user_active_type, options_for_select(['Active', 'Inactive', 'All'], params[:user_active_type]) %>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Location</th>
          <th>Role</th>
          <th>Domains</th>
          <th>Max login</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.code %></td>
            <td><%= link_to user.username, admin_user_path(user) %></td>
            <td><%= user.full_name %></td>
            <td><%= user.other_name %></td>
            <td><%= user.phone %></td>
            <td><%= user.state %></td>
            <td><%= user.role %></td>
            <td><%= user.domains.join(', ') %></td>
            <td><%= user.max_sign_in %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @users.count > 0 %>
    <p>Total: <%= @users.count %></p>
  <% end %>
  <%= paginate @users %>
<% end %>