<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>

<%= render 'shared/single_panel', card_title: 'Create User' do %>
  <%= form_for [:admin, @user], html: { role: "form" } do |f| %>
    <%= render partial: 'partials/errors', locals: { target: @user } %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :code %>
        <%= f.text_field :code, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :full_name %>
        <%= f.text_field :full_name, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :other_name %>
        <%= f.text_field :other_name, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :alias_name %>
        <%= f.text_field :alias_name, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'custom-form-control form-control', data:{ provide: 'typeahead', source: @states } %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :postal %>
        <%= f.text_field :postal, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :country %>
        <%= f.text_field :country, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :phones %>
        <%= f.text_field :phones, value: @user.join_phones, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :faxes %>
        <%= f.text_field :faxes, value: @user.join_faxes, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :emails %>
        <%= f.hidden_field :emails, value: @user.join_emails, class: 'custom-form-control-tagsinput', data: {role: 'tagsinput'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :website %>
        <%= f.text_field :website, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :max_sign_in %>
        <%= f.number_field :max_sign_in, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :role %>
        <% if @user.agent? || @user.subagent? %>
          <%= text_field_tag '', @user.role.humanize, class: 'custom-form-control form-control', disabled: true %>
          <%= f.hidden_field :role, value: @user.role %>
        <% else %>
          <%= f.select :role, options_for_select(@user_roles.collect { |s| [s[0].humanize, s[0]] }, selected: @user.role), {}, {class: 'custom-form-control form-control'} %>
        <% end %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :is_active %>
        <%= f.select :is_active, options_for_select([["Yes", "true"], ["No", "false"]], selected: @user.is_active), {}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :domain_access %>
        <div class='custom-form-control'>
          <%= f.collection_check_boxes(:domains, User::DOMAINS, :to_s, :to_s) %>
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :travelb2b_module_access %>
        <div class='custom-form-control'>
          <%= f.check_box :access_series, {}, true %>&nbsp;Series
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :access_activity, {}, true %>&nbsp;Activity
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :access_flight, {}, true %>&nbsp;Flight
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :access_wifi, {}, true %>&nbsp;Wifi
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :access_hotel, {}, true %>&nbsp;Hotel
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :access_busferry, {}, true %>&nbsp;Bus Ferry
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :access_land_tour, {}, true %>&nbsp;Ground Tour
        </div>
      </div>
      <div class="custom-form-group form-group col-sm-12">
        <%= f.label :remark %>
        <%= f.text_field :remark, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>
