<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>

<%= render 'shared/single_panel', card_title: 'Online Users' do %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Latest Login At</th>
          <th>Last Login At</th>
          <th>Current Sign In Count</th>
          <th>Sign In Count</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Role</th>
          <th>Max login</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.current_sign_in_at.try(:strftime, "%F %T") %></td>
            <td><%= user.last_sign_in_at.try(:strftime, "%F %T") %></td>
            <td><%= user.session_count %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.username %></td>
            <td><%= user.full_name %></td>
            <td><%= user.role %></td>
            <td><%= user.max_sign_in %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>