<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>
<%= render 'shared/single_panel', card_title: 'Reset User Password' do %>
  <%= form_for [:admin, @user], method: 'POST', url: reset_password_admin_user_path(@user), html: { role: "form" } do |f| %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :code %>
        <%= f.text_field :code, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'custom-form-control form-control', autofocus: true %>
      </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>


<% end %>