<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>

<%= render 'shared/single_panel', card_title: "User Detail" do %>
  <%= link_to 'View All Users', admin_users_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @user.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :username %>
      <%= text_field_tag '', @user.username, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :full_name %>
      <%= text_field_tag '', @user.full_name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :other_name %>
      <%= text_field_tag '', @user.other_name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :alias_name %>
      <%= text_field_tag '', @user.alias_name, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :address %>
      <%= text_field_tag '', @user.address, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :city %>
      <%= text_field_tag '', @user.city, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :state %>
      <%= text_field_tag '', @user.state, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :postal %>
      <%= text_field_tag '', @user.postal, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :country %>
      <%= text_field_tag '', @user.country, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :phones %>
      <%= text_field_tag '', @user.join_phones, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :faxes %>
      <%= text_field_tag '', @user.join_faxes, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :emails %>
      <%= text_field_tag '', @user.join_emails, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :website %>
      <%= text_field_tag '', @user.website, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :max_sign_in %>
      <%= text_field_tag '', @user.max_sign_in, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :role %>
      <%= text_field_tag '', @user.role.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :is_active %>
      <%= text_field_tag '', @user.is_active ? 'Yes' : 'No', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :Domain_access %>
      <%= text_field_tag  '', @user.domains.join(', '), class: 'custom-form-control form-control', disabled: true  %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :travelb2b_module_access %>
      <%= text_field_tag  '', @user.travelb2b_access_text, class: 'custom-form-control form-control', disabled: true  %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :credits %>
      <%= text_field_tag '', @user.credits, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_edited_user %>
      <%= text_field_tag '', @user.last_edited_user.present? ? @user.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_edited_at %>
      <%= text_field_tag '', @user.last_edited_at.present? ? @user.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_reset_password_edited_user %>
      <%= text_field_tag '', @user.last_reset_password_edited_user.present? ? @user.last_reset_password_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_reset_password_edited_at %>
      <%= text_field_tag '', @user.last_reset_password_edited_at.present? ? @user.last_reset_password_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :remark %>
      <%= text_field_tag '', @user.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  
  <%= link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'Reset Password', reset_password_admin_user_path(@user), class: 'btn btn-danger' %>
  <% if policy([:admin, User]).topup_credits? %>
    <%= link_to 'Topup Credits', topup_credits_admin_user_path(@user), class: 'btn btn-success' %>
  <% end %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>