<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-user fa-fw"></i>Users
<% end %>
<%= render 'shared/single_panel', card_title: 'Topup User Credit' do %>
  <%= form_tag topup_credits_admin_user_path(@user), role: "form" do %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :code %>
        <%= text_field_tag '', @user.code, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :username %>
        <%= text_field_tag '', @user.username, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :credits %>
        <%= text_field_tag '', @user.credits, class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :topup %>
        <%= number_field_tag :credits, '', class: 'custom-form-control form-control', autofocus: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :remark %>
        <%= text_field_tag :remark, '', class: 'custom-form-control form-control', autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= submit_tag 'Topup Credits', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    </div>
    
  <% end %>


<% end %>