<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Activities
<% end %>

<%= render 'shared/single_panel', card_title: 'View Activities' do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag(activities_path, method: :get)do %>
        <div class="row">
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:country) %>
            <%= select_tag(:country, options_for_select(@countries, selected: params[:country]), {include_blank: true, class: 'custom-form-control form-control'})%>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag(:title) %>
            <%= text_field_tag :title, params[:title],  {class: 'custom-form-control form-control'}  %>
          </div>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if @globaltix_ticket_groups.present? %>
      <% @globaltix_ticket_groups.each do |attraction_id, globaltix_tickets| %>
        <% globaltix_attraction = GlobaltixAttraction.find_by_attraction_id(attraction_id) %>
        <% attraction, attraction_err = Globaltix::Attraction.find(attraction_id) %>
        <%= link_to new_booking_activities_path(:id => attraction_id), target: "_blank" do  %>
          <div class="col-sm-4 col-xs-12 mt20">
            <div class="panel panel-default">
              <div class="panel-heading activity-panel">
                <div class="row">
                  <div class="col-xs-12 activity-img">
                    <%= image_tag attraction.image_url(:banner), class: "cover-activity-idx" %>
                    <div class="country-label">
                      <div class="country-text"><i class="fa fa-map-marker fa-fw"></i><%= globaltix_tickets.first.country %></div>
                    </div>
                  </div>
                </div>
              </div>

              <ul class="list-group activity-body">
                <li class="list-group-item">
                  <h4 class="panel-title"><%= globaltix_attraction.title %></h4><br>
                  <div class="row">
                    <div class="col-xs-8 mt5">
                      <p class="bold">From MYR <%= globaltix_attraction.min_price %>/person</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if @activities.present? %>
      <% @activities.each do |activity| %>
        <%= link_to new_activity_activity_booking_path(activity), target: "_blank" do  %>
          <div class="col-sm-4 col-xs-12 mt20">
            <div class="panel panel-default">
              <div class="panel-heading activity-panel">
                <div class="row">
                  <div class="col-xs-12 activity-img">
                    <%= image_tag activity.covers.present? ? activity.covers.first.image.url : 'default-image.png', class: "cover-activity-idx" %>
                    <div class="country-text"><i class="fa fa-map-marker fa-fw"></i><%= activity.country %></div>
                  </div>
                </div>
              </div>
              
              <ul class="list-group activity-body">
                <li class="list-group-item">
                  <h4 class="panel-title"><%= activity.title.present? ? activity.title : "Untitled" %></h4><br>
                  <div class="row">
                    <div class="col-xs-8 mt5">
                      <p class="bold">From MYR <%= activity.min_price %>/person</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>