<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Activity Booking
<% end %>

<%= render 'shared/single_panel', card_title: "New booking for Activity: #{@globaltix_attraction.title}" do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= image_tag @attraction.image_url(:banner), class: "cover-activity" %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Description" %><br>
      <%= simple_format(@globaltix_tickets.first.ticket.description) %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Terms and Conditions" %><br>
      <%= simple_format(@globaltix_tickets.first.ticket.terms_and_conditions) %>
    </div>
  </div>

  <div class="row mt20">
    <%= form_tag create_booking_activities_path, method: 'POST', class: "activity-booking-form" do %>
      <div class="custom-form-group form-group col-sm-12">
        <%= label_tag '', "No of Package(s)" %><br>
        <% @globaltix_tickets.active.each_with_index do |globaltix_ticket, index| %>
          <%= hidden_field_tag 'ticket_ids[]', globaltix_ticket.id %>
          <%= hidden_field_tag 'ticketTypes[][id]', globaltix_ticket.id %>
          <div class="col-sm-12">
            <div class="field custom-form-group form-group col-sm-2">
              <%= label_tag '', "#{globaltix_ticket.variation}", class: 'custom-form-control' %>
            </div>  
            <div class="field custom-form-group form-group col-sm-1">
              <%= number_field_tag "ticketTypes[][quantity]", params.present? && params.dig(:ticketTypes, index).present? ? params[:ticketTypes][index].fetch(:quantity, '') : '', class: 'custom-form-control form-control quantity', data: { price: globaltix_ticket.final_price }, required: :true, min: 1 %>
            </div> 
            <div class="field custom-form-group form-group col-sm-2">
              <p class="custom-form-control">x MYR <%= globaltix_ticket.final_price %></p>
            </div>
            <div class="field custom-form-group form-group col-sm-7">
              <div class="row">
                <% if globaltix_ticket.ticket.is_advance_booking? %>
                  <div class="field custom-form-group form-group col-sm-12">
                    <%= label_tag :visitDate %>
                    <%= date_field_tag 'ticketTypes[][visitDate]', params.present? && params.dig(:ticketTypes, index).present? ? params[:ticketTypes][index].fetch(:visitDate, '') : '', class: 'custom-form-control form-control', min: Date.current + globaltix_ticket.ticket.is_advance_booking.to_i, required: :true %>
                  </div>
                <% end %>
                <div class="field custom-form-group form-group col-sm-12">
                  <% globaltix_ticket.ticket.questions.each_with_index do |question, qindex| %>
                    <%= render_globaltix_question(question, params.present? && params.dig(:ticketTypes, index, :questionList, qindex).present? ? params[:ticketTypes][index][:questionList][qindex] : '') %>
                  <% end %>
                </div>
              </div>  
            </div>
          </div> 
        <% end %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="field custom-form-group form-group col-sm-2">
            <%= label_tag '', "Total Amount", class: 'custom-form-control' %>
          </div>  
          <div class="field custom-form-group form-group col-sm-2">
            <p class="custom-form-control" id="total-amount">MYR 0</p>
          </div> 
          <div class="field custom-form-group form-group col-sm-8">
            &nbsp;
          </div>
        </div>

        <div class="row">
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :name %>
            <%= text_field_tag :customerName, params[:customerName], class: 'custom-form-control form-control' %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email], class: 'custom-form-control form-control', required: :true %>
          </div>
        </div>
      </div>

      <div class="mt20 custom-form-group form-group col-sm-12">
        <%= submit_tag 'Book', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    <% end %>
  </div>
<% end %>