<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-puzzle-piece fa-fw"></i>Activities
<% end %>

<%= render 'shared/single_panel', card_title: 'Activity Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :title %>
      <%= text_field_tag '', @activity.title.present? ? @activity.title : "Untitled", class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :highlight %>
      <%= text_field_tag '', @activity.highlight, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :description %>
      <%= text_area_tag '', @activity.description, class: 'custom-form-control form-control', rows: "4", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :operation_days %>
      <%= text_field_tag '', @activity.join_operation_days, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :categories %>
      <%= text_area_tag '', @activity.join_categories, class: 'custom-form-control form-control', rows: "3", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :booking_date %>
      <%= render_marvel_booking_date(@activity) %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :travelling_date %>
      <%= render_marvel_travelling_date(@activity) %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :min_booking %>
      <%= text_field_tag '', @activity.min_booking, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :max_booking %>
      <%= text_field_tag '', @activity.max_booking, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :supplier %>
      <%= text_field_tag '', @activity.supplier, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :country %>
      <%= text_field_tag '', @activity.country, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <div class="row">
    <% @activity.activity_prices.each_with_index do |price, i| %>
      <%= label_tag '', "Price List #{i+1}", class: "col-sm-12" %>
      <div class="custom-form-group form-group col-sm-12">
        <div class="nested-fields">
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :category %>
            <%= text_field_tag '', price.category, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :code_type %>
            <%= text_field_tag '', price.code_type, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :cost_price %>
            <%= text_field_tag '', price.cost_price, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :price %>
            <%= text_field_tag '', price.price, class: 'custom-form-control form-control', disabled: true %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Images" %>
      <% @activity.covers.each do |cover| %>
        <% if cover.image.present? %>
          <div class="custom-form-group form-group col-sm-4">
            <%= link_to cover.image.url, target: '_blank' do %>
              <% image_tag cover.image.url, class: 'cover-thumbnail' %>
            <% end %>
          </div>  
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Add Booking', new_activity_activity_booking_path(@activity), class: 'btn btn-success' %>
  <%= link_to 'Cancel', :back, class: 'btn' %>
<% end %>
