<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-ticket fa-fw"></i>Activity
<% end %>

<%= render 'shared/single_panel', card_title: "#{@ticket.attraction.title}<br>#{@ticket.name}".html_safe do %>
  <div class="row enlarge-col">
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Name:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @ticket.name %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Type:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @ticket.variation %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Price:
      </div>
      <div class="col-xs-7 col-sm-9">
        MYR <%= @globaltix_ticket.final_price %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-5 col-sm-3 bold">
        Description:
      </div>
      <div class="col-xs-7 col-sm-9">
        <%= @ticket.description %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-xs-12 bold">
        Terms and Conditions:
      </div>
      <div class="col-xs-12">
        <%= @ticket.terms_and_conditions %>
      </div>
    </div>
  </div>

  <div class="row mt20">
    <div class="col-xs-12">
      <%= form_tag activities_path, method: 'POST' do %>
        <%= hidden_field_tag :id, @globaltix_ticket.id %>

        <div class="row">
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :name %>
            <%= text_field_tag :customerName, params[:customerName], class: 'custom-form-control form-control' %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email], class: 'custom-form-control form-control', required: :true %>
          </div>
          <%= hidden_field_tag 'ticketTypes[][id]', @ticket.id %>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :quantity %>
            <%= text_field_tag 'ticketTypes[][quantity]', params[:ticketTypes].present? ? params[:ticketTypes].first.fetch(:quantity, '') : '', class: 'custom-form-control form-control', required: :true %>
          </div>
          <% if @ticket.is_advance_booking? %>
            <div class="custom-form-group form-group col-sm-6">
              <%= label_tag :visitDate %>
              <%= date_field_tag 'ticketTypes[][visitDate]', params[:ticketTypes].present? ? params[:ticketTypes].first.fetch(:visitDate, '') : '', class: 'custom-form-control form-control', min: Date.current + @ticket.is_advance_booking.to_s, required: :true %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <% @ticket.questions.each_with_index do |question, index| %>
            <%= render_globaltix_question(question, params[:ticketTypes].present? && params[:ticketTypes][0][:questionList].present? ? params[:ticketTypes][0][:questionList][index] : '') %>
          <% end %>
        </div>

        <div class="row">
          <div class="custom-form-group form-group col-sm-6">
            <%= submit_tag 'Book', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% end %>