<div class="modal fade large" id="more-details-room-<%= room.request_code %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Room Details</h4>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12">
            <p>
              <b>Description:</b> <%= room.description %> <br>
              <b>Promotions:</b> <%= "#{room.promotion_text.present? ? room.promotion_text : ''}" %> <br>
              <b>Cancellation Policy:</b> <%= "#{room.free_cancellable ? "FREE Cancellation Until #{room.cancell_upto}" : "Cancellation Until #{room.cancell_upto}" }" %> <br>
              <b>Breakfast:</b> <%= "#{room.isbreakfast ? "Included" : "Not Included" }" %> <br>
              <b>Internet:</b> <%= "#{room.has_free_internet ? "Included" : "Not Included" }" %> <br>
            </p>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>
