<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotel Booking
<% end %>

<%= render 'shared/single_panel', card_title: 'Hotel Booking' do %>
  <% if @rate_rule.present? %>

    <div class="row">
      <div class="col-xs-12">
        <h1><%= @rate_rule.hotel_name %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>
          <h3>Booking Details</h3>
          <%= "Date: #{params[:hotel_bookings][:check_in]} to #{params[:hotel_bookings][:check_out]}" %>
          <h4>Travellers</h4>
          <%= "#{params[:hotel_bookings][:adults]} Adults, #{params[:hotel_bookings][:childs]} Children" %>
          <h4>Room Description</h4>
          <%= @price_break_down.room_description %> <br>
          <%= @cancellation_policy.penalty_type_code == "FREE_CANCELLATION" ? "Free room" : 'Room' %> cancellation until - <b><%= @cancellation_policy.as_of_date.to_date.strftime("%d %b %Y, %I:%M %p") %> (Hotel Time)</b>

          <h4>Total Cost</h4>
          <%= "#{number_to_currency(Hotel.rate_with_markup(@price_break_down.total_cost_inclusive, @hotel.markup, @hotel.markup_category, @price_break_down.total_cost_inclusive_currency), precision: 2, unit: "MYR ") }" %> <br>
        </p>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="container">
        <a data-toggle="collapse" href='#comment_contract' class="black">Read more</a>
        <div id="comment_contract" class="collapse">
          <%= raw @price_break_down.comment_contract %>
        </div>
      </div>
    </div>

    <hr>
    
    <div class="row">
      <div class="col-xs-12">
        <%= form_tag booking_hotels_path(request_code: params["request_code"], avail_token: params["avail_token"]), multipart: true, method: "POST", class: "hotel-booking-form" do %>
          <% traveller_count = params[:hotel_bookings][:adults].to_i + params[:hotel_bookings][:children].to_i %>
          <% traveller_index = 0 %>
          <% room_count = 1 %>
          <% room_traveller_count = 1 %>
          <% child_count = 1 %>

          <%= fields_for :hotel_booking_group do |hb| %>
            <%= hb.hidden_field :avail_token, value: params["avail_token"] %>
            <%= hb.hidden_field :hotel_address, value: params["hotel_address"] %>
            <%= hb.hidden_field :check_in, value: params[:hotel_bookings][:check_in] %>
            <%= hb.hidden_field :check_out, value: params[:hotel_bookings][:check_out] %>

            <h1>Guest details</h1>

            <% @hotel_bookings.count.times do %>
              <%= hb.fields_for 'hotel_bookings[]', @hotel_bookings[traveller_index] do |ht| %>
                <%= ht.hidden_field :index, value: traveller_index+1 %>

                <div class='col-xs-12 media <%= "#{ traveller_index != 0 ? ' other-guest-form' : ''}" %>'>
                  <div class='media-left <%= "#{traveller_index.odd? ? 'border-first' : 'border-others'}" %>'>
                    <h4>

                      <% @room_travellers.each_with_index do |rt, index| %>

                        <% if room_traveller_count > rt %>
                          <% @room_travellers.shift %>
                          <% room_count += 1 %>
                          <% room_traveller_count = 1 %>
                          <% child_count = 1 %>
                        <% end %>

                        <% if room_traveller_count <= rt %>
                          <%= "Room #{index + room_count}" %> <br>

                          <% if room_traveller_count <= @room_adults[room_count-1] %>
                            <%= "Adult #{room_traveller_count}" %>
                            <%= ht.hidden_field :traveller_type, value: Hotel::TRAVELLER_TYPES[0] %>
                          <% else %>
                            <%= "Child #{child_count}" %>
                            <%= ht.hidden_field :traveller_type, value: Hotel::TRAVELLER_TYPES[1] %>
                            <% child_count += 1 %>
                          <% end %>
                        <% end %>

                        <% break %>

                      <% end %>
                      <% room_traveller_count += 1 %>

                    </h4>
                  </div>

                  <div class='media-body'>
                    <div class="row">
                      <div class="custom-form-group form-group col-xs-6">
                        <%= ht.label :salutation %>
                        <%= ht.select :salutation, options_for_select(Booking::DESIGNATION, selected: ht.object.salutation), {include_blank: true}, {class: 'custom-form-control form-control', required: traveller_index == 0 ? true : false} %>
                      </div>

                      <div class="custom-form-group form-group col-xs-6">
                        <%= ht.label "Country" %>
                        <%= ht.country_select("country_code", { include_blank: 'Select a country', selected: "MY"}, { class: 'custom-form-control form-control' }) %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="custom-form-group form-group col-xs-6">
                        <%= ht.label "First & Middle Name" %>
                        <%= ht.text_field :first_name, class: 'custom-form-control form-control', required: traveller_index == 0 ? true : false %>
                      </div>

                      <div class="custom-form-group form-group col-xs-6">
                        <%= ht.label "Last Name" %>
                        <%= ht.text_field :last_name, class: 'custom-form-control form-control', required: traveller_index == 0 ? true : false %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="custom-form-group form-group col-xs-6">
                        <%= ht.label :email %>
                        <%= ht.email_field :email, class: 'custom-form-control form-control', required: traveller_index == 0 ? true : false %>
                      </div>
                      <div class="custom-form-group form-group col-xs-6">
                        <%= ht.label :phone_number %>
                        <%= ht.number_field :phone_number, class: 'custom-form-control form-control', required: traveller_index == 0 ? true : false %>
                      </div>
                    </div>

                  </div>
                  <br>
                </div>

                <%= ht.hidden_field :in_room_no, value: room_count %>

                <% traveller_index += 1 %>
              <% end %>
            <% end %>

          <% end %>
          <div class="custom-form-group form-group col-sm-12">
            <%= label_tag '', "Payment Method" %>
            <%= fields_for 'payment', @payment do |payment| %>
              <%= render partial: "partials/payment_form", locals: {f: payment} %>
            <% end %>
          </div>
          <%= submit_tag 'Create Booking', class: 'btn btm-sm btn-success' %>

        <% end %>
      </div>
    </div>


  <% end %>

<% end %>
