<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Travel Prologue Hotels
<% end %>
<% if @hotel_details.present? %>
  <%= render 'shared/single_panel', card_title: 'Hotel Details' do %>
    <% if @hotel_images.present? %>
      <div id="myCarousel" class="carousel" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" align="center">
          <% @hotel_images.each_with_index do |hotel_image, index| %>
            <div class="item<%= index.zero? ? ' active' : '' %>">

              <%= image_tag hotel_image.image_url, class: 'responsive-img' %>
            </div>
          <% end %>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>

    <hr>

    <div class="col-md-12">
      <h3><%= @hotel_details.hotel_name %></h3>
      <p><%= @hotel_details.city %></p>
      <small><%= @hotel_details.street1 %></small>
    </div>

    <div class="col-md-12">
      <%= raw @hotel_details.description %>
    </div>

    <hr>

    <div class="col-md-12">
      <h3>Rooms</h3>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-responsive table-stripped">
            <thead>
              <tr>
                <td>Description</td>
                <td>Price (per night)</td>
                <td></td>
                <td>Select Room</td>
              </tr>
            </thead>

            <tbody>
              <% if @rooms.present? %>
                <% @rooms.each do |room| %>
                  <tr>
                    <td><%= room.description %></td>
                    <% if @hotel.present? %>
                      <td><%= number_to_currency(Hotel.rate_with_markup(room.average_nightly_rate.to_f, @hotel.markup, @hotel.markup_category, @hotel_details.currency), precision: 0, unit: "MYR ") %></td>
                    <% else %>
                      <td><%= number_to_currency(Hotel.rate_with_markup(room.average_nightly_rate.to_f, nil, nil, @hotel_details.currency), precision: 0, unit: "MYR ") %></td>
                    <% end %>
                    <td>
                      <%= render partial: 'room_details', locals: { room: room } %>
                      <%= link_to '', class: 'btn btn-primary btn-sm', data: { toggle: 'modal', target: "#more-details-room-#{room.request_code}", keyboard: "true" } do %>
                        See Full Room Details
                      <% end %>
                    </td>
                    <td><%= link_to 'Book Now', booking_hotels_path(room_adults: params[:room_adults], room_childs: params[:room_childs], request_code: room.request_code, rooms: @room_booking_count, avail_token: room.avail_token, hotel_address: @hotel_details.street1, hotel_bookings: {adults: @hotel_details.adults, childs: @hotel_details.childs, check_in: @hotel_details.check_in, check_out: @hotel_details.check_out}), class: "btn btn-success btn-md" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
