<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-hotel fa-fw"></i>Hotels
<% end %>

<%= render 'shared/single_panel', card_title: 'Search Hotels' do %>
  <%= form_tag(hotels_path, method: :get, id: 'hotel_search_form') do %>
    <div class="row">
      <div class="col-xs-12 mt20">
        <%= fields_for :search_fields do |sf| %>
          <div class="row">
            <div class="custom-form-group form-group col-sm-3">
              <%= sf.label :place %>
              <%= sf.text_field(:place, value: params[:search_fields].present? ? params[:search_fields][:place] : '', class: 'form-control travelprologue-country-city-autocomplete', placeholder: 'Country or city', required: true) %>
              <%= sf.hidden_field :city_id, id: "city_id", value: "#{params[:search_fields].present? ? params[:search_fields][:city_id] : ''}" %>
              <%= sf.hidden_field :country_code, id: "country_code", value: params[:search_fields].present? ? params[:search_fields][:country_code] : '' %>
            </div>

            <div class="custom-form-group form-group col-sm-3">
              <%= sf.label :checkin_checkout, 'Check In - Check Out' %>
              <%= sf.text_field :checkin_checkout, value: params[:search_fields].present? ? params[:search_fields][:checkin_checkout] : '', class: "form-control", id: 'hotel-checkin-checkout' %>
            </div>

            <div class="custom-form-group form-group col-md-2">
              <%= sf.label :sort_by %>
              <%= sf.select :sort_by, options_for_select(['Lowest Price'], params[:search_fields].present? ? params[:search_fields][:sort_by] : ''), {include_blank: true}, { class: 'custom-form-control form-control hotel-select' } %>
            </div>

            <div class="custom-form-group form-group col-sm-3">
              <%= sf.label "Nationality" %>
              <%= sf.country_select("country", { include_blank: 'Select a country', selected: params[:search_fields].present? ? params[:search_fields][:country] : "MY"}, { class: 'custom-form-control form-control hotel-select' }) %>
            </div>
          </div>

          <div>
            <div class="room-selections-group row">
              <div class="custom-form-group form-group col-md-1 col-xs-12">
                <%= sf.label :rooms %>
                <%= sf.select :rooms, options_for_select((1..10), params[:search_fields].present? ? params[:search_fields][:rooms] : ''), {}, { class: 'custom-form-control form-control', id: 'room_select' } %>
              </div>

              <div class="room-selections row col-md-12">
                <div class="col-md-1">
                  <p id="room_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                    Room 1
                  </p>
                </div>
                <div class="custom-form-group form-group col-md-1 col-xs-12">
                  <%= sf.label :adults %>
                  <%= select_tag("room_adults[]", options_for_select((1..10), params[:room_adults].present? ? params[:room_adults][0] : 1), {class: 'custom-form-control form-control', id: 'room_adults0'}) %>
                </div>

                <div class="custom-form-group form-group col-md-1 col-xs-12">
                  <%= sf.label :childs %>
                  <%= select_tag("room_childs[]", options_for_select((0..10), params[:room_childs].present? ? params[:room_childs][0] : 0), {class: 'custom-form-control form-control room-child-select', id: 'room_childs0'}) %>
                </div>

                <div class="child-details-group row <%= params[:room_childs].present? && params[:room_childs][0].to_i >= 1 ? '' : 'hidden' %>" style="margin-left: 103px;" id="multiple-child-details0">
                  <% if params[:room_childs].present? %>
                    <div class="child-details row col-md-12" id="child-details-0">
                      <div class="col-md-1">
                        <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                          Child 1
                        </p>
                      </div>

                      <div class="custom-form-group form-group col-md-1 col-xs-12">
                        <%= sf.label "Age" %>
                        <%= select_tag("childs_ages[]", options_for_select((1..12), params[:childs_ages][0]), {class: 'custom-form-control form-control childs-age-select', id: 'child_age0'}) %>
                      </div>

                      <div class="custom-form-group form-group col-md-1 col-xs-12">
                        <%= sf.label "Bed" %>
                        <%= select_tag("childs_beds[]", options_for_select([["Yes", "true"], ["No", "false"]], params[:childs_beds][0]), {class: 'custom-form-control form-control childs-age-bed0', id: 'childs_bed0'}) %>
                      </div>
                    </div>

                    <% (2..params[:room_childs][0].to_i).each_with_index do |room_child, index| %>
                      <div class="child-details row col-md-12" id="multiple-child-details-group<%= index %>">
                        <div class="multiple-child-details row col-md-12" id="multiple-child-details-<%= index+1 %>">

                          <div class="col-md-1">
                            <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 3px;">
                              Child <%= index+2 %>
                            </p>
                          </div>

                          <div class="custom-form-group form-group col-md-1 col-xs-12">
                            <%= sf.label "Age" %>
                            <%= select_tag("childs_ages[]", options_for_select((1..12), params[:childs_ages].drop(1)[index]), {class: 'custom-form-control form-control childs-age-select', id: 'child_age0'}) %>
                          </div>

                          <div class="custom-form-group form-group col-md-1 col-xs-12">
                            <%= sf.label "Bed" %>
                            <%= select_tag("childs_beds[]", options_for_select([["Yes", "true"], ["No", "false"]], params[:childs_beds].drop(1)[index]), {class: 'custom-form-control form-control childs-age-bed0', id: 'childs_bed0'}) %>
                          </div>

                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="child-details row col-md-12" id="child-details-0">
                      <div class="col-md-1">
                        <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                          Child 1
                        </p>
                      </div>

                      <div class="custom-form-group form-group col-md-1 col-xs-12">
                        <%= sf.label "Age" %>
                        <%= select_tag("childs_ages[]", options_for_select((1..12), 1), {class: 'custom-form-control form-control childs-age-select', id: 'child_age0'}) %>
                      </div>

                      <div class="custom-form-group form-group col-md-1 col-xs-12">
                        <%= sf.label "Bed" %>
                        <%= select_tag("childs_beds[]", options_for_select([["Yes", "true"], ["No", "false"]], false), {class: 'custom-form-control form-control childs-age-bed0', id: 'childs_bed0'}) %>
                      </div>
                    </div>

                  <% end %>

                  <div class="child-details row col-md-12" id="multiple-child-details-group0">
                  </div>
                </div>
              </div>

              <% if params[:search_fields].present? %>
                <% (2..params[:search_fields][:rooms].to_i).each_with_index do |room, index| %>
                  <div class="multiple-room-selections row col-md-12" id="room-selections-<%= index+1 %>">
                    <div class="col-md-1">
                      <p id="room_count<%= index+2 %>" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                        Room <%= index+2 %>
                      </p>
                    </div>

                    <div class="custom-form-group form-group col-md-1 col-xs-12">
                      <%= sf.label :adults %>
                      <%= select_tag("room_adults[]", options_for_select((1..10), params[:room_adults][index+1]), {class: 'custom-form-control form-control', id: "room_adults#{index+1}"}) %>
                    </div>

                    <div class="custom-form-group form-group col-md-1 col-xs-12">
                      <%= sf.label :childs %>
                      <%= select_tag("room_childs[]", options_for_select((0..10), params[:room_childs][index+1]), {class: 'custom-form-control form-control room-child-select', id: "room_childs#{index+1}"}) %>
                    </div>

                    <% params[:childs_ages].slice!(0..(params[:room_childs][index].to_i - 1)) %>
                    <% params[:childs_beds].slice!(0..(params[:room_childs][index].to_i - 1)) %>

                    <div class="child-details-group row <%= params[:room_childs].present? && params[:room_childs][index+1].to_i >= 1 ? '' : 'hidden' %>" style="margin-left: 103px;" id="multiple-child-details<%= index+1 %>">

                      <div class="child-details row col-md-12" id="child-details-<%= index+1 %>">
                        <% if params[:room_childs][index+1].to_i == 0 %>
                          <div class="col-md-1">
                            <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                              Child 1
                            </p>
                          </div>

                          <div class="custom-form-group form-group col-md-1 col-xs-12">
                            <%= sf.label "Age" %>
                            <%= select_tag("childs_ages[]", options_for_select((1..12), 1), {class: 'custom-form-control form-control childs-age-select', id: "child_age0"}) %>
                          </div>

                          <div class="custom-form-group form-group col-md-1 col-xs-12">
                            <%= sf.label "Bed" %>
                            <%= select_tag("childs_beds[]", options_for_select([["Yes", "true"], ["No", "false"]], 'false'), {class: 'custom-form-control form-control childs-age-bed0', id: "childs_bed0"}) %>
                          </div>
                        <% end %>

                        <% (1..params[:room_childs][index+1].to_i).each_with_index do |room_child, rc_index| %>
                          <% if rc_index == 0 %>
                            <div class="col-md-1">
                              <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                                Child <%= rc_index+1 %>
                              </p>
                            </div>

                            <div class="custom-form-group form-group col-md-1 col-xs-12">
                              <%= sf.label "Age" %>
                              <%= select_tag("childs_ages[]", options_for_select((1..12), params[:childs_ages][rc_index]), {class: 'custom-form-control form-control childs-age-select', id: "child_age#{rc_index}"}) %>
                            </div>

                            <div class="custom-form-group form-group col-md-1 col-xs-12">
                              <%= sf.label "Bed" %>
                              <%= select_tag("childs_beds[]", options_for_select([["Yes", "true"], ["No", "false"]], params[:childs_beds][rc_index]), {class: 'custom-form-control form-control childs-age-bed0', id: "childs_bed#{rc_index}"}) %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>

                      <div class="child-details row col-md-12" id="multiple-child-details-group<%= index+1 %>">
                        <% (1..params[:room_childs][index+1].to_i).each_with_index do |room_child, rc_index| %>
                          <% if rc_index >= 1 %>
                            <div class="multiple-child-details row col-md-12" id="multiple-child-details-<%= rc_index %>">
                              <div class="col-md-1">
                                <p id="child_count0" style="padding-top: 24px; padding-right: 0px; padding-left: 5px;">
                                  Child <%= rc_index+1 %>
                                </p>
                              </div>

                              <div class="custom-form-group form-group col-md-1 col-xs-12">
                                <%= sf.label "Age" %>
                                <%= select_tag("childs_ages[]", options_for_select((1..12), params[:childs_ages][rc_index]), {class: 'custom-form-control form-control childs-age-select', id: "child_age#{rc_index}"}) %>
                              </div>

                              <div class="custom-form-group form-group col-md-1 col-xs-12">
                                <%= sf.label "Bed" %>
                                <%= select_tag("childs_beds[]", options_for_select([["Yes", "true"], ["No", "false"]], params[:childs_beds][rc_index]), {class: 'custom-form-control form-control childs-age-bed0', id: "childs_bed#{rc_index}"}) %>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>

                    </div>

                  </div>
                <% end %>
              <% end %>

            </div>
          </div>

        <% end %>

        <div class="row">
          <div class="col-xs-12 mt20">
            <%= submit_tag 'Search', class: 'btn btn-info btn-lg' %>
          </div>
        </div>
      </div>
    </div>
  

    <% if @hotels.present? %>
      <div class="row">
        <div class="col-xs-12 mt20">
          <% @hotels.in_groups_of(3).each do |hotel_group| %>
            <div class="row">

              <% hotel_group.each do |hotel| %>
                <% if hotel.present? %>

                  <div class="col-md-4">
                    <div class="panel panel-default" style="height: 400px; position: relative;">
                      <%= image_tag hotel.image_url, class: "hotel-img" %>

                      <div class="panel-body" style="margin-top: -25px;">
                        <h4><%= hotel.hotel_name %></h4>

                        <p class="card-text">
                          <% if hotel.star_rating.present? %>
                            <% max_stars = 5 %>
                            <% stars_round_off = hotel.star_rating.to_f.round + 1 %>
                            <% stars = hotel.star_rating.to_i %>
                            <% stars_remainder = hotel.star_rating.to_f % 1 %>

                            <% stars.times.each do |star| %>
                              <span class="fa fa-star star-checked"></span>
                            <% end %>

                            <% if stars_remainder == 0.50 %>
                              <span class="fa fa-star-half-o star-checked"></span>
                            <% end %>
                          <% end %>
                        </p>

                        <p class="card-text"><b>Location</b><br>
                         - <%= "#{hotel.country} #{hotel.city} #{hotel.street1} #{hotel.posttal_code}" %>
                        </p>

                      </div>

                      <div class="panel-footer" style="position: absolute; right: 0; bottom: 0; left: 0;">
                        <%= link_to "Select", details_hotels_path(hotel: hotel.as_json, room_adults: params[:room_adults], room_childs: params[:room_childs]), class: 'btn btn-md btn-success' %>
                        <% current_hotel = Hotel.search_by_tp_hotel_id(hotel.tp_hotel_id) %>
                        <% if current_hotel.present? %>
                          <h4 class="pull-right">From <%= number_to_currency(Hotel.rate_with_markup(hotel.average_nightly_rate, current_hotel.markup, current_hotel.markup_category, hotel.currency), precision: 0, unit: "MYR ") %></h4>
                        <% else %>
                          <h4 class="pull-right">From <%= number_to_currency(Hotel.rate_with_markup(hotel.average_nightly_rate, nil, nil, hotel.currency), precision: 0, unit: "MYR ") %></h4>
                        <% end %>
                      </div>
                    </div>
                  </div>

                <% end %>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>

      <% if @search_criteria.present? && @search_criteria.status_r != 'Done' %>
        <div class="row" style="padding-top: 20px;">
          <div class="col-md-12">
            <%= hidden_field_tag :initial, 'false' %>
            <%= hidden_field_tag :request_id, @search_criteria.request_id %>
            <%= submit_tag 'Show more', class: 'btn btn-info btn-lg' %>
          </div>
        </div>
      <% end %>

    <% end %>
  <% end %>
<% end %>
