.Footer{
  background-color: #171717;
}
.Footer .warp{
  padding: 30px 20px 80px 20px;
}
.Footer .list_btn{
  margin-top: 80px;
}
.Footer .list_btn ul{
  margin-bottom: 0;
  text-align: center;
  padding: 0;
  width: 50%;
  margin: auto;
}
.Footer .list_btn ul li {
  color: #fff;
  float: left;
  list-style: none;
  width: 33.33%;
  text-align: center;
}
.Footer .list_btn ul li p{
  color: #ffffff70;
}
.Footer .company{
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
.Footer .company .logo{
  width: 250px;
  margin: auto;
}
.Footer .company .logo img{
  width: 50px;
  height: 50px;
  float: left;
}
.Footer .company .logo span{
  color: #fff;
	font-size: 2.5em;
  margin-left: 5px;
  float: left;
  text-shadow: 1px 2px 1px #00000073;
}
.Footer .content{
  margin-top: 20px
}
.Footer .content p {
  text-align: center;
  color: #ffffff70;
}

.Footer .icon_warp {
  width: 80px;
  height: 80px;
  line-height: 100px;
  background: #fff;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px
}
.Footer .icon_warp i{
  color: #171717;
  font-size: 3em;
}
.Footer .copyright{
  background-color: #4e4e4e;
  padding: 10px;
}
.Footer .copyright p{
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
}
.footer_hover{
  display: block;
  
}
.footer_hover:hover .icon_warp{
  background:#b71c1c;
  transition: all 0.4s;
}
.footer_hover:hover .icon_warp i{
  color: #fff;
  transition: all 0.4s;
}
.footer_hover:hover p{
  color: #fff!important;
  transition: all 0.4s;
}

@media only screen and (max-width: 1150px) {
  .company {
    width: 80%;
  }
  .Footer .list_btn ul{
    width: 80%;
  }
}

@media only screen and (max-width: 620px) {
  .Footer .company {
    width: 100%;
  }
  .Footer .list_btn ul{
    width: 100%;
  }
  /* .Footer .list_btn ul li{
    width: 50%;
    margin-bottom: 30px;
  } */
  .Footer .warp {
    padding: 30px 20px 30px 20px;
  }
  .Footer .list_btn {
    margin-top: 60px;
  }
  .Footer .icon_warp {
    width: 60px;
    height: 60px;
    line-height: 70px;
  }
  .Footer .icon_warp i {
    font-size: 2.5em;
  }
  .Footer .list_btn ul li p {
    font-size: .8em;
  }
}