<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Flight Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Flight Bookings: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present?  %>
  <% card_title = "View Flight Bookings: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Flight Bookings: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Flight Bookings' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= link_to('Today', admin_flight_booking_groups_path(begin: @today.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Yesterday', admin_flight_booking_groups_path(begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Week', admin_flight_booking_groups_path(begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week', admin_flight_booking_groups_path(begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week To Now', admin_flight_booking_groups_path(begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Month', admin_flight_booking_groups_path(begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month', admin_flight_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month To Now', admin_flight_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Year', admin_flight_booking_groups_path(begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year', admin_flight_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year To Now', admin_flight_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>

    </div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag admin_flight_booking_groups_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %><br>
        <br>
        <%= text_field_tag :code, params[:code], placeholder: 'Code' %>
        <%= text_field_tag :name, params[:name], placeholder: 'Customer Name' %>

        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <% if @total_pax.present? && @total_amount.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3 mt20">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>Total Pax </td>
              <td><%= number_with_delimiter @total_pax %></td>
            </tr>
            <tr>
              <th>Total Amount</td>
              <td><%= number_with_delimiter @total_amount %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Updated</th>
          <th>Code</th>
          <th>Name</th>
          <th>Price</th>
          <th>Pax</th>
          <th>Segment</th>
          <th>Origin Destination</th>
          <th>Booked At</th>
          <th>Booked By</th>
          <th>Payment Method</th>
          <th>Payment Status</th>
          <th>Payment Txn No.</th>
          <th>Remark</th>
        </tr>
      </thead>
      <% if @flight_booking_groups.present? %>
        <tbody>
          <% total_pax = 0 %>
          <% @flight_booking_groups.each do |group| %>
            <tr>
              <td><%= group.updated_at.try(:strftime, "%d/%m %H:%M") %></td>
              <td><%= link_to "#{group.host_code}", admin_flight_booking_group_path(group) %></td>
              <% if group.flight_bookings.present? %>
                <td><%= group.flight_bookings.order(:id).first.name %></td>
                <td><%= group.price %></td>
                <td><%= group.flight_bookings.count %></td>
                <% total_pax += group.flight_bookings.count %>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
              <% if group.flight_booking_details.present? %>
                <td><%= group.flight_booking_details.count %></td>
                <td><%= group.flight_detail_places %></td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
              <td><%= group.created_at.strftime("%d/%m %H:%M") %></td>
              <td><%= group.flight_bookings.first.agent_user.username %></td>
              <td><%= group.payment.present? ? group.payment.gateway_text : '' %></td> 
              <td><%= group.payment.present? ? group.payment.status.humanize : '' %></td>
              <td><%= group.payment.present? ? group.payment.transaction_no : '' %></td>
              <td><%= group.flight_bookings.map(&:remark).compact.join("|") %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
  <% if @flight_booking_groups.present? && total_pax > 0 %>
    <p>Total Pax: <%= total_pax %></p>
  <% end %>
  <%= paginate @flight_booking_groups if @flight_booking_groups.present? %>
<% end %>