<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-globe fa-fw"></i>Flight Booking
<% end %>

<%= render 'shared/single_panel', card_title: "Flight Group:#{@flight_booking_group.host_code}" do %>
  <% if @flight_booking_group.flight_booking_details.present? %>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Carrier</th>
            <th>Cabin Class</th>
            <th>Flight Number</th>
            <th>Origin/Terminal</th>
            <th>Destination/Terminal</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Travel Time</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <% @flight_booking_group.flight_booking_details.each do |flight| %>
            <tr>
              <td><%= flight.carrier %></td>
              <td><%= flight.cabin_class %></td>
              <td><%= flight.flight_number %></td>
              <td><%= flight.origin %>/<%= flight.origin_terminal %></td>
              <td><%= flight.destination %>/<%= flight.destination_terminal %></td>
              <td><%= flight.departure_time.strftime("%F %R") %></td>
              <td><%= flight.arrival_time.strftime("%F %R") %></td>
              <td><%= flight.travel_time %></td>
              <td><%= flight.sell_message %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @flight_booking_group.flight_bookings.present? %>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Designation</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Country</th>
            <th>Mobile</th>
            <th>Passport Number</th>
            <th>Passport Issue Date</th>
            <th>Passport Expirty Date</th>
            <th>Date of Birth</th>
            <th>Category</th>
            <th>Status</th>
            <th>Remark</th>
            <th>Booked By</th>
            <th>BRB</th>
          </tr>
        </thead>
        <tbody>
          <% @flight_booking_group.flight_bookings.each do |booking| %>
            <tr>
              <td><%= booking.designation %></td>
              <td><%= booking.first_name %></td>
              <td><%= booking.last_name %></td>
              <td><%= booking.country %></td>
              <td><%= booking.mobile %></td>
              <td><%= booking.passport_number %></td>
              <td><%= booking.passport_issue_date %></td>
              <td><%= booking.passport_expiry_date %></td>
              <td><%= booking.date_of_birth %></td>
              <td><%= booking.category %></td>
              <td><%= booking.status %></td>
              <td><%= booking.remark %></td>
              <td><%= booking.agent_user.username %></td>
              <td><%= render_brb_display(booking) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

<% end %>