<script>
  const homepage_new = {
    tagline: '<%= Setting.tagline %>',
    app_logo: '<%= asset_path("travelb2b-logo.png") %>',
    search_covers: [
      {
        img: '<%= Cover.travelb2b_search.present? ? Cover.travelb2b_search.last.image.url : asset_path("default-image.png") %>'
      }
    ],
    default_image: '<%= asset_path("default-image.png") %>',
    default_show_header: '<%= asset_path("show_header.png") %>',
    pdpa: '<%= asset_path("pdpa.pdf") %>',
    privacy: '<%= asset_path("privacy.pdf") %>',
    manual: '<%= asset_path("manual.pdf") %>',
    series_terms: '<%= asset_path("series_terms.pdf") %>',
    wifi_terms: '<%= asset_path("wifi_terms.pdf") %>',
    sliders: [
      <% Slider.all.order_by_priority.active.each do |slider| %>
        {
          type: "<%= slider.category %>",
          title: "<%= slider.title %>",
          tabs: [
          <% slider.slider_tabs.all.each do |tab| %>
            {
              title: "<%= tab.title %>",
              cards: [
              <% tab.slider_cards.all.each do |card| %>
                {
                  cover: "<%= card.cover.url.present? ? card.cover.url : asset_path("default-image.png") %>",
                  link: "<%= card.link %>",
                  item1: {
                    icon: "<%= card.logo1.present? ? card.logo1 : asset_path("default-image.png") %>",
                    title: '<%= card.title1 %>',
                    subtitle: "<%= card.subtitle1 %>",
                    hightlight: "<%= card.highlight1 %>",
                  },
                  item2: {
                    icon: "<%= card.logo2.present? ? card.logo2 : asset_path("default-image.png") %>",
                    title: '<%= card.title2 %>',
                    subtitle: "<%= card.subtitle2 %>",
                    hightlight: "<%= card.highlight2 %>",
                  }
                },
              <% end %>
              ]
            },
          <% end %>
          ]
        },
      <% end %>
    ],
    airports_url: '<%= asset_path("airports.json") %>'
  }
</script>
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>