<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 mt20">
      <div class="dashboard-brand-1row-div">
        <%= link_to tours_path(brand: 'fs') do %>
          <div class="dashboard-image-div">
            <%= image_tag 'fs.png', class: 'dashboard-image' %>
          </div>
        <% end %>
      </div>
      <div class="dashboard-brand-1row-div">
        <%= link_to tours_path do %>
          <div class="dashboard-image-div">
            <%= image_tag 'gd.png', class: 'dashboard-image' %>
          </div>
        <% end %>
      </div>
      <div class="dashboard-brand-1row-div">
        <%= link_to tours_path(brand: 'premium') do %>
          <div class="dashboard-image-div">
            <%= image_tag 'gd_premium.png', class: 'dashboard-image' %>
          </div>
        <% end %>
      </div>
      <div class="dashboard-brand-2row-div">
        <%= link_to tours_path(brand: 'gtrip') do %>
          <div class="dashboard-image-div">
            <%= image_tag 'gtrip.png', class: 'dashboard-image' %>
          </div>
        <% end %>
      </div>
      <div class="dashboard-brand-2row-div">
        <%= link_to tours_path(brand: 'cruise') do %>
          <div class="dashboard-image-div">
            <%= image_tag 'gd_cruise.png', class: 'dashboard-image' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>