#ListingWifi{
    background-color: #f8f8f8;
}
#ListingWifi .warp{
    width: 1600px;
    margin: auto;
    padding: 50px 10px;
}

/************************************** LeftPanel **************************************/
#LeftPanel{
    width: 30%;
    float: left;
    padding-right: 20px 
}
#LeftPanel .ant-card-actions{
    background: transparent;
}
#LeftPanel .ant-collapse{
    border: 0;
}
#LeftPanel .ant-collapse > .ant-collapse-item{
    background-color: #fff;
}
#LeftPanel .sort_result .ant-card-actions > li{
    text-align: left;
}
#LeftPanel .sort_result .ant-card-actions > li > span{
    width: 100%;
    padding: 0px 20px;
}
#LeftPanel .sort_result .ant-radio-wrapper{
    width: 50%;
    margin-right:0px;
}
#LeftPanel .sort_result .ant-radio-wrapper:nth-child(1n){
    margin-bottom: 10px;
}
#ListingWifi #LeftPanel .filter_result{
    margin-top: 0px; 
}
#LeftPanel .filter_result .title p{
    margin-bottom: 0px;
    float: left;
}
#LeftPanel .filter_result .title p:nth-child(1n){
    width: 70%;
}
#LeftPanel .filter_result .title p:nth-child(2n){
    width: 30%;
    text-align: right;
    color: #faad14;
}
#LeftPanel .filter_result .ant-card-actions > li > span{
    width: 100%;
}
#LeftPanel .filter_result .ant-card-actions > li{
    margin: 0;
}
#LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
    text-align: left;
}
#LeftPanel .filter_result .slider_value p{
    float: left;
}
#LeftPanel .filter_result .slider_value p:nth-child(1n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .filter_result .slider_value p:nth-child(2n){
    width: 10% 
}
#LeftPanel .filter_result .slider_value p:nth-child(3n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .checkbox_warp .ant-checkbox-group{
    text-align: left;
    width: 100%;
}
#LeftPanel .checkbox_warp .ant-checkbox-group-item {
    width: 100%;
    margin-bottom: 10px;
}
#LeftPanel .star_check .ant-checkbox-wrapper{
    width: 100%;
    margin-left: 0px;
    text-align: left;
}




/************************************** RightPanel **************************************/

#ListingWifi #RightPanel .location_icon{
    margin-right: 5px;
    color: red;
    padding-left: 3px;
}
#ListingWifi #RightPanel .view_icon{
    color: #faad14;
    font-size: 16px;
}
#ListingWifi #RightPanel .ant-list-item-meta-title p{
    font-size: 1.5em;
    margin-bottom: 0;
}
#ListingWifi #RightPanel .content_rate .ant-rate{
    margin-bottom: 10px;
}

#ListingWifi .right_price{
    text-align: center;
}
#ListingWifi .right_price .price_tag{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}
#ListingWifi .right_price .tax_tag{
    /* color: #ccc; */
}
#ListingWifi #RightPanel .ant-btn-primary {
    width: 70%;
    color: #faad14;
    border-color: #faad14;
}
#ListingWifi #RightPanel .ant-list-lg .ant-list-item{
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    align-items: center;
    background-color: #fff;
}
#ListingWifi #RightPanel .ant-list-vertical .ant-list-item-meta{
    margin-bottom: 0px;
}
#ListingWifi #RightPanel .ant-list-item-meta-content{
    padding: 20px;
}
#ListingWifi #RightPanel .ant-list-vertical .ant-list-item-main{
    border-right: 1px solid #ccc;
    width: 80%;
}
#ListingWifi #RightPanel .ant-list-vertical .ant-list-item-extra{
    margin-left: 0px;
    width: 20%;
}


#ListingWifi #RightPanel .ant-list-item-meta-avatar{
    margin-right: 0px;
    width: 30%;
}

#ListingWifi #RightPanel .ant-list-item-meta-content{
    padding: 20px;
    width: 70%;
}

#ListingWifi #RightPanel .ant-list-item-meta-avatar .img_sty {
    width: 100%;
    height: 155px;
    object-fit: cover;
}
#ListingWifi #RightPanel .title_panel{
    font-weight: bold;
}

#ListingWifi #RightPanel .type{
    color: #40a9ff;
    margin-bottom: 0 !important;
}

#ListingWifi #RightPanel .type-title{
  color: grey !important;
  font-size: 12px;
}

#ListingWifi #RightPanel  .view_sty{
    text-align: right;
    color: cornflowerblue;
    float: left;
    width: 20%;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}
#ListingWifi .ellipsis_style_view{
    width: 80%!important;
    float: left;
    padding-bottom: 5px;
  }




/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
    #ListingWifi .warp {
        width: 1300px;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-content {
        padding: 20px 20px 10px 20px;
    }
	
}

@media only screen and (max-width: 1350px) {
    #ListingWifi .warp {
        width: 1000px;
    }
    #ListingWifi #RightPanel .ant-list-item-meta .img_sty{
        height: 110px;
    }

   #ListingWifi #RightPanel .ant-list-item-meta-content {
    padding: 10px;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-avatar {
        margin-right: 5px; 
   }
   #ListingWifi #RightPanel .ant-list-item-meta-title p {
    font-size: 1em;
    }
    #ListingWifi #RightPanel .content_rate p{
        font-size: .9em;
        margin:5px;
        line-height: 15px;
    }
    #ListingWifi #RightPanel .content_rate p:nth-child(2n){
        font-size: .8em;
    }
    #ListingWifi .right_price .tax_tag{
        margin-bottom: 0;
    }
    #ListingWifi #RightPanel .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0px;
    }

	
}

@media only screen and (max-width: 1050px) {
    #ListingWifi .warp {
        width: 850px;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-content {
        padding: 10px 5px;
    }

 
    #ListingWifi .right_price .price_tag{
        font-size: 1.1em;
    }
    #ListingWifi #RightPanel .ant-list-item-meta .img_sty {
        height: 100px;
    }
    #ListingWifi #RightPanel .location_icon{
        padding-left: 0px;
    }
}

@media only screen and (max-width: 900px) {
    #ListingWifi .warp {
        width: 800px;
    }
    #ListingWifi #RightPanel .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-title p {
        font-size: .8em;
        margin-left: 5px
    }
    #ListingWifi #RightPanel .ant-list-item-meta-content {
        padding: 10px 3px;
    }
    #ListingWifi #RightPanel .content_rate p{
        line-height: 12px;
    }
    #ListingWifi #RightPanel .location_icon {
        margin-right: 3px;
    }
    #ListingWifi #RightPanel  .view_sty{
        font-size: 12px;
    }

}

@media only screen and (max-width: 770px) {
    #ListingWifi .warp {
        width: 700px;
    }
    #ListingWifi .right_price .price_tag {
        font-size: .8em;
    }
    #ListingWifi #RightPanel .ant-list-item-meta .img_sty {
        height: 85px;
    }

    #ListingWifi #RightPanel .ant-list-item-meta-avatar img {
        width: 160px;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-title p {
        font-size: .9em;
    }
    #ListingWifi .right_price .price_tag {
        font-size: .9em;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-content {
        padding: 3px;
    }
    #ListingWifi #LeftPanel .filter_result .slider_value p:nth-child(1n) {
        font-size: 1em;
    }
    #ListingWifi #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: 1em;
    }
    #ListingWifi  #LeftPanel .ant-card-meta-title {
        font-size: 1em;
    }
    #ListingWifi #LeftPanel .filter_result .title p:nth-child(1n){
        width: 70%!important;
    }
    #ListingWifi  #LeftPanel .filter_result .title p:nth-child(2n){
        width: 30%!important;
        text-align: right!important;
    }
    #ListingWifi #RightPanel .content_rate p {
        font-size: .8em;
        margin: 5px 0px;
    }


}
@media only screen and (max-width: 720px) {
    #ListingWifi .warp {
        width: 90%;
        padding: 50px 0px;
    }
    #ListingWifi #LeftPanel{
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0px;
    }
    #ListingWifi #RightPanel .location_icon {
        padding-left: 0px;
        padding-top: 3px;
     }
    #ListingWifi #RightPanel {
        width: 100%;
    }
    #ListingWifi #RightPanel .ant-list-vertical .ant-list-item-extra {
        width: 100%;
        background: #f1f1f1;     
    }
    #ListingWifi #RightPanel .ant-list-vertical .ant-list-item-main {
        border-right: 0px;
        flex: auto;
    }
    #ListingWifi #RightPanel .ant-list-vertical .ant-list-item{
        flex-wrap: wrap;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-avatar img {
        width: 100%;
    }
    #ListingWifi #RightPanel .ant-list-vertical .ant-list-item-meta{
        display: inherit;
    }
    #ListingWifi #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: 1em;
    }
    #ListingWifi .right_price .price_tag {
        font-size: 1.2em;
        float: left;
        margin-right: 10px;
    }
    #ListingWifi .right_price .tax_tag {
        float: left;
        font-size: .9em;
        padding-top: 2px;
       
    }
    #ListingWifi #RightPanel .select_btn {
        width: 30%;
        margin-left: auto;
        text-align: right;
    }
    #ListingWifi #RightPanel .ant-btn-primary {
        font-size: .8em;
        height: 25px;
        margin-top: 0px;
    }
    #ListingWifi .right_price {
        width: 100%;
        padding: 10px ;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-avatar {
        margin-right: 0px;
        width: 100%;
    }
    #ListingWifi .ant-list-vertical .ant-list-item-extra {
        margin: 0px;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-content {
        padding: 10px;
        width: 100%;
    }
    #ListingWifi #LeftPanel .ant-card-meta-title {
        font-size: 1.1em;
    }
    #ListingWifi #RightPanel .ant-list-item-meta-title p {
        font-size: 1em;
        font-weight: bold;
        margin-left: 0;
    }
    #ListingWifi #RightPanel .content_rate p {
        font-size: .9em;
        margin: 5px 0px;
    }
    #ListingWifi #RightPanel .content_rate p:nth-child(2n) {
        margin: 0px;
        padding: 0px;
        font-size: .8em;
        line-height: 18px;
        margin-top: 5px;
    }
    #ListingWifi #RightPanel .ant-list-item-meta .img_sty {
        height: auto;
        width: 100%;
    }
}


@media only screen and (max-width: 420px){
    #ListingWifi #RightPanel .select_btn {
        width: 50%;
    }
}
