html, body {
  height: 100%;
}
#CreditUsageContainer {
  background-color: #f7f7f7;
  /* height: 100vh; */
  min-height: 1000px;
  flex: 1;
}
#CreditUsageContainer .content{
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
#CreditUsageContainer .ant-table table{
  background-color: #fff;
}
#CreditUsageContainer .content .ant-table-thead > tr > th{
  background-color: #b71b1c;
  border-top: 2px;
  border-bottom: 2px;
  color: #fff;
}
#CreditUsageContainer .content .ant-table-fixed-right .ant-table-thead > tr > th:first-child{
  border-left: 0!important;
  border-right: 2px;
}
#CreditUsageContainer .content .ant-table-thead > tr:first-child > th:first-child{
  border-left: 2px;
}
#CreditUsageContainer .content .title{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;

}
#CreditUsageContainer .table_warp{
  padding: 0;
}


#CreditUsageContainer .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  text-align: left !important;
  word-break: break-all;
}
#CreditUsageContainer .ant-table-header::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
#CreditUsageContainer .ant-table-body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

#CreditUsageContainer .ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#CreditUsageContainer .ant-table-body::-webkit-scrollbar-thumb {
  background: #ccc;
}

#CreditUsageContainer .ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}


@media only screen and (max-width: 450px) {
  #CreditUsageContainer .content{
    padding: 30px 10px;
  }
  #CreditUsageContainer .table_warp {
    padding: 0px;
  }
}