<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tours
<% end %>

<%= render 'shared/single_panel', card_title: 'View Ground Tours' do %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag land_tours_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
          <th>Travel Date</th>
          <th>Min Booking</th>
          <th>Max Booking</th>
          <th>Guide Languages</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @land_tours.each do |land_tour| %>
          <tr>
            <td class="caption"><%= link_to land_tour.code, land_tour_path(land_tour) %></td>
            <td class="caption"><%= land_tour.title.present? ? land_tour.title : "Untitled" %></td>
            <td><%= land_tour.category.humanize %></td>
            <td>From RM<%= land_tour.min_price %></td>
            <td><%= land_tour.travel_date_start.try(:strftime, "%F %H:%M %p") %> - <%= land_tour.travel_date_end.try(:strftime, "%F %H:%M %p") %></td>
            <td><%= land_tour.min_booking %></td>
            <td><%= land_tour.max_booking %></td>
            <td><%= land_tour.join_guide_languages %></td>
            <td><%= land_tour.status.humanize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @land_tours %>
<% end %>