<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-camera fa-fw"></i>Ground Tours
<% end %>

<%= render 'shared/single_panel', card_title: 'Ground Tour Detail' do %>
  <div class="row">
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :title %>
      <%= text_field_tag '', @land_tour.title.present? ? @land_tour.title : "Untitled", class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :cn_title, "Title (CN)" %>
      <%= text_field_tag '', @land_tour.cn_title.present? ? @land_tour.cn_title : "Untitled", class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-2">
      <%= label_tag :code, "Tour Code" %>
      <%= text_field_tag '', @land_tour.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-2">
      <%= label_tag :category %>
      <%= text_field_tag '', @land_tour.category.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-2">
      <%= label_tag :status %>
      <%= text_field_tag '', @land_tour.status.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :guide_languages %>
      <%= text_field_tag '', @land_tour.join_guide_languages, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :highlight %>
      <%= text_field_tag '', @land_tour.highlight, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :description %>
      <%= text_area_tag '', @land_tour.description, class: 'form-control', rows: "4", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :cn_description, "Description (CN)" %>
      <%= text_area_tag '', @land_tour.cn_description, class: 'form-control', rows: "4", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :terms_and_conditions %>
      <%= text_area_tag '', @land_tour.terms_and_conditions, class: 'form-control', rows: "4", disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-4">
      <%= label_tag :travel_date %>
      <%= render_land_tour_travel_date(@land_tour) %>
    </div>
    <div class="text-capitalize custom-form-group form-group col-sm-2">
      <%= label_tag :cut_off_day %>
      <%= text_field_tag '', @land_tour.cut_off_day, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-2">
      <%= label_tag :min_booking %>
      <%= text_field_tag '', @land_tour.min_booking, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-2">
      <%= label_tag :max_booking %>
      <%= text_field_tag '', @land_tour.max_booking, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-2">
      <%= label_tag :free_of_charge %>
      <%= text_field_tag '', @land_tour.free_of_charge, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :inclusion %>
      <%= text_field_tag '', @land_tour.inclusion_text, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :deposit_type %>
      <%= text_field_tag '', @land_tour.deposit_type.humanize, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :deposit %>
      <%= text_field_tag '', @land_tour.deposit, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :single_supplement_price %>
      <%= text_field_tag '', @land_tour.single_supplement_price, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Supplier Details", class: "col-sm-12 booking-group-label" %><br>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :supplier_tour_code %>
        <%= text_field_tag '', @land_tour.supplier_tour_code, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :supplier_name %>
        <%= text_field_tag '', @land_tour.supplier_name, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :supplier_pic_name, "Person Incharge" %>
        <%= text_field_tag '', @land_tour.supplier_pic_name, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :supplier_pic_phone_no, "Person Incharge Phone No." %>
        <%= text_field_tag '', @land_tour.supplier_pic_phone_no, class: 'custom-form-control form-control', disabled: true %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :supplier_email %>
        <%= text_field_tag '', @land_tour.join_supplier_email, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= label_tag :supplier_address %>
        <%= text_field_tag '', @land_tour.supplier_address, class: 'custom-form-control form-control', disabled: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Emergency Contacts", class: "col-sm-12 booking-group-label" %><br>
      <% @land_tour.emergency_contact.each do |contact| %>
          <div class="field custom-form-group form-group col-sm-5">
            <%= label_tag :name %>
            <%= text_field_tag '', contact["name"], class: 'custom-form-control form-control', disabled: true %>
          </div>  
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :phone_no %>
            <%= text_field_tag '', contact["phone_no"], class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            &nbsp;
          </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Itinerary", class: "col-sm-12 booking-group-label" %><br>
      <% @land_tour.land_tour_days.each_with_index do |day, i| %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-1">
              <%= label_tag :day_no, "Day" %>
              <%= text_field_tag '', day.day_no, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-3">
              <%= label_tag :title %>
              <%= text_field_tag '', day.title, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="custom-form-group form-group col-sm-8">
              <%= label_tag :inclusion %>
              <%= text_field_tag '', day.inclusion_text, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-12">
              <%= label_tag :description %>
              <%= text_area_tag '', day.description, class: 'form-control', rows: "4", disabled: true %>
            </div>
            <%= label_tag '', "Activity List", class: "col-sm-12" %><br>
            <div class="nested-fields col-sm-12">
              <%= label_tag :city_id, "City", class: "col-sm-12" %><br>
              <% day.land_tour_cities.each do |city| %>
                <div class="field custom-form-group form-group col-sm-7">
                  <%= text_field_tag '', city.city_name, class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  &nbsp;
                </div>
              <% end %>
            </div>
            <div class="nested-fields col-sm-12">
              <%= label_tag :activity, "Activity", class: "col-sm-12" %><br>
              <% day.land_tour_activities.each do |activity| %>
                <div class="field custom-form-group form-group col-sm-7">
                  <%= text_field_tag '', activity.taggable.present? ? activity.taggable.title : '', class: 'custom-form-control form-control', disabled: true %>
                </div>
                <div class="field custom-form-group form-group col-sm-6">
                  &nbsp;
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Prices", class: "col-sm-12 booking-group-label" %><br>
      <div class="custom-form-group form-group col-sm-4">
        &nbsp;
      </div>
      <%= render_land_tour_pricing_quantity(@land_tour, "show") %>
      <% @land_tour.land_tour_categories.each_with_index do |category, i| %>
        <div class="nested-fields col-sm-12">
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :category %>
            <%= text_field_tag '', category.name, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-8">
            &nbsp;
          </div>
          <div class="custom-form-group form-group col-sm-12 land-tour-date-fields">
            <% category.land_tour_prices.each do |price| %>
              <div class="nested-fields col-sm-12 prices-field">
                <div class="field custom-form-group form-group col-sm-4">
                  <%= label_tag :dates %>
                  <%= text_field_tag '', price.dates_text, class: 'custom-form-control-tagsinput custom-form-control-tagsinput-disabled', data: {role: 'tagsinput'} %>
                </div>
                <% price.prices.each do |qty, pr| %>
                  <div class="field custom-form-group form-group col-sm-2 price-field">
                    <br>
                    <%= text_field_tag '', pr, class: 'custom-form-control form-control', disabled: true %>
                  </div>
                <% end %> 
              </div>
            <% end %>  
          </div>
        </div>
      <% end %>
      <%= render_land_tour_child_and_dta_pricing(@land_tour, "show") %>
    </div>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Compulsory Charges", class: "col-sm-12 booking-group-label" %><br>
      <% @land_tour.compulsory_charges.each do |charge| %>
        <div class="nested-fields col-sm-12 charges-field">
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :title %>
            <%= text_field_tag '', charge["title"], class: 'custom-form-control form-control', disabled: true %>
          </div>  
          <div class="field custom-form-group form-group col-sm-2">
            <%= label_tag :type %>
            <%= text_field_tag '', charge["type"], class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-2">
            <%= label_tag :price %>
            <%= text_field_tag '', charge["price"], class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            &nbsp;
          </div>
        </div>
      <% end %>
    </div>
  </div>
    
  <div class="row">
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag '', "Images", class: "col-sm-12 booking-group-label" %><br><br>
      <% @land_tour.covers.each do |cover| %>
        <% if cover.image.present? %>
          <div class="custom-form-group form-group col-sm-4">
            <%= link_to cover.image.url, target: '_blank' do %>
              <% image_tag cover.image.url, class: 'cover-thumbnail' %>
            <% end %>
          </div>  
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Back', :back, class: 'btn' %>
<% end %>
