<% content_for :head do %>
  <title><%= Rails.application.secrets.app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Hotel
<% end %>

<%= render 'shared/single_panel', card_title: 'TBO Hotel Bookings' do %>
  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Confirmation No.</th>
            <th>Booking Status</th>
            <th>Customer Name</th>
            <th>Contact No</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Payment Status</th>
            <th>Guests</th>
            <th>Booked by</th>
            <th>Booked at</th>
          </tr>
        </thead>
        <tbody>
          <% if @bookings.present? %>
            <% @bookings.each do |hotel_booking| %>
              <tr>
                <td><%= link_to hotel_booking.confirmation_no, admin_tbo_booking_path(hotel_booking) %></td>
                <td><%= hotel_booking.booking_status %></td>
                <td><%= hotel_booking.lead_guest.first_name %></td>
                <td><%= hotel_booking.address_info[:phone_no] %></td>
                <td><%= hotel_booking.address_info[:email] %></td>
                <td><%= number_to_currency(hotel_booking.total_fare, precision: 2, unit: "#{hotel_booking.currency} ") %></td>
                <td><%= hotel_booking.payment.present? ? hotel_booking.payment.status.humanize : '' %></td>
                <td><%= hotel_booking.no_of_guests %></td>
                <td><%= hotel_booking.agent_user.present? ? hotel_booking.agent_user.username : '' %></td>
                <td><%= hotel_booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
