#ListingActivity{
    background-color: #f8f8f8;
}
#ListingActivity .warp{
    width: 1600px;
    margin: auto;
    padding: 50px 10px;
}
#ListingActivity .ellipsis_style_view{
    width: 80%!important;
    float: left;
    padding-bottom: 5px;
  }
  

/************************************** LeftPanel **************************************/
#LeftPanel{
    width: 30%;
    float: left;
    padding-right: 20px 
}
#LeftPanel .ant-card-actions{
    background: transparent;
}
#LeftPanel .ant-collapse{
    border: 0;
}
#LeftPanel .ant-collapse > .ant-collapse-item{
    background-color: #fff;
}
#LeftPanel .sort_result .ant-card-actions > li{
    text-align: left;
}
#LeftPanel .sort_result .ant-card-actions > li > span{
    width: 100%;
    padding: 0px 20px;
}
#LeftPanel .sort_result .ant-radio-wrapper{
    width: 50%;
    margin-right:0px;
}
#LeftPanel .sort_result .ant-radio-wrapper:nth-child(1n){
    margin-bottom: 10px;
}
#LeftPanel .filter_result{
    margin-top: 20px;
}
#LeftPanel .filter_result .title p{
    margin-bottom: 0px;
    float: left;
}
#LeftPanel .filter_result .title p:nth-child(1n){
    width: 70%;
}
#LeftPanel .filter_result .title p:nth-child(2n){
    width: 30%;
    text-align: right;
    color: #faad14;
}
#LeftPanel .filter_result .ant-card-actions > li > span{
    width: 100%;
}
#LeftPanel .filter_result .ant-card-actions > li{
    margin: 0;
}
#LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
    text-align: left;
}
#LeftPanel .filter_result .slider_value p{
    float: left;
}
#LeftPanel .filter_result .slider_value p:nth-child(1n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .filter_result .slider_value p:nth-child(2n){
    width: 10% 
}
#LeftPanel .filter_result .slider_value p:nth-child(3n){
    width: 45%;
    font-weight: bold;
}
#LeftPanel .checkbox_warp .ant-checkbox-group{
    text-align: left;
    width: 100%;
}
#LeftPanel .checkbox_warp .ant-checkbox-group-item {
    width: 100%;
    margin-bottom: 10px;
}
#LeftPanel .star_check .ant-checkbox-wrapper{
    width: 100%;
    margin-left: 0px;
    text-align: left;
}

/************************************** RightPanel **************************************/
#ListingActivity #RightPanel .from_style{
    margin-bottom: 5px;
}
#ListingActivity #RightPanel .view_icon{
    color: #faad14;
    font-size: 16px;
}
#ListingActivity #RightPanel .location_icon{
    margin-right: 5px;
    color: red;
    padding-left: 3px;
}
#ListingActivity #RightPanel .ant-list-item-meta-title p{
    font-size: 1.5em;
    margin-bottom: 0;
}
#ListingActivity #RightPanel .content_rate .ant-rate{
    margin-bottom: 10px;
}

#ListingActivity .right_price{
    text-align: center;

}
#ListingActivity .right_price .price_tag{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}
#ListingActivity .right_price .tax_tag{
    /* color: #ccc; */
}

#ListingActivity #RightPanel .ant-btn-primary {
    width: 70%;
    color: #faad14;
    border-color: #faad14;
}
#ListingActivity #RightPanel .ant-list-lg .ant-list-item{
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
#ListingActivity #RightPanel .ant-list-vertical .ant-list-item-meta{
    margin-bottom: 0px;
}


#ListingActivity #RightPanel .ant-list-vertical .ant-list-item{
    align-items: center;
    background-color: #fff;
}

#ListingActivity #RightPanel .ant-list-vertical .ant-list-item-main{
    border-right: 1px solid #ccc;
    width: 80%;
}

#ListingActivity #RightPanel .ant-list-vertical .ant-list-item-extra{
    margin-left: 0px;
    width: 20%;
}

#ListingActivity #RightPanel .ant-list-item-meta-avatar{
    margin-right: 0px;
    width: 30%;
}

#ListingActivity #RightPanel .ant-list-item-meta-content{
    padding: 20px;
    width: 70%;
}

#ListingActivity #RightPanel .content_rate p{
    margin-bottom: 0;
}
#ListingActivity #RightPanel  .view_sty{
    text-align: right;
    color: cornflowerblue;
    float: left;
    width: 20%;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}
#ListingActivity #RightPanel .available_info {
    color: #faad14;
}

#ListingActivity #RightPanel .ant-list-item-meta .img_sty{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#ListingActivity #RightPanel .title_panel{
    font-weight: bold;
}
#ListingActivity #RightPanel .title_panel.description_ellipsis_sty{
    font-weight: normal;
}



/********************************************************* Responsive Media Query ********************************************************/
@media only screen and (max-width: 1599px) {
    #ListingActivity .warp {
        width: 1300px;
    }
	
}
@media only screen and (max-width: 1350px) {
    #ListingActivity .warp {
        width: 1000px;
    }
    #ListingActivity #RightPanel .ant-list-item-meta .img_sty{
        height: 125px;
    }
    #ListingActivity .right_price p{
        margin-bottom: 0;
    }
    #ListingActivity #RightPanel .from_style {
        margin-bottom: 0px;
    }
	
    #ListingActivity #RightPanel .ant-list-item-meta-content {
        padding: 10px;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-avatar {
         margin-right: 5px; 
    }
    #ListingActivity #RightPanel .ant-list-item-meta-avatar img{
        width: 200px;
   }
   #ListingActivity #RightPanel .ant-list-item-meta-title p {
    font-size: 1em;
    }
    #ListingActivity #RightPanel .content_rate p{
        font-size: .9em;
        margin:5px;
        line-height: 15px;
    }
    #ListingActivity #RightPanel .content_rate p:nth-child(2n){
        font-size: .7em;
    }
    #ListingActivity .right_price .tax_tag{
        margin-bottom: 0;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0px;
    }

}
@media only screen and (max-width: 1050px) {
    #ListingActivity .warp {
        width: 850px;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-content {
        padding: 10px 5px;
    }
    #ListingActivity #RightPanel .ant-list-item-meta .img_sty {
        height: 110px;
    }
    #ListingActivity .right_price .price_tag {
        font-size: 1.1em;
    }
    #RightPanel .ant-btn-primary {
        margin-top: 5px;
    }
    #ListingActivity #RightPanel .location_icon{
        padding-left: 0px;
    }
   
}

@media only screen and (max-width: 900px) {
    #ListingActivity .warp {
        width: 800px;
    }
    #RightPanel .ant-btn-primary {
        font-size: .8em;
        height: 20px;
    }
    #ListingActivity #RightPanel .content_rate p {
        font-size: .7em;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item-meta-title{
        margin-bottom: 0;
    }

    #ListingActivity #RightPanel .ant-list-item-meta-title p {
        font-size: .8em;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-content {
        padding: 10px 3px;
    }
    #ListingActivity #RightPanel .content_rate p{
        line-height: 12px;
    }
    #ListingActivity #RightPanel .location_icon {
        margin-right: 3px;
    }
}

@media only screen and (max-width: 770px) {
    #ListingActivity .warp {
        width: 700px;
    }
    #RightPanel .ant-btn-primary {
        font-size: .7em;
        height: 19px;
    }
    #ListingActivity .right_price .price_tag {
        font-size: .8em;
    }
    #RightPanel .ant-btn-primary {
        margin-top: 0px;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item-meta-title {
        margin-left: 5px;
    }
    #ListingActivity #RightPanel .ant-list-item-meta .img_sty {
        height: 90px;
    }

    #ListingActivity #RightPanel .ant-list-item-meta-avatar img {
        width: 160px;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-title p {
        font-size: .9em;
    }
    #ListingActivity .right_price .price_tag {
        font-size: .9em;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-content {
        padding: 3px;
    }
    #ListingActivity #LeftPanel .filter_result .slider_value p:nth-child(1n) {
        font-size: 1em;
    }
    #ListingActivity #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: 1em;
    }
    #ListingActivity  #LeftPanel .ant-card-meta-title {
        font-size: 1em;
    }
    #ListingActivity #LeftPanel .filter_result .title p:nth-child(1n){
        width: 70%!important;
    }
    #ListingActivity  #LeftPanel .filter_result .title p:nth-child(2n){
        width: 30%!important;
        text-align: right!important;
    }
   
}

@media only screen and (max-width: 720px) {
    #ListingActivity .warp {
        width: 90%;
        padding: 50px 0px;
    }
    #ListingActivity #LeftPanel{
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0px;
    }
    #ListingActivity #RightPanel .location_icon {
       padding-left: 0px;
       padding-top: 3px;
    }
    #ListingActivity #RightPanel {
        width: 100%;
    }
    #ListingActivity #RightPanel .right_price .tag{
        float: left;
    }
    #ListingActivity #RightPanel .from_style {
        text-align: left;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item-main{
        flex: auto;
        border-right: 0px;
        width: 100%;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item{
        flex-wrap: wrap;
    }
    #ListingActivity #LeftPanel .filter_result .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        font-size: 1em;
    }
    #ListingActivity .right_price .price_tag {
        font-size: 1em;
        float: left;
        margin-right: 10px;
    }
    #ListingActivity .right_price .tax_tag {
        float: left;
        font-size: .9em;
        padding-top: 2px;
    }
    #ListingActivity #RightPanel .select_btn {
        width: 30%;
        margin-left: auto;
        text-align: right;
    }
    #ListingActivity #RightPanel .ant-btn-primary {
        font-size: .8em;
        height: 25px;
        margin-top: 0px;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item-meta {
        display: block;
    }
    #ListingActivity #LeftPanel .ant-card-meta-title {
        font-size: 1.1em;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item-extra {
        width: 100%;
        background: #f1f1f1;    
        margin: 0px; 
    }
    #ListingActivity  .ant-list-vertical .ant-list-item-main {
        min-width: 0px!important;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-avatar {
        margin-right: 2px;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-title p {
        font-size: 1em;
    }
    #ListingActivity #RightPanel .content_rate  {
        margin-top: -5px;
    }

    #ListingActivity .right_price {
        width: 100%;
        padding: 10px;
    }
    #ListingActivity .right_price .price_tag {
        font-size: .8em;
    }

    #ListingActivity #RightPanel .ant-list-item-meta-avatar img {
        width: 100%;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-avatar {
        margin-right: 0px;
    }
    #ListingActivity #RightPanel .content_rate p:nth-child(2n) {
        margin: 0px;
        padding: 0px;
        font-size: .8em;
        line-height: 18px;
        margin-top: 5px;
    }

    #ListingActivity #RightPanel .content_rate{
        margin-top: 0px;
    }
    #ListingActivity #RightPanel .content_rate p {
        font-size: .9em;
        margin: 0;
        margin-top: 5px;
    }

    #ListingActivity .right_price .tax_tag small {
        font-size: 80%;
    }
    #ListingActivity #RightPanel .ant-list-item-meta .img_sty {
        height: auto;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-avatar {
        width: 100%;
    }
    #ListingActivity #RightPanel .ant-list-item-meta-content {
        width: 100%;
        padding: 10px;
    }
    #ListingActivity #RightPanel .ant-list-vertical .ant-list-item-meta-title {
        margin-left: 0px;
    }
    #ListingActivity .right_price .price_tag {
        font-size: 1.2em;
    }
}


@media only screen and (max-width: 576px){
  
   


   
}

@media only screen and (max-width: 420px){
    #ListingActivity #RightPanel .select_btn {
        width: 50%;
    }
}
