<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-12">
    <%= f.label 'Infant' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label 'Name On Passport' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, class: 'form-control', required: true, max: Date.today, min: f.object.booking.tour.departure_date - 2.years, :data => {:tour_depart_date => @tour.departure_date.strftime("%Y-%m-%d")} %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(InfantBooking.genders.collect { |s| [s[0].humanize, s[0]] }, selected: f.object.gender), {include_blank: true}, {class: 'form-control'} %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :passport_number %>
    <%= f.text_field :passport_number, class: 'form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :passport_expiry_date %>
    <%= f.date_field :passport_expiry_date, class: 'form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :passport_photocopy %>
    <% if f.object.passport_photocopy.present? %>
      <%= link_to 'View passport', f.object.passport_photocopy.url, target: '_blank' %><br>
      <%= f.check_box :remove_passport_photocopy %> Remove 
    <% end %>
    <%= f.file_field :passport_photocopy, class: 'form-control'  %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :remark %>
    <%= f.text_field :remark, class: 'form-control' %>
  </div>
  <% if f.object.booking.insurance_available? %>
    <div class="field custom-form-group form-group col-sm-12 insurance-section">
      <% if @tour.insurance_available?  %>
        <%= render_insurance_available(@tour, f, "edit", "") %>
      <% end %>
      <div class="field custom-form-group form-group col-sm-6">
        <%= f.label :nationality %><br>
        <%= f.radio_button(:nationality, 'malaysian', {:disabled => f.object.insurance_exported?}) %> I am a Malaysian, Malaysian Permanent Resident or holder of a valid working permit in Malaysia, dependent pass, long term social visit pass or student pass, and will commence journey from Malaysia.<br>
        <%= f.radio_button(:nationality, 'non-malaysian', {:disabled => f.object.insurance_exported?}) %> No. Sorry, you are not eligible for this cover.
      </div>
      <div class="field custom-form-group form-group col-sm-2">
        <%= f.label :parent_id, "Is Guest  the parent?" %><br>
        <%= f.radio_button(:parent_id, f.object.booking.id, {class: 'parent-select', :disabled => f.object.insurance_exported?}) %> Yes&nbsp;&nbsp;
        <%= f.radio_button(:parent_id, '0', {class: 'parent-select', :disabled => f.object.insurance_exported?}) %> No
      </div>
      <% if (f.object.parent_id.present? && f.object.parent_id == 0)  %>
        <%= render_guardian_fields(f, "edit", "guardian_yes") %>
      <% else %>  
        <%= render_guardian_fields(f, "edit", "guardian_no") %>
      <% end %>
    </div>
  <% end %> 
  <div class="field custom-form-group form-group col-sm-12">
    <%= link_to_remove_association "Remove Infant", f %>
  </div>
</div>