<div class="nested-fields">
  <div class="field custom-form-group form-group col-sm-4">
    <%= f.label :price %>
    <%= f.number_field :price, class: 'custom-form-control form-control' %>
  </div>
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :price_type %>
    <%= f.select :price_type, options_for_select(Booking::PRICE_TYPES, selected: f.object.price_type), {}, {class: 'custom-form-control form-control'} %>
  </div>
  <div class="custom-form-group form-group col-sm-4">
    <%= f.label :category %>
    <%= f.select :category, options_for_select(Booking.categories.collect { |s| [s[0].humanize, s[0]] }, selected: f.object.category), {}, {class: 'custom-form-control form-control'} %>
  </div>
  <div class="custom-form-group form-group col-sm-2">
    <%= f.label :designation %>
    <%= f.select :designation, options_for_select(Booking::DESIGNATION, selected: f.object.designation), {include_blank: true}, {class: 'custom-form-control form-control'} %>
  </div>
  <div class="field custom-form-group form-group col-sm-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, class: 'custom-form-control form-control dob', :data => {:tour_depart_date => @tour.departure_date.strftime("%Y-%m-%d")} %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :passport_number %>
    <%= f.text_field :passport_number, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :passport_expiry_date %>
    <%= f.date_field :passport_expiry_date, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :passport_photocopy %>
    <% if f.object.passport_photocopy.present? %>
      <%= link_to 'View passport', f.object.passport_photocopy.url, target: '_blank' %><br>
      <%= f.check_box :remove_passport_photocopy %> Remove
    <% end %>
    <%= f.file_field :passport_photocopy, class: 'form-control'  %>
  </div>
  <div class="custom-form-group form-group col-sm-3">
    <%= f.label :room_type %>
    <%= f.select :room_type, options_for_select(Booking::ROOM_TYPES, selected: f.object.room_type), {include_blank: true}, {class: 'custom-form-control form-control'} %>
  </div>
  <div class="field custom-form-group form-group col-sm-12">
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :visa_no %>
    <%= f.text_field :visa_no, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-3">
    <%= f.label :visa_expiry_date %>
    <%= f.date_field :visa_expiry_date, class: 'custom-form-control form-control' %>
  </div>
  <% if @tour.is_cruise? %>
    <div class="field custom-form-group form-group col-sm-3">
      <%= label_tag :cruise_room_type %>
      <%= text_field_tag :cruise_room_type, f.object.cruise_room_type, class: 'custom-form-control form-control', disabled: true %>
    </div>
  <% end %>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :operator_remark, "Rooming Remark" %>
    <%= f.text_field :operator_remark, class: 'custom-form-control form-control' %>
  </div> 
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :agent_remark %>
    <%= f.text_field :remark, class: 'custom-form-control form-control' %>
  </div>
  <div class="field custom-form-group form-group col-sm-6">
    <%= f.label :admin_remark, "GD Remark" %>
    <%= f.text_field :admin_remark, class: 'custom-form-control form-control' %>
  </div>
  <% if f.object.insurance_available? %>
    <div class="field custom-form-group form-group col-sm-12 insurance-section">
      <% if @tour.insurance_available?  %>
        <%= render_insurance_available(@tour, f, "edit", "") %>
      <% end %>
      <div class="field custom-form-group form-group col-sm-6">
        <%= f.label :nationality %><br>
        <%= f.radio_button(:nationality, 'malaysian', {}) %> I am a Malaysian, Malaysian Permanent Resident or holder of a valid working permit in Malaysia, dependent pass, long term social visit pass or student pass, and will commence journey from Malaysia.<br>
        <%= f.radio_button(:nationality, 'non-malaysian', {}) %> No. Sorry, you are not eligible for this cover.
      </div>
      <div class="field custom-form-group form-group col-sm-6 guardian_field">
        <%= f.label :guardian_id %>
        <%= f.select :guardian_id, options_for_select(@booking_group.all_guardian(f.object.id), selected: f.object.guardian_id), {include_blank: "Select Guardian"}, {class: 'custom-form-control form-control guardian-select'} %>
      </div>
      <% if (f.object.date_of_birth.present? &&  !f.object.over_18?)  %>     
        <%= render_guardian_fields(f, "edit", "guardian_yes") %>
        <%= render_nominee_section(f, "18_no") %>
      <% else %>
        <%= render_guardian_fields(f, "edit", "guardian_no") %>
        <%= render_nominee_section(f, "18_yes") %>
      <% end %>
    </div>
  <% end %>
  <div class="custom-form-group form-group col-sm-6">
    <%= label_tag :last_editor_by %>
    <%= text_field_tag '', f.object.last_edited_user.present? ? f.object.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
  </div>
  <div class="custom-form-group form-group col-sm-6">
    <%= label_tag :last_editor_at %>
    <%= text_field_tag '', f.object.last_edited_at.present? ? f.object.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
  </div>

  <% unless @tour.is_cruise? %>
    <div class="custom-form-group form-group col-sm-12", id="infants">
      <%= f.fields_for :infant_bookings do |infant| %>
        <%= render 'admin_infant_booking_fields', f: infant %>
      <% end %>
      <div class="field custom-form-group form-group col-sm-12">
        <%= link_to_add_association 'Add Infant', f, :infant_bookings, partial: 'admin_infant_booking_fields', id: 'add-infant-btn'  %>
      </div>
    </div>
  <% end %>

</div>