<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Booking Statistic: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present? %>
  <% card_title = "View Booking Statistic: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Booking Statistic: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Booking Statistic' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to 'View All Bookings', admin_booking_groups_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag booking_statistic_admin_booking_groups_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        <%= select_tag :group_by, options_for_select(Booking::SUMMARY_GROUP, params[:group_by]) %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
    <%if @booking_datas.present?  %>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-3 mt20">
            <table class="table table-bordered table-condensed">
              <tr>
                <th>Total Pax </td>
                <td><%= @total_booking %></td>
              </tr>
              <tr>
                <th>Total Amount</td>
                <td><%= @total_amount %></td>
              </tr> 
            </table>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Period (<%= params[:group_by]%>)</th>
          <th>Bookings</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @booking_datas.each_with_index do |(key, value), index| %>
          <% if index == 0 && params[:begin].present? %>
            <% date_start = params[:begin].in_time_zone.in_time_zone %>
          <% else %>
            <% date_start = key.in_time_zone %>
          <% end %>
          <% if index == @booking_datas.size - 1 && params[:end].present? %>
            <% date_end = params[:end].in_time_zone %>
          <% else %>
            <% date_end = key.in_time_zone.send("end_of_#{params[:group_by]}") %>
          <% end %>
          <tr>
            <% if params[:group_by] == 'hour' %>
              <td>
                <%= link_to "#{date_start.strftime('%F %T')} - #{date_end.strftime('%T')}", admin_booking_groups_path(begin: date_start.strftime('%F %T'), end: date_end.strftime('%F %T')) %>
              </td>
            <% elsif params[:group_by] == 'day' %>
              <td>
                <%= link_to "#{date_start.strftime('%F')}", admin_booking_groups_path(begin: date_start.strftime('%F'), end: date_end.strftime('%F')) %>
              </td>
            <% else %>
              <td>
                <%= link_to "#{date_start.strftime('%F')} - #{date_end.strftime('%F')}", admin_booking_groups_path(begin: date_start.strftime('%F'), end: date_end.strftime('%F')) %>
              </td>
            <% end %>
            <td><%= value == 0 ? '0' : number_with_delimiter(value[:count]) %></td>
            <td><%= value == 0 ? '0' : number_with_delimiter(value[:sum_price]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>