<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Tour Bookings: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present?  %>
  <% card_title = "View Bookings: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Bookings: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Bookings' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <% unless params[:begin].present? && params[:end].present? && params[:receipt].present? %>
    <%= link_to('Received Deposit', received_deposit_admin_booking_groups_path, class: 'btn btn-primary') %>
    <%= link_to('Tour Booking Summary', tour_booking_summary_admin_booking_groups_path, class: 'btn btn-primary') %>
    <%= link_to('Booking Statistic', booking_statistic_admin_booking_groups_path, class: 'btn btn-primary') %>
    <%= link_to('Sales Statistic', sales_statistic_admin_booking_groups_path, class: 'btn btn-primary') %>

    <div class="row">
      <div class="col-xs-12 mt20">
        <%= link_to('Today', admin_booking_groups_path(by_tour: true, begin: @today.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Yesterday', admin_booking_groups_path(by_tour: true, begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Current Week', admin_booking_groups_path(by_tour: true, begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Week', admin_booking_groups_path(by_tour: true, begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Week To Now', admin_booking_groups_path(by_tour: true, begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Current Month', admin_booking_groups_path(by_tour: true, begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Month', admin_booking_groups_path(by_tour: true, begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Month To Now', admin_booking_groups_path(by_tour: true, begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Current Year', admin_booking_groups_path(by_tour: true, begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Year', admin_booking_groups_path(by_tour: true, begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Year To Now', admin_booking_groups_path(by_tour: true, begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>

      </div>
      <div class="col-xs-12 mt20 mb20">
        <%= form_tag admin_booking_groups_path, method: 'get' do %>
          From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %><br>
          <%= text_field_tag :tour_code, params[:tour_code], placeholder: 'Tour Code' %>
          <%= text_field_tag :destination, params[:destination], placeholder: 'Destination' %>
          <%= text_field_tag :booked_by, params[:booked_by], placeholder: 'Booked By' %>
          <%= hidden_field_tag :by_tour, true %>
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @booking_datas.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3 mt20">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>Total Pax </td>
              <td><%= number_with_delimiter @booking_datas[:count] %></td>
            </tr>
            <tr>
              <th>Total Amount</td>
              <td><%= number_with_delimiter @booking_datas[:sum_price] %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Tour Code</th>
          <th>Price</th>
          <th>Pax</th>
          <th>Destination</th>
          <th>Booked By</th>
        </tr>
      </thead>
      <% if @booking_groups.present? %>
        <tbody>
          <% @booking_groups.each do |group| %>
            <tr>
              <% if group.bookings.present? %>
                <td><%= link_to group.bookings.first.tour.code, admin_tour_path(group.bookings.first.tour) if group.bookings.present? %></td>
                <td><%= group.bookings.visible.map(&:price).inject(&:+).to_i %></td>
                <td><%= group.bookings.visible.count %></td>
                <td><%= group.bookings.first.tour.contient_country %></td>
                <td>
                  <%= group.bookings.present? ? group.bookings.first.booked_by_detail : '' %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
  <%= paginate @booking_groups if @booking_groups.present? %>
<% end %>