<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Bookings: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present?  %>
  <% card_title = "View Bookings: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Bookings: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Bookings' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <% unless params[:begin].present? && params[:end].present? && params[:receipt].present? %>
    <%= link_to('Received Deposit', received_deposit_admin_booking_groups_path, class: 'btn btn-primary') %>
    <%= link_to('Tour Booking', admin_booking_groups_path(by_tour: true), class: 'btn btn-primary') %>
    <%= link_to('Tour Booking Summary', tour_booking_summary_admin_booking_groups_path, class: 'btn btn-primary') %>
    <%= link_to('Booking Statistic', booking_statistic_admin_booking_groups_path, class: 'btn btn-primary') %>
    <%= link_to('Sales Statistic', sales_statistic_admin_booking_groups_path, class: 'btn btn-primary') %>
    <%= link_to('Insurance Changes', insurance_changes_admin_booking_groups_path, class: 'btn btn-primary') %>

    <div class="row">
      <div class="col-xs-12 mt20">
        <%= link_to('Today', admin_booking_groups_path(begin: @today.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Yesterday', admin_booking_groups_path(begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Current Week', admin_booking_groups_path(begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Week', admin_booking_groups_path(begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Week To Now', admin_booking_groups_path(begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Current Month', admin_booking_groups_path(begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Month', admin_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Month To Now', admin_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Current Year', admin_booking_groups_path(begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Year', admin_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
        <%= link_to('Last Year To Now', admin_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
      </div>
      <%= form_tag admin_booking_groups_path, method: 'get' do %>
        <div class="col-xs-12 mt20 mb20">
          <div class="row">
            <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
              <%= label_tag  :Booked_By %>
              <%= date_field_tag :begin, params[:begin], class: 'custom-form-control form-control', disabled: false %>
            </div>
            <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
              <%= label_tag  :to %>
              <%= date_field_tag :end, params[:end], class: 'custom-form-control form-control', disabled: false %>
            </div>
          </div>
          <div class="row">
            <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
              <%= label_tag :Departure_Date %>
              <%= date_field_tag :begin_departure_date, params[:begin_departure_date],class: 'custom-form-control form-control' %> 
            </div>
            <div class="custom-form-group form-group col-xs-6 col-md-2 pd5">
              <%= label_tag :to%>
              <%= date_field_tag :end_departure_date, params[:end_departure_date],class: 'custom-form-control form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= number_field_tag :booking_id, params[:booking_id], placeholder: 'Booking Ref', class: 'custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= text_field_tag :code, params[:code], placeholder: 'Grouping Code', class: 'custom-form-control  form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= text_field_tag :name, params[:name], placeholder: 'Customer Name', class: 'custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= text_field_tag :booked_by, params[:booked_by], placeholder: 'Booked By', class: ' custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= text_field_tag :tour_code, params[:tour_code], placeholder: 'Tour Code', class: ' custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= select_tag :tour_status, options_for_select([["Active", 'Active'], ["Inactive", "Inactive"]], selected: params[:tour_status]), prompt: ' Select Tour Status', class: 'custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= text_field_tag :sub_sales, params[:sub_sales], placeholder: 'Sales Person', class: ' custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= text_field_tag :user_state, params[:user_state], placeholder: 'Booker origin state',class: ' custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= text_field_tag :destination, params[:destination], placeholder: 'Destination',class: ' custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-3 pd5"> 
              <%= select_tag :insurance_confirmation, options_for_select([["Yes", true], ["No", false], ["Not Set", :na]], selected: params[:insurance_confirmation]), prompt: ' Select Insurance Confirmation', class: ' custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-3 pd5">
              <%= select_tag :insurance_exported, options_for_select([["Yes", true], ["No", false]], selected: params[:insurance_exported]), prompt: ' Select Insurance Exported', class: 'custom-form-control form-control' %>
            </div>
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= select_tag :sorting_type, options_for_select(BookingGroup::SORTING.keys.product([' ASC', ' DESC']).map(&:join).collect { |s| [s, s] }, selected: params[:sorting_type]), prompt: ' Select Sorting Type', class: ' custom-form-control form-control'%>
            </div>
          </div>
          <div class="row">
            <div class="form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= select_tag :price_type, options_for_select(Booking::PRICE_TYPES, selected: params[:price_type]), id: 'price-type-multiselect', multiple:  true, class: 'custom-form-control form-control'  %>
            </div>
            <div class= "form-group custom-form-group col-xs-6 col-md-2 pd5">
              <%= select_tag :category, options_for_select(Booking::categories.collect, selected: params[:category]),  id: 'category-multiselect', multiple: true, class: 'form-group custom-form-group'  %>  
            </div>
          </div>
        </div>
        <div class="form-group custom-form-group col-xs-12">
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        </div>
      <% end %>
      <div class="col-xs-6 col-md-2 mt20 mb20">
        <select class="custom-form-control" id="column-showhide-multiselect" multiple="true">
          </select>
      </div>
    </div>
  <% else %>
    <%= link_to('Back Received Deposit', received_deposit_admin_booking_groups_path, class: 'btn btn-primary')%>
  <% end %>

  <% if @booking_datas.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3 mt20">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>Total Pax </td>
              <td><%= number_with_delimiter @booking_datas[:count] %></td>
            </tr>
            <tr>
              <th>Total Amount</td>
              <td><%= number_with_delimiter @booking_datas[:sum_price] %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table id="booking-groups-table" class="table table-striped table-condensed">
      <thead>
        <tr>
          <th data-name="#" class="number">#</th>
          <th data-name="Code" class="number">Code</th>
          <th data-name="Name" class="highlight">Name</th>
          <th data-name="Pax" class="number">Pax</th>
          <th data-name="Deposit" class="number">Deposit</th>
          <th data-name="Receipt" class="number">Receipt</th>
          <th data-name="Tour Code" class="code">Tour Code</th>
          <th data-name="Cut off" class="code">Cut off</th>
          <th data-name="Departure" class="number">Departure</th>
          <th data-name="Destination" class="number">Destination</th>
          <th data-name="Booked By" class="code">Booked By</th>
          <th data-name="Sales Person" class="code">Sales Person</th>
          <th data-name="Booked At" class="number">Booked At</th>
          <th data-name="Booked From" class="number">Booked From</th>
          <th data-name="Remark">Remark</th>
        </tr>
      </thead>
      <% if @booking_groups.present? %>
        <tbody>
          <% total_pax = 0 %>
          <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*BookingGroup::ADMIN_BOOKINGGROUPS_PER_PAGE+1 : 1 %>
          <% @booking_groups.each_with_index do |group, index| %>
            <tr>
              <td class="number"><%= index + start_seq %></td>
              <% if group.exported? %>
                <td class="expoted_info"><%= link_to group.code, admin_booking_group_path(group), title: group.exported_info %></td>
              <% else %>
                <td><%= link_to group.code, admin_booking_group_path(group) %></td>
              <% end %>
              <% if group.bookings.present? %>
                <td><div class="trim highlight" data-toggle="tooltip" data-placement="top" title="<%= group.bookings.order(:id).first.name %>"><%= group.bookings.order(:id).first.name %></div></td>
                <td><%= group.bookings.visible.count %></td>
                <% total_pax += group.bookings.visible.count %>
                <td><%= group.deposit %></td>
                <td class="number"><%= group.receipts.last.present? ? group.receipts.last.number : '' %></td>
                <td>
                  <div class="trim code" data-toggle="tooltip" data-placement="top" title="<%= render_tour_data(group) %>">
                    <%= link_to group.bookings.first.tour.code, admin_tour_path(group.bookings.first.tour) if group.bookings.present? %>
                  </div>
                </td>
                <td><%= group.bookings.first.tour.cut_off_date.try(:strftime, "%d/%m/%y") %></td>
                <td><%= group.bookings.first.tour.departure_date.try(:strftime, "%d/%m/%y") %></td>
                <td class="number"><%= group.bookings.first.tour.contient_country %></td>
                <td>
                  <%= group.bookings.present? ? group.bookings.first.booked_by_detail : '' %>
                </td>
                <td><%= group.bookings.first.sub_sale_rep.try(&:upcase) %></td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= group.deposit %></td>
                <td><%= group.receipts.last.present? ? group.receipts.last.number : '' %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
              <td><%= group.bookings.present? ? group.bookings.first.created_at.strftime("%d/%m %H:%M") : group.created_at.strftime("%d/%m %H:%M") %></td>
              <td><%= group.booked_from %></td>
              <td>
                <%= render_insurance_icon(group) %>
                <%= render_passport_icon(group) %>
                <%= render_child_category(group) %>
                <%= render_remark_infant_indicator(group) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
  <% if @booking_groups.present? && total_pax > 0 %>
    <p>Total Pax: <%= total_pax %></p>
  <% end %>
  <%= paginate @booking_groups if @booking_groups.present? %>
<% end %>
