<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Insurance Changes: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present? %>
  <% card_title = "View Insurance Changes: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Insurance Changes: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Insurance Changes' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to 'View All Bookings', admin_booking_groups_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag insurance_changes_admin_booking_groups_path, method: 'get' do %>
        <div class="form-group">
          Booked By : From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        </div>
        <div class="form-group">
          Insurance Exported At : From <%= date_field_tag :begin_insurance_exported_at, params[:begin_insurance_exported_at] %> To <%= date_field_tag :end_insurance_exported_at, params[:end_insurance_exported_at] %>
        </div>
        
        <div class="form-group">
          Cut Off Date By : From <%= date_field_tag :begin_insurance_cut_off_date, params[:begin_insurance_cut_off_date] %> To <%= date_field_tag :end_cut_off_date, params[:end_cut_off_date] %>
        </div>
        <div class="form-group custom-form-group col-lg-3 col-md-3 col-xs-6 pd5">
          <%= number_field_tag :insurance_endorse_count, params[:insurance_endorse_count], placeholder: 'Insurance Endorse Count > 0',class: ' custom-form-control form-control' %>
        </div>
        <div class="form-group custom-form-group col-lg-2 col-md-3 col-xs-3 pd5">
          <%= text_field_tag :search_name, params[:search_name], placeholder: 'Name',class: ' custom-form-control form-control' %>
        </div> 
        <div class="form-group custom-form-group col-xs-6 col-md-3 pd5">
          <%= select_tag :insurance_include, options_for_select([["Yes", true], ["No", false]], selected: params[:insurance_include]), prompt: 'Booking with Insurance?', class: 'custom-form-control form-control' %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="number">Ref</th>
          <th>Grouping</th>
          <th>Booking id</th>
          <th>Tour Code</th>
          <th>Name</th>
          <th>Booked At</th>
          <th>Last Editor At</th>
          <th>Last Editor</th>
          <th> Export At</th>
          <th>Endorse Count</th>
          <th>Cut Off Date</th>
          <th>Insurance Logo</th>
        </tr>
      </thead>
      <tbody>
        <% start_seq = params[:page].present? ? (params[:page].to_i - 1)*Booking::ADMIN_BOOKING_PER_PAGE+1 : 1 %>
    		<% @bookings.each_with_index do |booking, index| %>
          <tr>
            <td class="number"><%= index + start_seq %></td>
            <td><%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group) %></td>
            <td><%= booking.id %></td>
            <td>
              <div class="trim code">
                <%= link_to booking.tour.code, admin_tour_path(booking.tour) if booking.tour.present? %>
              </div>
            </td>
           <td><div class="trim highlight"><%= booking.name %></div></td>
           <td><div class="trim highlight"><%= booking.created_at.strftime("%d/%m %H:%M") %></div></td>
           <td><div class="trim highlight"><%= booking.last_edited_at.strftime("%d/%m %H:%M") %></div></td>
           <td><div class="trim highlight"><%= booking.last_edited_user.username %></div></td>
           <td><div class="trim highlight"><%= booking.insurance_exported_at.strftime("%d/%m %H:%M") %></div></td>
           <td><div class="trim highlight"><%= booking.insurance_endorse %></div></td>
           <% if booking.tour.cut_off_date.present? %>
            <td><div class="trim highlight"><%= booking.tour.cut_off_date.strftime("%d %b %Y ") %></div></td>
           <% else %>
            <td><div class="trim highlight"><%= booking.tour.cut_off_date %></div></td>
           <% end %>
           <td><%= render_insurance_icon(booking) %></td>
          </tr>
      	<% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @bookings if @bookings.present? %>
<% end %>