<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<%= render 'shared/single_panel', card_title: "Group:#{@booking_group.code}" do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Code</th>
          <th>Caption</th>
          <th>Caption(Ch)</th>
          <% if @tour.is_cruise? %>
            <th>Max Cabins</th>
            <th>Max Seats</th>
          <% else %>
            <th>Max Seats</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tour.departure_date.strftime("%d/%m/%Y %a") %></td>
          <td><%= link_to @tour.code, admin_tour_path(@tour) %></td>
          <td><%= @tour.caption %></td>
          <td><%= @tour.other_caption %></td>
          <% if @tour.is_cruise? %>
            <td><%= @tour.all_total_rooms %></td>
            <td><%= @tour.all_total_seats %></td>
          <% else %>
            <td><%= @tour.all_total_seats %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @booking_group.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :deposit %>
      <%= text_field_tag '', @booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :keep_in_view %>
      <%= text_field_tag '', @booking_group.keep_in_view ? 'Yes' : 'No', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :remark %>
      <%= text_field_tag '', @booking_group.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :receipts %>
      <% receipts_total_amount = 0 %>
      <% @booking_group.receipts.each do |receipt| %>
        <% receipts_total_amount += receipt.amount %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :number %>
              <%= text_field_tag '', receipt.number, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :amount %>
              <%= text_field_tag '', receipt.amount, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :remark %>
              <%= text_field_tag '', receipt.remark, class: 'custom-form-control form-control', disabled: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :receipts_total_amount %>
      <%= text_field_tag '', receipts_total_amount, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <table class="table table-striped table-condensed">
        <% if @tour.is_cruise? %>
          <thead>
            <tr>
              <th><%= check_box_tag '', '',false, class: 'checkbox-select-all' %></th>
              <th>Grouping</th>
              <th>Cruise Room/ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Offered</th>
              <th>Booked by</th>
              <th>Remark</th>
              <th>Booked at</th>
              <th>Ref</th>
            </tr>
          </thead>
          <tbody>
            <% @booking_group.booking_cruise_rooms.visible.each do |booking_cruise_room| %>
              <% booking_cruise_room.bookings.visible.each_with_index do |booking, index| %>
                <tr>
                  <% if index == 0 %>
                    <td><%= check_box_tag 'booking', booking_cruise_room.bookings.visible.map(&:id).join(','), false, class: 'check-checkbox' %></td>
                    <td><%= link_to @booking_group.code, admin_booking_group_path(@booking_group) %></td>
                    <td><%= booking_cruise_room.room_type_text %>/<%= booking_cruise_room.id %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                    <td></td>
                  <% end %>
                  <td><%= booking.name %></td>
                  <td><%= booking.price %></td>
                  <td><%= "#{booking.price_offered ? booking.price_type : ''}" %></td>
                  <td><%= booking.booked_by_detail %></td>
                  <td><%= booking.remark %></td>
                  <td><%= booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                  <td><%= booking.id %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% else %>
          <thead>
            <tr>
              <th><%= check_box_tag '', '',false, class: 'checkbox-select-all' %></th>
              <th>Grouping</th>
              <th>Name</th>
              <th>Price</th>
              <th>Offered</th>
              <th>Booked by</th>
              <th>Remark</th>
              <th>Booked at</th>
              <th>Ref</th>
            </tr>
          </thead>
          <tbody>
            <% @booking_group.bookings.visible.each do |booking| %>
              <tr>
                <td><%= check_box_tag 'booking', booking.id, false, class: 'check-checkbox' %></td>
                <td><%= link_to booking.booking_group.code, admin_booking_group_path(booking.booking_group) %></td>
                <td><%= booking.name %></td>
                <td><%= booking.price %></td>
                <td><%= "#{booking.price_offered ? booking.price_type : ''}" %></td>
                <td><%= booking.booked_by_detail %></td>
                <td><%= booking.remark %></td>
                <td><%= booking.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <td><%= booking.id %></td>

              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-sm-12">
    <%= form_for [:admin, @alter], url: create_alter_admin_booking_group_path(@booking_group), method: :post, html: { role: "form" } do |f| %>
      <%= render partial: 'partials/errors', locals: { target: @alter } %>
      <div class="row">
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :alter_type %>
          <% if @tour.is_cruise? %>
            <%= f.select :alter_type, options_for_select([["Withdraw", "withdrawn"]], selected: @alter.alter_type), {include_blank: true}, {class: 'custom-form-control form-control', required: true } %>
          <% else %>
            <%= f.select :alter_type, options_for_select([["Withdraw", "withdrawn"], ["Transfer", "transferred"]], selected: @alter.alter_type), {include_blank: true}, {class: 'custom-form-control form-control', required: true } %>
          <% end %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :reason %>
          <%= f.select :reason, [], {include_blank: true, prompt: 'Please select the alter type'}, {class: 'custom-form-control form-control empty_reason_options', required: true } %>
          <%= f.select :reason, options_for_select(BookingAlteration::WITHDRAWN_REASON, selected: @alter.alter_type), {include_blank: true}, {class: 'custom-form-control form-control reason_options withdrawn_reason_options', required: true } %>
          <%= f.select :reason, options_for_select(BookingAlteration::TRANSFERRED_REASON, selected: @alter.alter_type), {include_blank: true}, {class: 'custom-form-control form-control reason_options transferred_reason_options', required: true } %>
          <%= f.text_field :reason, class: 'custom-form-control form-control reason_option-others', placeholder: 'Please state...', required: true %>
        </div>
        <div class="custom-form-group form-group col-sm-6">
          <%= f.label :tour %>
          <%= text_field_tag :tour_search, '', class: 'custom-form-control form-control', placeholder: 'Key in the tour', data: { exclude: @tour.id }, disabled: true %>
          <%= hidden_field_tag :tour_id, params[:tour_id], class: 'tour_id' %>
        </div>

        <div class="custom-form-group form-group col-sm-12 mt20">
          <%= hidden_field_tag :booking_ids, '', class: 'tour_id' %>
          <%= f.submit "Withdraw/Transfer", class: 'btn btn-primary btn-submit-alteration', disabled: true %>
          <%= link_to 'Cancel', :back, class: 'btn' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>