<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<%= render 'shared/single_panel', card_title: "Group:#{@booking_group.code}" do %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Code</th>
          <th>Caption</th>
          <th>Caption(Ch)</th>
          <% if @tour.is_cruise? %>
            <th>Max Cabins</th>
            <th>Max Seats</th>
          <% else %>
            <th>Max Seats</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tour.departure_date.strftime("%d/%m/%Y %a") %></td>
          <td><%= link_to @tour.code, admin_tour_path(@tour) %></td>
          <td><%= @tour.caption %></td>
          <td><%= @tour.other_caption %></td>
          <% if @tour.is_cruise? %>
            <td><%= @tour.all_total_rooms %></td>
            <td><%= @tour.all_total_seats %></td>
          <% else %>
            <td><%= @tour.all_total_seats %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @booking_group.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :deposit %>
      <%= text_field_tag '', @booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :keep_in_view %>
      <%= text_field_tag '', @booking_group.keep_in_view ? 'Yes' : 'No', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :remark %>
      <%= text_field_tag '', @booking_group.remark, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :receipts %>
      <% receipts_total_amount = 0 %>
      <% @booking_group.receipts.each do |receipt| %>
        <% receipts_total_amount += receipt.amount %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :number %>
              <%= text_field_tag '', receipt.number, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :amount %>
              <%= text_field_tag '', receipt.amount, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :remark %>
              <%= text_field_tag '', receipt.remark, class: 'custom-form-control form-control', disabled: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :receipts_total_amount %>
      <%= text_field_tag '', receipts_total_amount, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="table-responsive mt20">
      <%= form_for [:admin, @booking_group], url: create_export_admin_booking_group_path(@booking_group), method: :post, html: { role: "form" } do |f| %>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Tour Fee</th>
              <th>DTA</th>
              <th>PRE</th>
              <th>Visa Free</th>
              <th>Insurance</th>
            </tr>
          </thead>
          <tbody>
          
            <%= f.fields_for :bookings, @booking_group.bookings.visible do |b| %>
              <tr>
                <td><%= b.object.name %> 
                  <% if b.object.infant_bookings.present? %>
                    <%= "| #{b.object.infant_bookings.count}" %>
                    <%= content_tag(:i, '', class: 'fa fa-child') %>
                  <% end %>
                </td>
                <td><%= b.number_field :tour_fee, value: b.object.tour_fee || b.object.price, step: 0.01 %></td>
                <td><%= b.number_field :DTA, step: 0.01 %></td>
                <td><%= b.number_field :PRE, step: 0.01 %></td>
                <td><%= b.number_field :visa_fee, step: 0.01 %></td>
                <td><%= b.number_field :insurance_fee, step: 0.01 %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="custom-form-group form-group col-sm-12 mt20">
          <%= f.submit "Export", class: 'btn btn-primary' %>
          <%= link_to 'Cancel', :back, class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>