<% content_for :head do %>
  <title><%= @booking_group.code %></title>
<% end %>
<page id="print-order">
  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <table class="table table-responsive">
          <tbody>
            <tr>
              <td>
                <%= image_tag 'logo_iceholidays.png', class: "logo-img" %>
              </td>
              <td>
                Lot 346, Wisma MPL, Jalan Raja Chulan,<br>
                <span>50200 Kuala Lumpur, Malaysia</span><br>
                <span>Lot 346, Wisma MPL, Jalan Raja Chulan,</span><br>
                <span>Tel: (603) 2770 0700(Hunting) &nbsp;&nbsp; Fax: (603) 2144 6716, 2143 0888 </span><br>
                <span>Email: enquiry@ice-holidays.com &nbsp;&nbsp; Website: ice-holidays.com</span><br>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="60%" class="table_left">
          <tbody>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td><%= label_tag :customer %></td>
              <td>:&nbsp;</td>
              <td><%= @booking_group.bookings.first.present? ? @booking_group.bookings.first.initiator_user.try(:username) : '' %></td>
            </tr>
            <tr>
              <td valign="top"><%= label_tag :address %></td>
              <td valign="top">:&nbsp;</td>
              <td><%= @booking_group.bookings.first.agent_user.address %></td>
            </tr>
            <tr>
              <td><%= label_tag :attention %></td>
              <td>:&nbsp;</td>
              <td><%= params[:attention] %></td>
            </tr>
            <tr>
              <td><%= label_tag :telephone %></td>
              <td>:&nbsp;</td>
              <td><%= @booking_group.bookings.first.agent_user.phone %></td>
            </tr>
          </tbody>
        </table>
        <table width="39%" class="table_right">
          <tr>
            <td colspan="2"><%= label_tag :Proforma_invoice %></td>
          </tr>
          <tr>
            <td><%= label_tag :booking_no %></td>
            <td>: <%= @booking_group.code %>-<%= @booking_group.invoice_exported_count %></td>
          </tr>
          <tr>
            <td><%= label_tag :tour_code %></td>
            <td>: <%= @tour.code %></td>
          </tr>
          <tr>
            <td><%= label_tag :departure_date %></td>
            <td>: <%= @tour.departure_date.try(:strftime, "%d/%m/%Y") %></td>
          </tr>
          <tr>
            <td><%= label_tag :consultant %></td>
            <td>: <%= params[:consultant] %></td>
          </tr>
          <tr>
            <td><%= label_tag :date %></td>
            <td>: <%= @booking_group.created_at.try(:strftime, "%d/%m/%Y") %></td>
          </tr>
          <tr>
            <td colspan="2"><p></p></td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td><%= label_tag :passenger_detail %></td>
          </tr>
          <% @booking_group.bookings.visible.all.each_with_index do |row, index| %>
          <tr>
            <td><%= "#{index+1}. #{row.name} #{row.category.titleize}" %></td>
          </tr>
          <% end %>
          <tr>
            <td><p></p></td>
          </tr>
        </table>
        <div class="form-group">
          <table class="table table-responsive">
            <tr>
              <td colspan="2"><%= label_tag :being_charges_of %>:</td>
              <td align="right"><%= label_tag :qty %></td>
              <td></td>
            </tr>
            <tr>
              <td>TOUR</td>
              <td>
                <div class="form-group">
                  <%= @tour.caption %>
                </div>
                <div class="form-group">
                  <% total = 0 %>
                  <% @booking_group.bookings.visible.map(&:price).group_by(&:itself).transform_values!(&:size).each do | k, v | %>
                    <% price = k * v %>
                    <% total += price %>
                    <%= "RM #{k} * #{v} = RM #{price}" %><br>
                  <% end %><br>
                  TOTAL TOUR FARE
                </div>
              </td>
              <td align="right"><%= @booking_group.bookings.visible.count %></td>
              <td align="right">
                RM&nbsp;<%= total %>
              </td>
            </tr>
            <tr>
              <td>DEPOSIT</td>
              <td>
                <div class="form-group">
                  RM&nbsp;<%= @booking_group.deposit %>
                </div>
              </td>
              <td align="right">1</td>
              <td align="right">RM&nbsp;<%= @booking_group.deposit %></td>
            </tr>
          </table>
          <div class="col-md-12">
            <small>1. Balance must be paid 20 working days before departure date. All tour fare and airport taxes are subject to currency fluctuations.</small><br>
            <small>2. Passport validity must be six (6) months before departure date.</small><br>
            <small>We confirm that we have read and understood the rules and conditions for joining the above TOUR.</small><br>
            <small>(Please read the attached Terms & conditions)</small><br><br>
          </div>
          <table width="100%">
            <tr>
              <td colspan="2">
                <div class="form-group"><p><span>* PLEASE MAKE CHOICE CHEQUE PAYABLE TO <strong>ICE HOLIDAYS SDN BHD</strong>.</span></p></div>
                <div class="form-group"><span><b>1. Public Bank Berhad</b></span>&nbsp;&nbsp;&nbsp;<span><b>A/C : 3077-8982-05</b></span></div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                This is computer generated proforma invoice no signature required.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</page>