<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<%= render 'shared/single_panel', card_title: 'View Received Deposit Bookings' do %>
  <%= link_to 'View All Bookings', admin_booking_groups_path, class: 'btn btn-primary' %>

  <div class="mt20">
    
    <div class="table-responsive">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th class="deposit">Received Deposit:</th>
            <th>Business Days: 0-2</th>
            <th>Business Days: 3-7</th>
            <th>Business Days: 8-15</th>
            <th>Business Days: 16-30</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Received/Overpaid</th>
            <td>
              <%= link_to number_with_delimiter(@business_days0to2_with_receipt_nop_deposit), admin_booking_groups_path(begin: @business_days0to2_interval.begin.strftime("%FT%T"), end: @business_days0to2_interval.end.strftime("%FT%T"), receipt: 'with_non_overpaid') %>/
              <%= link_to number_with_delimiter(@business_days0to2_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days0to2_interval.begin.strftime("%FT%T"), end: @business_days0to2_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
            </td>
            <td>
              <%= link_to number_with_delimiter(@business_days3to7_with_receipt_nop_deposit), admin_booking_groups_path(begin: @business_days3to7_interval.begin.strftime("%FT%T"), end: @business_days3to7_interval.end.strftime("%FT%T"), receipt: 'with_non_overpaid') %>/
              <%= link_to number_with_delimiter(@business_days3to7_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days3to7_interval.begin.strftime("%FT%T"), end: @business_days3to7_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
            </td>
            <td>
              <%= link_to number_with_delimiter(@business_days8to15_with_receipt_nop_deposit), admin_booking_groups_path(begin: @business_days8to15_interval.begin.strftime("%FT%T"), end: @business_days8to15_interval.end.strftime("%FT%T"), receipt: 'with_non_overpaid') %>/
              <%= link_to number_with_delimiter(@business_days8to15_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days8to15_interval.begin.strftime("%FT%T"), end: @business_days8to15_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
            </td>
            <td>
              <%= link_to number_with_delimiter(@business_days16to30_with_receipt_nop_deposit), admin_booking_groups_path(begin: @business_days16to30_interval.begin.strftime("%FT%T"), end: @business_days16to30_interval.end.strftime("%FT%T"), receipt: 'with_non_overpaid') %>/
              <%= link_to number_with_delimiter(@business_days16to30_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days16to30_interval.begin.strftime("%FT%T"), end: @business_days16to30_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
            </td>
          </tr>
          <tr>
            <th>Pax</th>
            <td><%= link_to number_with_delimiter(@business_days0to2_with_receipt_pax), admin_booking_groups_path(begin: @business_days0to2_interval.begin.strftime("%FT%T"), end: @business_days0to2_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %></td>
            <td><%= link_to number_with_delimiter(@business_days3to7_with_receipt_pax), admin_booking_groups_path(begin: @business_days3to7_interval.begin.strftime("%FT%T"), end: @business_days3to7_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %></td>
            <td><%= link_to number_with_delimiter(@business_days8to15_with_receipt_pax), admin_booking_groups_path(begin: @business_days8to15_interval.begin.strftime("%FT%T"), end: @business_days8to15_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %></td>
            <td><%= link_to number_with_delimiter(@business_days16to30_with_receipt_pax), admin_booking_groups_path(begin: @business_days16to30_interval.begin.strftime("%FT%T"), end: @business_days16to30_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %></td>
          </tr>
          <tr>
            <th>Outstanding/Overpaid</th>
            <td>
              <%= link_to number_with_delimiter(@business_days0to2_with_receipt_nop_deposit - @business_days0to2_with_receipt_nop.map(&:received_payment).inject(:+).to_i), admin_booking_groups_path(begin: @business_days0to2_interval.begin.strftime("%FT%T"), end: @business_days0to2_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %>/
              <%= link_to number_with_delimiter( @business_days0to2_with_receipt_op.map(&:received_payment).inject(:+).to_i - @business_days0to2_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days0to2_interval.begin.strftime("%FT%T"), end: @business_days0to2_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
              </td>
            <td>
              <%= link_to number_with_delimiter(@business_days3to7_with_receipt_nop_deposit - @business_days3to7_with_receipt_nop.map(&:received_payment).inject(:+).to_i), admin_booking_groups_path(begin: @business_days3to7_interval.begin.strftime("%FT%T"), end: @business_days3to7_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %>/
              <%= link_to number_with_delimiter( @business_days3to7_with_receipt_op.map(&:received_payment).inject(:+).to_i - @business_days3to7_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days3to7_interval.begin.strftime("%FT%T"), end: @business_days3to7_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
              </td>
            <td>
              <%= link_to number_with_delimiter(@business_days8to15_with_receipt_nop_deposit - @business_days8to15_with_receipt_nop.map(&:received_payment).inject(:+).to_i), admin_booking_groups_path(begin: @business_days8to15_interval.begin.strftime("%FT%T"), end: @business_days8to15_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %>/
              <%= link_to number_with_delimiter( @business_days8to15_with_receipt_op.map(&:received_payment).inject(:+).to_i - @business_days8to15_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days8to15_interval.begin.strftime("%FT%T"), end: @business_days8to15_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
              </td>
            <td>
              <%= link_to number_with_delimiter(@business_days16to30_with_receipt_nop_deposit - @business_days16to30_with_receipt_nop.map(&:received_payment).inject(:+).to_i), admin_booking_groups_path(begin: @business_days16to30_interval.begin.strftime("%FT%T"), end: @business_days16to30_interval.end.strftime("%FT%T"), receipt: 'with_outstanding') %>/
              <%= link_to number_with_delimiter( @business_days16to30_with_receipt_op.map(&:received_payment).inject(:+).to_i - @business_days16to30_with_receipt_op_deposit), admin_booking_groups_path(begin: @business_days16to30_interval.begin.strftime("%FT%T"), end: @business_days16to30_interval.end.strftime("%FT%T"), receipt: 'with_overpaid') %>
              </td>
          </tr>
        </tbody>
        <thead class="grey">
          <tr >
            <th>Keep In View:</th>
            <th>Business Days: 0-2</th>
            <th>Business Days: 3-7</th>
            <th>Business Days: 8-15</th>
            <th>Business Days: 16-30</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Deposit</th>
            <td><%= link_to number_with_delimiter(@business_days0to2_without_receipt_deposit), admin_booking_groups_path(begin: @business_days0to2_interval.begin.strftime("%FT%T"), end: @business_days0to2_interval.end.strftime("%FT%T"), receipt: 'without') %></td>
            <td><%= link_to number_with_delimiter(@business_days3to7_without_receipt_deposit), admin_booking_groups_path(begin: @business_days3to7_interval.begin.strftime("%FT%T"), end: @business_days3to7_interval.end.strftime("%FT%T"), receipt: 'without') %></td>
            <td><%= link_to number_with_delimiter(@business_days8to15_without_receipt_deposit), admin_booking_groups_path(begin: @business_days8to15_interval.begin.strftime("%FT%T"), end: @business_days8to15_interval.end.strftime("%FT%T"), receipt: 'without') %></td>
            <td><%= link_to number_with_delimiter(@business_days16to30_without_receipt_deposit), admin_booking_groups_path(begin: @business_days16to30_interval.begin.strftime("%FT%T"), end: @business_days16to30_interval.end.strftime("%FT%T"), receipt: 'without') %></td>
          </tr>
          <tr>
            <th>Pax</th>
            <td><%= number_with_delimiter @business_days0to2_without_receipt_pax %></td>
            <td><%= number_with_delimiter @business_days3to7_without_receipt_pax %></td>
            <td><%= number_with_delimiter @business_days8to15_without_receipt_pax %></td>
            <td><%= number_with_delimiter @business_days16to30_without_receipt_pax %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<% end %>