<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Sales Statistic: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present? %>
  <% card_title = "View Sales Statistic: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Sales Statistic: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Sales Statistic' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to 'View All Bookings', admin_booking_groups_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag sales_statistic_admin_booking_groups_path, method: 'get' do %>
        <div class="form-group">
          Booked By : From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %>
        </div>
        <div class="form-group">
          Departure Date : From<%= date_field_tag :begin_departure_date, params[:begin_departure_date] %> To <%= date_field_tag :end_departure_date, params[:end_departure_date] %>
          <%= select_tag :group_by, options_for_select(Booking::SALES_GROUP, params[:group_by]) %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        </div>
        <%if @total_amount.present? && @total_booking.present? %>
          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-3 mt20">
                <table class="table table-bordered table-condensed">
                  <tr>
                    <th>Total Pax </td>
                    <td><%= @total_booking %></td>
                  </tr>
                  <tr>
                    <th>Total NET Amount</td>
                    <td><%= @total_amount %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <% if @merge_data.present? %>
        <thead>
          <tr>
            <th>Users</th>
            <th>Role</th>
            <th>Total Amount</th>
            <th>Cancelled Amount</th>
            <th>NET Amount</th>
            <th>Dealt %</th>
            <th>Total Booking</th>
            <th>Cancelled Booking</th>
            <th>NET Booking</th>
            <th>Dealt %</th>
          </tr>
        </thead>
        <tbody>
          <% @merge_data.each do |key, data| %>
            <tr>
              <td><%= key.present? ? @users_mapping[key][:username] : '(Unregistered Users)' %></td>
              <td><%= key.present? ? @users_mapping[key][:role] : '-' %></td>
              <td><%= number_with_delimiter @sales_data[key][:sum_price] %></td>
              <td><%= @sales_withdrawn_data[key].present? ? number_with_delimiter(@sales_withdrawn_data[key][:sum_price]) : '0' %></td>
              <td><%= number_with_delimiter data[:sum_price] %></td>
              <td><%= (data[:sum_price]*100/@sales_data[key][:sum_price].to_f).round(1) %>%</td>
              <td><%= number_with_delimiter @sales_data[key][:count] %></td>
              <td><%= @sales_withdrawn_data[key].present? ? number_with_delimiter(@sales_withdrawn_data[key][:count]) : '0' %></td>
              <td><%= number_with_delimiter data[:count] %></td>
              <td><%= (data[:count]*100/@sales_data[key][:count].to_f).round(1) %>%</td>
            </tr>
          <% end %>
        </tbody>
      <% elsif @sales_data.present? %>
        <thead>
          <tr>
            <th><%= params[:group_by] %></th>
            <th>NET Amount</th>
            <th>Amount %</th>
            <th>NET Booking</th>
            <th>Booking %</th>
          </tr>
        </thead>
        <tbody>
          <% @sales_data.each do |key, data| %>
            <tr>
              <td><%= key.present? ? key : 'Unspecified' %></td>
              <td><%= number_with_delimiter data[:sum_price] %></td>
              <td><%= (data[:sum_price]*100/@total_amount.to_f).round(3) %>%</td>
              <td><%= number_with_delimiter data[:count] %></td>
              <td><%= (data[:count]*100/@total_booking.to_f).round(3) %>%</td>
            </tr>
          <% end %>
      <% end %>
    </table>
  </div>

<% end %>