<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<%= render 'shared/single_panel', card_title: "Group:#{@booking_group.code}" do %>
  <%= render partial: 'partials/errors', locals: { target: @booking_group } %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Code</th>
          <th>Caption</th>
          <th>Caption(Ch)</th>
          <% if @tour.present? && @tour.is_cruise? %>
            <th>Max Cabins</th>
            <th>Max Seats</th>
          <% else %>
            <th>Max Seats</th>
          <% end %>
        </tr>
      </thead>
      <% if @tour.present? %>
        <tbody>
          <tr>
            <td><%= @tour.departure_date.strftime("%d/%m/%Y %a") %></td>
            <td><%= link_to @tour.code, admin_tour_path(@tour) %></td>
            <td><%= @tour.caption %></td>
            <td><%= @tour.other_caption %></td>
            <% if @tour.is_cruise? %>
              <td><%= @tour.all_total_rooms %></td>
              <td><%= @tour.all_total_seats %></td>
            <% else %>
              <td><%= @tour.all_total_seats %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :code %>
      <%= text_field_tag '', @booking_group.code, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
      <%= label_tag :deposit %>
      <%= text_field_tag '', @booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-3">
        <%= label_tag :remaining_balance %>
        <%= text_field_tag '', @booking_group.price - @booking_group.deposit, class: 'custom-form-control form-control', disabled: true %>
      </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :keep_in_view %>
      <%= text_field_tag '', @booking_group.keep_in_view ? 'Yes' : 'No', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-12">
      <%= label_tag :receipts %>
      <% receipts_total_amount = 0 %>
      <% @booking_group.receipts.each do |receipt| %>
        <% receipts_total_amount += receipt.amount %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :number %>
              <%= text_field_tag '', receipt.number, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
              <%= label_tag :amount %>
              <%= text_field_tag '', receipt.amount, class: 'custom-form-control form-control', disabled: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :receipts_total_amount %>
      <%= text_field_tag '', @booking_group.received_payment, class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <div class="row">
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_editor_by %>
      <%= text_field_tag '', @booking_group.last_edited_user.present? ? @booking_group.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="custom-form-group form-group col-sm-6">
      <%= label_tag :last_editor_at %>
      <%= text_field_tag '', @booking_group.last_edited_at.present? ? @booking_group.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= label_tag :agent_rep %>
      <%= text_field_tag '', @booking_group.bookings.first.present? ? @booking_group.bookings.first.agent_user.present? ? @booking_group.bookings.first.agent_user.username : @booking_group.bookings.first.sale_rep : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= label_tag :booked_by %>
      <%= text_field_tag '', @booking_group.bookings.first.present? ? @booking_group.bookings.first.initiator_user.try(:username) : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= label_tag :sales_person %>
      <%= text_field_tag '', @booking_group.bookings.first.present? ? @booking_group.bookings.first.sub_sale_rep : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
    <div class="field custom-form-group form-group col-sm-6">
      <%= label_tag :insurance_receiver, "Receiver's email address" %>
      <%= text_field_tag '', @booking_group.insurance_receiver.present? ? @booking_group.insurance_receiver : '', class: 'custom-form-control form-control', disabled: true %>
    </div>
  </div>
  <div class="row">
    <% @booking_group.bookings.visible.each_with_index do |booking, i| %>
      <%= label_tag '', "Guest #{i+1}, Ref: #{booking.id}", class: "col-sm-12 booking-group-label" %>
      <div class="custom-form-group form-group col-sm-12 booking-group-form">
        <div class="nested-fields">
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :price %>
            <%= text_field_tag '', booking.price, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-4">
            <%= label_tag :price_type %>
            <%= text_field_tag '', booking.price_type, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :category %>
            <%= text_field_tag '', booking.category.capitalize, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-2">
            <%= label_tag :designation %>
            <%= text_field_tag '', booking.designation, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-4">
            <%= label_tag :name %>
            <%= text_field_tag '', booking.name, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :date_of_birth %>
            <%= text_field_tag '', booking.date_of_birth.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :mobile %>
            <%= text_field_tag '', booking.mobile, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :passport_number %>
            <%= text_field_tag '', booking.passport_number, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :passport_expiry_date %>
            <%= text_field_tag '', booking.passport_expiry_date.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :passport_photocopy %>
            <% if booking.passport_photocopy.present? %>
              <%= link_to 'View passport', booking.passport_photocopy.url, target: '_blank' %>
            <% end %>
            <%= text_field_tag '', '', class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-3">
            <%= label_tag :room_type %>
            <%= text_field_tag '', booking.room_type, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-12">
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :visa_no %>
            <%= text_field_tag '', booking.visa_no, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-3">
            <%= label_tag :visa_expiry_date %>
            <%= text_field_tag '', booking.visa_expiry_date.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
          </div>
          <% if @tour.present? && @tour.is_cruise? %>
            <div class="field custom-form-group form-group col-sm-2">
              <%= label_tag :cruise_room_type %>
              <%= text_field_tag '', booking.cruise_room_type, class: 'custom-form-control form-control', disabled: true %>
            </div>
          <% end %>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :operator_remark, "Rooming Remark" %>
            <%= text_field_tag '', booking.operator_remark, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :agent_remark %>
            <%= text_field_tag '', booking.remark, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :admin_remark, "GD Remark" %>
            <%= text_field_tag '', booking.admin_remark, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <% if booking.insurance_available? && booking.insurance_confirmation == true %>
            <div class="field custom-form-group form-group col-sm-12 insurance-section">
              <% if @tour.insurance_available?  %>
                <%= render_insurance_available(@tour, booking, "show") %>
              <% end %>
              <div class="field custom-form-group form-group col-sm-6">
                <%= label_tag :nationality %>
                <%= text_field_tag '', booking.nationality.present? ? booking.nationality.capitalize : '', class: 'custom-form-control form-control', disabled: true %>
              </div>
              <div class="field custom-form-group form-group col-sm-6">
                <%= label_tag :insurance_cert %><br>
                <% if booking.insurance_cert.present?  %>
                  <%= link_to("Download Certificate", "#{booking.insurance_cert}", target: '_blank')  %>
                <% end %>
                <%= text_field_tag '', booking.policy_number.present? ? booking.policy_number : '', class: 'custom-form-control form-control', disabled: true %>
              </div>
              <% if booking.date_of_birth.present? && !booking.over_18?  %>
                <div class="field custom-form-group form-group col-sm-6">
                  <%= label_tag :guardian_id %>
                  <%= text_field_tag '', booking.guardian_id.present? ? booking.guardian_id : '', class: 'custom-form-control form-control', disabled: true %>
                </div>
                <% if !booking.guardian_id.present? || booking.guardian_id == 0  %>
                  <%= render_guardian_fields(booking, "show") %>
                <% end %>
              <% else %>
                <%= render_nominee_show(booking) %>
              <% end %>
            </div>
          <% end %>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :last_editor_by %>
            <%= text_field_tag '', booking.last_edited_user.present? ? booking.last_edited_user.username : '', class: 'custom-form-control form-control', disabled: true %>
          </div>
          <div class="custom-form-group form-group col-sm-6">
            <%= label_tag :last_editor_at %>
            <%= text_field_tag '', booking.last_edited_at.present? ? booking.last_edited_at.strftime("%d/%m/%Y %H:%M") : '', class: 'custom-form-control form-control', disabled: true %>
          </div>
        </div>
      </div>
      <% booking.infant_bookings.each_with_index do |infant, j| %>
        <%= label_tag '', "Guest #{i+1} - Infant #{j+1}", class: "col-sm-12" %>
        <div class="custom-form-group form-group col-sm-12">
          <div class="nested-fields">
            <div class="field custom-form-group form-group col-sm-3">
              <%= label_tag :name %>
              <%= text_field_tag '', infant.name, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-3">
              <%= label_tag :date_of_birth %>
              <%= text_field_tag '', infant.date_of_birth.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-3">
              <%= label_tag :passport_number %>
              <%= text_field_tag '', infant.passport_number, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-3">
              <%= label_tag :passport_expiry_date %>
              <%= text_field_tag '', infant.passport_expiry_date.try(:strftime, "%d/%m/%Y"), class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-3">
              <%= label_tag :passport_photocopy %>
              <% if infant.passport_photocopy.present? %>
                <%= link_to 'View passport', infant.passport_photocopy.url, target: '_blank' %>
              <% end %>
              <%= text_field_tag '', '', class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-3">
              <%= label_tag :gender %>
              <%= text_field_tag '', infant.gender, class: 'custom-form-control form-control', disabled: true %>
            </div>
            <div class="field custom-form-group form-group col-sm-6">
            <%= label_tag :remark %>
            <%= text_field_tag '', infant.remark, class: 'custom-form-control form-control', disabled: true %>
          </div>
          <% if infant.booking.insurance_available? && infant.insurance_confirmation == true %>
            <div class="field custom-form-group form-group col-sm-12 insurance-section">
              <% if @tour.insurance_available?  %>
                <%= render_insurance_available(@tour, infant, "show") %>
              <% end %>
              <div class="field custom-form-group form-group col-sm-3">
                <%= label_tag :nationality %>
                <%= text_field_tag '', infant.nationality.present? ? infant.nationality.capitalize : '', class: 'custom-form-control form-control', disabled: true %>
              </div>
              <div class="field custom-form-group form-group col-sm-6">
                <%= label_tag :insurance_cert %><br>
                <% if infant.insurance_cert.present?  %>
                  <%= link_to("Download Certificate", "#{infant.insurance_cert}", target: '_blank')  %>
                <% end %>
                <%= text_field_tag '', infant.policy_number.present? ? infant.policy_number : '', class: 'custom-form-control form-control', disabled: true %>
              </div>
              <div class="field custom-form-group form-group col-sm-6">
                <%= label_tag :parent_id, "Parent ID" %><br>
                <%= text_field_tag '', infant.parent_id.present? ? infant.parent_id : '', class: 'custom-form-control form-control', disabled: true %>
              </div>
              <% if !infant.parent_id.present? || infant.parent_id == 0  %>
                <%= render_guardian_fields(infant, "show") %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  
  <div class="custom-form-group form-group col-sm-12">
    <%= link_to 'Edit', edit_admin_booking_group_path(@booking_group), class: 'btn btn-primary' %>
    <% if policy([:admin, @booking_group]).create_export? %>
      <%= link_to 'Export', new_export_admin_booking_group_path(@booking_group), class: 'btn btn-success' %>
    <% else %>
      <%= link_to 'Export', new_export_admin_booking_group_path(@booking_group), class: 'btn btn-success disabled', title: @booking_group.exported_info %>
    <% end %>
    <% if @tour.insurance_available? && @booking_group.able_to_endorse? %>
      <%= link_to 'Confirm Insurance Endorse', '#', class: 'btn btn-warning', :'data-toggle' => "modal", :'data-target' => "#booking-endorse-modal" %>
    <% end %>
    <% if @tour.insurance_available? && @tour.guaranteed_departure_flag && @booking_group.confirm_export? %>
      <%= link_to 'Confirm Insurance Export', '#', class: 'btn btn-info', :'data-toggle' => "modal", :'data-target' => "#booking-export-modal" %>
    <% end %>
    <% if @booking_group.bookings.present? && !@booking_group.bookings.map(&:withdrawn?).all? %>
      <%= link_to 'Withdraw/Transfer', new_alter_admin_booking_group_path(@booking_group), class: 'btn btn-danger' %>
    <% end %>
    <%= link_to 'Proforma Invoice', '', class: 'btn btn-primary', data: { toggle: 'modal', target: '#admin-print-proforma-modal', keyboard: "true" } %>
    <% if policy([:admin, @booking_group]).assign_agent? && @booking_group.assign_agent? %>
    <%= link_to 'Assign Agent', '', class: 'btn btn-warning', data: { toggle: 'modal', target: '#admin-assign-agent-modal', keyboard: "true" } %>
    <% end %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  </div>
   

  <!-- Chubb Modal -->
  <div class="modal fade" id="booking-endorse-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="icon icon-close"></span></button>
          <h4 class="modal-title">
            Chubb Travel Insurance Confirmation
          </h4>
        </div>
        <div class="modal-body">
          <% if @booking_group.able_to_endorse?  %>
            <%= form_for [:admin, @booking_group], url: create_insurance_endorse_admin_booking_group_path(@booking_group), method: :post, html: { role: "form" } do |f| %>
              <%= render_export_count(@booking_group.endorse_booking_count, @booking_group.endorse_infant_count, @booking_group) %>
              <%= submit_tag "Yes", class: "btn btn-default", id: "booking-export-yes" %>
              <%= link_to 'No', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
            <% end  %>
          <% else %>
            This booking cannot be exported since deposit haven't been paid.
            <br>
            <br>
            <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="booking-export-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="icon icon-close"></span></button>
          <h4 class="modal-title">
            Chubb Travel Insurance Confirmation
          </h4>
        </div>
        <div class="modal-body">
          <% if @booking_group.able_to_export?  %>
            <%= form_for [:admin, @booking_group], url: create_insurance_export_admin_booking_group_path(@booking_group), method: :post, html: { role: "form" } do |f| %>
              The following informations are <strong>required</strong> for Insurance Confirmation :
              <ol>
                <li>Designation</li>
                <li>Name</li>
                <li>D.O.B</li>
                <li>Mobile</li>
                <li>Passport Number</li>
                <li>Passport Expiry Date</li>
                <li>Upload Passport Copy</li>
              </ol>
              <br>
              The policy covers you twenty-four (24) hours prior to Your scheduled departure time in Malaysia provided You are in <strong class="insurance-disclaimer">direct transit</strong> between Your Home and the Overseas departure point in Malaysia or vice versa.<br><br>
              <%= render_export_count(@booking_group.export_count, @booking_group.infant_count, @booking_group) %>
              <%= submit_tag "Yes", class: "btn btn-default", id: "booking-export-yes" %>
              <%= link_to 'No', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
            <% end  %>
          <% else %>
            This booking cannot be exported since deposit haven't been paid.
            <br>
            <br>
            <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="modal fade" id="admin-print-proforma-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          Fill in the blank to export Proforma Invoice
        </h4>
      </div>
      <div class="modal-body">
        <%= form_tag proforma_invoice_admin_booking_group_path(@booking_group), method: 'post', target: '_blank'  do %>
          <% if @booking_group.invoice_exported_count >= 1 %>
              <%= label_tag :attention %>
              <%= text_field_tag :attention, @booking_group.attention, class: 'custom-form-control form-control', readonly: true %>
              <%= label_tag :consultant %>
              <%= text_field_tag :consultant, @booking_group.consultant, class: 'custom-form-control form-control', readonly: true %>
          <% else %>
            <%= label_tag :attention %>
              <%= text_field_tag :attention, '', class: 'custom-form-control form-control' %>
              <%= label_tag :consultant %>
              <%= text_field_tag :consultant, '', class: 'custom-form-control form-control' %>
          <% end %>
          <br>
          <%= submit_tag "Print", class: "btn btn-default" %>
          <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="admin-assign-agent-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          Assign Agent
        </h4>
      </div>
      <div class="modal-body">
              <%= form_tag assign_agent_admin_booking_group_path(@booking_group), method: 'post' do %>
                <%= text_field_tag :agent_username, '', class: 'custom-form-control form-control', id: 'agent_rep_user' %>
          <br>
          <%= submit_tag "Assign", class: "btn btn-default" %>
          <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>