<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-list fa-fw"></i>Bookings
<% end %>

<% if params[:begin].present? && params[:end].present? %>
  <% card_title = "View Tour Booking Summary: #{params[:begin]} to #{params[:end]}" %>
<% elsif params[:begin].present? %>
  <% card_title = "View Tour Booking Summary: From #{params[:begin]}" %>
<% elsif params[:end].present? %>
  <% card_title = "View Tour Booking Summary: Until #{params[:end]}" %>
<% else %>
  <% card_title = 'View Tour Booking Summary' %>
<% end %>

<%= render 'shared/single_panel', card_title: card_title do %>
  <%= link_to 'View All Bookings', admin_booking_groups_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= link_to('Today', tour_booking_summary_admin_booking_groups_path(begin: @today.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Yesterday', tour_booking_summary_admin_booking_groups_path(begin: (@today - 1.day).strftime("%F"), end: (@today - 1.day).strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Week', tour_booking_summary_admin_booking_groups_path(begin: @today.beginning_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week', tour_booking_summary_admin_booking_groups_path(begin: @today.last_week.beginning_of_week.strftime("%F"), end: @today.last_week.end_of_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Week To Now', tour_booking_summary_admin_booking_groups_path(begin: @today.last_week.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Month', tour_booking_summary_admin_booking_groups_path(begin: @today.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month', tour_booking_summary_admin_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F"), end: @today.last_month.end_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Month To Now', tour_booking_summary_admin_booking_groups_path(begin: @today.last_month.beginning_of_month.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Current Year', tour_booking_summary_admin_booking_groups_path(begin: @today.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year', tour_booking_summary_admin_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F"), end: @today.last_year.end_of_year.strftime("%F")), class: 'btn btn-default') %>
      <%= link_to('Last Year To Now', tour_booking_summary_admin_booking_groups_path(begin: @today.last_year.beginning_of_year.strftime("%F")), class: 'btn btn-default') %>

    </div>
    <div class="col-xs-12 mt20 mb20">
      <%= form_tag tour_booking_summary_admin_booking_groups_path, method: 'get' do %>
        From <%= date_field_tag :begin, params[:begin] %> To <%= date_field_tag :end, params[:end] %><br>
        <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
        <%= text_field_tag :booked_by, params[:booked_by], placeholder: 'Booked By' %>
        <%= submit_tag 'Search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <% if @booking_datas.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3 mt20">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>Total Pax </td>
              <td><%= number_with_delimiter @booking_datas[:count] %></td>
            </tr>
            <tr>
              <th>Total Amount</td>
              <td><%= number_with_delimiter @booking_datas[:sum_price] %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="code">Code</th>
          <th class="cation">Caption</th>
          <th>Destination</th>
          <th>Departure</th>
          <th>Seats(R)</th>
          <th>Booked(R)</th>
          <th>Vacant(R)</th>
          <th>Amount</th>
          <th>Tranx</th>
          <th>Payment</th>
        </tr>
      </thead>
      <tbody>
        <% @tours.each_with_index do |tour, index| %>
        <% in_between_bookings = tour.bookings.search_agent(@booked_by).visible.in_between_booked(@interval) %>
        <% in_between_bookings_amount = in_between_bookings.map(&:price).inject(:+) %>
        <% in_between_bookings_payment = in_between_bookings.map(&:booking_group).uniq.map(&:received_payment).inject(:+) %>
          <tr>
            <td class="code"><div class="trim code"><%= link_to tour.code, admin_tour_path(tour) %></div></td>
            <td class="caption"><div class="trim caption"><%= tour.caption %></div></td>
            <td><%= tour.contient_country %></td>
            <td><%= tour.departure_date.try(:strftime, "%d/%m/%Y") %></td>
            <% if tour.is_cruise? %>
              <td><%= tour.all_total_seats %></td>
              <td><%= tour.bookings.visible.count %>/(<%= tour.booking_cruise_rooms.visible.count %>)</td>
              <td><%= tour.all_total_seats - tour.bookings.visible.count %>/(<%= tour.all_total_rooms - tour.booking_cruise_rooms.visible.count %>)</td>
            <% else %>
              <td><%= tour.all_total_seats %></td>
              <td><%= tour.bookings.visible.count %></td>
              <td><%= tour.all_total_seats - tour.bookings.visible.count %></td>
            <% end %>
            <td><%= number_with_delimiter in_between_bookings_amount %></td>
            <td><%= number_with_delimiter in_between_bookings.count %></td>
            <td><%= number_with_delimiter in_between_bookings_payment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @tours %>

<% end %>