<!DOCTYPE html>
<html>
  <head>
    <title><%= @app_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if @new_domain %>
      <%= favicon_link_tag asset_path('travelb2b-logo.ico') %>
    <% end %>
  </head>
  <body>
    <%= yield %>
    <%= render 'partials/analytics' %>
  </body>
</html>