<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if @new_domain %>
      <%= favicon_link_tag asset_path('travelb2b-logo.ico') %>
    <% end %> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user.present? && current_user.able_access_admin_dashboard? && controller.class.name.split("::").first=="Admin" %>
      <%= javascript_include_tag 'admin' %>
    <% end %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"></link>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"></link>

  </head>

  <body>
    <div>
      <% if params[:print].blank? && params[:action] != 'invoice' %>
        <% if current_user.present? && current_user.able_access_admin_dashboard? && controller.class.name.split("::").first=="Admin" %>
          <%= render partial: 'partials/navbar_admin' %>
        <% else %>
          <% if !@new_domain || @new_domain && current_user.present? %>
            <%= render partial: 'partials/navbar_user' %>
          <% end %> 
        <% end %>
      <% end %>
      <div>
        <%= yield %>
      </div>
    </div>
    <%= render 'partials/analytics' %>
  </body>
</html>