.error_payment_method{
  float: left;
  margin-bottom: 20px;
	position: relative;
	width: 100%
}
.payment_select{
	float: left;
}

#ShowFlight{
	background-color: #f8f8f8;
}
#ShowFlight .banner {
	background-image: url("../../../../../images/showpage/4.png");
	padding: 20px;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	height: 300px;
	background-position: center;
}
#ShowFlight .warppage{
  width: 1500px;
  margin: auto;
	margin-top: 50px;
	padding: 0px 10px;
}

#ShowFlight  .logo_top{
	width: 100%;
	position: absolute;
	top: 80px;
}

#ShowFlight  .logo_warp{
	width: 1500px;
	margin: auto;
}
#ShowFlight .logo_warp img{
	width: 50px;
	height: 50px;
	float: left;
}
#ShowFlight .logo_warp span{
	font-size: 2.5em;
  margin-left: 5px;
  float: left;
	text-shadow: 1px 2px 1px #00000073;
	color: #fff;
}

/************************************************ LeftPanel *************************************************/
#ShowFlight .LeftPanel {
	width: 70%;
	float: left;
	padding-right: 30px;
}

#ShowFlight .RightPanel {
	width: 30%;
  float: left;
	padding-left: 30px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#ShowFlight .LeftPanel .input_warp{
	width: 100%;
	float: left;
}

#ShowFlight .LeftPanel .flight_details h1 {
	margin-bottom: 10px;
}

#ShowFlight .LeftPanel .flight_details h2 {
	margin-bottom: 10px;
}

#ShowFlight .LeftPanel .ant-card-head {
	padding: 0;
	border-bottom: 0;
}

#ShowFlight .LeftPanel .ant-card {
	padding: 10px 20px;
	border: .5px solid #d4d4d4;
	margin-bottom: 50px;
}
#ShowFlight .LeftPanel .ant-form-item{
	margin-bottom: 0;
}

#ShowFlight .LeftPanel .title_content img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#ShowFlight .LeftPanel .title_content span {
	margin-left: 10px;
	margin-right: 10px;
}

#ShowFlight .LeftPanel .ant-card-body {
	padding: 0px;
}

#ShowFlight .LeftPanel .airline_content .img_warp {
	/* border: 1px solid #ccc; */
	width: 20%;
	float: left;

}

#ShowFlight .LeftPanel .airline_content .content {
	width: 80%;
	float: left;
	padding-left: 20px;
}

#ShowFlight .LeftPanel .airline_content .content .class_type {
	color: #9a9a9a;
}

#ShowFlight .LeftPanel .airline_content .content .content_title {
	margin-bottom: 10px;
}
#ShowFlight .LeftPanel .flight_time{
	padding-left: 5px;
	color: #9a9a9a;
}
#ShowFlight .LeftPanel .airline_content .content .content_title .number {
	color: #9a9a9a;
	margin-left: 10px;
}

#ShowFlight .LeftPanel .airline_content .content .content_title .title_air {
	font-size: 1.2em;
}

#ShowFlight .LeftPanel .airline_content .content .content_title .kg {
	float: right;
}
#ShowFlight .LeftPanel .airline_content .content .content_title .kg span {
	padding-right: 10px;
}
#ShowFlight .LeftPanel .airline_content .img_warp img {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
}

#ShowFlight .LeftPanel .airline_content .time_warp p {
	margin-bottom: 0;
}

#ShowFlight .LeftPanel .airline_content .time_warp .time_sty {
	font-weight: bold;
	font-size: 1.2em;
}

#ShowFlight .LeftPanel .airline_content .time_warp .from {
	width: 40%;
	float: left;
}

#ShowFlight .LeftPanel .airline_content .time_warp .from .time {
	width: 70%;
	float: left;
}

#ShowFlight .LeftPanel .airline_content .time_warp .from .icon {
	width: 30%;
	float: left;
}

#ShowFlight .LeftPanel .airline_content .time_warp .to {
	width: 30%;
	float: left;
}

#ShowFlight .LeftPanel .airline_content .time_warp .stop_time {
	width: 30%;
	float: left;
}

#ShowFlight .LeftPanel .air_time {
	margin-top: 20px;
}

#ShowFlight .LeftPanel .air_time .type {
	font-weight: bold;
	margin-bottom: 20px;
}

#ShowFlight .LeftPanel .air_time .depart {
	margin-bottom: 15px;
}

#ShowFlight .LeftPanel .air_time .depart img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#ShowFlight .LeftPanel .air_time .depart .space {
	margin-right: 100px;
}

#ShowFlight .LeftPanel .ant-divider-horizontal.ant-divider-with-text-center {
	margin: 30px 0px 16px 0;
}

#ShowFlight .LeftPanel .ant-divider-inner-text {
	color: #ccc;
}

#ShowFlight .LeftPanel .passenger.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: coral;
	border-top-width: 5px;
}

#ShowFlight .LeftPanel .passenger .ant-card-head {
	border-bottom: 1px solid #e8e8e8;
}

#ShowFlight .LeftPanel .passenger .passenger_content p {
	margin-bottom: 0;
	color: #1890ff;
}

#ShowFlight .LeftPanel .passenger .form_passenger .form_control label {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

#ShowFlight .LeftPanel .passenger .form_passenger .form_control .ant-select {
	width: 100%;
	float: left;
}

#ShowFlight .LeftPanel .passenger .form_passenger .form_control .ant-input {
	width: 100%;
	float: left;
}

#ShowFlight .LeftPanel .passenger .form_passenger .form_control {
	width: 50%;
	float: left;
	margin: 10px 0px 13px 0px;
	position: relative;
}

#ShowFlight .LeftPanel .passenger .form_passenger .pandding_left {
	padding-left: 15px;
}

#ShowFlight .LeftPanel .passenger .form_passenger .pandding_right {
	padding-right: 15px;
}

#ShowFlight .LeftPanel .passenger .form_passenger .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

#ShowFlight .LeftPanel .passenger.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}

#ShowFlight .LeftPanel .contact_infor .notice {
	width: 100%;
	float: left;
}

#ShowFlight .LeftPanel .contact_infor .notice p {
	margin-bottom: 0px;
}

#ShowFlight .LeftPanel .contact_infor .phone_notice {
	color: #faad14;
}

#ShowFlight .LeftPanel .form_sty_select {
	padding-bottom: 200px;
}

#ShowFlight .LeftPanel .payment input[type="radio"] {
	display: none;
}

#ShowFlight .LeftPanel .payment input[type="radio"]:not(:disabled)~label {
	cursor: pointer;
}

#ShowFlight .LeftPanel .payment input[type="radio"]:disabled~label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

#ShowFlight .LeftPanel .payment label {
	height: 100%;
	display: block;
	background: white;
	/* border: 2px solid #faad14; */
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
	position: relative;
}

#ShowFlight .LeftPanel .payment input[type="radio"]:checked+label {
	/* background: #20df80; */
	color: white;
	box-shadow: 0px 0px 5px #faad14;
	border: 2px solid #faad14;
}

#ShowFlight .LeftPanel .payment input[type='radio'][disabled]+label img {
	opacity: .5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#ShowFlight .LeftPanel .payment input[type="radio"]:checked+label::after {
	color: #fff;
	font-family: FontAwesome;
	border: 2px solid #faad14;
	background-color: #faad14;
	content: "\2714";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

#ShowFlight .LeftPanel .payment input[type="radio"]#control_05:checked+label {
	background: red;
	border-color: red;
}

#ShowFlight .LeftPanel .payment .payment_type {
	width: 33.33%;
	float: left;
	padding: 20px;
}

#ShowFlight .LeftPanel .payment .payment_type img {
	width: 100%;
}

#ShowFlight .LeftPanel .payment .after_select label {
	box-shadow: none;
	text-align: left;
	padding: 0;
	margin-bottom: 5px;
	background-color: transparent
}

#ShowFlight .LeftPanel .payment .after_select .ant-checkbox-wrapper {
	margin-top: 20px;
	float: left;
	width: 100%;
}

#ShowFlight .LeftPanel .after_select .ant-btn {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
	float: right;
	margin-top: 30px;
	padding: 0 50px
}

#ShowFlight .LeftPanel .payment .after_select .ant-btn:hover {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowFlight .LeftPanel .payment .after_select .ant-btn:focus {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#ShowFlight .LeftPanel .payment .after_select .form_control {
	width: 100%;
	float: left;
}

#ShowFlight .LeftPanel .luggage_protection{
	width: 100%;
	float: left;
	margin-top: 10px;
}

#ShowFlight .LeftPanel .luggage_protection .ant-card{
	border: 0;
	padding:0;
}

#ShowFlight .LeftPanel .luggage_protection .ant-card-head{
	border-bottom: 0;
}
#ShowFlight .LeftPanel .luggage_protection .icon_style span{
	font-size: 2em;
	width: 100%;
	text-align: right;
}
#ShowFlight .LeftPanel .luggage_protection .icon_style img{
	width: 60px;
	height: 35px;
	float: right;
}
#ShowFlight .LeftPanel .luggage_protection .icon_style p{
	margin-bottom: 5px;
}
#ShowFlight .LeftPanel .luggage_protection .content p{
	margin-bottom: 5px;
}
#ShowFlight .LeftPanel .luggage_protection .content .check{
	color: #faad14;
	padding-right: 5px;
}
#ShowFlight .LeftPanel .luggage_protection .content .content_tick{
	color: #9a9a9a;
}
#ShowFlight .LeftPanel .luggage_protection .content .check_box {
	margin-top: 10px;
}
#ShowFlight .LeftPanel .luggage_protection .content .check_box .input_warp{
	width: 50%;
	float: left;
	padding: 10px 0px;
}
#ShowFlight .LeftPanel .luggage_protection .content .check_box input{
	margin-right: 10px;
}

#ShowFlight .LeftPanel .luggage_protection .content .terms{
	color: #faad14;
}



#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"] {
	/* display: none; */
	position: absolute;
	z-index: 1;
	margin-left: 20px;
  margin-top: 19px;
}

#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"]:not(:disabled)~label {
	cursor: pointer;
}

#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"]:disabled~label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

#ShowFlight .LeftPanel .luggage_protection .check_box label {
	height: 100%;
	display: block;
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 1rem;
	text-align: center;
	position: relative;
}

#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"]:checked+label {
	/* background: #20df80; */
	color: #3a88fd;
	border: 1px solid #3a88fd;
}




#ShowFlight .LeftPanel .luggage_protection .check_box input[type='radio'][disabled]+label img {
	opacity: .5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
/* 
#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"]:checked+label::after {
	color: #fff;
	font-family: FontAwesome;
	border: 2px solid #faad14;
	background-color: #faad14;
	content: "\2714";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
} */

#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"]#control_05:checked+label {
	background: red;
	border-color: red;
}
#ShowFlight .LeftPanel .luggage_protection .check_box .box_type{
	width: 50%;
	float: left;
	padding: 10px;
}

#ShowFlight .LeftPanel .credit_style{
	margin-bottom: 0;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
	color: #119dcf;
	font-weight: bold;
}
#ShowFlight .res_panel{
	display: none;
}

/************************************************ RightPanel *************************************************/
#ShowFlight .RightPanel h2{
	margin-bottom: 0;
}
#ShowFlight .RightPanel .ant-list-split .ant-list-item{
	border-bottom: 0;
}
#ShowFlight .RightPanel .ant-list-item{
	padding: 0
}
#ShowFlight .RightPanel .ant-card {
	border-left-style: solid;
	border-left-color: #b71c1c; 
	border-left-width: 5px;
}

#ShowFlight .RightPanel .date_select{
  font-size: 1.3em;
  border-bottom: 1px solid #ccc;
  color: #9a9a9a;
  padding-bottom: 10px;
}
#ShowFlight .RightPanel .date_select span{
 padding: 0px 30px;
}
#ShowFlight .RightPanel .select_list {
	border-bottom: 1px solid #ccc;
}
#ShowFlight .RightPanel .select_list .list_warp{
	margin-bottom: 10px;
	font-size: 14px;
	width: 100%;
}
#ShowFlight .RightPanel .select_list .list_warp span:nth-child(1n){
	color: #9a9a9a;
}
#ShowFlight .RightPanel .select_list .list_warp span:nth-child(2n){
	color: #000;
	float: right;
}
#ShowFlight .RightPanel .select_list .list_warp p{
	margin-bottom: 0;
}
#ShowFlight .RightPanel .select_list .list_warp p:nth-child(2n){
	color: #000;
	float: right;
}
#ShowFlight .RightPanel .select_list .list_warp p span:nth-child(2n){
	color: #a5a5a5;
}

#ShowFlight .RightPanel .select_list p.brb{
	color: #a5a5a5;
}

#ShowFlight .RightPanel .select_list p.brb span:nth-child(2n){
	float: right;
}

#ShowFlight .RightPanel .total{
	margin-top: 10px;
}
#ShowFlight .RightPanel .total span:nth-child(2n){
	float: right;
	color: #52c41a
}
#ShowFlight .RightPanel .ant-btn{
	color: #000;
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
	margin-top: 20px;
	height: 40px;
}

/************************************************ Responsive Media Query ****************************************/
@media only screen and (max-width: 1499px) {
	#ShowFlight .warppage{
    width: 1200px;
  }
  #ShowFlight .RightPanel .date_select span {
    padding: 0px 8px;
	}	
	#ShowFlight  .logo_warp{
		width: 1200px;
	}

}
@media only screen and (max-width: 1199px) {
	#ShowFlight .warppage{
    width: 1000px;
	}
	#ShowFlight  .logo_warp{
		width: 1000px;
	}
  #ShowFlight .RightPanel .date_select  {
    font-size: 1em;
	}	
	#ShowFlight .LeftPanel {
    padding-right: 15px;
	}
	#ShowFlight .RightPanel {
    padding-left: 15px;
	}
	#ShowFlight .LeftPanel .airline_content .img_warp img {
    height: 115px;
}
#ShowFlight .LeftPanel .credit_style{
	bottom: 15px;
	font-size: .8em;
}
}
@media only screen and (max-width: 1050px) {
	#ShowFlight .warppage{
    width: 900px;
	}
	#ShowFlight  .logo_warp{
		width: 900px;
	}
  #ShowFlight .RightPanel .ant-card-head-title{
		padding: 10px 0;
	}
	#ShowFlight .RightPanel .ant-card-body {
    padding: 10px;
	}
	#ShowFlight .RightPanel .select_list .list_warp {
    font-size: 11px;
	}
	#ShowFlight .RightPanel .ant-btn {
    height: 35px;
    font-size: 12px;
	}
	#ShowFlight .RightPanel .ant-card-head{
		padding: 0 10px;
	}
	#ShowFlight .RightPanel .date_select  {
    font-size: .9em;
	}	
	#ShowFlight .RightPanel .total {
    font-size: 14px;
	}
	#ShowFlight .LeftPanel .air_time .depart .space {
    margin-right: 50px;
	}
	#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"]{
		margin-left: 5px;
	}
	#ShowFlight .LeftPanel .credit_style{
		bottom: 10px;
	}
}
@media only screen and (max-width: 900px) {
	#ShowFlight .warppage{
    width: 800px;
	}
	#ShowFlight  .logo_warp{
		width: 800px;
	}
	#ShowFlight .LeftPanel .airline_content .img_warp img {
		height: 100px;
	}

	#ShowFlight .LeftPanel .credit_style{
		font-size: .7em;
	}
	#ShowFlight .LeftPanel .luggage_protection .check_box label{
		font-size: .8em;
	}
}



@media only screen and (max-width: 770px) {
	#ShowFlight .warppage{
    width: 700px;
	}
	#ShowFlight  .logo_warp{
		width: 700px;
	}
	#ShowFlight .RightPanel .date_select {
    font-size: .7em;
}

	#ShowFlight .RightPanel .select_list .list_warp {
		font-size: 10px;
	}
	#ShowFlight .RightPanel .total {
		font-size: 12px;
	}
	#ShowFlight .RightPanel .dates p{
		margin-bottom: 5px;
	}
	#ShowFlight .LeftPanel .ant-card {
		padding: 10px;
	}
	#ShowFlight .LeftPanel .airline_content .content {
		padding-left: 10px;
	}
	#ShowFlight .LeftPanel .airline_content .content .content_title {
		margin-bottom: 5px;
	}
	#ShowFlight .LeftPanel .airline_content .content .class_type {
		margin-bottom: 5px;
	}
	#ShowFlight .LeftPanel .airline_content .time_warp .from {
		width: 50%;
	}
	#ShowFlight .LeftPanel .airline_content .time_warp .to {
		width: 25%;
	}
	#ShowFlight .LeftPanel .airline_content .time_warp .stop_time {
		width: 25%;
	}
	#ShowFlight .LeftPanel .airline_content .time_warp .time_sty {
		font-size: .9em;
	}
	#ShowFlight .LeftPanel .airline_content .img_warp img {
		height: 90px;
	}
	#ShowFlight .LeftPanel .air_time .type {
		margin-bottom: 10px;
		font-size: .9em;
	}
	#ShowFlight .LeftPanel .air_time .depart {
		margin-bottom: 10px;
		font-size: 12px;
	}
	#ShowFlight .LeftPanel .ant-divider-horizontal.ant-divider-with-text-center {
		margin: 20px 0px 16px 0;
	}
	#ShowFlight .LeftPanel .air_time .depart .space {
		margin-right: 35px;
	}

	#ShowFlight .LeftPanel .passenger.contact_infor .form_passenger .form_control {
		width: 100%;
	}
	#ShowFlight .LeftPanel .passenger.contact_infor .form_passenger .form_control.pandding_right {
		padding-right: 0;
	}
	#ShowFlight .LeftPanel .passenger.contact_infor .form_passenger .form_control.pandding_left{
		padding-left: 0;
	}
	#ShowFlight .LeftPanel .airline_content .content .content_title .title_air {
		font-size: 1em;
	}
	#ShowFlight .LeftPanel .flight_details h1 {
		font-size: 1.5em;
	}
	#ShowFlight .LeftPanel .flight_details .header_title .subtitle  {
		font-size: .9em;
	}
	#ShowFlight .RightPanel h2 {
		font-size: 1.3em;
	}
	#ShowFlight .LeftPanel .flight_details h2 {
		font-size: 1.3em;
	}
	#ShowFlight .LeftPanel .payment .payment_type{
		padding: 10px;
	}

	#ShowFlight .LeftPanel .payment label{
		border-radius: 10px;
    padding: .5rem;
	}

	#ShowFlight .LeftPanel .payment input[type="radio"]:checked+label::after{
		height: 25px;
    width: 25px;
		line-height: 25px;
		font-size: 15px;
    top: -15px;
	}

}

@media only screen and (max-width: 720px) {
	#ShowFlight .warppage{
		width: 90%;
		padding: 0px;
		margin: auto;
		margin-top: 30px;
	}
	#ShowFlight  .logo_warp{
		width: 90%;
	}
	#ShowFlight .LeftPanel {
		width: 100%;
		padding-right: 0px;
		
	}
	#ShowFlight .RightPanel {
		display: none;
	}
	#ShowFlight .res_panel{
		display: block;
	}
	#ShowFlight .res_panel_btn{
		position: fixed;
    top: 350px;
		right: 0;
		border-radius: 0px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #b71c1c;
    border-color: #b71c1c;
	}

	/* #ShowFlight .res_panel_btn{
		position: fixed;
    top: 350px;
		right: -30px;
		border-radius: 0px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: #b71c1c;
    border-color: #b71c1c;
	}
	#ShowFlight .res_panel_btn.vertical_text{
		transform: rotate(90deg);
	}
	#ShowFlight .res_panel_btn.vertical_text span{
		transform: rotate(-180deg);
	} */

	#ShowFlight .LeftPanel .luggage_protection .check_box .box_type {
		width: 100%;
	}
	#ShowFlight .LeftPanel .luggage_protection .check_box label{
		margin-bottom: 0px;
	}
	#ShowFlight .LeftPanel .luggage_protection .check_box input[type="radio"] {
		margin-left: 15px;
	}
	#ShowFlight .LeftPanel .passenger .form_passenger .form_control {
    width: 100%;
	}
	#ShowFlight .LeftPanel .passenger .form_passenger .pandding_right{
		padding-right: 0;
	}
	#ShowFlight .LeftPanel .passenger .form_passenger .pandding_left{
		padding-left: 0;
	}


}
@media only screen and (max-width: 500px) {

	#ShowFlight .LeftPanel .payment .payment_type {
		padding: 5px;
	}
	#ShowFlight .LeftPanel .credit_style{
		font-size: .6em;
		bottom: 5px;
	}

}
@media only screen and (max-width: 400px) {
	#ShowFlight .LeftPanel .credit_style{
		font-size: .5em;
	}
}