<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-cogs fa-fw"></i>Covers
<% end %>

<%= render 'shared/single_panel', card_title: 'Setting Covers' do %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>Cover</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Action</th>
      </tr>
      <% @covers.each do |cover| %>
        <tr>
          <td>
            <% if cover.image.url.present? %>
              <%= link_to cover.image.url, target: '_blank' do %>
                <% image_tag cover.image.url, class: 'cover-thumbnail' %>
              <% end %>
            <% else %>
              The image is missing.
            <% end %>

          </td>
          <td>
            <%= cover.category.present? ? cover.category.humanize : '' %>
          </td>
          <td>
            <%= cover.priority %>
          </td>
          <td>
            <%= link_to 'Delete', admin_cover_path(id: cover.id), method: 'delete' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
    
  <%= form_for [:admin, Cover.new], url: admin_cover_path, method: 'post', html: { role: "form" } do |f| %>
    <div class="row">
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :image %>
        <%= f.file_field :image, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :image_url %>
        <%= f.text_field :remote_image_url, class: 'custom-form-control form-control' %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(Cover.categories.map { |key, value| [key.humanize, key] }), {}, {class: 'custom-form-control form-control'} %>
      </div>
      <div class="custom-form-group form-group col-sm-6">
        <%= f.label :priority %>
        <%= f.number_field :priority, class: 'custom-form-control form-control' %>
      </div>
    </div>
    <%= f.submit "Upload", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn' %>
  <% end %>
<% end %>