<% content_for :head do %>
  <title><%= @app_name %></title>
<% end %>

<% content_for :title do %>
  <i class="fa fa-tachometer fa-fw"></i>Dashboard
<% end %>

<%= render 'shared/single_panel', card_title: "Hi, #{current_user.username}" do %>
  Online: <%= link_to "#{pluralize(@current_active_users, 'user')}", online_list_admin_users_path %>
  <br>
  <%= link_to('New Tour', new_admin_tour_path, class: 'btn btn-primary')%>
  <div class="row">
    <div class="col-xs-12 mt20">
      <%= form_tag admin_tours_path, method: 'get' do %>
        <%= text_field_tag :keywords, params[:keywords] %>
        <%= submit_tag 'Search', class: 'btn btn-success btn-xs' %>
        <%= link_to(@today.prev_month(2).strftime("%b %Y"), admin_tours_path(begin: @today.prev_month(2).beginning_of_month.strftime("%F"), end: @today.prev_month(2).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.prev_month.strftime("%b %Y"), admin_tours_path(begin: @today.prev_month.beginning_of_month.strftime("%F"), end: @today.prev_month.end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.strftime("%b %Y"), admin_tours_path(begin: @today.beginning_of_month.strftime("%F"), end: @today.end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month.strftime("%b %Y"), admin_tours_path(begin: @today.next_month.beginning_of_month.strftime("%F"), end: @today.next_month.end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month(2).strftime("%b %Y"), admin_tours_path(begin: @today.next_month(2).beginning_of_month.strftime("%F"), end: @today.next_month(2).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to(@today.next_month(3).strftime("%b %Y"), admin_tours_path(begin: @today.next_month(3).beginning_of_month.strftime("%F"), end: @today.next_month(3).end_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to("After "+@today.next_month(3).strftime("%b %Y"), admin_tours_path(begin: @today.next_month(4).beginning_of_month.strftime("%F")), class: 'btn btn-default')%>
        <%= link_to("All", admin_tours_path, class: 'btn btn-default')%>
      <% end %>
    </div>
  </div>

<% end %>