#ShowMenu{
  background-color: #fff;
}
#ShowMenu .ant-menu{
  width: 1500px;
  margin: auto;
}
#ShowMenu .drop_warp{
  float: right;
}
#ShowMenu .back_icon{
  padding-right: 5px;
  padding-top: 10px;
}
#ShowMenu .drop_warp:hover{
  color: #faad14!important;
  border-bottom: 0!important;
}
#ShowMenu .drop_warp:active{
  color: #faad14!important;
  border-bottom: 0!important;
}
#ShowMenu .drop_warp:focus{
  color: #faad14!important;
  border-bottom: 0!important;
}
#ShowMenu .drop_warp .drop_btn {
  color: #faad14;
}
#ShowMenu .drop_btn i{
	margin-left: 20px;
}
#ShowMenu .ant-select{
  float: right;
  padding-top: 6px;
} 
#ShowMenu .ant-menu-horizontal{
  border-bottom: 0;
}
#ShowMenu .ant-select-selection{
  border: 0px;
  background-color: transparent;
}
#ShowMenu .ant-select-selection__placeholder{
  color: #faad14;
}
#ShowMenu .ant-select-selection-selected-value{
  color: #faad14;
}
#ShowMenu .ant-select-selection .anticon{
  color: #faad14;
}
#ShowMenu .ant-menu-horizontal > .ant-menu-item-selected{
  color: #b71c1c;;
  border-bottom: 4px solid #b71c1c;;
}
#ShowMenu .ant-menu-horizontal > .ant-menu-item:hover{
  color: #b71c1c;;
  border-bottom: 2px solid #b71c1c;;
}
#ShowMenu .ant-menu-horizontal > .ant-menu-item:active{
  color: #b71c1c;;
  border-bottom: 2px solid #b71c1c;;
}

#ShowMenu .ant-menu-horizontal > .ant-menu-item-selected a{
  color: #b71c1c;;
}

#ShowMenu a:hover{
  color: #b71c1c;;
}
.active{
  color: #b71c1c;
}
/************************************************ Responsive Media Query ****************************************/
@media only screen and (max-width: 1499px) {
  #ShowMenu .ant-menu{
    width: 1200px;
  }
  #ShowMenu .ant-select {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1199px) {
  #ShowMenu .ant-menu{
    width: 1000px;
  }
}
@media only screen and (max-width: 1050px) {
  #ShowMenu .ant-menu{
    width: 900px;
  }
}
@media only screen and (max-width: 900px) {
  #ShowMenu .ant-menu{
    width: 800px;
  }
}
@media only screen and (max-width: 770px) {
  #ShowMenu .ant-menu{
    width: 700px;
  }
}
@media only screen and (max-width: 720px) {
  #ShowMenu .ant-menu{
    width: 90%;
  }
}