#DedicatedPayment{
  background-color: #f8f8f8;
  /*height: 100vh;*/
  min-height: 1000px;
  flex: 1;
}
#DedicatedPayment .payment_dedicated_warp{
	margin-top: 50px;
}

#DedicatedPayment .bannerImage {
  object-fit: cover;
  height: 300px;
  width: 100%;
  position: relative;
}
#DedicatedPayment .warppage{
  width: 1500px;
  margin: auto;
	margin-top: 50px; 
	padding: 0px 10px;
}

#DedicatedPayment  .logo_top{
	width: 100%;
	position: absolute;
	top: 80px;
}

#DedicatedPayment  .logo_warp{
	width: 1500px;
	margin: auto;
}
#DedicatedPayment .logo_warp img{
	width: 50px;
	height: 50px;
	float: left;
}
#DedicatedPayment .logo_warp span{
	font-size: 2.5em;
  margin-left: 5px;
  float: left;
	text-shadow: 1px 2px 1px #00000073;
	color: #fff;
}
#DedicatedPayment .res_panel{
	display: none;
}

/****************************** LeftPanel *******************************/
#DedicatedPayment .LeftPanel .credit_style{
	margin-bottom: 0;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
	color: #119dcf;
	font-weight: bold;
}
#DedicatedPayment .LeftPanel {
	width: 70%;
	float: left;
	padding-right: 30px;
}
#DedicatedPayment .LeftPanel .hotel_details .header_title h1 {
	margin-bottom: 0px;
}
#DedicatedPayment .LeftPanel .hotel_details .header_title h2 {
	margin-bottom: 10px;
	margin-top: 50px;
}
#DedicatedPayment .LeftPanel .hotel_details .header_title .location {
	margin-top: 5px;
}
#DedicatedPayment .LeftPanel .hotel_details .header_title .location span{
	margin-right: 10px;
}

#DedicatedPayment .LeftPanel .amenities .title{
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}
#DedicatedPayment .LeftPanel .amenities .icon_warp div{
	width: 150px;
	float: left;
	text-align: center;
}
#DedicatedPayment .LeftPanel .amenities .icon_warp div span{
	font-size: 1.5em;
	margin-bottom: 10px;
}
#DedicatedPayment .LeftPanel .things{
	margin-bottom: 30px;
}
#DedicatedPayment .LeftPanel .things .ant-avatar{
	width: 150px;
	height: 150px;
	line-height: 50px;
	border: 1px solid #ccc;
	border-radius: 0;
}
#DedicatedPayment .LeftPanel .things .wifi_select .point{
	margin-top: 10px;
}
#DedicatedPayment .LeftPanel .things .wifi_select .point p{
	margin-bottom: 5px;
}
#DedicatedPayment .LeftPanel .slider{
	margin-bottom: 30px;
}
#DedicatedPayment .LeftPanel .slider .card_warp{
	padding: 10px;
}
#DedicatedPayment .LeftPanel .slider .card_warp .ant-card{
	margin-bottom: 20px;
}
#DedicatedPayment .LeftPanel .slider .card_warp .details{
	border-bottom: 1px solid #ccc;
}
#DedicatedPayment .LeftPanel .slider .card_warp .details .margin_sty {
	margin-bottom: 5px;
}
#DedicatedPayment .LeftPanel .slider .card_warp .details p span{
	margin-right: 10px;
}
#DedicatedPayment .LeftPanel .slider .card_warp .price{
	color: green;
}
#DedicatedPayment .LeftPanel .slider .card_warp .include{
	margin-top: 10px;
}
#DedicatedPayment .LeftPanel .slider .card_warp .include .margin_sty {
	margin-bottom: 5px;
}
#DedicatedPayment .LeftPanel .slider .card_warp .include p .icon_style{
	margin-right: 10px;
}
#DedicatedPayment .LeftPanel .slider .card_warp .include .right{
	float: right;
}

#DedicatedPayment .LeftPanel .slider .card_warp .read{
	text-align: right;
	color: #faad14;
}
#DedicatedPayment .LeftPanel .slider .card_warp .btn_room{
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
}

#DedicatedPayment .LeftPanel .things .ant-list-item-meta-title{
	line-height: 45px;
}
#DedicatedPayment .LeftPanel .things .title{
  font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}
#DedicatedPayment .LeftPanel .things .ant-collapse{
	border:0;
	background-color: #f1f1f1;
	margin-top: 25px;
}
#DedicatedPayment .LeftPanel .things .operation{
  margin: 30px 0px;
}
#DedicatedPayment .LeftPanel .things .ant-collapse-header{
	color: #faad14;
}
#DedicatedPayment .LeftPanel .things .ant-collapse > .ant-collapse-item {
	border-bottom: 0;
}
#DedicatedPayment .LeftPanel .things .ant-collapse-content{
	border-top: 0;
	background-color: #f9f9f9;
}
#DedicatedPayment .LeftPanel .things .fees{
	margin-bottom: 0;
	font-weight: bold;
}
#DedicatedPayment .LeftPanel .things .wifi_select .point .notice{
	color: #faad14;
}

#DedicatedPayment .LeftPanel .guest {
	margin-bottom: 30px;
}
#DedicatedPayment .LeftPanel .guest .ant-card-body {
	padding: 10px 24px 24px 24px;
}
#DedicatedPayment .LeftPanel .guest.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: coral;
	border-top-width: 5px;
}

#DedicatedPayment .LeftPanel .guest .ant-card-head {
	border-bottom: 1px solid #e8e8e8;
}

#DedicatedPayment .LeftPanel .guest .guest_content p {
	margin-bottom: 0;
}

#DedicatedPayment .LeftPanel .guest .form_guest .form_control label {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

#DedicatedPayment .LeftPanel .guest .form_guest .form_control .ant-select {
	width: 100%;
	float: left;
}

#DedicatedPayment .LeftPanel .guest .form_guest .form_control .ant-input {
	width: 100%;
	float: left;
}

#DedicatedPayment .LeftPanel .guest .form_guest .form_control {
	width: 100%;
	float: left;
	margin: 10px 0px;
}
#DedicatedPayment .LeftPanel .guest .form_guest .form_control .package_1{
	width: 20%;
	float: left;
}
#DedicatedPayment .LeftPanel .guest .form_guest .form_control .package_1 p{
  margin-bottom: 0;
}
/* #DedicatedPayment .LeftPanel .guest .form_guest .form_control .package_1 .type{
  font-size: 1.2em;
} */
#DedicatedPayment .LeftPanel .guest .form_guest .form_control .package_1 small{
  margin-bottom: 0;
  color: #ccc;
  }
#DedicatedPayment .LeftPanel .guest .form_guest .form_control .package_2{
  width: 80%;
	float: left;
}
#DedicatedPayment .LeftPanel .guest .form_guest .form_control .package_2 .ant-input-number{
  width: 80%;
}
#DedicatedPayment .LeftPanel .guest .form_guest .form_control .package_2 span{
  float: right;
  color: #52c41a;
  font-size: 1.2em;
  font-weight: bold;
}

#DedicatedPayment .LeftPanel .guest .form_guest.pandding_left {
	padding-left: 15px;
}

#DedicatedPayment .LeftPanel .guest .form_guest .pandding_right {
	padding-right: 15px;
}

#DedicatedPayment .LeftPanel .guest .form_guest .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

#DedicatedPayment .LeftPanel .guest.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}

#DedicatedPayment .LeftPanel .input_warp{
	width: 100%;
	float: left;
}


#DedicatedPayment .LeftPanel .passenger .passenger_content p {
	margin-bottom: 0;
}

#DedicatedPayment .LeftPanel .passenger .form_passenger .form_control label {
	width: 100%;
	float: left;
}

#DedicatedPayment .LeftPanel .passenger .form_passenger .form_control .ant-select {
	width: 100%;
	float: left;
}

#DedicatedPayment .LeftPanel .passenger .form_passenger .form_control .ant-input {
	width: 100%;
	float: left;
}

#DedicatedPayment .LeftPanel .passenger .form_passenger .form_control {
	width: 50%;
	float: left;
	margin: 10px 0px;
	position: relative;
}

#DedicatedPayment .LeftPanel .passenger .form_passenger .pandding_left {
	padding-left: 15px;
}

#DedicatedPayment .LeftPanel .passenger .form_passenger .pandding_right {
	padding-right: 15px;
}

#DedicatedPayment .LeftPanel .passenger .form_passenger .form_control .ant-calendar-picker {
	width: 100%;
	float: left;
}

.return_date_datepicker .ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date {
  padding: 0;
}
.return_date_datepicker .ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date::before {
  border: 0 !important;
}

#DedicatedPayment .LeftPanel .passenger.contact_infor.ant-card.ant-card-bordered {
	border-top-style: solid;
	border-top-color: #40a9ff;
	border-top-width: 5px;
}

#DedicatedPayment .LeftPanel .contact_infor .notice {
	width: 100%;
	float: left;
	margin-top: 5px;
}

#DedicatedPayment .LeftPanel .contact_infor .notice p {
	margin-bottom: 0px;
}
#DedicatedPayment .LeftPanel .contact_infor .mobile_form {
	margin-bottom: 5px
}
#DedicatedPayment .LeftPanel .contact_infor .phone_notice p{
	color: #faad14;
	font-size: 10px;
	margin-bottom: 0
}
#DedicatedPayment .LeftPanel .ant-form-item{
	margin-bottom: 0;
}


#DedicatedPayment .LeftPanel .form_sty_select {
	padding-bottom: 200px;
}

#DedicatedPayment .LeftPanel .payment input[type="radio"] {
	display: none;
}

#DedicatedPayment .LeftPanel .payment input[type="radio"]:not(:disabled)~label {
	cursor: pointer;
}

#DedicatedPayment .LeftPanel .payment input[type="radio"]:disabled~label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

#DedicatedPayment .LeftPanel .payment label {
	height: 100%;
	display: block;
	background: white;
	/* border: 2px solid #faad14; */
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
	position: relative;
}

#DedicatedPayment .LeftPanel .payment input[type="radio"]:checked+label {
	/* background: #20df80; */
	color: white;
	box-shadow: 0px 0px 5px #faad14;
	border: 2px solid #faad14;
}

#DedicatedPayment .LeftPanel .payment input[type='radio'][disabled]+label img {
	opacity: .5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#DedicatedPayment .LeftPanel .payment input[type="radio"]:checked+label::after {
	color: #fff;
	font-family: FontAwesome;
	border: 2px solid #faad14;
	background-color: #faad14;
	content: "\2714";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

#DedicatedPayment .LeftPanel .payment input[type="radio"]#control_05:checked+label {
	background: red;
	border-color: red;
}

#DedicatedPayment .LeftPanel .payment .payment_type {
	width: 33.33%;
	float: left;
	padding: 20px;
}

#DedicatedPayment .LeftPanel .payment .payment_type img {
	width: 100%;
}

#DedicatedPayment .LeftPanel .payment .after_select label {
	box-shadow: none;
	text-align: left;
	padding: 0;
	margin-bottom: 5px;
	background-color: transparent
}

#DedicatedPayment .LeftPanel .payment .after_select .ant-checkbox-wrapper {
	margin-top: 20px;
	float: left;
	width: 100%;
}

#DedicatedPayment .LeftPanel .after_select .ant-btn {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
	float: right;
	margin-top: 30px;
	padding: 0 50px
}

#DedicatedPayment .LeftPanel .payment .after_select .ant-btn:hover {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#DedicatedPayment .LeftPanel .payment .after_select .ant-btn:focus {
	background-color: #faad14;
	border-color: #faad14;
	color: #000;
}

#DedicatedPayment .LeftPanel .payment .after_select .form_control {
	width: 100%;
	float: left;
}

#DedicatedPayment .LeftPanel .Quantity .ant-input-number{
	width: 100%
}

#DedicatedPayment .LeftPanel .Quantity_sty .ant-input-number{
	width: 100%;
}

/****************************** RightPanel *******************************/
#DedicatedPayment .RightPanel {
	width: 30%;
  float: left;
	padding-left: 30px;
	position: -webkit-sticky;
  position: sticky;
  top: 10em;
}
#DedicatedPayment .RightPanel h2{
	margin-bottom: 0;
	width: 40%;
	float: left;
}
#DedicatedPayment .RightPanel .title .small_title{
	color:#ccc;
}
#DedicatedPayment .RightPanel .title span{
	float: right;
	padding-top: 10px;
}
#DedicatedPayment .RightPanel .ant-card {
	border-left-style: solid;
	border-left-color: #b71c1c;
	border-left-width: 5px;	
}
#DedicatedPayment .RightPanel .ant-card-head {
  padding: 1em;
}
#DedicatedPayment .RightPanel .ant-card-body {
  padding: 1em;
}
#DedicatedPayment .RightPanel .date_title{
  margin-bottom: .5em;
}
#DedicatedPayment .RightPanel .date_select{
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  color: #a5a5a5;
  padding-bottom: 10px;
}
#DedicatedPayment .RightPanel .date_select span{
 padding: 0px 30px;
}
#DedicatedPayment .RightPanel .type_rent {
	border-bottom: 1px solid #ccc;
}
#DedicatedPayment .RightPanel .note_label{
  font-size: .9em;
}
#DedicatedPayment .RightPanel .type_rent .rent .rent_select{
  font-size: 1em;
	color: #a5a5a5;
	margin-bottom: 10px;
}
#DedicatedPayment .RightPanel .type_rent .rent .rent_select span{
  padding-right: 20px;
}
#DedicatedPayment .RightPanel .tatol_summary{
  color: #52c41a
}
#DedicatedPayment .RightPanel .type_rent{
	margin-bottom: 10px;
}
#DedicatedPayment .RightPanel .type_rent .rent {
	width: 100%;
	float: left;
}

#DedicatedPayment .RightPanel .select_list {
	border-bottom: 1px solid #ccc;
}
#DedicatedPayment .RightPanel .select_list .list_warp{
	margin-bottom: 10px;
	font-size: 14px;
}
#DedicatedPayment .RightPanel .select_list .list_warp span:nth-child(1n){
	color: #606060;
}
#DedicatedPayment .RightPanel .select_list .list_warp span:nth-child(2n){
	color: #000;
	float: right;
}
#DedicatedPayment .RightPanel .total{
	margin-top: 10px;
}
#DedicatedPayment .RightPanel .total span:nth-child(2n){
	float: right;
}
#DedicatedPayment .RightPanel .total .total_summary {
  color: #52c41a !important;
}
#DedicatedPayment .RightPanel .ant-btn{
	color: #000;
	background-color: #faad14;
	border-color: #faad14;
	width: 100%;
	margin-top: 20px;
	height: 40px;
}
#DedicatedPayment .RightPanel .select_list .fare_info {
  padding: 0;
  padding-left: 1.5em;
}
#DedicatedPayment .RightPanel .select_list .subtraction_collapse .ant-collapse-item {
  border: 0;
}
#DedicatedPayment .RightPanel .select_list .subtraction_collapse .ant-collapse-header {
  padding: 0;
  color: #a5a5a5;
}
#DedicatedPayment .RightPanel .select_list .subtraction_collapse .ant-collapse-header .ant-collapse-arrow {
  left: 0;
}
#DedicatedPayment .RightPanel .select_list .subtraction_collapse .ant-collapse-content-box {
  padding: .8em;
  background-color: #f1f1f1;
}

/************************************************ Responsive Media Query ****************************************/

@media only screen and (max-width: 1499px) {
  #DedicatedPayment .warppage{
    width: 1200px;
  }
  #DedicatedPayment .RightPanel .date_select span {
    padding: 0px 8px;
	} 
	#DedicatedPayment  .logo_warp{
		width: 1200px;
	}
}

@media only screen and (max-width: 1199px) {
  #DedicatedPayment .warppage{
    width: 1000px;
  }
  #DedicatedPayment .RightPanel .date_select  {
    font-size: 1em;
  } 
  #DedicatedPayment .LeftPanel {
    padding-right: 15px;
  }
  #DedicatedPayment .RightPanel {
    padding-left: 15px;
	}
	#DedicatedPayment  .logo_warp{
		width: 1000px;
	}
	#DedicatedPayment .LeftPanel .credit_style{
		bottom: 15px;
		font-size: .8em;
	}
}


@media only screen and (max-width: 1050px) {
  #DedicatedPayment .warppage{
    width: 900px;
	}
	#DedicatedPayment  .logo_warp{
		width: 900px;
	}

}


@media only screen and (max-width: 900px) {
  #DedicatedPayment .warppage{
    width: 800px;
	}
	#DedicatedPayment  .logo_warp{
		width: 800px;
	}
	#DedicatedPayment .RightPanel .type_rent .rent .rent_select{
		font-size: 1em;
	}
	#DedicatedPayment .RightPanel .ant-card-body{
		padding: 10px;
	}
	#DedicatedPayment .RightPanel .ant-card-head{
		padding: 0 10px;
	}
	#DedicatedPayment .RightPanel .date_title{
		margin-bottom: 5px;
	}
	#DedicatedPayment .RightPanel .rent_title{
		margin-bottom: 5px;
	}
	#DedicatedPayment .RightPanel .select_list .list_warp {
    margin-bottom: 5px;
    font-size: 12px;
	}
	#DedicatedPayment .LeftPanel .credit_style{
		bottom: 10px;
		font-size: .6em;
	}
	

}

@media only screen and (max-width: 770px) {
  #DedicatedPayment .warppage{
    width: 700px;
	}
	#DedicatedPayment  .logo_warp{
		width: 700px;
	}
	#DedicatedPayment .LeftPanel .ant-card-body{
		padding: 15px;
	}

	#DedicatedPayment .LeftPanel .passenger .form_passenger .form_control{
		width: 100%;
	}
	#DedicatedPayment .LeftPanel .passenger .form_passenger .pandding_right{
		padding-right: 0px;
	}
	#DedicatedPayment .LeftPanel .passenger .form_passenger .pandding_left {
    padding-left: 0px;
	}
	#DedicatedPayment .LeftPanel .payment .payment_type {
		padding: 10px;
	}
	#DedicatedPayment .LeftPanel .payment label{
		border-radius: 10px;
		padding: .5rem;
	}
	#DedicatedPayment .RightPanel .select_list .list_warp {
    font-size: 11px;
	}

}


@media only screen and (max-width: 720px) {
  #DedicatedPayment .warppage{
		width: 90%;
		padding: 0px;
	}
	#DedicatedPayment  .logo_warp{
		width: 90%;
	}
  
  #DedicatedPayment .LeftPanel {
    width: 100%;
    padding-right: 0px;
	}
	#DedicatedPayment .RightPanel {
		display: none;
	}
	#DedicatedPayment .res_panel{
		display: block;
	}
	#DedicatedPayment .res_panel_btn{
		position: fixed;
    top: 350px;
		right: 0;
		border-radius: 0px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #b71c1c;
    border-color: #b71c1c;
	}
	#DedicatedPayment .LeftPanel .payment input[type="radio"]:checked+label::after{
		height: 25px;
    width: 25px;
		line-height: 25px;
		font-size: 15px;
    top: -15px;
	}

}
@media only screen and (max-width: 450px){
	#DedicatedPayment .LeftPanel .credit_style{
		bottom: 5px;
		font-size: .5em;
	}
}


@media only screen and (max-width: 400px){
	#DedicatedPayment .LeftPanel .payment .payment_type {
    padding: 5px;
}
}
